<div class="span9 offset2">
  <div class="row-fluid" id="products">
    <div class="products-container">
    {% for product in platform_context.latest_products %}
        <article class="product" style='display: inline-block'>
          <div class="photo-container">
            <div class="photo">
              <a href="{{ product.product_path }}">
                  <img alt="{{ product.name }}" src="{{ product.photo_url }}" title="{{ product.name }}">
              </a>
            </div>
          </div>

          <div class="heading">
            <a href="{{ product.product_path }}">
              {{ product.name }}
              <span>{{ product.price }}</span>
            </a>
          </div>
        </article>
      {% endfor %}
    </div>
  </div>
</div>
