<div class="modal-header">
  <h2 class="modal-title">{{ 'user_messages.send_a_message_to' | translate: recipient_name: user_message.recipient_name }}</h2>
</div>

<form class="simple_form user-message-form" data-message-form data-modal="true" action="{{ user_message.create_path }}" accept-charset="UTF-8" method="post" novalidate>
  <input name="authenticity_token" data-authenticity-token="1" type="hidden">
  <div class="modal-body">

    {% if error != blank %}
      <div class="error">{{ error }}</div>
    {% endif %}

    <div class="form-group text required">
      <label class="text required control-label control-label" for="user_message_body">
        <abbr title="required">*</abbr>
        {{ 'simple_form.labels.user_message.body' | translate }}
      </label>
      <textarea class="text required form-control" placeholder="{{ 'simple_form.placeholders.user_message.body' | translate }}" name="user_message[body]" id="user_message_body" required></textarea>
    </div>

    <div class="form-group file optional">
      <label class="file optional control-label" for="user-message-attachment">Attachment</label>
      <input data-file="true" class="file optional" type="file" name="user_message[attachments_attributes][0][file]" id="user-message-attachment">
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" name="commit" class="button-a">{{ 'user_messages.send_message' | translate }}</button>
  </div>
</form>

<script type="text/javascript">
  $(document).trigger('modal-shown.nearme', $('[data-message-form]'));
</script>
