- only_inputs = [] if only_inputs.nil?
= f.input :name, :as => :limited_string, :limit => 50  if (only_inputs.empty? || only_inputs.include?(:name))

- if only_inputs.empty? || only_inputs.include?(:approval_requests)
  = render :partial => 'approval_requests/form', :locals => { f: f }

- if only_inputs.empty? || only_inputs.include?(:address)
  = f.simple_fields_for :company_address, (f.object.company_address.presence || f.object.build_company_address) do |address_form|
    = render :partial => 'space_wizard/address', :locals => { :f => address_form, label: 'Company Address' }
= f.input :url if (only_inputs.empty? || only_inputs.include?(:url))
= f.input :email if (only_inputs.empty? || only_inputs.include?(:email))
= f.input :description, :as => :limited_text, :limit => 250, :input_html => { :maxlength => 250} if (only_inputs.empty? || only_inputs.include?(:description))
- if (only_inputs.empty? || only_inputs.include?(:payments_mailing_address))
  = f.simple_fields_for :payments_mailing_address, (f.object.payments_mailing_address.presence || f.object.build_payments_mailing_address) do |address_form|
    = render :partial => 'addresses/form', :locals => { :f => address_form, label: t('payouts.mailing_address') }

- if (only_inputs.empty? || only_inputs.include?(:paypal))
  %h2.with-margin Payouts via Paypal
  = f.input :paypal_email, :label => tooltip(t("simple_form.hints.company.paypal_email"), t('simple_form.labels.company.paypal_email')), hint: false

- if (only_inputs.empty? || only_inputs.include?(:ach))
  - if platform_context.supported_payout_via_ach?
    %h2.with-margin Payouts via ACH (US only)
    - if f.object.errors[:bank_account_form].present?
      .bank_account_fields
        .flash.error
          %ul
            - f.object.errors[:bank_account_form].each do |e|
              %li= e
            %li Unfortunately we could not process the credentials you have entered.

    = f.input :bank_owner_name
    = f.input :bank_routing_number
    = f.input :bank_account_number
