.wrap-a.reduce-top
  .contain

    %h1.h2
      = t :my_projects

    / white box
    .box-a

      - if @transactables.empty?
        .empty-projects
          %p.cta
            = t :empty_cta
          %p
            = link_to t(:add_project), new_dashboard_project_type_project_path(@transactable_type), class: 'button-a'

      - else
        .project-actions
          = link_to t(:add_project), new_dashboard_project_type_project_path(@transactable_type), class: 'button-a small'

        %table.projects-listing
          %thead
            %tr
              %th.col-picture
                = t :picture
              %th.col-name
                = t :name
              %th.col-summary
                = t :summary
              %th.col-role
                = t :role
              %th.col-status
                = t :status
              %td.col-actions
          %tbody

            - @transactables.each do |transactable|
              %tr
                %td.col-picture
                  = link_to transactable.decorate.show_path do
                    = image_tag transactable.custom_images.for_attribute('cover_photo').first&.image&.url(:thumb)
                %td.col-name
                  = link_to transactable.name, transactable.decorate.show_path
                %td.col-summary
                  = transactable.properties.summary
                %td.col-role
                  = t(transactable.creator_id == current_user.id ? :owner : :collaborator)
                %td.col-status
                  - if transactable.draft.present?
                    %span.status-draft
                      = t('draft')
                  - else
                    %span.status-published
                      = t('published')

                %td.col-actions
                  = link_to t(:edit), edit_dashboard_project_type_project_path(@transactable_type, transactable), class: 'action-edit'
                  - if transactable.creator_id == current_user.id
                    = link_to t(:remove), dashboard_project_type_project_path(@transactable_type, transactable), method: :delete, class: 'action-remove', data: { confirm: 'Are you sure?' }
