- content_for :hero do
  %header#listing_search.container-fluid.products_table{class: result_view == 'map' ? 'with-map' : ''}
    .header-inner
      %form.search_results{:action => search_path(v: result_view), :method => "get"}
        = hidden_field_tag :v, result_view
        = hidden_field_tag :ignore_search_event, 0
        = hidden_field_tag :page, 1
        = hidden_field_tag :transactable_type_id, @transactable_type.id
        = hidden_field_tag :category_ids, (@searcher.category_ids.presence || []).join(',')
        = hidden_field_tag 'price[min]', @searcher.current_min_price
        = hidden_field_tag 'price[max]', @searcher.current_max_price
        .row-fluid
          .span10
            .search-container
              %input#search{:name => "query", :placeholder => @searcher.transactable_type.fulltext_placeholder, :type => "text", :value => @searcher.query, :class => "query", :autocomplete => "off"}
          .span2
            .search-icon.btn.btn-green
              %span.ico-search

