%tr
  %td.image= image_for_table product
  %td
    = link_to product_path(product) do
      = product.name
  %td= product.try(:manufacturer)
  %td= product.try(:part_or_model_number)
  %td= truncate_with_ellipsis sanitize(product.description), 50
  %td= product.try(:total_on_hand)
  %td= "Call"
  %td= product.company.name
  %td
    = link_to product_path(product), class: 'btn btn-green' do
      = "View"
