{% cache_for product, product.company, product.total_on_hand, table %}
  <tr>
    <td class="image">
      <a href="{{ product.url }}">
      {% if product.thumbnail_url.length > 0 %}
        <img src="{{ product.thumbnail_url }}" title="{{ product.name }}" alt="{{ product.name }}">
      {% endif %}
      </a>
    </td>
    <td>
      {{ product.name }}
    </td>
    <td>
      {{ product.sanitized_product_description | truncate: 80, '...'  }}
    </td>
    <td class="number">
      {{ product.total_on_hand }}
    </td>
    <td class="number">
      {{ product.display_price }}
    </td>
    <td>
      {{ product.company.name }}
    </td>
  </tr>
{% endcache_for %}