/ TODO extract common parts with checkout views to appropriate partials
.row-fluid
  .span8
    %h3 Billing Address
    = f.simple_fields_for :bill_address do |b|
      = b.input :firstname
      = b.input :lastname
      = b.input :address1
      = b.input :address2
      = b.input :city
      = b.input :zipcode, required: true
      = b.association :country, collection: Spree::Country.all
      = b.association :state, collection: Spree::State.all
      = b.input :phone, required: true

  .span8
    %h3 Shipping address
    = f.input :use_billing, as: :boolean, inline_label: 'Use billing address for shipping', label: false

    #shipping-address{style: @order.use_billing.to_i == 1 ? 'display: none': ''}
      = f.simple_fields_for :ship_address do |s|
        = s.input :firstname
        = s.input :lastname
        = s.input :address1
        = s.input :address2
        = s.input :city
        = s.input :zipcode, required: true
        = s.association :country, collection: Spree::Country.all
        = s.association :state, collection: Spree::State.all # TODO: Dynamic
        = s.input :phone, required: true

-# TODO Refactor to asset pipeline

:javascript
  $('#order_use_billing').on('click', function() {
    if ($('#order_use_billing').prop('checked'))
    {
      $('#shipping-address').hide();
    } else {
      $('#shipping-address').show();
    }
  });
