.dash-head.clearfix
  %p #{t('buy_sell_market.checkout.labels.order_details')} - #{@order.number}

.dash-body
  .action-row
    - if !@order.approved? && !@order.canceled?
      = link_to approve_dashboard_company_orders_received_path(@order),
          data: { confirm: 'Are you sure you want to approve this order?' } do
        .btn.blue Approve Order

    - if @order.allow_cancel? && @order.payment_state != 'paid'
      = link_to cancel_dashboard_company_orders_received_path(@order),
          data: { confirm: 'Are you sure you want to cancel this order?' } do
        .btn.red Cancel Order

    - if @order.canceled?
      = link_to resume_dashboard_company_orders_received_path(@order),
          data: { confirm: 'Are you sure you want to resume this order?' } do
        .btn.blue Resume Order

  .divider

  %table.order-header
    %thead
      %th= t 'buy_sell_market.checkout.labels.billing_address'
      %th= t 'buy_sell_market.checkout.labels.shipping_address'
      %th= t 'buy_sell_market.checkout.labels.email_address'
      %th= t 'buy_sell_market.checkout.labels.shipping_method'
      %th= t 'buy_sell_market.checkout.labels.payment'

    %tbody
      %tr
        %td= @order.bill_address.full_name
        %td= @order.ship_address.full_name
        %td= @order.try(:user).try(:email)
        %td{rowspan: 6}
          - @order.shipments.each do |shipment|
            - if shipment.selected_shipping_rate.present?
              From
              %strong= shipment.stock_location.name
              via
              %br
              %strong=shipment.selected_shipping_rate.name
              %br

        %td
          - if @charge_info && @charge_info.response['card']
            #{t('buy_sell_market.checkout.labels.ending_in')} #{@charge_info.response['card']['last4']}
            #{@charge_info.response['card']['name']}

          - @order.near_me_payments.each do |payment|
            - if payment.paid? && !payment.refunded?
              .btn.gray.disabled Payment captured
            - elsif payment.paid? && payment.refunded?
              .btn.red.disabled Payment refunded
            - elsif payment.failed?
              %p Payment failed
            = link_to t("buy_sell_market.checkout.labels.payment_details"), dashboard_company_orders_received_payment_path(@order.number, payment), class: "btn blue"
          - if @order.near_me_payments.blank?
            = link_to dashboard_company_orders_received_payments_path(@order.number), method: :post,
                data: { confirm: 'Are you sure you want to capture payment for this order?' } do
              .btn.blue Capture

      - if @order.bill_address.company.present? || @order.ship_address.company.present?
        %tr
          %td= @order.bill_address.company
          %td= @order.ship_address.company
          %td
          %td
          %td

      %tr
        %td= @order.bill_address.address1
        %td= @order.ship_address.address1
        %td
        %td
        %td

      %tr
        %td= @order.bill_address.address2
        %td= @order.ship_address.address2
        %td
        %td
        %td

      %tr
        %td= @order.bill_address.city
        %td= @order.ship_address.city
        %td
        %td
        %td

      %tr
        %td= @order.bill_address.country.name
        %td= @order.ship_address.country.name
        %td
        %td
        %td

      %tr
        %td= @order.bill_address.state.abbr
        %td= @order.ship_address.state.abbr
        %td
        %td
        %td

      %tr
        %td= @order.bill_address.zipcode
        %td= @order.ship_address.zipcode
        %td
        %td
        %td

  .divider

  %h2 Shipping
  - @order.shipments.each do |shipment|
    %table.payment-summary
      %thead
      %tbody
        %tr
          %td NUMBER
          %td= shipment.number
        %tr
          %td STATE
          %td= shipment.state
        %tr
          %td STOCK LOCATION
          %td= shipment.stock_location.name
        %tr
          %td LABEL URL
          %td= shipment.shippo_label_url
        %tr
          %td TRACKING NUMBER
          %td= shipment.shippo_tracking_number
        %tr
          %td
            - if shipment.ready?
              = link_to ship_dashboard_company_orders_received_shipment_path(@order.number, shipment),
                  data: { confirm: 'Are you sure you want to ship this package?' } do
                .btn.blue Mark as Shipped

  .divider

  %h2= t 'buy_sell_market.checkout.labels.order_summary'
  %table.payment-summary
    %thead
      %th= t 'buy_sell_market.checkout.labels.item'
      %th= t 'buy_sell_market.checkout.labels.price'
      %th= t 'buy_sell_market.checkout.labels.qty'
      %th= t 'buy_sell_market.checkout.labels.total'

    %tbody
      - @order.line_items.each do |item|
        %tr
          %td= item.name_with_link
          %td= item.price
          %td= item.quantity
          %td= item.display_amount

  .divider

  %table.payment-totals{align: 'right'}
    %tr
      %td= t 'buy_sell_market.checkout.labels.subtotal'
      %td= humanized_money_with_cents_and_symbol @order.monetize(@order.item_total)
    %tr
      %td= t 'buy_sell_market.checkout.labels.shipping'
      %td= humanized_money_with_cents_and_symbol @order.monetize(@order.shipment_total)
    %tr
      %td= t 'buy_sell_market.checkout.labels.tax'
      %td= humanized_money_with_cents_and_symbol @order.monetize(@order.additional_tax_total)
    %tr
      %td= t 'buy_sell_market.checkout.labels.service_fee'
      %td= humanized_money_with_cents_and_symbol @order.total_service_fee_amount_cents
    %tr
      %td.total= t 'buy_sell_market.checkout.labels.total2'
      %td.total= humanized_money_with_cents_and_symbol @order.total_amount

  .clearfix
