- title 'Blog'

= render layout: 'user_blog/layout/blog_account', locals: { active_tab: :blog, blog_nav: :posts } do

  .tab-content
    #posts.tab-pane.active
      .row-fluid
        .span12
          .pull-right
            = link_to '+ New post', new_user_blog_post_path, class: 'btn btn-blue btn-small'

      .row-fluid
        .span12
          %table.table.table-simple
            %thead
              %tr
                %th Name
                %th Created at
                %th Published at
                %th{colspan: 2}

            %tbody
              - @user_blog_posts.each do |blog_post|
                %tr
                  %td= blog_post.title_link
                  %td= blog_post.created_at
                  %td= blog_post.published_at
                  %td
                    = link_to edit_user_blog_post_path(blog_post) do
                      %span.ico-edit
                  %td
                    = link_to user_blog_post_path(blog_post.id), method: :delete, confirm: 'Are you sure you want to delete this post?' do
                      %span.ico-trash
        .row-fluid
          .span5.offset4
            = will_paginate @user_blog_posts
