%tr
  -#
    %td.hidden-sm.hidden-xs
      .checkbox-standalone
        = check_box_tag "listing_item_#{offer.id}".to_sym
        = label_tag "listing_item_#{offer.id}".to_sym
  %td.thumb
    = link_to offer_path(offer), class: 'hidden-xs' do
      = image_tag(offer.photos.first.try(:image_url, :medium))

    = link_to edit_dashboard_company_offer_type_offer_path(@offer_type, offer), class: 'visible-xs' do
      = image_tag(offer.photos.first.try(:image_url, :medium))
  %td.name
    = link_to offer.name, offer_path(offer), class: 'hidden-xs'

    = link_to offer.name, edit_dashboard_company_offer_type_offer_path(@offer_type, offer), class: 'visible-xs'


  %td.location.hidden-sm.hidden-xs
  %td.price.hidden-sm.hidden-xs
    = humanized_money_with_symbol(offer.price) || t('dashboard.offers.pricing.free')
  %td.added.hidden-sm.hidden-xs
    = I18n.l(offer.created_at, format: :day_month_year)
  %td.actions.hidden-sm.hidden-xs
    = link_to t('general.edit'), edit_dashboard_company_offer_type_offer_path(@offer_type, offer)
