.additional-charge-type
  = f.input :commission_receiver, as: :hidden, input_html: { value: "host" }
  .row
    .col-md-4
      = f.input :name
    .col-md-4
      = f.input :amount
    .col-md-4
      = f.input :status, collection: AdditionalChargeType::STATUSES,
        prompt: t('instance_admin.manage.upsell_addons.select_optional_or_mandatory')
    .col-md-12
      = f.input :description

    = link_to_remove_association t("general.remove"), f, {wrapper_class: "additional-charge-type", class: "btn btn-xs btn-warning pull-right" }
