- only_inputs ||= []

- if only_inputs.empty? || only_inputs.include?(:name)
  = render "dashboard/company/products/form_fields/name", f: f

- if only_inputs.empty? || only_inputs.include?(:description)
  = render "dashboard/company/products/form_fields/description", f: f

- if only_inputs.empty? || only_inputs.include?(:photos)
  = render "dashboard/company/products/form_fields/photos", f: f

- if @platform_context.instance.seller_attachments_enabled? && (only_inputs.empty? || only_inputs.include?(:seller_attachments))
  = render "dashboard/company/products/form_fields/seller_attachments", f: f

- if only_inputs.empty? || only_inputs.include?(:shipping_info)
  = render "dashboard/company/products/form_fields/shipping_info", f: f

- @product_type.custom_attributes.each do |attribute|
  - if only_inputs.empty? || only_inputs.include?(attribute.name.to_sym)
    = draw_attribute_for_form(attribute, properties_form)

- if only_inputs.empty? || @product_type.categories.roots.map { |c| "Category - #{c.name}".to_sym }.include?(only_inputs.first)
  - category_name = only_inputs.first.to_s.split(" - ")[1]
  - category = @product_type.categories.roots.where(name: category_name).first
  - if category.present?
    = render 'dashboard/shared/fields/category', category: category, f: f, categorizable: @product_type

- if only_inputs.empty? || only_inputs.include?(:price)
  = render "dashboard/company/products/form_fields/price", f: f

- if only_inputs.empty? || only_inputs.include?(:action_rfq)
  = render "dashboard/company/products/form_fields/action_rfq", f: f

- if only_inputs.empty? || only_inputs.include?(:quantity)
  = render "dashboard/company/products/form_fields/quantity", f: f

- if only_inputs.empty? || only_inputs.include?(:integrated_shipping)
  = render "dashboard/company/products/form_fields/integrated_shipping", f: f

- if only_inputs.empty? || only_inputs.include?(:documents_upload)
  = render "dashboard/company/products/form_fields/document_requirements", f: f

- if only_inputs.empty? || only_inputs.include?(:additional_charges)
  = render "dashboard/company/products/form_fields/additional_charges", f: f
