.panel
  .panel-body

    - if HiddenUiControls.find('dashboard/products/search').visible?
      = dashboard_simple_form_for '', url: dashboard_company_product_type_products_path(@product_type), :method => :get, html: { class: 'search' } do |f|
        = f.input :query, as: :search, label: t('dashboard.items.search.search_your_products'), input_html: { value: (params[:search] || {})[:query] }, label_html: { class: 'sr-only' }
        = f.button :submit, t('dashboard.items.search.search'), class: "hidden-xs hidden-sm btn btn-default"

  - if @products.empty?
    %p.empty-resultset= t('dashboard.items.empty', name: @product_type.name.pluralize.downcase)
  - else
    %table.table.table-listing
      %thead.hidden-sm.hidden-xs
        %tr
          %th.thumb{:scope => "col"}= t('dashboard.items.columns.photo')
          %th.name{:scope => "col"}= t('dashboard.items.columns.name')
          %th.quantity{:scope => "col"}= t('dashboard.items.columns.quantity')
          %th.price{:scope => "col"}= t('dashboard.items.columns.price')
          %td.actions
      %tbody
        - @products.each do |product|
          = render 'product', product: product.decorate

= will_paginate_dashboard @products
