%tr
  %td.thumb
    = link_to product_path(product), class: 'hidden-xs' do
      = product.first_image

    = link_to edit_dashboard_company_product_type_product_path(@product_type, product), class: 'visible-xs' do
      = product.first_image
  %td.name
    = link_to product.name, product_path(product), class: 'hidden-xs'

    = link_to product.name, edit_dashboard_company_product_type_product_path(@product_type, product), class: 'visible-xs'

  %td.quantity.hidden-sm.hidden-xs
    = product.total_on_hand
  %td.price.hidden-sm.hidden-xs
    = number_to_currency_symbol product.currency, product.price
  %td.actions.hidden-sm.hidden-xs
    = link_to t('general.edit'), edit_dashboard_company_product_type_product_path(@product_type, product)
