- title "Products"

.dash-head.clearfix
  %p= t "dashboard.products.manage"
  = link_to new_dashboard_company_product_type_product_path(@product_type), class: "dash-head-btn btn blue pull-right" do
    = t('dashboard.items.list_new_item')
  - if HiddenUiControls.find('dashboard/products/bulk_upload').visible?
    = link_to '#', class: "bulk-upload blue pull-right", data: { modal: true, href: new_dashboard_company_product_type_data_upload_path(@product_type) } do
      = t('data_upload.manage.bulk_upload')
.dash-body
  .dash-sub-nav
    %ul
      - Spree::ProductType.all.each do |product_type|
        %li{class: product_type == @product_type ? "active" : ""}
          = link_to product_type.name.pluralize, dashboard_company_product_type_products_path(product_type)

  - if HiddenUiControls.find('dashboard/products/search').visible?
    = simple_form_for '', wrapper: :bs3, :url => dashboard_company_product_type_products_path(@product_type), html: { class: 'search' }, :method => :get do |f|
      = f.input :query, label: t('dashboard.items.search.search_your_products'), input_html: { value: params[:query] }
      .row
        .col-md-12
          = f.submit t('dashboard.items.search.search'), class: "btn medium blue pull-right"

  %br
  .listings-header
    .row
      .col-md-3
        %p Picture
      .col-md-3
        %p Name
      .col-md-3
        %p Quantity
      .col-md-2
        %p Price
  = render partial: 'product', collection: @products
  = will_paginate_styled @products
