- if @reservations.total_entries.zero?
  %p.empty-resultset
    = no_purchases_yet_text
- else
  %figure.chart-a
    %figcaption
      = t('dashboard.analytics.total.bookings', total: @last_week_reservations.count)
      |
      = t('dashboard.analytics.7_days_total')

    %canvas#chart

  %table.table.table-simple
    %thead
      %tr
        %th= t('dashboard.analytics.columns.date')
        %th= t('dashboard.analytics.columns.bookings')
    %tbody
      - @reservations.group_by{|reservation| reservation.created_at.to_date}.each_pair do |reservation_date, date_reservations|
        %tr
          %td= reservation_date
          %td= date_reservations.size
