- title "Analytics"

#dashboard-analytics-controller.dash-page.analytics
  .dash-head
    .row
      .col-md-3= select_tag :analytics_mode, analytics_options_for_select, class: 'analytics-mode'
  .dash-body
    = render :partial => "analytics_#{@analytics_mode}"

- content_for :domready do
  $(document).trigger('line:chart.nearme', [$('#chart'), #{@chart.values.to_json.html_safe}, #{@chart.labels.to_json.html_safe}]);
