.content-container.reports
  %h4
    = t('instance_admin.reports.projects.community_reports')
  .row
    .text-container
      = form_tag instance_admin_reports_projects_path, method: :get, enforce_utf8: :false do
        .filters
          .filter.filter-week-start
            = label_tag :week_start, t('instance_admin.reports.projects.week_start')
            = week_field_tag :week_start, DateTime.now.utc.weeks_ago(1).strftime('%Y-W%W')
          .filter.filter-week-end
            = label_tag :week_end, t('instance_admin.reports.projects.week_end')
            = week_field_tag :week_end, DateTime.now.utc.weeks_ago(1).strftime('%Y-W%W')
          .filter.filter-download-report
            = link_to t('instance_admin.reports.download_report_as_csv'), '', data: { 'download-report' => 1, 'report-url' => download_report_instance_admin_reports_projects_path(format: 'csv') }, class: "btn btn-blue"

- content_for :domready do
  new InstanceAdmin.ProjectsController($('.projects'))

