= simple_form_for [:instance_admin, @controller_scope, @validatable, resource], :html => { :multipart => true} do |f|
  .content-container
    .input-container.col-xs-6
      = f.input :field_name, collection: @attributes
    = render 'instance_admin/custom_attributes/custom_validator_fields', f: f
  = content_for :header_buttons do
    = f.button :submit, t('instance_admin.save'), class: 'btn btn-blue pull-right', data: { 'submit-form' => 1, 'form-selector' => 'form' }

