= simple_form_for [:instance_admin, @controller_scope, @validatable, resource], :html => { :multipart => true} do |f|
  .content-container
    .row
      .input-container.col-xs-6
        = f.input :field_name, collection: @attributes
    .row
      .input-container.col-xs-6
        = f.input :valid_values, label: 'Valid values (separate with coma)', wrapper_html_options: { class: 'for-select-tag' }, input_html: { value: f.object.valid_values.join(', '), style: "width: 100%;" }
    .row
      .input-container.col-xs-4
        = f.input :required, as: :boolean
      .input-container.col-xs-4
        = f.input :min_length, input_html: { class: 'form-control' }
      .input-container.col-xs-4
        = f.input :max_length, input_html: { class: 'form-control' }
  %br
  = f.button :submit, 'Save', class: 'btn btn-green pull-right'
