- title "Bookings (#{@reservations.count + @recurring_bookings.count})"

.dash-head.clearfix
  %ul
    - actions = ['booking_successful', 'upcoming', 'booking_failed']
    %li{class: actions.include?(params[:action]) ? 'active' : ''}
      = link_to 'UPCOMING', upcoming_dashboard_reservations_path
    %li{class: params[:action] == 'archived' ? 'active' : ''}
      = link_to 'ARCHIVED', archived_dashboard_reservations_path

.dash-body
  = render 'index'

= render 'dashboard/reservations/modals'

