<div class='panel'>
  <div class='panel-body'>

    {% if true %}
      {% assign form_url = transactable_type.transactable_types_path %}

      {% form_for :transactable, url: @form_url, method: 'get', html-class: 'search', form_for_type: 'dashboard' %}
        {% assign query_label = 'dashboard.items.search.search_your_products' | translate %}
        {% input query, as: 'search', label: @query_label, input_html-value: @params['query'], input_html-name: 'query' label_html-class: 'sr-only' %}
        {% submit submit, class: 'hidden-xs hidden-sm btn btn-default' %}
      {% endform_for %}
    {% endif %}

  </div>

  {% if transactables.size > 0 %}
    <table class='table table-listing'>
      <thead class='hidden-sm hidden-xs'>
        <tr>
          <th class='thumb' scope='col'>{{ 'dashboard.items.columns.photo' | translate }}</th>
          <th class='name' scope='col'>{{ 'dashboard.items.columns.name' | translate }}</th>
          <th class='location' scope='col'>
            {% if transactable_type.skip_location? %}
              {{ 'dashboard.items.columns.quantity' | translate }}
            {% else %}
              {{ 'dashboard.items.columns.location' | translate }}
            {% endif %}
          </th>
          <th class='price' scope='col'>{{ 'dashboard.items.columns.price' | translate }}</th>
          <th class='added' scope='col'>{{ 'dashboard.items.columns.added' | translate }}</th>
          <th class='actions'></th>
        </tr>
      </thead>
      <tbody>
        {% include 'dashboard/company/transactables/transactable' %}
      </tbody>
    </table>
  {% else %}
    <p class='empty-resultset'>
      {{ 'dashboard.items.empty' | translate: name: transactable_type.bookable_noun_plural }}
    </p>
  {% endif %}
</div>

{% will_paginate collection: transactables, inner_window: 1, outer_window: 0, class: '', renderer: dashboard %}
