- if overnight_or_regular_booking?(f.object.transactable_type)
  - content_for :booking_type_regular_tab_content do
    %div{:class => "row #{"error" if f.object.errors.include?(:free).present?}"}
      .col-md-3
        = f.label :daily_price, :price, :class => 'control-label flush-top' do
          %abbr{:title => "required"}= t('simple_form.required.mark')
          =t('simple_form.labels.listings.price')
      .col-md-9
        - if f.object.transactable_type.action_daily_booking || f.object.transactable_type.action_weekly_booking || f.object.transactable_type.action_monthly_booking
          .row.half-margin.price-inputs-daily
            .col-md-1
              = f.check_box :action_daily_booking, checked: only_one_option_available?(f.object, 'daily')
            .col-md-11
              = render 'listings/periods_label', transactable: f.object
              .price-input-options

                - f.object.transactable_type.daily_options_names.each do |price|
                  .row.half-margin{'data-period' => price, style: "#{'display: none;' if price != 'daily' && f.object.recurring_booking?}"}
                    = render 'price_field', :f => f, :price => price, :label => t("simple_form.labels.transactable.price.#{price}"), :include_checkbox => true
        - if f.object.transactable_type.action_hourly_booking
          .row.price-inputs-hourly.half-margin{'data-period' => 'hourly', style: "#{'display: none;' if f.object.overnight_booking?}"}
            .col-md-1
              = f.check_box :action_hourly_booking, checked: only_one_option_available?(f.object, 'hourly')
            .col-md-11
              = t("simple_form.labels.transactable.price_hourly")
              .row.half-margin.price-input-options
                = render 'price_field', :f => f, :price => :hourly, :label => t("simple_form.labels.transactable.price.hourly")

        - if f.object.errors.include?(:action_hourly_booking).present?
          %p.error-block= f.object.errors[:action_hourly_booking].first

        - if f.object.transactable_type.action_free_booking
          .row.half-margin.price-inputs-free
            .col-md-1
              = f.check_box :action_free_booking, checked: only_one_option_available?(f.object, 'free')
            .col-md-11
              = t("simple_form.labels.transactable.price_free")

        - if f.object.errors.include?(:free).present?
          %p.error-block
            = t('errors.messages.free_if_zero')
- if f.object.transactable_type.action_subscription_booking
  - content_for :booking_type_subscription_tab_content do
    %div{:class => "row #{"error" if f.object.errors[:monthly_subscription].present? || f.object.errors[:weekly_subscription].present?}"}
      .col-md-3
        = f.label :daily_price, :price, :class => 'control-label flush-top' do
          %abbr{:title => "required"}= t('simple_form.required.mark')
          =t('simple_form.labels.listings.price')
      .col-md-9
        .row.half-margin.price-inputs-subscription{'data-period' => 'subscription', style: "#{'display: none;' if f.object.overnight_booking?}"}
          .col-md-1
            = f.check_box :action_subscription_booking, checked: only_one_option_available?(f.object, 'subscription')
          .col-md-11
            = t('simple_form.labels.listings.subscription_periods')
            .row.half-margin.price-input-options{style: "#{'display: none;' unless f.object.action_subscription_booking?}"}
              = render 'price_field', :f => f, :price => 'weekly_subscription', :label => t("simple_form.labels.transactable.price.weekly_subscription"), :include_checkbox => true
              = render 'price_field', :f => f, :price => 'monthly_subscription', :label => t("simple_form.labels.transactable.price.monthly_subscription"), :include_checkbox => true

- if f.object.transactable_type.schedule_booking_enabled?
  - content_for :booking_type_schedule_tab_content do
    %div{:class => "row #{"error" if f.object.errors.include?(:fixed_price).present? || f.object.errors.include?(:price_type)}"}
      .col-md-3
        = f.label :daily_price, :price, :class => 'control-label flush-top' do
          %abbr{:title => "required"}= t('simple_form.required.mark')
          =t('simple_form.labels.listings.price')
      .col-md-9
        = render 'price_field', :f => f, :price => 'fixed', :label => f.object.transactable_type.action_price_per_unit? ? t("simple_form.labels.transactable.price.per_unit") : t("simple_form.labels.transactable.price.fixed"), :include_checkbox => false
    - if form_fields.find{ |h| h['transactable'] == 'exclusive_price' }
      .row
        .col-md-3
          = f.label :exclusive_price, :exclusive_price, :class => 'control-label flush-top' do
            =t('simple_form.labels.listings.exclusive_price')
        .col-md-9
          = render 'price_field', :f => f, :price => 'exclusive', :label => t("simple_form.labels.transactable.price.exclusive_price"), :include_checkbox => false
    - if form_fields.find{ |h| h['transactable'] == 'book_it_out' }
      .row.price_container
        =f.input :book_it_out_discount
        =f.input :book_it_out_minimum_qty


