.listings
  .row
    .col-md-3.listing-img
      = link_to transactable.decorate.show_path do
        = image_tag(transactable.photos.first.try(:image_url, :medium))
    .col-md-3.listing-attr
      = link_to transactable.name, transactable.decorate.show_path
    .col-md-3.listing-attr
      %p= @transactable_type.skip_location? ? transactable.quantity : transactable.location.try(&:name)
    .col-md-2.listing-attr
      %p= transactable.decorate.lowest_price_with_currency || t('dashboard.transactables.pricing.free')
    .col-md-1.listing-attr
      = link_to t('general.edit'), edit_dashboard_company_transactable_type_transactable_path(@transactable_type, transactable)
      = link_to t('general.delete'), dashboard_company_transactable_type_transactable_path(@transactable_type, transactable),
          method: :delete, data: { confirm: t('confirmations.are_you_sure_you_want_to_delete_this_item') }, style: 'margin-top:0px;'
