- content_for :page_header do
  - if @transactable_type.single_transactable
    %h1= t("dashboard.nav.transactables")
  - else
    %h1
      = link_to t("dashboard.transactables.manage"), url_for(@controller_scope + [:transactables]), class: 'hidden-xs hidden-sm'
      %span.hidden-xs.hidden-sm >
      = t("dashboard.transactables.edit")

  .options
    - if @transactable.persisted? && @transactable.location.try(:persisted?) && @transactable.errors[:location].empty?
      = link_to t('dashboard.transactables.view_html'), @transactable.decorate.show_path, rel: :external


= dashboard_simple_form_for @controller_scope + [@transactable], :html => { :multipart => true,  method: :put, id: 'listing-form' } do |f|

  = render "dashboard/company/transactables/errors", f: f

  = render "dashboard/company/transactables/form_panels_nav", f: f

  .panel
    .panel-body
      = render 'form', f: f

  .panel.form-actions
    .panel-body
      = f.button :submit, t('dashboard.items.save')

  .form-actions
    = render 'dashboard/company/transactables/form_actions'
