- title t "dashboard.transactables.manage"
- content_for :page_header do
  %h1
    %span.hidden-xs= t('dashboard.transactables.title.manage')
    = t('dashboard.transactables.title.listings')

  .options.visible-sm.visible-xs
    = link_to new_dashboard_company_transactable_type_transactable_path(@transactable_type), class: "btn btn-primary" do
      %span.fa.fa-plus
      = t('dashboard.items.new_listing_short')


- content_for :panel_navigation_links do
  - TransactableType.all.each do |transactable_type|
    %li{class: transactable_type == @transactable_type ? "active" : ""}
      = link_to t('dashboard.manage_listings.tab', default: transactable_type.translated_bookable_noun(10)), dashboard_company_transactable_type_transactables_path(transactable_type)


- content_for :panel_options do
  .pull-right.options{ class: "#{'additional-listing-options' unless @transactables.empty? }" }
    - if HiddenUiControls.find('dashboard/transactables/bulk_upload').visible?
      = link_to t('data_upload.manage.bulk_upload'), new_dashboard_company_transactable_type_data_upload_path(@transactable_type), data: { modal: true }

    = link_to new_dashboard_company_transactable_type_transactable_path(@transactable_type), class: "btn btn-primary navbar-btn" do
      %span.fa.fa-plus
      = t('dashboard.items.new_listing_full', type: @transactable_type.translated_bookable_noun(10))


%nav.panel-nav-mobile.visible-sm.visible-xs{role: 'navigation'}
  = dropdown_menu @transactable_type.translated_bookable_noun(10), { wrapper_class: 'links' } do
    = yield :panel_navigation_links

- if TransactableType.count > 3
  .row
    .col-md-3
      %nav.hidden-xs.hidden-sm{role: 'navigation'}
        %ul.nav.nav-pills.nav-stacked
          = yield :panel_navigation_links

    .col-md-9
      %nav.panel-nav.hidden-xs.hidden-sm
        = yield :panel_options
      = render 'listing'

- else
  %nav.panel-nav.hidden-xs.hidden-sm
    %ul.tabs.pull-left
      = yield :panel_navigation_links
    = yield :panel_options

  = render 'listing'

