.dash-head.clearfix
  = link_to 'MANAGE LISTINGS', dashboard_company_transactable_type_transactables_path(@transactable_type)
  &gt;
  %p LIST NEW ITEM
.dash-body
  = simple_form_for [:dashboard, :company, @transactable_type, @transactable], wrapper: :bs3, :html => { :multipart => true, id: 'listing-form' } do |f|

    = render 'form', f: f

    .submit-bar
      = link_to dashboard_company_transactable_type_transactables_path(@transactable_type) do
        .btn.gray Cancel
      = f.submit "Save item", class: "btn medium blue"
