{% comment %}

Add disabled custom attributes here as below

{% form_for offer, url: '/dashboard/offers' %}
  {% fields_for properties %}
    {% input custom_1, form: properties, input_html-disabled: "true" %}

    {% input custom_2, form: properties, input_html-disabled: "true" %}
  {% endfields_for %}
{% endform_for %}

{% endcomment %}

<header>
  <div class='row'>
    <div class='col-sm-7'>
      {% if reservation.transactable != blank and reservation.transactable.deleted? != true %}
        <h2>
          <a href="{{ reservation.transactable.show_path }}">
            {% if reservation.transactable.name.size > 0 %}
              {{ reservation.transactable.name }}
            {% else %}
              {{ 'dashboard.host_reservations.show_listing_page' | t}}
            {% endif %}
          </a>

          {{ reservation.transactable.click_to_call_button }}
        </h2>
      {% else %}
        <h2>{{ 'dashboard.user_reservations.listing_deleted' | t }}</h2>
      {% endif %}
    </div>
    <div class='col-xs-5'>
      <div class='order-status'>
        {% if reservation.archived_at and reservation.state == 'confirmed' %}
          <span class='confirmed'>
            {{ "reservations.states.completed" | translate }}
          </span>
        {% else %}
          <span class='{{ reservation.state }}'>
            {{ 'reservations.states.' | append: reservation.state | translate }}
          </span>
        {% endif %}
      </div>
    </div>
  </div>
</header>


{% include 'dashboard/user_reservations/reservation_details', reservation: reservation, for_host: false %}

<div class='row'>
  {% if reservation.guest_notes != blank %}
    <div class='col-sm-3'>
      <h3>{{ 'dashboard.host_reservations.exclusive_price_guests_notes' | t }}</h3>
      <blockquote>{{ reservation.guest_notes }}</blockquote>
    </div>
  {% endif %}
  {% if reservation.payment_documents.size > 0 %}
    <div class='col-sm-3'>
      <h3>{{ 'dashboard.host_reservations.payment_documents' | t }}</h3>
      <ul class='payment-documents'>
        {% for pd in reservation.payment_documents %}
          <li>
            <a href='{{ pd.file_url }}' download=true>{{ pd.file_name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  {% if reservation.additional_line_items.size > 0 %}
    <div class='col-sm-3 right'>
      <h3>{{ 'dashboard.host_reservations.additional_charges' | t }}</h3>
      <ul class='payment-documents'>
        {% for ac in reservation.additional_line_items %}
          <li>
            {{ ac.name | append: ' - ' | append: ac.formatted_total_price }}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
</div>

<h2>Offer</h2>
{% if reservation.confirmed? %}
  <div class='row'>
    <div class='col-sm-2'>Referring Lawyer</div>
    <div class='col-sm-2'>Offer Date</div>
    <div class='col-sm-2'>Offer Status</div>
    <div class='col-sm-2'>Accepted Date</div>
  </div>
  <div class='row'>
    <div class='col-sm-2'>{{ reservation.company.name }}</div>
    <div class='col-sm-2'>{{ reservation.created_at | to_date | l: 'long' }}</div>
    <div class='col-sm-2'>{{ reservation.state }}</div>
    <div class='col-sm-2'>{{ reservation.confirmed_at | to_date | l: 'long' }}</div>
  </div>
  <hr/>
  <div class='row'>
      <a class="btn btn-info" href="{{ 'dashboard_order_path' | generate_url: reservation.id }}">{{ 'dashboard.user_reservations.approved_offer' | t}}</a>
      {% if platform_context.instance.enable_reply_button_on_host_reservations? %}
        {% if reservation.user_messages.size == 0 %}
          <a class="btn btn-info" data-modal="true" href="{{ 'new_reservation_user_message_path' | generate_url: reservation.id, skip: true }}">{{ 'dashboard.user_reservations.send_message' | t}}</a>
        {% else %}
          <a class="btn btn-info" data-modal="true" href="{{ 'dashboard_user_message_path' | generate_url: reservation.user_messages.first.id }}">{{ 'dashboard.user_reservations.send_message' | t}}</a>
        {% endif %}
      {% endif %}
      <a class="btn btn-info" href="{{ reservation.transactable.show_path }}">{{ 'dashboard.user_reservations.view_case' | t}}</a>
  </div>
{% elsif reservation.unconfirmed? %}
  <div class='row'>
    <div class='col-sm-2'>Offer Date</div>
    <div class='col-sm-2'>Offer Status</div>
    <div class='col-sm-2'>Offer Actions</div>
  </div>
  <div class='row'>
    <div class='col-sm-2'>{{ reservation.created_at | to_date | l: 'long' }}</div>
    <div class='col-sm-2'>{{ reservation.state }}</div>
    <div class='col-sm-2'>
      Edit Offer |
      <button type="button" data-disable-with="{{ 'general.processing' | t }}" data-submit-form="#cancel_reservation">Cancel</button>
    </div>
    <form class="edit_reservation" id="cancel_reservation" action="{{ 'user_cancel_dashboard_user_reservation_path' | generate_url: reservation.id }}" accept-charset="UTF-8" method="post">
      <input name="utf8" type="hidden" value="&#x2713;" />
      <input type="hidden" name="authenticity_token" value="{{ form_authenticity_token }}" />
    </form>
  </div>
{% endif %}
