%h4= t('instance_admin.manage.service_types.pricing')
.nested-fields-set
  = f.simple_fields_for :pricings do |pricing|
    .nested-container
      .row.nested-fields
        .col-md-2
          = pricing.label :number_of_units
          %input{ disabled: true, value: 1}
          = pricing.input :number_of_units, as: :hidden, input_html: { value: 1}
        .col-md-2
          = pricing.label :unit
          %input{ value: 'event', disabled: true}
          = pricing.input :unit, as: :hidden, input_html: { value: 'event'}
        .col-md-2
          = pricing.input :min_price, as: :numeric
        .col-md-2
          = pricing.input :max_price, as: :numeric
        .col-md-1
          = pricing.input :allow_free_booking, :inline_label => true
        .col-md-1
          = pricing.input :allow_book_it_out_discount, as: :boolean, :inline_label => true
        .col-md-1
          = pricing.input :allow_exclusive_price, as: :boolean, :inline_label => true
= render 'dashboard/company/transactables/schedule_form', f: f, schedule: f.object.schedule || f.object.build_schedule