.row.nested-fields
  .col-md-2
    = f.input :number_of_units, as: :numeric
  .col-md-2
    = f.input :unit, as: :select, collection: f.object.action.decorate.availabile_units_with_i18n, input_html: { data: { subscription_unit: true } }
  - if f.object.subscription?
    .col-md-1
      = f.input :pro_rated, as: :boolean, input_html: { data: { pro_rated: true } }
  - if f.object.action.can_be_free?
    .col-md-2
      = f.input :allow_free_booking
  .col-md-2
    = f.input :min_price, as: :numeric
  .col-md-2
    = f.input :max_price, as: :numeric
  .col-md-1
    = link_to_remove_association f, class: 'remove_fields', data: { confirm: t('confirmations.are_you_sure_delete_price')} do
      .action--remove x
