<header>
  <div class='row'>
    <div class='col-xs-12 col-md-7'>
      {% if reservation.transactable != blank and reservation.transactable.deleted? != true %}
        <h2>
          <a href="{{ reservation.transactable.show_path }}">
            {% if reservation.transactable.name.size > 0 %}
              {{ reservation.transactable.name }}
            {% else %}
              {{ 'dashboard.host_reservations.show_listing_page' | t}}
            {% endif %}
          </a>

          {{ reservation.transactable.click_to_call_button }}
        </h2>
      {% else %}
        <h2>{{ 'dashboard.user_reservations.listing_deleted' | t }}</h2>
      {% endif %}
    </div>

    <div class='col-xs-12 col-md-5'>
      <div class='order-status'>
        {% if reservation.archived_at and reservation.state == 'confirmed' %}
          <span class='confirmed'>
            {{ "reservations.states.completed" | t }}
          </span>
        {% else %}
          <span class='{{ reservation.state }}'>
            {{ 'reservations.states.' | append: reservation.state | t }}
          </span>
        {% endif %}
      </div>
    </div>
  </div>
</header>

<div class='row'>
  <div class="col-xs-12">
    <dl>
      {% if reservation.owner != blank %}
        <dt>Borrower:</dt>
        <dd>{{ reservation.owner.name }}</dd>
      {% endif %}

      <dt>{{ 'dashboard.user_reservations.address' | t }}:</dt>
      <dd>{{ reservation.transactable.location.address }}</dd>

      <dt>Shipping Package:</dt>
      <dd>-----</dd>

      <dt>Borrower ship to address:</dt>
      <dd>------</dd>

      {% assign requested_dates = reservation.long_dates %}
      {% assign requested_dates_size = requested_dates.size %}

      <dt>Period:</dt>
      <dd>{{ reservation.transactable_pricing.number_of_units }} days</dd>

      <dt>Rental date:</dt>
      <dd>{{ reservation.start_date | to_date | l: 'short' }}</dd>

      <dt>Return date:</dt>
      <dd>{{ reservation.start_date | to_date | add_to_date: reservation.transactable_pricing.number_of_units | l: 'short'  }} </dd>
    </dl>
  </div>
</div>

{% if reservation.lister_confirmed_at != blank %}
  <form class="item-reservation__shipping-details row">
    <div class="col-xs-12 col-md-10 col-lg-8">
      <div class="row">
        <div class="col-xs-12 col-md-6 form-group">
          <label for="shipping_details[pickup_date]">Pick Up Date:</label>
          <input disabled="disabled" type="text" class="form-control" value="9/18/2016" name="shipping_details[pickup_date]" />
        </div>
        <div class="col-xs-12 col-md-6 form-group">
          <label for="shipping_details[return_date]">Shipping Return Date:</label>
          <input disabled="disabled" type="text" class="form-control" value="9/25/2016" name="shipping_details[return_date]" />
        </div>
        <div class="col-xs-12 col-md-6 form-group">
          <label for="shipping_details[lender_pickup]">Lender Pick Up Address:</label>
          <input disabled="disabled" type="text" class="form-control" value="9001 Lender Street, St. Louis MO, 63141" name="shipping_details[lender_pickup]" />
        </div>
        <div class="col-xs-12 col-md-6 form-group">
          <label for="shipping_details[lender_ship]">Lender Ship To Address:</label>
          <input disabled="disabled" type="text" class="form-control" value="9001 Lender Street, St. Louis MO, 63141" name="shipping_details[lender_ship]" />
        </div>
      </div>
      <hr />
    </div>
  </form>

  <div class="item-reservation__costs row">
    <div class="col-xs-12 col-md-6">
      <h3>Total Costs</h3>
      <table class="col-xs-12">
        <tr>
          <td>Item Rental ({{ reservation.transactable_pricing.number_of_units }} days)</td>
          <td>{{ reservation.transactable_pricing.price | price_with_cents_with_currency }}</td>
        </tr>
        <tr>
          <td>Shipping</td>
          <td>---</td>
        </tr>
        <tr>
          <td></td>
          <td class="item-reservation__costs-total">{{ reservation.total_price }}</td>
        </tr>
      </table>
    </div>
  </div>
{% endif %}

<hr class="hr-contrast" />

<div class='reservation-actions'>
  {% if reservation.user_messages.size == 0 %}
    <a class="button button-inverse" data-modal="true" href="{{ 'new_reservation_user_message_path' | generate_url: reservation.id, skip: true }}">{{ 'dashboard.user_reservations.send_message' | t}}</a>
  {% else %}
    <a class="button button-inverse" data-modal="true" href="{{ 'dashboard_user_message_path' | generate_url: reservation.user_messages.first.id }}">{{ 'dashboard.user_reservations.send_message' | t}}</a>
  {% endif %}

  {% if reservation.confirmed? %}
    {% if reservation.inbound_shipment.label_url != blank %}
      <a class="btn btn-default" href="{{ reservation.inbound_shipment.label_url }}">{{ 'dashboard.user_reservations.return_label' | t }}</a>
    {% endif %}
    {% if reservation.outbound_shipment.tracking_url_provider != blank %}
      <a class="btn btn-default" href="{{ reservation.outbound_shipment.tracking_url_provider }}">{{ 'dashboard.user_reservations.track_package' | t }}</a>
    {% endif %}
  {% endif %}

  {% if reservation.unconfirmed? %}
    {% if reservation.has_to_update_credit_card? %}
      <span>
        <a class="btn btn-warning" data-modal='true' href="{{ 'edit_dashboard_user_reservation_payment_path' | generate_url: user_reservation_id: reservation.id, id: reservation.payment.id }}">{{ 'dashboard.user_reservations.update_credit_card' | t }}</a>
      </span>
      <div class="cc-error">{{ 'dashboard.user_reservations.must_change_credit_card' | t }}</div>
    {% else %}
      {% if reservation.lister_confirmed_at and reservation.enquirer_confirmed_at == blank %}
        <form class="edit_reservation" action="{{ 'approve_dashboard_order_path' | generate_url: id: reservation.id }}" accept-charset="UTF-8" method="post">
          <input name="utf8" type="hidden" value="&#x2713;" />
          <input type="hidden" name="authenticity_token" value="{{ form_authenticity_token }}" />
          <input type="submit" name="commit" value="RENT ITEM" data-confirm="{{ 'confirmations.are_you_sure' | t }}" data-disable-with="{{ 'general.processing' | t }}" class="btn btn-inverse" />
        </form>
      {% endif %}
    {% endif %}

    {% if reservation.enquirer_confirmed_at == blank %}
      <form class="cancel_reservation" action="{{ 'enquirer_cancel_dashboard_order_path' | generate_url: reservation.id }}" accept-charset="UTF-8" method="post">
        <input name="utf8" type="hidden" value="&#x2713;" />
        <input type="hidden" name="authenticity_token" value="{{ form_authenticity_token }}" />
        <input type="submit" name="commit" value="CANCEL" data-confirm="{{ 'dashboard.user_reservations.cancel_confirmation' | t }}" class="button button-inverse" data-disable-with="{{ 'general.processing' | t }}" />
      </form>
    {% endif %}
  {% endif %}

  {% unless reservation.archived? %}
    {% if reservation.cancelable? and reservation.lister_confirmed_at == blank %}
      {% if reservation.penalty_charge_apply? %}
        <div class="cc-error">
          {{ 'dashboard.user_reservations.penalty_charge_will_apply' | t: penalty_hours: reservation.cancellation_policy_penalty_hours, penalty_fee: reservation.formatted_penalty_fee, hours_for_cancellation: reservation.cancellation_policy_hours_for_cancellation) }}
        </div>
      {% endif %}
    {% endif %}
    {% if reservation.remote_payment? and reservation.paid? == false and reservation.archived? == false %}
      <a class="btn btn-default" href="{{ 'remote_payment_dashboard_user_reservation_path' | generate_url: reservation.id }}">
        {{ 'dashboard.user_reservations.pay_now' | t }}
      </a>
    {% endif %}
  {% endunless %}
</div>
