<header>
  <div class='row'>
    <div class='col-xs-12 col-md-7'>
      {% if reservation.transactable != blank and reservation.transactable.deleted? != true %}
        <h2>
          <a href="{{ reservation.transactable.show_path }}">
            {% if reservation.transactable.name.size > 0 %}
              {{ reservation.transactable.name }}
            {% else %}
              {{ 'dashboard.host_reservations.show_listing_page' | t}}
            {% endif %}
          </a>

          {{ reservation.transactable.click_to_call_button }}
        </h2>
      {% else %}
        <h2>{{ 'dashboard.user_reservations.listing_deleted' | t }}</h2>
      {% endif %}
    </div>

    <div class='col-xs-12 col-md-5'>
      <div class='order-status'>
        {% if reservation.archived_at and reservation.state == 'confirmed' %}
          <span class='confirmed'>
            {{ "reservations.states.completed" | t }}
          </span>
        {% elsif reservation.lister_confirmed_at and reservation.enquirer_confirmed_at == blank%}
          <span class='ready_for_rent'>
            Item Ready for Renting
          </span>
        {% else %}
          <span class='{{ reservation.state }}'>
            {{ 'reservations.states.' | append: reservation.state | t }}
          </span>
        {% endif %}
      </div>
    </div>
  </div>
</header>

<div class='row'>
  <div class="col-xs-12">
    <dl>
      <dt>Borrower:</dt>
      <dd>{{ reservation.owner.name }}</dd>

      <dt>Shipping Package:</dt>
      <dd>{{ reservation.shipping_package.label }}</dd>

      <dt>Borrower ship to address:</dt>
      <dd>{{ reservation.enquirer_shipping_address.discreet }}</dd>

      {% assign requested_dates = reservation.long_dates %}
      {% assign requested_dates_size = requested_dates.size %}

      <dt>Period:</dt>
      <dd>{{ reservation.transactable_pricing.number_of_units }} days</dd>

      <dt>Rental date:</dt>
      <dd>{{ reservation.starts_at | to_date | l: 'short' }}</dd>

      <dt>Return date:</dt>
      <dd>{{ reservation.starts_at | to_date | add_to_date: reservation.transactable_pricing.number_of_units | l: 'short'  }} </dd>
    </dl>
  </div>
</div>
{% if reservation.lister_confirmed_at != blank %}
  <form class="item-reservation__shipping-details row">
    <div class="col-xs-12 col-md-10 col-lg-8">
      <div class="row">
        <div class="col-xs-12 col-md-6 form-group">
          <label for="shipping_details[pickup_date]">Pick Up Date:</label>
          <input disabled="disabled" type="text" class="form-control" value="{{reservation.inbound_pickup_date}}" name="shipping_details[pickup_date]" />
        </div>
        <div class="col-xs-12 col-md-6 form-group">
          <label for="shipping_details[return_date]">Shipping Return Date:</label>
          <input disabled="disabled" type="text" class="form-control" value="{{reservation.outbound_pickup_date}}" name="shipping_details[return_date]" />
        </div>
        <div class="col-xs-12 col-md-6 form-group">
          <label for="shipping_details[lender_pickup]">Lender Pick Up Address:</label>
          <input disabled="disabled" type="text" class="form-control" value="{{reservation.inbound_pickup_address_address}}" name="shipping_details[lender_pickup]" />
        </div>
        <div class="col-xs-12 col-md-6 form-group">
          <label for="shipping_details[lender_ship]">Lender Ship To Address:</label>
          <input disabled="disabled" type="text" class="form-control" value="{{reservation.outbound_return_address_address}}" name="shipping_details[lender_ship]" />
        </div>
       </div>
      <hr />
    </div>
  </form>

  <div class="item-reservation__costs row">
    <div class="col-xs-12 col-md-6">
      <h3>Total Costs</h3>
      <table class="col-xs-12">
        <tr>
          <td>Item Rental ({{ reservation.transactable_pricing.number_of_units }} days)</td>
          <td>{{ reservation.transactable_pricing.price | price_with_cents_with_currency }}</td>
        </tr>
        <tr>
          <td>Service Fee</td>
          <td>{% if reservation.state == 'unconfirmed' %}{{ reservation.service_fee_amount_host | price_with_cents_with_currency }}{% else %}{{ reservation.service_fee_amount_host_without_shipping | price_with_cents_with_currency }}{% endif %}</td>
        </tr>
        <tr>
          <td>Shipping Cost</td>
          <td>
            {{ reservation.shipping_line_items.last.unit_price | price_with_cents_with_currency }}
          </td>
        </tr>
        <tr>
          <td>You will earn</td>
          <td class="item-reservation__costs-total">

          {% if reservation.state == 'unconfirmed' %}{{ reservation.total_payable_to_host_minus_second_shipping | price_with_cents_with_currency }}{% else %}{{ reservation.total_payable_to_host | price_with_cents_with_currency }}{% endif %}

          </td>
        </tr>
      </table>
    </div>
  </div>
{% endif %}

<hr class="hr-contrast" />

<div class='reservation-actions'>
  {% if reservation.user_messages.size == 0 %}
    <a class="button button-inverse" data-modal="true" href="{{ 'new_reservation_user_message_path' | generate_url: reservation.id, skip: true }}">{{ 'dashboard.user_reservations.send_message' | t}}</a>
  {% else %}
    <a class="button button-inverse" data-modal="true" href="{{ 'dashboard_user_message_path' | generate_url: reservation.user_messages.first.id }}">{{ 'dashboard.user_reservations.send_message' | t}}</a>
  {% endif %}

  {% include 'dashboard/company/host_reservations/owner_actions', reservation: reservation %}

  {% unless current_user.has_verified_merchant_account %}
    <p>Before approving rental, you need to set up your <a href="{{ company.payout_path }}">Banking details</a>.</p>
  {% endunless %}
</div>
