{% if reservation.can_confirm? and reservation.lister_confirmed_at == blank %}
  {% if platform_context.instance.enable_reply_button_on_host_reservations? %}
    {% if reservation.user_messages.size == 0 %}
      <a class="button button-default" data-modal="true" href="{{ 'new_reservation_user_message_path' | generate_url: reservation.id, skip: true }}">{{ 'general.reply' | t | upcase }}</a>
    {% else %}
      <a class="button button-default" data-modal="true" href="{{ 'dashboard_user_message_path' | generate_url: reservation.user_messages.first.id }}">{{ 'general.reply' | t | upcase }}</a>
    {% endif %}
  {% endif %}
  <a class="button button-default" data-modal="true" href="{{ 'confirmation_form_dashboard_company_orders_received_path' | generate_url: reservation.id, listing_id: reservation.transactable }}">Confirm</a>
  {% if reservation.can_reject? %}
    <a class="button button-default" data-modal="true" href="{{ 'rejection_form_dashboard_company_host_reservation_path' | generate_url: reservation.id, listing_id: reservation.transactable }}">{{ 'dashboard.host_reservations.actions.decline' | t | upcase }}</a>
  {% endif %}
{% else %}
  {% if reservation.can_reject? %}
    <a class="button button-default" data-modal="true" href="{{ 'rejection_form_dashboard_company_host_reservation_path' | generate_url: reservation.id, listing_id: reservation.transactable }}">{{ 'dashboard.host_reservations.actions.cancel' | t | upcase }}</a>
  {% endif %}
{% endif %}

{% if reservation.paid? == false and reservation.unconfirmed? or reservation.confirmed? %}
  {% if reservation.remote_payment? %}
    <a class="button button-default" data-modal="true" href="{{ 'request_payment_dashboard_company_host_reservation_path' | generate_url: reservation.id, listing_id:reservation.transactable }}" data-confirm="{{ 'dashboard.host_reservations.confirmations.request_payment' | t }}">{{ 'dashboard.host_reservations.actions.request_payment' | t | upcase }}</a>

  {% elsif reservation.manual_payment? %}
    <form class="edit_reservation" action="{{ 'mark_as_paid_dashboard_company_host_reservation_path' | generate_url: reservation.id, listing_id: reservation.transactable }}" accept-charset="UTF-8" method="post">
      <input name="utf8" type="hidden" value="&#x2713;" />
      <input type="hidden" name="authenticity_token" value="{{ form_authenticity_token }}" />
      <input type="submit" name="commit" value="{{ 'dashboard.host_reservations.actions.mark_as_paid' | t | upcase }}" data-confirm="{{ 'dashboard.host_reservations.confirmations.mark_as_paid' | t }}" data-disable-with="{{ 'general.processing' | t | upcase }}" class="button button-default" />
    </form>
  {% endif %}
{% endif%}

{% if reservation.confirmed? %}
  {% if reservation.can_approve_or_decline_checkout? %}
    <div class='pending-approval'>{{ 'dashboard.host_reservations.pending_approval' | t | upcase }}</div>
  {% endif %}
  {% if reservation.has_to_update_credit_card? %}
    <div class='cc-error'>{{ 'dashboard.host_reservations.must_change_credit_card' | t | upcase }}</div>
  {% endif %}
  {% if reservation.inbound != blank %}
    <a class="btn btn-primary" href="{{ reservation.inbound.tracking_url }}">{{ 'dashboard.host_reservations.track_package' | t }}</a>
  {% endif %}
  {% if reservation.outbound != blank %}
    <a class="btn gray full" href="{{ reservation.outbound.tracking_url }}">{{ 'dashboard.host_reservations.return_track_package' | t }}</a>
  {% endif %}
{% endif %}
