<footer class="mastfoot" itemscope="" itemtype="http://schema.org/Organization">
    <div class="wrapper-a">
        <ul class="description">
            <li itemprop="logo">
                <img src="https://d2rw3as29v290b.cloudfront.net/instances/194/uploads/ckeditor/attachment_file/data/3419/volte-logo.svg" width="200" />
            </li>
            <li itemprop="description">
                The Volte is a modern marketplace that allows you to invest in your style. Access to high end designer fashion has never been easier!
            </li>
        </ul>
        <ul class="general">
            <li>
                General
            </li>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about-us">About us</a>
            </li>
            <li>
                <a href="/faq">FAQ</a>
            </li>
        </ul>
        <ul class="more">
            <li>
                More
            </li>
            {% if current_user == blank %}
            <li>
                <a data-modal="true" data-modal-class="sign-up-modal" data-modal-overlay-close="disabled" data-href="/users/sign_up" href="#">Sign Up</a>
            </li>
            {% endif %}
            {% if current_user %}
            <li>
                <a href="/transactable_types/item/list">List your items</a>
            </li>
            {% endif %}
            <li>
                <a href="/terms-of-service">Terms of Service</a>
            </li>
            <li>
                <a href="/policies">Policies</a>
            </li>
        </ul>
        <ul class="connect">
            <li>
                Connect
            </li>
            {% if platform_context.instagram_url != blank %}
                <li><a href="{{ platform_context.instagram_url }}" itemprop="sameAs"><i class="fa fa-instagram"></i>Instagram</a></li>
            {% endif %}
            {% if platform_context.facebook_url != blank %}
                <li><a href="{{ platform_context.facebook_url }}" itemprop="sameAs"><i class="fa fa-facebook-official"></i>Facebook</a></li>
            {% endif %}
            {% if platform_context.twitter_url != blank %}
                <li><a href="{{ platform_context.twitter_url }}" itemprop="sameAs"><i class="fa fa-twitter"></i>Twitter</a></li>
            {% endif %}
            {% if platform_context.gplus_url != blank %}
                <li><a href="{{ platform_context.gplus_url }}" itemprop="sameAs"><i class="fa fa-google-plus"></i>Google+</a></li>
            {% endif %}
            {% if platform_context.blog_url != blank %}
                <li><a href="{{ platform_context.blog_url }}"><i class="fa fa-rss"></i>Blog</a></li>
            {% endif %}
        </ul>
        <ul class="contact">
            <li>
                Contact
            </li>
            <li>
                <a href="mailto:{{ platform_context.support_email }}" itemprop="email">{{ platform_context.support_email }}</a>
            </li>
        </ul>
        <div class="footer-bottom" role="contentinfo">
            <p class="copyrights" itemprop="copyrightHolder">
                &copy; The Volte 2016. All rights reserved.
            </p>
            <p class="powered-by">
                <a href="http://www.near-me.com" rel="external">Powered by Near Me<img height="24" src="https://d2rw3as29v290b.cloudfront.net/instances/194/uploads/ckeditor/picture/data/2772/near-me-logo.png" width="24" /></a>
            </p>
        </div>
    </div>
</footer>
