<header class="masthead">
  <div class="wrapper-a">
    <div class="topnav">
      <a class="logo" href="/"><img alt="The Volte" src="https://d2rw3as29v290b.cloudfront.net/instances/194/uploads/ckeditor/attachment_file/data/3419/volte-logo.svg" /></a>
      <nav role="nav">
        <button class="topnav-toggle animated zoomIn">&#9776;</button>
        <ul class="nav main-menu">
          <li><a href="/search">Find an item</a></li>
          {% if current_user == blank %}
              <li class="active">
                <a data-modal="true" data-modal-class="sign-up-modal" data-modal-overlay-close="disabled" data-href="/users/sign_up?return_to=%2Ftransactable_types%2Fitem%2Flist" href="#">List your items</a>
              </li>
              <li>
                <a href="/faq">FAQ</a>
              </li>
              <li>
                <a data-modal="true" data-modal-class="sign-up-modal" data-modal-overlay-close="disabled" data-href="/users/sign_up" href="#">Sign Up</a>
              </li>
              <li>
                <a href="#" data-href="/users/sign_in" data-modal="true" data-modal-class="sign-up-modal" data-modal-overlay-close="disabled" url_options='{:return_to="/"}'>Log In</a>
              </li>
          {% else %}
            <li>
              <a href="/transactable_types/item/list">List your items</a>
            </li>

            {% assign unconfirmed_orders_count = current_user.unconfirmed_received_orders_count %}
            <li class="dropdown">
              <a class="nav-link dropdown-toggle user-dropdown" data-toggle="dropdown" href="#">
                <span class="text">{{ current_user.first_name }}</span>
                {% if unconfirmed_orders_count > 0 %}
                  <span class="count">{{ unconfirmed_orders_count }}</span>
                {% endif %}
              </a>
              <ul class="dropdown-menu">

                {% if current_user.instance_admins_metadata %}
                  <li>
                    <a href="{{ current_user.user_menu_instance_admin_path}}" class='nav-link dropdown-toggle' target='_blank'>
                      <span>{{ 'top_navbar.marketplace_admin' | t }}</span>
                    </a>
                  </li>
                {% endif %}

                <li>
                  <a class="nav-link" href="{{ 'dashboard_company_transactable_type_transactables_path' | generate_url: platform_context.transactable_types.first.id }}">
                    My Items
                  </a>
                </li>

                <li>
                  <a href="{{ 'dashboard_company_orders_received_index_path' | generate_url }}" class="nav-link">
                    {{ 'dashboard.nav.orders_received' | t }}
                    {% if unconfirmed_orders_count > 0 %}
                      <span class="count">{{ unconfirmed_orders_count }}</span>
                    {% endif %}
                  </a>
                </li>

                <li>
                  <a href="{{ 'dashboard_orders_path' | generate_url }}" class="nav-link">
                    {{ 'dashboard.nav.orders' | t }}
                  </a>
                </li>

                {% if platform_context.wish_lists_enabled? %}
                  {% comment %} Favorites menu {% endcomment %}
                  {% assign show = 'dashboard/wish_list_items' | is_visible %}
                  {% if show %}
                    {% assign path = 'dashboard_wish_list_items_path' | generate_url %}
                    {% assign selected = current_path | matches: path %}
                    <li>
                      <a class="nav-link" href="{{ path }}">{{ 'wish_lists.name' | t }}</a>
                    </li>
                  {% endif %}
                {% endif %}

                <li>
                  <a class="nav-link" href="{{ 'dashboard_profile_path' | generate_url }}">Edit Profile</a>
                </li>

                {% if current_user.has_buyer_profile? %}
                  <li>
                    <a class="nav-link" href="{{ 'user_path' | generate_url: current_user.id }}">View Profile</a>
                  </li>
                {% endif %}

                <li><a data-user="{{ current_user.first_name }}" rel="nofollow" data-method="delete" href="{{ 'destroy_user_session_path' | generate_url }}" class="nav-link">Log Out</a></li>
              </ul>
            </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
</header>
