{% assign photos = listing.photos %}
{% assign photos_count = photos | size %}

<div class="wrapper-a">

  <div class="item-content">

    <div class="item-header">
      {% include 'shared/components/wish_list_button_injection', object: listing %}
      <h1 class="item-name">{{ listing.name | filter_text }}</h1>
    </div>

    <div class="user-info">
      <img src="{{ listing.creator.avatar_url_thumb }}" alt="{{ listing.creator.name }}" class="avatar">
      <h2>by: <a href="{{ listing.creator.user_profile_url }}">{{ listing.creator.name }}</a></h2>

      <ul class="user-actions">
        <li>
          {% if listing.transactable_user_messages.size > 0 %}
            <a class="button button-inverse button-small" data-modal="true" data-href="{{ 'dashboard_user_message_path' | generate_url: listing.transactable_user_messages.first.id, skip: true }}">Message</a>
          {% else %}
            <a class="button button-inverse button-small" data-modal="true" data-href="{{ 'new_listing_user_message_path' | generate_url: listing.id ,user_id: listing.creator.id, skip: true }}">Message</a>
          {% endif %}
        </li>
        <li><a href="{{ listing.creator.user_profile_url }}" class="button button-inverse button-small">Show Closet</a></li>
        {% if listing.creator.has_active_blog? %}
          <li><a href="{{ listing.creator.user_blog_posts_list_path }}" class="button button-inverse button-small">Blog</a></li>
        {% endif %}
      </ul>
    </div>

    <div class="image-gallery" data-image-gallery>
      <div class="image-gallery__container">
      {% if photos_count > 0 %}
        <div class="image-gallery__container-image" style="background-image: url('{{ photos[0].original }}'); background-size: contain;" data-image-gallery-full-image="{{ photos[0].original }}"></div>
      {% endif %}
      </div>

      <div class="image-gallery__controls-container">
        <ul class="image-gallery__zoom-controls">
          <li><a href="#" data-toggle="modal" data-target="#fullscreen-gallery" data-image-gallery-fullscreen><i class="fa fa-arrows-alt" aria-hidden="true"></i></a></li>
          <li><a href="#" data-image-gallery-zoom="+1"><i class="fa fa-plus" aria-hidden="true"></i></a></li>
          <li><a href="#" data-image-gallery-zoom="-1"><i class="fa fa-minus" aria-hidden="true"></i></a></li>
        </ul>

          {% if photos_count > 1 %}
            <ul class="image-gallery__list">
              {% assign index = 0 %}
              {% for photo in photos %}
                <li data-image-gallery-image><a href="{{ photo.original }}"><img src="{{ photo.space_listing }}" alt="{{ listing.name | filter_text }}"></a></li>
              {% endfor %}
            </ul>
          {% endif %}
      </div>
    </div> <!-- Image gallery -->
  </div> <!-- Item content -->

  <div class="item-sidebar">

    <div class="item-actions">
      <ul>
        <li>
          <form id="order_form_{{ listing.id }}" novalidate="novalidate" class="order" action="{{ 'listing_orders_path' | generate_url: listing }}" accept-charset="UTF-8" method="post">
            <input name="utf8" type="hidden" value="">
            <input name="authenticity_token" value="{{ form_authenticity_token }}" data-authenticity-token type="hidden">
            <input value="{{ listing.id }}" type="hidden" name="order[transactable_id]" id="order_transactable_id">
            <input value="{{ listing.action_type.pricings.first.id }}" type="hidden" name="order[transactable_pricing_id]" id="order_transactable_pricing_id">
            <input type="submit" class="button button-default" value="REQUEST ITEM">
          </form>
        <li><a data-listing-availability-toggle data-listing-availability-periods={{ listing.unavailable_periods }} class="button button-secondary datetimepicker"><input type="hidden" />CHECK AVAILABILITY</a></li>
      </ul>
    </div> <!-- Item actions -->

    <div class="item-pricing">
      <dl class="price">
        {% for price in listing.action_type.sorted_pricings %}
          <dt>{{ price.number_of_units }} days </dt>
          <dd>{{ price.price.amount | price_with_cents_with_currency }} AUD</dd>
        {% endfor %}
      </dl>
      {% if listing.properties.retail_value != blank %}
      <dl class="retail-value">
        <dt>Retail value:</dt>
        <dd>{{ listing.properties.retail_value | price_with_cents_with_currency }} AUD</dd></dd>
      </dl>
      {% endif %}

      {% if listing.properties.bond_value != blank %}
      <dl class="bond-value">
        <dt>Bond value:</dt>
        <dd>{{ listing.properties.bond_value | price_with_cents_with_currency}} AUD</dd>
      </dl>
      {% endif %}
    </div>

    <div class="item-details">
     <ul>
        <li class="active">
          <a data-toggle='tab' href='#tab-details'>DETAILS</a>
        </li>
        <li>
          <a data-toggle='tab' href='#tab-description'>DESCRIPTION</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab-details">
          <dl>
            <dt>Item:</dt> <dd>{{ listing.properties.item_type }}</dd>
            {% if listing.properties.item_type == 'Dress' %}
              {% if listing.properties.item_style_dress != blank %}
                <dt>Style:</dt> <dd>{{ listing.properties.item_style_dress | split: ',' | join: ', ' }}</dd>
              {% endif %}
              <dt>Size:</dt> <dd>{{ listing.properties.dress_size }}</dd>
              <dt>Length:</dt> <dd>{{ listing.properties.dress_length }}</dd>
            {% elsif listing.properties.item_type == 'Bag' %}
              {% if listing.properties.item_style_bag != blank %}
                <dt>Style:</dt> <dd>{{ listing.properties.item_style_bag | split: ',' | join: ', ' }}</dd>
              {% endif %}
              <dt>Length:</dt> <dd>{{ listing.properties.dress_length }}</dd>
            {% elsif listing.properties.item_type == 'Millinery' %}
              {% if listing.properties.item_style_milinery != blank %}
                <dt>Style:</dt> <dd>{{ listing.properties.item_style_milinery | split: ',' | join: ', ' }}</dd>
              {% endif %}
              <dt>Size:</dt> <dd>{{ listing.properties.milinery_size }}</dd>
            {% elsif listing.properties.item_type == 'Outerwear' %}
              {% if listing.properties.item_style_outerwear != blank %}
                <dt>Style:</dt> <dd>{{ listing.properties.item_style_outerwear | split: ',' | join: ', ' }}</dd>
              {% endif %}
              <dt>Size:</dt> <dd>{{ listing.properties.outerwear_size }}</dd>
            {% elsif listing.properties.item_type == 'Accessories' %}
              {% if listing.properties.item_style_accessories != blank %}
                <dt>Style:</dt> <dd>{{ listing.properties.item_style_accessories | split: ',' | join: ', ' }}</dd>
              {% endif %}
            {% endif %}
            <dt>Color:</dt> <dd>{{ listing.properties.color }}</dd>
            <dt>Designer:</dt> <dd>{{ listing.properties.designer_name }}</dd>
            <dt>Location:</dt> <dd>{{ listing.location.city }}, {{ listing.location.state }}</dd>
            <dt>Dry Cleaning:</dt>  <dd>{{ listing.properties.dry_cleaning }}</dd>
          </dl>
        </div>
        <div class="tab-pane" id="tab-description">
          <p>
            {{ listing.description | filter_text | custom_sanitize }}
          </p>
        </div>
      </div>
    </div> <!-- Item details -->
  </div> <!-- Item sidebar -->


  {% if listing.tags.size > 0 %}
    <div class="item-tags" data-item-tags>
      <h4>Tags:</h4>
      <ul>
        {% for tag in listing.tags %}
          {% if forloop.index <= 5 %}
            <li><a href="#" class="button button-inverse">{{ tag.name }}</a></li>
          {% else %}
            <li class="item-tags__hide" data-item-tags-hidden><a href="#" class="button button-inverse">{{ tag.name }}</a></li>
          {% endif %}

          {% if listing.tags.size > 5 %}
            {% if forloop.index == listing.tags.size %}
              <li class="item-tags__view-more" data-item-tags-toggle><a href="#" class="button button-inverse">view more</a></li>
            {% endif %}
          {% endif %}
        {% endfor %}
      </ul>
    </div> <!-- Item tags -->
  {% endif %}

  <div class="item-disclaimers">
    <h5 class="text-center">Cancellation Policy</h5>
    <h2 class="text-center">What You Need To Know</h2>

    <div class="cancellation-policy">
      <h3>Cancellation Policies</h3>

      <p>All users must comply with a standardised cancellation policy that The Volte will enforce to protect both Borrower and Lender alike. Each listing and reservation on our site reminds users of the cancellation policy.</p>

      <p>A lender can cancel an order at any time prior to shipping without a liability to the Borrower. All amounts paid by the Borrower to the Lender will be refunded to the Borrower minus any service fees owed or paid to The Volte.</p>

      <p>A Borrower can cancel an order 24 or more hours ahead of shipping without any liability to the Lender. All amounts paid by the Borrower to the Lender will be refunded minus any service fees owed or paid to The Volte.</p>

      <p>A Borrower can cancel an order within the 24 hour from the shipping time and the lender will retain 20% of the rental cost. The remaining 80% of the Rental Fee will be refunded to the Borrower minus any service fees owed or paid to The Volte.</p>

      <p><a href='/terms-of-service'>View Cancellation Policy Details ></a></p>
    </div>
  </div>
</div> <!-- Wrapper -->


<div id="fullscreen-gallery" class="modal hide fade modal-fullscreen" aria-hidden="true" aria-labelledby="fullscreen-gallery-label" role="dialog" tabindex="-1">
  <div id="fullscreen-gallery-content" class="modal-body">
    <div class="listing-photos" data-photo-aspect-w="895" data-photo-aspect-h="554">
      <div class="carousel" id="photos-container-enlarged" style="height: auto;">
        <div class="carousel-inner"></div>
        <button class="btn close" type="button" data-dismiss="modal"><span class="ico-close"></span></button>
      </div>
    </div>
  </div>
</div>
