---
partial: false
---
<div class="wrapper-a">
  <main class="user-closet">

    <header class="user-closet-header">
      <img src="{{ user.avatar_url_big }}" alt="{{ user.name }}">
      <h1>{{ user.name }}</h1>
    </header>

    <section class="user-closet-listing">
      {% for listing in user.listings %}
        {% assign photos = listing.photos %}

          <article class="transactable-listing-item" data-listing>
            <a href="{{ listing.show_path }}" class="listing-link">
              <figure>
                <img src="{{ listing.photos[0].large }}" />
                <figcaption>
                  {% assign price_option = listing | lowest_price_without_cents_with_currency %}
                  <dl class="rent-price">
                    <dt>Rent</dt>
                    <dd>{{ price_option.price }}</dd>
                  </dl>

                  <dl class="retail-bond-value">
                    <dt>Bond</dt>
                    <dd>{{ listing.properties.bond_value | price_without_cents_with_currency }}</dd>
                    {% if listing.properties.retail_value != blank %}
                    <dt>Retail</dt>
                    <dd>{{ listing.properties.retail_value | price_without_cents_with_currency }}</dd>
                    {% endif %}
                  </dl>


                  {% if listing.properties.designer_name != blank %}
                    <span class="designer">{{ listing.properties.designer_name }}</span>
                  {% endif %}
                </figcaption>
              </figure>
            </a>

            <div data-add-favorite-button="true" data-path="{{ listing.wish_list_path }}" data-wishlistable-type="{{ listing.class_name }}" data-link-to-classes="" data-path-bulk="{{ listing.wish_list_bulk_path }}" data-object-id="{{ listing.id }}" id="favorite-button-{{ listing.class_name }}-{{ listing.id }}"></div>
          </article>
      {% endfor %}
    </section>
  </main>

  <aside class="user-sidebar">
    {% if request_referer != blank %}
      <a href="{{ request_referer }}">&laquo; Back</a>
    {% endif %}

    <ul class="user-actions">
      {% if user.has_active_blog? %}
        <li>
          <a href="{{ user.user_blog_posts_list_path }}" class="button button-inverse">Read Blog</a>
        </li>
      {% endif %}

      <li>
        <a class="button button-inverse" href="{{user.user_message_path}}" rel="modal">Message</a>
      </li>

      <li>
        {{ user.click_to_call_button }}
      </li>
    </ul>

    {% if user.properties.biography != blank %}
      <p class="text-bold">
        {{ 'general.about' | translate }}
        {{ user.name }}
        {{ user.properties.biography | nl2br }}
      </p>

      <hr />
    {% endif %}

    {% assign listings_count = user.listings | size %}

    <ul>
      <li>
        <strong>{{ listings_count }}</strong> {{ 'transactables.items_listed' | translate }}
      </li>
      <li>
        <strong>{{ user.completed_host_reservations_count }}</strong> {{ 'transactables.items_rented' | translate }}
      </li>
      <li>
        {{ 'registrations.member_since' | translate }} <strong>{{ user.created_at | to_date | l: 'short' }}</strong>
      </li>
    </ul>

    <hr />

    <p class="verified-user"><strong>Lender verified</strong></p>

    <hr />

    <p class="report-user">
      <a href="#" data-href="{{ user.inappropriate_report_path }}" data-modal="1">{{ 'inappropriate_reports.flag_as_inappropriate' | translate }}</a>
    </p>
  </aside>
</div> <!-- Wrapper -->
