---
partial: false
---

{% assign xhr = params['is_xhr'] == 'true' %}

{% unless xhr %}
<div class="wrapper-a search-list">
  <div class="search-box">
    <form class="search-form" action="/search" method="GET" data-search-form="filters" data-search-form-container>
      <input type="text" name="query" placeholder="Enter keywords to search for items" data-search-form="query" autofocus="autofocus" value="{{ params['query'] }}" />
      <button class="button button-default" data-search-form="submit">SEARCH</button>
    </form>
  </div>

  <aside class="search-sidebar">
    <h4>Filter by:</h4>
    <form class="form-horizontal no-inheritance" data-search-form="filters">
      <ul>
        {% assign attributes = searcher.filterable_custom_attributes | reverse %}
        {% for ca in attributes %}
        <li {{ ca.wrapper_html_options }}>
          <fieldset>
            <legend>{{ ca.label }}</legend>
            <select {{ ca.input_html_options }} class="form-control custom-select" name="lg_custom_attributes[{{ ca.name }}][]" id="">
              <option value="">Please select</option>
              {% for opt in ca.valid_values %}
                <option value="{{ opt }}" {% if params['lg_custom_attributes']['item_type'][0] == opt %}selected{% endif %}>{{ opt }}</option>
              {% endfor %}
            </select>
          </fieldset>
        </li>
        {% endfor %}
        <li>
          <fieldset>
            <legend>Location</legend>
            <input type="text" name="item_location_city" id="item_location_city" placeholder="City" />
            <select class="form-control custom-select" name="item_location_state" id="item_location_state">
              <option value="">Select State</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </fieldset>
        </li>
        <li>
          <fieldset>
            <legend>Availability</legend>
            <ul>
              <li>
                <label class="availability-filter datetimepicker">
                  <i class="fa fa-calendar"></i>
                  From:
                  <input type="text" name="availability_exceptions[from]-datetimepicker" class="form-control" data-availability-filter="from" />
                  <input type="hidden" name="availability_exceptions[from]" />
                </label>
              </li>
              <li>
                <label class="availability-filter datetimepicker">
                  <i class="fa fa-calendar"></i>
                  To:
                  <input type="text" name="availability_exceptions[to]-datetimepicker" class="form-control" data-availability-filter="to" />
                  <input type="hidden" name="availability_exceptions[to]" />
                </label>
              </li>
            </ul>
          </fieldset>
        </li>
        <li>
          <fieldset>
            <legend>Price</legend>
            <input type="hidden" name="price[min]" value="0" data-price-min-input />
            <select class="form-control custom-select" name="price[max]" id="price" data-price-select>
              <option value="">Please select</option>
              <option value="50">Under $50</option>
              <option value="100">Under $100</option>
              <option value="200">Under $200</option>
              <option value="300">Under $300</option>
              <option value="400">Under $400</option>
              <option value="500">Under $500</option>
              <option value="1000000" data-price-min="500">$500+</option>
            </select>
          </fieldset>
        </li>
      </ul>
    </form>
  </aside>
{% endunless %}

  <main class="search-results" data-search-form="results">
    <div class="search-results__summary">
      <div class="results-number">
        <p>{{ searcher.result_count }} Results</p>
      </div>

      <div class="results-sorting">
        <form class="form-inline" data-search-form="filters">
          <label for="sort_by">
            Sort by:
            <select class="form-control" name="sort" id="sort_by">
              <option value="name_asc" {% if searcher.sort == 'name_asc' %}selected{% endif %}>Item name ascending</option>
              <option value="name_desc" {% if searcher.sort == 'name_desc' %}selected{% endif %}>Item name descending</option>
              <option value="all_prices_asc" {% if searcher.sort == 'all_prices_asc' %}selected{% endif %}>Price ascending</option>
              <option value="all_prices_desc" {% if searcher.sort == 'all_prices_desc' %}selected{% endif %}>Price descending</option>
              <option value="created_at_desc" {% if searcher.sort == 'created_at_desc' %}selected{% endif %}>Date entered</option>
              <option value="popularity" {% if searcher.sort == 'popularity' %}selected{% endif %}>Popularity</option>
            </select>
          </label>
        </form>
      </div>
    </div>

    <section class="search-results__items">
      {% for listing in searcher.results %}
        <article data-listing>
          <div class="item-description">
            <h2><a href="{{ listing.show_path }}" data-listing-path>{{ listing.name }}</a></h2>
            {% if listing.properties.designer_name != blank %}
              <h4 class="item-designer">
                <strong>Designer:</strong>
                {{ listing.properties.designer_name }}
              </h4>
            {% endif %}
          </div>

          <div class="item-photo">
            <img src="{{ listing.photos[0].large }}" />
          </div>

          <div class="item-actions">
            <ul>
              <li class="item-actions__primary">
                <form id="order_form_{{ listing.id }}" novalidate="novalidate" class="order" action="{{ 'listing_orders_path' | generate_url: listing }}" accept-charset="UTF-8" method="post">
                  <input name="utf8" type="hidden" value="">
                  <input name="authenticity_token" value="{{ form_authenticity_token }}" data-authenticity-token type="hidden">
                  <input value="{{ listing.id }}" type="hidden" name="order[transactable_id]" id="order_transactable_id">
                  <input value="{{ listing.action_type.pricings.first.id }}" type="hidden" name="order[transactable_pricing_id]" id="order_transactable_pricing_id">
                  <input type="submit" class="button button-default" value="REQUEST ITEM">
                </form>
              </li>
              <li>
                <a data-listing-availability-toggle data-listing-availability-periods={{ listing.unavailable_periods }} class="datetimepicker button button-secondary">
                  <input type="hidden" />
                  CHECK AVAILABILITY
                </a>
              </li>
              <li class="item-actions__secondary">
                <div data-add-favorite-button="true" data-path="{{ listing.wish_list_path }}" data-wishlistable-type="{{ listing.class_name }}" data-link-to-classes="" data-path-bulk="{{ listing.wish_list_bulk_path }}" data-object-id="{{ listing.id }}" id="favorite-button-{{ listing.class_name }}-{{ listing.id }}">
                  <div class="text-center"><img src="{{ 'components/modal/loader.gif' | image_url }}" /></div>
                </div>
              </li>
              {% if listing.creator.has_active_blog? %}
                <li class="item-actions__secondary">
                  <a href="{{ listing.creator.user_blog_posts_list_path }}" class="button button-inverse button-small">Lender's Blog</a>
                </li>
              {% endif %}
            </ul>

            <div class="item-pricing">
              <dl>
                {% for price in listing.action_type.sorted_pricings %}
                  <dt>{{ price.number_of_units }} days: </dt>
                  <dd>${{ price.price.amount }} AUD</dd>
                {% endfor %}
                <dt>Bond value: </dt>
                <dd>${{ listing.properties.bond_value }} AUD</dd>
              </dl>
            </div>
          </div>

          <div class="item-info">
            <p>
              <strong>Lender:</strong>
              {% if listing.creator.properties.use_alias_as_name == '1' %}{{ listing.creator.properties.user_alias }}{% else %}{{ listing.creator.name }}{% endif %}
            </p>

            <ul>
              {% if listing.transactable_user_messages.size > 0 %}
                <li>
                  <a class="button button-inverse button-small" data-modal="true" data-href="{{ 'dashboard_user_message_path' | generate_url: listing.transactable_user_messages.first.id, skip: true }}">Message</a>
                </li>
              {% else %}
                <li>
                  <a class="button button-inverse button-small" data-modal="true" data-href="{{ 'new_listing_user_message_path' | generate_url: listing.id, user_id: listing.creator.id, skip: true }}">Message</a>
                </li>
              {% endif %}
              <li>
                <a class="button button-inverse button-small" href="{{ listing.creator.user_profile_url }}">Lender's Closet</a>
              </li>
            </ul>
          </div>

        </article>
      {% endfor %}
    </section>
  </main>
{% unless xhr %}
</div>
{% endunless %}
