---
partial: false
---
{% assign xhr = params['is_xhr'] == 'true' %}
{% unless xhr %}
<div class="wrapper-a search-list">
  <div class="search-box">
    <form class="search-form" action="/search" method="GET" data-search-form="filters" data-search-form-container>
      <input type="hidden" name="per_page" value="{{ searcher.per_page }}" id="input-per-page">
      <input type="hidden" name="page" value="{{ searcher.current_page }}" id="input-page">
      <input type="text" name="query" placeholder="Enter keywords to search for items" data-search-form="query" autofocus="autofocus" value="{{ params['query'] }}" />
      <button class="button button-default" data-search-form="submit">SEARCH</button>
    </form>
  </div>

  <aside class="search-sidebar">
    <button data-toggle-search-filters class="button button-default search-sidebar__filter-search-button">Filter search</button>
    <h4>Filter by:</h4>
    <form class="form-horizontal no-inheritance" data-search-form="filters">
      <ul>

        {% cache_for searcher.filterable_custom_attributes_hash %}
          {% assign attributes = searcher.filterable_custom_attributes_hash %}

          <li {{ attributes.item_type.wrapper_html_options }}>
            <fieldset>
              <legend>{{ attributes.item_type.label }}</legend>
              <select {{ attributes.item_type.input_html_options }} class="form-control custom-select" name="lg_custom_attributes[{{ attributes.item_type.name }}][]" id="">
                <option value="">Please select</option>
                {% for opt in attributes.item_type.valid_values %}
                  <option value="{{ opt }}" {% if params['lg_custom_attributes']['item_type'][0] == opt %}selected{% endif %}>{{ opt }}</option>
                {% endfor %}
              </select>
            </fieldset>
          </li>

          <li {{ attributes.item_style_bag.wrapper_html_options }}>
            <fieldset>
              <legend>{{ attributes.item_style_bag.label }}</legend>
              <select {{ attributes.item_style_bag.input_html_options }} class="form-control custom-select" name="lg_custom_attributes[{{ attributes.item_style_bag.name }}][]" id="">
                <option value="">Please select</option>
                {% for opt in attributes.item_style_bag.valid_values %}
                  <option value="{{ opt }}" {% if params['lg_custom_attributes']['item_style_bag'][0] == opt %}selected{% endif %}>{{ opt }}</option>
                {% endfor %}
              </select>
            </fieldset>
          </li>

          <li {{ attributes.item_style_milinery.wrapper_html_options }}>
            <fieldset>
              <legend>{{ attributes.item_style_milinery.label }}</legend>
              <select {{ attributes.item_style_milinery.input_html_options }} class="form-control custom-select" name="lg_custom_attributes[{{ attributes.item_style_milinery.name }}][]" id="">
                <option value="">Please select</option>
                {% for opt in attributes.item_style_milinery.valid_values %}
                  <option value="{{ opt }}" {% if params['lg_custom_attributes']['item_style_milinery'][0] == opt %}selected{% endif %}>{{ opt }}</option>
                {% endfor %}
              </select>
            </fieldset>
          </li>

          <li {{ attributes.milinery_size.wrapper_html_options }}>
            <fieldset>
              <legend>{{ attributes.milinery_size.label }}</legend>
              <select {{ attributes.milinery_size.input_html_options }} class="form-control custom-select" name="lg_custom_attributes[{{ attributes.milinery_size.name }}][]" id="">
                <option value="">Please select</option>
                {% for opt in attributes.milinery_size.valid_values %}
                  <option value="{{ opt }}" {% if params['lg_custom_attributes']['milinery_size'][0] == opt %}selected{% endif %}>{{ opt }}</option>
                {% endfor %}
              </select>
            </fieldset>
          </li>

          <li {{ attributes.dress_size.wrapper_html_options }}>
            <fieldset>
              <legend>{{ attributes.dress_size.label }}</legend>
              <select {{ attributes.dress_size.input_html_options }} class="form-control custom-select" name="lg_custom_attributes[{{ attributes.dress_size.name }}][]" id="">
                <option value="">Please select</option>
                {% for opt in attributes.dress_size.valid_values %}
                  <option value="{{ opt }}" {% if params['lg_custom_attributes']['dress_size'][0] == opt %}selected{% endif %}>{{ opt }}</option>
                {% endfor %}
              </select>
            </fieldset>
          </li>

          <li {{ attributes.designer_name.wrapper_html_options }}>
            <fieldset>
              <legend>{{ attributes.designer_name.label }}</legend>
              <select {{ attributes.designer_name.input_html_options }} class="form-control custom-select" name="lg_custom_attributes[{{ attributes.designer_name.name }}][]" id="">
                <option value="">Please select</option>
                {% for opt in attributes.designer_name.valid_values %}
                  <option value="{{ opt }}" {% if params['lg_custom_attributes']['designer_name'][0] == opt %}selected{% endif %}>{{ opt }}</option>
                {% endfor %}
              </select>
            </fieldset>
          </li>

          <li {{ attributes.color.wrapper_html_options }}>
            <fieldset>
              <legend>{{ attributes.color.label }}</legend>
              <select {{ attributes.color.input_html_options }} class="form-control custom-select" name="lg_custom_attributes[{{ attributes.color.name }}][]" id="">
                <option value="">Please select</option>
                {% for opt in attributes.color.valid_values %}
                  <option value="{{ opt }}" {% if params['lg_custom_attributes']['color'][0] == opt %}selected{% endif %}>{{ opt }}</option>
                {% endfor %}
              </select>
            </fieldset>
          </li>

          <li {{ attributes.dress_length.wrapper_html_options }}>
            <fieldset>
              <legend>{{ attributes.dress_length.label }}</legend>
              <select {{ attributes.dress_length.input_html_options }} class="form-control custom-select" name="lg_custom_attributes[{{ attributes.dress_length.name }}][]" id="">
                <option value="">Please select</option>
                {% for opt in attributes.dress_length.valid_values %}
                  <option value="{{ opt }}" {% if params['lg_custom_attributes']['dress_length'][0] == opt %}selected{% endif %}>{{ opt }}</option>
                {% endfor %}
              </select>
            </fieldset>
          </li>

          <li {{ attributes.outerwear_size.wrapper_html_options }}>
            <fieldset>
              <legend>{{ attributes.outerwear_size.label }}</legend>
              <select {{ attributes.outerwear_size.input_html_options }} class="form-control custom-select" name="lg_custom_attributes[{{ attributes.outerwear_size.name }}][]" id="">
                <option value="">Please select</option>
                {% for opt in attributes.outerwear_size.valid_values %}
                  <option value="{{ opt }}" {% if params['lg_custom_attributes']['outerwear_size'][0] == opt %}selected{% endif %}>{{ opt }}</option>
                {% endfor %}
              </select>
            </fieldset>
          </li>

          <li {{ attributes.item_style_accessories.wrapper_html_options }}>
            <fieldset>
              <legend>{{ attributes.item_style_accessories.label }}</legend>
              <select {{ attributes.item_style_accessories.input_html_options }} class="form-control custom-select" name="lg_custom_attributes[{{ attributes.item_style_accessories.name }}][]" id="">
                <option value="">Please select</option>
                {% for opt in attributes.item_style_accessories.valid_values %}
                  <option value="{{ opt }}" {% if params['lg_custom_attributes']['item_style_accessories'][0] == opt %}selected{% endif %}>{{ opt }}</option>
                {% endfor %}
              </select>
            </fieldset>
          </li>

          <li {{ attributes.item_style_dress.wrapper_html_options }}>
            <fieldset>
              <legend>{{ attributes.item_style_dress.label }}</legend>
              <select {{ attributes.item_style_dress.input_html_options }} class="form-control custom-select" name="lg_custom_attributes[{{ attributes.item_style_dress.name }}][]" id="">
                <option value="">Please select</option>
                {% for opt in attributes.item_style_dress.valid_values %}
                  <option value="{{ opt }}" {% if params['lg_custom_attributes']['item_style_dress'][0] == opt %}selected{% endif %}>{{ opt }}</option>
                {% endfor %}
              </select>
            </fieldset>
          </li>

          <li {{ attributes.item_style_outerwear.wrapper_html_options }}>
            <fieldset>
              <legend>{{ attributes.item_style_outerwear.label }}</legend>
              <select {{ attributes.item_style_outerwear.input_html_options }} class="form-control custom-select" name="lg_custom_attributes[{{ attributes.item_style_outerwear.name }}][]" id="">
                <option value="">Please select</option>
                {% for opt in attributes.item_style_outerwear.valid_values %}
                  <option value="{{ opt }}" {% if params['lg_custom_attributes']['item_style_outerwear'][0] == opt %}selected{% endif %}>{{ opt }}</option>
                {% endfor %}
              </select>
            </fieldset>
          </li>
        {% endcache_for %}

        <li>
          <fieldset>
            <legend>Item Location</legend>
            <input type="text" name="item_location_city" id="item_location_city" placeholder="City" />
          </fieldset>
        </li>
        <li>
          <fieldset>
            <legend>Item Availability</legend>
            <ul>
              <li>
                <label class="availability-filter datetimepicker">
                  <i class="fa fa-calendar"></i>
                  From:
                  <input type="text" name="availability_exceptions[from]-datetimepicker" class="form-control" data-availability-filter="from" />
                  <input type="hidden" name="availability_exceptions[from]" />
                </label>
              </li>
              <li>
                <label class="availability-filter datetimepicker">
                  <i class="fa fa-calendar"></i>
                  To:
                  <input type="text" name="availability_exceptions[to]-datetimepicker" class="form-control" data-availability-filter="to" />
                  <input type="hidden" name="availability_exceptions[to]" />
                </label>
              </li>
            </ul>
          </fieldset>
        </li>
        <li>
          <fieldset>
            <legend>Price</legend>
            <input type="hidden" name="price[min]" value="0" data-price-min-input />
            <select class="form-control custom-select" name="price[max]" id="price" data-price-select>
              <option value="">Please select</option>
              <option value="50">Under $50</option>
              <option value="100">Under $100</option>
              <option value="200">Under $200</option>
              <option value="300">Under $300</option>
              <option value="400">Under $400</option>
              <option value="500">Under $500</option>
              <option value="1000000" data-price-min="500">$500+</option>
            </select>
          </fieldset>
        </li>
      </ul>
    </form>
  </aside>
{% endunless %}

  <main class="search-results" data-search-form="results">
    {% if searcher.results.size == 0 %}
      <p class="empty-resultset">
        There are no results to show.
      </p>
    {% else %}
      <div class="search-results__summary">
        <div class="results-number">
          <p>{{ searcher.result_count }} Results</p>
        </div>

        <div class="results-sorting">
          <form class="form-inline" data-search-form="filters">
            <label for="sort_by">
              Sort by:
              <select class="form-control" name="sort" id="sort_by">
                <option value="name_asc" {% if searcher.sort == 'name_asc' %}selected{% endif %}>Item name ascending</option>
                <option value="name_desc" {% if searcher.sort == 'name_desc' %}selected{% endif %}>Item name descending</option>
                <option value="all_prices_asc" {% if searcher.sort == 'all_prices_asc' %}selected{% endif %}>Price ascending</option>
                <option value="all_prices_desc" {% if searcher.sort == 'all_prices_desc' %}selected{% endif %}>Price descending</option>
                <option value="created_at_desc" {% if searcher.sort == 'created_at_desc' or searcher.sort == 'relevance' %}selected{% endif %}>Newest</option>
                <option value="popularity" {% if searcher.sort == 'popularity' %}selected{% endif %}>Popularity</option>
              </select>
            </label>
          </form>
        </div>
      </div>

      <section class="search-results__items">
        {% for listing in searcher.results %}
          <article class="transactable-listing-item" data-listing>
            <a href="{{ listing.show_path }}" class="listing-link">
              <figure>
                <img src="{{ listing.photos[0].large }}" />
                <figcaption>
                  {% assign price_option = listing | lowest_price_without_cents_with_currency %}
                  <dl class="rent-price">
                    <dt>Rent</dt>
                    <dd>{{ price_option.price }}</dd>
                  </dl>

                  {% if listing.properties.designer_name != blank %}
                    <span class="designer"><span>by</span> {{ listing.properties.designer_name }}</span>
                  {% endif %}
                </figcaption>
              </figure>
            </a>

            <div data-add-favorite-button="true" data-path="{{ listing.wish_list_path }}" data-wishlistable-type="{{ listing.class_name }}" data-link-to-classes="" data-path-bulk="{{ listing.wish_list_bulk_path }}" data-object-id="{{ listing.id }}" id="favorite-button-{{ listing.class_name }}-{{ listing.id }}"></div>

            <a href="{{ listing.creator.user_profile_url }}" class="lender-link">
              <img src="{{ listing.creator.avatar_url_thumb }}" alt="{% if listing.creator.properties.use_alias_as_name == '1' %}{{ listing.creator.properties.user_alias }}{% else %}{{ listing.creator.name }}{% endif %}">
            </a>
          </article>
        {% endfor %}
      </section>

      {% if searcher.next_page %}
      <p class="search-results-more-trigger">
        <button type="button" class="button button-default" data-page='{{ searcher.next_page }}'>More Results</button>
      </p>
      {% endif %}
    {% endif %}
  </main>
{% unless xhr %}
</div>
{% endunless %}

