---
partial: false
---

<h2>{{ waiver_agreement_template.name }}</h2>

<p><strong>{{ current_user.name }}</strong> agrees to:</p>

{{ waiver_agreement_template.content }}

<ul>
  <li>For Item: <strong>{{ @transactable.name }}</strong></li>
  <li>Bond Value: <strong>{{ transactable.properties.bond_value }}</strong></li>
</ul>
