- title t('reservations.rfq_long')

%section.dashboard
  .row-fluid
    .span8.offset2
      .box
        %header
          %ul.location-and-listings
            %li.location
              .name.left
                = "#{t('reservations.rfq_long')}"
              .right
                %legend.filter
                  %span
                    = support_link_to_filter(@filter, 'open')
                  %span
                    = support_link_to_filter(@filter, 'resolved')
                  %span
                    = support_link_to_filter(@filter, 'all')
        %ul.location-and-listings
          = render partial: 'ticket', collection: @tickets
        = will_paginate @tickets
