<h2>Welcome, {{ user.first_name }}!</h2>
<p>Congratulations on taking the first step to being part of this team! We are excited to welcome you to {{ platform_context.name }}, the fastest-growing community to find and list {{ platform_context.bookable_noun_plural }}.</p>
<p><strong>Find the perfect {{ platform_context.bookable_noun }}</strong> - we'll help you find the right {{ platform_context.bookable_noun }}. <i>To us, the perfect {{ platform_context.bookable_noun }} means the perfect experience too. We're working hard to make sure you have a great experience once you've selected your {{ platform_context.bookable_noun }}.</i></p>
<p><strong>List your {{ platform_context.bookable_noun_plural }}</strong> - reduce overhead, expand your networks and access tools to easily manage your {{ platform_context.bookable_noun }} and payments.</p>
<p>Easy, right? Start searching now! <a href="{{ platform_context.host | append:user.search_url_with_tracking | append:signature_for_tracking }}">Find or list your {{ platform_context.bookable_noun }}</a>.</p>
<p>We'd love to hear from you. If you have any questions or feedback, please reach out to us through a reply.</p>
<p>Cheers,</p>
<p>
The {{ platform_context.name }} Team
<br />

