<h2>Hi {{ user.first_name }}!</h2>

<p>We'd like to invite you to participate in our {{ platform_context.name }} marketplace at <a href="{{ platform_context.host }}">{{ platform_context.host }}.</a> We created an account for you to join us and start participating today.</p>

<p>Your login details are –</p>

<p>
Email: {{ user.email }}
<br />
Password: {{ user_password }}
</p>

<p>Your feedback means a lot to us, so please let us know if you have any questions or concerns.</p>

<p>– {{ platform_context.name }} Team</p>
