<h2>Welcome, {{ user.first_name }}!</h2>

<p>We have created an account for you at <a class="btn" href="{{ platform_context.host }}">{{ platform_context.host }}</a>
 }}. Your login details are –</p>

<p>
Email: {{ user.email }}
<br />
Password: {{ user_password }}
</p>

This is one time email.

Best regards

