- title t('saved_searches.nav.index')

- content_for :page_header do
  %h1= yield :title


.panel
  .panel-body
    = form_tag change_alerts_frequency_dashboard_saved_searches_path do
      .form-group.search-frequency
        = label_tag :alerts_frequency, t('saved_searches.headers.alerts_frequency'), class: 'control-label'
        = select_tag :alerts_frequency, options_for_select(SavedSearch::ALERTS_FREQUENCIES.map { |af| [t(af, scope: :general), af] }, current_user.saved_searches_alerts_frequency), :'data-alerts-frequency' => true, class: 'selectize form-control'

    - if @saved_searches.empty?
      %p.empty-resultset= t('saved_searches.headers.no_results')

    - else
      %table.table.saved-searches{:'data-saved-searches' => true}
        %thead
          %tr
            %th.saved-searches__title= SavedSearch.human_attribute_name :title
            %th= SavedSearch.human_attribute_name :new_results
            %th.hidden-xs= SavedSearch.human_attribute_name :last_viewed
            %th.actions

        %tbody
          - @saved_searches.each do |saved_search|
            %tr.data-row
              %td
                = link_to saved_search.title, search_dashboard_saved_search_path(saved_search), data: { pk: saved_search.id, url: dashboard_saved_search_path(saved_search) }

              %td= saved_search.unseen_results
              %td.hidden-xs= l(saved_search.last_viewed_at, format: :only_date)
              %td.actions
                %button.btn.btn-sm.btn-default{ :"data-edit-action" => true }
                  = t('general.edit')
                = link_to t('general.delete'), dashboard_saved_search_path(saved_search), method: :delete, :"data-confirm" => t('confirmations.are_you_sure_you_want_to_delete_this_saved_search'), class: 'btn btn-sm btn-warning'
