= render_modal "Crop And Rotate", { id: "crop-form-modal" } do
  = form_tag form_url, :method => :put, :id => 'crop-form', 'data-id' => object.model.id do
    %a.badge.rotate-photo.photo-action{href: '#'}
      Rotate
    = image_tag object_url, 'data-image' => true, data: { rotate: object.transformation_rotate, crop: object.transformation_crop, original_dimensions: object.original_dimensions}
    .submit-bar
      = submit_tag "Process", class: "btn medium blue"

  :javascript
    $(function() { new Photo.Manipulator($('#crop-form'), { aspectRatio: #{defined?(object.class::ASPECT_RATIO) ? object.class::ASPECT_RATIO : object.model.send("#{object.mounted_as}_dimensions")[:width].to_f/object.model.send("#{object.mounted_as}_dimensions")[:height].to_f} }) });
