= simple_form_for [:instance_admin, :theme, resource], :html => { :multipart => true } do |f|
  .content-container
    %input{type: 'hidden', name: 'redirect', value: 'true'}
    .row
      .input-container.col-xs-12
        = f.input :path, placeholder: 'Page title', input_html: { class: 'form-control' }
    .row.dropshadow
      .input-container.col-xs-6
        = f.input :redirect_url, label: 'Redirect URL', input_html: { class: 'form-control' }
      .input-container.col-xs-6
        = f.input :open_in_new_window, label: 'Open in new window ?', input_html: { class: 'form-control' }

  .content-container
    .row
      = f.button :submit, "#{f.object.new_record? ? 'Create' : 'Update'} Redirect", class: 'btn btn-green pull-right'
