- url = @additional_charge.persisted? ? instance_admin_manage_upsell_addon_path(@additional_charge.id) : instance_admin_manage_upsell_addons_path
- method = @additional_charge.persisted? ? :put : :post

= simple_form_for @additional_charge, url: url, method: method do |f|
  .row
    .input-container.col-xs-12
      = f.input :name,
        input_html: { class: 'form-control' }
  .row
    .input-container.col-xs-12
      = f.input :description,
        input_html: { class: 'form-control' }
  .row
    .input-container.col-xs-12
      = f.input :service,
        collection: [@additional_charge.service],
        prompt: t('instance_admin.manage.upsell_addons.select_the_service_associated'),
        input_html: { class: 'form-control' }

  .row
    .input-container.col-xs-6
      = f.input :amount,
        input_html: { class: 'form-control' }
    .input-container.col-xs-6
      = f.input :status,
        collection: AdditionalChargeType::STATUSES,
        prompt: t('instance_admin.manage.upsell_addons.select_optional_or_mandatory'),
        input_html: { class: 'form-control' }

  .row
    .input-container.col-xs-12
      = f.input :commission_receiver,
        collection: AdditionalChargeType::COMMISSION_TYPES,
        prompt: t('instance_admin.manage.upsell_addons.select_commission_receiver'),
        input_html: { class: 'form-control' }

  = content_for :header_buttons do
    = link_to t('instance_admin.cancel'), instance_admin_manage_upsell_addons_path, class: 'btn btn-light'
    = f.button :submit, t('instance_admin.add'), class: 'btn btn-blue', data: { 'submit-form' => 1, 'form-selector' => 'form' }

