- url = @additional_charge.persisted? ? instance_admin_manage_upsell_addon_path(@additional_charge.id) : instance_admin_manage_upsell_addons_path
- method = @additional_charge.persisted? ? :put : :post

= simple_form_for @additional_charge, url: url, method: method do |f|
  .row
    .input-container.col-xs-12
      = f.input :name,
        placeholder: "What's the name of this upsell?",
        input_html: { class: 'form-control' }
  .row
    .input-container.col-xs-12
      = f.input :description,
        placeholder: "Please, describe this upsell",
        input_html: { class: 'form-control' }
  .row
    .input-container.col-xs-12
      = f.input :service,
        collection: [@additional_charge.service],
        prompt: 'Select the service that is associated to this upsell',
        input_html: { class: 'form-control' }

  .row
    .input-container.col-xs-6
      = f.input :amount,
        placeholder: 'Enter amount',
        input_html: { class: 'form-control' }
    .input-container.col-xs-6
      = f.input :status,
        collection: AdditionalChargeType::STATUSES,
        prompt: 'Select Optional or Mandatory',
        input_html: { class: 'form-control' }

  .row
    .input-container.col-xs-12
      = f.input :commission_receiver,
        collection: AdditionalChargeType::COMMISSION_TYPES,
        prompt: 'Select commission receiver',
        input_html: { class: 'form-control' }

  = content_for :header_buttons do
    = link_to 'Cancel', instance_admin_manage_upsell_addons_path, class: 'btn btn-light'
    = f.button :submit, 'ADD', class: 'btn btn-blue', data: { 'submit-form' => 1, 'form-selector' => 'form' }

