{% if event.is_status_update_event %}
  {% assign entryId = "entry-content-user-status-" | append: event.event_source.id %}
{% elsif event.is_comment_event %}
  {% assign entryId = "entry-content-comment-" | append: event.event_source.id %}
{% endif %}

<div class="entry-content-a" id="{{ entryId }}" data-user-entry-form-wrapper>
  {% if event.event_source.created_at != event.event_source.updated_at and event.event_source != blank %}
    {% assign body_class = 'edited' %}
  {% endif %}
  <div class="entry-body {{ body_class }}">
    {% if content != blank %}
      {% if event.is_text_update or event.event == 'user_created_transactable' %}
        {% if event.event == 'user_commented' or event.event == 'user_created_transactable' %}
          {{ content | videoify_and_parse_with_markdown: iframe_width: 350, iframe_height: 198 }}
        {% else %}
          {{ content | videoify_and_parse_with_markdown: iframe_width: 480, iframe_height: 270 }}
        {% endif %}
      {% else %}
        {{ content | auto_link: target: '_blank', ref: 'nofollow' | simple_format }}
      {% endif %}
    {% endif %}
    {% include 'shared/activity_feed/images', collection: images %}
  </div>
  {% if event.is_status_update_event %}
    <div class="entry-editor">
      {% include 'shared/activity_feed/user_status_form', user_status_update: event.event_source %}
    </div>
  {% elsif event.is_comment_event %}
    <div class="entry-editor">
      {% include 'shared/activity_feed/comment_form', event: event, comment_object: event.event_source %}
    </div>
  {% endif %}
</div>
