<form class="simple_form user-entry-form"
  novalidate="novalidate" enctype="multipart/form-data"
  method="post"
  {% if comment_object.id != blank %}
    action="/activity_feed_event/{{ comment_object.commentable.id }}/comments/{{ comment_object.id }}"
    id="edit_comment_{{ comment_object.id }}"
    data-user-entry-edit-mode
    data-user-entry-form-target="#entry-content-comment-{{ comment_object.id }}"
  {% else %}
    action="/activity_feed_event/{{ event.id }}/comments"
    id="new_comment"
    data-user-entry-form-target="#comments-feed-{{ event.id }}"
  {% endif %}
  data-user-entry-form=""
  data-user-entry-form-remote=""
  data-new-comment-for="{{ comment_object.commentable.id }}"
  >
  {% if comment_object.id != blank %}
    <input type="hidden" name="_method" value="patch">
  {% endif %}
  <div class="user-entry-form-content">
    <figure>
      <img src="{{ current_user.avatar_url_thumb }}">
    </figure>
    <div class="control-group text required comment_body">
      <label class="text required control-label" for="comment_body">
        <abbr title="required">*</abbr>
        Body
      </label>
      <div class="controls">
        <textarea maxlength="5000" data-user-entry-form-content="" data-user-entry-form-submit-on-return="" cols="40" rows="1" class="text required" placeholder="Leave a comment" name="comment[body]" id="comment_body" style="height: 38px;">{{ comment_object.body}}</textarea>
      </div>
    </div>
    {% if comment_object.id == blank %}
      <div class="submit-hint">Press ENTER to submit</div>
    {% endif %}
    <div class="image-upload-input">
      <div class="controls">
        <input data-user-entry-form-file="" accept="image/gif, image/jpeg, image/jpg, image/png" capture="camera" type="file" name="comment[activity_feed_images_attributes][0][image]" id="comment_activity_feed_images_attributes_0_image">
      </div>
    </div>
    <div class="user-entry-form-images" data-user-entry-form-images="">
    </div>
  </div>
  <p class="action">
    {% if comment_object.id != blank %}
      <button class="button-a tiny light" data-cancel-edit="" type="button">Cancel</button>
    {% endif %}
    <input type="submit" name="commit" value="Post" class="button-a tiny" data-initial-disabled-state="no">
  </p>
  <div class="loader loader-default"></div>
</form>
