<form class="simple_form user-entry-form" id="edit_user_status_update_{{ user_status_update.id }}" enctype="multipart/form-data"
  action="/user_status_updates/{{ user_status_update.id }}" method="post"
  data-user-entry-form
  data-user-entry-form-rich
  data-user-entry-form-remote
  data-user-entry-edit-mode
  data-user-entry-form-target="#entry-content-user-status-{{ user_status_update.id }}"
  >
  <input type="hidden" name="_method" value="patch">
  <div class="user-entry-form-content">
    <figure>
      <img src="{% if current_user.avatar_url_thumb %}{{ current_user.avatar_url_thumb }}{% else %}{% placeholder width: 80, height: 80 %}{% endif %}" />
    </figure>
    <div class="control-group text required user_status_update_text">
      <label class="text required control-label" for="user_status_update_text">
        <abbr title="required">*</abbr> {{ 'activity_feed.user_status_text' | translate }}
      </label>
      <div class="controls">
        <textarea maxlength="5000" cols="40" rows="1" data-user-entry-form-content class="text required"
          placeholder="{{ 'activity_feed.user_status_text' | translate }}" name="user_status_update[text]" id="user_status_update_text">{{ user_status_update.text }}</textarea>
      </div>
    </div>
    <div class="image-upload-input">
      <div class="controls">
        <input data-user-entry-form-file accept="image/gif, image/jpeg, image/jpg, image/png" type="file" name="user_status_update[activity_feed_images_attributes][0][image]" id="user_status_update_activity_feed_images_attributes_0_image">
      </div>
    </div>
    <div class="user-entry-form-images" data-user-entry-form-images>
      {% if user_status_update.activity_feed_images.size > 0 %}
        {% for afi in user_status_update.activity_feed_images %}
          <div class="user-entry-form-image" data-user-entry-form-image>
            <img data-user-entry-form-thumbnail src="{{ afi.url }}">
            <div class="control-group hidden user_status_update_activity_feed_images__destroy">
              <div class="controls">
                <input data-user-entry-form-remove-input class="hidden" type="hidden" name="user_status_update[activity_feed_images_attributes][0][_destroy]" id="user_status_update_activity_feed_images_attributes_0__destroy"></div>
              </div>
            <button type="button" class="remove">
              Remove this image
            </button>
          </div>
          <input type="hidden" value="{{ afi.id }}" name="user_status_update[activity_feed_images_attributes][0][id]" id="user_status_update_activity_feed_images_attributes_0_id">
        {% endfor %}
      {% endif %}
    </div>
  </div>
  <p class="action">
    <button class="button-a tiny light" data-cancel-edit type="button">
      Cancel
    </button>
    <input type="submit" name="commit" value="{{ 'activity_feed.user_status_submit' | translate }}" class="button-a tiny">
  </p>
  <div class="loader loader-default"></div>
</form>
