%h1
  = resource.name
  .pull-right
    = link_to 'Edit', edit_global_admin_transactable_type_custom_attribute_path(resource.transactable_type, resource), class: 'btn'

%table.table
  %tbody
    %tr
      %td Name
      %td= resource.name
    %tr
      %td Label
      %td= resource.label
    %tr
      %td Type
      %td= resource.attribute_type
    %tr
      %td Html tag
      %td= resource.html_tag
    %tr
      %td Placeholder
      %td= resource.placeholder
    %tr
      %td Prompt
      %td= resource.prompt
    %tr
      %td Default value
      %td= resource.default_value
    %tr
      %td Public?
      %td= resource.public
    %tr
      %td Validation rules
      %td= resource.validation_rules
    %tr
      %td Valid values
      %td= resource.valid_values
    %tr
      %td Input html options
      %td= resource.input_html_options
    %tr
      %td Wrapper html options
      %td= resource.wrapper_html_options
    %tr
      %td Hint
      %td= resource.hint


= link_to 'Back', global_admin_instance_transactable_type_path(resource.instance, resource.transactable_type), class: 'btn'
