{% for ca in transactable_type.custom_attributes %}
  {% capture i18n_by_state %}transactable_types.{{ transactable_type.name | parameterize:'_' }}.labels.by_state{% endcapture %}
  {% capture i18n_all_states %}transactable_types.{{ transactable_type.name | parameterize:'_' }}.labels.all_states{% endcapture %}

  <select class='no-icon select2 custom-attribute-select' name='lg_custom_attributes[{{ca.name}}][]' data-select2-placeholder='{{ i18n_by_state | translate }}'>
    <option></option>
    <option>{{ i18n_all_states | translate }}</option>
    {% for value in ca.valid_values %}
      <option value='{{ value }}'>{{ value }}</option>
    {% endfor %}
  </select>
{% endfor %}
