<footer>

  <div class='description column'>
    <img src='https://s3-us-west-1.amazonaws.com/near-me-staging/instances/198/uploads/ckeditor/picture/data/2700/litvault-logo-icon.png'>
    <p>LitVault is an online marketplace for the legal industry. We connect Referring and Handling Lawyers in order to collaborate on contingent fee plaintiffs' cases.</p>
  </div>

  <div class='general column'>
    <h4>General</h4>

    <ul>
      <li><a href='/'>Home</a></li>

      {% for page in platform_context.pages limit:3 %}
        <li><a href="{{ page.page_url }}" target="{{ page.open_in_target }}" rel="{{ page.link_rel }}">{{ page.title }}</a></li>
      {% endfor %}
    </ul>
  </div>

  <div class='more column'>
    <h4>More</h4>

    <ul>
      {% for page in platform_context.pages offset:3 %}
        <li><a href="{{ page.page_url }}" target="{{ page.open_in_target }}" rel="{{ page.link_rel }}">{{ page.title }}</a></li>
      {% endfor %}
    </ul>
  </div>

  <div class='connect column'>
    <h4>Connect</h4>

    <ul>
      {% if platform_context.facebook_url != blank %}<li><a href="{{ platform_context.facebook_url }}"  ref="nofollow" target="_blank"><span class="image icon-facebook"></span>Facebook</a></li>{% endif %}
      {% if platform_context.twitter_url != blank %}<li><a href="{{ platform_context.twitter_url }}" ref="nofollow"  target="_blank"> <span class="image icon-twitter"></span>Twitter</a></li>{% endif %}
      {% if platform_context.linkedin_url != blank %}<li><a href="{{ platform_context.linkedin_url }}" rel="publisher nofollow" target="_blank"><span class="image icon-linkedin"></span>Linkedin</a></li>{% endif %}
      {% if platform_context.gplus_url != blank %}<li><a href="{{ platform_context.gplus_url }}" rel="publisher nofollow" target="_blank"><span class="image icon-gplus"></span>Google+</a></li>{% endif %}
      {% if platform_context.blog_url != blank %}<li><a href="{{ platform_context.blog_url }}" ref="nofollow"  target="_blank"> <span class="image icon-feed"></span>Blog</a></li>{% endif %}
    </ul>
  </div>

  <div class='contact column'>
    <h4>Contact</h4>

    <h5>TELEPHONE</h5>
    <span>{{ platform_context.phone_number }}</span>

    <h5>SUPPORT</h5>
    <a href='mailto:{{ platform_context.support_email }}'>{{ platform_context.support_email }}</a>
  </div>

</footer>

<div class='copyright-wrapper'>
  <div class='copyright'>
    &copy; 2016 LitVault. All rights reserved.
  </div>
</div>
