<div class='navbar navbar-inverse navbar-fixed-top'>
  <div class='navbar-inner nav-links'>
    <div class='container-fluid'>
        <a href='{{ platform_context.root_path }}' id="logo">{{ platform_context.name }}</a>

        <div class='header-social-links'>
          <ul class='nav main-menu'>
            {% if platform_context.facebook_url != blank %}<li><a href="{{ platform_context.facebook_url }}"  ref="nofollow" target="_blank"><span class="image icon-facebook"></span></a></li>{% endif %}
            {% if platform_context.twitter_url != blank %}<li><a href="{{ platform_context.twitter_url }}" ref="nofollow"  target="_blank"> <span class="image icon-twitter"></span></a></li>{% endif %}
            {% if platform_context.linkedin_url != blank %}<li><a href="{{ platform_context.linkedin_url }}" rel="publisher nofollow" target="_blank"><span class="image icon-linkedin"></span></a></li>{% endif %}
            {% if platform_context.gplus_url != blank %}<li><a href="{{ platform_context.gplus_url }}" rel="publisher nofollow" target="_blank"><span class="image icon-gplus"></span></a></li>{% endif %}
            {% if platform_context.blog_url != blank %}<li><a href="{{ platform_context.blog_url }}" ref="nofollow"  target="_blank"> <span class="image icon-feed"></span></a></li>{% endif %}
          </ul>
        </div>

        {% if no_header_links == false %}
          <div id='header_links' class='links-container pull-right'>
            <ul class="nav main-menu header-custom-links">
              <li>
                <a href='/' class='nav-link'>
                  <span class='text'>Home</span>
                </a>
              </li>

              <li>
                <a href='/?section=how-it-works' class='nav-link' scroll-to-section>
                  <span class='text'>How It Works</span>
                </a>
              </li>
            </ul>
              {{ navigation_links | make_html_safe }}
          </div>
        {% endif %}
    </div>
  </div>
</div>
