{% assign wish_list_item = wish_list_lister_item %}
{% assign user = wish_list_item.wishlistable %}

{% if wish_list_item.wishlistable_present? %}
  <article class='wish-list__item wish-list__item-{{ wish_list_item.wishlistable_type }}' style="background-image: url({{ wish_list_item.image_url }});">

    <a href='{{ wish_list_item.wishlistable_path }}' rel='external' class='link'>
      <div class='wish-list__item__content'>
        <div class='name'>
          {{ wish_list_item.wishlistable_name }}
        </div>
        <div class='law-firm'>
          {{ user.buyer_properties['law_firm'] }}
        </div>

        <div class='address'>

          {{ user.address.street }}
        </div>
      </div>
    </a>

    <div class='actions'>
      <a href='{{ wish_list_item.dashboard_wish_list_item_path }}' rel='nofollow' data-method='delete' class='action--delete'>{{ 'wish_lists.buttons.delete' | translate }}</a>
      <a href="#case-invite-{{ user.id }}" class="button-a" data-case-invite-trigger>Invite to case</a>
    </div>

    <input type='checkbox' name='user[collaborator_ids]' value='{{ user.id }}' class='bulk-invite-collabolator-id' />

    <div class="case-invite" id="case-invite-{{ user.id }}" data-collaborations-url="{{ 'collaborations_for_current_user_dashboard_company_user_path' | generate_url: user.id }}"></div>
  </article>
{% endif %}
