<h1>Favorites</h1>

{% form_for 'wish-list-items-sort', url: '/' %}
  <label for='sort-by'>{{ 'wish_lists.sort.label' | translate }}</label>
  <select name='sort-by'>
    <option value='newest'>{{ 'wish_lists.sort.options.newest' | translate }}</option>
    <option value='oldest'>{{ 'wish_lists.sort.options.oldest' | translate }}</option>
    <option value='alphabetical'>{{ 'wish_lists.sort.options.alphabetical' | translate }}</option>
    <option value='individual-cases'>{{ 'wish_lists.sort.options.individual_cases' | translate }}</option>
    <option value='group-cases'>{{ 'wish_lists.sort.options.group_cases' | translate }}</option>
  </select>
{% endform_for %}
