%h4 Manage Data Uploads for #{@transactable_type.name}
.content-container
  .row
    = link_to 'Download CSV Template', download_csv_template_instance_admin_manage_transactable_type_data_uploads_path(@transactable_type), class: 'pull-right btn btn-green'
    = link_to 'New Data Upload', new_instance_admin_manage_transactable_type_data_upload_path(@transactable_type), class: 'pull-right btn btn-green'

.content-container
  .row
    .table-container.col-xs-12.dropshadow
      %table.table
        %thead
          %tr
            %th File Name
            %th Data preview
            %th Imported at
            %th Success
            %th Created at
        %tbody
          - @data_uploads.each do |resource|
            %tr
              %td= link_to resource.csv_file_identifier, edit_instance_admin_manage_transactable_type_data_upload_path(@transactable_type, resource)
              %td= link_to resource.xml_file_identifier, resource.xml_file.try(:url), target: :blank if resource.xml_file.present?
              %td= resource.imported_at
              %td= resource.encountered_error.blank?
              %td= resource.created_at
