.box
  - if reservation_charges.empty?
    %p.no_data You have not received any payments in the preceding 7 day period.
  - else
    .weekly-chart
      .total.right
        - weekly_chart.sums_by_currency.each do |currency, sum|
          .total-number.left
            = "#{currency_content_tag(currency, sum, :span, { :rel => false })}".html_safe
        %span{class: 'total-text'} 7 day total
      %canvas#weekly-chart

    .reservation-charges-details
      - reservation_charges.each do |reservation_charge|
        .clearfix.reservation-charge-line-item
          .left
            = "#{currency_content_tag(reservation_charge.currency, reservation_charge.total_amount, :span, { :rel => false })}".html_safe
            %span{class: 'location-name'}= "#{reservation_charge.reservation.listing.location.name}".html_safe
          .right
            = reservation_charge.created_at.strftime('%Y-%m-%d')

      .reservation-charges-total
        - all_time_totals.each do |total|
          - total = Money.new(total[:sum], total[:currency])
          .total-number.left
            = "#{currency_content_tag(total.currency, total.amount, :span, { :rel => false })}".html_safe
        %span{class: 'total-text'} all time total

      = will_paginate reservation_charges

- content_for :domready do
  new ChartWrapper.Line($('#weekly-chart'), #{weekly_chart.values.to_json.html_safe}, #{weekly_chart.labels.to_json.html_safe}, null, true)
