.box
  - if visits.total_entries.zero?
    %p.no_data Your locations haven't been visited yet.
  - else
    .weekly-chart
      .total.right
        .total-number.left
          %span.total
            = group_visits(last_month_visits).values.sum
            visits
        %span{class: 'total-text'} 30 day total
      %canvas#visits-chart

    .reservation-charges-details
      %table
        - visits.each do |visit|
          %tr
            %td
              = visit.impression_date
            %td
              = visit.impressions_count

    = will_paginate visits, :params => { :analytics_mode => 'location_views' }

- content_for :domready do
  new ChartWrapper.Line($('#visits-chart'), #{visits_for_chart(last_month_visits).to_json.html_safe}, #{visits_labels_for_chart(last_month_visits).to_json.html_safe})
