- current ||= :overview
- content_for :hero do
  #hero.collapsed.hero-blue-top
    .hero-wood-spacer
    %nav.hero-nav
      %ul.container
        %li{:class => ('current' if current == :overview)}= link_to "Overview", dashboard_url
        %li{:class => ('current' if current == :account)}= link_to "Account", edit_user_registration_url
        %li{:class => ('current' if current == :bookings)}= link_to "Bookings", bookings_dashboard_url
        - if current_user.listings.any?
          %li{:class => ('current' if current == :spaces)}= link_to "Manage Spaces", listings_dashboard_url
          %li{:class => ('current' if current == :reservations)}= link_to "Manage Reservations", reservations_dashboard_url


