= form_for([reservation.listing, reservation]) do |f|
  - if reservation.can_owner_cancel?
    = hidden_field_tag :event, "owner_cancel"
    = f.submit "Cancel", :confirm => "Do you really want to cancel this reservation?", :class => "btn btn-red btn-small"

  = f.submit "Confirm", :name => "event", :confirm => "Do you want to confirm this reservation?", :class => "btn btn-green btn-small" if reservation.can_confirm?
  = f.submit "Reject",  :name => "event", :confirm => "Do you really want to reject this reservation?", :class => "btn btn-red btn-small" if reservation.can_reject?
