- if reservation.can_host_cancel?
  = form_for reservation, method: :post, url: host_cancel_manage_listing_reservation_path(reservation.listing, reservation) do |f|
    = f.submit "Cancel", :confirm => "Do you really want to cancel this reservation?", :class => "btn btn-small btn-gray reservation-action"

- if reservation.can_confirm?
  = form_for reservation, method: :post, url: confirm_manage_listing_reservation_path(reservation.listing, reservation) do |f|
    = f.submit "Confirm", :confirm => "Do you want to confirm this reservation?", :class => "btn btn-small btn-green reservation-action"

- if reservation.can_reject?
  = link_to 'Decline', rejection_form_manage_listing_reservation_path(reservation.listing, reservation),
              rel: 'modal.sign-up-modal',
              :class => "btn btn-gray btn-small reservation-action"
