.row-fluid
  .span12.reservation-details
    .span12.reservation-text-information
      .reservation-status
        .icon-container
          = reservation.manage_booking_status_info
      .span12.reservation-information
        %div{:class => reservation.archived? ? 'span6' : 'span5'}
          = link_to reservation.owner, profile_path(reservation.owner.slug)
          %br
          %span.address= link_to reservation.listing.name, location_listing_path(reservation.listing.location, reservation.listing) 
        .span2
          = reservation.total_price
          %br
          %span= reservation.state.capitalize
        %div{:class => reservation.archived? ? 'span3' : 'span2'}
          - if reservation.listing.hourly_reservations?
            %a.dates{href: '#', 'data-reservation-hours' => reservation_period.hourly_summary(true)}
              = reservation.short_dates
          - else
            %a.dates{href: '#', data: { :dates => reservation.dates } }
              = reservation.short_dates
          .clearfix
          %span
            = pluralize(reservation.total_days, 'day')
        .span1
          = reservation.quantity
          %span.ico-user
        - unless reservation.archived?
          .span2{:class => reservation.manage_guests_action_column_class}
            .actions
              = render :partial => "owner_actions", :locals => {:reservation => reservation}
