%ul.bookings.list
  - bookings.each do |booking|
    %li{"data-date" => booking.date}
      %p.em
        %strong= link_to(booking.workplace.name, booking.workplace)
        on
        %time{:datetime => booking.date}= l(booking.date, :format => :long)
        (#{booking.state_name})
        %br/
        = booking.comment
      .actions
        = render :partial => "user_actions",  :locals => {:booking => booking} if current_user == booking.user
