<ul class="bookings list">
  <% bookings.each do |booking|%>
    <li>
      <p class="em">
        <strong><%= booking.user %></strong> on
        <time datetime="<%= booking.date %>"><%= l(booking.date, :format => :long) %></time>
        (<%= booking.state_name %>)
      </p>
      <div class="actions">
        <%= render :partial => "owner_actions", :locals => {:booking => booking} if current_user == booking.workplace.creator %>
      </div>
    </li>
  <% end %>
</ul>