- title "Analytics"

= show_manage_navigation(:analytics)

%section#payments
  .row-fluid
    .span8.offset2
      .box
        .right
          .control-group.select
            .controls
              = select_tag :analytics_mode, options_for_select([['Revenue', 'revenue'], ['Bookings', 'bookings'], ['Location Views', 'location_views']], @analytics_mode), :class => 'analytics-mode'
        .clearfix
        .chart
          = render :partial => "dashboard/analytics_#{@analytics_mode}"

- content_for :script do
  :javascript
    $(function() {
      new Dashboard.AnalyticsController($('#payments'))
    });

- content_for :domready do
  new ChartWrapper.Line($('#chart'), #{@chart.values.to_json.html_safe}, #{@chart.labels.to_json.html_safe})
