- title "Bookings (#{@your_reservations.count})"

.row-fluid
  .span8.offset2
    %h1
      %span.ico-bookings.padding My Bookings
    .box
      %section#my_reservations.ta
        %ul.reservations.list
          - @your_reservations.each do |reservation|
            %li{"data-date" => reservation.date}
              %p.em
                %strong= link_to(reservation.listing.name, reservation.listing)
                on
                %time{:datetime => reservation.date}
                  - if reservation.listing.hourly_reservations?
                    = hourly_summary_for_period(reservation.periods.first) if reservation.periods.first.present?
                  - else
                    = l(reservation.date, :format => :long)
                (#{reservation.state_name}#{bookings_time_to_expiry(reservation)})
                %br/
                = reservation.comment
              .actions
                = render :partial => "user_actions",  :locals => {:reservation => reservation} if current_user == reservation.owner
