%h1.tk-adelle Dashboard
.tabs
  %nav
    %a.selected{:href => "#listings"}
      My Listings
      %span.num= @listings.count
    %a{:href => "#my_reservations"}
      My Reservations
      %span.num= @your_reservations.count
    - if @listings.any?
      %a{:href => "#reservations"}
        Listing Reservations
        %span.num= @listing_reservations.count
  %section#listings.selected.tab
    %nav.actions
      = link_to new_listing_path do
        = image_tag "building--plus.png"
        Create Listing
    %table.pretty
      %thead
        %tr
          %th Name
          %th Reservations
          %th
      %tbody
        - @listings.each do |listing|
          %tr
            %td= link_to listing.name, listing
            %td= listing.confirm_reservations? ? "#{listing.reservations.with_state(:unconfirmed).count} Unconfirmed" : "-"
            %td.actions
              = link_to [ :edit, listing ] do
                Edit Listing #{image_tag "navigation.png"}
  %section#my_reservations.tab
    - if @your_reservations.any?
      = render :partial => "user_reservation_list", :locals => {:reservations => @your_reservations}
  %section#reservations.tab
    - if @listing_reservations.any?
      = render :partial => "listing_reservation_list", :locals => {:reservations => @listing_reservations}
- content_for :script do
  :javascript
    $(function(){
      $(".tabs nav a").click(function(ev){
        ev.stopPropagation();

        $(".tabs nav a.selected, .tabs section.tab.selected").removeClass("selected");
        var tab_id = $(this).attr("href"),
            section = $(".tabs section" + tab_id)[0];
        $([this, section]).addClass("selected");

        return false;
      });
    });
