<h1 class="tk-adelle">Dashboard</h1>

<div class="tabs">
  <nav>
    <a href="#workplaces" class="selected">My Workplaces</a>
    <a href="#my_bookings">My Bookings</a>
    <a href="#bookings">Workplace Bookings</a>
  </nav>
  <section id="workplaces" class="selected tab">
    <nav class="actions">
      <%= link_to "Create Workplace", new_workplace_path %>
    </nav>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Bookings</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @workplaces.each do |workplace| %>
          <tr>
            <td><%= link_to workplace.name, workplace %></td>
            <td><%= workplace.confirm_bookings? ? "#{workplace.bookings.with_state(:unconfirmed).count} Unconfirmed" : "-" %></td>
            <td><%= link_to "Edit Workplace", [ :edit, workplace ] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
  <section id="my_bookings" class="tab">
    <% if @your_bookings.any? %>
    <%= render :partial => "booking_list", :locals => {:bookings => @your_bookings}%>
    <% end %>
  </section>
  <section id="bookings" class="tab">
    <% if @workplace_bookings.any? %>
    <%= render :partial => "booking_list", :locals => {:bookings => @workplace_bookings}%>
    <% end %>
  </section>
</div>

<% content_for :script do -%>
<script type="text/javascript">
  $(function(){
    $(".tabs nav a").click(function(ev){
      ev.stopPropagation();
      
      $(".tabs nav a.selected, .tabs section.tab.selected").removeClass("selected");
      var tab_id = $(this).attr("href"),
          section = $(".tabs section" + tab_id)[0];
      $([this, section]).addClass("selected");
      
      return false;
    });
  });
</script>
<% end -%>








