<h1>Workplaces</h1>

<p><%= link_to "Create Workplace", new_workplace_path %></p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Bookings</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @workplaces.each do |workplace| %>
      <tr>
        <td><%= link_to workplace.name, workplace %></td>
        <td><%= workplace.confirm_bookings? ? "#{workplace.bookings.with_state(:unconfirmed).count} Unconfirmed" : "-" %></td>
        <td><%= link_to "Edit Workplace", [ :edit, workplace ] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @your_bookings.any? %>
<h1>Your Bookings</h1>
<%= render :partial => "booking_list", :locals => {:bookings => @your_bookings}%>
<% end %>

<% if @workplace_bookings.any? %>
<h1>Workplace Bookings</h1>
<%= render :partial => "booking_list", :locals => {:bookings => @workplace_bookings}%>
<% end %>
