- title "Guests (#{@guest_list.reservations.size})"

= show_manage_navigation(:guests)

#guests
  %section#reservations
    .row-fluid
      .span8.offset2
        %h1
          %span.ico-manage-guests.padding Guests
        .box
          - if @guest_list.scope.empty?
            = render 'dashboard/manage_guests/promote_locations', locations: @locations
          - else
            %header
              = render 'guest_filter'
            .reservation-list
              %ul
                - @guest_list.reservations.each do |reservation|
                  %li
                    = render 'reservation', reservation: reservation


:javascript
  new Dashboard.GuestsController($('#guests'))
