- title "Manage Guests (#{@guest_list.count})"

.row-fluid
  .span8.offset2
    %h1
      %span.ico-manage-guests.padding Manage Guests
    .box
      - if @guest_list.empty?
        - if @locations.present?
          - @locations.each do |location|
            %p You currently have no reservations. Promote your locations by tweeting or sharing a direct link!
            %ul
              %li
                =link_to tweet_location_url(location), :ref => "mg", :class => 'btn btn-blue btn-large twitter submit' do
                  %span.ico-twitter.padding="Share #{location.name}" 
              %li
                = link_to location_url(location), :class => 'btn btn-blue btn-large' do
                  %span.ico-link.padding= "#{location.name} Link"
              %li
                .clearfix
            .clearfix
        - else
          %p You haven't added a listing yet!
      - else
        %section#reservations.tab
          %ul.reservations.list
            - @guest_list.each do |reservation|
              %li
                %p.em
                  %strong= reservation.owner
                  = link_to "mailto:#{reservation.owner.email}" do
                    %span.ico-mail.padding
                  on
                  %time{:datetime => reservation.date}
                    - if reservation.listing.hourly_reservations?
                      = hourly_summary_for_period(reservation.periods.first) if reservation.periods.first.present?
                    - else
                      = l(reservation.date, :format => :long)

                  (#{reservation.state_name}#{manage_guests_time_to_expiry(reservation)})
                  %br/
                  = reservation.comment
                .actions
                  = render :partial => "owner_actions", :locals => {:reservation => reservation} if current_user == reservation.listing.creator
