- title "Transfers"

= show_manage_navigation(:transfers)

%section#transfers
  .row-fluid
    .span8.offset2
      %h1
        %i.ico-transfers
        Transfers
      .box
        - if @last_week_payment_transfers.empty?
          %p.no_data No transfers have been made in the preceding 7 day period.
        - else
          .weekly-chart
            .total.right
              - @weekly_chart.sums_by_currency.each do |currency, sum|
                .total-number.left
                  = "#{currency_content_tag(currency, sum, :span, { :rel => false })}".html_safe
              %span{class: 'total-text'} 7 day total
            %canvas#weekly-chart

        - unless @company.has_payment_method?
          %p.warning 
            %i.ico-warning
            You haven't set a payment method yet. 
            = link_to "Set one up now.", edit_manage_company_path(current_user.companies.first)
        - if @payment_transfers.present?
          %table.table
            %thead
              %tr
                %th Gross
                %th Fees
                %th Total
                %th.right Transferred
            - @payment_transfers.each do |payment_transfer|
              %tr
                %td
                  = "#{currency_content_tag(payment_transfer.currency, payment_transfer.gross_amount, :span)}".html_safe
                %td
                  = "#{currency_content_tag(payment_transfer.currency, payment_transfer.service_fee_amount, :span)}".html_safe
                %td
                  = "#{currency_content_tag(payment_transfer.currency, payment_transfer.amount, :span)}".html_safe
                %td.right
                  = payment_transfer.created_at.strftime('%Y-%m-%d')

          = will_paginate @payment_transfers

- content_for :domready do
  new ChartWrapper.Line($('#weekly-chart'), #{@weekly_chart.values.to_json.html_safe}, #{@weekly_chart.labels.to_json.html_safe})
