%tr
  %td= link_to transactable.id, [:instance_admin, :reports, transactable]
  %td= transactable.name
  %td= transactable.creator&.name
  %td= transactable.creator&.email
  %td= transactable.description.to_s.truncate(100)
  %td
    = link_to t('instance_admin.edit'), [:edit, :instance_admin, :reports, transactable]
    - if controller.respond_to?(:destroy)
      = link_to t('instance_admin.delete'), [:instance_admin, :reports, transactable], method: :delete, data: { confirm: t('instance_admin.are_you_sure') }
