.content-container.reports
  .row
    .text-container
      = form_tag [:instance_admin, :reports, @scope_class], method: :get, enforce_utf8: :false do
        .filters
          = filter_dropdown param_name: :item_type_id, label: t("instance_admin.manage.admin_searchable.base.search_types.#{@scope_type_class.name.tableize}"), allow_blank: true, blank_label: t("instance_admin.reports.all_#{@scope_type_class.name.tableize}"), all_values: @scope_type_class.all.each_with_object({}) { |val, obj| obj[val.id.to_s] = val.translated_bookable_noun }

          = filter_searchable_dates param_name: 'date', label: t('instance_admin.manage.admin_searchable.transactable.search_types.created_at')

          = filter_query_text label: t('instance_admin.manage.admin_searchable.transactable.search_types.search_by'), placeholder: t('instance_admin.manage.admin_searchable.search_by_keyword'), param_name: 'q'

          = filter_dropdown param_name: :per_page, label: t('instance_admin.manage.admin_searchable.per_page'), allow_blank: false, all_values: {'25' => '25', '50' => '50', '100' => '100' }

          .filter.download-export
            = link_to t('instance_admin.reports.download_report_as_csv'), '', data: { 'download-report' => 1, 'report-url' => polymorphic_path([:download_report, :instance_admin, :reports, @scope_class], format: 'csv') }

  .row
    .table-container.col-xs-12
      %table.table
        %tr
          %th
            = t('instance_admin.reports.fields.id')
          %th
            = t('instance_admin.reports.fields.name')
          %th
            = t('instance_admin.reports.fields.description')
          %th
            = t('instance_admin.reports.fields.properties')
          %th
            = t('instance_admin.reports.fields.actions')
        - @resources.each do |transactable|
          = render 'transactable', :transactable => transactable


.row
  .text-container
    .pull-right
      = will_paginate @resources

