<section class="box box-dim listing">
  <header data-toggle="collapse" class="listing collapsed" data-target="#listing-{{view_id}}-details-holder">
    <span class="padding ico-desk listing-header">{{#if name}}{{{name}}}{{else}}New listing{{/if}}</span>
    <span class="ico-edit right"/>
  </header>
  <div id="listing-{{view_id}}-details-holder" class="accordion-body listing-content collapse">
    <div id="listing-for-{{id}}" class="accordion-inner">
      <div class="accordion" id="location-{{ref_id}}-listings-holder">
        <form class="simple_form form-horizontal edit_listing" id="edit_listing_{{id}}">
          <input type="hidden" value="{{location_id}}" />
          {{> app/templates/listings/_overview}}
          {{> app/templates/listings/_availability}}
          {{> app/templates/listings/_photos}}
        </form>
        <a href="" class="delete delete-listing" data-id="{{id}}"><span class="ico-trash padding">Delete this listing</span></a>
        <div class="action action-listing">
          <a href="" class="btn btn-green btn-large save-listing" data-disable-with="Saving..."><span class="ico-save padding">Save</span></a>
        </div>
      </div>
    </div>
  </div>
</section>

