<section class="box box-dim">
  <header data-toggle="collapse" data-target="#collapse-{{listing.id}}">
    <span data-listing-id="{{listing.id}}">{{{listing.name}}}</span>
  </header>
  <div id="collapse-{{listing.id}}" class="accordion-body collapse in" style="height: 0px;">
    <div id="listing-for-{{listing.id}}" class="accordion-inner">
      <div class="accordion" id="location-{{id}}-listings-holder">{{> templates_listings_overview}} {{> templates_listings_photos}}</div>
    </div>
  </div>
</section>

