<div class="accordion-group">
  <div class="accordion-heading">
    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#{{view_id}}-listings-holder"
    href="#collapse-listings-{{view_id}}-photos"><h2>Photos</h2></a>
  </div>
  <div id="collapse-listings-{{view_id}}-photos" class="accordion-body collapse in">
    <div id="listing-{{id}}-photos" class="accordion-inner"><a href="/dashboard/listings/{{id}}/photos"> -> Manage Photos</a></div>
  </div>
</div>
