- credit_card = f.object.credit_card || f.object.new_payment_source(payment_method)
.nm-credit-card-fields{'data-publishable' => "#{payment_method.payment_gateway.settings[:publishable_key]}"}
  - if f.object.respond_to?(:authorized?) && f.object.authorized?
    = t 'payments.already_authorized'
  - else
    - payment_drop = f.object.decorate

    = f.input :credit_card_id,
      as: :radio_buttons,
      collection: payment_drop.payment_sources_collection(payment_method),
      checked: payment_drop.default_payment_source(payment_method),
      label: false,
      wrapper_html: { class: 'payment-source-option-select' }

    = render 'shared/payment_methods/new_credit_card', f: f, credit_card: credit_card
    = render 'listings/reservations/confirm_reservations', f: f
    = render 'shared/components/spinkit'
