.row-fluid
  - if f.object.nonce_payment? && f.object.authorized?
    = t 'payments.already_authorized'
  - else
    .padding-bottom
      .row-fluid
        .span5.text
          .ico-lock= t 'payments.heading'
        .span7.credit-card-images
          = image_tag 'credit-cards.png', alt: "Visa, Mastercard, American Express, Discover"
        .clearfix

    = f.error :cc
    #paypal-button


    = f.simple_fields_for :payment_source_attributes, f.object.payment_source || f.object.new_payment_source(payment_method) do |form|
      .has-error.errors
        = form.error :base
        = f.error :base

      = form.hidden_field :id
      = form.hidden_field(:payment_method_nonce, id: 'paypal-nonce')
      = form.hidden_field(:email, id: 'paypal-email')


= render 'listings/reservations/confirm_reservations', f: f


- if payment_method.payment_gateway.client_token.present?
  = javascript_include_tag "https://js.braintreegateway.com/v2/braintree.js"
  - content_for :script do
    :javascript
      $(function() {
        if('braintree' in window) {
          braintree.setup("#{payment_method.payment_gateway.client_token}", 'paypal', {
            container: 'paypal-button',
            paymentMethodNonceInputField: $("#paypal-nonce"),
            onPaymentMethodReceived: function (payload) {
              $("#paypal-email").val(payload.details.email);
              $(".submit-payment").show()
            },
            onCancelled: function (payload) {
              if ($('#paypal-button').parents('.accordion-body').hasClass('in')) {
                $(".submit-payment").hide();
              }
            },
          });
        }
      });
      $('.accordion').on('show.bs.collapse', function (e) {
        if ($(e.target).find(".accordion-inner #paypal-button").length) {
          if ($("#paypal-nonce").val().length == 0) {
            $(".submit-payment").hide()
          }
        } else {
          $(".submit-payment").show()
        }
      });
