.row-fluid
  - if f.object.nonce_payment? && f.object.authorized?
    = t 'payments.already_authorized'
  - else
    .padding-bottom
      .row-fluid
        .span5.text
          .ico-lock= t 'payments.heading'
        .span7.credit-card-images
          = image_tag 'credit-cards.png', alt: "Visa, Mastercard, American Express, Discover"
        .clearfix

    = f.error :cc
    #paypal-button

= render 'listings/reservations/confirm_reservations', f: f


- if payment_method.payment_gateway.client_token.present?
  = javascript_include_tag "https://js.braintreegateway.com/v2/braintree.js"
  - content_for :script do
    :javascript
      $(function() {
        if('braintree' in window) {
          braintree.setup("#{payment_method.payment_gateway.client_token}", 'paypal', {
            container: 'paypal-button'
          });
        }
      });
