.row-fluid
  - if f.object.nonce_payment? && f.object.authorized?
    = t 'payments.already_authorized'
  - else
    = f.error :cc
    #paypal-button


    = f.simple_fields_for :payment_source_attributes, f.object.paypal_account || f.object.new_payment_source(payment_method) do |form|
      .has-error.errors
        = form.error :base
        = f.error :base

      = form.hidden_field :id
      = form.hidden_field(:payment_method_nonce, id: 'paypal-nonce')
      = form.hidden_field(:email, id: 'paypal-email')


= render 'listings/reservations/confirm_reservations', f: f


- if payment_method.payment_gateway.client_token.present?
  :javascript
    var braintree_client_token = "#{payment_method.payment_gateway.client_token}"
