
.row
  .col-xs-12
    %h4 Languages & Translations
    = link_to 'Add new language', new_instance_admin_settings_locale_path, class: 'btn btn-green pull-right'

%br

.content-container
  .row
    .table-container.col-xs-12.dropshadow
      %table.table
        %thead
          %tr
            %th Name
            %th Code
            %th Custom name
            %th Default
            %th
            %th

        %tbody
          - Locale.order('created_at').each do |locale|
            %tr
              %td
                = locale.name
              %td
                = locale.code
              %td
                = locale.custom_name
              %td
                = locale.primary ? 'Yes' : 'No'
              %td
                = link_to 'Edit keys', edit_keys_instance_admin_settings_locale_path(locale), class: 'btn btn-green btn-small'
              %td
                - unless locale.code == 'en'
                  = link_to instance_admin_settings_locale_path(locale), method: :delete, data: { confirm: 'Are you sure?' } do
                    .fa.fa-trash-o.fa-2x.inline-form-icon.pull-right

                = link_to edit_instance_admin_settings_locale_path(locale) do
                  .fa.fa-edit.fa-2x.inline-form-icon.pull-right


