.row-fluid.support
  .span8.offset2
    %h1 Support
    .row-fluid
      .span8
        .box
          - @faqs.each do |faq|
            .faq.closed
              .question
                = faq.question
              .answer
                = faq.answer
      .span4
        %h2
          Tickets
        -if current_user
          .tickets
            - @tickets.each do |ticket|
              - ticket = ticket.decorate
              .ticket
                .question
                  = support_ticket_title(ticket)
                - if ticket.target_rfq?
                  = link_to "#{t('reservations.rfq_short')} - #{ticket.target.name}", ticket.show_target_path
                =render 'support/tickets/time', ticket: ticket

          = link_to 'View all tickets', support_tickets_path, :class => 'view-all'
        = link_to 'Open a Ticket', new_support_ticket_path, :class => "btn btn-green btn-large open"

- content_for :domready do
  $(document).ready(function() {new SupportFaq($('.box'));});
