.control-group
  = f.label Spree.t(:filename)
  .controls
    = f.file_field :attachment
.control-group
  = f.label Spree::Variant.model_name.human
  .controls
    = f.select :viewable_id, @variants, {}, {:class => 'select2 fullwidth'}
.control-group
  = f.label Spree.t(:alt_text)
  .controls
    = f.text_area :alt, :rows => 4, :class => 'fullwidth'