{% content_for 'meta' %}
  <link rel='stylesheet' media='screen' href='https://rawgit.com/mdyd-dev/marketplaces/master/longtail/dist/app.css'>
  <meta name='keywords' content="{{ @data_source_contents.first.json_content.data.first.attributes.name }}">
{% endcontent_for %}

{% content_for 'body_bottom' %}
  <script src='https://rawgit.com/mdyd-dev/marketplaces/master/longtail/dist/app.js'></script>
{% endcontent_for %}

{% for included_item in data_source_contents.first.json_content.included %}
  {% if included_item.attributes.snippet != blank %}
    {% assign first_snippet = included_item.attributes.snippet %}
    {% break %}
  {% endif %}
{% endfor %}

{% assign description_content = first_snippet | replace_first: '... ', '' | prepend: '... ' | prepend: @data_source_contents.first.json_content.data.first.attributes.name %}
{% content_for 'meta_description' %}
  {{ description_content | truncate: 165  }}
{% endcontent_for %}

{% assign title_text = @data_source_contents.first.json_content.data.first.attributes.name | append: ' - ' | append: @data_source_contents.first.json_content.data.first.relationships.items.data.size | append: platform_context.name  %}
{% title title_text %}

{% assign cache_key = data_source_last_update | append: current_path %}

{% cache_for cache_key, page %}
  {% assign dsc = @data_source_contents.first.json_content %}
  {% if params.slug2 == blank or dsc == blank %}
    <h1>404 does not exist.</h1>
  {% else %}
    <ul class="breadcrumbs list-unstyled">
      <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i></a></li>
      <li><a href="{{ dsc.data.first.attributes.category_url }}">{{ dsc.data.first.attributes.category }}</a></li>
      <li class="active"><a href="{{ dsc.data.first.attributes.url }}">{{ dsc.data.first.attributes.name | titleize }}</a></li>
    </ul>

    {% assign dsc = @data_source_contents.first.json_content %}

    <div>
      <h4>Related listings:</h4>
      <ul>
        {% for similar_storage in dsc.data.first.relationships.similar_searches.data %}
          {% for included_link in dsc.included %}
            {% if included_link.id == similar_storage.id %}
              <li><a href="{{ included_link.attributes.url }}
              ">{{ included_link.attributes.highlighted }}</a></li>
              {% break %}
            {% endif %}
          {% endfor %}
        {% endfor %}
      </ul>
    </div>

    <section class="listings">
      {% for item in dsc.data.first.relationships.items.data %}
        {% for listing in dsc.included %}
          {% if listing.id == item.id %}
            {% assign photos_count = listing.attributes.photos | size %}
            <article class="listing {% if photos_count == 0 %}listing-photos__empty{% endif %}">
              <div class="listing-photos">
                <ul class="listing-photos__carousel" data-carousel>
                  {% if photos_count == 1 %}
                    <li class="active">
                      <a href="{{ listing.attributes.url }}"><img src="{{ listing.attributes.photos[0] }}" alt="{{ listing.attributes.name }}"></a>
                    </li>
                  {% elsif photos_count > 1 %}
                    <li class="listing-photos__carousel--prev"><a href="#" data-carousel-control="prev"><i class="fa fa-chevron-left"></i></a></li>
                    {% for photo in listing.attributes.photos %}
                      <li class="{% if forloop.index == 1 %}active{% endif %}" data-carousel-item>
                        <a href="{{ listing.attributes.url }}"><img src="{{ photo }}" alt="{{ listing.attributes.name }}"></a>
                      </li>
                    {% endfor %}
                    <li class="listing-photos__carousel--next"><a href="#" data-carousel-control="next"><i class="fa fa-chevron-right"></i></a></li>
                  {% else %}
                    <li class="active">
                      <a href="{{ listing.attributes.url }}">
                        <img src="https://d2rw3as29v290b.cloudfront.net/instances/1/uploads/ckeditor/attachment_file/data/3233/placeholder.svg" alt="Photos unavailable or still processing" />
                      </a>
                    </li>
                  {% endif %}
                </ul>
              </div>

              <div class="listing-data">
                <h3><a href="{{ listing.attributes.url }}">
                  {{ listing.attributes.name }}
                </a></h3>

                <h4><p class="listing-data__subheader">
                  {{ listing.attributes.address }}
                </p></h4>

                <p class="listing-data__details">
                  {{ listing.attributes.snippet }}
                </p>
              </div>

              {% unless listing.attributes.categories == blank %}
                <div class="listing-features">
                  {% for category in listing.attributes.categories  %}
                    <p>{{ category.name }}</p>
                    <ul>
                      {% for child in category.children %}
                        <li>{{ child }}</li>
                      {% endfor %}
                    </ul>
                  {% endfor %}
                </div>
              {% endunless %}

              {% unless listing.attributes.price == blank %}
                <div class="listing-pricing">
                  <ul class="list-unstyled">
                    {% for price in listing.attributes.price %}
                      {% assign price_key = "reservations." | append: price[0] | append: '.one' %}
                      <li>{{ price[1] | pricify: listing.attributes.currency }} / {{price_key | t }}</li>
                    {% endfor %}
                  </ul>
                </div>
              {% endunless %}

              <div class="listing-actions">
                <ul class="list-unstyled">
                  <li class="favorite-button-container" data-add-favorite-button="true" data-path="/wish_list/{{ listing.attributes.guid }}/Transactable" data-wishlistable-type="Transactable" data-link-to-classes="button button-default favorite-button" data-path-bulk="/wish_lists/bulk_show" data-object-id="{{ listing.attributes.guid }}" id="favorite-button-Transactable-{{ listing.attributes.guid }}" title="Add to favorites"></li>
                  <li>
                    <a href="{{ listing.attributes.url }}" class="button button-default">Reserve</a>
                  </li>
                </ul>
              </div>
            </article>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </section>

    <div class="related-items">
      <h4>Related listings:</h4>
      <ul class="list-unstyled">
        {% for related_storage in dsc.data.first.relationships.popular_searches.data %}
          {% for included_link in dsc.included %}
            {% if included_link.id == related_storage.id %}
              <li><a href="{{ included_link.attributes.url }}" class="button button-default button-small">{{ included_link.attributes.highlighted }}</a></li>
              {% break %}
            {% endif %}
          {% endfor %}
        {% endfor %}
      </ul>
    </div>

  {% endif %}
{% endcache_for %}
