.content-container
  %h4
    = t('instance_admin.settings.documents_upload.documents_upload')

  = simple_form_for @documents_upload, :url => instance_admin_settings_documents_upload_path(@documents_upload), :html => { method: @documents_upload.new_record? ? :post : :put, id: 'documents-upload-form' } do |f|
    = f.hidden_field :id
    = f.hidden_field :enabled

    .row
      .input-container.col-xs-12
        .control-group
          .switch-wrapper
            .switch
              .row
                .col-md-3
                  %span.uploads-enable-title
                    = t('instance_admin.settings.documents_upload.activate_upload_files')
                .col-md-9
                  = f.check_box :enabled, "data-activate-upload-files" => true

    .row
      .input-container.col-xs-12
        .description-for-enabled{ class: "#{ @documents_upload.is_enabled? ? '' : 'hide' }", "data-description-for-enabled" => true }
          .description
            = t('instance_admin.settings.documents_upload.safety_and_trust')
            = t('instance_admin.settings.documents_upload.documents_can_be')
          .description
            = t('instance_admin.settings.documents_upload.can_make_this')
            = t('instance_admin.settings.documents_upload.mark_your_choice')
        .description-for-disabled{ class: "#{ !@documents_upload.is_enabled? ? '' : 'hide' }", "data-description-for-disabled" => true }
          .description
            = t('instance_admin.settings.documents_upload.safety_and_trust')

        .options-wrapper{ class: "#{ @documents_upload.is_enabled? ? '' : 'hide' }", "data-options-wrapper" => true }
          = f.input :requirement, as: :radio_buttons, :collection => DocumentsUpload::REQUIREMENTS, label: false

    = content_for :header_buttons do
      = f.submit t('instance_admin.save'), class: "btn btn-blue pull-right", data: { 'submit-form' => 1, 'form-selector' => 'form' }
