- content_for :page_header do
  %h1= t('user_messages.title')

%nav.panel-nav
  %ul.tabs.pull-left
    %li{:class => params[:action] != 'archived' ? 'active' : nil}
      = link_to dashboard_user_messages_path do
        = t('user_messages.inbox', count: current_user.unread_user_message_threads_count_for(platform_context.instance))

    %li{:class => params[:action] == 'archived' ? 'active' : nil}
      = link_to archived_dashboard_user_messages_path do
        = t('user_messages.archived')

.panel.panel-default
  .panel-body
    - if @threaded_user_messages.blank?
      - if params[:action] == 'index'
        %p.empty-resultset
          = t('user_messages.no_new_messages')
      - if params[:action] == 'archived'
        %p.empty-resultset
          = t('user_messages.no_archived_messages')
    - else
      .inbox
        - @threaded_user_messages.each do |array_key, user_messages|
          = render 'user_message', user_message: user_messages.last.decorate
