{% for transactable in transactables %}
  {% assign transactable_collaborator = current_user  | find_collaborator: transactable %}
  <article class="listing-b" id="transactable_{{transactable.id}}">
    <h2>{{ transactable.name }}</h2>

    <p>
    {% if params.action == 'orders' %}
      {% if transactable.state == 'pending' %}
        <span class="label label-info">Open</span>
      {% elsif transactable.state == 'completed' %}
        <span class="label label-success">Completed</span>
      {% else %}
        <span class="label label-info">Accepted</span>
      {% endif %}
    {% else %}
      {% if transactable_collaborator.approved_by_owner? %}
        <span class="label label-success">Access Approved</span>
      {% elsif transactable_collaborator.rejected_by_owner? %}
        <span class="label label-danger">Access Rejected</span>
      {% else %}
        <span class="label label-info">Open</span>
      {% endif %}
    {% endif %}
    </p>


    <div class="row">
      <div class="col-md-9">
        {% include 'dashboard/user_reservations/reservation_details', reservation: reservation %}
      </div>
      <div class="col-md-3">
        {% include 'dashboard/company/transactables/enquirer_actions.html', transactable_collaborator: transactable_collaborator%}
      </div>
    </div>

    {% if transactable_collaborator.approved_by_owner? %}
      {% include 'dashboard/company/transactables/attachments.html', attachments: transactable.attachments %}
    {% endif %}

    <h3>Request To View Case Details:</h3>
    <div class="table-responsive">
      <table class="table table-transactable-details">
        <thead>
          <tr>
            <th>Handling Lawyer</th>
            <th>Date</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td>{{ transactable_collaborator.user.name }}</td>
              <td>{{ transactable_collaborator.created_at | to_date | l: 'short' }}</td>
              <td>{{ transactable_collaborator.status }}</td>
            </tr>
        </tbody>
      </table>
    </div>

    {% assign orders = current_user | get_enquirer_draft_orders: transactable %}

    {% if orders != empty %}
      <h3>Offer</h3>
      <div class="table-responsive">
        <table class="table table-transactable-details">
          <thead>
            <tr>
              <th>Date</th>
              <th>Status</th>
              <th class="actions">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for order in orders %}
              <tr>
                <td>{{ order.created_at | to_date | l: 'short' }}</td>
                <td>
                  {{ 'reservations.states.' | append: order.state | t }}
                </td>
                {% if order.unconfirmed_or_draft? %}
                  <td class="actions">
                    {% if order.inactive? %}
                      <a class="btn btn-info" href="{{ 'edit_dashboard_order_path' | generate_url: order.id }}">{{ 'general.edit' | t }}</a>
                    {% endif %}
                    <a class="btn btn-danger" href="{{ 'enquirer_cancel_dashboard_order_path' | generate_url: order.id }}" data-method="post" data-confirm="Are you sure you want to cancel?">{{ 'general.cancel' | t }}</a>
                  </td>
                {% elsif order.confirmed? %}
                  <td class="actions">Confirmed at {{ order.confirmed_at | l: 'long' }}</td>
                {% elsif order.archived? %}
                  <td class="actions">Archived at {{ order.archived_at | l: 'long' }}</td>
                {% else %}
                  <td class="actions">Cancelled at {{ order.archived_at  | l: 'long'  }}</td>
                {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
  </article>
{% endfor %}
