- legacy false
- title "Sign In"

.row-fluid
  #signup
    .span8.offset2
      .box
        %h2 Log in to Desks Near Me

        = render 'authentications/services'

        .hr.divider
          %span Or

        = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-horizontal" }) do |f|
          = f.input :email, :label => "Your email address",  :placeholder => "Email address you registered with", :required => false
          = f.input :password, :label => "Your password", :hint => "Forgot? #{link_to "Reset your password", new_user_password_url}"

          .actions
            = f.submit "Log In"
