- legacy false
- title "Sign In"

.sign-in
  .two-thirds.column
    .box
      %h2== Log in to Desks Near Me
      %p.intro
        Log in to your Desks Near Me account. Don't have an account yet? #{link_to "Sign up now", new_user_registration_url} for free!

      = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-horizontal" }) do |f|
        = f.input :email
        = f.input :password, :hint => "Forgot? #{link_to "Reset your password", new_user_password_url}"

        - if devise_mapping.rememberable?
          = f.input :remember_me, as: :boolean, inline_label: "Remember Me", label: false

        .actions
          = f.submit "Log In"

  .one-third.column
    = render "connect_provider", action: "log in"
