- legacy false
- title "Sign In"

.row-fluid
  #signup
    .span8.offset2
      .box
        %h2 Log in to Desks Near Me

        = render 'authentications/services'

        .hr.divider
          %span Or

        = form_for resource, :as => resource_name, :url => session_path(resource_name) do |f|
          .email-holder
            = f.text_field :email, :placeholder => "Email"
            %span.ico-mail
          .password-holder  
            = f.password_field :password, :placeholder => "Password"
            %span.ico-lock

          %p.notice
            =raw "Forgot? #{link_to('Reset your password', new_user_password_url)}"

          .actions
            = f.submit "Log In"

      .text-center.already-a-user= link_to('Not registered? Click here to Sign Up', new_user_registration_path(:return_to => params[:return_to]))      
