- legacy false
- title "Sign In"

#signup
  .two-thirds.column.alpha
    .box
      %h2 Log in to Desks Near Me

      %h3.twitter-login
        Log in with twitter:

      = render 'authentications/services'

      .hr.divider
        %span alternatively

      = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-horizontal" }) do |f|
        = f.input :email, :label => "Your email address",  :placeholder => "Email address you registered with"
        = f.input :password, :label => "Your password", :hint => "Forgot? #{link_to "Reset your password", new_user_password_url}"

        - if devise_mapping.rememberable?
          = f.input :remember_me, as: :boolean, inline_label: "Remember Me", label: false

        .actions
          = f.submit "Log In", :disable_with => "Logging In..."

  .one-third.column.faqs-column
    %h2 Already have an account?
    %p
      If you've already registered a DesksNearMe account then head
      over to the #{link_to "log in", new_user_session_url} page instead.

    %h2 Forgotten your password?
    %p
      If you've forgotten your password, then don't sweat. We can help you recover
      access to your account. Just head over to the #{link_to "reset password", new_user_password_url}
      page and follow the steps.

