%article.order{id: dom_id(reservation)}
  %header
    .row
      .col-sm-7
        - if reservation.transactable.present? && !reservation.transactable.deleted?
          %h2
            - transactable_name = reservation.transactable.try(:name)
            - transactable_name = t('dashboard.host_reservations.show_listing_page') if transactable_name.blank?
            = link_to transactable_name, reservation.transactable.decorate.show_path

            = build_click_to_call_button_for_transactable(reservation.transactable)

        - else
          %h2= "#{reservation.transactable.try(:name)} [#{t('dashboard.user_reservations.listing_deleted')}]"

      .col-sm-5
        .order-status
          - if reservation.archived_at.present? && reservation.state == 'confirmed'
            %span{class: 'confirmed' }
              = t("reservations.states.completed")
          - else
            %span{class: reservation.state }
              = t("reservations.states.#{reservation.state}")


  - if reservation.state == 'unconfirmed' && !reservation.archived?
    .alert.alert-warning
      #{t('dashboard.user_reservations.pending_confirmation')} <strong>#{reservation.time_to_expiry(reservation.expires_at)}</strong>.

    - if reservation.payment.try(:active_merchant_payment?)
      - if reservation.payment.billing_authorizations.present?
        .alert.alert-warning= I18n.t('dashboard.user_reservations.money_info')

  - if reservation.payment.test_mode?
    .alert.alert-warning= I18n.t('dashboard.user_reservations.test_mode')

  - if show_not_verified_user_alert?(reservation.transactable)
    .alert.alert-warning
      = I18n.t('dashboard.click_to_call.not_verified_self_warning', link: link_to(t('dashboard.nav.social_accounts'), social_accounts_path).html_safe).html_safe



  = render 'reservation_details', reservation: reservation, for_host: false


  .row
    - if reservation.guest_notes.present?
      .col-sm-3
        %h3= t('dashboard.user_reservations.exclusive_price_guests_notes')
        %blockquote= reservation.guest_notes

    - if reservation.payment_documents.present?
      .col-sm-3
        %h3=  t('dashboard.user_reservations.payment_documents')
        %ul.payment-documents
          - reservation.payment_documents.each do |pd|
            %li
              %a{:href => pd.file.url, download: true}= pd.file.file_name
    - if reservation.additional_line_items.present?
      .col-sm-3.right
        %h3=  t('dashboard.user_reservations.additional_charges')
        %ul.payment-documents
          - reservation.additional_line_items.each do |ac|
            %li
              =ac.name + ' - ' + render_money(ac.total_price)

  .row
    .col-sm-9.col-sm-push-3
      .order-actions
        - if reservation.confirmed?
          = link_to t('dashboard.user_reservations.add_to_ical'), export_dashboard_user_reservation_path(reservation, format: :ics), class: 'btn btn-default'

          - if reservation.shipments.inbound.first.try(:label_url).present?
            = link_to t('dashboard.user_reservations.return_label'), reservation.shipments.inbound.first.try(:label_url), class: 'btn btn-default'
          - if reservation.shipments.outbound.first.try(:tracking_url_provider).present?
            = link_to t('dashboard.user_reservations.track_package'), reservation.shipments.outbound.first.try(:tracking_url_provider), class: 'btn btn-default'


        - if reservation.can_approve_or_decline_checkout?
          = form_for reservation.payment, method: :post, url: approve_dashboard_user_reservation_payment_path(reservation, reservation.payment) do |f|
            = f.submit I18n.t('general.approve'), data: { confirm: t('confirmations.are_you_sure') }, class: 'btn btn-success'


          = link_to t('general.reject'), rejection_form_dashboard_user_reservation_payment_path(reservation, reservation.payment), class: "btn btn-warning", data: { modal: "true"}
        - if reservation.has_to_update_credit_card?
          %span= link_to t('dashboard.user_reservations.update_credit_card'), edit_dashboard_user_reservation_payment_path(reservation, reservation.payment), class: "btn btn-warning", data: { modal: "true"}
          .cc-error= t('dashboard.user_reservations.must_change_credit_card')

        - unless reservation.archived?
          - if reservation.cancellable?
            = form_for reservation, method: :post, url: user_cancel_dashboard_user_reservation_path(reservation) do |f|
              = f.submit I18n.t('general.cancel'), data: { confirm: t('dashboard.user_reservations.cancel_confirmation') }, class: 'btn btn-warning'
            - if reservation.penalty_charge_apply?
              .cc-error= t('dashboard.user_reservations.penalty_charge_will_apply', penalty_hours: reservation.cancellation_policy_penalty_hours, penalty_fee: render_money(reservation.penalty_fee), hours_for_cancellation: reservation.cancellation_policy_hours_for_cancellation)

          - if reservation.remote_payment? && !reservation.paid? && !reservation.archived?
            = link_to t('dashboard.user_reservations.pay_now'), remote_payment_dashboard_user_reservation_path(reservation), class: 'btn btn-default'

    .col-sm-3.col-sm-pull-9
      %small= t('dashboard.user_reservations.reservation_placed_html', date: l(reservation.created_at.to_date, format: :long))
      %br
      %small= t('dashboard.host_reservations.order_number', number: reservation.id)
