- title t('dashboard.nav.user_reservations', count: @reservations.count)

- content_for :page_header do
  %h1= yield :title

- actions = ['booking_successful', 'upcoming', 'booking_failed']
- tabs = []
- tabs.push({ name: "#{t('dashboard.user_reservations.upcoming')} (#{@upcoming_count})".html_safe, url: upcoming_dashboard_user_reservations_path, active: actions.include?(params[:action]) })
- tabs.push({ name: "#{t('dashboard.user_reservations.archived')} (#{@archived_count})".html_safe, url: archived_dashboard_user_reservations_path, active: params[:action] == 'archived' })

= dashboard_panel_multi_tabs(tabs)

.panel
  .panel-body
    - if @reservations.empty?
      %p.empty-resultset
        = t('reservations.no_bookings_html', {bookable_nouns: platform_context.bookable_nouns, type: booking_type_from_action(params[:action])})
    - else

      .orders-a
        - if @reservation
          = render 'dashboard/user_reservations/reservation_successful'

        - (@reservations - [@reservation]).each_with_index do |reservation, index|
          = render 'dashboard/user_reservations/reservation', reservation: reservation.decorate


= render 'modals'

