.booking-module-container{:class => "#{@collapsed ? " collapsed" : ""}", id: "booking-module-#{@listing.id}", data: { :'toggleable-booking-module' => true, listing: listing_booking_data(@listing).to_json, :'returned-from-session' => (@initial_bookings.present? ? @form_trigger : false) } }
  .booking-module
    .booking-header
      %a.toggleable-booking-trigger{:href => @listing.show_path, :'data-booking-trigger' => true}
        %span.pull-right
          %i.ico-chevron-down
          %i.ico-chevron-right
        %span.booking-listing-name= mask_phone_and_email_if_necessary(@listing.name)

    .booking-price-info
      %span= price_information(@listing)
    .booking-body
      .clearfix
      = render 'listings/booking_module_listing_description', listing: @listing
      - unless @action_type.no_action?
        - if @action_type.bookable?
          .clearfix
          - rfq_class = nil
          - rfq_label = nil
          - registration_url = new_api_user_path(return_to: @listing.show_path(restore_reservations: @listing.id))
          - book_hash = { id: "book-#{@listing.id}", class: "btn btn-green btn-large ", rel: "tooltip",
            :'data-original-title' => t('booking_module.notices.days_first'),
            :'data-behavior' => 'reviewBooking', :'data-listing-id' => @listing.id,
            :'data-registration-url' => registration_url, :'data-store-reservation-request-url' => store_order_listing_orders_url(@listing),
            :'data-user-signed-in' => user_signed_in?, :'data-secured' => (not secure_links?), :'data-force-modal' => false}
          - form_options = { :url => listing_orders_path(@listing), html: { id: "reservation_request_form_#{@listing.id}" } }
          - if @action_type.action_rfq?
            - book_hash[:class] += (@action_type.is_free_booking? ? 'hidden' : 'span6')
            - rfq_class = (@action_type.is_free_booking? ? 'btn btn-green btn-large' :  'btn btn-gray-light btn-large offer-button span6' )
            - rfq_label = (@action_type.is_free_booking? ?  t('reservations.rfq') : t('reservations.offer'))
          .book
            = simple_form_for :order, form_options do |f|
              = render 'listings/hidden_fields', f: f, listing: @listing
              = f.hidden_field :transactable_pricing_id, value: @action_type.pricing.id

              = render 'listings/booking_module_listing_description_below_dates', listing: @listing
              .clearfix
              = render 'listings/additional_charges', listing: @listing
              = render 'listings/booking_module_listing_description_above_call_to_action', listing: @listing
              = render 'listings/booking_module_call_to_actions', listing: @listing, book_hash: book_hash.stringify_keys, rfq_class: rfq_class, rfq_label: rfq_label
              .clearfix
              = render 'listings/booking_module_listing_description_below_call_to_action', listing: @listing

        - else
          = render 'listings/booking_module_not_bookable', listing: @listing

    .clearfix

%script
  $(document).trigger('init:bookingscontroller.nearme', ["#booking-module-#{@listing.id}"]);



