= simple_form_for [:global_admin, resource], :html => { :multipart => true, :class => "form-vertical" } do |f|
  = f.input :name
  = f.input :email
  = f.input :password, :hint => "Leave blank if unchanged"

  .form-actions
    = f.button :submit
