%h1= resource.name

.pull-right
  = link_to "Edit", edit_global_admin_user_url(resource), :class => "btn"
  = link_to "Login As", login_as_global_admin_user_url(resource), :method => :post, :class => "btn"

%ul.nav.nav-tabs
  %li.active= link_to "Attributes", "#attributes", :'data-toggle' => "tab"
  %li= link_to "Reservations", "#reservations", :'data-toggle' => "tab"

.tab-content
  .tab-pane.active#attributes
    = render 'attributes_table'

  .tab-pane#reservations
    = render 'global_admin/reservations/list_table', :collection => resource.orders.order('created_at desc')
