<%= render "/shared/mailers/header" %>
<p>Hi <%= @inquiry.listing.creator.name %>,</p>

<p>We've received a new inquiry from <%= @inquiry.inquiring_user.name %>. They've asked:</p>

<p>"<%= @inquiry.message %>"</p>

<p>You can answer their question by replying to this email.</p>

<p>Sweet!<br>

 - The Desks Near Me Crew</p>
 <%= render "/shared/mailers/footer" %>