<p>Dear <%= @inquiry.listing_creator_name %>,</p>

<p><%= @inquiry.inquiring_user_name %> has asked a question about your <%=@platform_context_decorator.bookable_noun%>, <%= @inquiry.listing %> on Desks Near Me:</p>

<pre><%= @inquiry.message %></pre>
<p></p>

<p>Simply reply to this email to get in touch with them!</p>
