= render 'shared/render_flash'

%p
%div File Name
%div= link_to @ticket_message_attachment.read_attribute(:file), @ticket_message_attachment.file.url, target: '_blank'

%p
%p
%p
- url = @ticket.present? ? support_ticket_ticket_message_attachment_path(@ticket, @ticket_message_attachment) : support_ticket_message_attachment_path(@ticket_message_attachment)
= simple_form_for @ticket_message_attachment, url: url, html: { id: 'attachment_form', method: :put } do |f|
  = f.input :tag, as: :radio_buttons, collection: Support::TicketMessageAttachment::TAGS
  %input{type: 'hidden', name: 'form_name', value: @form_name}
  %p
  %p
  %p
  .row-fluid
    .span5.offset7
      = f.submit 'Save', class: 'btn btn-grey pull-right'
.clearfix

:javascript
  $(document).trigger('init:custominputs.nearme');
  $(document).trigger('init:supportattachmentform.nearme');

