%header.dialog__header
  %h2#dialog__title= t('dashboard.payments.change_credit_card')

= dashboard_simple_form_for @payment, url: dashboard_user_reservation_payment_path(@order, @payment), method: :put, data: { modal: true } do |f|
  .dialog__body
    - based_collection = current_user.instance_clients.for_payment_gateway(@payment.payment_gateway_id, @payment.test_mode?).first.try(:credit_cards).try(:select, &:active?).try(:map) { |cc| [I18n.t('credit_cards.masked_number', last4: cc.last_4), cc.id] } || []
    - default_option = based_collection.first.present? ? based_collection.first[1] : 'custom'
    - selected_option = f.object.chosen_credit_card_id.presence || default_option

    = f.input :chosen_credit_card_id, as: :radio_buttons, collection: based_collection << [I18n.t('payments.cc_fields.add_new'), 'custom'], label: false, checked: selected_option
    .new-credit-card-form{style: "#{'display: none;' unless f.object.chosen_credit_card_id == 'custom'}"}
      = f.simple_fields_for :credit_card_attributes, f.object.credit_card do |form|
        = render 'credit_cards/credit_card_fields', form: form

  .dialog__actions
    = f.submit t('general.save')

:javascript
  $('.dialog__body').each(function(index, el){
    el = $(el)
    new_credit_card_form = el.find('.new-credit-card-form');
    el.find('input.radio_buttons').on('change', function(event){
      target = $(event.target);
      if(target.val() == 'custom'){
       new_credit_card_form.show();
      }
      else {
       new_credit_card_form.hide();
      }
    });
    $(el.find('input.radio_buttons:checked')).trigger('change')
  });
  $(document).trigger('init:creditcardform.nearme');

= javascript_include_tag "https://js.stripe.com/v2/"
