- title t('dashboard.nav.edit')

- content_for :page_header do
  %h1= yield :title

  = render 'registrations/edit_options'

= render 'dashboard/shared/profile_nav', active: :seller

= dashboard_simple_form_for [:dashboard, current_user], url: dashboard_seller_path, method: :put, html: { class: "form-expandable user-profile-form" } do |f|
  %input{:type => "hidden", name: "current_tab", "data-current-tab-input": ""}
  = f.simple_fields_for :seller_profile do |seller_profile_form|
    = seller_profile_form.simple_fields_for :properties, @seller_profile.properties do |seller_properties_form|
      .panel
        .panel-body
          - @form_components.each do |form_component|
            - class_name = "form-component-wrapper form-component-seller"
            - form_component_identifier = form_component.name.parameterize
            - class_name << " active" if params["current_tab"] == form_component_identifier
            %div{ class: class_name, id: "form-component-#{form_component_identifier}", "data-tab-name": form_component_identifier  }
              %h3.sr-only= form_component.name

              - form_component.form_fields.each do |form_field|
                - model = form_field.keys.first
                - field = form_field[model]
                - if model == 'seller'
                  = render :partial => 'sellers/seller_form', :locals => { f: seller_profile_form, only_inputs: [field.to_sym], properties_form: seller_properties_form }
                - elsif model == 'user'
                  = render :partial => 'registrations/new_attributes', :locals => { f: f, only_inputs: [field.to_sym], country: @country }

      .panel.form-actions
        .panel-body
          = f.submit "Save"
