<h2>Pssst, {{ user.first_name }}!</h2>

<p>{{ user.administered_locations_pageviews_30_day_total }} people have looked at your listings over the past 30 days!</p>

<p>Make sure you have plenty of photos, and that they are up to date. It will make your {{ platform_context.bookable_noun }} look even better! Listings with photos are booked 10x more than those without.</p>

<a class="btn" href="{{ platform_context.host | append:user.manage_locations_url_with_tracking_and_token | append:signature_for_tracking }}">Manage {{ platform_context.bookable_noun_plural }}</a>

<p>Also, check out your personal profile and filled out all the information. Don't forget a great photo of yourself! You can edit this in your personal account.</p>

<p>Finally, you can promote your space on social media, or reach out to Near Me and we may tweet about your space and feature the listing in our newsletter.</p>

<p>Spread the word to increase bookings!</p>

{% include 'reservation_mailer/social_links.html' %}
