<h2>Make a great first impression, {{ user.first_name }}!</h2>

<p>Your listing, '<a href="{{ listingłisting_url }}">{{ listing.name }}</a>' at {{ listing.street }}, needs some pictures! Listings with photos have 10x chances of getting rented. Choose great pictures of your space and give potential guests a good first impression.</p>

<a class="btn" href="{{ listing.manage_listing_url_with_tracking }}">Upload Photos Now</a>

<p>No pics? We are here to help! Request a professional photographer for free. Send us an email at <a href="mailto:happydesk@desksnear.me">happydesk@desksnear.me</a> or contact us at or {{ platform_context.phone_number }} to schedule your shooting session, today!</p>
