- if f.object.is_a?(BaseForm)
  - id_prefix ||= ''
  .listing-availability
    %hr/
    %h3
      = title ||= t(:title, scope: [:pricing, :availability])
    = f.simple_fields_for :availability_templates do |at|
      = at.simple_fields_for :availability_rules  do |af|
        = af.input :open_time, as: :hidden, input_html: { value: af.object.model.try(:open_time_with_default) }
        = af.input :close_time, as: :hidden, input_html: { value: af.object.model.try(:close_time_with_default) }
        - (af.object.model.try(:days).presence || (0..6).to_a).each do |day|
          = af.input :days, as: :hidden, input_html: { value: day, multiple: true }
      .unavailability= render 'schedules/unavailability', f: at
- else
  - id_prefix ||= ''
  .listing-availability
    %hr/
    %h3
      = title ||= t(:title, scope: [:pricing, :availability])
    = f.simple_fields_for :availability_template, get_availability_template_object(f.object) do |at|
      = at.input :id, as: :hidden, input_html: { value: at.object.id }
      = at.simple_fields_for(:availability_rules) do |af|
        = af.input :open_time, as: :hidden, input_html: { value: af.object.try(:open_time_with_default) }
        = af.input :close_time, as: :hidden, input_html: { value: af.object.try(:close_time_with_default) }
        - (af.object.try(:days).presence || (0..6).to_a).each do |day|
          = af.input :days, as: :hidden, input_html: { value: day, multiple: true }
      .unavailability= render 'schedules/unavailability', f: at
