.content-container
  .sub-header-nav
    %ul
      - %w(pending rejected questioned approved).each do |state|
        %li
          = link_to "#{state.capitalize} (#{ApprovalRequest.send(state).for_non_drafts.count})", instance_admin_manage_approval_requests_path(:show => state), class: " #{'active' if state == params[:show]}"

  %h4
    = t('instance_admin.manage.approval_requests.vendor_approval')

  .row
    .text-container
      = form_tag instance_admin_manage_approval_requests_path, method: :get, enforce_utf8: :false do
        .filters
          .filter.period
            .dropdown.date-dropdown
              %a#dLabel.dropdown-trigger{"aria-expanded" => "false", "aria-haspopup" => "true", "data-target" => "#", "data-toggle" => "dropdown", :role => "button"}
                - if params[:date].present?
                  %span.current= selected_date_value(params[:date])
                - else
                  %span.current
                    = t('instance_admin.manage.admin_searchable.title_all')
                %span.caret
                = hidden_field_tag 'date', date_param_value
              %ul.dropdown-menu{"aria-labelledby" => "dLabel", :role => "menu"}
                %li
                  %a{data: {date: ''}}
                    = t('instance_admin.manage.admin_searchable.title_all')
                - ApprovalRequest::DATE_VALUES.each do |value|
                  %li
                    %a{data: {date: value}}
                      = selected_date_value(value)
                %li.divider
                %li.date-range
                  .date-range-header
                    = t('instance_admin.manage.admin_searchable.date_range')
                  .from
                    = t('instance_admin.manage.admin_searchable.from')
                  %input#from{type: 'text'}
                  .to
                    = t('instance_admin.manage.admin_searchable.to')
                  %input#to{type: 'text'}
                  %button.apply-filter.btn.btn-blue
                    = t('instance_admin.manage.admin_searchable.apply_filter')

          .filter.search
            %input{placeholder: t('instance_admin.manage.admin_searchable.search_by_keyword'), type: 'text', name: 'q', value: params[:q]}
            %input{type: 'submit', name: 'commit', value:'submit', class: 'hidden_form_element2'}
            =fa_icon "search", class: 'fa-action-icon-submit'
        = hidden_field_tag :show, params[:show]

  .row
    .table-container.col-xs-12
      %table.table.table-hover
        %thead
          %tr
            %th= t('instance_admin.manage.approval_requests.object_name')
            %th= t('instance_admin.manage.approval_requests.object_type')
            %th= t('instance_admin.manage.approval_requests.notes')
            %th= t('instance_admin.manage.approval_requests.created_at')
            %th= t('instance_admin.manage.approval_requests.creator')

        %tbody
          - @approval_requests.each do |resource|
            %tr
              %td
                = resource.decorate.owner_name
              %td
                = resource.decorate.owner_class
              %td
                = resource.notes.try(:truncate, 25)
              %td
                =l resource.created_at, format: :short
              %td
                = resource.decorate.login_as_owner_creator_link
              %td
                = link_to t('instance_admin.manage.approval_requests.manage'), edit_instance_admin_manage_approval_request_path(resource)


.row
  .text-container
    .pull-right
      = will_paginate @approval_requests

= content_for :header_buttons do
  = link_to t('instance_admin.manage.approval_requests.settings'), instance_admin_manage_approval_request_templates_path, class: 'btn btn-blue'
