%h4 Manage Form Components

.content-container
  .row
    = link_to 'New Form Component', new_instance_admin_manage_transactable_type_form_component_path(@transactable_type), class: 'pull-right btn btn-green'

%h4 Form Components
.content-container
  .row
    .table-container.col-xs-12.dropshadow
      %table.table
        %tbody
          - @form_components.each do |resource|
            %tr
              %td= resource.name.humanize
              %td= resource.form_type
              %td= link_to 'Edit', edit_instance_admin_manage_transactable_type_form_component_path(@transactable_type, resource), class: 'pull-right'
              %td= link_to "Delete", instance_admin_manage_transactable_type_form_component_path(@transactable_type, resource), method: :delete, confirm: "Are you sure you want to delete this transactable type?", class: "pull-right"

- @form_components.group_by(&:form_type).each do |form_type, form_components|
  %h4= form_type.humanize
  .content-container
    .row
      .table-container.col-xs-12.dropshadow
        %ol.formComponentPanelList
          - form_components.each do |form_component|
            %li.panel.panel-info{'data-id'=>form_component.id}
              %div.panel-heading
                = form_component.name

= content_for :script do
  :javascript
    new FormComponents("ol.formComponentPanelList", "#{@transactable_type.id}")
