.row
  = form_tag '', :method => 'get', enforce_utf8: :false do
    .row
      .col-xs-3
        = select_tag :payment_gateway_id, options_from_collection_for_select(@payment_gateways, "id", "name", params[:payment_gateway_id]), include_blank: "All Payment Gateways", class: "selectpicker"

      .col-xs-2
        = select_tag :transferred, options_for_select([ ["Awaiting for transfer", :awaiting], ["With transfer attempt", 'transferred'], ["All", :all], ["Ecluded from transfers", :excluded] ], params[:transferred]), class: "selectpicker"
      .col-xs-2
        = select_tag :state, options_for_select(Payment.state_machine.states.map{|s| [s.name.capitalize, s.name] } , params[:state]), include_blank: "In all states", class: "selectpicker"
      .col-xs-1
        = select_tag :mode, options_for_select([["Live", 'live'], ["Test", 'test']], params[:mode]), class: "selectpicker"
      .col-xs-2
        = submit_tag "Search", :name => nil, class: 'btn btn-light'
  .table-container.col-xs-12
    %table.table
      %thead
        %tr
          %th= t('instance_admin.manage.payments.company')
          %th= t('instance_admin.manage.payments.lessor')
          %th= t('instance_admin.manage.payments.payer')
          %th= t('instance_admin.manage.payments.state')
          %th= t('instance_admin.manage.payments.payment_gateway')
          %th= t('instance_admin.manage.payments.created_at')
          %th
            %b= t('instance_admin.manage.payments.payment_amount')
          %th= t('instance_admin.manage.payments.details')

      - @payments.each do |payment|
        %tr
          %td
            - if payment.company.present?
              = payment.company.name
            - else
              = "(#{t('instance_admin.deleted')})"
          %td=  payment.payable ? link_to(payment.payable.creator.name_with_state, edit_instance_admin_manage_user_path(payment.payable.creator)) : "-  "
          %td= payment.payer ? link_to(payment.payer.name_with_state, edit_instance_admin_manage_user_path(payment.payer)) : "-  "
          %td= payment.state.try(:capitalize)
          %td= payment.payment_gateway.try(:name)
          %td= l(payment.created_at, format: :long)
          %td
            %b= humanized_money_with_cents_and_symbol(payment.total_amount)
          %td= link_to 'Details',  instance_admin_manage_payment_path(payment)
