.row
  .table-container.col-xs-12
    %table.table
      %thead
        %tr
          %th= t('instance_admin.manage.payments.company')
          %th= t('instance_admin.manage.payments.lessor')
          %th= t('instance_admin.manage.payments.state')
          %th= t('instance_admin.manage.payments.lessor_service_fees')
          %th= t('instance_admin.manage.payments.lessee_service_fees')
          %th= t('instance_admin.manage.payments.service_addons')
          %th= t('instance_admin.manage.payments.host_addons')
          %th= t('instance_admin.manage.payments.payment_amount')
          %th= t('instance_admin.manage.payments.payment_gateway')
          %th= t('instance_admin.manage.payments.created_at')
          %th= t('instance_admin.manage.payments.details')

      - @payments.each do |payment|
        %tr
          %td
            - if payment.company.present?
              = payment.company.name
            - else
              = "(#{t('instance_admin.deleted')})"
          %td= payment.payable.user.try(:name) if payment.payable
          %td= payment.state
          %td= humanized_money_with_cents_and_symbol(payment.service_fee_amount_guest)
          %td= humanized_money_with_cents_and_symbol(payment.service_fee_amount_host)
          %td= humanized_money_with_cents_and_symbol(payment.service_additional_charges)
          %td= humanized_money_with_cents_and_symbol(payment.host_additional_charges)
          %td= humanized_money_with_cents_and_symbol(payment.subtotal_amount)
          %td= payment.payment_gateway.try(:name) if payment
          %td= l(payment.created_at, format: :long)
          %td= link_to 'Details',  instance_admin_manage_payment_path(payment)
