.content-container
  %h4 Payment details
  .row
    %ul
      %li
        Payer:
        = link_to @payment.payer.name, edit_instance_admin_manage_user_path(@payment.payer)
      %li
        Total:
        = render_money @payment.total_amount
      %li
        Subtotal:
        = render_money @payment.subtotal_amount
      %li
        Service Fee:
        = render_money @payment.service_fee_amount_guest
      %li
        Service Usell & Addons:
        = render_money @payment.service_additional_charges
      %li
        Host Usell & Addons:
        = render_money @payment.host_additional_charges
      - if @payment.payable.respond_to?(:tax_included_in_price) && @payment.payable.tax_included_in_price
        %li
          Tax included
          = render_money @payment.payable.total_tax_amount
      %li
        State:
        = @payment.state

  = simple_form_for ['instance_admin', 'manage', @payment], html: { id: 'edit-payment-form'} do |f|
    .row
      .input-container.col-xs-12
        = f.input :exclude_from_payout, as: :boolean


    = content_for :header_buttons do
      = f.button :submit, t('instance_admin.save'), class: 'btn btn-blue pull-right', data: { 'submit-form' => 1, 'form-selector' => '#edit-payment-form' }
      = link_to "Update payment", reload_instance_admin_manage_payment_path(@payment),  class: 'btn btn-danger pull-right', data: { confirm: "Are you sure?"}, method: 'put'
      - if @payment.payment_gateway.class.name.include?("Stripe") && @payment.payment_gateway_url
        = link_to "View in Stripe", @payment.payment_gateway_url, class: 'btn btn-info pull-right', target: '_blank'
      - if @payment.payment_transfer
        = link_to "Transfer", instance_admin_manage_transfer_path(@payment.payment_transfer), class: 'btn btn-info pull-right'


  %h4 Authorizations:

  - @payment.billing_authorizations.each do |charge|
    .content-container

      .row
        .text-container{class: charge.success? ? 'text-success' : 'text-danger' }
          %p
            Success:
            = charge.success
          %p
            Created at:
            = l charge.created_at, format: :long
          - if charge.payment_gateway.present?
            %p
              Payment Gateway:
              = link_to charge.payment_gateway.try(:name), edit_instance_admin_settings_payment_gateway_path(charge.payment_gateway)
          %p
            Mode:
            = charge.payment_gateway_mode
          %p
            Response:
            = charge.response.to_yaml


  %h4 Charge attempts:

  - @payment.charges.each do |charge|
    .content-container

      .row
        .text-container{class: charge.success? ? 'text-success' : 'text-danger' }
          %p
            Success:
            = charge.success
          %p
            Created at:
            = l charge.created_at, format: :long
          - if charge.payment_gateway.present?
            %p
              Payment Gateway:
              = link_to charge.payment_gateway.try(:name), edit_instance_admin_settings_payment_gateway_path(charge.payment_gateway)
          %p
            Mode:
            = charge.payment_gateway_mode
          %p
            Amount:
            = render_money charge.price

          %p
            Response:
            = charge.response.to_yaml

- if @payment.refunds.any?
  .content-container

    %h4 Payment refund

    - @payment.refunds.each do |refund|
      .content-container

        .row
          .text-container{class: refund.success? ? 'text-success' : 'text-danger' }
            %p
              Success:
              = refund.success
            %p
              Created at:
              = l refund.created_at, format: :long
            - if refund.payment_gateway.present?
              %p
                Payment Gateway:
                = link_to refund.payment_gateway.try(:name), edit_instance_admin_settings_payment_gateway_path(refund.payment_gateway)
            %p
              Amount:
              = number_to_currency_symbol(refund.currency, Money.new(refund.amount))
            %p
              Receiver:
              = refund.receiver.try(:capitalize)
            %p
              Response:
              = refund.response

- if @payment.voided?
  .content-container
    %h4 Payment void
    - if @payment.successful_billing_authorization
      .content-container
        .row
          .text-container{class: @payment.successful_billing_authorization.success? ? 'text-success' : 'text-danger' }
            %p
              Voided at:
              = @payment.successful_billing_authorization.void_at
            %p
              Void Response:
              = @payment.successful_billing_authorization.void_response
