= simple_nested_form_for [:instance_admin, :manage, resource], :html => { :multipart => true} do |f|
  %input{ name: :action_name, type: :hidden, value: :edit }
  .content-container
    %h4= t('instance_admin.manage.offer_types.basic_configuration')
    .row
      .input-container.col-xs-12
        = f.input :name, input_html: { class: 'form-control' }
    .row
      .input-container.col-xs-12
        = f.association :transactable_types
    .row
      .input-container.col-xs-12
        = f.input :step_checkout, as: :boolean, checked_value: true, unchecked_value: false
    .row
      .input-container.col-xs-12
        = f.input :validate_on_adding_to_cart, as: :boolean, checked_value: true, unchecked_value: false
    .row
      .input-container.col-xs-12
        = f.input :skip_payment_authorization, as: :boolean, checked_value: true, unchecked_value: false
    .row
      .input-container.col-xs-12
        = f.input :check_overlapping_dates, as: :boolean, checked_value: true, unchecked_value: false
    .row
      .input-container.col-xs-12
        = f.input :edit_unconfirmed, as: :boolean, checked_value: true, unchecked_value: false
    .row
      .input-container.col-xs-12
        = f.input :withdraw_invitation_when_reject, as: :boolean, checked_value: true, unchecked_value: false

  = content_for :header_buttons do
    = f.button :submit, t('instance_admin.save'), class: 'btn btn-blue pull-right', data: { 'submit-form' => 1, 'form-selector' => 'form' }
