<h2>Can we help, {{ lister.first_name }}?</h2>

<p>We noticed that you declined {{ reservation.owner.first_name }}'s booking for '<a href="{{ listing.listing_url }}">{{ listing.name }}</a>'.</p>

<p>We'd love to know the reasons so we can provide a better service in the future for you and your potential {{ listing.lessees }}.</p>

<p>Just reply to this email - we value your feedback!</p>
