<h2>{{ enquirer.first_name }}, your booking has been declined</h2>

<p>Your booking for '<a href="{{ listing.listing_url }}">{{ listing.name }}</a>' has been declined by the {{ listing.lessor }}.{% if reservation.has_rejection_reason %} They said:</p>

<p>{{ reservation.rejection_reason }}</p>
{% else %}</p>{% endif %}

{% include 'reservation_mailer/listings_in_near.html' %}

<a class="btn" href="{{ platform_context.host | append:listing.search_url_with_tracking | append:signature_for_tracking }}">Search More {{ reservation.bookable_noun_plural }}</a>

<p>We're always happy to help! If you have any questions about your booking, please send an email to <a href="mailto:{{ platform_context.support_email }}">{{ platform_context.support_email }}</a>.</p>
