= simple_form_for [:global_admin, resource.instance, resource], :html => { :multipart => true} do |f|
  = f.input :name
  = f.input :search_scope_option, :collection => Partner::AVAILABLE_SEARCH_SCOPE_OPTIONS, :prompt => false

  %h4 Domains
  - resource.build_domain unless resource.domain
  = f.fields_for :domain do |f_d|
    = render :partial => 'admin/domains/form', :locals => { :f => f_d }

  %h4 Custom Theme
  = f.fields_for :theme, resource.has_theme? ? resource.theme : resource.build_theme_from_instance  do |ff|
    = render :partial => 'admin/themes/form', :locals => { :f => ff }

  .form-actions
    = f.button :submit
