.order{id: dom_id(recurring_booking)}
  .order-head
    .row
      .col-md-3
        %p Order placed
        %p= l recurring_booking.created_at, format: :only_date

      .col-md-3
        %p Requested date
        %p.dates= recurring_booking.long_dates

      .col-md-4
        %p Requested time
        %p
          - if recurring_booking.action_hourly_booking?
            = recurring_booking.hourly_summary(false).gsub('<br />', ' ').html_safe
          - else
            N/A

      .col-md-2
        %p Total
        %p= recurring_booking.reservations.first.decorate.total_price

  .order-body
    .order-status
      %h3= recurring_booking.state.humanize.capitalize
      - if recurring_booking.can_confirm?
        %p= recurring_booking.manage_booking_status_info_new

    .row
      .order-item
        .col-md-8
          .row
            %h4 Recurring booking

          .row
            .inline
              - if recurring_booking.owner.present?
                = link_to recurring_booking.owner, profile_path(recurring_booking.owner.slug)
              - else
                = "#{recurring_booking.owner_including_deleted} (Deleted)"
              %br
              - if recurring_booking.listing.present?
                %span.address= link_to recurring_booking.listing.name, location_path(recurring_booking.listing.location, recurring_booking.listing)
              - else
                %span.address [listing deleted]
              %p QTY: #{recurring_booking.quantity}

        .col-md-4.order-actions
          = link_to 'See details', dashboard_host_recurring_booking_path(recurring_booking), class: 'btn blue full'

          - unless recurring_booking.archived?
            = render partial: 'dashboard/host_recurring_bookings/recurring_booking_owner_actions', locals: { recurring_booking: recurring_booking }
