- if recurring_booking.can_host_cancel?
  = form_for recurring_booking, method: :post, url: host_cancel_dashboard_host_recurring_booking_path(recurring_booking, listing_id: recurring_booking.listing) do |f|
    = f.submit t('general.cancel'), confirm: 'Do you really want to cancel recurring booking?', class: 'btn dark-gray full'

- if recurring_booking.can_confirm?
  = form_for recurring_booking, method: :post, url: confirm_dashboard_host_recurring_booking_path(recurring_booking, listing_id: recurring_booking.listing) do |f|
    = f.submit 'Confirm', confirm: 'Do you want to confirm recurring booking?', class: 'btn blue full'

- if recurring_booking.can_reject?
  = link_to 'Decline', '#',
      data: { modal: true, href: rejection_form_dashboard_host_recurring_booking_path(recurring_booking, listing_id: recurring_booking.listing) }, class: 'btn dark-gray full'

