%tr
  %td= link_to product.id, instance_admin_reports_product_path(id: product.id)
  %td= product.name
  %td= product.description.to_s.truncate(100)
  %td= product.extra_properties.to_h.to_s.truncate(100)
  %td
    = link_to t('instance_admin.edit'), edit_instance_admin_reports_product_path(product)
    = link_to t('instance_admin.delete'), instance_admin_reports_product_path(product.id), method: :delete, data: { confirm: t('instance_admin.are_you_sure') }
