%tr
  %td= link_to transactable.id, instance_admin_reports_products_path(id: transactable.id)
  %td= transactable.name
  %td= transactable.description.to_s.truncate(100)
  %td= transactable.extra_properties.to_h.to_s.truncate(100)
  %td
    = link_to t('instance_admin.delete'), [:instance_admin, :reports, transactable], method: :delete, data: { confirm: t('instance_admin.are_you_sure') }
