.content-container
  .row
    .table-container
      %table
        %tr
          %th
            = t('instance_admin.reports.attribute')
          %th
            = t('instance_admin.reports.value')
        - @product.attribute_names.each do |attribute_name|
          %tr
            %td
              = attribute_name
            %td
              - if attribute_name == 'extra_properties'
                = @product.properties.to_h.to_s
              - else
                = @product.send(attribute_name)

