.content-container
  = render partial: 'instance_admin/manage/search/tabs', locals: {tab: :services}

  %h4= t('instance_admin.manage.search.services_search.services_custom_search')
  %br

  .services
    - @service_types.each do |service_type|
      .service
        .header
          .service-name
            = image_tag('spinner_mini.gif', class: :hidden, id: "service_spinner_#{service_type.id}")
            %input{type: 'checkbox', name: 'searchable', checked: service_type.searchable?, spinner: "#service_spinner_#{service_type.id}", 'data-url' => set_search_instance_admin_manage_search_service_types_path(service_type_id:   service_type.id) }
            %label= service_type.name
          .service-options
            %input{type: 'checkbox', name: 'search_location_type_filter', checked: service_type.search_location_type_filter?, spinner: "#service_spinner_#{service_type.id}", 'data-url' => set_search_instance_admin_manage_search_service_types_path(service_type_id:   service_type.id) }
              %label= t('instance_admin.manage.search.services_search.search_location_type_filter')

        .search-system
          .content-container
            .sub-header-nav
              %ul
                %li
                  %a{'data-service-type-custom-attributes' => "#service_type_#{service_type.id}_custom_attributes", class: "service_type_custom_attributes", href: '#'}
                    = t('instance_admin.manage.search.custom_attributes.custom_attributes')
                    %span.caret
            %div{id: "service_type_#{service_type.id}_custom_attributes"}
              = render partial: 'instance_admin/manage/search/custom_attributes', locals: {service_type: service_type, custom_attributes: service_type.custom_attributes.order('name'), target_type: service_type}

  - content_for :domready do
    new InstanceAdmin.SearchServiceTypesController($('.services'))
