.order{id: dom_id(reservation)}
  .order-head
    .row
      .col-md-3
        %p Order placed
        %p= l reservation.created_at, format: :only_date

      .col-md-3
        %p Requested date
        %p.dates= reservation.long_dates

      .col-md-4
        %p Requested time
        %p
          - if reservation.action_hourly_booking?
            = reservation.hourly_summary_for_first_period(false).gsub('<br />', ' ').html_safe
          - else
            N/A

      .col-md-2
        %p Total
        %p= reservation.total_price

  .order-body
    .order-status
      .row
        .col-md-3
          %h4
            = t("dashboard.host_reservations.reservation_state")
        .col-md-9{class: reservation.confirmed? ? 'info' : "warn" }
          = reservation.state.humanize.capitalize
        .col-md-3
          %h4
            = t("dashboard.host_reservations.payment_state")
        .col-md-9{class: reservation.paid? ? 'info' : "warn" }
          = reservation.payment_status.humanize.capitalize
        .col-md-3
          %h4
            = t("dashboard.host_reservations.payment_method")
        .col-md-9{class: reservation.paid? ? 'info' : "warn" }
          = t("dashboard.host_reservations.payment_methods." + reservation.payment_method.name)
        - if reservation.listing.possible_delivery?
          .col-md-3
            %h4
              = t("dashboard.host_reservations.delivery_type")
          .col-md-9
            = reservation.shipments.any? ? t("dashboard.host_reservations.delivery.delivery") : t("dashboard.host_reservations.delivery.pick_up")
      - if reservation.can_confirm?
        %p= reservation.manage_booking_status_info_new
        - if reservation.active_merchant_payment?
          - if reservation.billing_authorization.present?
            %p= I18n.t('dashboard.host_reservations.money_info')
            %p= I18n.t('dashboard.host_reservations.next_payment_transfer', next_payment_transfer: reservation.next_payment_transfer)
            - if reservation.company.possible_payout_not_configured?(reservation.billing_authorization.payment_gateway)
              %p
                %i.ico-warning
                = I18n.t('dashboard.host_reservations.remember_to_setup_automated_payout', setup_link: edit_dashboard_company_payouts_path).html_safe

    .row
      .order-item
        .col-md-8
          .row
            .inline
              - if reservation.owner.present?
                = link_to reservation.owner, profile_path(reservation.owner.slug)
                = link_to '', '#', data: { modal: true, href: new_reservation_user_message_path(reservation) }, class: 'ico-mail'
              - else
                = "#{reservation.owner_including_deleted} (Deleted)"
              %br
              - if reservation.listing.present?
                %span.address= link_to reservation.listing.name, location_path(reservation.listing.location, reservation.listing)
              - else
                %span.address [listing deleted]
              %p QTY: #{reservation.quantity}
              - if reservation.guest_notes.present?
                %p= t('dashboard.host_reservations.exclusive_price_guests_notes', guest_notes: reservation.guest_notes)
              %p
                = reservation.total_units_text

        .col-md-4.order-actions
          = render 'dashboard/company/host_reservations/owner_actions', reservation: reservation

