- title "#{platform_context.lessee.capitalize.pluralize} (#{@guest_list.reservations.size + @guest_list.recurring_bookings.size})"

.dash-head.clearfix
  %ul
    %li{class: (params[:action] == 'index' && (params[:state].blank? || params[:state] == 'unconfirmed')) ? 'active' : ''}
      = link_to 'UNCONFIRMED', dashboard_company_host_reservations_path(state: 'unconfirmed')
    %li{class: (params[:action] == 'index' && params[:state] == 'confirmed') ? 'active' : ''}
      = link_to 'CONFIRMED', dashboard_company_host_reservations_path(state: 'confirmed')
    %li{class: (params[:action] == 'index' && params[:state] == 'archived') ? 'active' : ''}
      = link_to 'ARCHIVED', dashboard_company_host_reservations_path(state: 'archived')


.dash-body
  #guests
    #reservations
      .row-fluid
        .span8.offset2
          - if @guest_list.reservations_scope.empty? && @guest_list.recurring_bookings_scope.empty?
            = render 'promote_locations', locations: @company.locations
          - else
            - only_reservations ||= false
            - if @guest_list.reservations.empty? && !only_reservations && @guest_list.recurring_bookings.empty?
              .text-center
                = no_reservations_info_for_state(@guest_list.state)

            - else
              -if  !only_reservations
                - @guest_list.recurring_bookings.each do |recurring_booking|
                  = render 'dashboard/host_recurring_bookings/recurring_booking', recurring_booking: recurring_booking


              - @guest_list.reservations.each do |reservation|
                = render 'reservation', reservation: reservation
