- title "Data Upload"

= show_manage_navigation(:data_upload)

.row-fluid
  .span8.offset2
    .box
      %header
        %ul.location-and-listings
          %li.location
            .name.left
              Manage Data Uploads for #{@transactable_type.name}
      %ul.location-and-listings
        %li.listing.action-buttons
          .right
            = link_to 'New Data Upload', new_manage_transactable_type_data_upload_path(@transactable_type), class: 'btn btn-medium btn-white'
            = link_to 'Download Current Data', download_current_data_csv_manage_transactable_type_data_uploads_path(@transactable_type), class: 'btn btn-medium btn-white'
            = link_to 'Download CSV Template', download_csv_template_manage_transactable_type_data_uploads_path(@transactable_type), class: 'btn btn-medium btn-white'
          .clearfix
        %li.listing
          .span3
            = t('data_upload.manage.csv_file')
          .span4
            = t('data_upload.manage.review_file')
          .span1
            = t('data_upload.manage.import')
          .span3.state.text-right
            = t('data_upload.manage.status')

          .clearfix
        = render partial: 'data_upload', collection: @data_uploads
      = will_paginate @data_uploads

