- title "Data Upload"

= show_manage_navigation(:data_upload)

.row-fluid
  .span8.offset2
    %h1= t('data_upload.manage.new.header', transactable_type_name: @transactable_type.name)

    .box
      = simple_form_for [:manage, @transactable_type, @data_upload], html: { class: "form-horizontal", multipart: true, style: 'margin-top: 0px' } do |f|
        .row-fluid
          .controls.controls-row
            = f.input :csv_file, as: :file, label: 'CSV File', hint: t('data_upload.manage.new.external_id_hint')

        = f.simple_fields_for :options, OpenStruct.new(@data_upload.options) do |option|
          .row-fluid
            .controls.controls-row
              = option.input :sync_mode, required: false, as: :boolean, label: t('data_upload.manage.new.sync_mode'), hint: t('data_upload.manage.new.sync_mode_hint')

        = f.button :submit, 'Upload', class: 'btn btn-primary'

