/ hero
.hero-a{:style => "background-image: url(#{image_url('intel/hero-a-bg-a.jpg')});"}
  .contain
    %h2.hx
      = t :hero_slogan
    %p
      = t :hero_description
    %p.action
      = link_to t(:join_now), root_url, class: 'button-a large orange'
/ content wrapper
.wrap-a
  .contain
    / header with button
    .header-a
      %h2.hx
        = t :featured_projects
      %p.tx-a
        = t :explore_the_most_popular_projects
      %p.action
        = link_to t(:view_all), root_url, class: 'button-a small white'

    / grid
    .grid-a-projects-a
      .wrap
        .cell
          / teaser box
          %article.card-a{"data-equalize" => true}
            %figure
              = link_to root_url do
                = image_tag space_listing_placeholder_path(width: 460, height: 340)
            %p.action
              = link_to t(:follow), root_url, class: 'button-a tiny'
            %h3.hx
              = link_to 'Mobile Analytics App', root_url
            %p.user
              = link_to root_url do
                = image_tag space_listing_placeholder_path(width: 30, height: 30)
                Dave Hauser
            %p Quisque euismod orci sed nisi malesuada porta. In non molestie purus. Sed ut maximus nibh, eu ultrices massa. In accum san augue nisl, eget ultrices
        / repeated structure
        .cell
          %article.card-a{"data-equalize" => true}
            %figure
              = image_tag space_listing_placeholder_path(width: 460, height: 340)
            %p.action
              = link_to t(:follow), root_url, class: 'button-a tiny'
            %h3.hx
              = link_to 'Internet of Things Project', root_url
            %p.user
              = link_to root_url do
                = image_tag space_listing_placeholder_path(width: 30, height: 30)
                Dave Hauser
            %p Quisque euismod orci sed nisi malesuada porta. In non molestie purus. Sed ut maximus nibh, eu ultrices massa. In accum san augue nisl, eget ultrices
        .cell
          %article.card-a{"data-equalize" => true}
            %figure
              = image_tag space_listing_placeholder_path(width: 460, height: 340)
            %p.action
              = link_to t(:follow), root_url, class: 'button-a tiny'
            %h3.hx
              = link_to 'Dual Screen Project and Mobile Analytics', root_url
            %p.user
              = link_to root_url do
                = image_tag space_listing_placeholder_path(width: 30, height: 30)
                Dave Hauser
            %p Quisque euismod orci sed nisi malesuada porta. In non molestie purus. Sed ut maximus nibh, eu ultrices massa. In accum san augue nisl, eget ultrices

/ content wrapper
.wrap-a.white
  .contain
    / header with button
    .header-a
      %h2.hx
        = t :connect_with_influencers
      %p.tx-a
        = t :connect_with_influencers_description
      %p.action
        = link_to t(:view_all), root_url, class: 'button-a small white'
    / grid
    .grid-a-people-a
      .wrap
        - 8.times do
          .cell
            / teaser box
            %article.card-a{"data-equalize" => true}
              %figure
                = link_to root_url do
                  = image_tag space_listing_placeholder_path(width: 520, height: 460)
              %p.action
                = link_to t(:follow), root_url, class: 'button-a tiny'
              %h3.hx
                = link_to 'Dave Hauser', root_url
              %p I’m a software engineer and I’m currently the head of Google’s
              %p.location San Francisco, CA


/ content wrapper
.wrap-a
  .contain
    / header with button
    .header-a._mBa
      %h2.hx
        = t :featured_topics
      %p.tx-a
        = t :featured_topics_description
      %p.action
        = link_to t(:view_all), root_url, class: 'button-a small white'
    / topics
    .topics-a
      .wrap
        %ul.a
          %li.big
            = link_to root_url, style: "background-image: url(#{image_url('intel/topics-a-bg-a.jpg')});" do
              %span Real Sense
          %li
            = link_to root_url, style: "background-image: url(#{image_url('intel/topics-a-bg-b.jpg')});" do
              %span Android
          %li
            = link_to root_url, style: "background-image: url(#{image_url('intel/topics-a-bg-c.jpg')});" do
              %span Open Source
        %ul.b
          %li
            = link_to root_url, style: "background-image: url(#{image_url('intel/topics-a-bg-d.jpg')});" do
              %span Big Data
          %li
            = link_to root_url, style: "background-image: url(#{image_url('intel/topics-a-bg-e.jpg')});" do
              %span Dual Screen
          %li.big
            = link_to root_url, style: "background-image: url(#{image_url('intel/topics-a-bg-f.jpg')});" do
              %span Networking
