.wrap-a.reduce-top
  .contain
    .page-a
      .primary
        .box-a

          %h1.h2
            = t('activity_feed.title')

          = render 'shared/activity_feed'

      .secondary

        = render 'shared/featured_projects'

        = render 'shared/featured_users'

        = render 'shared/featured_topics'
