.wrap-a.reduce-top
  .contain
    %h1 Intel Mesh HTML/CSS Templates

    .grid-a
      .wrap
        .cell
          %h2
            %span Sprint 1
          %ul
            %li
              = link_to "Home: Overview", home_overview_url
            %li
              = link_to "Home: Activity", home_activity_url
            %li
              = link_to "User Profile: Activity", user_activity_url
            %li
              = link_to "Search: People", search_people_url
            %li
              = link_to "Search: Projects", search_projects_url
            %li
              = link_to "Search: Topics", search_topics_url

        .cell
          %h2
            %span Sprint 2
          %ul
            %li
              = link_to "Project: About", project_about_url
            %li
              = link_to "Project: Activity", project_activity_url
            %li
              = link_to "Project: Comments", project_comments_url
            %li
              = link_to "Project: Collaborators", project_collaborators_url
            %li
              = link_to "Tutorial", tutorial_url
            %li
              = link_to "Onboarding: Location", onboarding_location_url
            %li
              = link_to "Onboarding: Connect", onboarding_connect_url
            %li
              = link_to "Onboarding: Follow", onboarding_follow_url
            %li
              = link_to "Onboarding: Finish", onboarding_finish_url
            %li
              = link_to "User Profile: Following", user_following_url
            %li
              = link_to "User Profile: Followers", user_followers_url
            %li
              = link_to "User Profile: Projects", user_projects_url
            %li
              = link_to "Topic: Activity", topic_activity_url
