= render 'shared/onboarding_heading', active_step: 4

.wrap-a.white
  .contain
    = simple_form_for :onboarding, url: onboarding_finish_url, html: { class: 'form-a' } do |f|
      .fields
        = f.input :short_bio, as: :text, input_html: { cols: 40, rows: 8 }, required: false

        %p
          = t :more_info, scope: [:onboarding]

        = f.input :photo, as: :photo_upload, wrapper_html: { class: 'sep' }, required: false

      %p.action
        %button.button-a{:type => "submit"}
          = t :finish
