= render 'shared/onboarding_heading', active_step: 2

/ content wrapper
.wrap-a.white
  .contain
    = simple_form_for :onboarding, url: onboarding_follow_url, html: { class: 'form-a' } do |f|
      .connect-a
        %ul
          %li.linkedin
            %span
              = t :connect_with_service, service: 'Linkedin'
            = link_to t(:connect), root_url, class: 'button-a white'
          %li.github
            %span
              = t :connect_with_service, service: 'GitHub'
            = link_to t(:connect), root_url, class: 'button-a white'
          %li.facebook
            %span
              = t :connect_with_service, service: 'Facebook'
            = link_to t(:connect), root_url, class: 'button-a white'
          %li.twitter
            %span
              = t :connect_with_service, service: 'Twitter'
            = link_to t(:connect), root_url, class: 'button-a white'
          %li.google
            %span
              = t :connect_with_service, service: 'Google'
            = link_to t(:connect), root_url, class: 'button-a white'
          %li.instagram
            %span
              = t :connect_with_service, service: 'Instagram'
            = link_to t(:connect), root_url, class: 'button-a white'
          %li.custom
            = image_tag space_listing_placeholder_path(width: 80, height: 80)
            %span
              = t :connect_with_service, service: 'Something Else'
            = link_to t(:connect), root_url, class: 'button-a white'
      %p.action
        %button.button-a{:type => "submit"}
          = t :continue
