.wrap-a.reduce-top
  .contain

    %h1.h2
      = t :my_account

    %nav.tabs-a.trio
      %ul
        %li.is-active
          = link_to t(:edit_profile), profile_url
        %li
          = link_to t(:notifications), notifications_url
        %li
          = link_to t(:social_accounts), social_accounts_url

    / white box
    .box-a
      = simple_form_for :profile, url: profile_url, html: { class: 'form-a' } do |f|
        .fields

          = f.input :bio, as: :text, input_html: { cols: 40, rows: 4 }, required: false

          = f.input :about, as: :text, input_html: { cols: 40, rows: 8 }, required: false

          = f.input :avatar, as: :photo_upload, required: false

          = f.input :cover, as: :photo_upload, required: false

        .fields.location
          = f.input :location, required: false
          .map

        %p.action
          = f.button :submit
