
.wrap-a.reduce-top
  .contain
    / tabs
    %nav.tabs-a.trio
      %ul
        %li
          = link_to t(:people), search_people_url
        %li
          = link_to t(:projects), search_projects_url
        %li.is-active
          = link_to t(:topics), search_topics_url
    / white box
    .box-a
      / filters
      .filters-a
        .results
          %p.count
            = t :results_count, results: 120

      = render "shared/listing_topics"
