.wrap-a.reduce-top
  .contain

    %h1.h2
      = t :my_account

    %nav.tabs-a.trio
      %ul
        %li
          = link_to t(:edit_profile), profile_url
        %li
          = link_to t(:notifications), notifications_url
        %li.is-active
          = link_to t(:social_accounts), social_accounts_url

    / white box
    .box-a
      .connect-a
        %ul
          %li.linkedin
            %span
              = t :connect_with_service, service: 'Linkedin'
            = link_to t(:disconnect), root_url, class: 'button-a'
          %li.github
            %span
              = t :connect_with_service, service: 'GitHub'
            = link_to t(:connect), root_url, class: 'button-a white'
          %li.facebook
            %span
              = t :connect_with_service, service: 'Facebook'
            = link_to t(:connect), root_url, class: 'button-a white'
          %li.twitter
            %span
              = t :connect_with_service, service: 'Twitter'
            = link_to t(:connect), root_url, class: 'button-a white'
          %li.google
            %span
              = t :connect_with_service, service: 'Google'
            = link_to t(:connect), root_url, class: 'button-a white'
          %li.custom
            = image_tag space_listing_placeholder_path(width: 80, height: 80)
            %span
              = t :connect_with_service, service: 'Something Else'
            = link_to t(:connect), root_url, class: 'button-a white'
