.wrap-a.reduce-top
  .contain
    %h1 Intel Mesh HTML/CSS Templates

    .grid-a
      .wrap
        .cell
          %h2
            %span Sprint 3
          %ul
            %li
              = link_to "Projects: Listing", projects_url
            %li
              = link_to "Projects: Empty", projects_empty_url
            %li
              = link_to "Projects: Add new", projects_add_url
            %li
              = link_to "Projects: Edit", projects_edit_url
            %li
              = link_to "Projects: Draft", projects_draft_url
            %li
              = link_to "Projects: Collaborator Edit", projects_collaborator_url
            %li
              = link_to "Profile", profile_url
            %li
              = link_to "Notifications", notifications_url
            %li
              = link_to "Social Accounts", social_accounts_url
