- title "Properties"

= show_manage_navigation(:products, :properties)

.row-fluid
  .span8.offset2
    .box
      %header
        %ul.location-and-listings
          %li.location
            .name.left
              Manage Properties
      %ul.location-and-listings
        %li.listing.action-buttons
          .right
            = link_to 'New Property', new_manage_buy_sell_property_path, class: 'btn btn-medium btn-white'
        /     = link_to 'Download Current Data', download_current_data_csv_manage_transactable_type_data_uploads_path(@transactable_type), class: 'btn btn-medium btn-white'
        /     = link_to 'Download CSV Template', download_csv_template_manage_transactable_type_data_uploads_path(@transactable_type), class: 'btn btn-medium btn-white'
        /   .clearfix
        %li.listing
          .span3
            = t('property.name')
          .span4
            = t('property.prsentation')
          .span2.state.text-right


          .clearfix
        = render partial: 'property', collection: @properties
      = will_paginate @properties

