- title "Properties"

= show_manage_navigation(:products, :properties)

.row-fluid
  .span8.offset2
    .box
      %header
        %ul.location-and-listings
          %li.location
            .name.left
              Manage Properties
      %ul.location-and-listings
        %li.listing
          .right
            = link_to 'New Property', new_manage_buy_sell_property_path, class: 'btn btn-medium btn-green'
        %li.listing.action-buttons
          .span4
            = t('property.name')
          .span4
            = t('property.prsentation')
          .span3.state.text-right


          .clearfix
        = render partial: 'property', collection: @properties
      = will_paginate @properties

