- if @project.description.present?
  %h4
    = t :description
  = simple_format auto_link(@project.description)

- if @project.photos.except_cover.any?
  %h4= t :gallery
  %ul.gallery-a
    - @project.photos.except_cover.each do |p|
      %li
        = image_tag p.image_url(:project_thumbnail), width: PhotoUploader.dimensions[:project_thumbnail][:width], height: PhotoUploader.dimensions[:project_thumbnail][:height]

- if @project.links.any?
  %h4= t :links
  - @project.links.each do |l|
    %p
      = link_to l.url do
        = l.image.present? ? (image_tag(l.image_url(:standard), width: LinkImageUploader.dimensions[:standard][:width], height: LinkImageUploader.dimensions[:standard][:height])) : l.text
