- title raw(@project.name)
- canonical_url project_path(@project)
- meta_description "#{mask_phone_and_email_if_necessary(@project.summary).try(:truncate, 130)}"
- meta_og_image @project.cover_photo.image.url if @project.cover_photo.id.present?

.wrap-a.white.reduce
  .contain
    / project header
    .project-a
      %figure
        = image_tag @project.cover_photo.image_url(:project_cover), alt: @project.name
        - if @project.featured?
          %figcaption
            = t :featured
      .wrap
        %h1= @project.name
        .user
          %figure
            = link_to user_path(@project.creator) do
              = image_tag @project.creator.avatar.url(:thumb), width: 40, height: 40, alt: @project.creator.name
          %h3.hx
            = link_to @project.creator.decorate.name_with_affiliation, user_path(@project.creator)
          %p.location= "#{@project.creator.current_address.try(:city)}, #{@project.creator.current_address.try(:state)}"
        %p.tx-a= @project.summary
        %p.topics
          = @project.topics.map { |t| link_to(t.name, topic_path(t)) }.join(', ').html_safe
      .bignums-a
        %ul
          %li
            %span
              %strong{:'data-collaborators-count' => true}= @project.project_collaborators.approved.count
              = t :collaborators
            %p{:'data-collaborators-button' => true}
              = render partial: 'shared/collaborators_button', locals: { project: @project }
          %li
            %span
              %strong{:'data-followers-count' => true}= @followers.total_entries
              = t :followers
            %p{:'data-follow-button' => true}
              = render partial: 'shared/follow_button', locals: { object: @project }

/ content wrapper
.wrap-a.reduce-top
  .contain
    / tabs
    %nav.tabs-a.trio
      %ul.nav.nav-tabs{role: "tablist"}
        %li.active= link_to t(:about), '#about', role: "tab", :'data-toggle' => "tab"
        %li= link_to t(:activity), '#activity', role: "tab", :'data-toggle' => "tab"
        %li= link_to t(:comments), '#comments', role: "tab", :'data-toggle' => "tab"
        %li= link_to t(:collaborators), '#collaborators', role: "tab", :'data-toggle' => "tab"
        %li= link_to t(:followers), '#followers', role: "tab", :'data-toggle' => "tab"

    / white box
    .box-a
      .tab-content
        #about.tab-pane.fade.active{:role => "tabpanel"}
          = render 'show_about'
        #activity.tab-pane.fade{:role => "tabpanel"}
          = render 'shared/activity_feed', object: @project, feed: @feed
        #comments.tab-pane.fade{:role => "tabpanel"}
          = render 'comments/comments', comment: @comment
        #collaborators.tab-pane.fade{:role => "tabpanel"}
          = render 'shared/show_followers', see_more_route: see_more_collaborators_path(id: @project.id, type: 'Project', container: '#collaborators'), collection: @collaborators, container: '#collaborators'
        #followers.tab-pane.fade{:role => "tabpanel"}
          = render 'shared/show_followers', see_more_route: see_more_followers_path(id: @project.id, type: 'Project', container: '#followers'), container: '#followers', collection: @followers

