<article class='booking'>
  <div class='listing' data-booking-module-container='{{ listing.id }}' data-path="{{ listing.booking_module_path }}" data-collapsed="{{ collapsed }}" data-restore-reservations="{{ params.restore_reservations }}" data-start-date="{{ params.start_date }}">
    <div class="text-center"><img src="{{ 'components/modal/loader.gif' | image_url }}" /></div>
  </div>
</article>
<div class="padding-row"></div>
