%p
  A listing is a bookable resource at one of your company's locations. You may
  have a variety of space available - for example, a desk in a shared space, a
  windowless office, a corner office, a small meeting room, or a conference
  room.
= simple_form_for @listing, :html => { :class => "form-horizontal edit_listing" } do |f|
  - textile_hint = "(Parsed using #{link_to("Textile", "http://en.wikipedia.org/wiki/Textile_%28markup_language%29", :target => "_blank")}).".html_safe
  = f.input :location_id, :collection => current_user.locations, :prompt =>  "Select a location...", :hint => "Or... #{link_to "Create a location", new_location_path}"

  = f.input :name, :hint => "What's the name of this listing?"
  = f.input :quantity, :input_html => { :size => 4, :min => 1 }, :hint => "How many spots do you have?"
  = f.input :daily_price, :as => :decimal, :hint => "How much per seat per day are you charging?"
  = f.input :weekly_price, :as => :decimal, :hint => "How much per seat per week are you charging?"
  = f.input :monthly_price, :as => :decimal, :hint => "How much per seat per month are you charging?"
  = f.input :description, :as => :description, :input_html => {:rows => 8}, :hint => ["What resources are available, i.e. internet, speed, public transport, coffee shops near by, coffee included? Why would people love your office? What kinds of drop-ins/coworkers would you prefer? Conditions of entry (e.g. must participate in stand up or something)", textile_hint].join(' ').html_safe

  .control-group.indent
    = f.label :confirm_reservations, "Confirm Reservations?", :class => "control-label"
    .hint
      Do you want to be able to approve reservations on a case-by-case basis? We'll notify you by email whenever there's a reservation that needs your attention.
    = f.input :confirm_reservations, :as => :radio_buttons, :wrapper => false, :label => false
  .control-group.indent
    = render 'availability_rules/form', :f => f
  - if current_user.admin?
    = f.association :creator, :select => "Select a creator..."

  .actions
    = f.button :submit

:javascript
  $(function() {
    new LocationFormController($('form.new_listing, form.edit_listing'))
  });
