= hidden_field_tag :listing_id, listing.id
= f.hidden_field :start_on
= f.hidden_field :start_minute
= f.hidden_field :end_minute
.reservation-charges.hidden{:'data-reservation-charges' => true}
= f.hidden_field :quantity
= f.hidden_field :exclusive_price
= f.hidden_field :guest_notes
= f.hidden_field :booking_type, class: 'reservation_type'
= f.hidden_field :transactable_id, value: listing.id
