%article.listing{:'data-id' => listing.id, :'data-name' => listing.name, :'data-latitude' => listing.latitude, :'data-longitude' => listing.longitude}
  .details.clearfix
    .two.columns.alpha
      = link_to image_tag(listing.photos.thumb.url, :title => listing.name, :alt => listing.name), listing
    .five.columns
<<<<<<< HEAD
      %h2
        = link_to listing do
          = listing.name + ' - '
          = raw listing_price(listing)

=======
      %h2= link_to "#{listing.name}", listing
>>>>>>> email_templates
      %address= listing.formatted_address || listing.address
      - unless listing.strict_match?
        %p This result may not exactly match your search criteria
    .nine.columns.omega
      = render :partial => "listings/availability", :locals => {:listing => listing, :weeks => 1}
  .map-details{:style => "display: none"}
    = render 'listings/gmap', :listing => listing
