{% query_graph 'location', result_name: g, location_id: location.id %}

{% cache_for location, location.company, location.availability, description %}
  <h2>{{ 'location.the_location' | translate }}</h2>
  <p>{{ g.location.description | filter_text | custom_sanitize }}</p>
  <div class='amenities-block'>
    <div class='amenities-header'>
      <h3>{{ 'location.hours' | translate }}</h3>
    </div>
    <div class='amenities-container'>
      <div class='row-fluid amenities-row'>
        <div class='span3'>{{ g.location.availability }}</div>
      </div>
    </div>
  </div>

  <div class='clearfix'></div>
  <article class='company'>
    <h2>
      {{ g.location.company.name }}
      {% if g.location.company.url != blank %}
        <a href="{{ g.location.company.url }}" rel='nofollow', target='_blank'><span class='ico-open-link'></span></a>
      {% endif %}
    </h2>

    <p> {{ g.location.company.description | filter_text | custom_sanitize }}</p>
    <div class='clearfix'></div>
  </article>
{% endcache_for %}
