<ul class='social-buttons-wrapper'>
  <li>
    <a href='http://www.facebook.com/sharer.php?u={{ url }}&t={{ listing.name }}' class='socialite facebook-like' data-app-id='{{ platform_context.facebook_key }}' data-href='{{ url }}' data-send='false' data-layout='button_count' data-width='60' data-show-faces='false' rel='nofollow' target='_blank'>
      <span class='vhidden'>{{ 'listing.buttons.share_on_facebook' | translate }}</span>
    </a>
  </li>

  <li>
    <a href='http://twitter.com/share' class='socialite twitter-share' data-text='{{ listing.name }}' data-url='{{ url }}' data-count='vertical' rel='nofollow' target='_blank'>
      <span class='vhidden'>{{ 'listing.buttons.share_on_twitter' | translate }}</span>
    </a>
  </li>

  <li>
    <a href='http://www.linkedin.com/shareArticle?mini=true&url={{ url }}&title={{ listing.name }}' class='socialite linkedin-share' data-url='{{ url }}' data-counter='right' rel='nofollow' target='_blank'>
      <span class='vhidden'>{{ 'listing.buttons.share_on_linkedin' | translate }}</span>
    </a>
  </li>

  <li>
    <a href='https://plus.google.com/share?url={{ url }}' class='socialite googleplus-one' data-size='medium' data-href='{{ url }}' rel='nofollow' target='_blank'>
      <span class='vhidden'>{{ 'listing.buttons.share_on_google_plus' | translate }}</span>
    </a>
  </li>
</ul>
