%h1 Listings

= render :partial => "search/bar", :locals => { :value => "" }

.clearfix

%nav.actions
  = link_to new_listing_path do
    = image_tag "building--plus.png"
    Create Listing

%p Listing by most recently created. Hover over a day to see how many desks are available.

%section.list
  = render @listings
= will_paginate @listings

- content_for :script do
  :javascript
    $(function(){
      $("td.day details.availability a").click(function(e){
        $(".overlay-container").overlay('close');
        e.stopPropagation();
        var overlay = $("body").overlay({ ajax: $(this).attr("href"), position: { my: "top", at: "bottom", of: $(this).parents('td') }, html: 'Working&hellip;', 'class': "context" });
        $(".overlay-container a.cancel").live("click", function(e){
          e.stopPropagation();
          $(".overlay-container").overlay('close');
          return false;
        });
        return false;
      });
    });
