- legacy false

- content_for :hero do
  .hero-wood-texture
    .container.space-hero-search-return
      = link_to "Back to search", search_url

  - if @location.photos.any?
    .hero-gray-texture.hero-shadow
      .container.space-hero-photos
        .photos-list
          .prev
          .photos-wrapper
            %ul
              - @location.photos.each do |photo|
                %li
                  = image_tag photo.url(:hero_preview), :alt => photo.caption, 'data-url' => photo.url(:hero)
          .next

        .photo{:style => "background-image: url('#{@location.photos.first.url}')"}
          .caption
            This is an awesome caption.

%article.space
  - if @listing.created_by?(current_user)
    %ul.subnav.right.gray
      %li= link_to "Edit", edit_listing_path(@listing)
      %li= link_to "Manage Photos", listing_photos_path(@listing)
      - if current_user.admin?
        %li= link_to "Destroy (Admin Only)", @listing, :method => :delete, :confirm => "Are you sure? Its dangerous to go alone..."

  %ul.subnav.right.blue
    %li= link_to "Overview", ""
    %li= link_to "Book", ""

  %h1 #{@location.name}

  .clearfix
    .one-third.column.alpha
      %p.description
        #{@location.description}

      %p
        %strong= listing_price(@listing)

      - if @listing.company_description.present?
        %strong= @listing.company_name
        %p.company_description
          = @listing.company_description

      = content_tag(:p, link_to(@listing.url, @listing.url)) if @listing.url

      .host.box
        %i.flag
        = image_tag @listing.creator.gravatar_url(:size => "50x50"), :class => "avatar"
        .name #{@listing.creator.name}

      .box.share
        %i.flag
        %h3 Share this space
        .first-row
          %span.twitter.st_twitter_hcount{:displayText => 'Tweet'}
          %span.st_linkedin_hcount{:displayText => 'LinkedIn'}
        %span.st_facebook_hcount{:displayText => 'Facebook'}
        %span.st_email_hcount{:displayText => 'Email'}

    .one-third.column.amenities
      %dl
        %dt
          %i{:class => "icon-amenity-other"}
          Amenities

        %dl
          - unless @location.amenities.empty?
            = @location.amenities.map(&:name).join(', ')
          - else
            Nothing listed... that can't be right!

    .one-third.column.map
      .map-wrapper
        .map-container{:style => "height: 260px;"}

      %address{"data-lat" => @listing.latitude, "data-lng" => @listing.longitude, "data-marker" => image_path("components/map-pin.png")}
        = location_format_address(@listing.formatted_address || @listing.address)


  %hr.divider

  .clearfix
    .twelve.columns.alpha
      /%h1.tk-adelle= "#{@listing.name} - #{listing_price(@listing)}"

  %section.details.ten.columns.alpha.legacy
    %h2 Availability
    %p Hover over a day to see how many desks are available.
    = render :partial => "availability", :locals => {:listing => @listing, :weeks => 3}


  %aside.six.columns.omega

    %h2 Extra Info

    %strong= @listing.name

    - if @listing.description?
      %p= @listing.description


    %p
      %strong Reservation Confirmation Required:
      = @listing.confirm_reservations? ? "Yes" : "No"

    - if @listing.availability_rules_text?
      %h3 Availability Rules
      %p= raw @listing.availability_rules_text

    %h2 Latest Activity
    - if @feeds.any?
      %dl.activity_feed
        - @feeds.each do |feed|
          %dd.feed_item{class: feed.activity}
            = image_tag feed.user.gravatar_url(:size => "50x50"), :class => "avatar"
            = render :partial => "feeds/#{feed.activity}", :locals => { :feed => feed }
            %br/
            %small
              %date{datetime: feed.created_at.xmlschema}
                = time_ago_in_words(feed.created_at)
                ago
    - else
      %p No activity has been generated yet.



- content_for :script do
  / ShareThis script
  / FIXME: Get DNM login/api key
  = javascript_tag do
    var switchTo5x=true;
  = javascript_include_tag "http://w.sharethis.com/button/buttons.js"
  = javascript_tag do
    stLight.options({publisher: "ed2de743-77e7-437b-a5a3-f1fa39f72cfc"});

  :javascript

    // Initialize the ui controller
    new SpaceController($('article.space'))

    $(function(){
      $("td.day details.availability a").click(function(e){
        $(".overlay-container").overlay('close');
        e.stopPropagation();
        var overlay = $("body").overlay({ ajax: $(this).attr("href"), position: { my: "top", at: "bottom", of: $(this).parents('td') }, html: 'Working&hellip;', 'class': "context" });
        $(".overlay-container a.cancel").live("click", function(e){
          e.stopPropagation();
          $(".overlay-container").overlay('close');
          return false;
        });
        return false;
      });
    });
