- title @listing.name
- canonical_url @listing.show_path
- meta_description "#{mask_phone_and_email_if_necessary(@listing.description).try(:truncate, 130)}"

= transactable_structured_data

- content_for :hero do
  - cache i18n_cache_key('listings_show', @listing, @listing.location, @listing.company, @listing.administrator, [@listing_siblings.maximum(:updated_at), @listing_siblings.count]) do
    = render 'show'

- content_for :domready do
  - if @listing && params[:action] == 'ask_a_question'
    $(document).trigger('load:modal.nearme', ['#{new_listing_user_message_path(@listing)}']);

= content_for :script do
  = render 'data_booking_module_loader'
