.control-group
  = f.label :name
  .controls
    = f.text_field :name

-unless f.object.has_variants?
  .control-group
    = f.label :sku
    .controls
      = f.text_field :sku

.control-group
  = f.label :price
  .controls
    = f.text_field :price, :value => number_to_currency(f.object.price, :unit => '')

.control-group
  = f.label :available_on
  .controls
    = f.text_field :available_on, :class => 'datepicker'

.control-group
  = f.label :shipping_category
  .controls
    = f.collection_select(:shipping_category_id, @shipping_categories, :id, :name, { :include_blank => Spree.t('match_choices.none') }, { :class => 'select2 fullwidth' })

.control-group
  = f.label :prototype
  .controls
    = f.collection_select :prototype_id, @prototypes, :id, :name, {:include_blank => true}, {:class => 'select2 fullwidth'}
