%li.listing.action-buttons
  .span3
    = variant.options_text
  .span4
    = variant.cost_price
  .span3
    = variant.price
  .span2
    .links
      = link_to manage_buy_sell_product_variant_path(@product, variant), :method => :delete,
          data: { confirm: 'Are you sure?' }, :class => "delete", style: 'padding-top: 0px;' do
        %span.ico-trash
        %span.text Delete

      = link_to edit_manage_buy_sell_product_variant_path(@product, variant), :class => "delete", style: 'padding: 0px 0 0 10px;' do
        %span.icon.ico-edit
        %span.text Edit
  .clearfix
