<aside class="sidebar" role="complementary">
  <nav class="nav-primary">
    <div class="dashboard">
      <a href="{{ 'dashboard_path' | generate_url }}">{{ 'dashboard.nav.title' | t }}</a>
    </div>

    <ul>
      {% comment %} Messages menu {% endcomment %}
      {% assign show = 'dashboard/user_messages' | is_visible %}
      {% if show %}
        {% assign path = 'dashboard_user_messages_path' | generate_url %}
        {% assign selected = current_path | matches: path %}

        <li id="dashboard-nav-user_messages" class="{% if selected %}selected{% endif %}">
          <a href="{{ path }}">{{ 'dashboard.nav.user_messages' | t }}</a>
        </li>
      {% endif %}


      {% comment %} Reviews menu {% endcomment %}
      {% assign visible = 'dashboard/reviews' | is_visible %}
      {% assign show = platform_context.active_rating_systems_present? and visible %}
      {% if show %}
        {% assign reviews_rate_show = 'dashboard/reviews_rate' | is_visible %}
        {% assign reviews_rate_path = 'rate_dashboard_reviews_path' | generate_url %}
        {% assign reviews_rate_selected = current_path | matches: reviews_rate_path %}
        {% assign reviews_completed_show = 'dashboard/reviews_completed' | is_visible %}
        {% assign reviews_completed_path = 'completed_dashboard_reviews_path' | generate_url %}
        {% assign reviews_completed_selected = current_path | matches: reviews_completed_path %}

        <li id="dashboard-nav-reviews" class="{% if reviews_rate_selected or reviews_completed_selected %}selected{% endif %}">
          <span>{{ 'dashboard.nav.reviews' | t }}</span>
          <ul>
            {% if reviews_rate_show %}
              <li id="dashboard-nav-reviews_rate" class="{% if reviews_rate_selected %}selected{% endif %}">
                <a href="{{ reviews_rate_path }}">{{ 'dashboard.nav.reviews_rate' | t }}</a>
              </li>
            {% endif %}

            {% if reviews_completed_show %}
              <li id="dashboard-nav-reviews_completed" class="{% if reviews_completed_selected %}selected{% endif %}">
                <a href="{{ reviews_completed_path }}">{{ 'dashboard.nav.reviews_completed' | t }}</a>
              </li>
            {% endif %}
          </ul>
        </li>
      {% endif %}

      {% if platform_context.wish_lists_enabled? %}
        {% comment %} Favorites menu {% endcomment %}
        {% assign show = 'dashboard/wish_list_items' | is_visible %}
        {% if show %}
          {% assign path = 'dashboard_wish_list_items_path' | generate_url %}
          {% assign selected = current_path | matches: path %}
          <li id="dashboard-nav-wish_list_items" class="{% if selected %}selected{% endif %}">
            <a href="{{ path }}">{{ 'wish_lists.name' | t }}</a>
          </li>
        {% endif %}
      {% endif %}

      {% if platform_context.instance.action_rfq? %}
        {% comment %} User requests for quotes menu. {% endcomment %}
        {% assign path = 'dashboard_user_requests_for_quotes_path' | generate_url %}
        {% assign selected = current_path | matches: path %}
        <li id="dashboard-nav-my_rfq" class="{% if selected %}selected{% endif %}">
          <a href="{{ path }}">{{ 'dashboard.nav.my_rfq' | t }}</a>
        </li>
      {% endif %}

      {% comment %} Projects menu {% endcomment %}
      {% if platform_context.transactable_types.first.name %}
        {% assign projects_path = {{ platform_context.project_space_wizard_path }} %}
        {% assign projects_selected = current_path | matches: path %}
        {% assign projects_visible = 'dashboard/projects' | is_visible %}
        {% assign projects_show = platform_context.projectable? and projects_visible %}
        {% assign transactables_path = 'dashboard_company_transactable_type_transactables_path' | generate_url: platform_context.transactable_types.first.id %}
        {% assign transactables_selected = current_path | matches: 'dashboard/company/(service_types|transactable_types)' %}
        {% assign transactables_visible = 'dashboard/transactables' | is_visible %}
        {% assign transactables_show = current_user.registration_completed? and transactables_visible %}

        {% if projects_show %}
          <li id="dashboard-nav_projects_header" class="{% if projects_selected %}selected{% endif %}">
            <span>{{ 'dashboard.nav.projects_header' | t }}</span>
            <ul>
              <li id="dashboard-nav-projects" class="{% if projects_selected %}selected{% endif %}">
                <a href="{{ projects_path }}">{{ 'dashboard.nav.projects' | t }}</a>
              </li>
            </ul>
          </li>
        {% endif %}

        {% if transactables_show %}
          <li id="dashboard-nav-transactables" class="{% if transactables_selected %}selected{% endif %}">
            <a href="{{ transactables_path }}">{{ 'dashboard.nav.transactables' | t }}</a>
          </li>
        {% endif %}

        {% if platform_context.bookable? %}
          {% assign orders_visible = 'dashboard/orders' | is_visible %}
          {% if current_user.has_buyer_profile? or platform_context.split_registration? == false %}
            {% assign orders_enabled = true %}
          {% else %}
            {% assign orders_enabled = false %}
          {% endif %}
          {% assign orders_path = 'dashboard_orders_path' | generate_url %}
          {% assign orders_selected = current_path | matches: orders_path %}
          {% assign orders_received_visible = 'dashboard/orders_received' | is_visible %}
          {% assign orders_received_show = current_user.registration_completed? and orders_received_visible %}
          {% assign orders_received_path = 'dashboard_company_orders_received_index_path' | generate_url %}
          {% assign orders_received_selected = current_path | matches: orders_received_path %}

          {% if orders_visible and orders_enabled or orders_received_show %}
            <li id="dashboard-nav-orders_header" class="{% if orders_selected or orders_received_selected %}selected{% endif %}">
              <span>{{ 'dashboard.nav.orders_header' | t }}
                {% if current_user.reservations_count.present? %}
                  <span class="count">{{ current_user.reservations_count }}</span>
                {% endif %}
              </span>

              <ul>
                {% if orders_visible and orders_enabled %}
                  <li id="dashboard-nav-orders" class="{% if orders_selected %}selected{% endif %}">
                    <a href="{{ orders_path }}">{{ 'dashboard.nav.orders' | t }}</a>
                  </li>
                {% endif %}

                {% if orders_received_show %}
                  <li id="dashboard-nav-orders" class="{% if orders_received_selected %}selected{% endif %}">
                    <a href="{{ orders_received_path }}">{{ 'dashboard.nav.orders_received' | t }}</a>
                  </li>
                {% endif %}
              </ul>
            </li>
          {% endif %}
        {% endif %}
      {% endif %}

      {% if current_user.registration_completed? and current_user.has_company? %}
        {% assign companies_show = 'dashboard/companies' | is_visible %}
        {% assign companies_path = 'edit_dashboard_company_path' | generate_url: current_user.company_id %}
        {% assign companies_selected = current_path | matches: '/dashboard/companies/[0-9]+(/edit)?' %}
        {% assign payouts_show = 'dashboard/payouts' | is_visible %}
        {% assign payouts_path = 'edit_dashboard_company_payouts_path' | generate_url %}
        {% assign payouts_selected = current_path | matches: payouts_path %}
        {% assign transfers_show = 'dashboard/transfers' | is_visible %}
        {% assign transfers_path = 'dashboard_company_transfers_path' | generate_url %}
        {% assign transfers_selected = current_path | matches: transfers_path %}
        {% assign analytics_show = 'dashboard/analytics' | is_visible %}
        {% assign analytics_path = 'dashboard_company_analytics_path' | generate_url %}
        {% assign analytics_selected = current_path | matches: analytics_path %}
        {% assign users_show = 'dashboard/users' | is_visible %}
        {% assign users_path = 'dashboard_company_users_path' | generate_url %}
        {% assign users_selected = current_path | matches: users_path %}
        {% assign waiver_agreement_templates_show = 'dashboard/waiver_agreement_templates' | is_visible %}
        {% assign waiver_agreement_templates_path = 'dashboard_company_waiver_agreement_templates_path' | generate_url %}
        {% assign waiver_agreement_templates_selected = current_path | matches: waiver_agreement_templates_path %}
        {% assign white_labels_show = 'dashboard/white_labels' | is_visible %}
        {% assign white_labels_path = 'edit_dashboard_company_white_label_path' | generate_url: current_user.company_id %}
        {% assign white_labels_selected = current_path | matches: '/dashboard/white_labels' %}
        {% assign tickets_visible = 'dashboard/tickets' | is_visible %}
        {% assign tickets_show = platform_context.instance.action_rfq? and tickets_visible %}
        {% assign tickets_path = 'dashboard_company_support_tickets_path' | generate_url %}
        {% assign tickets_selected = current_path | matches: '/dashboard\/company\/support\/tickets(\/[0-9]+)?' %}
        {% assign sent_to_me_visible = 'dashboard/payment_documents/sent_to_me' | is_visible %}
        {% assign sent_to_me_show = platform_context.instance.documents_upload_enabled? and sent_to_me_visible %}
        {% assign sent_to_me_path = 'sent_to_me_dashboard_company_payment_documents_path' | generate_url %}
        {% assign sent_to_me_selected = current_path | matches: sent_to_me_path %}

        <li id="dashboard-nav-admin" class="{% if companies_selected or payouts_selected or transfers_selected or analytics_selected or users_selected or waiver_agreement_templates_selected or white_labels_selected or tickets_selected or sent_to_me_selected %}selected{% endif %}">
          <span>{{ 'dashboard.nav.admin' | t }}</span>

          <ul>
            {% if companies_show %}
              <li id="dashboard-nav-companies" class="{% if companies_selected %}selected{% endif %}">
                <a href="{{ companies_path }}">{{ 'dashboard.nav.companies' | t }}</a>
              </li>
            {% endif %}

            {% if payouts_show %}
              <li id="dashboard-nav-payouts" class="{% if payouts_selected %}selected{% endif %}">
                <a href="{{ payouts_path }}">{{ 'dashboard.nav.payouts' | t }}</a>
              </li>
            {% endif %}

            {% if transfers_show %}
              <li id="dashboard-nav-transfers" class="{% if transfers_selected %}selected{% endif %}">
                <a href="{{ transfers_path }}">{{ 'dashboard.nav.transfers' | t }}</a>
              </li>
            {% endif %}

            {% if analytics_show %}
              <li id="dashboard-nav-analytics" class="{% if analytics_selected %}selected{% endif %}">
                <a href="{{ analytics_path }}">{{ 'dashboard.nav.analytics' | t }}</a>
              </li>
            {% endif %}

            {% if users_show %}
              <li id="dashboard-nav-users" class="{% if users_selected %}selected{% endif %}">
                <a href="{{ users_path }}">{{ 'dashboard.nav.users' | t }}</a>
              </li>
            {% endif %}

            {% if waiver_agreement_templates_show %}
              <li id="dashboard-nav-waiver_agreement_templates" class="{% if waiver_agreement_templates_selected %}selected{% endif %}">
                <a href="{{ waiver_agreement_templates_path }}">{{ 'dashboard.nav.waiver_agreement_templates' | t }}</a>
              </li>
            {% endif %}

            {% if white_labels_show %}
              <li id="dashboard-nav-white_labels" class="{% if white_labels_selected %}selected{% endif %}">
                <a href="{{ white_labels_path }}">{{ 'dashboard.nav.white_labels' | t }}</a>
              </li>
            {% endif %}

            {% if tickets_show %}
              <li id="dashboard-nav-tickets" class="{% if tickets_selected %}selected{% endif %}">
                <a href="{{ tickets_path }}">{{ 'dashboard.nav.tickets' | t }}</a>
              </li>
            {% endif %}

            {% if sent_to_me_show %}
              <li id="dashboard-nav-sent_to_me" class="{% if sent_to_me_selected %}selected{% endif %}">
                <a href="{{ sent_to_me_path }}">{{ 'dashboard.nav.sent_to_me' | t }}</a>
              </li>
            {% endif %}
          </ul>
        </li>
      {% endif %}

      {% comment %} Blog menu {% endcomment %}
      {% assign blog_menu_show = 'dashboard/blog' | is_visible %}

      {% if blog_menu_show and current_user.show_blog_menu? %}
        {% assign blog_posts_path = 'dashboard_blog_path' | generate_url %}
        {% assign blog_posts_selected = current_path | matches: '/dashboard/blog(/posts)?(?!/edit)' %}
        {% assign blog_settings_path = 'edit_dashboard_blog_path' | generate_url %}
        {% assign blog_settings_selected = current_path | matches: '/dashboard/blog/edit' %}

        <li id="dashboard-nav-blog" class="{% if blog_settings_selected or blog_posts_selected %}selected{% endif %}">
          <span>{{ 'dashboard.nav.blog' | t }}</span>
          <ul>
            <li id="dashboard-nav-blog_posts" class="{% if blog_posts_selected %}selected{% endif %}">
              <a href="{{ blog_posts_path }}">{{ 'dashboard.nav.blog_posts' | t }}</a>
            </li>

            <li id="dashboard-nav-blog_settings" class="{% if blog_settings_selected %}selected{% endif %}">
              <a href="{{ blog_settings_path }}">{{ 'dashboard.nav.blog_settings' | t }}</a>
            </li>
          </ul>
        </li>
      {% endif %}

      {% comment %} Account menu {% endcomment %}
      {% assign profile_edit_selected = current_path | matches: '(users/edit|dashboard/seller/edit|dashboard/buyer/edit|dashboard/edit_profile)' %}
      {% assign credit_cards_selected = current_path | matches: '/dashboard/payment_gateways/[0-9]+/credit_card/' %}
      {% assign notification_preferences_show = 'dashboard/notification_preferences' | is_visible %}
      {% assign notification_preferences_path = 'edit_dashboard_notification_preferences_path' | generate_url %}
      {% assign notification_preferences_selected = current_path | matches: notification_preferences_path %}
      {% assign social_accounts_show = 'registrations/social_accounts' | is_visible %}
      {% assign social_accounts_path = 'social_accounts_path' | generate_url %}
      {% assign social_accounts_selected = current_path | matches: social_accounts_path %}
      {% assign saved_searches_show = 'dashboard/saved_searches' | is_visible %}
      {% assign saved_searches_path = 'dashboard_saved_searches_path' | generate_url %}
      {% assign saved_searches_selected = current_path | matches: saved_searches_path %}

      <li id="dashboard-nav-account" class="{% if profile_edit_selected or credit_cards_selected or notification_preferences_selected or social_accounts_selected or saved_searches_selected %}selected{% endif %}">
        <span>{{ 'dashboard.nav.account' | t }}</span>
        <ul>
          <li id="dashboard-nav-edit" class="{% if profile_edit_selected %}selected{% endif %}">
            <a href="{{ 'dashboard_profile_path' | generate_url }}">{{ 'dashboard.nav.edit' | t }}</a>
          </li>
          {% if current_user.has_active_credit_cards? %}
            {% assign payment_gateway_id = '' | get_payment_gateway_id %}
            {% assign credit_cards_path = 'dashboard_payment_gateway_credit_cards_path' | generate_url: payment_gateway_id %}
            <li id="dashboard-nav-credit_cards" class="{% if credit_cards_selected %}selected{% endif %}">
              <a href="{{ credit_cards_path }}">{{ 'dashboard.nav.credit_cards' | t }}</a>
            </li>
          {% endif %}

          {% if notification_preferences_show %}
            <li id="dashboard-nav-notification_preferences" class="{% if notification_preferences_selected %}selected{% endif %}">
              <a href="{{ notification_preferences_path }}">{{ 'dashboard.nav.notification_preferences' | t }}</a>
            </li>
          {% endif %}

          {% if social_accounts_show %}
            <li id="dashboard-nav-social_accounts" class="{% if social_accounts_selected %}selected{% endif %}">
              <a href="{{ social_accounts_path }}">{{ 'dashboard.nav.social_accounts' | t }}</a>
            </li>
          {% endif %}

          {% if saved_searches_show %}
            <li id="dashboard-nav-saved_searches" class="{% if saved_searches_selected %}selected{% endif %}">
              <a href="{{ saved_searches_path }}">{{ 'dashboard.nav.saved_searches' | t }}</a>
            </li>
          {% endif %}
        </ul>
      </li>
    </ul>
  </nav>
</aside>
