.col-md-2.page-navigation
  %nav
    %ul
      = dashboard_menu_item 'dashboard/user_messages', dashboard_user_messages_path
      - if platform_context.instance.rating_systems.where(active: true).present?
        = dashboard_menu_item 'dashboard/reviews', dashboard_reviews_path
      - if platform_context.instance.wish_lists_enabled?
        = dashboard_menu_item 'dashboard/wish_list_items', dashboard_wish_list_items_path, link_text: t('wish_lists.name')
      - if platform_context.instance.action_rfq?
        = dashboard_menu_item 'dashboard/my_rfq', dashboard_user_requests_for_quotes_path, not_hideable: true,
            active: (params[:controller].include?('user_requests_for_quotes'))

    - if buyable?
      %ul
        %li.nav-head
          = t('dashboard.nav.products_header')
        = dashboard_menu_item 'dashboard/orders', dashboard_orders_path
        - if current_user.registration_completed?
          = dashboard_menu_item 'dashboard/orders_received', dashboard_company_orders_received_index_path
          = dashboard_menu_item 'dashboard/products', dashboard_company_product_type_products_path(Spree::ProductType.first)

    - if projectable?
      %ul
        %li.nav-head
          = t('dashboard.nav.projects_header')
        = dashboard_menu_item 'dashboard/projects', dashboard_project_type_projects_path(ProjectType.first)

    - if bookable?
      %ul
        %li.nav-head
          = t('dashboard.nav.services_header')
        - if subscribable?
          = dashboard_menu_item 'dashboard/user_recurring_bookings', active_dashboard_user_recurring_bookings_path,
            active: params[:controller].include?('user_recurring_bookings')
        = dashboard_menu_item 'dashboard/user_reservations', dashboard_user_reservations_path,
          active: params[:controller].include?('user_reservations')
        - if current_user.registration_completed?
          = dashboard_menu_item 'dashboard/host_reservations', dashboard_company_host_reservations_path,
            active: params[:controller].include?('host_reservations')
          - if subscribable?
            = dashboard_menu_item 'dashboard/host_recurring_bookings', dashboard_company_host_recurring_bookings_path,
              active: params[:controller].include?('host_recurring_bookings')
          = dashboard_menu_item 'dashboard/transactables', dashboard_company_transactable_type_transactables_path(TransactableType.first)

    - if current_user.registration_completed? && @company
      %ul
        %li.nav-head
          = t('dashboard.nav.admin')
        = dashboard_menu_item 'dashboard/companies', edit_dashboard_company_path(@company)
        = dashboard_menu_item 'dashboard/payouts', edit_dashboard_company_payouts_path
        = dashboard_menu_item 'dashboard/transfers', dashboard_company_transfers_path
        = dashboard_menu_item 'dashboard/analytics', dashboard_company_analytics_path
        = dashboard_menu_item 'dashboard/users', dashboard_company_users_path
        = dashboard_menu_item 'dashboard/waiver_agreement_templates', dashboard_company_waiver_agreement_templates_path
        = dashboard_menu_item 'dashboard/white_labels', edit_dashboard_company_white_label_path(current_user.companies.first)
        - if platform_context.instance.action_rfq?
          = dashboard_menu_item 'dashboard/tickets', dashboard_company_support_tickets_path
        - if platform_context.instance.documents_upload_enabled?
          = dashboard_menu_item 'dashboard/payment_documents/sent_to_me', sent_to_me_dashboard_company_payment_documents_path

    - if platform_context.instance.user_blogs_enabled?
      %ul
        %li.nav-head
          = t('dashboard.nav.blog')
        = dashboard_menu_item 'dashboard/blog', dashboard_blog_path, link_text: t('dashboard.nav.blog_posts'),
          active: (params[:controller].include?('user_blog') && params[:action] == 'show') || (params[:controller].include?('blog_posts'))
        = dashboard_menu_item 'dashboard/blog', edit_dashboard_blog_path, link_text: t('dashboard.nav.blog_settings'),
          active: (params[:controller].include?('user_blog') && params[:action] == 'edit' && !params[:controller].include?('blog_posts'))

    %ul
      %li.nav-head
        = t('dashboard.nav.account')
      = dashboard_menu_item 'registrations/edit', dashboard_profile_path, link_text: t('dashboard.nav.edit'), active: (params[:controller].include?('registration') && params[:action].include?('edit'))
      = dashboard_menu_item 'dashboard/notification_preferences', edit_dashboard_notification_preferences_path, link_text: t('dashboard.nav.notification_preferences'), active: params[:controller].include?('notification_preferences')
      = dashboard_menu_item 'registrations/social_accounts', social_accounts_path, link_text: t('dashboard.nav.social_accounts'), active: (params[:controller].include?('registration') && params[:action].include?('social_accounts'))
      - if HiddenUiControls.find('dashboard/saved_searches').visible?
        = dashboard_menu_item 'dashboard/saved_searches', dashboard_saved_searches_path, link_text: t('dashboard.nav.saved_searches'), active: (params[:controller].include?('saved_searches'))
