.mobile-nav
  .mobile-nav-head{'data-target' => '#mobile-nav-list', 'data-toggle' => 'collapse'}
    %p= mobile_menu_caption
    = image_tag 'themes/buy_sell/hamburger.png'
  %ul#mobile-nav-list.nav.collapse
    = dashboard_menu_item 'dashboard/user_reservations', dashboard_orders_path,
      active: (params[:controller].include?('dashboard/orders') || params[:controller].include?('user_reservations'))

    = dashboard_menu_item 'dashboard/user_messages', dashboard_user_messages_path
    - if platform_context.instance.action_rfq?
      = dashboard_menu_item 'dashboard/my_rfq', dashboard_user_requests_for_quotes_path, not_hideable: true

    - if platform_context.instance.wish_lists_enabled?
      = dashboard_menu_item 'dashboard/wish_list_items', dashboard_wish_list_items_path, link_text: t('wish_lists.name')

    - if current_user.companies.any?
      = dashboard_menu_item 'dashboard/companies', edit_dashboard_company_path(current_user.companies.first)
      - if TransactableType.first
        = dashboard_menu_item 'dashboard/transactables', dashboard_company_transactable_type_transactables_path(TransactableType.first)
      = dashboard_menu_item 'dashboard/payouts', edit_dashboard_company_payouts_path
      = dashboard_menu_item 'dashboard/host_reservations', dashboard_company_host_reservations_path,
          active: (params[:controller].include?('host_recurring_bookings') || params[:controller].include?('host_reservations'))

      = dashboard_menu_item 'dashboard/transfers', dashboard_company_transfers_path
      = dashboard_menu_item 'dashboard/analytics', dashboard_company_analytics_path
      = dashboard_menu_item 'dashboard/users', dashboard_company_users_path
      = dashboard_menu_item 'dashboard/waiver_agreement_templates', dashboard_company_waiver_agreement_templates_path
      = dashboard_menu_item 'dashboard/white_labels', edit_dashboard_company_white_label_path(current_user.companies.first)
      - if platform_context.instance.action_rfq?
        = dashboard_menu_item 'dashboard/tickets', dashboard_company_support_tickets_path

    - if platform_context.instance.blogging_enabled?(current_user)
      = dashboard_menu_item 'dashboard/blog', dashboard_blog_path, link_text: t('dashboard.nav.blog_posts'),
          active: (params[:controller].include?('user_blog') && params[:action] == 'show') || (params[:controller].include?('blog_posts'))
      = dashboard_menu_item 'dashboard/blog', edit_dashboard_blog_path, link_text: t('dashboard.nav.blog_settings'),
          active: (params[:controller].include?('user_blog') && params[:action] == 'edit' && !params[:controller].include?('blog_posts'))

    = dashboard_menu_item 'registrations/edit', dashboard_profile_path, link_text: t('dashboard.nav.edit'), active: (params[:controller].include?('registration') && params[:action].include?('edit'))
    = dashboard_menu_item 'dashboard/notification_preferences', edit_dashboard_notification_preferences_path, link_text: t('dashboard.nav.notification_preferences'), active: params[:controller].include?('notification_preferences')
    = dashboard_menu_item 'registrations/social_accounts', social_accounts_path, link_text: t('dashboard.nav.social_accounts'), active: (params[:controller].include?('registration') && params[:action].include?('social_accounts'))
