- content_for :page_header do
  %h1
    = link_to t("dashboard.offers.manage"), dashboard_company_offer_type_offers_path(@offer_type), class: 'hidden-xs hidden-sm'
    %span.hidden-xs.hidden-sm >
    = t("dashboard.offers.edit")

  .options
    - if @offer.persisted?
      = link_to t('dashboard.offers.view_html'), offer_path(@offer_type, @offer), rel: :external


= dashboard_simple_form_for @offer, :url => dashboard_company_offer_type_offer_path(@offer_type, @offer), :html => { :multipart => true,  method: :put, id: 'listing-form' } do |f|

  = render "dashboard/company/offers/errors", f: f

  = render "dashboard/company/offers/form_panels_nav", f: f

  .panel
    .panel-body
      = render 'form', f: f

  .panel.form-actions
    .panel-body
      = f.button :submit, t('dashboard.items.save')

  .form-actions
    = link_to t('dashboard.items.delete_listing'), dashboard_company_offer_type_offer_path(@offer_type, @offer), method: :delete, data: { confirm: t('dashboard.items.confirm_delete') }
