<h1>Hi,</h1>

<p><a href="{{ user.profile_url }}">{{ user.name }}</a> commented on <a href="{{ commented_user.profile_url }}">{{ your update }}.</a> Click <a href="{{ commented_user.profile_url }}#comments">here</a> to read and respond.</p>
