<h1>Hi,</h1>

<p><a href="{{ user.profile_url }}">{{ user.name }}</a> commented on <a href="{{ group.show_url }}">{{ group.name }}.</a> Click <a href="{{ group.show_url }}#comments">here</a> to read and respond.</p>
