<h1>Hi,</h1>

<p><a href="{{ 'profile_url' | generate_url: id: commenter.slug }}">{{ commenter.name }}</a> commented on <a href="{{ 'group_url' | generate_url: id: group.id }}">{{ group.name }}.</a> Click <a href="{{ 'group_url' | generate_url: id: group.id }}#comments">here</a> to read and respond.</p>
