<h1>Hi,</h1>

<p>
  <a href="{{ commenter.profile_url }}">{{ commenter.name }}</a> commented on
  <a href="{{ commented_user.profile_url }}#entry-content-{{ comment_id }}">your Update</a>
  {% if comment_contexts %}
    in the {{ comment_contexts | join: ', '  }}
  {% endif %}.
  Click <a href="{{ commenter.profile_url }}#activity">here</a> to read and respond.
</p>
