<h1>Hi,</h1>

<p><a href="{{ user.profile_url }}">{{ user.name }}</a> commented on <a href="{{ transactable.listing_url }}">{{ transactable.name }}</a>. Click <a href="{{ transactable.listing_url }}#comments">here</a> to read and respond.</p>
