.availability-rules
  %label.control-label.flush-top Availability

  - if f.object.respond_to?(:defer_availability_rules)
    = f.check_box :defer_availability_rules, :style => "display: none" 

  - availability_choices(f.object).each do |template_id, label_text, options|
    .controls
      = label_tag(options[:id], :class => "inline radio") do
        = f.radio_button :availability_template_id, template_id, options || {}
        = label_text

  .controls.custom-availability-rules{:style => ('display: none' unless availability_custom?(f.object))}
    - f.object.availability.each_day do |day, rule|
      %div{:class => "day day-#{day}"}
        = f.fields_for(:availability_rules, rule || AvailabilityRule.new(:day => day)) do |af|
          = af.hidden_field :id, :disabled => !availability_custom?(f.object) if af.object.persisted?
          = af.hidden_field :day, :disabled => !availability_custom?(f.object)
          .day-name= af.object.day_name
          .open-time= af.select :open_time, availability_time_options, {}, :disabled => !availability_custom?(f.object)
          .close-time= af.select :close_time, availability_time_options, {}, :disabled => !availability_custom?(f.object)
          .closed-flag
            = af.label :_destroy, :class => "inline checkbox", :disabled => !availability_custom?(f.object) do
              Closed?
              = af.check_box :_destroy, :class => "closed", :checked => !af.object.open_time.present?, :disabled => !availability_custom?(f.object)

