.content-container
  .row
    .table-container.col-xs-12
      %table.table
        %tbody
          %tr
            %th= t('instance_admin.manage.email_layouts.template')
            %th= t('instance_admin.manage.email_layouts.format')
            %th Transactable Types
            %th Locales
            %th
            %th

          - @email_layout_templates.each do |email_layout_template|
            %tr
              %td= pretty_path email_layout_template.path
              %td= email_layout_template.format
              %td= email_layout_template.transactable_types.pluck(:name).join(', ')
              %td= email_layout_template.locales.map(&:display_name).join(', ')
              %td
                .pull-right
                  = link_to t('instance_admin.edit'), edit_instance_admin_manage_email_layout_template_path(email_layout_template)
              %td
                .pull-right
                  = link_to t('instance_admin.destroy'), instance_admin_manage_email_layout_template_path(email_layout_template),
                      method: :delete, data: { confirm: t('instance_admin.are_you_sure') }

.content-container
  %h4= t('instance_admin.manage.email_layouts.customize_default')

  .row
    .table-container.col-xs-12
      %table.table
        %tbody
          %tr
            %th= t('instance_admin.manage.email_layouts.template')
            %th{colspan: 2}= t('instance_admin.manage.email_layouts.customize')

          - @not_customized_email_template_layouts_paths.each do |email_layout_template_path, formats|
            - next if formats.count == 2
            %tr
              %td= pretty_path email_layout_template_path
              - (%w(html text)- formats).each do |format|
                %td= link_to format, new_instance_admin_manage_email_layout_template_path(path: email_layout_template_path, email_format: format)

= content_for :header_buttons do
  = link_to t('instance_admin.manage.email_layouts.add_email_layout_template'), new_instance_admin_manage_email_layout_template_path, class: 'pull-right btn btn-blue'

