.content-container.reports
  %h4
    = t('instance_admin.reports.advanced_projects.community_reports')
  .row
    .text-container
      = form_tag instance_admin_reports_advanced_projects_path, method: :post, enforce_utf8: :false do
        .filters
          .filter.filter-day-start
            = label_tag :day_start, t('instance_admin.reports.projects.day_start')
            = date_field_tag :day_start, Date.current - 7
          .filter.filter-day-end
            = label_tag :day_end, t('instance_admin.reports.projects.day_end')
            = date_field_tag :day_end, Date.current + 1
          .filter.filter-download-report
            = link_to t('instance_admin.reports.download_report_as_csv'), '', data: { 'download-report' => 1, 'report-url' => download_report_instance_admin_reports_advanced_projects_path(format: 'csv') }, class: "btn btn-blue"

