%div{class: 'hidden', itemscope: true, itemtype: 'http://schema.org/Product'}
  %span{itemprop: 'name'}= product.name
  %img{itemprop: 'image', src: product.first_image_url, alt: product.name}

  %span{itemprop: 'description'}= product.description.present? ? product.description : product.name

  - if product.reviews_count > 0
    %span{itemprop: 'aggregateRating', itemscope: true, itemtype: 'http://schema.org/AggregateRating'}
      %span{itemprop: 'ratingValue'}= product.reviews.count > 0 ? 0 : product.try(:average_rating).try(:round)
      %span{itemprop: 'reviewCount'}= product.reviews_count

  %span{itemprop: 'offers', itemscope: true, itemtype: 'http://schema.org/Offer'}
    %meta{itemprop: 'priceCurrency', content: current_instance.default_currency}
    %span{itemprop: 'price'}= product.price.to_f > 0 ? product.price.to_f : 0
