%article.status-a{"data-comment-id": comment.id}
  %header
    %figure
      = image_tag comment.creator.avatar.url(:thumb)
    %p.desc
      = link_to comment.creator.decorate.secret_name, profile_path(comment.creator)
  %section
    %p
      = videoify_and_parse_with_markdown(comment.body)

  %footer
    %p.actions
      %time{datetime: comment.created_at.strftime('%Y-%m-%d %H:%M')}= I18n.l(comment.created_at, format: :long)

      %span &bull;
      - if report = comment.reported_by(current_user, request.remote_ip)
        = link_to t(:cancel_spam_report), url_for([comment.commentable, comment, report]), remote: true, method: :delete
      - elsif current_user
        = link_to t(:report_as_spam), url_for([comment.commentable, comment, comment.spam_reports.build]), remote: true, method: :post

      - if comment.can_remove?(current_user)
        %span &bull;
        = link_to t(:remove_comment), url_for([comment.commentable, comment]), remote: true, method: :delete
