.checkout-wizard{ :"data-shipping-country-controller" => true }
  .page-wrapper

    .button-row.row-fluid
      .span12

        .span4.offset4.go-back
          - if step == :address
            = link_to cart_index_path do
              %span.btn.gray= t 'buy_sell_market.checkout.buttons.previous_step'
          - else
            = link_to previous_wizard_path do
              %span.btn.gray= t 'buy_sell_market.checkout.buttons.previous_step'

        .span4
          - if defined? form
            - if defined?(final) && final
              %button.btn.blue.next= t('buy_sell_market.checkout.buttons.complete_checkout')
            - else
              %button.btn.blue.next= t('buy_sell_market.checkout.buttons.next_step')
