.checkout-wizard{ :"data-payment-controller" => true }
  .page-wrapper
    = render 'header'

    = simple_form_for @order, url: wizard_path do |f|
      = render partial: 'summary', locals: {f: f}

      %section.checkout-form#credit-card-select
        .container-fluid
          = render 'shared/payments', f: f


      - if @payment_methods.count == 1 && @payment_methods.any?{ |p| p.express_checkout? } && @order.payment.express_token.blank?
        = render partial: 'checkout_buttons'
      - else
        = render partial: 'checkout_buttons', locals: { form: f, final: true }


- content_for :domready do
  $(document).trigger('init:phonenumberfieldsform.nearme', 'body');
