 <h1>Order summary</h1>

<h2>{{ order.total_units_text | titleize }}</h2>

{% if order.transactable_pricing.unit == 'hour' %}
  <p>{{ order.hourly_summary }}</p>
{% else %}
  <div class='selected-dates-summary'>
    <hr class='thin'>
    {{ order.dates_summary_with_hr }}
  </div>
{% endif %}

<hr class='thin'>

<table class="payment-summary">
  <thead>
    <th scope="col">{{ 'orders.checkout.item' | translate }}</th>

    {% if order.included_tax? %}
      <th scope="col">{{ 'orders.checkout.net' | translate }}</th>
      <th scope="col">{{ 'orders.checkout.tax' | translate }}</th>
    {% endif %}

    <th scope="col">{{ 'orders.checkout.price' | translate }}</th>

    {% if order.additional_tax? %}
      <th scope="col">{{ 'orders.checkout.tax' | translate }}</th>
      <th scope="col">{{ 'orders.checkout.gross' | translate }}</th>
    {% endif %}

    <th scope="col">{{ 'orders.checkout.qty' | translate }}</th>
    <th scope="col">
      {{ 'orders.checkout.total' | translate }}
      {% assign subtotal_hint = 'reservations_review.hints.subtotal' | translate: default: '' %}
      {% if subtotal_hint != blank %}
        <button type="button" class="hint-toggler" data-toggle="tooltip" data-placement="right" title="" data-original-title="{{ subtotal_hint }}">
          {{ 'toggle_hint' | translate }}
        </button>
      {% endif %}
    </th>
  </thead>
  <tfoot>
    <tr>
      <td colspan="{% if order.included_tax? or order.additional_tax? %}4{% else %}2{% endif %}"></td>
      <th headers="summary-total">{{ 'orders.checkout.total' | translate }}
        {% assign total_hint = 'reservations_review.hints.total' | translate: default: '' %}
        {% if total_hint != blank %}
        <button type="button" class="hint-toggler" data-toggle="tooltip" data-placement="right" title="" data-original-title="{{ total_hint }}">
          {{ 'toggle_hint' | translate }}
        </button>
        {% endif %}
      </th>
      <td id="summary-total">{{ order.formatted_total_amount }}</td>
    </tr>
  </tfoot>
  <tbody>
    {% for item in order.line_items %}
      <tr data-line-item-class="{{ item.class_name }}">
        <td>
          {{ item.name }}

          {% if item.is_service_fee? %}
            {% assign service_fee_hint = 'reservations_review.hints.service_fee' | translate: default: '' %}
            {% if service_fee_hint != blank %}
              <button type="button" class="hint-toggler" data-toggle="tooltip" data-placement="right" title="" data-original-title="{{ service_fee_hint }}">
                {{ 'toggle_hint' | translate }}
              </button>
            {% endif %}
          {% endif %}
        </td>

        {% if order.included_tax? %}
          <td>{{ item.formatted_net_price }}</td>
          <td>{{ item.included_tax_total_rate }}%</td>
        {% endif %}

        <td>{{ item.formatted_unit_price }}</td>

        {% if order.additional_tax? %}
          <td>{{ item.additional_tax_total_rate }}%</td>
          <td>{{ item.formatted_gross_price }}</td>
        {% endif %}
        <td>{{ item.quantity }}</td>
        <td>{{ item.formatted_total_price }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
