%tr
  %td= link_to blog_post.title, edit_instance_admin_manage_blog_post_path(blog_post)
  %td= l blog_post.created_at.to_date, format: :long
  %td= l(blog_post.published_at.to_date, format: :long) if blog_post.published_at
  %td
    .pull-right
      = link_to instance_admin_manage_blog_post_path(blog_post), :method => :delete,
          data: { confirm: t('instance_admin.are_you_sure') }, :title => 'Delete' do
        .fa.fa-trash-o.fa-2x.inline-form-icon

    = link_to edit_instance_admin_manage_blog_post_path(blog_post), :title => t('instance_admin.edit') do
      .fa.fa-pencil.fa-2x.inline-form-icon.pull-right
