<h1>Hello, {{ user.first_name }}</h1>

<p><a href="{{ owner.profile_url }}">{{ owner.first_name }}</a> has accepted your request to become collaborator of <a href="{{ project.show_url }}">{{ project.name }}</a>

