<h1>Hello, {{ user.first_name }}</h1>

<p>Unfortunately, <a href="{{ owner.profile_url }}">{{ owner.first_name }}</a> has declined your request to become collaborator of <a href="{{ project.show_url }}">{{ project.name }}</a>

