<h1>Hi {{ user.first_name }},</h1>
<p><a href="{{ owner.profile_url }}">{{ owner.name }}</a> has approved you as a collaborator on <a href="{{ project.show_url }}">{{ project.name }}</a>.</p>
<p>Don't forget to follow the project to stay up-to-date with the latest developments.</p>