<h1>Hello, {{ owner.first_name }}</h1>

<p><a href="{{ user.profile_url }}">{{ user.first_name }}</a> decided to be no longer a collaborator of <a href="{{ project.show_url }}">{{ project.name }}</a>

