<h1>Hello, {{ owner.first_name }}</h1>

<p><a href="{{ user.profile_url }}">{{ user.first_name }}</a> requested to become a collaborator of <a href="{{ project.show_url }}">{{ project.name }}</a>
<p>You can approve or decline request at <a href="{{ project.edit_url }}">edit project page</a>

