<h1>Hi {{ user.first_name }},</h1>

<p>
  <a href="{{ owner.profile_url }}">{{ owner.name }}</a>  has invited you to become
  a collaborator on <a href="{{ project.show_url }}">{{ project.name }}</a>.
  Learn more about the project.
</p>

<p><a href="{{ user.projects_profile_url_with_token }}" >Accept | Decline invitation</a></p>

