<h1>Hello, {{ user.first_name }}</h1>

<p><a href="{{ owner.profile_url }}">{{ owner.first_name }}</a> has added you to collaborator list for project called <a href="{{ project.show_url }}">{{ project.name }}</a>
<p>If you believe you were added by mistake, you can <a href="{{ project.edit_url }}">remove yourself from collaborators list</a>

