{% assign collaborator = current_user | find_collaborator: listing %}
{% assign title = platform_context.name | append: ' - ' | append: listing.name %}
{% title title %}

{% assign orders = current_user | get_enquirer_orders: listing %}
{% assign can_make_offer = false %}
{% if orders == empty %}
  {% assign can_make_offer = true %}
{% else %}
  {% assign can_make_offer = true %}
  {% for order in orders %}
    {% if order.state == 'unconfirmed' or order.state == 'confirmed' %}
      {% assign can_make_offer = false %}
    {% endif %}
  {% endfor %}
{% endif  %}

{% if current_user.has_seller_profile? %}
  {% assign can_make_offer = false %}
{% endif %}

<div class="summary">
  <h1>{{ listing.name }}</h1>
  <div class="meta">
    <span class="publish-date">posted {{ listing.created_at | timeago }}</span>
  </div>

  <div class="representatives">
    <div class="company">
      <h2>Referring Lawyer or Law Firm</h2>
      <p>{{ listing.creator.name }} at {{ listing.creator.company_name }}</p>
    </div>

    <div class="principal-office">
      <h2>Principal Office</h2>
      <p>{{ listing.properties.principal_office }}</p>
    </div>
  </div>

  <div class="properties">
    {% if listing.transactable_type.name == 'Group Case' %}
      {% include 'listings/show/group_properties.html', listing: listing %}
    {% else %}
      {% include 'listings/show/individual_properties.html', listing: listing %}
    {% endif %}
  </div>
</div>

<div class="description">
  {{ listing.properties.case_full_description | nl2br }}
</div>

{% if listing.attachments.size > 0 %}
<div class="listing-section documents">
  <h2>Case Documents</h2>
  <ul>
    {% for attachment in listing.attachments %}
    <li><a href="{{ attachment.attachment_url }}" download>{{ attachment.title }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endif %}

{% if listing.orders.size > 0 %}
  <div class="listing-section offers-made">
    <h2>Offers Made</h2>
    <table>
      <thead>
        <tr>
          <th scope="col">Handling Lawyer</th>
          <th scope="col">Offer Date</th>
        </tr>
        {% for order in listing.orders %}
          <tr>
            <td>
              {{ order.user.name }}
            </td>
            <td>
              {{ order.created_at | to_date | l: 'short' }}
            </td>
          </tr>
        {% endfor %}
      </thead>
    </table>
  </div>
{% endif %}


{% if can_make_offer == true %}
  <div class="make-an-offer">
    <a class="button-a inverted" href="{{ 'new_dashboard_order_path' | generate_url: transactable_id: listing.id }}">Make an Offer</a>
  </div>
{% endif %}

