- content_for :category_tree do
  - if @searcher.transactable_type.display_taxonomy_tree?
    %div{"data-search-filters-container" => true, :class => container_class}
      %section#category-tree
        - @searcher.searchable_categories.each do |category|
          .nav-categories.collapse.in
            %ul
              %li.nav-heading
                = label_tag "category_#{category.id}" do
                  - if @searcher.transactable_type.category_search_type == "OR"
                    = check_box_tag("category_ids[]", category.id, @searcher.category_ids.include?(category.id.to_s), hidden: true, id: "category_#{category.id}")
                  - else
                    = check_box_tag("parent_category_ids[]", category.id, @searcher.category_ids.include?(category.id.to_s), hidden: true, id: "category_#{category.id}")

                  = category.name
              = category_tree(category, @category, 4, @searcher.category_ids)


