<div class="grid_3 alpha">
  <h1 class="tk-adelle">Workplaces found near:</h1>
</div>
<div class="grid_9 omega">
  <%= render :partial => "search/bar", :locals => { :value => @query } %>
</div>
<div id="results" class="container_12">
  <% if @workplaces %>
    <%= render :partial => "search/workplaces" %>
  <% else %>
    <div class="loading grid_4">
      <%= image_tag "spinner-red.gif" %>
    </div>
  <% end %>
</div>
<script type="text/javascript">Search.init("<%= search_path %>", resultsFromServer = <%= @workplaces ? "true" : "false" %>);</script>
