
<%= render :partial => "public/search_bar", :locals => { :value => @query } %>

<% if @query.blank? %>
  <p>Please enter a city or address</p>
<% else %>

  <% if @workplaces.empty? %>

    <p>No results found</p>

  <% else %>

    <h4>Workplaces found near: "<%= @location[:name] %>"</h4>

    <div id="workplaces_map" style="height: 350px; margin: 10px 0;"></div>

    <% @workplaces.each do |workplace| %>
      <%= render workplace %>
    <% end %>

    <script type="text/javascript">

      $(document).ready(function() {

        var map = new google.maps.Map(document.getElementById("workplaces_map"), {
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          mapTypeControl: false
        });

        var bounds = new google.maps.LatLngBounds();
        var markers = {}, infos = {};
        <% @workplaces.each do |w| %>
          ll = new google.maps.LatLng(<%= w.latitude %>, <%= w.longitude %>);
          bounds.extend(ll);
          markers[<%= w.id %>] = new google.maps.Marker({
            position: ll,
            map: map,
            icon: "<%= image_path("drawer-open.png") %>",
            title: "<%= w.name %>"
          });
          infos[<%= w.id %>] = new google.maps.InfoWindow({
            content: "<%= escape_javascript(render(:partial => 'workplaces/gmap', :locals => { :workplace => w })) %>"
          });
          google.maps.event.addListener(markers[<%= w.id %>], 'click', function() {
            infos[<%= w.id %>].open(map, markers[<%= w.id %>]);
          });
        <% end %>
        map.fitBounds(bounds);

      });

    </script>

  <% end %>

<% end %>

