- content_for :hero do
  .hero-wood-texture
    .container
      .twelve.columns.offset-by-two
        = render :partial => "search/bar", :locals => { :value => "" }


%h1 Search Results
#results
  - if @listings
    = render :partial => "search/listings"
  - else
    .loading.grid_4
      = image_tag "spinner-red.gif"


:javascript
  Search.init("#{search_path}", resultsFromServer = #{@listings ? "true" : "false"});
