- no_footer!

= render 'search/meta_tags'

- content_for :mixed_locations do
  - if @searcher.results.present?
    .locations
      .search-max-price{:'data-max-price' => @searcher.max_price, :'data-min-price' => @searcher.min_price}
      .hidden-locations
        %input{type: 'hidden', id: 'result_count', value: @searcher.result_count}
        %input{type: 'hidden', name: 'meta_title', value: meta_title_for_search(platform_context, @searcher.search, @searcher.transactable_type.translated_bookable_noun)}
      = render 'search/mixed/pagination', locations: @searcher.results, result_count: @searcher.result_count
      - @searcher.results.each_with_index do |listing|
        - cache i18n_cache_key('listing_mixed', listing, listing.location, listing.company, @searcher.search.lgpricing_filters) do
          = render partial: 'search/map/location_marker', locals: {location: listing}
          = render partial: 'search/mixed/individual_listing', locals: {listing: listing, transactable_type: @searcher.transactable_type, lgpricing_filters: @searcher.search.lgpricing_filters }
      = render 'search/mixed/pagination', locations: @searcher.results, result_count: @searcher.result_count
      = render 'search/footer'
  - else
    .locations
      .hidden-locations
        %input{type: 'hidden', id: 'result_count', value: @searcher.result_count}
        %input{type: 'hidden', name: 'meta_title', value: meta_title_for_search(platform_context, @searcher.search, @searcher.transactable_type.translated_bookable_noun)}
      %div.no_results
        = render 'shared/loading_spinner'
        .text-center
          %br/
          %br/
          %h1.tk-adelle.fat
            = t('search.no_results_found')

- content_for :hero do
  = render 'search/mixed/header'

  %section#results.mixed
    = render 'shared/loading_spinner'
    .map
      %section#map.google-map-wrapper
        .google-map
          #listings_map.inner{ 'data-update-text' => t('search.update_map')}
    .list{:'data-list' => true}
      .filters{:'data-search-filters-container' => true}
        - if current_instance.transactable_types.searchable.many?
          .search-mixed-filter{:'data-transactable-type-filter' => true}
            .container-fluid
              .row-fluid
                .span2
                  %h4
                    = t('search.service_type')
                .span10
                  %ul
                    - current_instance.transactable_types.searchable.each do |transactable_type|
                      %li.filter-option
                        %label.radio.small-radio
                          %input{type: 'radio', name: 'transactable_type_id', value: transactable_type.id, checked: @searcher.transactable_type.id == transactable_type.id}
                          %span.filter-label-text
                            = transactable_type.translated_bookable_noun

        - @searcher.searchable_categories.each do |category|
          - unless category.autocomplete?
            = render partial: 'search/mixed/filter', locals: { category_id: category.id, header_name: category.translated_name, selected_values: @searcher.category_ids || [], input_name: 'category_ids[]', options: @searcher.category_options(category)}
            #categories-children
          - else
            = render partial: 'search/mixed/autocomplete_category_filter', locals: { category: category }

        = render partial: 'search/shared/date_range', locals: { date_start: @searcher.search.display_dates[:start], date_end: @searcher.search.display_dates[:end] }
        - @searcher.filterable_custom_attributes.each do |ca|
          - if ca.valid_values_translated.any?
            = render partial: 'search/mixed/filter', locals: { header_name: t(ca.label_key), selected_values: @searcher.search.lg_custom_attributes[ca.name.to_sym] || [], input_name: "lg_custom_attributes[#{ca.name}][]", options: ca.valid_values_translated.map { |pair| [pair[1], pair[0]] }, name: ca.name }
        - if @searcher.transactable_type.search_price_types_filter
          = render partial: 'search/mixed/filter', locals: { header_name: 'Pricing', selected_values: @searcher.search.lgpricing_filters || [], input_name: 'listing_pricing[]', options: @searcher.filterable_pricing }
        - if @searcher.transactable_type.display_location_type_filter?
          = render :partial => 'search/mixed/filter', :locals => { :header_name => 'Location Type', :selected_values => @searcher.search.lntypes_filters || [], :input_name => 'location_types_ids[]', :options => @searcher.filterable_location_types.map { |lt| [lt.id, lt.name ] } }
        - if @searcher.transactable_type.show_price_slider
          = render partial: 'search/shared/price_slider'

      .sort
        .results-count
          %h3#search_results_count
            = @searcher.result_count
            = t 'search.results'
        .per-page
          %span= t 'search.per_page'
          = select_tag :per_page, options_for_select(['20', '50', '100'].map{|v| [v, v]}, params[:per_page])
        = render 'search/save'

      - if not request.xhr?
        = yield :mixed_locations

- if request.xhr?
  = yield :mixed_locations

- content_for :domready do
  $(document).trigger('init:mixed:searchresults.nearme');
