- no_footer!
- content_for :hero do
  = render 'search/header'
  #search-result-google-map{:'data-marker' => image_path("components/map-pin.png")}
    #search-result-movable-google-map{:style => 'width: 100%; height: 100%;'}

- if @searcher.results.any?
  %section#results.list
    = render partial: 'search/list/listing', collection: @searcher.results
    = will_paginate @searcher.results
    = render 'shared/loading_spinner'
- elsif !@located
  %section#results.no_results
    = render 'shared/loading_spinner'
    .text-center
      %br/
      %br/
      %h1.tk-adelle.fat No results found
      %p
        = searchable_item_could_not_be_found_text
- else
  %section#results.no_results
    = render 'shared/loading_spinner'
    .text-center
      %br/
      %br/
      %h1.tk-adelle.fat No results found, but!
      #search-notification
        = render 'search_notifications/form', search_notification: @searcher.search_notification
- content_for :domready do
  new Search.SearchController($('#listing_search form'), $("section#content.search"));
  new Search.SearchResultsGoogleMapController($('#results'), $('#search-result-movable-google-map'));
