- legacy false
- content_for :hero do
  = render 'search/header'

- content_for :loading do
  .loading{ style: 'display: none;' }
    = image_tag "spinner.gif"

- if listings.any?
  %section#results.list
    = render partial: 'search/list/listing', collection: listings
    = will_paginate listings
    = yield :loading
- elsif !@located
  %section#results.no_results
    = yield :loading
    .span3
      = image_tag "marker_missing.png"
    .span9
      %br/
      %br/
      %h1.tk-adelle.fat Searching...
- else
  %section#results.no_results
    = yield :loading
    .span3
      = image_tag "marker_missing.png"
    .span9
      %br/
      %br/
      %h1.tk-adelle.fat No results found
      %p Try a different location or a post code. Make sure the location is properly formatted and include the city and state.
      %p
        Still cant find what your looking for? Why not #{link_to "create your own #{current_instance.bookable_noun}", new_space_wizard_path}!

- content_for :domready do
  new Search.SearchController($('#listing_search form'), $("section#content.search"))
