- legacy false
- no_footer!
- content_for :hero do
  = render 'search/header'

- if listings.any?
  %section#results.list
    = render partial: 'search/list/listing', collection: listings
    = will_paginate listings
    = render 'shared/loading_spinner'
- elsif !@located
  %section#results.no_results
    = render 'shared/loading_spinner'
    .text-center
      %br/
      %br/
      %h1.tk-adelle.fat No results found
      %p= t '.address_could_not_be_found'
- else
  %section#results.no_results
    = render 'shared/loading_spinner'
    .text-center
      %br/
      %br/
      %h1.tk-adelle.fat No results found
      #search-notification
        = render 'search_notifications/form', search_notification: search_notification
- content_for :domready do
  new Search.SearchController($('#listing_search form'), $("section#content.search"))
