- legacy false
- content_for :hero do
  = render 'search/header'
  %section#map.google-map-wrapper
    .google-map
      #listings_map.inner

- loading = capture do
  .loading
    = image_tag "spinner.gif" 

- if listings.any?
  %section#results
    = render partial: 'search/map/listing', collection: listings
    = loading
- else
  %section#results.no_results.map
    .span3
      = image_tag "marker_missing.png"
    .span9
      %br/
      %br/
      %h1.tk-adelle.fat No results found
      %p Try a different location or a post code. Make sure the location is properly formatted and include the city and state.
      %p
        Still cant find what your looking for? Why not #{link_to "create your own listing", new_space_wizard_path}!
    = loading

- content_for :domready do
  new Search.SearchController($('#listing_search form'), $("section#content.search"))
