- legacy false
- no_footer!
- content_for :hero do
  = render 'search/header'
  %section#map.google-map-wrapper
    .google-map
      #listings_map.inner

= render 'shared/loading_spinner'
- if listings.any?
  %section#results.map
    = render partial: 'search/map/marker', collection: listings, as: :listing
- elsif !@located
  %section#results.no_results
    = render 'shared/loading_spinner'
    .text-center
      %br/
      %br/
      %h1.tk-adelle.fat Searching...
- else
  %section#results.no_results.map
    .text-center
      %br/
      %br/
      %h1.tk-adelle.fat No results found
      %p Try a different location or a post code. Make sure the location is properly formatted and include the city and state.
      %p
        Still cant find what your looking for? Why not #{link_to "create your own #{current_theme.bookable_noun}", new_space_wizard_path}!

- content_for :domready do
  new Search.SearchController($('#listing_search form'), $("section#content.search"))
