- no_footer!
- content_for :hero do
  = render 'search/products_table/header'
.search-view
  .crumbs= render_crumbs
  .page-wrapper.row-fluid
    - if platform_context.display_taxonomy_tree?
      %nav.span2.taxons_tree
        - @taxons.each do |taxon|
          .nav-categories.collapse.in
            %ul
              %li.nav-heading= taxon.name
              = taxons_tree(taxon, @taxon, 1)
    - if @searcher.results.any?
      %section#results.products_table{class: platform_context.display_taxonomy_tree? ? "span10" : "span12"}
        %table
          = render partial: 'search/products_table/head'
          = render partial: 'search/products_table/product', collection: @searcher.results
        = will_paginate @searcher.results
    - elsif !@located
      %section#results.no_results{class: platform_context.display_taxonomy_tree? ? "span10" : "span12"}
        .text-center
          %br/
          %br/
          %h1.tk-adelle.fat= t 'buy_sell_market.products.search_results.no_results'
          %p
            = searchable_item_could_not_be_found_text
    - else
      %section#results.no_results{class: platform_context.display_taxonomy_tree? ? "span10" : "span12"}
        .text-center
          %br/
          %br/
          %h1.tk-adelle.fat= t 'buy_sell_market.products.search_results.no_results_but'
          #search-notification
            = render 'search_notifications/form', search_notification: @searcher.search_notification
    = render 'shared/loading_spinner'
- content_for :domready do
  $(".span12 .search-icon").click(function () { $("form.search_results").submit() });
