- title @searcher.query
- meta_description @searcher.query

.search-view
  .page-wrapper
    .row-fluid
      .span12.search-results
        .row
          %p.search-breadcrumbs
            #{@searcher.result_count} results for "#{@searcher.query}"
          .sort-wrapper
            .search-bar
              %form{action: search_path(v: 'products'), method: 'get', id: 'search_form'}
                = text_field_tag :loc, @searcher.query, placeholder: 'What are you looking for?'
                %button.btn.blue.search
                  = image_tag 'themes/buy_sell/search-icon.png'
                %span.sort-pages.sort
                  = label_tag :per_page, 'Per page:'
                  = select_tag :per_page, options_for_select(%w(20 50 100).map{|v| [v, v]}, params[:per_page]), onchange: '$("#search_form").submit();'

        - @searcher.results.decorate.in_groups_of(3) do |line|
          .row
            - line.each do |product|
              .span4.result-item{'data-product-id' => product.try(:id)}
                - if product
                  = link_to product_url(product), class: 'item' do
                    .item-img
                      = image_tag product.first_image_url
                    .details.clearfix
                      %p= product.name
                      %p.name= product.company.name
                      %p.price= product.display_price

        - if @searcher.results.total_pages > 1
          = will_paginate_styled(@searcher.results)

        = render 'shared/loading_spinner'
        - unless @searcher.results.any?
          .text-center
            %h1 No results found!
