- title @searcher.query
- meta_description @searcher.query

- content_for :search_form do
  %form{action: search_path(v: 'products'), method: 'get', id: 'search_form', class: 'no_inheritance'}
    = hidden_field_tag :transactable_type_id, @transactable_type.id
    = hidden_field_tag :category_ids, @searcher.category_ids
    = hidden_field_tag :page, params[:page]
    - if @transactable_type.show_price_slider
      = hidden_field_tag 'price[min]', @searcher.current_min_price
      = hidden_field_tag 'price[max]', @searcher.current_max_price

    = label_tag 'What are you looking for?'
    .search-input.clearfix
      = text_field_tag :query, @searcher.query, placeholder: 'Search for...'
      %button.btn.blue.search
        = image_tag 'themes/buy_sell/search-icon.png'

    - @searcher.filterable_custom_attributes.each do |ca|
      .search-attribute-filter
        = label_tag t(ca.label_key)
        = select_tag "lg_custom_attributes[#{ca.name}][]", options_for_select(ca.valid_values_translated, @searcher.search.lg_custom_attributes[ca.name.to_sym] || []), include_blank: true, class: 'select2', data: { allowClear: true }

    .search-attribute-filter
      = label_tag :per_page, 'Per page:'
      = select_tag :per_page, options_for_select(%w(20 50 100).map{|v| [v, v]}, params[:per_page]), class: 'select2'

  - if @transactable_type.show_price_slider
    .search-mixed-filter{:'data-filter' => true}
      #price-slider.slider



- content_for :product_results do
  %section#results.search-results
    .search-max-price{:'data-max-price' => @searcher.max_price, :'data-min-price' => @searcher.min_price}

    - unless @searcher.results.present?
      .text-center
        %h1 No results found!
    - else

      %p.results-count
        = search_breadcrumb(@searcher)

      - @searcher.results.in_groups_of(3) do |line|
        .row-fluid
          - line.compact.each do |product|
            = render 'search/products/product', { product: product.decorate }

      - if @searcher.results.total_pages > 1
        = will_paginate_styled(@searcher.results)

      = render 'shared/loading_spinner'

- if request.xhr?
  = yield :product_results
- else

  = render partial: 'search/categories', locals: { container_class: nil }

  .search-view.search-view-listing.clearfix
    .crumbs= render_crumbs

    .page-wrapper
      .row-fluid
        .span3
          = yield :search_form

          = yield :category_tree

        .span9
          = yield :product_results


  - content_for :domready do
    new Search.ProductsSearchController($('#search_form'), $('.search-view'))
