- title @searcher.query
- meta_description @searcher.query
- content_for :category_tree do
  - if platform_context.display_taxonomy_tree?
    %nav.span2{"data-search-filters-container" => 1}
      %section#category-tree
        - Category.roots.products.searchable.each do |category|
          .nav-categories.collapse.in
            %ul
              %li.nav-heading
                = label_tag "category_#{category.id}" do
                  = check_box_tag("category_ids[]", category.id, @searcher.category_ids.include?(category.id.to_s), id: "category_#{category.id}")
                  = category.name
              = category_tree(category, @category, 2, @searcher.category_ids)
.search-view
  .crumbs= render_crumbs
  .page-wrapper.row-fluid
    = yield :category_tree

    =render 'search/products_list/header'
    - if @searcher.results.any?
      %section#results{ class: "products_list #{platform_context.display_taxonomy_tree? ? 'span10 with_taxons' : 'span12 no_taxons'}" }
        = render partial: 'search/products_list/product', collection: @searcher.results
        = will_paginate @searcher.results
        = render 'shared/loading_spinner'
    - else
      %section#results{ class: "no_products_list no_results #{platform_context.display_taxonomy_tree? ? 'span10 with_taxons' : 'span12 no_taxons'}" }
        = render 'shared/loading_spinner'
        .text-center
          %br/
          %br/
          %h1.tk-adelle.fat
            = t('buy_sell_market.products.search_results.no_results')
          %p
            = t('buy_sell_market.products.search_results.product_could_not_be_found')

- content_for :domready do
  new Search.ProductsListSearchController($('#listing_search form'), $("#content"));
