- no_footer!
- content_for :hero do
  = render 'search/products_table/header'

- if @searcher.results.any?
  %section#results.products_table
    %table
      %tr
        %th= t 'buy_sell_market.products.search_results.header.image'
        %th= t 'buy_sell_market.products.search_results.header.stock_number'
        %th= t 'buy_sell_market.products.search_results.header.manufacturer.'
        %th= t 'buy_sell_market.products.search_results.header.part_model_no'
        %th= t 'buy_sell_market.products.search_results.header.description'
        %th= t 'buy_sell_market.products.search_results.header.quantity'
        %th= t 'buy_sell_market.products.search_results.header.price'
        %th= t 'buy_sell_market.products.search_results.header.supplier'
        %th
      = render partial: 'search/products_table/product', collection: @searcher.results
    = will_paginate @searcher.results
    = render 'shared/loading_spinner'
- elsif !@located
  %section#results.no_results
    = render 'shared/loading_spinner'
    .text-center
      %br/
      %br/
      %h1.tk-adelle.fat= t 'buy_sell_market.products.search_results.no_results'
      %p= t '.address_could_not_be_found'
- else
  %section#results.no_results
    = render 'shared/loading_spinner'
    .text-center
      %br/
      %br/
      %h1.tk-adelle.fat= t 'buy_sell_market.products.search_results.no_results_but'
      #search-notification
        = render 'search_notifications/form', search_notification: @searcher.search_notification
- content_for :domready do
  $(".span12 .search-icon").click(function () { $("form.search_results").submit() });
