= render 'shared/modules/buy_sell_top_navigation'

- title @searcher.query
- meta_description @searcher.query

- content_for :products_results do
  - if @searcher.results.any?
    %section#results.products
      = render partial: 'search/products/product', collection: @searcher.results
      = will_paginate @searcher.results
      = render 'shared/loading_spinner'
  - else
    %section#results.no_results
      = render 'shared/loading_spinner'
      .text-center
        %br/
        %br/
        %h1.tk-adelle.fat No results found!


- content_for :hero do
  %article#product
    .container-fluid
      .container-row
        .clearfix
          %header#listing_search.container-fluid.mixed.products
            .header-inner
              %form.search_results{action: search_path(v: 'products'), method: "get", 'data-endless-scrolling' => "#{Spree::Config[:infinite_scroll]}"}
                .row-fluid
                  .span12
                    .search-container
                      %input#search{name: "loc", placeholder: "Search", type: "text", value: @searcher.query, class: "query", autocomplete: "off"}
                      .search-loop-icon
                        %span.ico-search
                    .search-icon.btn.btn-green
                      %span.ico-search

                = hidden_field_tag :sort, @searcher.search.sort
                = hidden_field_tag :v, 'products'
                = hidden_field_tag :ignore_search_event, 0
                = hidden_field_tag :page, 1
                = hidden_field_tag :per_page, per_page
                = hidden_field_tag :taxon, @searcher.taxon.try(:permalink)


        .one-third.column.left.rounded-box
          %nav#taxonomies.sidebar-item
            - Spree::Taxonomy.order('position ASC').each do |taxonomy|
              .taxonomy
                %h6.taxonomy-root= taxonomy.name
                = display_taxonomies(taxonomy.root, @searcher.taxon)
        .two-thirds.column.right
          = yield :products_results
        .clearfix.padding-row


- if request.xhr?
  = yield :products_results

- content_for :domready do
  new Search.ProductsSearchController($('#listing_search form'), $("section#content.search"));
