<h2>{{ 'simple_form.labels.company.payout.via_paypal' | translate }}</h2>

{% if merchant_account.state != 'pending' %}
  <p><h3>{{ merchant_account.state_info }}</h3></p>
{% endif %}

{% if merchant_account.errors != blank %}
  <div class="errors-global">
    <ul>
      {{ merchant_account.errors }}
    </ul>
  </div>
{% endif %}

<input class="numeric integer optional form-control" type="hidden" step="1" value="{{ merchant_account.id}}" name="merchant_account[id]" id="merchant_account_{{index}}_id">

<div class="form-group string optional merchant_account_email">
  <label class="control-label" for="merchant_account_email">{{ 'payouts.paypal.email' | translate }}</label>
  <input class="form-control string" id="merchant_account_email" name="merchant_account[email]" type="text" value="{{ merchant_account.data['email']}}">
</div>

<div class="panel form-actions">
  <div class="panel-body">
    <input type="submit" name="commit" value="{{ 'payouts.buttons.save' | translate }}">
  </div>
</div>

