- if merchant_account.persisted?
  = f.hidden_field :id

- if merchant_account.errors.present?
  .errors-global
    %ul
      - merchant_account.errors.full_messages.each do |err|
        %li= err

- if merchant_account.verified?
  %h3= t("dashboard.merchant_account.#{merchant_account.state}")

  %table.table.table-simple
    %thead
      %tr
        %td= t('dashboard.merchant_account.account_type')
        %td= merchant_account.account_type.capitalize
      %tr
        %td= t('dashboard.merchant_account.first_name')
        %td= merchant_account.first_name
      %tr
        %td= t('dashboard.merchant_account.last_name')
        %td= merchant_account.last_name
      %tr
        %td= t('dashboard.merchant_account.bank_account_number_last_4')
        %td= merchant_account.bank_account_number
      %tr
        %td= t('dashboard.merchant_account.dob')
        %td= l(merchant_account.owners.first.dob_date, format: :short)

- else
  - if merchant_account.fields_needed.any?
    %h3= t('dashboard.merchant_account.you_almost_there')
    %p= t('dashboard.merchant_account.stripe_needed_fields_1')
    %p= t('dashboard.merchant_account.stripe_needed_fields_2')

    %br

    - if merchant_account.needs?('legal_entity.business_tax_id')
      .form-group.string.optional
        = f.label :business_tax_id, class: 'string optional control-label' do
          = t("dashboard.merchant_account.business_tax_id.#{merchant_account.location}")
          = translated_hint_button "dashboard.merchant_account.hints.business_tax_id.#{merchant_account.location}"
        = f.text_field :business_tax_id, class: 'string optional form-control', placeholder: t("dashboard.merchant_account.placeholders.business_tax_id.#{merchant_account.location}", default: '')

    - if merchant_account.needs?('legal_entity.business_vat_id')
      .string.form-group.optional
        = f.label :business_vat_id, class: 'string optional control-label' do
          = t('dashboard.merchant_account.business_vat_id')
          = translated_hint_button "dashboard.merchant_account.hints.business_vat_id"
        = f.text_field :business_vat_id, class: 'string optional form-control', placeholder: t('dashboard.merchant_account.placeholders.business_vat_id', default: '')

    - if merchant_account.needs?('legal_entity.ssn_last_4')
      .form-group.string.optional
        = f.label :ssn_last_4, class: 'string optional control-label' do
          = t('dashboard.merchant_account.ssn_last_4')
          = translated_hint_button "dashboard.merchant_account.hints.ssn_last_4"
        = f.text_field :ssn_last_4, class: 'string optional form-control', placeholder: t("dashboard.merchant_account.placeholders.ssn_last_4", default: '')

    - if merchant_account.needs?('legal_entity.personal_id_number')
      .form-group.string.optional
        = f.label :personal_id_number, class: 'string optional control-label' do
          = t("dashboard.merchant_account.personal_id_number.#{merchant_account.location}")
          = translated_hint_button "dashboard.merchant_account.hints.personal_id_number.#{merchant_account.location}"
        = f.text_field :personal_id_number, class: 'string optional form-control', placeholder: t("dashboard.merchant_account.placeholders.personal_id_number.#{merchant_account.location}", default: '')
    - if merchant_account.needs?('legal_entity.address.postal_code')
      .form-group.string.optional
        = f.simple_fields_for :current_address, f.object.current_address || Address.new do |address_form|
          .fields.location
            = render 'dashboard/shared/fields/address', f: address_form, field_label: t('simple_form.labels.merchant_account.current_address')

    - if merchant_account.needs?('legal_entity.verification.document')
      = f.fields_for :owners do |maof|
        .form-group.string.optional{class: maof.error(:document) ? 'has-error' : ''}
          .row
            .col-md-12
              = maof.label :document, class: 'string required control-label' do
                = t('dashboard.merchant_account.document')
                = translated_hint_button "dashboard.merchant_account.hints.document"
            .col-md-12.input-container
        = maof.file_field :document
        %span.help-block= maof.error :document

  - else
    %h2= t('dashboard.merchant_account.header')

    - if merchant_account.persisted?
      %h3= t("dashboard.merchant_account.#{merchant_account.state}")

    .form-group.string.optional{class: f.error(:account_type) ? 'has-error' : ''}
      = f.label :account_type, class: 'string optional control-label' do
        - if f.object.class.validators_on(:account_type).any?
          %abbr{title: "required"} *
        =t('dashboard.merchant_account.account_type')
        = translated_hint_button "dashboard.merchant_account.hints.account_type"
      = f.select :account_type, options_for_select([[t('dashboard.merchant_account.select_account_type'), '']] + MerchantAccount::StripeConnectMerchantAccount::ACCOUNT_TYPES.map { |at| [t("dashboard.merchant_account.#{at}"), at] }, f.object.account_type), {}, class: 'form-control optional', data: {'account-type' => true}
      %span.help-block= f.error :account_type

    - if MerchantAccount::StripeConnectMerchantAccount::SUPPORTED_CURRENCIES[merchant_account.location.upcase].size > 1
      .form-group.string.optional
        = f.label :currency, class: 'string optional control-label' do
          = t('dashboard.merchant_account.currency')
          = translated_hint_button "dashboard.merchant_account.hints.currency"
        = f.select :currency, options_for_select([[t('dashboard.merchant_account.select_currency'), '']] + MerchantAccount::StripeConnectMerchantAccount::SUPPORTED_CURRENCIES[merchant_account.location.upcase], f.object.currency), {}, class: 'optional form-control'

    - [:bank_routing_number, :bank_account_number, :first_name, :last_name].each do |field_name|
      .form-group.string.optional{class: f.error(field_name) ? 'has-error' : ''}
        = f.label field_name, class: 'string optional control-label' do
          %abbr{title: "required"} *
          - if [:first_name, :last_name].include?(field_name)
            = t("dashboard.merchant_account.#{field_name}")
            = translated_hint_button "dashboard.merchant_account.hints.#{field_name}"
          - else
            = t("dashboard.merchant_account.#{field_name}.#{merchant_account.location}")
            = translated_hint_button "dashboard.merchant_account.hints.#{field_name}.#{merchant_account.location}"
        - if [:first_name, :last_name].include?(field_name)
          = f.text_field field_name, class: 'string optional form-control', placeholder: t("dashboard.merchant_account.placeholders.#{field_name}", default: '')
        - else
          = f.text_field field_name, class: 'string optional form-control', placeholder: t("dashboard.merchant_account.placeholders.#{field_name}.#{merchant_account.location}", default: '')
        %span.help-block= f.error field_name

    - if merchant_account.iso_country_code == 'US'
      .form-group.string.optional{class: f.error(:personal_id_number) ? 'has-error' : ''}
        = f.label :personal_id_number, class: 'string optional control-label' do
          %abbr{title: "required"} *
          = t("dashboard.merchant_account.personal_id_number.us")
          = translated_hint_button "dashboard.merchant_account.hints.personal_id_number.us"
        = f.text_field :personal_id_number, class: 'string optional form-control', placeholder: t("dashboard.merchant_account.placeholders.personal_id_number.us", default: '')
        %span.help-block= f.error :personal_id_number

      .form-group.string.optional{"data-account-type" => "company", class: f.error(:business_tax_id) ? 'has-error' : ''}
        = f.label :business_tax_id, class: 'string optional control-label' do
          %abbr{title: "required"} *
          = t("dashboard.merchant_account.business_tax_id.#{merchant_account.location}")
          = translated_hint_button "dashboard.merchant_account.hints.business_tax_id.#{merchant_account.location}"
        = f.text_field :business_tax_id, class: 'string optional form-control', placeholder: t("dashboard.merchant_account.placeholders.business_tax_id.#{merchant_account.location}", default: '')
        %span.help-block= f.error :business_tax_id


    = f.fields_for :owners do |maof|
      = render 'dashboard/company/merchant_accounts/stripe_connect_owner_fields', f: maof, merchant_account: merchant_account

    - unless merchant_account.has_valid_address?
      .form-group.string.optional
        = f.simple_fields_for :current_address, f.object.address do |address_form|
          .fields.location
            = render 'dashboard/shared/fields/address', f: address_form, field_label: t('simple_form.labels.merchant_account.current_address')

    - if merchant_account.data[:fields_needed] && merchant_account.data[:fields_needed].join.index('additional_owners')
      #owners
        .links
          = link_to_add_association t('dashboard.merchant_account.add_owner'), f, :owners,
            partial: 'dashboard/company/merchant_accounts/stripe_connect_owner_fields', render_options: {locals: {merchant_account: merchant_account}}
          %br
    %div{class: f.error(:tos) ? 'has-error' : ''}
      %label
        = f.check_box :tos
        Payment processing services for #{platform_context.lessee} on #{platform_context.name} are provided by Stripe and are subject to the <a href="https://stripe.com/connect/account-terms" target="_blank">Stripe Connected Account Agreement</a>, which includes the <a href="https://stripe.com/us/terms" target="_blank">Stripe Terms of Service</a> (collectively, the “Stripe Services Agreement”). By agreeing to [this agreement / these terms / etc.] or continuing to operate as a #{platform_context.lessee} on #{platform_context.name}, you agree to be bound by the Stripe Services Agreement, as the same may be modified by Stripe from time to time. As a condition of #{platform_context.name} enabling payment processing services through Stripe, you agree to provide #{platform_context.name} accurate and complete information about you and your business, and you authorize #{platform_context.name} to share it and transaction information related to your use of the payment processing services provided by Stripe.
      %span.help-block= f.error :tos

- unless merchant_account.verified?
  .panel.form-actions
    .panel-body
      = f.submit t('payouts.buttons.save')
