- @owners_counter ||= 0

.nested-fields

  - if @owners_counter == 1
    %h4= t('dashboard.merchant_account.additional_owners')


  - if @owners_counter != 0
    .string.optional
      .row
        .col-md-3
          = f.label :first_name, class: 'string optional control-label' do
            = t('dashboard.merchant_account.first_name')
            = translated_hint_button 'dashboard.merchant_account.hints.first_name'
        .col-md-9.input-container
          = f.text_field :first_name, class: 'string optional', placeholder: t('dashboard.merchant_account.placeholders.first_name', default: '')

    .string.optional
      .row
        .col-md-3
          = f.label :last_name, class: 'string optional control-label' do
            = t('dashboard.merchant_account.last_name')
            = translated_hint_button 'dashboard.merchant_account.hints.last_name'
        .col-md-9.input-container
          = f.text_field :last_name, class: 'string optional', placeholder: t('dashboard.merchant_account.placeholders.last_name', default: '')

  .datetimepicker{style: 'position: relative'}
    .form-group.string.optional{class: f.error(:dob) ? 'has-error' : ''}
      = f.label :dob, class: 'string optional control-label' do
        %abbr{title: "required"} *
        =  t('dashboard.merchant_account.dob')
        = translated_hint_button 'dashboard.merchant_account.hints.dob'
      = f.text_field :dob_formated, placeholder: f.object.date_format_readable, class: 'string optional form-control', data: {'date-picker': true, 'date-format': f.object.date_format_readable}
      %span.help-block= f.error :dob

  - if (@owners_counter == 0 && (merchant_account.iso_country_code == 'US' || merchant_account.needs?('legal_entity.verification.document'))) || @owners_counter != 0
    .form-group.string.optional{class: f.error(:document) ? 'has-error' : ''}
      .row
        .col-md-12
          = f.label :document, class: 'string required control-label' do
            = t('dashboard.merchant_account.document')
            = translated_hint_button 'dashboard.merchant_account.hints.document'
        .col-md-12.input-container
          = f.file_field :document
      %span.help-block= f.error :document

  - if @owners_counter != 0
    - MerchantAccountOwner::StripeConnectMerchantAccountOwner::ADDRESS_ATTRIBUTES.each do |address_attr|
      .string.optional
        .row
          .col-md-3
            = f.label address_attr, class: 'string optional control-label' do
              = t("dashboard.merchant_account.#{address_attr}")
              = translated_hint_button "dashboard.merchant_account.hints.#{address_attr}"
          .col-md-9.input-container
            = f.text_field address_attr, class: 'string optional', placeholder: t("dashboard.merchant_account.placeholders.#{address_attr}", default: '')

    = link_to_remove_association t('dashboard.merchant_account.remove_owner'), f

- @owners_counter += 1
