<h2>Hello, {{ enquirer.name }}</h2>

<p>{{ lister.name }} has rejected the latest time and expense submission. Payment for the latest submission of time and expenses will be not processed.</p>

<p>Rejection could be based on many factors such as: expense budget, agreed upon special terms, poor documentation, etc.</p>

{% if order_item.rejection_reason != blank %}
  <p>Client said: "{{ order_item.rejection_reason }}"</p>
{% endif %}

<p>Please review your information and re-submit time and expenses per your agreed terms. Feel free to reach out to <a href="{{ platform_context.host | append: lister.user_message_path }}"> {{ lister.name }}</a> for more details.</p>

