= render :layout => 'manage/layout' do
  .box
    %h2
      Manage
      %strong= @company.name

    = render 'navigation', :active => :details
    = render 'shared/context_flash'

    = simple_form_for([:manage, @company], :html => { :class => 'form-horizontal' }) do |f|
      = f.input :name, :label => "Your company name", :placeholder => "Enter your business name"
      = f.input :url, :label => "Company website URL", :placeholder => "www.mycompany.com"
      = f.input :email, :label => "Company email", :placeholder => "yourname@example.com"
      = f.input :description,:as => :description, :label => "Company description", :placeholder => "Tell us a bit about your company. People will read this when booking your space. Be exciting!"

      .actions
        = f.button :submit, f.object.new_record? ? 'Create My Company' : 'Update Company', :disable_with => f.object.new_record? ? 'Creating...' : 'Updating...'


