.dash-head.clearfix
  %p #{t('buy_sell_market.checkout.labels.payment_details')} - ID: #{@payment.id}

.dash-body
  .action-row
    = link_to dashboard_company_orders_received_path(@order) do
      .btn.blue= t("dashboard.payments.order")
    - if @payment.paid? && !@payment.refunded?
      = link_to refund_dashboard_company_orders_received_payment_path(@order, @payment) do
        .btn.red= t("dashboard.payments.refund")

  .divider

  .row
    .col-md-3= t('dashboard.payments.total')
    .col-md-4= humanized_money_with_cents_and_symbol(@payment.total_amount)

  .row
    .col-md-3= t('dashboard.payments.service_fee')
    .col-md-4= humanized_money_with_cents_and_symbol(@payment.total_service_fee)

  .row
    .col-md-3= t('dashboard.payments.state')
    .col-md-4= t("dashboard.payments.states.#{@payment.state}")

  .clearfix
