<h2>{{ 'buy_sell_market.checkout.order_mailer.cancel_email.dear_customer' || translate }}

<p>{{ 'buy_sell_market.checkout.order_mailer.cancel_email.instructions' || translate }}</p>

<p>{{ 'buy_sell_market.checkout.order_mailer.cancel_email.order_summary_canceled' || translate }}<p>

<ul>
{% for item in order.line_items %}
    <li>{{item.variant.sku}} {{item.variant.product.name}} {{ item.variant.options_text }} {{item.quantity}} @ {{item.single_money}} = {{item.display_amount}}</li>
{% endfor %}
</ul>

<p>{{ 'buy_sell_market.checkout.order_mailer.subtotal' | translate: subtotal: order.display_item_total }}</p>

<ul>
{% assign eligible_adjustments = order.eligible_adjustments %}
{% for adjustment in eligible_adjustments %}
    <li>{{ adjustment.label }} {{ adjustment.amount }}</li>
{% endfor %}
</ul>

<p>
{{ 'buy_sell_market.checkout.order_mailer.service_fee' | translate: fee: order.service_fee_amount_guest }}<br />
{{ 'buy_sell_market.checkout.order_mailer.total' | translate: total: order.total_amount }}
</p>
