= t('buy_sell_market.checkout.order_mailer.confirm_email.dear_customer')
\
= t('buy_sell_market.checkout.order_mailer.confirm_email.instructions')
\
============================================================
= t('buy_sell_market.checkout.order_mailer.confirm_email.order_summary')
============================================================
- @order.line_items.each do |item|
  = "#{item.variant.sku} #{raw(item.variant.product.name)} #{raw(item.variant.options_text)} (#{item.quantity}) @ #{item.single_money} = #{item.display_amount}"
============================================================

= t('buy_sell_market.checkout.order_mailer.subtotal', subtotal: @order.display_item_total)

- if @order.line_item_adjustments.exists?
  - if @order.all_adjustments.promotion.eligible.exists?
    - @order.all_adjustments.promotion.eligible.group_by(&:label).each do |label, adjustments|
      = "#{t('buy_sell_market.checkout.order_mailer.confirm_email.promotion')}: #{label} #{Spree::Money.new(adjustments.sum(&:amount), currency: @order.currency)}"


- @order.shipments.group_by { |s| s.selected_shipping_rate.try(:name) }.each do |name, shipments|
  = "#{t('buy_sell_market.checkout.order_mailer.confirm_email.shipping')}: #{name} #{Spree::Money.new(shipments.sum(&:discounted_cost), currency: @order.currency)}"

- if @order.all_adjustments.eligible.tax.exists?
  - @order.all_adjustments.eligible.tax.group_by(&:label).each do |label, adjustments|
    = "#{t('buy_sell_market.checkout.order_mailer.confirm_email.tax')}: #{label} #{Spree::Money.new(adjustments.sum(&:amount), currency: @order.currency)}"

- @order.adjustments.eligible.each do |adjustment|
  - next if (adjustment.source_type == 'Spree::TaxRate') and (adjustment.amount == 0)
  = "#{adjustment.label} #{adjustment.display_amount}"

= t('buy_sell_market.checkout.order_mailer.service_fee', fee: Spree::Money.new(@order.service_fee_amount_guest, currency: @order.currency))
============================================================
= t('buy_sell_market.checkout.order_mailer.total', total: Spree::Money.new(@order.total_amount_to_charge, currency: @order.currency))
\
= t('buy_sell_market.checkout.order_mailer.confirm_email.thanks')
