<h2>{{ 'buy_sell_market.checkout.order_mailer.confirm_email.dear_customer' || translate }}</h2>

<p>{{ 'buy_sell_market.checkout.order_mailer.confirm_email.instructions' || translate }}</p>

<p>{{ 'buy_sell_market.checkout.order_mailer.confirm_email.order_summary' || translate }}</p>
<ul>
    {% for item in order.line_items %}
        <li>{{item.variant.sku}} {{item.variant.product.name}} {{ item.variant.options_text }} {{item.quantity}} @ {{item.single_money}} = {{item.display_amount}}</li>
    {% endfor %}
</ul>

<br /><br />
<p>
{{ 'buy_sell_market.checkout.order_mailer.subtotal' | translate: subtotal: order.display_item_total }}<br />

{% assign all_adjustment_summary = order.all_adjustment_summary %}
{% for adjustment_info in all_adjustment_summary %}
    {{ adjustment_info.label }} {{ adjustment_info.amount }}<br />
{% endfor %}

{% assign grouped_shipments = order.grouped_shipments %}
{% for shipment_info in grouped_shipments %}
    {{ 'buy_sell_market.checkout.order_mailer.confirm_email.shipping' | translate }}: {{shipment_info.name}} {{shipment_info.rate}}<br />
{% endfor %}

{% assign taxes = order.taxes %}
{% for tax_info in taxes %}
    {{ 'buy_sell_market.checkout.order_mailer.confirm_email.tax' | translate }}: {{ tax_info.label }} {{ tax_info.amount }}<br />
{% endfor %}

{% assign other_adjusments = order.other_adjusments %}
{% for other_adjustments_info in other_adjusments %}
    {{ other_adjustments_info.label }} {{ other_adjustments_info.amount }}<br />
{% endfor %}

{{ 'buy_sell_market.checkout.order_mailer.service_fee' | translate: fee: order.service_fee_amount_guest }}<br />

<strong>{{ 'buy_sell_market.checkout.order_mailer.total' | translate: total: order.total_amount }}</strong>
</p>

<p>{{ 'buy_sell_market.checkout.order_mailer.confirm_email.thanks' | translate }}</p>

