.content-container
  = render partial: 'instance_admin/manage/search/tabs', locals: {tab: :products}
  
  %h4= t('instance_admin.manage.search.products_search.products_custom_search')
  %br
  
  .services
    - @product_types.each do |product_type|
      .service
        .header
          .service-name
            = image_tag('spinner_mini.gif', class: :hidden, id: "service_spinner_#{product_type.id}")
            %input{type: 'checkbox', checked: product_type.searchable?, spinner: "#service_spinner_#{product_type.id}", 'data-url' => set_search_instance_admin_manage_search_product_types_path(product_type_id:   product_type.id) }
            %label= product_type.name
            
      .search-system
        .content-container
          .sub-header-nav
            %ul
              %li
                %a{'data-product-type-custom-attributes' => "#product_type_#{product_type.id}_custom_attributes", class: "product_type_custom_attributes", href: '#'}
                  = t('instance_admin.manage.search.custom_attributes.custom_attributes')
                  %span.caret
          %div{id: "product_type_#{product_type.id}_custom_attributes"}
            = render partial: 'instance_admin/manage/search/custom_attributes', locals: {product_type: product_type, custom_attributes: product_type.custom_attributes.order('internal, name'), target_type: product_type}
  
  - content_for :domready do
    new InstanceAdmin.SearchProductTypesController($('.services'))
