%tr
  %td= shipping_provider.shipping_provider_name
  %td= shipping_provider.environment
  %td= link_to 'view', [:instance_admin, :settings, shipping_provider]
  %td= link_to 'edit', [:edit, :instance_admin, :settings, shipping_provider]
  %td= link_to 'delete', [:instance_admin, :settings, shipping_provider], method: :delete
