- render_content_outside_container!

= content_for :hero do
  = image_tag('partner/partnerpage_hero.png')

.container-fluid
  .row-fluid
    .span8.offset2.become-a-partner
      %h1 Become a partner.
      .text
        Together, we can create efficient ways to share business spaces, networks, and resources. We offer our partners value added member benefits by connecting business professionals with excess office space with those seeking space.

        Platform and white-label users can customize the branding, look, and feel of their custom marketplace, maintaining the trust associated with their brand and network.

        Your marketplace can be public or private, sharing inventory from Desks Near Me or displaying only listings created from your customers within the platform/white-label marketplace.

        Desks Near Me platform and white-label options allow users to add value to their existing network, and create a new revenue stream that benefits all sharing desk spaces.

  .row-fluid
    .span10.offset1.partners
      .table
        .row
          .cell
            = image_tag('partner/w-hotels.png')
          .cell.text-center
            = image_tag('partner/sfcoc.png')
          .cell.text-right
            = image_tag('partner/sjcoc.png')
          .cell.text-right
            = image_tag('partner/premier.png')

  .row-fluid
    .span10.offset1.w-hotels
      .span5
        = image_tag('partner/W_desksnear_me_circle.png')
      .span6.w-content
        %h2 Add value to your network
        .text
          Whether you're a corporation, association, chamber of commerce or agency,
          Desks Near Me offers a partnership that adds significiant value to your
          members or customers while growing your brand globally.

  .row-fluid
    .span10.offset1.extra-money
      .span6
        %h2 Get extra money for your extra space.
        .text
          Do you have unused business spaces that can be shared short term amongst
          trusted networks? Our branded solution gives you the platform to help you
          provide solutions that your members are looking for in their business. If
          you're aiming to generate new revenue streams in all markets internationally
          and provide new value added services, our partnerships can help you quickly
          achieve your goals.
      .span6
        .green-box
          .testimonial
            We've definitely seen an uptick in bookings since we started listing our meeting rooms with DesksNearMe--the added distribution channel has been very helpful for finding new people already looking for space and rooms.  It really sets us apart from other options and keeps us on the cutting edge of technology.
            .avatar-row
              .avatar-name
                &mdash; San Francisco Chamber of Commerce

  .row-fluid
    .span10.offset1.w-hotels.share-your-space
      .span5
        = image_tag('partner/W_desksnear_me_circle.png')
      .span6.w-content
        %h2 Share your space for more flexible, cost effective solutions.
        .text
          Say goodbye to expensive long term office leases for your customers. Say hello to
          collaborating to share spaces, resources and business opportunities around the world
          within your trusted network. Desks Near Me is for all types and sizes of organizations
          looking to be the first in the sharing economy and provide a cost saving resource to what
          matters to every business - where do you work today?

  .row-fluid
    .span10.offset1.testimonials-tab
      Testimonials

.testimonials
  .body
    .container-fluid
      .row-fluid
        .span10.offset1
          .span7
            .white-box
              .testimonial
                Our members have spare office space and no way to manage it to rent out and network with other members.  It is a win win for all professionals that use our Desks Near Me marketplace.
                .avatar-row
                  .avatar-name
                    &mdash; San Jose Chamber of Commerce

            .white-box
              .testimonial
                Desks Near Me was able to help provide a new simple customizable way to list our spaces and bring it to a wider audience.  We love that they have a global reach to highlight our spaces.
                .avatar-row
                  .avatar-name
                    &mdash; Premier Business Centers

          .span5
            .white-box
              .testimonial
                With Desks Near Me, we were easily able to create whitelabel marketplace that both big businesses and freelancers could use to find professional and quiet working space with all the office type amenities they might need on the go.
                .avatar-row
                  .avatar-name
                    &mdash; San Francisco Chamber of Commerce

.about
  .body
    .container-fluid
      .row-fluid
        .span10.offset1.text-center
          %h2 About our platform.
      .row-fluid
        .span6.offset3.text-center
          .intro
            We are a technology company with networks reaching all continents people and with the right
            kind of spaces.
      .row-fluid
        .span10.offset1
          .span4
            .box
              .icon
                = image_tag('partner/icon-search.png')
              .text
                A powerful platform to search, book and
                collect payments directly.

          .span4
            .box
              .icon
                = image_tag('partner/icon-lock.png')
              .text
                Allow for your listings to be private or public
          .span4
            .box
              .icon
                = image_tag('partner/icon-dollar.png')
              .text
                Increase revenue streams

      .row-fluid
        .span10.offset1
          .span4
            .box
              .icon
                = image_tag('partner/icon-people.png')
              .text
                Add engagement with your members.

          .span4
            .box
              .icon
                = image_tag('partner/icon-dashboard.png')
              .text
                Analytics, multi-user dashboard, and
                streamlined online payments
          .span4
            .box
              .icon
                = image_tag('partner/icon-phone.png')
              .text
                Branded iphone app

.get-started
  .body
    .container-fluid
      .row-fluid
        .span10.offset1.text-center
          %h2 Get started today.
      .row-fluid
        .span4.offset4
          = simple_form_for @partner_inquiry do |f|
            .validation-fail
            = f.input :name, :placeholder => 'Your Name', :label => false
            = f.input :company_name, :placeholder => 'Company Name', :label => false
            = f.input :email, :placeholder => 'Email Address', :label => false

            .form-actions
              = f.button :submit, 'Okay, Go!', :class => 'btn-gray', :'data-original-text' => 'Okay, Go!', :'data-disabled-text' => 'Saving ...'

