<h2>Data import has finished</h2>

<p>It started on {{ data_upload.import_started_at }} and finished on {{ data_upload.import_finished_at }}</p>

<p>Report:<br />
New entities: {{ data_upload.new_parse_summary }}<br />
Updated entities: {{ data_upload.updated_parse_summary }}<br />
{% if data_upload.data_upload.deleted_parse_summary %}
Deleted entities: {{ data_upload.deleted_parse_summary }}
{% endif %}
</p>

<p>
{% if data_upload.parsing_result_log %}
  Encountered validation errors log:
  {{ data_upload.parsing_result_log_html | make_html_safe }}
{% endif %}
</p>

<p>You can access dashboard <a href='{{ platform_context.host | append:data_upload.new_importable_url }}'>here</a></p>
