= simple_form_for @liquid_view, as: :liquid_view, url: @liquid_view.persisted? ? instance_admin_manage_liquid_view_path(@liquid_view) : instance_admin_manage_liquid_views_path, method: @liquid_view.persisted? ? :put : :post do |f|
  %h4
    = link_to 'Manage liquid view', instance_admin_manage_liquid_views_url
    =  "> #{pretty_path(@liquid_view.path)}" if @liquid_view.path

  .content-container
    .row
      .input-container.col-xs-12
        = f.input :path, label: 'View path', :placeholder => 'liquid/view', disabled: @liquid_view.persisted?, input_html: { class: 'form-control' }
    .row
      .input-container.col-xs-12
        = f.association :transactable_type
    .row
      .input-container.col-xs-12
        = f.input :body, as: :text, label: 'Body', input_html: { class: 'form-control', :"data-editor" => 'liquid', rows: '30' }

    = f.button :submit, 'Save', class: 'btn btn-green pull-right'
    = link_to 'Cancel', instance_admin_manage_liquid_views_url , class: 'pull-right'
