%article.order{id: dom_id(offer)}
  %header
    .row
      .col-sm-7
        %h2
          = link_to offer.name, offer_path(offer)
      .col-sm-5
        .order-status
          %span{class: bids.first.state }
            = bids.first.state


  .row
    .col-sm-3
      %h3 Some details

    .col-sm-2
      %h3= t('dashboard.user_reservations.quantity')
      %p

    .col-sm-3
      %h3= t('dashboard.user_reservations.requested_dates', count: 1)
      %ul.dates


    .col-sm-3
      %h3= t('dashboard.user_reservations.requested_time')
      %p.times

    .col-sm-1
      %h3= t('dashboard.user_reservations.total')
      %p



  .row
    .col-sm-9.col-sm-push-3
      .order-actions
        jfksdjksd
    .col-sm-3.col-sm-pull-9
      %small= t('dashboard.user_reservations.reservation_placed_html', date: l(offer.created_at, format: :only_date_short))

  .row
    .col-sm-3
      %h2= 'Bids'

  .row
    .col-sm-3 Company name
    .col-sm-3 State
    .col-sm-3 Offer placed at
  - bids.each do |bid|
    .row
      .col-sm-3= link_to bid.user.name, buyer_profile_path(bid.user)
      .col-sm-3= bid.state
      .col-sm-3= l(bid.created_at, format: :only_date_short)
      .col-sm-3= link_to 'Show details', dashboard_user_bid_path(bid)

