---
slug: client-landing
name: Client Landing Page
layout: application
---
<head>
    <meta name="robots" content="noindex">
</head>
<div style="text-align: center; width: 100%; margin: 0 auto;">
    <div style="float: left; width: 50%; margin-left: 50px; text-align: left;">
            <h1>How I Found My First Subject Matter Expert (SME)</h1>
            <br>
            Owning a small business requires you to multitask unlike any other position I know. You do it all: Finance, Marketing, Business Development,               Operations, Human Resources, and more. It is exhilarating but exhausting. Even if you have a core team or board of advisors, you occasionally need to venture outside your company for guidance on how to improve your business.<br>
            <br>
            At each stage of business, you need different types of expert advice. For example, in the Infancy stage, you may need help with the basics of How to Begin, and in the Quick Growth stage you may need help with the nuances of How to Scale. At every stage, you need to evaluate where you are and how you can get to the Next Level. Staying motionless isn’t an option because this means you are losing momentum. You probably already have an accountant and attorney, but who can you think through the pros and cons of expanding your business to a new location or into a new adjacent market? Who can you talk to without worrying your loved ones at night with office talk? Who can you communicate with about your doubts and concerns?<br>
        <br>
        <form style="text-align: center;" action="https://upsideoftalent.com/join-our-community-client">
                <button action="https://upsideoftalent.com/join-our-community-client" name="UoT">
                Join the UoT Community!</button>
        </form>
        <br>
        When I started my last company, I joined several friends who were also female business owners for a monthly dinner to share and receive support from each other. This really helped me emotionally but often none of us had the appropriate experience to guide each other professionally. I also joined some mentoring groups sponsored by local business organizations in my geographic area. One particular organization connected me with a female executive every quarter so I could ask questions such as, “How do I set up an Employee Stock Ownership Plan (ESOP)?” I did get useful advice but since the executives were volunteer mentors, I never felt I got enough personal attention.<br>
        <br>
        Along the course of growing our company, I met Marshall. He was referred to me from one of our investors and he became our Executive Mentor and my trusted advisor. We started a contract where he spent 20 hours a month advising us. What a difference this made for me and our company! Someone was now focused on my personal and professional growth and the future of our company; he provided me with important advice on the steps I needed to take at each stage of our lifecycle. Ultimately, he mentored us through our recovery from the Dot-Com Bust to rebuild our company and sell it to a large multinational company. What an amazing and valuable relationship! This was my first experience with a Subject Matter Expert who had experience with general management strategy and growth in our market of government services.<br>
        <br>
        It took me five years to find a SME to help me run, grow, and ultimately sell our last company. According to the U.S. Small Business Administration Office of Advocacy, about half of new businesses go out of business in the first five years[1]. Our company was lucky to have survived long enough to find our SME.<br>
        <br>
        <form style="text-align: center;"action="https://upsideoftalent.com/join-our-community-client">
                <button action="https://upsideoftalent.com/join-our-community-client" name="UoT">
                Find SMEs Now!</button>
        </form>
        <br>
        Now, everything is different in our digital times. Upside of Talent (UoT) is a marketplace that attracts Subject Matter Experts (SMEs) who have over 20 years of experience so that today’s businesses and SMEs can be easily matched to meet the needs of the specific stage of your business. I am eager to have the UoT automate our success story many times over. Anyone with a business challenge can benefit from a SME’s mentorship. As the founder of UoT, I continue to utilize SMEs to mentor me through this journey!<br>
        <br>
        <div style="float: left; text-align: left;">
            <p style="color: blue;"> [1] https://www.sba.gov/sites/default/files/FAQ_Sept_2012.pdf </p>
            <p style="color: grey;"> Published December 20, 2016 </p>
            <hr>
            <img src="https://d2rw3as29v290b.cloudfront.net/instances/195/uploads/images/user/avatar/31947/big_Okelly_026rta_4x5.jpg?v=1474311218">
            <hr>
            <h3>Jeanne O'Kelley</h3><br>
            Disruptive Innovation and Business Model Transformation Entrepreneur<br>
            <br>
            <br>
            <br>
        </div>
    </div>
    <div style="float: left; width: 40%; margin-left: 10px; text-align: center;">
        <div style="float: left; text-align: left;">
            <img src="https://upsideoftalent.sharepoint.com/UoT%20Intern%20Working%20Site/_layouts/15/guestaccess.aspx?docid=0abdd5c13c9454a55b280e7b61e6804d6&authkey=AZBXkYLDFdx09QVZOIorgFU" style="width: 100%; height: 100%"></img><br>
        </div>
        <div class="social-a" style="background-color: grey; float: left; text-align: center; border-radius: 25px; width: 48%; margin-left: 130px;">
            <ul style="margin: auto; ">
                {% if platform_context.facebook_url != blank %}<li><a href="{{ platform_context.facebook_url }}" class="facebook">Facebook</a></li>{% endif %}
                {% if platform_context.twitter_url != blank %}<li><a href="{{ platform_context.twitter_url }}" class="twitter">Twitter</a></li>{% endif %}
                {% if platform_context.linkedin_url != blank %}<li><a href="{{ platform_context.linkedin_url }}" class="linkedin">LinkedIn</a></li>{% endif %}
                {% if platform_context.gplus_url != blank %}<li><a href="{{ platform_context.gplus_url }}" class="googleplus">Google+</a></li>{% endif %}
                {% if platform_context.youtube_url != blank %}<li><a href="{{ platform_context.youtube_url }}" class="youtube" itemprop="sameAs">YouTube</a></li>{% endif %}
                {% if platform_context.blog_url != blank %}<li><a href="{{ platform_context.blog_url }}" class="feed">News feed</a></li>{% endif %}
            </ul>
        </div>
       <div style="text-align: center; width: 50%; margin-left: 110px;">
            <p style="font-size: 7px; width: 275px" >Tagged as: subject matter expert, startup, management consulting, trusted advisor, sme. </p>
        </div>
        <br>
       
    </div>
</div>