.col-md-2.page-navigation
  %nav
    %ul
      = content_tag :li, class: (params[:controller] == 'dashboard/orders') ? 'active' : '' do
        = link_to 'My Orders', dashboard_orders_path
      = content_tag :li, class: params[:controller].include?('user_messages') ? 'active' : '' do
        = link_to 'Messages', dashboard_user_messages_path
    - if current_user.companies.any?
      %ul
        %li.nav-head
          YOUR SHOP
        = content_tag :li, class: (params[:controller].include?('companies')) ? 'active' : '' do
          = link_to 'Shop Details', edit_dashboard_company_path(current_user.companies.first)
        = content_tag :li, class: ['dashboard/products', 'dashboard/transactables'].include?(params[:controller]) ? 'active' : '' do
          - if buyable?
            = link_to 'Listings', dashboard_products_path
          - else
            = link_to 'Listings', dashboard_transactable_type_transactables_path(TransactableType.first)
        = content_tag :li, class: (params[:controller].include?('payouts')) ? 'active' : '' do
          = link_to 'Payout', edit_dashboard_payouts_path
        %li
          %a{:href => "#"} Payment
        - orders_rceived_active = params[:controller] == ('dashboard/orders_received')
        = content_tag :li, class: orders_rceived_active ? 'active' : '' do
          = link_to 'Orders Received', dashboard_orders_received_index_path

        -# Jaromir: Not used for now
        -#-if orders_rceived_active
          -#%ul.page-sub-nav
          -#  %li
          -#    %a.active{:href => "#"} Boat
          -#  %li
          -#    %a{:href => "#"} Slip
          -#  %li
          -#    %a{:href => "#"} Captain

        -#%li
        -#  %a{:href => "#"} Shipping Methods
      %ul
        %li.nav-head
          ADMIN

        -# Jaromir: Not used for now
        -#%li
        -#  %a{:href => "#"} Blog

        = content_tag :li, class: (params[:controller].include?('analytics')) ? 'active' : '' do
          = link_to 'Analytics', dashboard_analytics_path
        = content_tag :li, class: (params[:controller].include?('users')) ? 'active' : '' do
          = link_to 'Manage Admins', dashboard_users_path
        = content_tag :li, class: (params[:controller].include?('waiver_agreement_templates')) ? 'active' : '' do
          = link_to 'Waiver Agreements', dashboard_waiver_agreement_templates_path
        = content_tag :li, class: (params[:controller].include?('white_label')) ? 'active' : '' do
          = link_to 'White-Label', edit_dashboard_white_label_path(current_user.companies.first)
    %ul
      %li.nav-head
        ACCOUNT
      = content_tag :li, class: (params[:controller].include?('registration')) ? 'active' : '' do
        = link_to 'Edit Profile', '/dashboard/edit_profile'
      %li
        %a{:href => "#"} Trust &amp; Verification
      %li
        %a{:href => "#"} Notification Preferences
