%li
  = link_to 'Shop', root_path(anchor: 'products')
%li{class: (params[:controller].include?('products')) ? 'active' : ''}
  = link_to 'Listings', manage_buy_sell_products_path
%li{class: (params[:controller].include?('manage') && params[:controller].include?('manage')) ? 'active' : ''}
  = link_to 'Orders Received', manage_buy_sell_orders_path
%li{class: (params[:controller].include?('orders') && !params[:controller].include?('manage')) ? 'active' : ''}
  = link_to 'My Orders', orders_path
-#%li
-#  %a{:href => "#"} Reviews
-#%li
-#  %a{:href => "#"} Payout
-#%li
-#  %a{:href => "#"} Payment
%li
  = link_to 'Shipping Methods', manage_buy_sell_shipping_methods_path
%li
  %a{:href => "#"} Notifications
%li
  %a{:href => "#"} Analytics
%li
  = link_to 'Users', manage_users_path
%li
  %a{:href => "#"} Waiver Agreements
%li
  %a{:href => "#"} White-Label
