%li{class: (params[:controller].include?('companies')) ? 'active' : ''}
  = link_to 'Shop', root_path(anchor: 'products')
%li{class: (params[:controller].include?('products')) ? 'active' : ''}
  = link_to 'Listings', dashboard_products_path
%li{class: (params[:controller].include?('orders') && params[:controller].include?('manage')) ? 'active' : ''}
  = link_to 'Orders Received', dashboard_orders_path
%li{class: (params[:controller].include?('orders') && !params[:controller].include?('manage')) ? 'active' : ''}
  = link_to 'My Orders', orders_path
-#%li
-#  %a{:href => "#"} Reviews
-#%li
-#  %a{:href => "#"} Payout
-#%li
-#  %a{:href => "#"} Payment
-#%li
-# link_to 'Shipping Methods', dashboard_shipping_methods_path
%li
  %a{:href => "#"} Notifications
%li{class: (params[:controller].include?('analytics')) ? 'active' : ''}
  = link_to 'Analytics', analytics_dashboard_path
%li{class: (params[:controller].include?('users')) ? 'active' : ''}
  = link_to 'Users', manage_users_path
%li{class: (params[:controller].include?('waiver_agreement_templates')) ? 'active' : ''}
  = link_to 'Waiver Agreements', manage_waiver_agreement_templates_path
%li{class: (params[:controller].include?('white_labels')) ? 'active' : ''}
  = link_to 'White-Label', edit_manage_white_label_path(current_user.companies.first)
