-# TODO Deprecated
%h3 Shipment information:

%br
%ul.location-and-listings
  %li.listing.action-buttons
    .span2= t('shipment.number')
    .span2= t('shipment.state')
    .span2= t('shipment.location')
    .span2.state.text-right
  - @order.shipments.each do |shipment|
    %li.listing.action-buttons
      .span2= shipment.number
      .span2= shipment.state
      .span2= shipment.stock_location.name
      .span2
        = link_to("Ship", ship_dashboard_company_orders_received_shipment_path(@order.number, shipment),
            class: 'btn btn-medium btn-green',
            data: { confirm: 'Are you sure you want to ship this order?' }) if shipment.ready?
