%h3= t('dashboard.document_requirements.upload_files')

%div.document-requirements-container
  - if current_instance.documents_upload.try(:is_vendor_decides?)
    = f.simple_fields_for :upload_obligation, f.object.upload_obligation || f.object.build_upload_obligation(level: UploadObligation::LEVELS.first) do |f|
      = f.input :level, as: :radio_buttons, :collection => UploadObligation::LEVELS, label: false, wrapper_html: { "data-document-obligation": true }
  - else
    = f.simple_fields_for :upload_obligation, f.object.upload_obligation || f.object.build_upload_obligation(level: current_instance.documents_upload.try(:to_obligation)) do |f|
      = f.input :level, as: :hidden

  .document-requirements-fields
    %p= t('dashboard.document_requirements.enter_your_documents')
    .nested-fields-set
      = f.simple_fields_for :document_requirements, f.object.document_requirements.presence || f.object.document_requirements.new do |dr|
        .nested-container
          = render 'dashboard/shared/fields/document_requirement', f: dr

    = link_to_add_association t(:add_new_document_requirement, scope: [:dashboard, :document_requirements]) , f, :document_requirements, partial: 'dashboard/shared/fields/document_requirement', class: 'btn btn-primary', data: { association_insertion_node: ".document-requirements-fields .nested-fields-set", association_insertion_method: :append }

