.rental-shipping-type-section
  = f.input :rental_shipping_type, collection: Transactable::RENTAL_SHIPPING_TYPES.map { |val| [t(val, scope: 'transactables.rental_shipping_types'), val] }, selected: f.object.rental_shipping_type || 'delivery', prompt: false, input_html: { :"data-rental-shipping-type" => true }

  %div.rental-shipping-type-section__fields

    - if defined?(space_wizard)
      = f.input :insurance_value, as: :price, wrapper_html: { class: 'form-control-sm' }, input_html: { :"data-insurance" => true}
    - else
      = f.input :insurance_value, as: :price, input_html: { :"data-insurance" => true, currency: currency_symbol_from_code(@transactable.try(:currency) || PlatformContext.current.instance.default_currency) }, wrapper_html: { class: 'form-control-sm' }

    = f.simple_fields_for :dimensions_template, (f.object.dimensions_template || f.object.build_dimensions_template) do |dt|
      = dt.hidden_field :name, as: :string, value: "transactable template"
      = dt.hidden_field '_destroy', as: :string, value: '', data: { 'remove-object' => 1 }

      - create_dimensions_template_url = new_dashboard_company_dimensions_template_path unless defined?(space_wizard)

      = render 'dashboard/shared/fields/dimension_templates', dt: dt, label: t('dimensions_templates.form.templates'), section_id: 'rental-shipping-type-dimensions', templates: (platform_context.instance.dimensions_templates + current_user.dimensions_templates), create_dimensions_template_url: create_dimensions_template_url
