%header
  %h2== Crop And Rotate
.row-fluid
  .span10.offset1
    = form_tag form_url, :method => :put, :id => 'crop-form', 'data-id' => object.model.id do
      %a.badge.rotate-photo.photo-action{href: '#'}
        %i.glyphicon.glyphicon-repeat
      = image_tag object_url, 'data-image' => true,
        data: { rotate: object.transformation_rotate, crop: object.transformation_crop,
        original_dimensions: object.original_dimensions}, class: 'img-responsive'
      .actions
        = submit_tag 'Process'

:javascript
  $(function() {
    $(document).trigger('init:photomanipulator.nearme', ['#crop-form', { old: true, aspectRatio: #{object.model.send("#{object.mounted_as}_dimensions")[:width].to_f/object.model.send("#{object.mounted_as}_dimensions")[:height].to_f} }]);
  });
