= simple_form_for @theme, :url => instance_admin_theme_design_path, :html => { id: 'theme_form', :multipart => true } do |f|
  %h4 Colors
  .content-container.dropshadow
    - Theme::COLORS.each_slice(2).each_with_index do |color, index|
      .row
        .input-container{ class: "#{color[1] ? 'col-xs-6' : 'col-xs-12'}" }
          = f.input "color_#{color[0]}", :label => color[0].humanize do
            = f.text_field "color_#{color[0]}", {:type => :color, :value => f.object.hex_color(color[0]).presence || hexify(Theme::COLORS_DEFAULT_VALUES[index*2]), 'data-default' => hexify(Theme::COLORS_DEFAULT_VALUES[index*2]), 'data-color' => color[0]}
            = link_to "default", '', 'data-reset' => color[0]

        - if color[1]
          .input-container.col-xs-6
            = f.input "color_#{color[1]}", :label => color[1].humanize do
              = f.text_field "color_#{color[1]}", {:type => :color, :value => f.object.hex_color(color[1]).presence || hexify(Theme::COLORS_DEFAULT_VALUES[index*2+1]), 'data-default' => hexify(Theme::COLORS_DEFAULT_VALUES[index*2+1]), 'data-color' => color[1]}
              = link_to "default", '', 'data-reset' => color[1]

  %h4 Visuals
  = render 'images', f: f

  = render 'font_fields', f: f

  %h4 Call to action
  .content-container.dropshadow
    .row
      .input-container.col-xs-12
        = f.input :call_to_action, label: 'CTA Button Text', :placeholder => 'Find out more', wrapper_html: { class: 'span6' }, input_html: { class: 'form-control' }
  .content-container
    = f.button :submit, 'Save', class: 'btn btn-green pull-right'

- content_for :script do
  = render 'shared/modal'
- content_for :domready do
  window.DNM = {}
  new InstanceAdmin.ThemeController($('#theme_form'))

