- title t('dashboard.nav.click_to_call_preferences')

- content_for :page_header do
  %h1= yield :title

.panel
  .panel-body
    .click-to-call-preferences{ data: { label: click_to_call_labels }}
      = t('dashboard.click_to_call.intro_html')

      = dashboard_simple_form_for @user, url: dashboard_click_to_call_preferences_path, method: :put, html: { multipart: true, id: 'edit_click_to_call_preferences', data: { :"click-to-call-preferences" => true } } do |f|

        = f.input :click_to_call, as: :switch, input_html: { 'data-ctc-toggler' => '' }

        = f.submit t('general.save'), class: 'btn save-preferences'


      %div{class: "connection-details #{@user.click_to_call? ? 'active' : ''}"}
        - if @user.invalid?
          %p.alert.alert-danger
            - if @user.errors[:mobile_number]
              %strong= t('dashboard.click_to_call.mobile_number_error', error: @user.errors[:mobile_number].join(', '))
        - else

          - if current_user.communication.try(:verified?)
            %p= t('dashboard.click_to_call.verified_phone_number_html', phone: current_user.communication.try(:phone_number))

            = button_to t('registrations.social_accounts.disconnect'), user_communication_path(current_user, 'delete'), method: :delete, class: 'btn btn-primary', form: { "data-disconnect": '' }
          - else
            = t('dashboard.click_to_call.connect_intro_html')

            %p
              = t('dashboard.click_to_call.mobile_number_html', phone: current_user.full_mobile_number)

              %small
                [
                = link_to t('dashboard.click_to_call.profile_link_label'), dashboard_profile_path
                ]
            = button_to t('dashboard.click_to_call.verify'), user_communications_path(current_user), class: 'btn btn-primary', form_class: 'twilio-connect-form', params: { phone: current_user.full_mobile_number }
