- title "Request for Quote"

= show_manage_navigation(:rfq)

.row-fluid
  .span8.offset2
    .box
      %header
        %ul.location-and-listings
          %li.location
            .name.left
              Requests for Quote
            .right
              %legend.filter
                = support_link_to_filter(@filter, 'open')
                = support_link_to_filter(@filter, 'resolved')
                = support_link_to_filter(@filter, 'all')
      %ul.location-and-listings
        = render partial: 'ticket', collection: @tickets
      = will_paginate @tickets

- content_for :domready do
  $('abbr.timeago').timeago();
