- title t('reservations.rfq_long')
- @ticket = @ticket.decorate
- @date_presenter = DatePresenter.new(@ticket.reservation_dates)
- if @ticket.reservation_details['start_minute'].present? && @ticket.reservation_details['end_minute'].present?
  - @hourly_presenter = HourlyPresenter.new(@ticket.reservation_dates.first, @ticket.reservation_details['start_minute'].to_i, @ticket.reservation_details['end_minute'].to_i)

= show_manage_navigation(:rfq)

.row-fluid.support.detail.rfq
  .span8.offset2
    %h1
      - if @ticket.target.free?
        ="#{t('reservations.rfq_short')} ##{@ticket.id}: "
      - else
        ="#{t('reservations.offer')} ##{@ticket.id}: "
      = link_to @ticket.target.name, @ticket.show_target_path

    - span_class2 = 'span10'
    - span_class3 = 'span2'
    -# hack with false - we need it for NuclearLink, which does not use dates
    - if @ticket.reservation_dates.any? && false
      - span_class1 = 'span3'
      - span_class2 = 'span3'
      - span_class3 = 'span1 offset1'

    .box
      .row-fluid.rfq-header
        - if @ticket.reservation_dates.any? && false
          .header-wrapper{class: span_class1}
            .rfq-header-label
              Total days
            .rfq-header-data
              .total_days
                = @date_presenter.days_in_words
        - if @ticket.reservation_dates.any? && false
          .header-wrapper{class: 'span4'}
            .rfq-header-label
              Dates
            .rfq-header-data
              .dates
                - if @hourly_presenter.present?
                  = @hourly_presenter.hourly_summary(true, separator: '<br/>')
                - else
                  - @ticket.reservation_dates[0..2].each do |date|
                    %div= @date_presenter.period_to_string(date)
                  - if @ticket.reservation_dates.count > 3
                    %a#toggle-more-reservations{href: ''} See all
                    #more-reservations
                      - @ticket.reservation_dates[3..@ticket.reservation_dates.size-1].each do |date|
                        %div= @date_presenter.period_to_string(date)
                      %a#toggle-less-reservations{href: ''} See less
        .header-wrapper{class: span_class2}
          .rfq-header-label
            Quantity
          .rfq-header-data
            .quantity
              = @ticket.reservation_details['quantity']
        .header-wrapper.status-wrapper{class: span_class3}
          .rfq-header-label
            Status
          .rfq-header-data
            .status{class: "#{@ticket.state}"}
              =@ticket.state.titleize

      %h3.messages Messages
      = render partial: 'support/ticket_messages/ticket_message', collection: @ticket.messages, spacer_template: 'support/ticket_messages/spacer'

      - if @ticket.open?
        = render partial: 'support/ticket_messages/form', locals: { ticket: @ticket, message: @message, with_close: true, form_url: manage_support_ticket_ticket_messages_path(@ticket, @message) }

= content_for :script do
  :javascript
    $('#toggle-more-reservations').click(function(e){
      e.preventDefault()
      $('#more-reservations').hide();
      $('#toggle-more-reservations').hide()
    });

    $('#toggle-less-reservations').click(function(e){
      e.preventDefault()
      $('#more-reservations').show();
      $('#toggle-more-reservations').show()
    });
    new Support.TicketMessageController($('.message-form').eq(0))
