- title "Request for Quote"
- @ticket = @ticket.decorate
- @date_presenter = DatePresenter.new(@ticket.reservation_dates)
- if @ticket.reservation_details['start_minute'].present? && @ticket.reservation_details['end_minute'].present?
  - @hourly_presenter = HourlyPresenter.new(@ticket.reservation_dates.first, @ticket.reservation_details['start_minute'].to_i, @ticket.reservation_details['end_minute'].to_i)

= show_manage_navigation(:rfq)


.row-fluid.support.detail.rfq
  .span8.offset2
    %h1
      - if @ticket.target.free?
        ="#{t('reservations.offer')} ##{@ticket.id}: "
      - else
        ="#{t('reservations.rfq')} ##{@ticket.id}: "
      = link_to @ticket.target.name, @ticket.show_target_path

    - span_class2 = 'span11'
    - span_class3 = 'span1'
    - if @ticket.reservation_dates.any?
      - span_class1 = 'span3'
      - span_class2 = 'span3'
      - span_class3 = 'span1 offset1'

    .box
      .row-fluid.rfq-header
        - if @ticket.reservation_dates.any?
          %div{class: span_class1}
            Total days
        - if @ticket.reservation_dates.any?
          %div{class: 'span4'}
            Dates
        %div{class: span_class2}
          Quantity
        %div{class: span_class3}
          Status
      .row-fluid.rfq-header-data
        - if @ticket.reservation_dates.any?
          .total_days{class: span_class1}
            = @date_presenter.days_in_words
        - if @ticket.reservation_dates.any?
          .dates{class: 'span4'}
            - if @hourly_presenter.present?
              = @hourly_presenter.hourly_summary(true, separator: '<br/>')
            - else
              - @ticket.reservation_dates[0..2].each do |date|
                %div= @date_presenter.period_to_string(date)
              - if @ticket.reservation_dates.count > 3
                %a#toggle-more-reservations{href: ''} See all
                #more-reservations
                  - @ticket.reservation_dates[3..@ticket.reservation_dates.size-1].each do |date|
                    %div= @date_presenter.period_to_string(date)
                    %a#toggle-less-reservations{href: ''} See less
        .quantity{class: span_class2}
          = @ticket.reservation_details['quantity']
        .status{class: "#{span_class3} #{@ticket.state}"}
          =@ticket.state.titleize

      %h3.messages Messages
      = render partial: 'support/ticket_messages/ticket_message', collection: @ticket.messages, spacer_template: 'support/ticket_messages/spacer'

      -if @ticket.open?
        .row-fluid
          .profile.span1
            .row-fluid
              = image_tag current_user.avatar.url(:medium)
          .form.span11
            = simple_form_for @message, url: support_ticket_ticket_messages_path(@ticket, @message) do |f|
              = f.input :message, as: :text, label: false, placeholder: 'Please, enter message'
              .row-fluid
                .span3.offset9
                  = f.submit 'Send', class: 'btn btn-green'

= content_for :script do
  :javascript
    $('#toggle-more-reservations').click(function(e){
      e.preventDefault()
      $('#more-reservations').hide();
      $('#toggle-more-reservations').hide()
    });

    $('#toggle-less-reservations').click(function(e){
      e.preventDefault()
      $('#more-reservations').show();
      $('#toggle-more-reservations').show()
    });
