= f.input :site_name
= f.input :meta_title
= f.input :description
= f.input :tagline
= f.input :address
= f.input :support_email
= f.input :contact_email
= f.input :phone_number
= f.input :support_url
= f.input :blog_url
= f.input :gplus_url
= f.input :twitter_url
= f.input :facebook_url
= built_in_upload_input_with_label('Logo (219x28)', (f.file_field :logo_image)) do
  - if f.object.persisted?
    = built_in_fileupload_photo(f.object.logo_image_url, destroy_image_manage_theme_path(f.object, :name => 'logo_image'), [219, 28])

= built_in_upload_input_with_label('Logo (Retina) (219x28)', (f.file_field :logo_retina_image)) do
  - if f.object.persisted?
    = built_in_fileupload_photo(f.object.logo_retina_image_url, destroy_image_manage_theme_path(f.object, :name => 'logo_retina_image'), [219, 28])

= built_in_upload_input_with_label('Icon (50x50)', (f.file_field :icon_image)) do
  - if f.object.persisted?
    = built_in_fileupload_photo(f.object.icon_image_url, destroy_image_manage_theme_path(f.object, :name => 'icon_image'), [50, 50])

= built_in_upload_input_with_label('Icon (Retina) (50x50)', (f.file_field :icon_retina_image)) do
  - if f.object.persisted?
    = built_in_fileupload_photo(f.object.icon_retina_image_url, destroy_image_manage_theme_path(f.object, :name => 'icon_retina_image'), [50, 50])

= built_in_upload_input_with_label('Hero Image', (f.file_field :hero_image)) do
  - if f.object.persisted?
    = built_in_fileupload_photo(f.object.hero_image_url, destroy_image_manage_theme_path(f.object, :name => 'hero_image'), [144, 89])

- Theme::COLORS.each_with_index do |color, index|
  = f.input "color_#{color}", :label => color.humanize do 
    = f.text_field "color_#{color}",{ :type => :color, :value => f.object.send("color_#{color}").presence || Theme::COLORS_DEFAULT_VALUES[index], 'data-default' => Theme::COLORS_DEFAULT_VALUES[index], 'data-color' => color}
    = link_to "default", '', 'data-reset' => color
