%header.dialog__header
  %h2#dialog__title= t('data_upload.manage.bulk_upload')

= dashboard_simple_form_for @data_upload, url: {action: :create}, html: { multipart: true } do |f|
  .dialog__body

    %p= t('data_upload.manage.new.external_id_hint')

    %p
      - csv_link = link_to t('data_upload.manage.download_csv_template'), {action: :download_csv_template, importable: @importable}
      = t('data_upload.manage.format_info_html', link: csv_link)

    %p
      = t('data_upload.manage.download_current_data_hint')
      = link_to t('data_upload.manage.download_current_data'), {action: :download_current_data_csv}

    %p
      = t('data_upload.manage.new.sync_mode_hint_html')

    = f.simple_fields_for :options, OpenStruct.new(@data_upload.options) do |option|
      = option.input :sync_mode, required: false, as: :boolean, label: t('data_upload.manage.new.sync_mode')
      = option.input :enable_rfq, required: false, as: :boolean, label: t('data_upload.manage.new.enable_rfq')
      - if ShippingProfile.global.any?
        = option.input :default_shipping_category_id, required: true, include_blank: false, as: :select, collection: ShippingProfile.global.map { |c| [c.name, c.id] }, label: t('data_upload.manage.new.default_shipping_category_id')

    = f.input :csv_file, as: :file

  .dialog__actions
    = f.submit t('data_upload.manage.import')
