.modal-header
  .modal-title= "Add New Admin to #{@company.name}"
.modal-body
  = simple_form_for([:dashboard, :company, @user], data: { modal: true } ) do |f|
    .errors
      = render 'shared/bootstrap_flash_messages'
    .email-holder.input-icon-holder
      = f.input :email, :placeholder => "Enter Users's Email", :input_html => { :tabindex => '2' }
    .btn-toolbar
      = f.submit 'Add Admin', id: 'submit-link', class: "btn blue pull-right"
