%h4
  #{type.camelize}
  Amenity Types
%table.table.table-condensed{id: "#{type}-amenity-types"}
  = f.fields_for "#{type}_amenity_types".to_sym, wrapper: false  do |f_at|
    %tr.fields
      %td
        .content-container
          .row.dropshadow
            .input-container.col-xs-12
              %h4
                #{type.camelize}
                Amenity Type
              = f_at.input :name, label: false, placeholder: 'Enter location amenity type', input_html: { class: 'form-control' }
              .pull-right
                - if f_at.object.send(type.pluralize).count == 0
                  = f_at.link_to_remove "Delete"
        .content-container
          .row.dropshadow
            .input-container.col-xs-12
              %h4 Amenities
              %table.table.amenities{id: "#{type}-amenities-#{f_at.object.id}", width: '100%'}
                = f_at.fields_for :amenities, wrapper: false do |fa|
                  %tr.fields
                    %td
                      = fa.input :name, label: false, placeholder: 'Enter location amenity', input_html: { class: 'form-control' }
                    - if fa.object.send(type.pluralize).count == 0
                      %td.pull-right= fa.link_to_remove "Delete"
                    - else
                      %td.pull-right= "(in use by #{fa.object.send(type.pluralize).count} locations)"
              %p.pull-right= f_at.link_to_add "Add amenity", :amenities, :model_object => Amenity.new, :data => { :target => "##{type}-amenities-#{f_at.object.id}" }
%p.pull-right
  = f.button :submit, 'Save', class: 'btn btn-green'
%p.pull-right
  = f.link_to_add "Add #{type} amenity type", "#{type}_amenity_types".to_sym, :model_object => "#{type}_amenity_type".classify.constantize.build_with_amenity, :data => { :target => "##{type}-amenity-types" }, class: 'btn btn-grey'
