.content-container
  %h4
    #{type.camelize}
    #{t('amenities_attribute')} #{t('instance_admin.settings.locations.types')}
  %table.table.table-condensed{id: "#{type}-amenity-types"}
    = f.fields_for "#{type}_amenity_types".to_sym, wrapper: false  do |f_at|
      %tr.fields
        %td
          %h4
            #{type.camelize}
            #{t('amenities_attribute')} #{t('instance_admin.settings.locations.types')}
          .row
            .input-container.col-xs-12
              = f_at.input :name, label: false, input_html: { class: 'form-control' }
              .pull-right
                - if f_at.object.send(type.pluralize).count == 0
                  = f_at.link_to_remove t('instance_admin.settings.locations.delete')
          .row
            %h4= t('amenities_attribute')
            .input-container.col-xs-12
              %table.table.amenities{id: "#{type}-amenities-#{f_at.object.id}", width: '100%'}
                = f_at.fields_for :amenities, wrapper: false do |fa|
                  %tr.fields
                    %td
                      = fa.input :name, label: false, input_html: { class: 'form-control' }
                    - if fa.object.send(type.pluralize).count == 0
                      %td.pull-right= fa.link_to_remove t('instance_admin.settings.locations.delete')
                    - else
                      %td.pull-right= "(#{t('instance_admin.settings.locations.in_use_by')} #{fa.object.send(type.pluralize).count} #{t('instance_admin.settings.locations.locations')})"
              %p.pull-right= f_at.link_to_add "#{t('instance_admin.settings.locations.add')} #{t('amenity_attribute')}", :amenities, :model_object => Amenity.new, :data => { :target => "##{type}-amenities-#{f_at.object.id}" }

  .row
    .input-container.col-xs-12
      %p.pull-right
        = f.button :submit, t('instance_admin.save'), class: 'btn btn-blue'
      %p.pull-right
        = f.link_to_add "#{t('instance_admin.settings.locations.add')} #{type} #{t('amenity_attribute')} type", "#{type}_amenity_types".to_sym, :model_object => "#{type}_amenity_type".classify.constantize.build_with_amenity, :data => { :target => "##{type}-amenity-types" }, class: 'btn btn-light'
