- if only_inputs.empty? || Category.users.roots.map { |c| "Category - #{c.name}".to_sym }.include?(only_inputs.first)
  - category_name = only_inputs.first.to_s.split(" - ")[1]
  - category = Category.users.roots.where(name: category_name).first
  - if f.object.is_a?(BaseForm)
    = f.simple_fields_for :profiles do |profiles_form|
      = profiles_form.simple_fields_for :default do |default_profile_form|
        = default_profile_form.simple_fields_for :categories do |categories_form|
          = render partial: 'dashboard/shared/fields/category', locals: { category: category, f: categories_form }
  - else
    = f.simple_fields_for :default_profile do |default_profile_form|
      = render partial: 'dashboard/shared/fields/category', locals: { category: category, f: default_profile_form }
