- if only_inputs.empty? || only_inputs.include?(:mobile_phone)
  %div{'data-phone-fields-container' => true}
    = f.input :country_name, :as => :select, :collection => user_country_name_options, :selected => user_country_default(f.object.try(:country_name) || @country), input_html: { 'data-country-selector' => true, class: 'selectpicker', "data-live-search" => "true", autocomplete: false }, include_blank: true

    - calling_code = '&nbsp;'
    - calling_code = "+#{f.object.model.country.calling_code}" if f.object.respond_to?(:model) && f.object.model.country
    - calling_code = "+#{f.object.country.calling_code}" if !f.object.respond_to?(:model) && f.object.country

    = f.input :mobile_number, as: :tel, input_html: { data: { 'mobile-number': true }}, prefix: calling_code

    - if HiddenUiControls.find('registrations/click_to_call').visible?
      = build_click_to_call_verify_button(f.object.mobile_number, f.object.try(:model).try(:country).try(:name) || f.object.try(:country).try(:name))
      - if I18n.exists?('simple_form.hints.user.verify_number')
        %button{type: "button", class: "hint-toggler", title: "", data: { toggle: "tooltip", placement: "right", original_title: t('simple_form.hints.user.verify_number') } }
