= f.simple_fields_for :default_profile do |default_profile_form|
  - (default_profile_form.object.instance_profile_type.try(:custom_attributes) || []).each do |ca|
    - next unless only_inputs.empty? || only_inputs.include?(ca.name.to_sym)
    - if ca.uploadable?
      = default_profile_form.simple_fields_for :custom_images, default_profile_form.object.custom_images.where(custom_attribute_id: ca.id).first_or_initialize  do |custom_images_form|
        = custom_images_form.hidden_field :id, value: custom_images_form.object.id
        = custom_images_form.hidden_field :custom_attribute_id, value: ca.id
        = custom_images_form.input :image, as: :image, label: ca.label

    - else
      = default_profile_form.simple_fields_for :properties, default_profile_form.object.properties do |properties_form|
        = draw_attribute_for_form(ca, properties_form)
