.hero-unit
  %h1 Welcome to the Admin

- @funnels.each do |funnel|

  %h2 #{funnel.name} #{funnel.dates}
  %p.clearfix 
    - if funnel.data_loaded?
      %canvas{id: funnel.dom_id}
      :javascript
        new ChartWrapper.Bar(
          $('##{funnel.dom_id}'), 
          #{funnel.chart_values}, 
          #{funnel.chart_labels}, 
          #{funnel.chart_legend})
    - else
      No data
