%tr
  %td
    %span.label{:class => "label-#{admin_reservation_state_label_class(resource)}"}
      = resource.state
  %td
    - if resource.owner
      %div= link_to resource.owner.name, global_admin_user_url(resource.owner)
      %small= resource.owner.email
  %td
    - # Some conditionals here to handle legacy/old records which are invalid.
    - if resource.transactable
      %div= resource.transactable.name

      - if resource.company
        %div
          %small= resource.company.name

      - if resource.location
        %div
          %small= resource.location.address

      - if resource.creator
        %div
          %small= link_to resource.creator.name, global_admin_user_url(resource.creator)

  %td= resource.quantity
  %td= resource.created_at
  %td= resource.periods.count
  %td= resource.total_amount
  %td= link_to "Show details", global_admin_reservation_url(resource), :class => 'btn'

