- title t('reservations.rfq_long')

- content_for :page_header do
  %h1= yield :title

- tabs = []
- actions = ['open', 'resolved', 'all']
- actions.each_with_index do |action, i|
  - tabs.push({ name: t("reservations.filters.#{action}"), url: url_for(:filter => action), active: @filter == action })

= dashboard_panel_multi_tabs(tabs)

.panel
  .panel-body
    - if @tickets.empty?
      %p.empty-resultset
        = t('reservations.no_tickets')
    - else
      .table-responsive
        %table.table
          %thead
            %tr
              %th= t('reservations.tickets.ticket_no')
              %th.hidden-xs= t('reservations.tickets.details')
              %th.hidden-xs= t('reservations.tickets.target')
              %th.hidden-xs= t('reservations.tickets.last_updated')
              %th= t('reservations.tickets.status')
          %tbody
            = render partial: 'dashboard/user_requests_for_quotes/ticket', collection: @tickets

= will_paginate_dashboard @tickets
