- title t('reservations.rfq_long')

.dash-page
  .dash-head.clearfix
    - if @ticket.target.present?
      - if @ticket.target.action_free_booking?
        %p="#{t('reservations.rfq_short')} ##{@ticket.id}: "
      - else
        %p="#{t('reservations.offer')} ##{@ticket.id}: "
      - if @ticket.reservation_details && @ticket.reservation_details['quantity'].present?
        %p
          Quantity: #{@ticket.reservation_details['quantity']}
      - if @ticket.target.try(:schedule_booking?) && @ticket.reservation_date.present?
        = "x #{I18n.l(@ticket.reservation_date, format: :long)}"
      - elsif @ticket.reservation_dates.any?
        - if @ticket.reservation_details['start_minute'].present? && @ticket.reservation_details['end_minute'].present?
          - @hourly_presenter = HourlyPresenter.new(@ticket.reservation_dates.first, @ticket.reservation_details['start_minute'].to_i, @ticket.reservation_details['end_minute'].to_i)
          = " x #{I18n.l(@ticket.reservation_dates.first, format: :long)} #{@hourly_presenter.hours} #{'hour'.pluralize(@hourly_presenter.hours.to_i)}"
        - else
          - @date_presenter = DatePresenter.new(@ticket.reservation_dates)
          = " x #{@date_presenter.days_in_words}"
      = link_to @ticket.target.name, @ticket.show_target_path
    - else
      Deleted
    %p.pull-right
      Status:
      %span{class: "#{@ticket.state}"}= @ticket.state.titleize

  .dash-body.thread

    = render partial: 'dashboard/company/support/tickets/ticket_message', collection: @ticket.messages, spacer_template: 'dashboard/company/support/tickets/spacer'

    - if @ticket.open?
      = render partial: 'dashboard/company/support/tickets/form', locals: { ticket: @ticket, message: @message, with_close: false, form_url: support_ticket_ticket_messages_path(@ticket) }

= content_for :script do
  :javascript
    jQuery.timeago.settings.strings.minutes = "%d min"
    jQuery.timeago.settings.strings.minute = jQuery.timeago.settings.strings.minutes
    jQuery.timeago.settings.strings.seconds = jQuery.timeago.settings.strings.seconds;
    jQuery.timeago.settings.strings.hours = "about %d h"
    jQuery.timeago.settings.strings.hours = jQuery.timeago.settings.strings.hours
