%h1= resource_class.name.underscore.humanize.pluralize

%ul.nav.nav-pills
  %li{:class => ('active' if params[:scope] == 'upcoming')}
    = link_to "Upcoming Reservations", admin_reservations_url(:scope => 'upcoming')
  %li{:class => ('active' if params[:scope] == 'past')}
    = link_to "Past Reservations", admin_reservations_url(:scope => 'past')

= render 'list_table'

= will_paginate collection

