.content-container
  %h4= t('instance_admin.manage.wishlists.wishlists')

  = simple_form_for @instance, url: instance_admin_manage_wish_lists_path, method: :put, html: { multipart: true } do |f|
    .row
      .input-container.col-xs-6
        = f.input :wish_lists_enabled, inline_label: true

      .input-container.col-xs-3
        .input-col-clearfix
          = f.input :wish_lists_icon_set, collection: wish_lists_icon_sets, include_blank: false,
            input_html: { class: 'form-control' }

      .input-container.col-xs-3
        .icon-set
          - wish_lists_icon_sets.each do |icon_set|
            - hidden = (icon_set[1] == @instance.wish_lists_icon_set) ? '' : 'js-hidden'
            %div{id: "set-#{icon_set[1]}", class: "#{hidden}"}
              = wish_lists_icon_set_image(icon_set[1])

    .row
      .input-container.col-xs-12
        - name = Translation.defaults_for(:en).create_with(value: t('wish_lists.name'), locale: :en).find_or_create_by(key: 'wish_lists.name')
        = render 'translation_row', translation: name, index: 0, title: t('instance_admin.wish_lists.labels.name')

    .row
      .input-container.col-xs-12
        - unselected = Translation.defaults_for(:en).create_with(value: t('wish_lists.buttons.unselected_state'), locale: :en).find_or_create_by(key: 'wish_lists.buttons.unselected_state')
        = render 'translation_row', translation: unselected, index: 1,
            title: t('instance_admin.wish_lists.labels.unselected_state')

    .row
      .input-container.col-xs-12
        - selected = Translation.defaults_for(:en).create_with(value: t('wish_lists.buttons.selected_state'), locale: :en).find_or_create_by(key: 'wish_lists.buttons.selected_state')
        = render 'translation_row', translation: selected, index: 2,
            title: t('instance_admin.wish_lists.labels.selected_state')

    = content_for :header_buttons do
      = f.button :submit, 'Save', class: 'btn btn-blue pull-right', data: { 'submit-form' => 1, 'form-selector' => 'form' }

