%h4 Wishlist

= simple_form_for @instance, url: instance_admin_manage_wish_lists_path, method: :put, html: { multipart: true } do |f|
  .content-container.dropshadow
    .row
      .input-container.col-xs-6
        = f.input :wish_lists_enabled

      .input-container.col-xs-3
        .input-col-clearfix
          = f.input :wish_lists_icon_set, collection: wish_lists_icon_sets, include_blank: false,
            input_html: { class: 'form-control' }

      .input-container.col-xs-3
        .icon-set
          - wish_lists_icon_sets.each do |icon_set|
            - hidden = (icon_set[1] == @instance.wish_lists_icon_set) ? ' ': 'display: none;'
            %div{id: "set-#{icon_set[1]}", style: "#{hidden}"}
              = wish_lists_icon_set_image(icon_set[1])

    .row
      .input-container.col-xs-12
        - name = Translation.defaults_for(:en).find_by(key: 'wish_lists.name')
        = render 'translation_row', translation: name, index: 0, title: t('instance_admin.wish_lists.labels.name')

    .row
      .input-container.col-xs-12
        - unselected = Translation.defaults_for(:en).find_by(key: 'wish_lists.buttons.unselected_state')
        = render 'translation_row', translation: unselected, index: 1,
            title: t('instance_admin.wish_lists.labels.unselected_state')

    .row
      .input-container.col-xs-12
        - selected = Translation.defaults_for(:en).find_by(key: 'wish_lists.buttons.selected_state')
        = render 'translation_row', translation: selected, index: 2,
            title: t('instance_admin.wish_lists.labels.selected_state')

  .content-container
    .row
      = f.button :submit, 'Save', class: 'btn btn-green pull-right'

