= simple_form_for [:instance_admin, :manage, @confidential_file] do |f|
  %legend
    = link_to 'Manage confidential files', instance_admin_manage_confidential_files_path

  %fieldset
    = f.input :caption, :placeholder => 'Subject'
    = f.input :comment
    = f.collection_select :state_event, @confidential_file.state_transitions, :event, :human_to_name, :include_blank => @confidential_file.human_state_name
    = f.button :submit, 'Save', class: 'btn btn-green pull-right'
    = link_to 'Cancel', instance_admin_manage_confidential_files_url , class: 'pull-right'

