.row-fluid.reservation-wizard
  .span8.offset2
    = render 'header', offer: @offer

    .box
      = simple_form_for @user, :url => [@offer, @bid], :method => :post, :html => {:class => "payment form-horizontal", multipart: true} do |user|
        = simple_form_for @bid, :url => [@offer, @bid] do |bid_form|
          = bid_form.simple_fields_for :properties, bid_form.object.properties do |properties_form|
            - if @bid.reservation_type
              - custom_attribute_names = @bid.reservation_type.custom_attributes.collect { |custom_attribute| custom_attribute.name }
              - @bid.reservation_type.form_components.each_with_index do |form_component, index|
                - form_component.form_fields.each do |form_field|

                  - model = form_field.keys.first
                  - field = form_field[model]
                  - if model == 'user'
                    = render :partial => 'registrations/attributes', :locals => { f: user, only_inputs: [field.to_sym], country: @country}
                  - if model == 'buyer'
                    = user.simple_fields_for :buyer_profile, @user.buyer_profile || @user.build_buyer_profile(instance_profile_type: current_instance.buyer_profile_type) do |buyer_profile_form|
                      = buyer_profile_form.simple_fields_for :properties, @user.buyer_profile.properties do |buyer_properties_form|
                        = render 'buyers/buyer_form', f: buyer_profile_form, properties_form: buyer_properties_form, only_inputs: [ field.to_sym ]
                  - if model == 'reservation'
                    - if custom_attribute_names.include?(field)
                      = draw_attribute_for_form(@bid.reservation_type.custom_attributes.find_by(name: field), properties_form)
                    -elsif bid_form.object.attributes.include?(field)
                      = bid_form.input field
          = render 'documents', :f => bid_form

          = user.button :submit, t('reservations_review.buttons.request'), class: 'btn-green', data: { disable_with: t('reservations_review.disabled_buttons.request') }
- content_for :domready do
  new PaymentController($('.reservation-wizard'))

- content_for :script do
  :javascript
    $(function() {
      new PhoneNumbers.FieldsForm(
        $('form.payment')
      );
      window.sessioncamConfiguration.customDataObjects.push( { key: "event", value: "booking_modal_opened" } );
    });
