- no_footer!
- no_navbar!

- content_for :hero do
  .container-fluid
    .row-fluid
      #marketplace-brand.span8.offset2.text-center
        - if PlatformContext.current.theme.logo_image.present?
          = image_tag(PlatformContext.current.theme.logo_image.url, width: '224')
        - else
          = image_tag('instance_admin/logo.svg', width: '224',  height: '50')

    .row-fluid
      #marketplace-password.span8.offset2
        .row-fluid
          %h1 This marketplace is currently password-protected.
        = form_tag url_for(controller: 'marketplace_sessions', action: 'create'), {method: 'POST'} do |f|
          .row-fluid
            .span7.offset1
              = password_field_tag :password, '', class: 'password', placeholder: 'Password'
            .span3
              = submit_tag 'Submit', class: 'btn btn-blue'
