.content-container
  .row
    .table-container.col-xs-12
      %table.table
        %tbody
          %tr
            %th File name
            %th Type
            %th

          - @custom_theme_assets.each do |custom_theme_asset|
            %tr
              %td= link_to custom_theme_asset.name, custom_theme_asset.file.url, target: '_blank'
              %td= custom_theme_asset.asset_type.humanize
              %td
                .pull-right{style: 'margin-left: 10px'}
                  = link_to t('instance_admin.destroy'), instance_admin_custom_templates_custom_theme_custom_theme_asset_path(@custom_theme, custom_theme_asset), method: :delete,
                      data: { confirm: 'Are you sure?' }
                .pull-right{style: 'margin-left: 10px'}
                  = link_to t('instance_admin.edit'), edit_instance_admin_custom_templates_custom_theme_custom_theme_asset_path(@custom_theme, custom_theme_asset)

= content_for :header_buttons do
  = link_to t('instance_admin.custom_theme_assets.add_custom_theme_asset'), new_instance_admin_custom_templates_custom_theme_custom_theme_asset_path(@custom_theme), class: 'pull-right btn btn-blue'

