.row
  .input-container.col-xs-12
    = label_tag :certificate_body
    = text_area_tag :certificate_body, '', class: 'form-control'
.row
  .input-container.col-xs-12
    = label_tag :private_key
    = text_area_tag :private_key, '', class: 'form-control'
.row
  .input-container.col-xs-12
    = label_tag :certificate_chain
    = text_area_tag :certificate_chain, '', class: 'form-control'
