.modal-header
  .modal-title= "Send a message to #{@user_message.recipient_name}"
.modal-body
  = simple_form_for @user_message, url: @user_message.create_path, data: { modal: true } do |f|
    .errors
    = f.input :body
    .btn-toolbar
      = f.submit "Send", class: "btn btn-green pull-right"
