- thread_context = user_message.thread_context
- author = user_message.author_with_deleted

.message{ class: user_message.css_class(current_user) }
  - if author && !author.deleted?
    %figure.avatar= image_tag(author.avatar.url(:thumb))
  - else
    %figure.avatar= image_tag('dashboard/avatar/deleted.png')

  %header
    %span.author
      - if author
        - if author.deleted?
          = t('user_messages.author_deleted', author: author.first_name)
        - else
          = author.first_name

    %span.date
      %time{datetime: user_message.created_at}= distance_of_time_in_words_or_date_in_time_zone(user_message.created_at, current_user.time_zone)


  .body
    = nl2br(h(user_message.body))

  %footer
    %span.attachment
      - user_message.attachments.each do |attachment|
        = link_to attachment[:file], attachment.file.url, download: attachment[:file]
