- author = user_message.author_with_deleted

.message{ class: user_message.css_class(current_user) }
  .row
    .col-md-1
      .circular-image=image_tag(author.avatar.url(:thumb)) unless author.deleted?
    .col-md-11.content
      %p.message-title
        - if author.deleted?
          = "#{author.first_name} (Deleted)"
        - else
          = link_to author.first_name, profile_path(author.slug)
          %span= distance_of_time_in_words_or_date_in_time_zone(user_message.created_at, current_user.time_zone)
      %p= nl2br(user_message.body)
