- thread_context = user_message.thread_context
- author = user_message.author_with_deleted
- message_with_user = user_message.the_other_user(current_user)

.message{ class: user_message.css_class(current_user) }
  = link_to user_message.show_path do
    .avatar
      = image_tag(message_with_user.avatar.url(:thumb)) if message_with_user && !message_with_user.deleted?
    .author
      - if message_with_user
        - if message_with_user.deleted?
          = t('user_messages.author_deleted', author: message_with_user.first_name)
        - else
          = message_with_user.first_name
    .summary
      = truncate(user_message.body, length: 60)

    .date
      %time{datetime: user_message.created_at}= distance_of_time_in_words_or_date_in_time_zone(user_message.created_at, current_user.time_zone)

    .actions
      - if user_message.unread_for? current_user
        %span.fa.fa-circle{title: 'Unread'}

      %span.fa.fa-chevron-right
