- title t('user_messages.title')
- user_message = @user_message.decorate

- content_for :page_header do
  %h1
    = link_to t('user_messages.title'), dashboard_user_messages_path
    >
    = link_to(user_message.thread_recipient.first_name, user_message.thread_recipient)


.inbox-thread
  - @user_messages.reverse.each do |user_message|
    = render "user_message_for_show", user_message: user_message

- if @displayed_user_message.available_for_reply?
  .panel
    .panel-body
      %div{ "data-messages-form": true }
        = render "dashboard_form"
- else
  %p.thread-locked= t('user_messages.thread_locked')

.form-actions
  - if (detect = @user_messages.detect(&:persisted?)) && !user_message.archived_for?(current_user)
    = link_to t('user_messages.archive_html'), detect.archive_path, method: :put

- if request.xhr?
  :javascript
    $(document).trigger('init:user_messages.nearme');
