<article>

  <div>
    <a href='{{ user.profile_path }}'>{{ user.name }}</a>
  </div>

  <div style='width:200px'>
    <img src="{{ user.avatar_url_big }}" title="{{ user.name }}" alt="{{ user.name }}" />
  </div>

  <div>Hourly rate: {{ user.buyer_properties.hourly_rate }}</div>
  <div>Discounts available: {{ user.buyer_properties.discounts_available }}</div>

  <a data-modal="true" data-href='{{ user.user_message_path }}'>Send message</a>
  {{ user.click_to_call_button }}
  <a href='#'>Invite to project</a>
  {% include 'shared/components/wish_list_button_injection.html', object: user %}

  {% if user.has_active_blog? %}
    <a href='{{ user.user_blog_posts_list_path }}'>Blog</a>
  {% endif %}

  {% assign category = user.buyer_categories['Area Of Expertise'] %}
  <h2>{{ category.name }}</h2>
  <ul>
    {% for expertise in category.children %}
    <li> {{ expertise }}</li>
    {% endfor %}
  </ul>

  {% assign category = user.buyer_categories['Industry'] %}
  <h2>{{ category.name }}</h2>
  <ul>
    {% for industry in category.children %}
    <li> {{ industry }}</li>
    {% endfor %}
  </ul>

  {% assign category = user.buyer_categories['Languages'] %}
  <h2>{{ category.name }}</h2>
  <ul>
    {% for language in category.children %}
    <li> {{ language }}</li>
    {% endfor %}
  </ul>

  <h2>Bio</h2>
  <h1>{{ user.buyer_properties.bio }}</h1>

</article>
