<div class="content-container reports">
{% include 'instance_admin/manage/orders/filters.html.haml' %}
<div class="row">
  <div class="table-container col-xs-12">
    <table class="table table-striped sortable">
      <thead>
        <tr>
          <th>{{ 'instance_admin.manage.orders.number' | translate }}</th>
          <th>{{ 'instance_admin.manage.orders.listing' | translate }}</th>
          <th>{{ 'instance_admin.manage.orders.user' | translate }}</th>
          <th>{{ 'instance_admin.manage.orders.payment' | translate }}</th>
          <th>{{ 'instance_admin.manage.orders.state' | translate }}</th>
          <th>{{ 'instance_admin.manage.orders.created_at' | translate }}</th>
          <th><b>{{ 'instance_admin.manage.orders.order_amount' | translate }}</b></th>
          <th>{{ 'instance_admin.manage.orders.details' | translate }}</th>
        </tr>
      </thead>
      {% for order in @orders %}
        <tr>
          <td>{{ order.number }}</td>
          <td><a href="{{ order.transactable.show_path }}">{{ order.transactable.name}}</a></td>
          <td>{{ order.user.name }}</td>
          <td>
            {% if order.payment.id %}
              <a href="{{ 'instance_admin_manage_payment_path' | generate_url: order.payment.id }}">Payment</a>
            {% else %}
              none
            {% endif %}
          </td>
          <td>{{ order.state }}</td>
          <td>{{ order.created_at | localize }}</td>
          <td><b>{{ order.total_amount_money | render_money }}</b></td>
          <td><a href="{{ 'instance_admin_manage_order_path' | generate_url: order.id }}">Details</a></td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
</div>
<div class="row">
  <div class="text-container">
    <div class="pull-right">
      {% will_paginate collection: @orders %}
    </div>
  </div>
</div>
