.content-container
  .row
    %p
      %b Order Details:
    .table-container.col-xs-12
      %table.table.table-striped.sortable
        %tr
          %td= t('instance_admin.manage.orders.id' )
          %td= @order.id
        %tr
          %td= t('instance_admin.manage.orders.listing' )
          %td= link_to @order.transactable.try(:name), @order.transactable.decorate.show_path
        %tr
          %td= t('instance_admin.manage.orders.state' )
          %td= @order.state.capitalize

.content-container
  - if @order.has_order_items?
    - if @order.subscription? && @order.payment_subscription.try(:test_mode?)
      .row
        .col-xs-8
          Next charge date is #{@order.next_charge_date}
        .col-xs-4
          = link_to "Generate next period now", generate_next_period_instance_admin_manage_order_path(@order), method: :post, class: 'btn btn-light', data: {confirm: " Are you sure you want to generate next period?"}

    %h4 Order items:
    .row
      .table-container.col-xs-12
        %table.table
          %thead
            %tr
              %th= t('instance_admin.manage.periods.id')
              %th= t('instance_admin.manage.periods.payment')
              %th= t('instance_admin.manage.periods.paid_at')
              %th= t('instance_admin.manage.periods.created_at')
              %th= t('instance_admin.manage.periods.currency')
              %th
                %b= t('instance_admin.manage.periods.total_amount')

            - @order.order_items.each do |order_item|
              %tr
                %td= order_item.id
                %td
                  - if order_item.payment
                    = link_to 'payment', instance_admin_manage_payment_path(order_item.payment)
                  - else
                    none
                %td= order_item.paid_at ? l(order_item.paid_at, format: :long) : 'Not paid'
                %td= l(order_item.created_at, format: :long)
                %td= order_item.currency
                %td
                  %b= render_money(order_item.total_amount)
  - elsif (item = @order.transactable_line_items.first).present?
    %h4 Items
    .row
      .table-container.col-xs-12
        %table.table
          %th= t 'buy_sell_market.checkout.labels.item'
          - unless item.included_tax_total_rate.zero?
            %th= t 'buy_sell_market.checkout.labels.net'
            %th= t 'buy_sell_market.checkout.labels.tax'
          %th= t 'buy_sell_market.checkout.labels.price'
          - unless item.additional_tax_total_rate.zero?
            %th= t 'buy_sell_market.checkout.labels.tax'
            %th= t 'buy_sell_market.checkout.labels.gross'
          %th= t 'buy_sell_market.checkout.labels.qty'
          %th= t 'buy_sell_market.checkout.labels.total'

          %tbody
            - @order.line_items.decorate.sort_by { |l| l.cart_position }.each do |item|
              %tr
                %td= item.name_with_link
                - unless item.included_tax_total_rate.zero?
                  %td= item.net_price
                  %td= item.included_tax_total_rate.to_s + "%"
                %td= item.unit_price
                - unless item.additional_tax_total_rate.zero?
                  %td= item.additional_tax_total_rate.to_s + "%"
                  %td= item.gross_price
                %td= item.quantity
                %td= item.total_price

    .row
      .col-sm-4.col-sm-push-8

        %table.payment-totals
          %tr
            %th.total= t 'buy_sell_market.checkout.labels.total2'
            %td.total= render_money @order.total_amount
  - else
    .row
      .text-container.col-xs-12
        = t('instance_admin.manage.orders.no_details')

