= simple_form_for instance_payment_gateway, url: create_or_update_instance_payment_gateway_instance_admin_settings_integrations_path, html: { novalidate: false } do |f|
  = f.input :payment_gateway_id, as: :hidden, input_html: { value: f.object.payment_gateway_id }
  .row
    .input-container.col-xs-6
      %h5
        = t('instance_admin.settings.integrations.payment_gateways_section.live_settings')
      = f.fields_for :live_settings do |live|
        - f.object.live_settings.each do |k, v|
          = live.input k.to_sym, as: :string, input_html: { value: v, class: 'form-control', required: false }
    .input-container.col-xs-6
      %h5
        = t('instance_admin.settings.integrations.payment_gateways_section.test_settings')
      = f.fields_for :test_settings do |test|
        - f.object.test_settings.each do |k, v|
          = test.input k.to_sym, as: :string, input_html: { value: v, class: 'form-control', required: false }
  = f.input :country, as: :hidden, input_html: { value: country.alpha2 }

  .row
    .input-container.col-xs-12
      = f.button :submit, "#{t('instance_admin.settings.integrations.payment_gateways_section.use')} #{instance_payment_gateway.name} #{t('instance_admin.settings.integrations.payment_gateways_section.for')} #{country.name}", class: 'btn btn-blue pull-right'
