= simple_form_for payment_gateway, as: :payment_gateway, url: create_or_update_payment_gateway_instance_admin_settings_integrations_path, html: { novalidate: false } do |f|
  = f.input :type, as: :hidden
  .row
    .input-container.col-xs-6
      %h5
        = t('instance_admin.settings.integrations.payment_gateways_section.live_settings')
      = f.fields_for :live_settings, OpenStruct.new(payment_gateway.live_settings) do |live|
        - f.object.class.settings.keys.each do |setting|
          = live.input setting, as: :string, input_html: { class: 'form-control', required: false }
    .input-container.col-xs-6
      %h5
        = t('instance_admin.settings.integrations.payment_gateways_section.test_settings')
      = f.fields_for :test_settings, OpenStruct.new(payment_gateway.test_settings) do |test|
        - f.object.class.settings.keys.each do |setting|
          = test.input setting, as: :string, input_html: { class: 'form-control', required: false }
  = f.input :country, as: :hidden, input_html: { value: country.alpha2 }

  .row
    .input-container.col-xs-12
      = f.button :submit, "#{t('instance_admin.settings.integrations.payment_gateways_section.use')} #{payment_gateway.name} #{t('instance_admin.settings.integrations.payment_gateways_section.for')} #{country.name}", class: 'btn btn-blue pull-right'
