%hr
.custom-attributes-settings
  .content-container
    .sub-header-nav
      = t('instance_admin.manage.search.custom_attributes.custom_attributes')
    .table-container.col-xs-12
      %table.table
        %thead
          %tr
            %th= t('instance_admin.manage.search.custom_attributes.name')
            %th= t('instance_admin.manage.search.custom_attributes.search')
        %tbody
          = f.simple_fields_for :custom_attributes do |attrib|
            %tr
              %td= attrib.object.name.humanize
              %td.custom_attribute
                = attrib.input :searchable, as: :boolean, label: false
                = attrib.input :id, as: :hidden