= simple_form_for @instance, url: instance_admin_manage_search_settings_path, method: :put, html: { multipart: true } do |f|

  - if include_select_engine
    %h4.control-label
      %b Type of search
  
    .row
      .input-container.col-xs-6
        .input-col-clearfix
          = f.input :search_engine, collection: Instance::SEARCH_ENGINES, include_blank: false, input_html: { class: 'form-control' }

    %hr
          

  %h4.control-label
    %b= search_title

  .row
    .input-container.col-xs-6
      .input-col-clearfix
        = f.input :searcher_type, collection: Instance::SEARCH_TYPES.map { |s| [s.humanize, s]}, include_blank: false, input_html: { class: 'form-control' }

    .input-container.col-xs-6
      .input-col-clearfix
        = f.input :tt_select_type, collection: %w(dropdown radio), include_blank: false, input_html: { class: 'form-control' }, label: 'Listing type UI'

  .row
    .input-container.col-xs-6
      .input-col-clearfix
        = f.input :default_search_view, collection: Instance::SEARCH_SERVICE_VIEWS, include_blank: false, input_html: { class: 'form-control' }, label: 'Service view'

    .input-container.col-xs-6
      .input-col-clearfix
        = f.input :default_products_search_view, collection: Instance::SEARCH_PRODUCTS_VIEWS, include_blank: false, input_html: { class: 'form-control' }, label: 'Products view'

  %hr
  %h4 Date pickers
  
  .row
    .input-container.col-xs-6
      .input-col-clearfix
        = f.input :date_pickers, as: :boolean, label: 'Enable date pickers', inline_label: true, hint: 'Enable date pickers'

    .input-container.col-xs-6
      .input-col-clearfix
        = f.input :date_pickers_use_availability_rules, as: :boolean, label: 'Use availability rules', inline_label: true, hint: 'Use availability rules'

  .row

    .input-container.col-xs-6
      .input-col-clearfix
        = f.input :date_pickers_mode, collection: %w(relative absolute), include_blank: false, input_html: { class: 'form-control' }, label: 'Search Mode'

  - if include_radius
    %hr
    %h4 Search Radius

    .row
      .input-container.col-xs-6
        .input-col-clearfix
          = f.input :search_radius, as: :integer, label: 'Select Radius', input_html: { class: 'form-control' }
      .input-container.col-xs-6
        .input-col-clearfix
          = f.input :search_text, as: :string, label: 'Enter Custom Search Text', placeholder: 'Please, enter your location', input_html: { class: 'form-control' }

  %h4 Category tree search
  .row
    .input-container.col-xs-6
      .input-col-clearfix
        = f.input :taxonomy_tree, as: :boolean, label: 'Enable category tree', inline_label: true
    .input-container.col-xs-6
      .input-col-clearfix
        = f.input :category_search_type, collection: %w(AND OR), include_blank: false,
            input_html: { class: 'form-control' }
  .row

  %h4 Saved Search
  .row
    .input-container.col-xs-12
      .input-col-clearfix
        = f.input :saved_search, as: :boolean, label: 'Enable saved search', inline_label: true

  %h4 Price filters

  .row
    .input-container.col-xs-6
      .input-col-clearfix
        = f.input :price_slider, as: :boolean, label: 'Enable price slider', inline_label: true

    .input-container.col-xs-6
      .input-col-clearfix
        = f.input :price_types, as: :boolean, label: 'Enable price types', inline_label: true

  = content_for :header_buttons do
    = f.button :submit, 'Save', class: 'btn btn-blue pull-right', data: { 'submit-form' => 1, 'form-selector' => 'form' }