= simple_form_for @instance, url: instance_admin_manage_search_path, method: :put, html: { multipart: true } do |f|
  .content-container
    .row
      .input-container.col-xs-3
        .input-col-clearfix
          = f.input :searcher_type, collection: Instance::SEARCH_TYPES.map { |s| [s.humanize, s]}, include_blank: false,
            input_html: { class: 'form-control' }

      .input-container.col-xs-3
        .input-col-clearfix
          = f.input :default_search_view, collection: Instance::SEARCH_SERVICE_VIEWS, include_blank: false,
          input_html: { class: 'form-control' }, label: 'Service view'

      .input-container.col-xs-3
        .input-col-clearfix
          = f.input :default_products_search_view, collection: Instance::SEARCH_PRODUCTS_VIEWS, include_blank: false,
          input_html: { class: 'form-control' }, label: 'Products view'

      .input-container.col-xs-3
        .input-col-clearfix
          = f.input :tt_select_type, collection: %w(dropdown radio), include_blank: false,
              input_html: { class: 'form-control' }, label: 'Listing type UI'

  .content-container
    %h4 Date pickers

    .row
      .input-container.col-xs-4
        .input-col-clearfix
          = f.input :date_pickers, as: :boolean, label: 'Enable date pickers', inline_label: true

      .input-container.col-xs-4
        .input-col-clearfix
          = f.input :date_pickers_use_availability_rules, as: :boolean,
              label: 'Use availability rules', inline_label: true

      .input-container.col-xs-4
        .input-col-clearfix
          = f.input :date_pickers_mode, collection: %w(relative absolute), include_blank: false,
              input_html: { class: 'form-control' }, label: 'Search Mode'

  .content-container
    %h4 Category tree search
    .row
      .input-container.col-xs-6
        .input-col-clearfix
          = f.input :taxonomy_tree, as: :boolean, label: 'Enable category tree', inline_label: true
      .input-container.col-xs-6
        .input-col-clearfix
          = f.input :category_search_type, collection: %w(AND OR), include_blank: false,
              input_html: { class: 'form-control' }
    .row

  .content-container
    %h4 Saved Search

    .row
      .input-container.col-xs-12
        .input-col-clearfix
          = f.input :saved_search, as: :boolean, label: 'Enable saved search', inline_label: true

  .content-container
    %h4 Price filters
    .row
      .input-container.col-xs-6
        .input-col-clearfix
          = f.input :price_slider, as: :boolean, label: 'Enable price slider', inline_label: true

      .input-container.col-xs-6
        .input-col-clearfix
          = f.input :price_types, as: :boolean, label: 'Enable price types', inline_label: true

  = content_for :header_buttons do
    = f.button :submit, 'Save', class: 'btn btn-blue pull-right', data: { disable_with: t('user_blog.labels.please_wait'), 'submit-form' => 1, 'form-selector' => 'form' }

