%li.listing
  .span3
    = prototype.name
  .span3
    = prototype.properties.map(&:name).join(', ')
  .span3
    = prototype.option_types.map(&:name).join(', ')
  .span2
    .links.right
      = link_to manage_buy_sell_prototype_path(prototype), :method => :delete, :confirm => 'Are you sure?', :class => "delete", style: 'padding-top: 0px;' do
        %span.ico-trash
      = link_to edit_manage_buy_sell_prototype_path(prototype), :class => "edit", style: 'padding-top: 0px;' do
        %span.icon.ico-edit
        %span.text
  .clearfix
