- title "Prototypes"

= show_manage_navigation(:products, :prototypes)

.row-fluid
  .span8.offset2
    .box
      %header
        %ul.location-and-listings
          %li.location
            .name.left
              Manage Prototypes
      %ul.location-and-listings
        %li.listing
          .right
            = link_to 'New Prototype', new_manage_buy_sell_prototype_path, class: 'btn btn-medium btn-green'
        %li.listing.action-buttons
          .span3
            = t('prototype.name')
          .span3
            = t('prototype.properties')
          .span3
            = t('prototype.option_types')
          .span2.state.text-right

          .clearfix
        = render partial: 'prototype', collection: @prototypes
      = will_paginate @prototypes

