- content_for :meta do
  %meta{:property=>"og:title", :content => @blog_post.title }
  %meta{:property=>"og:description", :content => truncate(strip_tags(@blog_post.content), length: 200)}
  %meta{:property=>"og:type", :content => "website" }
  %meta{:property=>"og:site_name", :content => platform_context.name }
  %meta{:property=>"og:url", :content => request.original_url }

- if @blog_instance.facebook_app_id.present?
  = render 'fb_comments', facebook_app_id: @blog_instance.facebook_app_id

- blog_title @blog_post.title

.blog-post-detail

  %h1= @blog_post.title

  = render 'social_buttons', blog_post: @blog_post

  .content
    :markdown
      #{@blog_post.content}

  .info.row
    .date.col-sm-5
      Published #{l(@blog_post.published_at.presence || @blog_post.created_at, format: :only_date)}

    .social.col-sm-7.clearfix
      = render 'social_buttons', blog_post: @blog_post

  .author.row
    - avatar = @blog_post.author_avatar
    - if avatar.file.present?
      .avatar.col-sm-2.hidden-xs
        .avatar-container{style: "background-image: url(#{avatar.url(:medium)});"}

    .biography{class: "col-sm-#{avatar.file.present? ? 10 : 12}"}
      %h3= @blog_post.author_name
      %p= @blog_post.author_biography

  .container-fluid
    .links.row
      - if @blog_post.previous_blog_post.present?
        .col-xs-6
          = link_to "LAST STORY", blog_post_path(@blog_post.previous_blog_post), class: 'previous-blog-post'
      - if @blog_post.next_blog_post.present?
        .col-xs-6
          = link_to "NEXT STORY", blog_post_path(@blog_post.next_blog_post), class: 'next-blog-post'

  - if @blog_instance.facebook_app_id.present?
    .fb-comments{"data-numposts" => "5", "data-colorscheme" => "light", "data-href" => blog_post_url(@blog_post)}
