%h4 Manage Attributes
.content-container
  .row
    = link_to 'Add Attribute', new_polymorphic_url([:instance_admin, :manage, @target, CustomAttributes::CustomAttribute.new]), class: 'pull-right btn btn-green'

.content-container
  .row
    .table-container.col-xs-12.dropshadow
      %table.table
        %thead
          %tr
            %th Name
            %th Public?
            %th Internal?
            %th
            %th
        %tbody
          - @custom_attributes.each do |resource|
            %tr
              %td= resource.name.humanize
              %td= resource.public
              %td= resource.internal
              %td= link_to 'Edit', edit_polymorphic_url([:instance_admin, :manage, @target, resource]), class: 'pull-right'
              - unless resource.required_internally?
                %td= link_to "Delete", polymorphic_url([:instance_admin, :manage, @target, resource]), :method => :delete, :confirm => "Are you sure you want to delete this attribute?", :class => "pull-right"

