<p>
  Your booking for '{{ listing.name }}' at {{ location.name }} ended yesterday.
</p>

<p>
  Leave a rating and maybe a comment on how this booking went by clicking the following link:
  <a href="{{ reservation.host_rating_reservation_url }}">Rate '{{ listing.name }}' visit at {{location.name }}</a>
</p>
