.content-container.reports
  %h4
    = t("instance_admin.manage.merchant_accounts")

  = form_tag '', :method => 'get', enforce_utf8: :false do
    .row
      .text-container
        .filters
          = filter_dropdown param_name: :payment_gateway_id, label: t('instance_admin.manage.admin_searchable.merchant_accounts.payment_gateways'), allow_blank: true, blank_label: t('instance_admin.manage.admin_searchable.merchant_accounts.all_payment_gateways'), all_values: @payment_gateways.each_with_object({}) { |val, obj| obj[val.id.to_s] = val.name }, width: 270

          = filter_dropdown param_name: :state, label: t('instance_admin.manage.admin_searchable.merchant_accounts.state'), allow_blank: true, blank_label: t('instance_admin.manage.admin_searchable.merchant_accounts.in_all_states'), all_values: MerchantAccount.state_machine.states.each_with_object({}) { |val, obj| obj[val.name.to_s] = val.name.capitalize.to_s }

          = filter_dropdown param_name: :mode, label: t('instance_admin.manage.admin_searchable.merchant_accounts.mode'), allow_blank: false, all_values: { 'live' => 'Live', 'test' => 'Test' }

          = filter_dropdown param_name: :per_page, label: t('instance_admin.manage.admin_searchable.per_page'), allow_blank: false, all_values: {'25' => '25', '50' => '50', '100' => '100' }

    .table-container.col-xs-12
      %table.table
        %thead
          %tr
            %th= t('instance_admin.manage.merchant_account.company')
            %th= t('instance_admin.manage.merchant_account.state')
            %th= t('instance_admin.manage.merchant_account.payment_gateway')
            %th= t('instance_admin.manage.merchant_account.created_at')
            %th= t('instance_admin.manage.merchant_account.action')
            %th= t('instance_admin.manage.merchant_account.details')

        - @merchant_accounts.each do |merchant_account|
          %tr
            %td
              - if merchant_account.company.present?
                = merchant_account.company.name
              - else
                = "(#{t('instance_admin.deleted')})"
            / %td= merchant_account.payable.user.try(:name) if merchant_account.payable
            %td= merchant_account.state.try(:capitalize)
            %td= merchant_account.payment_gateway.try(:name)
            %td= l(merchant_account.created_at, format: :long)
            %td
              - if merchant_account.verified?
                = link_to 'Void account', void_instance_admin_manage_merchant_account_path(merchant_account), data: { confirm: "Are you sure you want to void this Merchant? This acction is irreversible!"}
                %span= '| '
                = link_to 'Mark as pending', pending_instance_admin_manage_merchant_account_path(merchant_account), data: { confirm: "Are you sure you want to mark this merchant as pending?"}
              - else
                none

            %td= link_to 'Details',  instance_admin_manage_merchant_account_path(merchant_account)

.row
  .text-container
    .pull-right
      = will_paginate @merchant_accounts

