- resource = f.object

.contact-information

  - if resource.errors[:contact_info].present?
    .flash.error
      %ul
        - resource.errors[:contact_info].each do |e|
          %li= e

  .row-fluid
    .span6
      = f.label :country_name, "Country", class: 'control-label'
      .controls.country-name
        = f.input :country_name, label: false, as: :select, collection: user_country_name_options, selected: user_country_default(@country), input_html: { class: "custom-select" }

    .span6
      .mobile-number-field.column.right
        = f.label :mobile_number
        .controls
          .phone-number-country-code-field
            .country-calling-code
              = "+#{resource.country.calling_code}" if resource.country
            = f.text_field :mobile_number
    .clearfix
