- if @order && @order.confirm_reservations?
  %p.confirm-reservations
    = t('reservations.manually_confirm', lessor: @order.transactable.transactable_type.lessor)
    - if @order.payment.nonce_payment?
      = t('reservations.paypal_and_cc_charge_after_confirmation')
    - else
      = t('reservations.charge_after_confirmation')

- if @order
  %p.cancellation-info
    - action_type = @order.transactable_pricing.action
    - if !action_type.cancellation_policy_enabled || action_type.cancellation_policy_hours_for_cancellation.zero?
      = t('reservations.no_cancellation_time')
    - else
      %span.cancellation-time
        = t('reservations.cancellation_time', time: action_type.cancellation_policy_hours_for_cancellation)

    - if !action_type.cancellation_policy_enabled || (action_type.cancellation_policy_penalty_percentage.zero? && action_type.cancellation_policy_penalty_hours.zero?)
      = t('reservations.no_cancellation_fee')
    - elsif action_type.cancellation_policy_penalty_hours > 0
      = t('reservations.hours_cancellation_fee', fee: action_type.cancellation_policy_penalty_hours)
    - else
      %span.cancellation-fee
        = t('reservations.cancellation_fee', fee: action_type.cancellation_policy_penalty_percentage)
