- if f.object.listing.document_requirements.select(&:should_show_file?).present?
  %section.checkout-form.documents
    %h2= t 'reservations_review.required_documents'
    = f.simple_fields_for :payment_documents do |document|
      .row-fluid
        .span3
          %label
            - if @listing.upload_obligation.try(:required?)
              %abbr{ title: "required" } *
            = document.object.document_requirement.label
        .span9.upload{ 'data-upload' => true }
          %button{ type: 'button', class: 'btn-upload-payment-document', 'data-upload-document' => true }
            = t 'buy_sell_market.checkout.labels.choose_file'
          - if document.object.file.present?
            %span{ "data-file-name" => true }
              = document.object.file.file_name
          - else
            %span{ "data-file-name" => true }
              = t 'buy_sell_market.checkout.labels.no_file_chosen'

          %ul
            - document.object.errors[:file].each do |error|
              %li.flash.error
                = error

          = document.input :file, as: :file, label: false, input_html: { class: 'hidden-field' }
          = document.input :file_cache, as: :hidden
          = document.input :user_id, as: :hidden

          = document.simple_fields_for :payment_document_info, document.object.payment_document_info do |pdi|
            = pdi.input :attachment_id, as: :hidden
            = pdi.input :document_requirement_id, as: :hidden
