= f.input_field :quantity, as: :hidden

- @reservation_request.reservation_periods.each do |period|
  = hidden_field_tag "reservation_request[dates][]", period.date.strftime('%Y-%m-%d')

= f.input :start_minute, as: :hidden, input_html: {value: @reservation_request.reservation_periods.first.try(:start_minute)}
= f.input :end_minute, as: :hidden, input_html: {value: @reservation_request.reservation_periods.first.try(:end_minute)}
= f.input :booking_type, as: :hidden, input_html: {value: @reservation_request.reservation.booking_type}
= f.input :book_it_out, as: :hidden, input_html: {value: @reservation_request.book_it_out}
= f.input :exclusive_price, as: :hidden, input_html: {value: @reservation_request.exclusive_price}
= f.input :guest_notes, as: :hidden, input_html: {value: @reservation_request.guest_notes}
= f.input :delivery_type, as: :hidden
= f.input :transactable_pricing_id, as: :hidden, input_html: {value: @reservation_request.reservation.transactable_pricing_id}
- if @reservation_request.with_delivery?
  = f.simple_fields_for :shipments do |s|
    = s.simple_fields_for :shipping_address do |a|
      = a.input :user_id, as: :hidden, value: current_user.id
      = a.input :shippo_id, as: :hidden
      = a.input :name, as: :hidden
      = a.input :company, as: :hidden
      = a.input :street1, as: :hidden
      = a.input :street2, as: :hidden
      = a.input :city, as: :hidden
      = a.input :zip, as: :hidden
      = a.input :state, as: :hidden
      = a.input :phone, as: :hidden
      = a.input :email, as: :hidden
      = a.input :country, as: :hidden
    = s.input :is_insured, as: :hidden
    = s.input :direction, as: :hidden
