- @reservation = @reservation_request.reservation

.row-fluid.reservations-create
  .span8.offset2
    .header
      %h1= t 'reservations_review.delivery_type'
      %p.location-name= @reservation_request.listing.name
      %p.location-address= @reservation_request.location.address

    .box
      = simple_form_for @reservation_request, url: address_listing_reservations_path, html: { class: 'form-horizontal' } do |f|
        = render 'listings/reservations/fields', :f => f
        %input{type: :hidden, name: :step, value: 'address'}
        - if @errors.present?
          .flash.error
            %p= t 'reservations_review.errors.only_whoops'
            %ul
              - @errors[:base].each do |error|
                %li= error
        - if @listing.rental_shipping_type == 'both'
          = f.input :delivery_type, as: :radio_buttons, collection: [[t('reservations_review.pick_up'), 'pick_up'], [t('reservations_review.delivery'), 'delivery']], checked: (@reservation_request.delivery_type || 'pick_up'), label: false
          %hr.thin

        #shipping-address{ class: (@listing.rental_shipping_type == 'both' ? 'hide' : '')}
          = f.simple_fields_for :shipments do |s|
            = s.input :is_insured, as: :bootstrap_switch, label: t('simple_form.labels.shipment.is_insured')
            = s.input :direction, as: :hidden
        = f.button :submit, t('reservations_review.buttons.continue'), data: { disable_with: t('reservations_review.disabled_buttons.processing')} , class: 'btn-green'

- content_for :script do
  :javascript
    function toggleAddressForm(elem) {
      if(elem.val() == 'delivery'){
        $('#shipping-address').show();
        $(document).trigger('init:bootstrapswitch.nearme');
      }else{
        $('#shipping-address').hide();
      }
    }

    if($('input[name="reservation_request[delivery_type]"]:checked').length > 0)
      toggleAddressForm($('input[name="reservation_request[delivery_type]"]:checked'));

    $('input[name="reservation_request[delivery_type]"]').on('change', function(){
      toggleAddressForm($(this));
    });
