#open_graph_content.hidden
  = render :partial => 'shared/og_meta', :locals => { :listing => @reservation.listing, :url => location_listing_url(@reservation.listing.location, @reservation.listing) }
%div{class: section_class}
  %header
    %h2
      %span.padding Your booking was Successful!

  .icons
    %h3 Share your travel plans
    %ul.no-bullets
      - url = location_listing_url(@listing.location, @listing)
      - text = "I just made a booking at #{@listing.name}"
      %li= share_to_facebook(url, 'facebook-full')
      %li= share_to_twitter(url, text)
      %li= share_to_linkedin(url, text)

  .buttons
    = link_to "Add to Calendar", export_reservation_path(@reservation, :format => :ics), class: "btn btn-large btn-white"
    = link_to "Manage Booking", "#", class: "btn btn-large btn-green modal-close-manually"

:javascript
  $(function() {
    $('.modal-close').hide();
    $('head').eq(0).append($('#open_graph_content').html());
    $('#open_graph_content').remove();
  });
