%h1 Book space at #{@location.name}

%p Your reservation has been made!

- if @reservation.credit_card_payment?
  %p Your credit card will be charged when your reservation is confirmed by the host.

= render :partial => "shared/mailers/booking_details", :locals => { :listing => @listing, :reservation => @reservation}

= render :partial => 'export_icons', :locals => { :reservation => @reservation }

%p.text-center
  = link_to "Continue", "", :class => 'btn btn-medium btn-green close-modal'

:javascript
  Modal.reloadOnClose(#{raw bookings_dashboard_url.to_json})

