%h1 Book space at #{@location.name}

%p Your reservation has been made!

- if @reservation.credit_card_payment?
  %p Your credit card will be charged when your reservation is confirmed by the host.

%p.text-center
  = link_to "Continue", "", :class => 'btn btn-medium btn-green close-modal'

:javascript
  Modal.reloadOnClose(#{raw bookings_dashboard_url.to_json})

  analytics.track("Confirmed a Booking", {
    suburb: "#{@location.suburb}",
    city: "#{@location.city}",
    state: "#{@location.state}",
    country: "#{@location.country}",
    quantity: #{@reservation.quantity},
    days: #{@reservation.total_days},
    amount: #{@reservation.total_amount_dollars},
    currency: "#{@reservation.currency}",
    transaction: #{@reservation.credit_card_payment?}
  });

- if @reservation.credit_card_payment?
  :javascript
    analytics.trackCharge(#{@reservation.total_amount_dollars})
