- @reservation = @reservation_request.reservation

.row-fluid
  .span8.offset2
    .header
      %h1 Review your booking
      %p.location-name= @reservation_request.listing.name
      %p.location-address= @reservation_request.location.address

    .box
      %h2
        = @reservation.humanized_number_of_periods

      = simple_form_for @reservation_request, :url => secure_listing_url(@reservation_request.listing), :method => :post, :html => {:class => "payment form-horizontal"} do |f|
        = render 'listings/reservations/fields', :f => f

        - if @reservation_request.errors.present?
          .flash.error
            %p Whoops! We couldn't make that reservation.
            %ul
              - @reservation_request.errors[:base].each do |error|
                %li= error

        - if @reservation_request.action_hourly_booking?
          %p
            = @reservation.hourly_summary_for_first_period

        - else
          .selected-dates-summary
            %hr.thin
            = @reservation.selected_dates_summary(separator: "<hr class='thin' />")

        %hr.thin

        %h2 Order Summary

        .order-summary
          .summary-line
            .summary-line-label Subtotal
            .summary-line-value.subtotal-amount= @reservation.subtotal_price
            .clearfix

          - if @reservation.has_service_fee?
            .summary-line
              .summary-line-label Service fee
              .summary-line-value.service-fee-amount= @reservation.service_fee_guest
              .clearfix

          .summary-line
            .summary-line-label Total
            .summary-line-value.total-amount= @reservation.total_price
            .clearfix

        - if @reservation_request.display_phone_and_country_block?

          %h2 Contact Information

          = render 'contact_information_fields', :f => f

        - if @reservation_request.nonce_payment_available?

          %h2 Select Payment Method

          .tabs
            .tab1
              %input#tab1{checked: "checked", name: "tabs", type: "radio"}/
              %label.tab{for: "tab1"} Credit Card
              #tab-content1.tab-content
                = render 'payments/credit_card_fields', :f => f
                = render 'confirm_reservations'
            .tab2
              %input#tab2{name: "tabs", type: "radio"}/
              %label.tab{for: "tab2"} PayPal
              #tab-content2.tab-content
                = render 'paypal_fields', :f => f
                = render 'confirm_reservations'

        - elsif @reservation_request.credit_card_payment?

          %h2 Payment

          = render 'payments/credit_card_fields', :f => f
          = render 'confirm_reservations'

        - elsif @reservation_request.manual_payment?

          %h2 Payment

          .box.gray= t('reservations.payment_in_person')
          %p= t('reservations.manually_confirm', lessor: platform_context.lessor)

        -elsif @reservation_request.remote_payment?
          %h2 Payment
          .credit-card-fields
            .padding-bottom.submit-secure-payment
              .row-fluid
                .span5.text
                  .ico-lock Submit a secure payment.
                .span7.credit-card-images
                  = image_tag 'credit-cards.png', alt: "Visa, Mastercard, American Express, Discover"
                .clearfix



        - @reservation.assigned_waiver_agreement_templates.each do |wat|
          %div
            %label.checkbox.controls{for: "reservation_request_waiver_agreement_templates_#{wat.id}"}
              = check_box_tag "reservation_request[waiver_agreement_templates][#{wat.id}]", "1", f.object.send(:waiver_agreement_templates).include?("#{wat.id}"), { class: 'input-block-level' }
              I have read and accept #{link_to wat.name, '#', data: { modal: true, href: waiver_agreement_template_path(wat)}}
            - if f.object.errors.include?(:"waiver_agreement_template_#{wat.id}")
              %p.error-block= f.object.errors[:"waiver_agreement_template_#{wat.id}"].first

        = f.button :submit, 'Request Booking', disable_with: "Booking..."

- content_for :script do
  :javascript
    $(function() {
      new PhoneNumbers.FieldsForm(
        $('form.payment'),
        {
          countrySelector : '#reservation_request_country_name',
          mobileSelector  : '#reservation_request_mobile_number',
          phoneSelector   : '#reservation_request_phone',
          sameAsSelector  : '#reservation_request_mobile_same_as_phone'
        }
      );
      window.sessioncamConfiguration.customDataObjects.push( { key: "event", value: "booking_modal_opened" } );

      braintree.setup("#{@reservation_request.client_token}", 'paypal', {
        container: 'paypal-button'
      });
    });
