- @reservation = @reservation_request.reservation

.row-fluid.reservation-wizard
  .span8.offset2
    .header
      %h1= t 'reservations_review.heading'
      %p.location-name= @reservation_request.listing.name
      %p.location-address= @reservation_request.location.address

    .box
      %h2
        = @reservation.humanized_number_of_periods

      = simple_form_for @reservation_request, :url => secure_listing_url(@reservation_request.listing), :method => :post, :html => {:class => "payment form-horizontal"} do |f|
        = render 'listings/reservations/fields', :f => f

        - if @reservation_request.errors.present?
          .flash.error
            %p= t 'reservations_review.errors.whoops'
            %ul
              - @reservation_request.errors[:base].each do |error|
                %li= error

        - if @reservation_request.action_hourly_booking?
          %p
            = @reservation.hourly_summary_for_first_period

        - else
          .selected-dates-summary
            %hr.thin
            = @reservation.selected_dates_summary(separator: "<hr class='thin' />")

        %hr.thin

        %h2= t 'reservations_review.summary'

        .order-summary
          .summary-line
            .summary-line-label= t 'reservations_review.subtotal'
            .summary-line-value.subtotal-amount= @reservation.subtotal_price
            .clearfix

          - if @reservation.has_service_fee?
            .summary-line
              .summary-line-label= t 'reservations_review.service_fee'
              .summary-line-value.service-fee-amount= @reservation.service_fee_guest
              .clearfix

          - if @reservation.additional_charges.any?
            - @reservation.additional_charges.each do |charge|
              .summary-line
                .summary-line-label= charge.name
                .summary-line-value.service-fee-amount= charge.amount
                = hidden_field_tag "#{f.object_name}[additional_charge_ids][]", charge.additional_charge_type_id
                .clearfix

          .summary-line
            .summary-line-label= t 'reservations_review.total'
            .summary-line-value.total-amount= @reservation.total_price
            .clearfix

        - if @reservation_request.display_phone_and_country_block?

          %h2= t 'reservations_review.contact_information'

          = render 'contact_information_fields', :f => f

        = render 'documents', :f => f
        = render 'payments/payment_options', :f => f


        - @reservation.assigned_waiver_agreement_templates.each do |wat|
          %div
            %label.checkbox.controls{for: "reservation_request_waiver_agreement_templates_#{wat.id}"}
              = check_box_tag "reservation_request[waiver_agreement_templates][#{wat.id}]", "1", f.object.send(:waiver_agreement_templates).include?("#{wat.id}"), { class: 'input-block-level' }
              = t('reservations_review.wat_accept', link_to_wat: link_to(wat.name, '#',
                data: { modal: true, href: waiver_agreement_template_path(wat)})).html_safe
            - if f.object.errors.include?(:"waiver_agreement_template_#{wat.id}")
              %p.error-block= f.object.errors[:"waiver_agreement_template_#{wat.id}"].first

        = f.button :submit, t('reservations_review.buttons.request'),
            disable_with: t('reservations_review.disabled_buttons.request'), class: 'btn-green'

- content_for :domready do
  new PaymentController($('.reservation-wizard'))

- content_for :script do
  :javascript
    $(function() {
      new PhoneNumbers.FieldsForm(
        $('form.payment'),
        {
          countrySelector : '#reservation_request_country_name',
          mobileSelector  : '#reservation_request_mobile_number',
          phoneSelector   : '#reservation_request_phone',
          sameAsSelector  : '#reservation_request_mobile_same_as_phone'
        }
      );
      window.sessioncamConfiguration.customDataObjects.push( { key: "event", value: "booking_modal_opened" } );
    });


- if @reservation_request.client_token.present?
  = javascript_include_tag "https://js.braintreegateway.com/v2/braintree.js"
  - content_for :script do
    :javascript
      $(function() {
        if('braintree' in window) {
          braintree.setup("#{@reservation_request.client_token}", 'paypal', {
            container: 'paypal-button'
          });
        }
      });
