- @reservation = @reservation_request.reservation

.row-fluid
  .span8.offset2
    %h1 Review your booking

    .box
      %h1= @reservation_request.listing.name
      %p= @reservation_request.location.address

      %h2
        = @reservation_request.reservation.days_in_words

      = simple_form_for @reservation_request, :url => secure_listing_url(@reservation_request.listing), :method => :post, :html => {:class => "payment form-horizontal"} do |f|
        = render 'listings/reservations/fields', :f => f

        - if @reservation_request.errors.present?
          .flash.error
            %p Whoops! We couldn't make that reservation.
            %ul
              - @reservation_request.errors[:base].each do |error|
                %li= error

        - if @reservation_request.hourly_reservations?
          %p
            = @reservation.hourly_summary_for_first_period

        - else
          .selected-dates-summary
            %hr.thin
            = @reservation.selected_dates_summary("<hr class='thin' />")

        %hr.thin

        %h2 Order Summary

        .order-summary
          .summary-line
            .summary-line-label Subtotal
            .summary-line-value= @reservation.subtotal_price
            .clearfix

          .summary-line
            .summary-line-label Service fee
            .summary-line-value= @reservation.service_fee
            .clearfix

          .summary-line
            .summary-line-label Total
            .summary-line-value= @reservation.total_price
            .clearfix

        - if @reservation_request.display_phone_and_country_block?

          %h2 Contact Information

          = render 'contact_information_fields', :f => f


        - if @reservation_request.credit_card_payment?

          %h2 Payment

          = render 'credit_card_fields', :f => f

          - if @reservation_request.confirm_reservations?
            %p This host manually confirms all bookings. Your card will not be charged until the booking is confirmed.

        - elsif @reservation_request.manual_payment?
          %p You will make the payment in person upon arrival

        = f.button :submit, 'Request Booking', disable_with: "Booking..."

:javascript
  $(function() {
    new Bookings.ReservationRequestFormController($('form.payment'));
    new PhoneNumbers.FieldsForm(
      $('form.payment'),
      {
        countrySelector : '#reservation_request_country_name',
        mobileSelector  : '#reservation_request_mobile_number',
        phoneSelector   : '#reservation_request_phone',
        sameAsSelector  : '#reservation_request_mobile_same_as_phone'
      }
    );
    __insp.push(['tagSession', "booking_review_opened"]);
  });
