%header
  %h2 
    %span.ico-location.padding= location_name(@reservation_request)

= simple_form_for @reservation_request, :url => @reservation_request.url, :method => :post, :remote => true, :html => {:class => "payment form-horizontal"} do |f|
  = render 'listings/reservations/fields'

  - if @reservation_request.errors.present?
    .flash.error
      %p Whoops! We couldn't make that reservation.
      %ul
        - @reservation_request.errors[:base].each do |error|
          %li= error

  %h2= @reservation_request.form_title

  - if @reservation_request.hourly_reservations?
    %p
      = hourly_summary_for_period @reservation_request.reservation_periods.first

  - else
    %p= selected_dates_summary(@reservation_request.reservation)

  %hr

  .summary
    .subtotal-label Subtotal Cost:
    .subtotal-amount= reservation_subtotal_price(@reservation_request.reservation)

  .summary
    .service-fee-label Service Fee:
    .service-fee-amount= reservation_service_fee(@reservation_request.reservation)

  .summary
    .total-label Total Cost:
    .total-amount= reservation_total_price(@reservation_request.reservation)

  %hr

  - if reservation_needs_payment_details?(@reservation_request.reservation)
    .control-group
      = radio_button_tag "reservation_request[payment_method]", "credit_card", @reservation_request.credit_card_payment?
      = label_tag :reservation_request_payment_method_credit_card, 'Charge my credit card once booking confirmed'

    .control-group
      = radio_button_tag "reservation_request[payment_method]", "manual", @reservation_request.manual_payment?
      = label_tag :reservation_request_payment_method_manual, 'I will make the payment in person upon arrival'


    - if @reservation_request.display_phone_and_country_block?
      %hr
      = render 'registrations/phone_fields', :f => f

    #credit_card_fields{:style => "display: none"}
      %hr.divider

      .row-fluid.padding-bottom
        .span6
          .ico-lock.padding Submit a secure payment.
        .span6
          = image_tag 'credit-cards.png', :alt => "Visa, Mastercard, American Express, Discover"

      .row-fluid
        = label_tag :card_number, "Credit Card Number", :class => 'control-label', placeholder: 'Credit Card Number'
        .controls.card-number
          = text_field_tag "reservation_request[card_number]", nil
          .credit-card-icon
            %span.ico-credit-card

      .card-info.expiry
        = label_tag :card_expires, "Expires On", :class => 'control-label'
        .controls.card-expires
          = text_field_tag "reservation_request[card_expires]", nil, size: 4, placeholder: 'MM/YY'

      .card-info.security
        = label_tag :card_code, "Security Code", :class => 'control-label'
        .controls.card-code
          = text_field_tag "reservation_request[card_code]", nil, size: 3, placeholder: 'CCV'

    - if @reservation_request.confirm_reservations?
      %p.text-center
        This host manually confirms all bookings before payment.
  - else
    - if @reservation_request.display_phone_and_country_block?
      = render 'registrations/phone_fields', :f => f

  = submit_tag 'Request Booking', :disable_with => "Booking..."

:javascript
  $(function() {
    new Bookings.ReservationModal($('form.payment'));
    new PhoneNumbers.FieldsForm(
      $('form.payment'),
      {
        countrySelector : '#reservation_request_country_name',
        mobileSelector  : '#reservation_request_mobile_number',
        phoneSelector   : '#reservation_request_phone',
        sameAsSelector  : '#reservation_request_mobile_same_as_phone'
      }
    );
    DNM.initializeCustomSelects();
  });


