- @reservation = @reservation_request.reservation

.row-fluid.reservation-wizard{ :"data-payment-controller" => true }
  .span8.offset2
    = render 'header', listing: @reservation_request.listing, location: @reservation_request.location

    .box.reservation-review
      = simple_form_for @reservation_request, :url => secure_listing_url(@reservation_request.listing), :method => :post, :html => {class: "payment form-horizontal"} do |f|
        = render 'listings/reservations/fields', :f => f
        - if @reservation_request.errors.present?
          .flash.error
            %p= t 'reservations_review.errors.whoops'
            %ul
              - @reservation_request.errors[:base].each do |error|
                - error.split("\n").each do |e|
                  - e.sub!(/^Properties/, '')
                  - e.sub!(/^Address address/, '')
                  - next if ["Address latitude can't be blank", "Address longitude can't be blank"].any? { |m| e == m }
                  %li= e

            = f.hidden_field :total_amount_check, value: @reservation.total_amount.cents

        .reservation-summary
          = render 'summary', reservation: @reservation, reservation_request: @reservation_request

        - if @reservation_request.with_delivery?
          %hr.thin
          %h2 Delivery
          - if @reservation_request.get_shipping_rates.any?
            %p= t 'reservations_review.delivery_hint'
            .delivery-options
              = f.input :delivery_ids, collection: @reservation_request.get_shipping_rates, as: :radio_buttons, label: false, checked: @reservation_request.delivery_ids
          - else
            .error.flash
              %p= t 'reservations_review.errors.no_delivery_options'

        .reservation-properties
          = render 'reservation_properties', f: f

        - if f.object.payment.payment_methods.blank?
          %h2= t("reservations_review.missing_payment_method")
          %span= t("reservations_review.missing_payment_method_info")
        - else
          = render 'documents', :f => f
          = render 'shared/payments', f: f

          - @reservation.assigned_waiver_agreement_templates.each do |wat|
            %div
              %label.checkbox.controls{for: "reservation_request_waiver_agreement_templates_#{wat.id}"}
                = check_box_tag "reservation_request[waiver_agreement_templates][#{wat.id}]", "1", f.object.send(:waiver_agreement_templates).include?("#{wat.id}"), { class: 'input-block-level' }
                = t('reservations_review.wat_accept', link_to_wat: link_to(wat.name, '#',
                  data: { modal: true, href: waiver_agreement_template_path(wat)})).html_safe
              - if f.object.errors.include?(:"waiver_agreement_template_#{wat.id}")
                %p.error-block= f.object.errors[:"waiver_agreement_template_#{wat.id}"].first

          = f.button :submit, t('reservations_review.buttons.request'), class: 'btn-green submit-payment', data: { disable_with: t('reservations_review.disabled_buttons.request') }

  = render 'sidebar'

- content_for :script do
  :javascript
    $(function() {
      $(document).trigger('init:phonenumberfieldsform.nearme', 'form.payment');
      $(document).trigger('init:tooltips.nearme', '.reservation-summary');
    });
