<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    {%  yield 'meta' %}
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  </head>
  <body>
    <div class="root-a">
      <div class="wrap">
        <header class="top-a" id="top">
          <div class="inner">
            <div class="contain">
              <h1 class="logo">
                <a href="/"><img src='{{ "community/logo-white.png" | image_path }}' width="59" height="39" alt="{{ platform_context.name }}"/>{{ 'developer_mesh' | t }}</a>
              </h1>

              {% unless omit_topnav %}
                <h2 class="toggler" data-nav="true">
                  <span>Menu</span>
                </h2>
                <div class="wrap">
                  <nav class="nav" id="nav">
                    <ul>
                      <li class="people">
                        <a href="/search/people" accesskey="1">{{ 'people' | t }}<em>1</em></a>
                      </li>
                      <li class="projects">
                        <a href="/search/projects" accesskey="2">{{ 'projects' | t }}<em>2</em></a>
                      </li>
                      <li class="topics">
                        <a href="/search/topics" accesskey="3">{{ 'topics' | t }}<em>3</em></a>
                      </li>
                    </ul>
                  </nav>
                  <div class="corner">
                    {% if current_user %}
                      <div class="user">
                        <p class="name">{{ current_user.first_name }}</p>
                      </div>
                    {% else %}
                      <p class="actions">
                        <a href="/users/sign_in?wizard=onboarding" class='button-a small orange'>{{ 'log_in' | t }}</a>
                      </p>
                    {% endif %}
                  </div>
                </div>
              {% endunless %}
            </div>
          </div>
        </header>

        {% assign keys = "notice,success,warning,error,deleted" | split: ',' %}
        {% for key in keys %}
          {% if flash[key] != blank %}
            <div class="alert {{key}}" data-flash-message data-close-label="{{ 'flash_messages.close_label' | t }}">
              <div class="contain">{{ flash.key | nl2br }}</div>
            </div>
          {% endif %}
        {% endfor %}

        <section class="content-a" id="content">
          {{ content_for_layout }}
        </section>
        {% yield 'tutorial' %}
      </div>
    </div>
  </body>
</html>
