.shell
  .sections
    .section
      .section-head
        %h2 Create your own marketplace
        %p Near Me is a complete solution for setting up and managing your own marketplace. No coding required.
        .btns
          %a.btn.btn-blue{href: "/request-a-demo"} Request a demo

      .laptop
        .laptop-text
          %p
            I want to create a website
            %br/
            where people can:
          .laptop-input
            %ul.scroll-list
              %li rent classic cars
              %li rent modern cars
              %li buy race cars

    .section
      .section-head
        %h2
          Have an idea?
          %strong We can power it.
        %p Anything from  desks to camping gear. You name it, you got it.

      .tabs
        .tabs-nav
          %ul
            %li
              %a{href: "#tab1"}
                %i.icon-camera
                %span Camera Gear
            %li
              %a{href: "#tab2"}
                %i.icon-desk
                %span Desks
            %li
              %a{href: "#tab3"}
                %i.icon-boat
                %span Boats
            %li
              %a{href: "#tab4"}
                %i.icon-tools
                %span Tools
            %li
              %a{href: "#tab5"}
                %i.icon-guitar
                %span Instruments

        .tabs-body
          #tab1.tab
            .tab-text.alignleft
              .tab-text-inner
                %h3 Camera gear near me
                %p Lend and Borrow High-end Photography Gear - Rent gear that you need for a photoshoot or want to try before you buy.
                .btns
                  %a.btn.btn-blue{href: "/request-a-demo"} Request a demo

            .tab-image.alignright
              %a{href: "#"}
                = image_tag "/assets/platform_home/gallery-camera-gear.png"

          #tab2.tab
            .tab-text.alignleft
              .tab-text-inner
                %h3 Desks near me
                %p With over 6000 listings in 65 countries, get deskspace whenever and wherever you need it.
                .btns
                  %a.btn.btn-blue{href: "/request-a-demo"} Request a demo

            .tab-image.alignright
              %a{href: "#"}
                = image_tag "/assets/platform_home/gallery-desks.png"

          #tab3.tab
            .tab-text.alignleft
              .tab-text-inner
                %h3 Boats near me
                %p Find a Boat to Sail - Rent boats from people near you. Get renting and start sailing.
                .btns
                  %a.btn.btn-blue{href: "/request-a-demo"} Request a demo

            .tab-image.alignright
              %a{href: "#"}
                = image_tag "/assets/platform_home/gallery-boats.png"

          #tab4.tab
            .tab-text.alignleft
              .tab-text-inner
                %h3 Tools near me
                %p Get the tools you need. When you need em. - Search thousands of tools near you to get the job done.
                .btns
                  %a.btn.btn-blue{href: "/request-a-demo"} Request a demo

            .tab-image.alignright
              %a{href: "#"}
                = image_tag "/assets/platform_home/gallery-tools.png"

          #tab5.tab
            .tab-text.alignleft
              .tab-text-inner
                %h3 Instruments near me
                %p Share the Gift of Music - Rent instruments from other musicians and list your own for others to borrow.
                .btns
                  %a.btn.btn-blue{href: "/request-a-demo"} Request a demo

            .tab-image.alignright
              %a{href: "#"}
                = image_tag "/assets/platform_home/gallery-instruments.png"

    .section
      .section-head
        %h2
          Build with the
          %strong features you need
        %p Your marketplace is equipped with all the tools you need for success

      .tabs.tabs-features
        .tabs-nav.features-nav
          %ul
            %li
              %a{href: "#tab6"}
                %i.icon-case
                %span Admin Dashboard
            %li
              %a{href: "#tab7"}
                %i.icon-charts
                %span Analytics
            %li
              %a{href: "#tab8"}
                %i.icon-cards
                %span Payments
            %li
              %a{href: "#tab9"}
                %i.icon-phone
                %span Customized Support

        .tabs-body
          #tab6.tab
            .tab-text.alignright
              .tab-text-inner
                %h3 Intuitive Dashboard
                %p Monitor everything from your Near Me control panel. You can easily manage your inventory, customers, partners and get full control over analytics and payments.
                .btns
                  %a.btn.btn-blue{href: "/request-a-demo"} see all features

            .tab-image.alignleft
              %a{href: "#"}
                = image_tag "/assets/platform_home/features-dashboard.png"

          #tab7.tab
            .tab-text.alignright
              .tab-text-inner
                %h3 Powerful Analytics
                %p Our built-in analytics dashboard will provide you with an accurate traffic analysis and audience behavior. Track your marketplace performance and make the best choices for your business.
                .btns
                  %a.btn.btn-blue{href: "/request-a-demo"} see all features

            .tab-image.alignleft
              %a{href: "#"}
                = image_tag "/assets/platform_home/features-analytics.png"

          #tab8.tab
            .tab-text.alignright
              .tab-text-inner
                %h3 Hassle-Free Payments
                %p Instantly accept payments from your users, set the fees that suit your business and track all the transactions made on your marketplace.
                .btns
                  %a.btn.btn-blue{href: "/request-a-demo"} see all features

            .tab-image.alignleft
              %a{href: "#"}
                = image_tag "/assets/platform_home/features-payments.png"

          #tab9.tab
            .tab-text.alignright
              .tab-text-inner
                %h3 Personalized Support
                %p Near Me is committed to offer all the support you need to make a successful marketplace. Our team will be available to assist your request in a timely manner.
                .btns
                  %a.btn.btn-blue{href: "/request-a-demo"} see all features

            .tab-image.alignleft
              %a{href: "#"}
                = image_tag "/assets/platform_home/features-support.png"

.callout
  .shell
    %h2 Your marketplace is waiting
    .btns
      %a.btn.btn-white{href: "/request-a-demo"} Request a demo
