.row-fluid
  .col-md-7
    %h3= t('registrations.phone_calls.twilio')
    %p= t('registrations.phone_calls.twilio_info')

    .form-group
      .input-group
        = text_field_tag :phone_number, nil, value: (current_user.communication.try(:phone_number) || current_user.full_mobile_number), disabled: true, class: 'string tel optional form-control', maxlength: 1

  .col-md-5
    - if current_user.communication.try(:verified?)
      = button_to t('registrations.social_accounts.disconnect'), communication_path(current_user), method: :delete, class: 'btn btn-primary'
    - else
      = button_to t('registrations.social_accounts.connect'), communications_path, class: 'btn btn-primary'

