-# TODO Deprecated
-checkout_steps = @order.checkout_steps
%h3 Order information:
.summary-line
%div
  .text-label= t("order.status")
  .text=@order.state
%div
  .text-label= t("order.subtotal")
  .text#item_total= @order.display_item_total.to_html
- if checkout_steps.include?("delivery") && @order.ship_total > 0
  %div
    .text-label{"data-hook" => "admin_order_tab_ship_total_title"}
      = t("order.ship_total")
    .text#ship_total= @order.display_ship_total.to_html
- if @order.included_tax_total != 0
  %div
    .text-label{"data-hook" => "admin_order_tab_included_tax_title"}
      = t("order.tax_included")
    .text#included_tax_total= @order.display_included_tax_total.to_html
- if @order.additional_tax_total != 0
  %div
    .text-label= t("order.tax")
    .text= @order.display_additional_tax_total.to_html
%div
  .text-label= t("order.total")
  .text= @order.display_total.to_html
- if @order.completed?
  %div
    .text-label= t("order.shipment_state")
    .text=@order.shipment_state
  %div
    .text-label= t("order.payment_state")
    .text= @order.payment_state
  %div
    .text-label= t("order.date_completed")
    .text= @order.completed_at
- if @order.approved?
  %div
    .text-label= t("order.approver")
    .text= @order.approver.name
  %div
    .text-label= t("order.approved_at")
    .text= @order.approved_at
