- #TODO: Deprecated for now

- title "Edit Order"

= show_manage_navigation(:orders)

.row-fluid
  .span8.offset2
    .box
      %ul.location-and-listings
        %li.location
          .name.left
            %h3= "Order ##{@order.number}"
          .right
            - unless @order.approved?
              = link_to 'Approve', approve_manage_buy_sell_order_path(@order), class: 'btn btn-medium btn-blue',
                  data: { confirm: 'Are you sure you want to approve this order?' }

            - if @order.canceled?
              = link_to 'Resume', resume_manage_buy_sell_order_path(@order), class: 'btn btn-medium btn-green',
                  data: { confirm: 'Are you sure you want to resume this order?' }
            - else
              = link_to 'Cancel', cancel_manage_buy_sell_order_path(@order), class: 'btn btn-medium btn-red',
                  data: { confirm: 'Are you sure you want to cancel this order?' }


      = render 'payments'
      = render 'shipments'
      = render 'information'

      = simple_form_for [:manage, :buy_sell, @order], :html => {multipart: true, class: "form-horizontal form-expandable" } do |f|

        = render 'form', f: f

        .actions
          = f.submit "Save"
