= simple_form_for @homepage_template, url: '/instance_admin/theme/homepage_template' do |f|
  %h4 Homepage
  .content-container
    .row.dropshadow
      .input-container.col-xs-12
        = f.input :path, :as => :hidden
        = f.input :body, label: 'HTML body', required: false, input_html: { class: 'form-control', :"data-editor" => 'liquid', rows: '30' }
        = f.input :locale, :as => :hidden
        = f.input :format, :as => :hidden
        = f.input :handler, :as => :hidden
        = f.input :partial, :as => :hidden
  .content-container
    .row
      = f.button :submit, 'Save', class: 'btn btn-green pull-right'
      = link_to "Versions", instance_admin_theme_homepage_template_paper_trail_versions_path(parent_resource: 'homepage_template'), class: 'btn btn-green pull-right' if @homepage_template.versions.many?
