.fileupload{class: "#{options['no-multiple'] ? 'single-photo' : 'multi-photo'}", 'data-role': options[:upload_type]}
  - if options[:'top-label'].present?
    .photo-top-label
      = options[:'top-label']
  .uploaded
    = uploaded_content

  %div{:'data-fileupload-wrapper' => true, :'data-url' => url, :'data-name' => name}
    .new-photo
      = label_tag name, text, for: options[:label_for] || name
      = file_field_tag name, multiple: !options['no-multiple'], accept: 'image/gif, image/jpeg, image/jpg, image/png', id: options[:label_for] || name

    - if hint
      %p.hint-block= hint
    - if error_message
      %p.error-block= error_message

    = render 'shared/components/progress_bar'
