<article class="user-profile-a search-listing-a" id="user-{{ user.id }}" itemscope itemtype="http://schema.org/Organization">
  <header class="user-profile-a-header">
    <a href="{{ user.user_profile_url }}">
      <div class="branding">
        <div class="logo">
          <img src="{{ user.profiles.buyer.grouped_custom_images.logo.versions.normal.url }}" alt="{{ user.profiles.buyer.properties.company_name }}" itemprop="logo">
        </div>

        <div class="avatar">
          <img src="{{ user.avatar.big.url }}" alt="{{ user.name }}">
        </div>
      </div>

      <div class="desc">
        <h2 itemprop="name">{{ user.profiles.buyer.properties.company_name }}</h2>

        <p class="address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
          <span itemprop="streetAddress">{{ user.current_address.street }}</span><br>
          <span itemprop="addressLocality">{{ user.current_address.suburb }}</span>, <span itemprop="addressRegion">{{ user.current_address.state }}</span> <span itemprop="postalCode">{{ user.current_address.postcode }}</span>
          <span class="neighborhood">{{ user.profiles.buyer.properties.neighborhood }}</span>
        </p>
      </div>
    </a>
  </header>

  {% include "registrations/lister_actions", user: user %}

  <div class="user-profile-a-description">

    {% if user.profiles.buyer.properties.community_wealth or user.profiles.buyer.properties.workplace or user.profiles.buyer.properties.environment_and_health %}
      <ul class="badges-a">
        {% if user.profiles.buyer.properties.workplace %}
          <li class="workplace"><h3>Workplace</h3></li>
        {% endif %}

        {% if user.profiles.buyer.properties.community_wealth %}
          <li class="community-wealth"><h3>Community Wealth</h3></li>
        {% endif %}

        {% if user.profiles.buyer.properties.environment_and_health %}
          <li class="environment-health"><h3>Environment &amp; Health</h3></li>
        {% endif %}
      </ul>
    {% endif %}

    {% assign products = user.profiles.buyer.grouped_customizations['Product / Service listing item'] %}
    {% if products.size > 0 %}
    <div class="products-services">
      <h3>Products &amp; Services</h3>
      <ul>
        {% for product in products %}
        <li>{{ product.properties.title }}</li>
        {% endfor %}
      </ul>

      <p><a href="{{ user.user_profile_url }}" class="more-a">View more</a></p>
    </div>
    {% endif %}

    {% assign languages = user.category_tree["Language"] %}
    {% if languages.size > 0 %}
    <div class="languages">
      <h3>Languages</h3>
      <ul>
        {% for language in languages %}
        <li>{{ language.name }}</li>
        {% endfor %}
      </ul>

      <p><a href="{{ user.user_profile_url }}" class="more-a">View more</a></p>
    </div>
    {% endif %}

    <div class="availability">
      {% if user.profiles.buyer.properties.hours_days_of_operation != blank %}
        <h3>Hours / Days of Operation</h3>
        <p>{{ user.profiles.buyer.properties.hours_days_of_operation | nl2br }}</p>
      {% endif %}

      {% if user.profiles.buyer.properties.availability != blank %}
      <h3>Availability</h3>
      <p>{{ user.profiles.buyer.properties.availability | nl2br }}</p>
      {% endif %}
    </div>

    {% if user.profiles.buyer.properties.company_description != blank %}
    <div class="company-description" itemprop="description">
      <h3>Company Description</h3>
      <p>{{ user.profiles.buyer.properties.company_description | nl2br }} <a href="{{ user.user_profile_url }}" class="more-a">Show More</a></p>
    </div>
    {% endif %}

    {% if user.tag_list.size > 0 %}
    <div class="tags-a tags-short-list">
      <h4>Tags</h4>
      <ul>
        {% for tag in user.tag_list %}
         <li><a href="?query_fields=tags&amp;query={{ tag }}">{{ tag }}</a></li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </div>
  <script>
    $(function(){
      $(document).trigger('user:loaded', 'user-{{user.id}}')
    });
  </script>

  <div class="collaborations-a" id="collaboration-{{ user.id }}" data-collaborations-url="{{ 'collaborations_for_current_user_dashboard_company_user_path' | generate_url: user.id }}" data-collaborations-container></div>

</article>
