<div class="search-form" id="listing_search">

  <form action="/search" method="get" id="search-form" class="no_inheritance">
    <div class="query">
      <label for="field-q" class="struct-label">Search keyword</label>
      <input type="text" name="query" id="field-q" placeholder="Enter keywords&hellip;" value="{{ params['query'] }}">
      <input type="hidden" name="category_ids" value="{{ searcher.category_ids }}">
      <input type="hidden" name="per_page" value="{{ searcher.per_page }}">
      <input type="hidden" name="page" value="{{ searcher.current_page }}" id="input-page">
      <input type="hidden" name="sort">
      <input type="hidden" name="search_type" value="{{ params['search_type'] }}">

      <div class="form-action">
        <button type="submit" class="button-a">Search</button>
      </div>
    </div>

    <fieldset class="filters" data-search-filters-container>
      <legend class="struct-label">Filter</legend>

      <div class="filters-wrapper">
        <div class="filter">
          <label for="filter-service">Service / Product</label>
          <span class="select-a">
            <select id="filter-service" class="unstyled-select" data-category-filter>
              <option value="">Please select --</option>
              <option value="Food and Beverages">Food and Beverages</option>
              <option value="Baked Goods">&nbsp;&nbsp;Baked Goods</option>
              <option value="Catering">&nbsp;&nbsp;Catering</option>
              <option value="Building Services">Building Services</option>
              <option value="Janitorial">&nbsp;&nbsp;Janitorial</option>
              <option value="HVAC">&nbsp;&nbsp;HVAC</option>
            </select>
          </span>
        </div>

        <div class="filter">
          <label for="filter-language">Language</label>
          <span class="select-a">
            <select name="lg_customizations[language]" id="filter-language" class="unstyled-select">
              <option value="">Please select --</option>
              <option value="English (default)">English (default)</option>
              <option value="Albanian">Albanian</option>
              <option value="Arabic">Arabic</option>
              <option value="Bengali">Bengali</option>
              <option value="Chinese">Chinese</option>
              <option value="Ewe">Ewe</option>
              <option value="French">French</option>
              <option value="French Creole">French Creole</option>
              <option value="Fulani">Fulani</option>
              <option value="German">German</option>
              <option value="Greek">Greek</option>
              <option value="Ibo">Ibo</option>
              <option value="Italian">Italian</option>
              <option value="Japanese">Japanese</option>
              <option value="Khmer">Khmer</option>
              <option value="Korean">Korean</option>
              <option value="Korean">Korean</option>
              <option value="Kru">Kru</option>
              <option value="Mande">Mande</option>
              <option value="Polish">Polish</option>
              <option value="Russian">Russian</option>
              <option value="Spanish">Spanish</option>
              <option value="Tagalog">Tagalog</option>
              <option value="Urdu">Urdu</option>
              <option value="Vietnamese">Vietnamese</option>
              <option value="Wolof">Wolof</option>
              <option value="Yoruba">Yoruba</option>
            </select>
          </span>
        </div>
      </div>
    </fieldset>
  </form>

</div>

<main id="results">

  <h1 class="struct-label">Search results</h1>
  <section class="search-results">
    <header class="search-results-header">
      <div class="search-results-query-info">
        <span class="results-count"><b>{{ searcher.result_count }}</b> Result(s) Found</span>

        <button type="button" class="button-c small" id="search-form-reset">Reset Filters</button>
      </div>

      <div class="search-sort-order">
        <label for="search-order">Sort by:</label>
        <span class="select-a">
          <select id="search-order" name="sort" class="unstyled-select">
            <option {% if params['sort'] == blank  %}selected{% endif %} value=''>Please Select</option>
            <option {% if params['sort'] == 'user.number_of_completed_orders_user_desc'  %}selected{% endif %} value='user.number_of_completed_orders_user_desc'>Number of Bookings</option>
            <option {% if params['sort'] == 'user.buyer_average_rating_desc' %}selected{% endif %} value='user.buyer_average_rating_desc'>Rating</option>
          </select>
        </span>
      </div>
    </header>

    <div class="search-results-items">
      {% include "search/search_listing", user: current_user %}

      {% if searcher.result_count == 0 %}
        <p class="empty-resultset">There are no results to show for your current query.</p>
      {% else %}
        {% for user in searcher.results %}
          {% include "search/search_listing", user: user %}
        {% endfor %}
      {% endif %}
    </div>

    {% if searcher.next_page %}
    <p class="search-results-more-trigger">
      <button type="button" class="button-a" data-page='{{ searcher.next_page }}'>More Results</button>
    </p>
    {% endif %}

  </section>

</main>

{% content_for 'domready' %}
$(document).trigger('init:list:searchresults.nearme');
{% endcontent_for %}
