!!!
%html.no-js{lang: "en"}
  = render 'layouts/admin/head'

  %body
    = render 'admin/shared/flash'

    .container-login
      %header.login-header
        %h1
          %svg{xmlns: "http://www.w3.org/2000/svg", viewbox: "0 0 248.7 54", width: 184, height: 40, alt: 'NearMe'}
            %path{d: "M271.43,385h4v19.82h-4l-10.87-13.39h-0.08v13.39h-4V385h4l10.86,13.39h0.08V385Zm18.74,11.55h7.19v-4h-7.19v-3.6h13.62v-4h-17.6v19.82h18.06v-4H290.17v-4.29ZM324.64,385l8.11,19.82H329l-1.66-4.17h-9.66L316,404.78h-3.76l8-19.82h4.4Zm1,11.67-3.19-7.8-3.19,7.8h6.38Zm28,0,5,8.11h-5l-5-8.07h-6.35v8.07h-4V385H351c3.67,0,7.15,1.38,7.15,5.85C358.11,394.6,355.55,396,353.67,396.67Zm0.46-5.85c0-1.84-1.8-1.88-3.17-1.88h-8.65v3.79H351C352.14,392.73,354.13,392.58,354.13,390.82ZM392,394.91L385,385h-4v19.82h4V392.16h0.08L392,402.1l6.89-9.95h0.08v12.62h4V385h-4Zm25.66,5.89v-4.29h7.19v-4h-7.19v-3.6h13.62v-4h-17.6v19.82H431.7v-4H417.62ZM183,369h55v54H183V369Zm17.45,36.26h4V391.87h0.08l10.86,13.39h4V385.44h-4v13.39H215.3l-10.86-13.39h-4v19.82Z", transform: "translate(-183 -369)"}

        %h2 NearMe makes managing your markeplaces a breeze

        .login-footer
          = render 'admin/shared/footer'

      %main.login-content
        = yield

    = render 'shared/javascripts/footer', entry: 'admin'


