{% for transactable in transactables -%}
  {% assign collaborator = transactable.transactable_collaborators[0] -%}
  {% assign offer = transactable.not_cancelled_orders | detect: user_id: current_user.id -%}

  {% assign orders = current_user | get_enquirer_orders: transactable -%}
  {% assign can_make_offer = false -%}
  {% if current_status == 'pending' -%}
    {% if orders == empty -%}
      {% assign can_make_offer = true -%}
    {% else -%}
      {% assign can_make_offer = true -%}
      {% for order in orders -%}
        {% if order.state == 'unconfirmed' -%}
          {% assign can_make_offer = false -%}
        {% endif -%}
      {% endfor -%}
    {% endif  -%}
  {% endif -%}

  <article class="listing-b" id="transactable_{{transactable.id}}">
    <header>
      <h2>{{ transactable.name }}</h2>
      {% if current_status != 'archived' -%}
        <a href="{{ transactable.show_path }}" class="btn btn-primary btn-sm" rel="external">Visit booking page</a>
      {% endif -%}

      {% if transactable.state == 'in progress' -%}
        <span class="label label-info">In Progress</span>
      {% elsif transactable.state == 'completed' -%}
        <span class="label label-success">Completed</span>
      {% elsif transactable.state == 'cancelled' -%}
        <span class="label label-warning">Cancelled</span>
      {% endif -%}
    </header>

    {% unless current_user.has_verified_merchant_account == true -%}
      <div class='alert alert-warning'>Before making any offer, you need to set up your <a href="{{ 'edit_dashboard_company_payouts_path' | generate_url: company.id }}">merchant account</a>.</div>
    {% endunless -%}

    <div class="listing-b-inner">
      <div class="listing-b-booking-details">
        <dl class="properties">
          <dt>When:</dt>
          <dd>{{ transactable.properties.trip_start_date | l: 'short' }} at {{ transactable.properties.trip_start_time | l: 'short' }}</dd>

          <dt>Where:</dt>
          <dd>{{ transactable.properties.city_name }}</dd>

          <dt>How long:</dt>
          {% assign duration = transactable.properties.duration -%}
          <dd>{{ duration }} {% if duration == 1 -%}hour{% else -%}hours{% endif -%}</dd>

          <dt>Pickup at:</dt>
          <dd>{{ transactable.properties.pickup_location }}</dd>

          {% for language in transactable.customizations_by_type['Languages'] -%}
            {% capture langs -%}{{ langs }}{% unless langs == blank -%}, {% endunless -%}{{ language.language }} ({{ language.fluency }}){% endcapture -%}
          {% endfor -%}

          {% if langs != blank -%}
            <dt>Language(s):</dt>
            <dd>{{ langs }}</dd>
          {% endif -%}

          <dt>Passengers:</dt>
          <dd>{{ transactable.properties.number_of_passengers }}</dd>

          {% if transactable.formatted_categories['Extras']['children'].size > 0 -%}
            <dt>Extras:</dt>
            <dd>{{ transactable.formatted_categories['Extras']['children'] }}</dd>
          {% endif %}
        </dl>
      </div>

      <div class="listing-b-user-details">
        {% assign passenger = transactable.creator -%}
        <div class="user-profile">
          <figure class="avatar">
            <img src="{{ passenger.avatar_url_big }}" alt="{{ passenger.name }}"></a>

            {% if order != blank and order.transactable_user_messages.size > 0 -%}
              <a class="action-message" data-modal="true" href="{{ 'dashboard_user_message_path' | generate_url: order.transactable_user_messages.first.id }}">{{ 'dashboard.order_items.send_message' | t}}</a>
            {% else -%}
              <a class="action-message" data-modal="true" href="{{ 'new_listing_user_message_path' | generate_url: transactable.id, skip: true }}">{{ 'dashboard.order_items.send_message' | t}}</a>
            {% endif -%}
          </figure>

          <h3>{{ passenger.name }}</h3>

          <p class="price">Price:
            {% if offer != blank -%}
            <span>{{ offer.total_amount_money | pricify }}</span>
            {% else -%}
            {% assign total = current_user.buyer_properties.hourly_price | times: transactable.properties.duration -%}
            <span data-convert-price="{{ total }}">{{ total | pricify }}</span>
            {% endif -%}
          </p>

          {% if passenger.properties.about | nl2br }} != blank -%}
          <p class="bio">{{ passenger.properties.about | nl2br }}</p>
          {% endif -%}
        </div>

        {% if transactable.state == 'pending' and collaborator != blank -%}
          {% if offer != blank -%}
            <div class="alert alert-info">Waiting for payment from Passenger</div>
          {% else -%}
            <div class="alert alert-info">Waiting for your approval</div>
          {% endif -%}
        {% endif -%}

        <p class="actions">
          {% if can_make_offer == true -%}
            {% if current_user.has_verified_merchant_account == true -%}
              {% assign pricing = transactable.action_type.pricings | detect: number_of_units: current_user.buyer_properties.driver_type_unit -%}
              <a class="btn btn-primary" href="{{ 'new_dashboard_order_path' | generate_url: transactable_id: transactable.id, quantity: transactable.properties.duration, transactable_pricing_id: pricing.id }}" data-modal="true">Accept Booking</a>
            {% else -%}
              <a class="btn btn-primary btn-sm" data-modal="true" href="{{ 'required_modal_dashboard_company_payouts_path' | generate_url }}">Accept Booking</a>
            {% endif -%}
          {% endif -%}

          {% if current_status == 'pending' -%}
            {% assign transactable_collaborator = current_user | find_collaborator: transactable -%}
              <a class="btn btn-default btnms-m" href="{{ 'dashboard_transactable_collaborator_path' | generate_url: transactable_collaborator.id }}" data-method="delete" data-confirm="Are you sure you want to decline this booking?">Decline Booking</a>
          {% endif -%}
        </p>

        <p class="invite-sent"><small>Invite received: {{ collaborator.created_at | to_date | l: 'short' }}</small></p>
      </div>
    </div>
  </article>
{% endfor -%}
