{% for transactable in transactables %}
  {% assign collaborator = transactable.transactable_collaborators[0] %}
  {% assign offer = transactable.orders | select: user_id: collaborator.user.id | first %}

  <article class="listing-b" id="transactable_{{transactable.id}}">

    {% if transactable.state == 'pending' and collaborator != blank %}
      {% if offer != blank %}
        <span class="label label-success">Waiting for payment from Passenger</span>
      {% else %}
        <span class="label label-success">Waiting for your approval</span>
      {% endif %}
    {% elsif transactable.state == 'in progress' %}
      <span class="label label-info">In Progress</span>
    {% elsif transactable.state == 'completed' %}
      <span class="label label-success">Completed</span>
    {% elsif transactable.state == 'cancelled' %}
      <span class="label label-warning">Cancelled</span>
    {% endif %}

    <h2>{{ transactable.name }}</h2>

    {% assign orders = current_user | get_enquirer_orders: transactable %}
    {% assign can_make_offer = false %}
    {% if current_status == 'pending' %}
      {% if orders == empty %}
        {% assign can_make_offer = true %}
      {% else %}
        {% assign can_make_offer = true %}
        {% for order in orders %}
          {% if order.state == 'unconfirmed' %}
            {% assign can_make_offer = false %}
          {% endif %}
        {% endfor %}
      {% endif  %}
    {% endif %}

    {% unless current_user.has_verified_merchant_account == true %}
      <div class='alert alert-warning'>Before making any offer, you need to set up your <a href="{{ 'edit_dashboard_company_payouts_path' | generate_url: company.id }}">merchant account</a>.</div>
    {% endunless %}

    <div class="row">
      <div class="col-md-8">
        <dl class="properties">
          <dt>Date</dt>
          <dd>{{ transactable.properties.trip_start_date | to_date | l: 'short' }}</dd>

          <dt>Start Time</dt>
          <dd>{{ transactable.properties.trip_start_time }}</dd>

          <dt>Length</dt>
          {% assign duration = transactable.properties.duration | plus: 0 %}
          <dd>{{ duration }} {% if duration == 1 %}hour{% else %}hours{% endif %}</dd>

          <dt>Pickup Location</dt>
          <dd>{{ transactable.properties.pickup_location }}</dd>
        </dl>
      </div>
      <div class="col-md-4">
        {% include 'dashboard/company/transactables/driver_actions.html', order: orders.last %}
      </div>
    </div>

    <div class="row">
      <dl class="properties">
        <dt>Passenger Name</dt>
        <dd>{{ transactable.creator.name }}</dd>

        {% if collaborator != blank%}
          <dt>Invite Sent</dt>
          <dd>{{ collaborator.created_at | to_date | l: 'short' }}</dd>
        {% endif %}

        <dt>City</dt>
        <dd>{{ transactable.properties.city }}</dd>

        <dt>Languages spoken</dt>
        {% assign languages = transactable.customizations | map: 'properties' | map: 'language' %}
        <dd>{{ languages | join: ', ' }}</dd>

        <dt>Number of Passengers</dt>
        <dd>{{ transactable.properties.number_of_passengers }}</dd>

        <dt>Extras</dt>
        <dd>{{ transactable.formatted_categories['Extras']['children'] }}</dd>

        <dt>Price</dt>
        <dd>{{ current_user.buyer_properties.hourly_price | times: transactable.properties.number_of_passengers | pricify }}</dd>
      </dl>
    </div>

  </article>
{% endfor %}
