{% for transactable in transactables %}
  {% assign collaborator = transactable.transactable_collaborators[0] %}
  {% assign offer = transactable.not_cancelled_orders | detect: user_id: collaborator.user.id %}
  {% assign prices = transactable.action_type.transactable_type_action_type.pricings | group_by: 'number_of_units' %}

  <article class="listing-b" id="transactable_{{transactable.id}}">
    <header>
      <h2>{{ transactable.name }}</h2>

      {% if current_status != 'archived' %}
        <a href="{{ transactable.show_path }}" class="btn btn-primary btn-sm" rel="external">Visit booking page</a>
      {% endif %}

      {% if transactable.state == 'completed' %}
        <span class="label label-success">Completed</span>
      {% elsif transactable.state == 'cancelled' %}
        <span class="label label-warning">Cancelled</span>
      {% endif %}
    </header>

    <div class="listing-b-inner">
      <div class="listing-b-booking-details">
        <dl class="properties">
          <dt>When:</dt>
          <dd>{{ transactable.properties.trip_start_date | l: 'short' }} at {{ transactable.properties.trip_start_time | l: 'short' }}</dd>

          <dt>How long:</dt>
          {% assign duration = transactable.properties.duration %}
          <dd>{{ duration }} {% if duration == 1 %}hour{% else %}hours{% endif %}</dd>

          <dt>Pickup at:</dt>
          {% if transactable.properties.unknown_location %}
            <dd>To be determined</a></dd>
          {% else %}
            <dd><a href="https://www.google.com/maps/place/{{ transactable.location.address }}">{{ transactable.location.address }}</a></dd>
          {% endif %}
        </dl>

        <div class="actions">
          {% if current_status == 'pending' %}
            <a href='{{ transactable.edit_path }}' class="btn btn-default btn-sm">Edit details</a>
          {% endif %}

          {% if current_status == 'in progress' %}
            <a href="{{ offer.order_complete_url }}" data-method="post" class="btn btn-success btn-sm" data-confirm="Are you sure you want to mark this booking as completed?">Mark as completed</a>
          {% endif %}

          {% if current_status != 'archived' %}
            <a href='{{ transactable.cancel_form_path | append: "?status=" | append: current_status }}' data-modal='true' class="btn btn-default btn-sm">Cancel Booking</a>
          {% endif %}
        </div>
      </div>

      <div class="listing-b-user-details">
        {% if collaborator == blank %}
          <h3 class="no-driver-selected">You have not selected a driver for this booking yet. Please click on Find A Driver above to choose a driver and send your booking.</h3>
        {% else %}
          {% assign driver = collaborator.user %}
          <div class="user-profile">
            <figure class="avatar">
              <a href="{{ driver.user_profile_url }}" rel="external"><img src="{{ driver.avatar_url_big }}" alt="{{ driver.first_name }}"></a>

              {% if collaborator.transactable_user_messages.size == 0 %}
                <a data-modal="true" class="action-message" href="{{ 'new_listing_user_message_path' | generate_url: transactable.id, user_id: collaborator.user.id, skip: true }}">{{ 'dashboard.user_reservations.send_message' | t}}</a>
              {% else %}
                <a data-modal="true"  class="action-message" href="{{ 'dashboard_user_message_path' | generate_url: collaborator.transactable_user_messages.first.id }}">{{ 'dashboard.user_reservations.send_message' | t}}</a>
              {% endif %}
            </figure>

            <h3><a href="{{ driver.user_profile_url }}" rel="external">{{ driver.first_name }}</a></h3>

            {% if offer != blank and offer.confirmed? %}
              <p class="driver-phone">Phone: <b>{{ driver.phone }}</b></p>
            {% endif %}

            <p class="driver-category driver-category-{{ driver.buyer_properties.driver_category | downcase }}">Category: <b>{{ driver.buyer_properties.driver_category }}</b></p>
            <p class="price">Price:
              {% if offer != blank %}
                {% assign full_price = offer.total_amount %}
                {% assign guest_fee = offer.service_fee_amount_guest_money %}
              {% else %}
                {% assign price = prices[driver.buyer_properties['driver_type_unit']].first %}
                {% assign full_price = price.fixed_price_with_guest_service_fee | times: transactable.properties['duration'] %}
                {% assign guest_fee = price.fixed_price_guest_service_fee | times: transactable.properties['duration']   %}
              {% endif %}
              <span data-convert-price="{{ full_price.to_f }}">AUD {{ full_price | pricify }}<br /><span style="font-size: 0.75em; font-weight: normal;">(plus AUD {{ guest_fee | pricify }} service fee)</span></span>
            </p>

            {% if driver.buyer_properties.short_bio != blank %}
              <p class="bio">{{ driver.buyer_properties.short_bio | nl2br }}</p>
            {% endif %}
          </div>

          {% if transactable.state == 'pending' and collaborator != blank %}
            {% if offer != blank and offer.unconfirmed? %}
              <div class="alert alert-info">Approved by Driver, waiting for your payment</div>
            {% elsif offer != blank and offer.rejected? %}
              <div class="alert alert-warning">Approved by Driver, waiting for your payment</div>
            {% else %}
              <div class="alert alert-info">Waiting for Driver to approve</div>
            {% endif %}
          {% endif %}

          {% if offer != blank and current_status == 'pending' and offer.unconfirmed? %}
            <p class="actions">
              <a class="btn btn-primary btn-sm" data-modal="true" href="{{ 'new_dashboard_company_orders_received_payment_path' | generate_url: offer.id }}">Pay now</a>
            </p>
          {% endif %}

          {% comment %}
          {% if offer != blank and current_status != 'archived' and offer.cancellable? %}
            <p class="actions">
              <a class="btn btn-default btn-sm" data-modal="true" href="{{ 'rejection_form_dashboard_company_orders_received_path' | generate_url: offer.id, listing_id: transactable.id }}">Cancel Driver</a>
            <p class="actions">
          {% endif %}
          {% endcomment %}

          {% if offer == blank and current_status == 'pending' %}
            <p class="actions">
              <a class="btn btn-default btn-sm" href="{{ collaborator.destroy_path }}" data-method="delete" data-confirm="Are you sure you want to remove this invite?">Remove invite</a>
            </p>
          {% endif %}


          {% for language in driver.buyer_profile.customizations_by_type['Languages'] %}
            {% capture langs %}{{ langs }}{% unless langs == blank %}, {% endunless %}{{ language.language }} ({{ language.fluency }}){% endcapture %}
          {% endfor %}
          <dl class="properties">
            {% if langs != blank %}
              <dt>Languages</dt>
              <dd>{{ langs }}</dd>
            {% endif %}

            <dt>Vehicle</dt>
            <dd>{{ driver.buyer_properties.vehicle_type }} {{ driver.buyer_properties.vehicle_model }} ({{ driver.buyer_properties.vehicle_year }})</dd>

            <dt>Capacity</dt>
            <dd>{{ 'passengers_count' | t: count: driver.buyer_properties.vehicle_capacity }}</dd>

            {% if driver.formatted_buyer_categories['Extras']['children'].size > 0 %}
              <dt>Extras</dt>
              <dd>{{ driver.formatted_buyer_categories['Extras']['children'] | join: ', ' }}</dd>
            {% endif %}
          </dl>

          <p class="invite-sent"><small>Invite Sent: {{ collaborator.created_at | to_date | l: 'short' }}</small></p>
        {% endif %}
      </div>
    </div>
  </article>
{% endfor %}
