{% for transactable in transactables %}
  {% assign collaborator = current_user  | find_collaborator: transactable %}
  <article class="listing-b" id="transactable_{{transactable.id}}">

    {% if transactable.state == 'in progress' %}
      <span class="label label-info">In Progress</span>
    {% elsif transactable.state == 'completed' %}
      <span class="label label-success">Completed</span>
    {% elsif transactable.state == 'cancelled' %}
      <span class="label label-warning">Cancelled</span>
    {% endif %}

    <h2>{{ transactable.name }}</h2>

    {% assign orders = current_user | get_enquirer_orders: transactable %}
    {% assign can_make_offer = false %}
    {% if current_status == 'pending' %}
      {% if orders == empty %}
        {% assign can_make_offer = true %}
      {% else %}
        {% assign can_make_offer = true %}
        {% for order in orders %}
          {% if order.state == 'unconfirmed' %}
            {% assign can_make_offer = false %}
          {% endif %}
        {% endfor %}
      {% endif  %}
    {% endif %}

    {% unless current_user.has_verified_merchant_account == true %}
      <div class='alert alert-warning'>Before making any offer, you need to set up your <a href="{{ 'edit_dashboard_company_payouts_path' | generate_url: company.id }}">merchant account</a>.</div>
    {% endunless %}

    <div class="row">
      <div class="col-md-8">
        <dl class="properties">

          {% if transactable.properties.project_contact != blank %}
              <dt>Contact</dt>
              <dd>
                {{ transactable.properties.project_contact }}
                {% if transactable.creator.seller_properties['linkedin_url'] != blank %}
                   | <a href="{{ transactable.creator.seller_properties['linkedin_url'] }}" target="_blank">LinkedIn Bio</a>
                {% endif %}
              </dd>
          {% endif %}

          {% if transactable.creator.company_name != blank %}
              <dt>Company</dt>
              <dd>{{ transactable.creator.company_name }}</dd>
          {% endif %}

          <dt>Invite sent</dt>
          <dd>{{ collaborator.approved_by_owner_at | to_date | l: 'short' }}</dd>

          <dt>Workplace</dt>
          <dd>{{ transactable.properties.workplace_type }}</dd>

          {% assign show_office = transactable.properties.workplace_type | matches: 'On Site' %}
          {% if show_office %}
            <dt>Office</dt>
            <dd>{{ transactable.properties.office_location }}</dd>
          {% endif %}

          {% if transactable.action_free_booking? %}
            <dt>Type</dt>
            <dd>Pro Bono</dd>
          {% else %}
            <dt>Type</dt>
            <dd>Paid</dd>

            <dt>Approx. Budget</dt>
            <dd>{{ transactable.properties.budget | pricify }}</dd>
          {% endif %}

          <dt>Deadline</dt>
          <dd>{{ transactable.properties.deadline | to_date | l: 'short' }}</dd>

          <dt>Approx. Time to Complete</dt>
          <dd>{{ transactable.properties.estimation }}</dd>
        </dl>
      </div>
      <div class="col-md-4">
        {% include 'dashboard/company/transactables/sme_actions.html', order: orders.last %}
      </div>
    </div>

    {% if transactable.description != blank %}
        <hr>
        <h4>Description:</h4>
        {% if transactable.description.size > 350 %}
           <div data-shorten-description>
            <p data-description>{{ transactable.description | slice: 0, 350 | nl2br }}<span class="show_more_container">...<a class="show_more_link"> show more</a></span></p>
            <div style='display: none;'  class="rest_of_text">{{ transactable.description | slice: 350, transactable.description.size | nl2br }}</div>
          </div>
        {% else %}
          <p>{{ transactable.description | nl2br }}</p>
        {% endif %}
    {% endif %}

    <hr>

    {% if orders != empty %}
      {% assign order = orders.last %}
      <h3>Offer</h3>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Offer Made:</th>
              <th>Offer Status:</th>
              {% if order.unconfirmed? %}
                <th>Offer Action:</th>
              {% else %}
                <th>Date</th>
              {% endif %}
              {% if order.confirmed? %}
                <th>View offer</th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ order.created_at | to_date | l: 'short' }}</td>
              <td>
                {% if order.archived_at != blank and order.transactable.pending? == false %}
                  Archived
                {% else %}
                  {{ 'reservations.states.' | append: order.state | t }}
                {% endif %}
              </td>
              {% if order.unconfirmed? %}
                <td>
                  {% if order.unconfirmed? %}
                    <a class="btn btn-success" href="{{ order.payment_documents[0].file_url }}" download="{{ order.payment_documents[0].file_name }}" target="_blank">View</a>
                    <a class="btn btn-info" href="{{ 'edit_dashboard_order_path' | generate_url: order.id }}">{{ 'general.edit' | t }}</a>
                    <a class="btn btn-danger" href="{{ 'enquirer_cancel_dashboard_order_path' | generate_url: order.id }}" data-method="post" data-confirm="Are you sure you want to cancel?">{{ 'general.cancel' | t }}</a>
                  {% endif %}
                </td>
              {% elsif order.confirmed? %}
                <td>{{ order.confirmed_at | l: 'long' }}</td>
              {% else %}
                <td>{{ order.archived_at | l: 'long' }}</td>
              {% endif %}
              {% if order.confirmed? %}
                <td><a href="{{ order.payment_documents[0].file_url }}" target="_blank">{{  order.payment_documents[0].file_name }}</a></td>
              {% endif %}
            </tr>
          </tbody>
        </table>
      </div>
    {% endif %}
    {% assign order = transactable.last_accepted_order %}
    {% if order.confirmed? %}
      <a class="btn btn-info" href="{{ order.new_order_item_path }}">{{ 'dashboard.user_reservations.track_time' | t}}</a>
    {% endif %}

  </article>
{% endfor %}
