.content-container
  .sub-header-nav
    %ul
      - %w(all highlighted not_highlighted).each do |state|
        %li
          = link_to "#{state.humanize.capitalize} (#{UserBlogPost.send(state).count})", url_for(:filter => state), class: " #{'active' if state == params[:filter]}"

  %h4 User Posts
  .row
    .table-container.col-xs-12
      %table.table.sortable
        %thead
          %tr
            %th= t('instance_admin.blog.user_posts.name')
            %th= t('instance_admin.blog.user_posts.created_at')
            %th= t('instance_admin.blog.user_posts.published_at')
            %th= t('instance_admin.blog.user_posts.owner')
            %th= t('instance_admin.blog.user_posts.promoted')
            %th.actions-2
        %tbody
          - @blog_posts.each do |blog_post|
            = render 'index_row', blog_post: blog_post

