/ content wrapper
.wrap-a.reduce-top
  .contain
    / layout
    .page-a
      .primary
        / white box
        .box-a
          %h1.h2
            = t('activity_feed.title')

          = render 'feed', group: group, feed: feed, project_select: true, no_topic_select: true

      .secondary
        .box-a
          / header with button
          .header-a
            %h2.hx
              = t(:projects)
              = "(#{group.transactables.count})"

          .featured
            = render partial: 'shared/transactable', collection: group.transactables.last(4)

          .more-b
            = link_to t(:view_all), '#projects', role: "tab", :'data-toggle' => "tab" , class: 'button-a small light'

