<div class="{{ transactable_type.calculate_input_size }}">
  <div class="geolocation no-bookings" data-enable-geo-localization="{{ platform_context.enable_geo_localization }}">
    <span class="ico-crosshairs"></span>

    <div class='geo-loading text-center' data-loading style='display: none'>
        <img src="{{ "spinner.gif" | image_url }}" alt="Spinner" />
    </div>
  </div>
  <input class="query" name="loc" placeholder="{{ transactable_type.geolocation_placeholder }}" type="text" data-restrict-countries="{{ transactable_type.restrict_countries | json | raw_escape_string }}" />
</div>
<input id="lat" name="lat" type="hidden" value>
<input id="lng" name="lng" type="hidden" value>
<input id="nx" name="nx" type="hidden" value>
<input id="ny" name="ny" type="hidden" value>
<input id="sx" name="sx" type="hidden" value>
<input id="sy" name="sy" type="hidden" value>
<input id="country" name="country" type="hidden" value>
<input id="state" name="state" type="hidden" value>
<input id="city" name="city" type="hidden" value>
<input id="suburb" name="suburb" type="hidden" value>
<input id="street" name="street" type="hidden" value>
<input id="postcode" name="postcode" type="hidden" value>
