.span4
  %ul.nav.dashboard
    - current_user.companies.each do |company|
      %li{:class => dashboard_company_nav_class(company)}
        = link_to [:edit, :manage, company] do
          %strong= company.name
        - if company.locations.any?

          - company.locations.each do |location|
            %li{:class => "#{dashboard_location_nav_class(location)} location"}
              = link_to [:edit, :manage, location] do
                = location.name


