.wrap-a.reduce-top
  .contain

    %h1.h2
      = t :my_account

    %nav.tabs-a.trio
      %ul
        %li
          = link_to t(:edit_profile), dashboard_profile_path
        %li
          = link_to t(:notifications), edit_dashboard_notification_preferences_path
        %li.is-active
          = link_to t(:social_accounts), social_accounts_path

    = render "edit_social_accounts"
