<h1>Hi, {{ enquirer.first_name }}</h1>
<p><a href="{{ lister.profile_url }}">{{ lister.name }}</a> has approved you as a collaborator on <a href="{{ transactable.listing_url }}">{{ transactable.name }}</a>.</p>
<p>Don't forget to follow the project to stay up-to-date with the latest developments.</p>
