<h1>Hi {{ enquirer.first_name }},</h1>

<p>
  <a href="{{ lister.profile_url }}">{{ lister.name }}</a>  has invited you to become
  a collaborator on <a href="{{ transactable.listing_url }}">{{ transactable.name }}</a>.
  Learn more about the listing.
</p>

<p><a href="{{ enquirer.profile_url }}#transactables" >Accept | Decline invitation</a></p>
