= simple_form_for resource, :as => resource_name, :url => url, :html => { class: "form-horizontal" } do |f|
  = f.input :name, label: "Your name", placeholder: "Enter your full name"
  = f.input :email, label: "Your email address", placeholder: "Valid email address"

  // Need to let the user enter a password if no Provider.
  // Also need to let them change their password if they had previously used one.
  - if resource.has_password?
    .control-group
      = f.label :password, class: "control-label"
      .controls.two-up
        = f.password_field :password,              placeholder: "Your password"
        = f.password_field :password_confirmation, placeholder: "Confirm password"

  .control-group.organizations
    = f.label :organization_ids, label: "Professional Associations"
    %p
      Please check any professional associations with which you are affiliated. You can then access listings restricted to members of these associations.
    = f.input :organization_ids, :collection => Organization.order('name').all, as: :check_boxes, label: false

  .actions
    = f.submit (resource.persisted?) ? "Save Changes" : "Sign Up Now"
