= simple_form_for resource, :as => resource_name, :url => url, :html => { class: "form-horizontal form-expandable" } do |f|
  = f.input :name, label: "Full name"
  = f.input :email, label: "Email"
  = render("registrations/networks", :supported_providers => @supported_providers) if resource.persisted?
  = render :partial => 'registrations/phone_fields', :locals => { :f => f, :country => country }
  = f.association :industries, :blank => false, :input_html => { :class => 'custom-select' }
  = f.input :job_title, label: "Job title"
  = f.input :biography, label: "Biography"
  = f.input :password, :label => (resource.persisted? ? "Change password" : "Password" )
  .single-photo
    = file_upload_input_with_label('Profile Photo', avatar_path, "avatar", "Upload Photo", {"no-multiple" => true}) do
      - if resource.avatar.file.present?
        = fileupload_photo resource.avatar_url(:thumb).to_s, destroy_avatar_path, resize_form_manage_photo_path(resource.avatar), :div


  .actions
    = f.submit (resource.persisted?) ? "Save" : "Sign Up"

:javascript
  $(function() {
    new PhoneNumbers.FieldsForm()
  });

