= simple_form_for resource, :as => resource_name, :url => url, :html => { class: "form-horizontal form-expandable" } do |f|
  = f.input :name, label: "Your name", placeholder: "Full name"
  = f.input :email, label: "Your email address", placeholder: "Email"
  = f.input :password, :label => "Your password", placeholder: "Password"
  = f.input :mobile_country_code, :label => "Mobile country", :as => :select, :collection => user_mobile_country_code_options
  = f.input :mobile_number, :label => "Mobile number"
  = f.association :industries, :blank => false, :input_html => { :class => 'custom-select' }
  = f.input :job_title, label: "Job title", placeholder: "Your job title"
  = f.input :biography, label: "Biography", placeholder: "Your biography"

  = file_upload_input_with_label('Profile Photo', avatar_path, "avatar", "Upload Photo", {"no-multiple" => true}) do
    - if resource.avatar.file.present?
      = fileupload_photo resource.avatar_url(:thumb).to_s, destroy_avatar_path, :div

  .actions
    = f.submit (resource.persisted?) ? "Save Changes" : "Sign Up Now"

