= simple_form_for resource, :as => resource_name, :url => url, :html => { class: "form-horizontal form-expandable" } do |f|
  = f.input :name, label: "Your name", placeholder: "Full name"
  = f.input :email, label: "Your email address", placeholder: "Email"
  = f.input :password, :label => "Your password", placeholder: "Password"
  = f.input :country_name, :label => "Country", :as => :select, :collection => user_country_name_options, :input_html => { :class => "custom-select" }
  .control-group.optional.mobile-number-field
    = f.label :mobile_number
    .controls
      .phone-number-country-code-field
        .country-calling-code
          = "+#{resource.country.calling_code}" if resource.country
        = f.text_field :mobile_number

  .control-group.optional
    = f.label :phone, 'Phone number', :class => 'control-label'
    .controls
      .phone-number-country-code-field
        .country-calling-code
          = "+#{resource.country.calling_code}" if resource.country
        = f.text_field :phone

      = label_tag do
        = check_box_tag 'user_phone_same_as_mobile', '1', (resource.phone == resource.mobile_number)
        = "Same as mobile"

  = f.association :industries, :blank => false, :input_html => { :class => 'custom-select' }
  = f.input :job_title, label: "Job title", placeholder: "Your job title"
  = f.input :biography, label: "Biography", placeholder: "Your biography"

  = file_upload_input_with_label('Profile Photo', avatar_path, "avatar", "Upload Photo", {"no-multiple" => true}) do
    - if resource.avatar.file.present?
      = fileupload_photo resource.avatar_url(:thumb).to_s, destroy_avatar_path, :div

  .actions
    = f.submit (resource.persisted?) ? "Save Changes" : "Sign Up Now"

:javascript
  $(function() {
    new Users.EditForm($('#edit_user'))
  });

