= simple_form_for resource, :as => resource_name, :url => url, :html => { class: "form-horizontal form-expandable" } do |f|
  = f.input :name, label: "Your name", placeholder: "Enter your full name"
  = f.input :email, label: "Your email address", placeholder: "Valid email address"
  // Need to let the user enter a password if no Provider.
  // Also need to let them change their password if they had previously used one.
  = f.input :password, :label => "Your password", placeholder: "Your password"
  = f.association :industries, :blank => false, :input_html => { :class => 'custom-select' }
  = f.input :job_title, label: "Job title", placeholder: "Your job title"
  = f.input :biography, label: "Biography", placeholder: "Your biography"

  = file_upload_input_with_label('Profile Photo', avatar_path, "avatar", "Upload Photo", {"no-multiple" => true}) do
    - if resource.avatar.file.present?
      = fileupload_photo resource.avatar_url(:thumb).to_s, destroy_avatar_path, :div

  .actions
    = f.submit (resource.persisted?) ? "Save Changes" : "Sign Up Now"

