= dashboard_simple_form_for @user_update_profile_form, :as => :user, :url => registration_path(resource_name), :html => { class: "form-expandable user-profile-form", :"data-includes-address-field" => true, autocomplete: 'off' } do |f|
  %input{:type => "hidden", name: "current_tab", "data-current-tab-input": ""}
  .panel
    .panel-body
      - @form_components.each do |form_component|
        - class_name = "form-component-wrapper form-component-default"
        - form_component_identifier = form_component.name.parameterize
        - class_name << " active" if params["current_tab"] == form_component_identifier
        %div{ class: class_name, id: "form-component-#{form_component_identifier}", "data-tab-name": form_component_identifier  }
          %h3.sr-only= form_component.name

          - form_component.form_fields.each do |form_field|
            - model = form_field.keys.first
            - field = form_field[model]
            - if model == 'user'
              = render :partial => 'registrations/new_attributes', :locals => { f: f, only_inputs: [field.to_sym], country: @country }
            - elsif model == 'buyer'
              = f.simple_fields_for :profiles do |profiles_form|
                = profiles_form.simple_fields_for :buyer do |buyer_profile_form|
                  - next if buyer_profile_form.object.nil?
                  = render :partial => 'user_profiles/form', :locals => { f: buyer_profile_form, user_form: f, only_inputs: [field.to_sym] }
            - elsif model == 'seller'
              = f.simple_fields_for :profiles do |profiles_form|
                = profiles_form.simple_fields_for :seller do |seller_profile_form|
                  - next if seller_profile_form.object.nil?
                  = render :partial => 'user_profiles/form', :locals => { f: seller_profile_form, user_form: f, only_inputs: [field.to_sym] }

  .panel.form-actions
    .panel-body
      = f.submit t('general.save')
