- supported_providers.each do |provider|
  .row
    .col-md-5
      %h5= provider
      %p= t("registrations.social_accounts.#{provider.downcase}_info")
    .col-md-7
      = build_link_for(provider, "btn blue #{provider.downcase} provider_#{provider.downcase}").html_safe
- end unless supported_providers.nil?
