%div{'data-phone-fields-container' => true }
  = f.input :country_name, :label => "Country", :as => :select, :collection => user_country_name_options, :selected => user_country_default(f.object.try(:country_name) || @country), :input_html => { 'data-country-selector' => true, :class => "select2" }, :required => true, include_blank: true
  = f.input :phone, wrapper: :bs_phone, required: is_required?(f.object, :phone), input_html: { data: { phone: true } }
  = f.input :mobile_number, required: is_required?(f.object, :mobile_number), wrapper: :bs_phone, input_html: { data: { mobile_number: true } }
  .control-group
    .controls
      = label_tag do
        = check_box_tag "#{(f.object.class.name || f.object.model.class.name).underscore}_mobile_same_as_phone", '1', (f.object.phone == f.object.mobile_number), data: { 'same-as-phone-checkbox' => true }
        =  t 'general.same_as_phone'
