= simple_form_for resource, as: :user, url: registration_path(resource_name), html: { class: form_classes } do |f|
  = hidden_field_tag 'wizard', params[:wizard] if params[:wizard]
  = hidden_field_tag 'role', @role

  - tab_index = 0

  = f.simple_fields_for :"#{@role}_profile", f.object.send(:"get_#{@role}_profile") do |profile_form|
    = profile_form.input :instance_profile_type_id, as: :hidden
    = profile_form.simple_fields_for :properties do |properties_form|
      - @form_component.form_fields.each_with_index do |form_field, index|
        -# Tab index needs to start with 1
        - tab_index += 1

        - model = form_field.keys.first
        - field = form_field[model]

        - if model == 'user'
          - if lookup_context.template_exists?("#{field}_component.html.haml", "registrations/signup_form_components/#{model}", true)
            = render partial: "registrations/signup_form_components/#{model}/#{field}_component",
              locals: { form: f, tab_index: tab_index, hide_password: hide_password, profile_form: profile_form, properties_form: properties_form }

        - (profile_form.object.instance_profile_type.try(:custom_attributes) || []).each do |attribute|
          = draw_attribute_for_form(attribute, properties_form, nil, { placeholder: attribute.label,
            input_html: { tabindex: tab_index }, label_html: { class: 'hidden' } }) if field == attribute.name

      - if platform_context.instance.force_accepting_tos
        = render 'registrations/tos_form', user: f.object, error: f.object.errors[:accept_terms_of_service].join(', '),
          checked: !f.object.errors[:accept_terms_of_service].present?
      - else
        - if @legal_page_present
          %p.notice.text-center.legal
            #{t('sign_up_form.confirm_tos')} #{link_to t('sign_up_form.tos'), pages_path('legal'), :target => '_blank'}.
      .actions
        = f.submit t('sign_up_form.buttons.sign_up'), class: 'desksnearme submit btn btn-green', data: { disable_with: t('sign_up_form.disabled_buttons.sign_up') }, tabindex: tab_index+1
