.signup-no-provider{:style => ('display: none' if user_auth_provider)}
  %h3.twitter-login
    Sign up with:

  = render 'authentications/services'

  .hr.divider
    %span Or

  = simple_form_for resource, :as => :user, :url => registration_path(resource_name), :html => { :class => "form-horizontal new_user" } do |f|
    = hidden_field_tag 'wizard', params[:wizard] if params[:wizard]

    = f.input :name, :label => "Your name", :placeholder => "Enter your full name"
    = f.input :email, :label => "Your email address", :placeholder => "Valid email address"
    .control-group{:class => ("error" if f.object.errors[:password].any?)}
      = f.label :password, raw("<abbr title='required'>*</abbr> Your password"), class: "control-label required"
      .controls.two-up
        = f.password_field :password,              placeholder: "Your password"
        = f.password_field :password_confirmation, placeholder: "Confirm password"

        - if f.object.errors[:password].any?
          %p.error-block= f.object.errors[:password].to_sentence

    .actions
      = f.submit 'Sign up', :disable_with => "Signing up..."

  %h3.legal By signing up, you confirm that you accept the #{link_to "Terms of Service and Privacy Policy", legal_path}.

- if user_auth_provider
  .signup-provider
    .inner-box.connected-provider
      = link_to 'Close', clear_authentications_url, :method => :post, :remote => true, :class => "close-button"
      .avatar
        = image_tag user_auth_provider.avatar_url
      %h3= user_auth_provider.name
      %p= user_auth_provider.connection_description

    %p.intro
      We just need a couple more details:

    = simple_form_for resource, :as => :user, :url => registration_path(resource_name), :html => { :class => "form-horizontal new_user" } do |f|
      = hidden_field_tag 'wizard', params[:wizard] if params[:wizard]

      - # TODO: Certain providers may have particular additional fields they require
      = f.input :email, :label => "Your email address", :placeholder => "So we can contact you"

      .actions
        = f.submit 'Sign up'

:javascript
  $(function() {
    new SignupForm($('#signup'))
  });
