- legacy false
- title "Sign up to Desks Near Me"

#signup
  - if registration_wizard
    = render :layout => "#{registration_wizard}_wizard/wizard_layout", :locals => { :step => 0 } do
      = render 'registrations/signup_form'

  - else
    .two-thirds.column.alpha
      .box
        %h2== Sign up to Desks Near Me

        = render 'registrations/signup_form'

    .one-third.column.omega.faqs-column
      %h2 Already have an account?
      %p
        If you've already registered a DesksNearMe account then head
        over to the #{link_to "log in", new_user_session_url} page instead.

      %h2 Forgotten your password?
      %p
        If you've forgotten your password, then don't sweat. We can help you recover
        access to your account. Just head over to the #{link_to "reset password", new_user_password_url}
        page and follow the steps.

