- render_content_outside_container!

.profile
  .container.row-fluid.page-wrapper
    = render 'registrations/profile/user_badge'
    .profile-content
      %ul.nav.nav-tabs
        - if buyable?
          - unless hide_tab?('products')
            %li.active
              %a{href: '#products', 'data-toggle' => 'tab'}= t 'user_profile.labels.tabs.products'
        - else
          - unless hide_tab?('services')
            %li.active
              %a{href: '#services', 'data-toggle' => 'tab'}= t 'user_profile.labels.tabs.services'

        - if hide_tab?('reviews') && false # TODO: Remove when reviews are implemented
          %li
            %a{href: '#reviews', 'data-toggle' => 'tab'}= t 'user_profile.labels.tabs.reviews', count: 0

        - if platform_context.instance.user_blogs_enabled? && @user.blog.present? && @user.blog.enabled? && !hide_tab?('blog_posts')
          %li
            %a{href: '#blog_posts', 'data-toggle' => 'tab'}= t 'user_profile.labels.tabs.blog_posts'

      .profile-listings.tab-content
        - if buyable?
          - unless hide_tab?('products')
            #products.tab-pane.active
              - if @user.companies.first.present? && @user.companies.first.products.count > 0
                = render 'registrations/profile/tabs/products'
              - else
                = render 'registrations/profile/no_content', tab: :products
        - else
          - unless hide_tab?('services')
            #services.tab-pane.active
              - if @user.companies.first.present? && @user.companies.first.listings.count > 0
                = render 'registrations/profile/tabs/services'
              - else
                = render 'registrations/profile/no_content', tab: :services

        - if hide_tab?('reviews') && false # TODO: Remove when reviews are implemented
          #reviews.tab-pane
            = render 'registrations/profile/no_content', tab: :reviews

        - if platform_context.instance.user_blogs_enabled? && @user.blog.present? && @user.blog.enabled? && !hide_tab?('blog_posts')
          - unless hide_tab?('blog_posts')
            #blog_posts.tab-pane
              - if @user.blog.present? && @user.has_published_blogs?
                = render 'registrations/profile/tabs/blog_posts'
              - else
                = render 'registrations/profile/no_content', tab: :blog_posts
