.row-fluid  
  .span8.offset2
    %h1 
      %span.ico-user.padding
        = @user.name
    .box.clearfix
      .span4.avatar
        - if @user.avatar.file.present?
          .part
            = image_tag @user.avatar.url(:big)
        .social.info.part
          =render_social_connection(@user, @user.social_connections_for('facebook'))
          =render_social_connection(@user, @user.social_connections_for('linkedin'))
          =render_social_connection(@user, @user.social_connections_for('twitter'))
          - if @user.social_url('instagram')
            =render 'social_connection', icon: 'ico-instagram', provider: 'instagram', count: 0, link: @user.social_url('instagram')
          =render 'social_connection', icon: 'ico-mail', provider: 'mail', count: 0, link: '#'
      .info{class: 'span8'}
        %h2= @user.job_title_and_company_name
        %h4= @user.current_location_and_industry
        %p= @user.biography
        - if @user.skills_and_interests.present?
          %h4 Skills & Interests
          %p= @user.skills_and_interests
