- render_content_outside_container!
- is_current_user = current_user && current_user.id == @user.try(:id)

- if @user.admin?
  .container-fluid
    .admin-profile-notice
      %p= t 'user_profile.labels.admin_profile'

%article.user-profile.container-fluid
  = render 'registrations/profile/header', platform_context: platform_context, user: @user, is_current_user: is_current_user, company: @company

  .profile-content
    .row-fluid
      .span3
        %nav
          %ul.nav.nav-pills.nav-stacked
            %li{ class: active_profile_tab_class(:general) }
              %a{:href => '#general', 'data-toggle' => 'tab'}= t 'user_profile.labels.tabs.general'

            - unless hide_tab?('services') || @listings.nil?
              %li{ class: active_profile_tab_class(:services) }
                %a{href: '#services', 'data-toggle' => 'tab'}= t 'user_profile.labels.tabs.services'

            - if RatingSystem.active.any?
              %li{ class: active_profile_tab_class(:reviews) }
                %a{href: '#reviews', 'data-toggle' => 'tab', class: 'reviews-tab'}= t 'user_profile.labels.tabs.reviews', count: @user.total_reviews_count

            - if platform_context.instance.blogging_enabled?(@user) && @user.blog.present? && @user.blog.enabled? && !hide_tab?('blog_posts')
              %li{ class: active_profile_tab_class(:blog_posts) }
                %a{href: '#blog_posts', 'data-toggle' => 'tab'}= t 'user_profile.labels.tabs.blog_posts'

      .span9
        .tab-content
          #general.tab-pane{ class: active_profile_tab_class(:general) }
            = render 'registrations/profile/tabs/general', platform_context: platform_context, user: @user, is_current_user: is_current_user, company: @company

          - unless hide_tab?('services') || @listings.nil?
            #services.tab-pane{ class: active_profile_tab_class(:services) }
              - if @company.present? && @listings.count > 0
                = render 'registrations/profile/tabs/services', listings: @listings
              - else
                = render 'registrations/profile/no_content', tab: 'services', user: @user

          - if RatingSystem.active.any?
            #reviews.tab-pane{ class: active_profile_tab_class(:reviews) }
              - if @reviews_counter.total > 0
                = render 'registrations/profile/tabs/reviews'
              - else
                = render 'registrations/profile/no_content', tab: 'reviews', user: @user

          - if platform_context.instance.blogging_enabled?(@user) && @user.blog.present? && @user.blog.enabled? && !hide_tab?('blog_posts')
            - unless hide_tab?('blog_posts')
              #blog_posts.tab-pane{ class: active_profile_tab_class(:blog_posts) }
                - if @user.blog.present? && @user.has_published_posts?
                  = render 'registrations/profile/tabs/blog_posts', user: @user
                - else
                  = render 'registrations/profile/no_content', tab: 'blog_posts', user: @user
