= simple_form_for [:blog_admin, @blog_instance], :html => { :multipart => true } do |f|

  .control-group
    = f.label :enabled
    .switch-wrapper
      .switch{'data-on-label' => "", 'data-off-label' => ""}
        = f.check_box :enabled

  = f.input :name
  = f.input :header
  = link_to(@blog_instance.header.filename, @blog_instance.header.url) if @blog_instance.header.present?

  = f.input :facebook_app_id

  .form-actions
    = f.button :submit, "Update settings"
