.content-container
  .row
    .input-container.col-xs-12
      .pull-left
        %h4= "Request ##{@ticket.id}"
      .pull-right
        %h4= "#{@ticket.state}".upcase
        %h4
          =select_tag("user[assigned_to_id]", options_for_select(@admins.map{|a| [a.name, a.id]}, @ticket.assigned_to.try(:id)), prompt: 'UNASSIGNED')

  .row.dropshadow
    .input-container.col-xs-12
      %h4= @message.subject

      - if @ticket.open?
        .form.message-form
          = simple_form_for(@message, url: instance_admin_manage_support_ticket_ticket_messages_path(@ticket)) do |f|
            = f.input :message, required: false, as: :text, class: 'textarea', :input_html => { class: 'form-control', rows: 10 }
            .attachments{:'data-attachment-list' => true }
              = render partial: 'support/ticket_message_attachments/attachment', collection: @message.attachments, as: :ticket_message_attachment
            .pull-right
              = render partial: 'support/ticket_message_attachments/form', locals: { f: f }
              = f.submit 'Update', class: 'btn btn-form'
              = f.submit 'Update and Resolve', class: 'btn btn-form'
            .clearfix

          = simple_form_for @ticket.attachments.build, url: support_ticket_ticket_message_attachments_path(@ticket), html: { class: 'hidden', :'data-attachment-form'=> true } do |f|
            = f.input :file, as: :file, input_html: { data: { file: true } }

.content-container.dropshadow{style: "background: white;"}
  = render partial: 'ticket_message', collection: @ticket.messages

= content_for :script do
  = render 'shared/modal'
  :javascript
    $('abbr.timeago').timeago();
    new SupportAssigner($('#user_assigned_to_id'));
    new Support.TicketMessageController($('.message-form').eq(0))