.content-container
  .row
    .input-container.col-xs-12
      .pull-left
        %h4= "Request ##{@ticket.id}"
      .pull-right
        %h4= "#{@ticket.state}".upcase
        %h4
          =select_tag("user[assigned_to_id]", options_for_select(@admins.map{|a| [a.name, a.id]}, @ticket.assigned_to.try(:id)), prompt: 'UNASSIGNED')

  .row.dropshadow
    .input-container.col-xs-12
      %h4= @message.subject

      - if @ticket.open?
        .form
          = simple_form_for(@message, url: instance_admin_manage_support_ticket_ticket_messages_path(@ticket)) do |f|
            = f.input :message, required: false, as: :text, class: 'textarea', :input_html => { class: 'form-control', rows: 10 }
            .pull-right
              = f.submit 'Update', class: 'btn btn-green'
              = f.submit 'Update and Resolve', class: 'btn btn-green'
            .clearfix

.content-container.dropshadow{style: "background: white;"}
  = render partial: 'ticket_message', collection: @ticket.messages

- content_for :domready do
  $('abbr.timeago').timeago();
  new SupportAssigner($('#user_assigned_to_id'));
