- @recurring_booking = @recurring_booking_request.recurring_booking.decorate
- @decorated_reservation = @recurring_booking.reservations.first.decorate

.row-fluid
  .span8.offset2
    .header
      %h1 Review your booking
      %p.location-name= @recurring_booking_request.listing.name
      %p.location-address= @recurring_booking_request.location.address

    .box
      %h2
        = @recurring_booking_request.recurring_booking.schedule.to_s
        %p
          = @recurring_booking.short_dates
          - if @recurring_booking_request.hourly_reservations?
            %br
            = @recurring_booking.hourly_summary

      = simple_form_for @recurring_booking_request, as: :reservation_request, :url => secure_recurring_listing_url(@recurring_booking_request.listing), :method => :post, :html => {:class => "payment form-horizontal"} do |f|
        = render 'listings/recurring_bookings/fields', :f => f

        - if @recurring_booking_request.errors.present?
          .flash.error
            %p Whoops! We couldn't make that recurring purchase.
            %ul
              - @recurring_booking_request.errors[:base].each do |error|
                %li= error

        .selected-dates-summary
          %hr.thin
          - dates_length = @recurring_booking.reservations.size
          - @recurring_booking.reservations.each_with_index do |r, index|
            %span{"class" => "#{r.valid? ? 'ico-check' : 'ico-close'} "}
            = r.periods.first.date.strftime('%a, %Y-%m-%d')
            - unless dates_length == index + 1
              %hr.thin

        %hr.thin

        %h2 Order Summary

        .order-summary
          .summary-line
            .summary-line-label Subtotal
            .summary-line-value.subtotal-amount= @decorated_reservation.subtotal_price
            .clearfix

          - if @decorated_reservation.has_service_fee?
            .summary-line
              .summary-line-label Service fee
              .summary-line-value.service-fee-amount= @decorated_reservation.service_fee_guest
              .clearfix

          .summary-line
            .summary-line-label Total per reservation
            .summary-line-value.total-amount= @decorated_reservation.total_price
            .clearfix

        - if @recurring_booking_request.display_phone_and_country_block?

          %h2 Contact Information

          = render 'contact_information_fields', :f => f


        - if @decorated_reservation.credit_card_payment?

          %h2 Payment

          = render 'credit_card_fields', :f => f

          - if @recurring_booking_request.confirm_reservations?
            %p.confirm-reservations= "This #{platform_context.lessor} manually confirms all bookings. Your card will not be charged until the booking is confirmed."

        - elsif @decorated_reservation.manual_payment?

          %h2 Payment

          .box.gray= t('reservations.payment_in_person')
          %p= "This #{platform_context.lessor} manually confirms all bookings"

        = f.button :submit, 'Request Booking', disable_with: "Booking..."

- content_for :script do
  = javascript_include_tag "https://js.stripe.com/v1/"
  :javascript
    $(function() {
      new Bookings.ReservationRequestFormController($('form.payment'));
      new PhoneNumbers.FieldsForm(
        $('form.payment'),
        {
          countrySelector : '#reservation_request_country_name',
          mobileSelector  : '#reservation_request_mobile_number',
          phoneSelector   : '#reservation_request_phone',
          sameAsSelector  : '#reservation_request_mobile_same_as_phone'
        }
      );
      window.sessioncamConfiguration.customDataObjects.push( { key: "event", value: "booking_modal_opened" } );
    });
