- @recurring_booking = @recurring_booking_request.recurring_booking.decorate
- @decorated_reservation = @recurring_booking.reservations.first.decorate

.row-fluid
  .span8.offset2
    .header
      %h1= t 'reservations_review.heading'
      %p.location-name= @recurring_booking_request.listing.name
      %p.location-address= @recurring_booking_request.location.address

    .box
      %h2
        = @recurring_booking_request.recurring_booking.schedule.to_s
        %p
          = @recurring_booking.short_dates
          - if @recurring_booking_request.action_hourly_booking?
            %br
            = @recurring_booking.hourly_summary

      = simple_form_for @recurring_booking_request, as: :reservation_request, :url => secure_recurring_listing_url(@recurring_booking_request.listing), :method => :post, :html => {:class => "payment form-horizontal"} do |f|
        = render 'listings/recurring_bookings/fields', :f => f

        - if @recurring_booking_request.errors.present?
          .flash.error
            %p= t 'recurring_reservations_review.errors.whoops'
            %ul
              - @recurring_booking_request.errors[:base].each do |error|
                %li= error

        .selected-dates-summary
          %hr.thin
          - dates_length = @recurring_booking.reservations.size
          - @recurring_booking.reservations.each_with_index do |r, index|
            %span{"class" => "#{r.valid? ? 'ico-check' : 'ico-close'} "}
            = r.periods.first.date.strftime('%a, %Y-%m-%d')
            - unless dates_length == index + 1
              %hr.thin

        %hr.thin

        %h2= t 'reservations_review.summary'

        .order-summary
          .summary-line
            .summary-line-label= t 'reservations_review.subtotal'
            .summary-line-value.subtotal-amount= @decorated_reservation.subtotal_price
            .clearfix

          - if @decorated_reservation.has_service_fee?
            .summary-line
              .summary-line-label= t 'reservations_review.service_fee'
              .summary-line-value.service-fee-amount= @decorated_reservation.service_fee_guest
              .clearfix


          - if @decorated_reservation.additional_charges.any?
            - @decorated_reservation.additional_charges.each do |charge|
              .summary-line
                .summary-line-label= charge.name
                .summary-line-value.service-fee-amount= charge.amount
                = hidden_field_tag "#{f.object_name}[additional_charge_ids][]", charge.additional_charge_type_id
                .clearfix

          .summary-line
            .summary-line-label= t 'recurring_reservations_review.total'
            .summary-line-value.total-amount= @decorated_reservation.total_price
            .clearfix

        - if @recurring_booking_request.display_phone_and_country_block?

          %h2= t 'reservations_review.contact_information'

          = render 'contact_information_fields', :f => f


        - if @decorated_reservation.credit_card_payment?

          %h2= t 'reservations_review.payment'

          = render 'payments/credit_card_fields', :f => f

          - if @recurring_booking_request.confirm_reservations?
            %p.confirm-reservations= "This #{platform_context.lessor} manually confirms all bookings. Your card will not be charged until the booking is confirmed."

        - elsif @decorated_reservation.manual_payment?

          %h2= t 'reservations_review.payment'

          .box.gray= t('reservations.payment_in_person')
          %p= t('reservations.manually_confirm', lessor: platform_context.lessor)

        = f.button :submit, t('reservations_review.buttons.request'), disable_with: t('reservations_review.disabled_buttons.request')

- content_for :script do
  :javascript
    $(function() {
      new Bookings.ReservationRequestFormController($('form.payment'));
      new PhoneNumbers.FieldsForm(
        $('form.payment'),
        {
          countrySelector : '#reservation_request_country_name',
          mobileSelector  : '#reservation_request_mobile_number',
          phoneSelector   : '#reservation_request_phone',
          sameAsSelector  : '#reservation_request_mobile_same_as_phone'
        }
      );
      window.sessioncamConfiguration.customDataObjects.push( { key: "event", value: "booking_modal_opened" } );
    });
