.content-container
  %h4 Generate CSR
  = simple_form_for @certificate_request, url: instance_admin_settings_certificate_request_path do |f|
    .row
      .input-container.col-xs-12
        = f.input :country, label: "ISO Country Code", as: :string, placeholder: "US", input_html: { class: 'form-control' }
    .row
      .input-container.col-xs-12
        = f.input :state, as: :string, placeholder: "California", input_html: { class: 'form-control' }
    .row
      .input-container.col-xs-12
        = f.input :city, as: :string, placeholder: "Mountain View", input_html: { class: 'form-control' }
    .row
      .input-container.col-xs-12
        = f.input :organization, as: :string, placeholder: "Marketplace, LLC.", input_html: { class: 'form-control' }
    .row
      .input-container.col-xs-12
        = f.input :department, as: :string, placeholder: "IT Department", input_html: { class: 'form-control' }
    .row
      .input-container.col-xs-12
        = f.input :common_name, label: "Common name (Fully Qualified Domain Name)", as: :string, placeholder: "*.example.com", input_html: { class: 'form-control' }
    .row
      .input-container.col-xs-12
        = f.input :email, as: :email, placeholder: "admin@example.com", input_html: { class: 'form-control' }

    = content_for :header_buttons do
      = f.button :submit, 'Generate', class: "btn btn-blue pull-right", data: { 'submit-form' => 1, 'form-selector' => 'form' }
      = link_to 'Cancel', instance_admin_settings_domains_url , class: 'btn btn-light pull-right'

