<p class="action" data-follow-button>
  {% if current_user == blank %}
    <a href="{{ 'new_user_session_path' | generate_url: return_to: '/?home=1' }}" class='button-a tiny'>
      {{ 'activity_feed.verbs.follow' | translate }}
    </a>
  {% else %}
    {% if object.is_followed %}
      <a href="{{ 'unfollow_path' | generate_url: id: object.id, type: object_type }}" class='button-a tiny' data-remote='true' data-object-id='{{ object.id }}' data-method='delete'>
        {{ 'activity_feed.verbs.unfollow' | translate }}
      </a>
    {% else %}
      <a href="{{ 'follow_path' | generate_url: id: object.id, type: object_type }}" class='button-a tiny' data-remote='true' data-object-id='{{ object.id }}' data-method='post'>
        {{ 'activity_feed.verbs.follow' | translate }}
      </a>
    {% endif %}
  {% endif %}
</p>
