{% query_graph 'hallmark_home_not_signed_in', result_name: g %}

<div id="intro-video"{% if hide_intro_video %} class="inactive"{% endif %}></div>

<div class="hero-a">
  <div class="contain">
    <h2 class="hx">{{ 'hero_slogan' | translate }}</h2>
    <p>{{ 'hero_description' | translate }}</p>
    {% if current_user == blank %}<p class="action"><button type="button" class="button-a large alt static">{{ 'join_now' | translate }}</button></p>{% endif %}
  </div>
</div>

{% if current_user == blank %}
<div class="wrap-a white">
  <div class="contain">
    <div class="header-a _mBa">
      <h2 class="hx">Page Title</h2>
      <p class="tx-a">Secondary title or call to action for the text that follows in this section below.</p>
    </div>

    <div class="page-copy-a">
      <img src="https://dmtyylqvwgyxw.cloudfront.net/instances/5011/uploads/images/ckeditor/picture/data/1386/be-a-KOC-insider.jpg" alt="Be a KOC insider all year long!" class="alignright" width="438" height="279">

      <p>Access to Keepsake Community also gives you a free subscription to Feeln for unlimited streaming of your favorite feel-good movies and shows &mdash; without commercials or ads. Activate up to five devices and watch Christmas movies year-round, Hallmark Hall of Fame movies and other fresh titles added monthly. Plus, exclusive Keepsake video content coming soon. Get the full Keepsake Ornament Club experience, 365 days a year, 24/7, whenever and wherever you may be!</p>
    </div>
  </div>
</div>
{% endif %}

<div class="wrap-a white">
  <div class="contain">
    <!-- header with button
    -->
    <div class="header-a _mBa">
      <h2 class="hx">
        {{ 'featured_topics' | translate }}
      </h2>
      <p class="tx-a">
      {{ 'featured_topics_description' | translate }}
      </p>
      <p class="action">
      <a href="/search/topics?sort=featured" class='button-a small light'>{{ 'view_all' | translate }}</a>
      </p>
    </div>
    <!-- topics
    -->
    <div class="topics-a">
      <div class="wrap">
        <ul class="a">
          <li class="big"><a href="{{ g.topics[0].show_url }}" style="{{ g.topics[0].background_style_big }}"><span>{{ g.topics[0].name }}</span></a></li>
          <li><a href="{{ g.topics[1].show_url }}" style="{{ g.topics[1].background_style }}"><span>{{ g.topics[1].name }}</span></a></li>
          <li><a href="{{ g.topics[2].show_url }}" style="{{ g.topics[2].background_style }}"><span>{{ g.topics[2].name }}</span></a></li>
        </ul>
        <ul class="b">
          <li><a href="{{ g.topics[3].show_url }}" style="{{ g.topics[3].background_style }}"><span>{{ g.topics[3].name }}</span></a></li>
          <li><a href="{{ g.topics[4].show_url }}" style="{{ g.topics[4].background_style }}"><span>{{ g.topics[4].name }}</span></a></li>
          <li class="big"><a href="{{ g.topics[5].show_url }}" style="{{ g.topics[5].background_style_big }}"><span>{{ g.topics[5].name }}</span></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="wrap-a">
  <div class="contain">
    <div class="header-a">
      <h2 class="hx">
        {{ 'connect_with_influencers' | translate }}
      </h2>
      <p class="tx-a">
      {{ 'connect_with_influencers_description' | translate }}
      </p>
      <p class="action">
      <a href="/search/people?sort=featured" class='button-a small light'>{{ 'view_all' | translate }}</a>
      </p>
    </div>

    <div class="grid-a-people-a">
      <div class="wrap">
        {% for user in g.users %}
          <div class="cell">
            <article class="card-a" data-equalize>
              <figure><a href="{{ user.profile_path }}"><img src="{{ user.avatar_url_bigger }}" /></a></figure>
              {% if user.role != blank %}
              <figcaption>{{ user.role }}</figcaption>
              {% endif %}
              <p class="action">
              <a href="{{ user.profile_path }}" class='button-a tiny'>{{ 'activity_feed.verbs.follow' | translate }}</a>
              </p>
              <h3 class="hx">
                <a href="{{ user.profile_path }}">{{ user.name_with_affiliation }}</a>
              </h3>
              <p>{{ user.properties.short_bio }}</p>
              <p class="location">{{ user.display_location }}</p>
            </article>
          </div>
        {% endfor %}

      </div>
    </div>
  </div>
</div>
<!-- content wrapper
-->
<div class="wrap-a white">
  <div class="contain">
    <div class="header-a">
      <h2 class="hx">{{ 'featured_projects' | translate }}</h2>
      <p class="tx-a">{{ 'explore_the_most_popular_projects' | translate }}</p>
      <p class="action"><a href="/search/projects?sort=featured" class='button-a small light'>{{ 'view_all' | translate }}</a></p>
    </div>
    <div class="grid-a-projects-a">
      <div class="wrap">
        {% for project in g.projects %}
          <div class="cell">
            <article class="card-a" data-equalize>
              <figure><a href="{{ project.show_path }}"><img src="{{ project.cover_photo_url }}" /></a></figure>
              <p class="action">
              <a href="#signup" class='button-a tiny'>{{ 'activity_feed.verbs.follow' | translate }}</a>
              </p>
              <h3 class="hx">
                <a href="{{ project.show_path}}">{{ project.name }}</a>
              </h3>
              <p class="user"><a href="{{ project.creator.profile_path }}"><img src="{{ project.creator.avatar_url_thumb }}" width="30" height="30" />{{ project.creator.name_with_affiliation }}</a></p>
            </article>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
