- if f.object.transactable_type.booking_choices.size > 1
  .booking-types-tab-menu
    %h4= t('.booking_types')
    %ul{class: 'nav nav-tabs', 'data-booking-type-list' => true}
      - f.object.transactable_type.booking_choices.each do |booking_type|
        %li{class: booking_types_active_toggle(f.object, booking_type)}
          - if booking_type == 'overnight' || booking_type == 'recurring'
            = link_to t(".booking_type_#{booking_type}"), "#booking-type-regular", 'data-booking-type' => booking_type, 'data-toggle' => 'tab'
          - else
            = link_to t(".booking_type_#{booking_type}"), "#booking-type-#{booking_type}", 'data-booking-type' => booking_type, 'data-toggle' => 'tab'

.tab-content.control-group
  %div{id: 'booking-type-regular', class: "tab-pane #{booking_types_active_toggle(f.object, ['regular', 'overnight'], true)}"}
    = yield :booking_type_regular_tab_content
  %div{id: 'booking-type-schedule', class: "tab-pane #{booking_types_active_toggle(f.object, 'schedule', true)}"}
    = yield :booking_type_schedule_tab_content
  %div{id: 'booking-type-subscription', class: "tab-pane #{booking_types_active_toggle(f.object, 'subscription', true)}"}
    = yield :booking_type_subscription_tab_content
