- error = f.object.errors[category.name.to_sym]
= content_tag :div, class: error.present?  ? 'error' : '' do
  -if category.present?
    - if category.autocomplete?
      = f.input :category_ids, as: :array, label: category.translated_name, :placeholder => "Enter a category", input_html: { "data-category-autocomplete" => true, "data-category-id" => category.id, "data-selected-categories" => f.object.common_categories(category).map(&:id).join(','), value: []}, required: category.mandatory?

    - else
      = content_tag :div, class: "tree_container", data: { category_id: category.id } do
        = hidden_field_tag "single_choice_category", category.multiple_root_categories == true, class: 'single_choice_category'
        = f.hidden_field 'category_ids', multiple: true, class: 'category_ids', value: nil, "data-value" => f.object.common_categories(category).map(&:id).join(',')

        .row
          .col-md-3
            = f.label :categories do
              - if category.mandatory?
                %abbr{title: 'required'} *
              = category.translated_name
          .col-md-9
            - if is_i18n_set?('simple_form.hints.shared.categories')
              %p.spaced-helper-text= t('simple_form.hints.shared.categories')
            #ajax_error{style: 'display: none;'}
            .category_tree
            .category_tree_inputs
            - if error.present?
              .help-inline= error.first
