.row-fluid
  .span8.offset2.manage-nav
    .navbar
      .navbar-inner.nav-links
        %ul.nav
          - if buyable?
            %li
              = link_to manage_buy_sell_products_path, :class => (active_tab == :products) ? 'active' : '' do
                %span Products
            %li
              = link_to manage_buy_sell_orders_path, :class => (active_tab == :orders) ? 'active' : '' do
                %span Orders
            %li
              = link_to manage_buy_sell_shipping_methods_path, :class => (active_tab == :configuration) ? 'active' : '' do
                %span Configuration
          - else
            %li
              = link_to manage_locations_path, :class => (active_tab == :locations) ? 'active' : '' do
                %span Locations
            %li
              = link_to dashboard_host_reservations_path, :class => (active_tab == :guests) ? 'active' : '' do
                %span= platform_context.lessee.capitalize.pluralize

          -if TransactableType.all.any? { |tt| t.has_action?('Request For Quote') }
            %li
              = link_to manage_support_tickets_path, :class => (active_tab == :rfq) ? 'active' : '' do
                %span= "#{t('reservations.rfq_short')} (#{current_user.companies.first.rfq_count})"
          %li
            = link_to dashboard_analytics_path, :class => (active_tab == :analytics) ? 'active' : '' do
              %span Analytics
          / %li
          /   = link_to transfers_dashboard_path, :class => (active_tab == :transfers) ? 'active' : '' do
          /     %span Transfers
          - if current_user.companies.any? && current_user.companies.first.id.present?
            %li
              = link_to edit_dashboard_company_path(current_user.companies.first), :class => (active_tab == :company) ? 'active' : '' do
                %span Company
            %li
              = link_to dashboard_users_path, :class => (active_tab == :users) ? 'active' : '' do
                %span Users
            %li
              = link_to dashboard_waiver_agreement_templates_path, :class => (active_tab == :waiver_agreement_template) ? 'active' : '' do
                %span Waiver Agreements
            - if(transactable_type = TransactableType.first).present?
              %li
                = link_to manage_transactable_type_data_uploads_path(transactable_type), :class => (active_tab == :data_upload) ? 'active' : '' do
                  %span Data Upload
            %li
              = link_to edit_dashboard_white_label_path(current_user.companies.first), :class => (active_tab == :white_label) ? 'active' : '' do
                %span White-label
            - if platform_context.instance.rating_systems.where(active: true).present?
              %li
                = link_to dashboard_reviews_path, :class => (active_tab == :reviews) ? 'active' : '' do
                  %span Reviews

- if buyable?
  - if active_tab == :products
    .row-fluid
      .span8.offset2.manage-nav
        .navbar
          .navbar-inner.nav-links
            %ul.nav
              %li
                = link_to manage_buy_sell_products_path, :class => (sub_active_tab == :products) ? 'active' : '' do
                  %span Manage Products
              %li
                = link_to manage_buy_sell_option_types_path, :class => (sub_active_tab == :option_types) ? 'active' : '' do
                  %span Option Types
              %li
                = link_to manage_buy_sell_properties_path, :class => (sub_active_tab == :properties) ? 'active' : '' do
                  %span Properties
              %li
                = link_to manage_buy_sell_prototypes_path, :class => (sub_active_tab == :prototypes) ? 'active' : '' do
                  %span Prototypes

  - if active_tab == :configuration
    .row-fluid
      .span8.offset2.manage-nav
        .navbar
          .navbar-inner.nav-links
            %ul.nav
              %li
                = link_to manage_buy_sell_shipping_categories_path, :class => (sub_active_tab == :shipping_categories) ? 'active' : '' do
                  %span Shipping Categories
              %li
                = link_to manage_buy_sell_shipping_methods_path, :class => (sub_active_tab == :shipping_methods) ? 'active' : '' do
                  %span Shipping Methods
              %li
                = link_to manage_buy_sell_stock_locations_path, :class => (sub_active_tab == :stock_locations) ? 'active' : '' do
                  %span Stock Location

              -#%li
                = link_to manage_buy_sell_taxonomies_path, :class => (sub_active_tab == :taxonomies) ? 'active' : '' do
                  %span Taxonomies
              / %li
              /   = link_to manage_buy_sell_taxons_path, :class => (sub_active_tab == :taxons) ? 'active' : '' do
              /     %span Taxons

