- payment_methods = f.object.decorate.payment_methods

- if @order.respond_to?(:monthly?) && @order.monthly?
  %p= t 'recurring_reservations_review.prorated_info'

- if payment_methods.any?
  .payment-methods{"data-payment-methods": true}
    = f.input :payment_method_id, as: :hidden, input_html: { data: {payment_method_id: true} }

    - payment_methods.each_with_index do |payment_method, index|
      - selected_payment_method = (f.object.payment_method_id == payment_method.id) || (index.zero? && f.object.payment_method_id.blank?)
      .payment-method{"data-payment-method-active": selected_payment_method, "data-payment-method-id": payment_method.id, "data-payment-method-type": payment_method.payment_method_type, "data-payment-method": true }
        .payment-method-header{'data-payment-method-header': true}
          = payment_method.name
        %fieldset.payment-method-body
          = render partial: "shared/payment_methods/" + payment_method.payment_method_type, locals: {f: f, payment_method: payment_method}

- else
  .alert.alert-danger
    %b= t("reservations_review.missing_payment_method")

:javascript
  $(document).trigger('init:paymentMethodSelector.nearme');
