= f.input :rental_shipping_type, collection: Transactable::RENTAL_SHIPPING_TYPES.map { |val| [t(val, scope: 'transactables.rental_shipping_types'), val] }, selected: f.object.rental_shipping_type || 'delivery', prompt: false, input_html: { data: { rental_shipping_type: true } }
%div{data: {'dimensions-templates' => true}, class: 'services-dimensions-templates control-group'}
  - if defined?(space_wizard)
    %label.control-label
      = t('simple_form.labels.transactable.insurance_value')
    .controls
      %div.price-containter
        %span.currency-holder
        = f.number_field :insurance_value, as: :decimal, class: 'price-input'
      .error
        = f.error :insurance_value
    %label.control-label
      = t('dimensions_templates.form.templates')
    .controls.dimensions-templates-select-container
      = render 'shared/rental_dimensions_templates_select'
  - else
    .row
      .col-md-3
        %label
          = t('simple_form.labels.transactable.insurance_value')
      .col-md-9
        .input-group
          %span.input-group-addon.currency_addon
            = currency_symbol_from_code(@transactable.try(:currency) || PlatformContext.current.instance.default_currency)
          = f.number_field :insurance_value, as: :decimal
        .error
          = f.error :insurance_value
    .row
      .col-md-3
        %label
          = t('dimensions_templates.form.templates')
      .col-md-9.dimensions-templates-select-container
        = render 'shared/rental_dimensions_templates_select'

  = f.simple_fields_for :dimensions_template, (f.object.dimensions_template || f.object.build_dimensions_template) do |dt|
    = dt.hidden_field :name, as: :string, value: "transactable template"
    = dt.hidden_field '_destroy', as: :string, value: '', data: { 'remove-object' => 1 }

    = render partial: 'shared/dimensions_templates_user_fields', locals: { dt: dt }

  - if !defined?(space_wizard)
    .row
      .col-md-3
      .col-md-9.add-new
        = link_to '#', data: { modal: true, href: new_dashboard_company_dimensions_template_path } do
          = image_tag 'themes/buy_sell/icon-cross.png'
          %span.blue
            = t('dimensions_templates.form.add_new_dimensions_template')

- content_for :domready do
  $(document).trigger('init.rentalshippingtypeselector', [$('select[data-rental-shipping-type'), $('div[data-dimensions-templates]'), #{raw DimensionsTemplate::UNITS_OF_MEASURE.to_json}]);
