.container-fluid
  .tab-content-container#navigation-tabs
    %ul.nav.nav-tabs.page-tabs{role: 'tablist', :'data-tab-header' => true}
      %li{ class: "#{ 'active' if !param_reviews_page_present? }" }
        %a{'data-toggle' => 'tab', href: '#location-details', role: 'tab'}
          = t 'buy_sell_market.products.labels.item_details'
      - if @platform_context.instance.seller_attachments_enabled? && (attachments = @listing.attachments_for_user(current_user)) && attachments.present?
        %li
          %a{'data-toggle' => 'tab', href: '#location-documents', role: 'tab'}
            = t 'seller_attachments.seller_attachments'
    .tab-content{:'data-tab-content' => true}
      %article#location-details.location.listing.tab-pane.active
        = render description_partial
      - if @platform_context.instance.seller_attachments_enabled? && (attachments = @listing.attachments_for_user(current_user)) && attachments.present?
        %article#location-documents.location.listing.tab-pane
          - attachments.each do |attachment|
            %p= link_to attachment.decorate.title, seller_attachment_path(attachment), target: '_blank'

-# tmp hack before rewrite of this - if location has multiple listings, this will be wrong, so do not display before fix
- if params[:listing_id] || @listings.count == 1 || @listings.map(&:transactable_type_id).uniq.count == 1
  - content_for :script do
    :javascript
      new Reviews.Controller(
      $('#navigation-tabs'),
      {
        path: "#{reviews_path}",
        reviewables: [
           { id: #{@listing.id}, type: 'Transactable', subject: "#{RatingConstants::TRANSACTABLE}" },
           { id: #{@listing.creator_id}, type: 'User', subject: "#{RatingConstants::HOST}" }
          ]
      }
      )

