.row-fluid
  .span12
    = address.full_name
  .row-fluid
    .span12
      = address.address1
  - unless address.address2.empty?
    .row-fluid
      .span12
        = address.address2
  .row-fluid
    .span12
      #{address.city} #{address.state.abbr} #{address.zipcode}
  .row-fluid
    .span12
      = address.country.name
  .row-fluid
    .span12
      Phone #{address.phone}
