%section.checkout-form
  .container-fluid
    %h2= t 'buy_sell_market.checkout.labels.order_summary'

    %table.payment-summary
      %thead
        %th= t 'buy_sell_market.checkout.labels.item'
        %th= t 'buy_sell_market.checkout.labels.price'
        %th= t 'buy_sell_market.checkout.labels.qty'
        %th= t 'buy_sell_market.checkout.labels.total'

      %tbody
        - @order.line_items.each do |item|
          %tr
            %td= item.name
            %td= item.single_money
            %td= item.quantity
            %td= item.display_amount

      - if @order.additional_charges.optional.present?
        %thead
          %th#options= t 'buy_sell_market.checkout.labels.options'
        %tbody{:'data-additional-charges' => true }
          = f.simple_fields_for :additional_charges do |ac|
            - unless ac.object.mandatory?
              %tr{:'data-additional-charge-wrapper' => true }
                %td
                  = ac.check_box :_destroy, {checked: !ac.object.marked_for_destruction?, disabled: @order.express_payer_id.present? }, '0', '1'
                  = ac.object.name
                %td= humanized_money_with_cents_and_symbol ac.object.amount
                %td 1
                %td #{currency_content_tag(ac.object.currency, ac.object.amount, :span, { class: 'additional-charge', rel: false }, { :'data-additional-charge-price' => true})}
    .divider

    %table.payment-totals{align: 'right'}
      %tr
        %td= t 'buy_sell_market.checkout.labels.subtotal'
        %td= humanized_money_with_cents_and_symbol @order.monetize(@order.item_total)
      %tr
        %td= t 'buy_sell_market.checkout.labels.shipping'
        %td= humanized_money_with_cents_and_symbol @order.monetize(@order.shipment_total)
      - unless @order.tax_amount.zero?
        %tr
          %td= t 'buy_sell_market.checkout.labels.tax'
          %td= humanized_money_with_cents_and_symbol @order.tax_amount
      %tr
        %td= t 'buy_sell_market.checkout.labels.service_fee'
        %td
          #{currency_content_tag(@order.service_fee_amount_guest.currency, @order.service_fee_amount_guest, :span, { :rel => false }, { class: '', :'data-service-fee' => true})}


      - if @order.additional_charge_types.try(:mandatory_charges).present?
        - @order.additional_charge_types.mandatory_charges.each do |charge|
          %tr
            %td= charge.name
            - if charge.percent.blank?
              %td= humanized_money_with_cents_and_symbol charge.amount
            - else
              %td= humanized_money_with_cents_and_symbol @order.item_total * charge.percent / 100
      %tr
        %td.total= t 'buy_sell_market.checkout.labels.total2'
        %td.total #{currency_content_tag(@order.currency, @order.total_amount, :span, { :rel => false }, { :'data-total-price' => true})}

- if platform_context.instance.documents_upload_enabled?
  %section.checkout-form
    .container-fluid
      %h2= t 'buy_sell_market.checkout.labels.required_documents'
      = t 'buy_sell_market.checkout.labels.the_following_documents'
      .document-requirements
        = f.simple_fields_for :payment_documents do |pd|
          = pd.hidden_field :id
          = pd.hidden_field :user_id
          .row-fluid
            .span3.title
              = pd.simple_fields_for :payment_document_info do |pdi|
                = pdi.hidden_field :attachment_id
                = pdi.hidden_field :document_requirement_id
                %abbr{ title: "required" } *
                = pdi.object.document_requirement.label
            .span9.upload{ 'data-upload' => true }
              = pd.input :file, as: :file, label: false, input_html: { hidden: true }
              - if pd.object.file.present?
                %button{ type: 'button', class: 'btn-upload-payment-document', 'data-upload-document' =>true }
                  = t 'buy_sell_market.checkout.labels.choose_another_file'
                %span{ "data-file-name" => true }
                  = link_to pd.object.file.file_name, pd.object.file.url, target: '_blank'
              - else
                %button{ type: 'button', class: 'btn-upload-payment-document', 'data-upload-document' =>true }
                  = t 'buy_sell_market.checkout.labels.choose_file'
                %span{ "data-file-name" => true }
                  = t 'buy_sell_market.checkout.labels.no_file_chosen'
