.checkout-wizard{ :"data-shipping-country-controller" => true }
  .page-wrapper
    = render 'header'

    = simple_form_for @order, url: wizard_path, html: { class: 'form-horizontal' } do |f|
      %section.checkout-form
        .container-fluid
          %h2= t 'buy_sell_market.checkout.labels.billing_address'
          = f.simple_fields_for :bill_address do |b|
            = b.input :firstname, placeholder: t('buy_sell_market.checkout.placeholders.first_name')
            = b.input :lastname, placeholder: t('buy_sell_market.checkout.placeholders.last_name')
            = b.input :address1, placeholder: t('buy_sell_market.checkout.placeholders.address1')
            = b.input :address2, placeholder: t('buy_sell_market.checkout.placeholders.address2')
            = b.input :city, placeholder: t('buy_sell_market.checkout.placeholders.city')
            = b.input :zipcode, required: true, placeholder: t('buy_sell_market.checkout.placeholders.zipcode')
            = b.input :company
            = b.association :country, collection: @countries, input_html: { class: 'checkout-select' }
            = b.association :state, collection: @billing_states, include_blank: false, input_html: { class: 'checkout-select' }
            = b.input :phone, as: :string

          - if @order.products.first.try(:insurance_amount).to_f > 0
            = f.input :insurance_enabled, as: :boolean

      %section.checkout-form
        .container-fluid
          %h2= t 'buy_sell_market.checkout.labels.shipping_address'
          = f.input :use_billing, as: :boolean, inline_label: t('buy_sell_market.checkout.labels.billing_address_shipping'), label: false, input_html: { checked: true }

          #shipping-address
            = f.simple_fields_for :ship_address do |s|
              = s.input :firstname, placeholder: t('buy_sell_market.checkout.placeholders.first_name')
              = s.input :lastname, placeholder: t('buy_sell_market.checkout.placeholders.last_name')
              = s.input :address1, placeholder: t('buy_sell_market.checkout.placeholders.address1')
              = s.input :address2, placeholder: t('buy_sell_market.checkout.placeholders.address2')
              = s.input :city, placeholder: t('buy_sell_market.checkout.placeholders.city')
              = s.input :zipcode, required: true, placeholder: t('buy_sell_market.checkout.placeholders.zipcode')
              = s.input :company
              = s.association :country, collection: @countries, input_html: { class: 'checkout-select' }
              = s.association :state, collection: @shipping_states, include_blank: false, input_html: { class: 'checkout-select' }
              = s.input :phone, as: :string

      = render partial: 'checkout_buttons', locals: { form: f }
