.checkout-wizard
  .page-wrapper
    = render 'header'

    = simple_form_for @order, url: wizard_path do |f|
      = render partial: 'summary', locals: {f: f}

      - if should_display_checkout_extra_fields?(f.object.checkout_extra_fields.user)
        %section.checkout-form#checkout-extra-fields
          .container-fluid
            %h2
              = t('buy_sell_market.checkout_extra_fields.fill_in_these_details')
            = render 'shared/checkout_extra_fields', :f => f
            - if @order.errors[:checkout_fields].present?
              .flash.error
                %ul
                  - @order.errors[:checkout_fields].each do |error|
                    %li.error-block= error
      %section.checkout-form#credit-card-select
        .container-fluid
          = render 'shared/payments', f: f


      - if @payment_methods.count == 1 && @payment_methods.any?{ |p| p.express_checkout? } && @order.express_token.blank?
        = render partial: 'checkout_buttons'
      - else
        = render partial: 'checkout_buttons', locals: { form: f, final: true }

- content_for :domready do
  new PaymentController($('.checkout-wizard'))

- content_for :script do
  :javascript
    $(function() {
      new PhoneNumbers.FieldsForm(
        $('body')
      );
    });

