.box
  = simple_form_for @order, url: wizard_path do |f|
    .row-fluid
      .span8
        %h1 Payment

        %h4 TODO: Waiting for Maciek to integrate for Spree::PaymentMethod

        - # Just test
        = f.input :total, readonly: true
        = f.input :shipment_total, readonly: true
        = f.input :additional_tax_total, readonly: true

      .span4
        = render partial: 'checkout_order_summary', locals: { order: @order }

    = render partial: 'checkout_buttons', locals: { form: f }
