- title t('dashboard.nav.notification_preferences')

.dash-page
  .dash-head.clearfix
    %p= t('dashboard.nav.notification_preferences')
  .dash-body
    = simple_form_for @user, url: dashboard_notification_preferences_path, wrapper: :bs3, method: :put, html: { multipart: true, id: 'edit_notification_preferences' } do |f|
      - if HiddenUiControls.find('dashboard/notification_preferences/emails').visible?
        = f.input :accept_emails, as: :bootstrap_switch
      - if HiddenUiControls.find('dashboard/notification_preferences/sms').visible?
        = f.input :sms_notifications_enabled, as: :bootstrap_switch
      - if HiddenUiControls.find('dashboard/notification_preferences/click_to_call').visible?
        = f.input :click_to_call, as: :bootstrap_switch

      .submit-bar
        = f.submit "Save", class: "btn medium blue"

