%tr
  %td
    = item.name
    %br
    %small= item.description

  %td= item.single_money
  %td
    = item.quantity
    = submit_tag 'Update', class: 'btn btn-blue btn-qty-update btn-medium'

  %td= item.display_total
  %td= link_to 'Remove', cart_remove_product_path(item.id), method: :delete, class: 'btn btn-red btn-medium'
