- first_item = index == 0
.row-fluid{class: first_item ? 'list-item' : 'list-item additional-item'}
  .span5.item
    - if first_item
      %p ITEM
    = item.image
    .item-description
      %p= item.name_with_link
      %p= sanitize item.short_description

  .span2{class: first_item ? '' : 'price'}
    - if first_item
      %p PRICE
    %p.value= item.single_money

  .span2{class: first_item ? '' : 'quantity'}
    - if first_item
      %p QTY
    %p.value
      = item.quantity_form

  .span2{class: first_item ? '' : 'total'}
    - if first_item
      %p TOTAL
    %p.value= item.display_amount

  .span1
    - if first_item
      %p &nbsp;
    .value
      = link_to cart_remove_product_path(item.id), method: :delete do
        = image_tag 'themes/buy_sell/x-red_cart.png'
