.row-fluid.cart-row
  .span4
    = item.name
    %br
    %small= item.description

  .span2
    = item.single_money

  .span2
    .controls.quantity
      = item.quantity

  .span2
    = item.display_total

  .span2
    = link_to t('buy_sell_market.cart.buttons.remove_item'), cart_remove_product_path(item.id), method: :delete,
                class: 'btn btn-red btn-medium'
