.row-fluid.cart-row
  .span2
    = item.image
  .span4
    %strong= item.name
    .row-fluid
      .span12
        = item.description

  .span2
    = item.price

  .span1
    .controls.quantity
      = item.quantity_form

  .span1
    = item.total

  .span2
    = link_to t('buy_sell_market.cart.buttons.remove_item'), cart_remove_product_path(item.id), method: :delete, class: 'btn btn-red btn-medium'
