.cart-item-list
  .list-head.clearfix
    = link_to cart_clear_all_path(order.id), method: :delete, class: 'clear-all' do
      %p= t 'buy_sell_market.cart.buttons.clear_all'
      = image_tag 'themes/cart_theme/x.png'

    %p
      = t('buy_sell_market.cart.labels.order_from')
      = order.company_name

  .list-body
    - order.line_items.each_with_index do |item, index|
      = render partial: 'cart_item', locals: { item: item, index: index }

  .list-footer
    %h3 #{t('orders.labels.total')} #{order.display_total}

.checkout
  = link_to order_checkout_path(order, 'address') do
    .btn.blue
      = image_tag 'themes/cart_theme/arrow-right.png'
      = t('buy_sell_market.cart.buttons.checkout')
