.row-fluid
  .span12.box
    %h1
      = t('buy_sell_market.cart.labels.index')
      - unless @cart.empty?
        .pull-right
          = link_to t('buy_sell_market.cart.buttons.empty_cart'), cart_empty_path, method: :delete,
                      class: 'btn btn-red btn-empty btn-medium'

    - if @cart.empty?
      = render partial: 'empty'
    - else
      - if @cart.different_companies?
        %h3= t('buy_sell_market.cart.labels.multiple_orders')


- unless @cart.empty?
  = form_tag cart_update_path, method: :patch, id: 'cart' do
    .row-fluid
      .span12
        - @cart.orders.each do |order|
          .box
            = render partial: 'company_order', locals: { order: order }

  .box
    .row-fluid
      .span12.centered
        = link_to t('buy_sell_market.cart.buttons.continue'), root_path(anchor: 'products'),
                    class: 'btn btn-blue btn-large'

-# TODO Refactor to asset pipeline
= javascript_include_tag 'jquery'
:javascript
  $('select[name^=quantity]').on('change', function() {
    $('#cart').submit();
  });
