- listing = listing_message.listing
- author = listing_message.author
.row-fluid
  .span12.listing-message{class: listing_message.css_class }
    .span3
      %p.name= link_to author.first_name, profile_path(author.slug)
      %p.date= distance_of_time_in_words_or_date(listing_message.created_at)

    .span7
      %p.body= link_to truncate(listing_message.body, length: 50), listing_listing_message_path(listing, listing_message), title: listing_message.body
      %p.link-to-listing
        = link_to listing.name, location_listing_path(listing.location, listing)

    .span2.actions
      - if listing_message.unread_for?(current_user)
        = link_to "Read", listing_listing_message_path(listing, listing_message), class: 'btn btn-green'
      - elsif !listing_message.archived_for?(current_user)
        = link_to "Archive", listing_listing_message_archive_path(listing, listing_message), class: "btn btn-gray", method: :put
