- @recurring_booking = @recurring_booking_request.recurring_booking.decorate

.row-fluid{ :"data-payment-controller" => true }
  .span8.offset2
    = render 'header', listing: @recurring_booking_request.listing, location: @recurring_booking_request.location

    .box
      %h2
        %p
          = "#{t('recurring_reservations_review.starts_from')} #{l(@recurring_booking.start_on, format: :short)}"
          - if @recurring_booking_request.action_hourly_booking?
            %br
            = @recurring_booking.hourly_summary

      = simple_form_for @recurring_booking_request, as: :reservation_request, :url => secure_recurring_listing_url(@recurring_booking_request.listing), :method => :post, :html => {:class => "payment form-horizontal"} do |f|
        = render 'listings/recurring_bookings/fields', :f => f

        - if @recurring_booking_request.errors.present?
          .flash.error
            %p= t 'recurring_reservations_review.errors.whoops'
            %ul
              - @recurring_booking_request.errors.full_messages.each do |error|
                %li= error

        %hr.thin

        %h2= t 'reservations_review.summary'

        .order-summary
          .summary-line
            .summary-line-label= t 'reservations_review.subtotal'
            .summary-line-value.subtotal-amount= @recurring_booking.subtotal_price
            .clearfix

          - if @recurring_booking.has_service_fee?
            .summary-line
              .summary-line-label= t 'reservations_review.service_fee'
              .summary-line-value.service-fee-amount= @recurring_booking.service_fee_guest
              .clearfix

          .summary-line
            .summary-line-label= t 'recurring_reservations_review.total_per_interval', interval: t("recurring_reservations_review.#{@recurring_booking.interval}")
            .summary-line-value.total-amount= @recurring_booking.total_price
            = f.hidden_field :total_amount_check, value: @recurring_booking.total_amount.cents
            .clearfix

        - if @recurring_booking_request.display_phone_and_country_block?

          %h2= t 'reservations_review.contact_information'

          = render 'contact_information_fields', :f => f


        %h2= t 'reservations_review.payment'

        - unless @recurring_booking.weekly?
          %p= t 'recurring_reservations_review.prorated_info'

        = render 'credit_card_fields', :f => f

        = f.button :submit, t('reservations_review.buttons.request'), data: { disable_with: t('reservations_review.disabled_buttons.request') }

- content_for :script do
  = javascript_include_tag "https://js.stripe.com/v1/"
  :javascript
    $(function() {
      $(document).trigger('init.phonenumberfieldsform', 'form.payment', {
          countrySelector : '#reservation_request_country_name',
          mobileSelector  : '#reservation_request_mobile_number',
          phoneSelector   : '#reservation_request_phone',
          sameAsSelector  : '#reservation_request_mobile_same_as_phone'
      });

      window.sessioncamConfiguration.customDataObjects.push( { key: "event", value: "booking_modal_opened" } );
    });
