<div class="item span3">
	<div class="item-image">
		<img src="{{ item.cover_photo_url }}" />
	</div>
	<span class="item-title">{{ item.name }}</span>
	{% if item.name.size < 200 %}
		<span class="item-description">{{ item.description | truncate:200 }}</span>
	{% endif %}

	<a href="{{ item.show_path }}" class="btn btn-blue">
		{{ "featured_items.view_item" | translate: item_type_name: item.transactable_type.name }}
	</a>
</div>
