<div class="item span3">
	<div class="item-image">
		<img src="{{ item.avatar_url_big }}" />
	</div>
	<span class="item-title">{{ item.name }}</span>
	{% if item.name.size < 200 %}
		{% if item.has_bio %}
			{{ item.properties.short_bio }}
		{% else %}
			{{ "featured_items.member_since" | translate: date: item.member_since }}
		{% endif %}
	{% endif %}

	<a href="{{ item.user_profile_url }}" class="btn btn-blue">
		{{ "featured_items.view_item" | translate: item_type_name: 'User' }}
	</a>
</div>
