<div class="{{ platform_context.calculate_container }}" id="search_row">
  <div class="row-fluid">
    <h1>
      {{ platform_context.tagline }}
    </h1>
  </div>
  <div class="black-box row-fluid">
    <form action="/search" class="home_search" id="listing_search" method="get">
      <div class="input-wrapper">
        {% if platform_context.bookable? %}
          <div class="geolocation no-bookings">
            <span class="ico-crosshairs"></span>
          </div>
        {% endif %}

        <div class="row-fluid">
          <div class="{{ platform_context.calculate_input_size }}">
            <input class="query" id="search" name="{{ platform_context.search_input_name }}" placeholder="{{ platform_context.search_field_placeholder }}" type="text" {% if platform_context.fulltext_search? %} data-disable-autocomplete {% endif %} data-buyable="{{ platform_context.buyable? }}"/>

            {% if platform_context.searcher_type == "geo" and platform_context.bookable? == true and platform_context.buyable? == true %}
              <input class="query" id="search_prod" name="query" placeholder="{{ platform_context.search_field_placeholder }}" type="text" style="display: none;" />
            {% endif %}
          </div>

          {% if platform_context.fulltext_geo_search? %}
            <div class="{{ platform_context.calculate_input_size }}">
              <input class="query" name="query" placeholder="{{ platform_context.search_by_keyword_placeholder }}" type="text" ></input>
            </div>
          {% endif %}

          {% if platform_context.category_search? %}
            <div class="span3">
              <select class="no-icon select2 product_category_select" name="category_ids">
                <option value="" >- Select Category - </option>
                {% for category in platform_context.product_categories %}
                  <option value="{{ category.id }}" >{{ category.name }}</option>
                {% endfor %}
              </select>
              <select class="no-icon select2 service_category_select" name="category_ids">
                <option value="" >- Select Category - </option>
                {% for category in platform_context.service_categories %}
                  <option value="{{ category.id }}" >{{ category.name }}</option>
                {% endfor %}
              </select>
            </div>
          {% endif %}

          {% if transactable_types.size > 1 and platform_context.tt_select_type == 'dropdown' %}
            <div class="span2">
              <select class="no-icon select2 transactable_select" name="transactable_type_id">
                {% for transactable_type in transactable_types %}
                  <option value="{{ transactable_type.id }}" data-buyable="{{transactable_type.buyable?}}">{{ transactable_type.name }}</option>
                {% endfor %}
              </select>
            </div>
          {% endif %}

          {% if platform_context.display_date_pickers? == true %}
            <div class="span2">
              <input id='start_date' class='search_date' type="text" name='start_date' readonly="readonly" value="From"/>
              <input id='availability_dates_start' type="hidden" name="availability[dates][start]"/>
            </div>

            <div class="span2">
              <input id='end_date' class='search_date' type="text" name='end_date' readonly="readonly" value="To"/>
              <input id='availability_dates_end' type="hidden" name="availability[dates][end]"/>
            </div>
          {% endif %}

          <div class="span2 pull-right">
            <a class="btn btn-green btn-large search-button" data-disable-with="{{ 'homepage.disabled_buttons.search' | translate }}" rel="submit" href="">
              <span class="ico-search"></span>
              {{ 'homepage.buttons.search' | translate }}
            </a>
            <div id="suggest_location" style="display: none"></div>
          </div>
        </div>

        {% if transactable_types.size > 1 and platform_context.tt_select_type == 'radio' %}
          <div class="row-fluid">
            <div class="span10">
              <div class="search-transactable--radio">
                {% for transactable_type in transactable_types %}
                <label for="transactable-type-{{ transactable_type.id }}"><input type="radio" name="transactable_type_id" value="{{ transactable_type.id }}" id="transactable-type-{{ transactable_type.id }}" {% if forloop.first == true %} checked {% endif %} data-buyable="{{transactable_type.buyable?}}"> {{ transactable_type.name}}</label>
                {% endfor %}
              </div>
            </div>
          </div>
        {% endif %}
      </div>

      <input type="submit"/>
      {% if platform_context.bookable? %}
        <input id="lat" name="lat" type="hidden" value>
        <input id="lng" name="lng" type="hidden" value>
        <input id="nx" name="nx" type="hidden" value>
        <input id="ny" name="ny" type="hidden" value>
        <input id="sx" name="sx" type="hidden" value>
        <input id="sy" name="sy" type="hidden" value>
        <input id="country" name="country" type="hidden" value>
        <input id="state" name="state" type="hidden" value>
        <input id="city" name="city" type="hidden" value>
        <input id="suburb" name="suburb" type="hidden" value>
        <input id="street" name="street" type="hidden" value>
        <input id="postcode" name="postcode" type="hidden" value>
      {% endif %}
    </form>

  </div>
</div>

{% if platform_context.searcher_type != 'fulltext' and platform_context.bookable? %}
  {% content_for domready %}
    new Search.HomeController($('#listing_search'))
  {% endcontent_for %}
{% endif %}
