= simple_form_for @theme, :url => instance_admin_theme_homepage_path, :html => { :multipart => true } do |f|
  %h4 Homepage
  .content-container
    .row
      .input-container.col-xs-12
        = f.input :homepage_content, label: 'Homepage HTML', input_html: { class: 'form-control', :"data-editor" => 'liquid', rows: "30" }
    .row.dropshadow
      .input-container.col-xs-12
        = f.input :homepage_css, label: 'Homepage CSS', input_html: { class: 'form-control', :"data-editor" => 'liquid', rows: "30" }
  .content-container
    .row
      = f.button :submit, 'Save', class: 'btn btn-green pull-right'
      = link_to "Versions", { action: :versions }, class: 'btn btn-green pull-right' if @theme.versions.many?
