---
partial: true
---
<div class="blog-post">
  <div class="clearfix">
    <div class="row-fluid">
      <div class="span10">
        <h2>
          <a href='{{ blog_post.post_path }}'> {{ blog_post.title }} </a>
        </h2>
      </div>
      <div class="span2 date">
        {{ blog_post.published_at | to_date | localize: 'day_and_month' }}
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12 content">
        <p>
          {{ blog_post.excerpt }}
        </p>
      </div>
    </div>
  </div>
  {% if blog_post.show_author? %}
    <div class="clearfix avatar">
      <div class="row-fluid">
        
        <div class="span1">
          <a href='{{ blog_post.user_path }}'>
            <div class="avatar-container"> 
              {% if blog_post.blog_post.author_avatar_present? %}
                <img src="{{ blog_post.author_avatar_medium_url }}"></img>
              {% elsif blog_post.show_author_avatar? %}
                <img src="{{ blog_post.author_avatar_url }}"></img>
              {% endif %}
            </div>
          </a>
        </div>
        
        <div class="span11 {% if blog_post.show_author_avatar? %} with-avatar {% endif %}">
          <a href='{{ blog_post.user_path  }}' class='author-name'>{{ blog_post.author_name }}</a>
        </div>
        
      </div>
    </div>
  {% endif %}
</div>
