.modal-header
  .modal-title= "New Waiver Agreement Template"
.modal-body
  = simple_form_for [:dashboard, :company, @waiver_agreement_template], wrapper: :bs3_simple, data: {modal: true } do |f|
    .errors= render 'shared/bootstrap_flash_messages'
    = f.input :name
    = f.input :content, as: :text, input_html: {rows: 10}
    .btn-toolbar
      = f.submit 'Save', id: 'submit-link', class: "btn blue pull-right"
