%article.listing{ data: { id: listing.id, name: listing.name, latitude: listing.latitude, longitude: listing.longitude, location: listing.location_id } }
  .listing-location-title
    %h4
      %span.ico-location
      = listing.location.name
  .listing-map-popover-content{:style => "display: none"}
    .listing-sibling{'data-link' => location_listing_path(listing.location, listing)}
      .popover-image-container
        = link_to location_listing_path(listing.location, listing) do
          - if listing.photos.first
            = image_tag photo_thumbnail_url(listing.photos.first), :title => listing.name, :alt => listing.name
          - else
            = image_tag space_listing_placeholder_path(:height => 89, :width => 144), :title => listing.name, :alt => listing.name
      .popover-info-container
        %h4= link_to "#{listing.name}", location_listing_path(listing.location, listing)
        = render :partial => 'search/shared/price_information', :locals => { :listing => listing }

