%article.listing{ data: { id: listing.id, name: listing.name, latitude: listing.latitude, longitude: listing.longitude, location: listing.location_id } }
  .listing-location-title
    %h4.location-title
      %span.location-name
        = listing.location.company.name
      %br
      %span.location-address
        = listing.location.street

  .listing-map-popover-content{:style => "display: none"}
    .listing-sibling{'data-link' => location_listing_path(listing.location, listing)}
      .popover-image-container
        = link_to location_listing_path(listing.location, listing) do
          - if photo = listing.photos.first
            = image_tag photo.image_url(:thumb), :title => listing.name, :alt => listing.name
          - else
            = image_tag space_listing_placeholder_path(:height => 89, :width => 144), :title => listing.name, :alt => listing.name
      = link_to location_listing_path(listing.location, listing), :class => 'popover-info-container' do
        %h4= listing.name
        = render :partial => 'search/shared/price_information', :locals => { :listing => listing }

