%article.listing{:'data-id' => listing.id, :'data-name' => listing.name, :'data-latitude' => listing.latitude, :'data-longitude' => listing.longitude}
  .listing-map-popover-content{:style => "display: none"}
    - sibling_listings = listing.location.listings
    - sibling_listings.each do |listing|
      .listing-sibling{'data-link' => listing_path(listing)}
        .popover-image-container
          = link_to listing do
            - if listing.photos.first
              = image_tag listing.photos.first.url(:medium), :title => listing.name, :alt => listing.name
            - else
              = image_tag google_maps_streetview_url(:height => 89, :width => 144, :latitude => listing.latitude, :longitude => listing.longitude), :title => listing.name, :alt => listing.name
        .popover-info-container
          %h4= link_to "#{listing.name}", listing
          %address
            %span.ico-marker
            = listing.location.name
          - if listing.daily_price
            %span.label.label-success
              = "#{money_without_cents_and_with_symbol(listing.daily_price)}/day"
          - if listing.weekly_price
            %span.label.label-warning
              = "#{money_without_cents_and_with_symbol(listing.weekly_price)}/wk"
          - if listing.monthly_price
            %span.label.label-important
              = "#{money_without_cents_and_with_symbol(listing.monthly_price)}/mo"
