= simple_form_for [:instance_admin, :manage, @category] do |f|
  .content-container
    .row
      .input-container.col-xs-12
        = f.input :name, required: true, input_html: { class: 'form-control'}
      .input-container.col-xs-12
        .col-xs-4
          = f.input :multiple_root_categories, :inline_label => true
        .col-xs-4
          = f.input :mandatory, :inline_label => true
      .input-container.col-xs-12
        .col-xs-6
          = f.input :search_options,  collection: Category::SEARCH_OPTIONS, include_blank: false,  input_html: { "data-live-search" => "true"}
        .col-xs-6
          = f.input :display_options,  collection: Category::DISPLAY_OPTIONS, include_blank: false,  input_html: { "data-live-search" => "true"}
    - if ServiceType.count > 0
      .row
        .input-container.col-xs-12
          = f.association :service_types
    - if Spree::ProductType.count > 0
      .row
        .input-container.col-xs-12
          = f.association :product_types
    - if ProjectType.count > 0
      .row
        .input-container.col-xs-12
          = f.association :project_types
    .row
      .input-container.col-xs-12
        = f.association :instance_profile_types


    .row
      .input-container.col-xs-12
        = f.button :submit, class: "btn btn-blue pull-right"

