- if is_completed
  - reviewable_id = feedback.reviewable_id
  - reviewable_type = feedback.reviewable_type
  - review_id = feedback.id
- else
  - reviewable_id = feedback.id
  - reviewable_type = feedback.object.class.name
  - review_id = nil

= form_tag dashboard_reviews_path, class: 'review-form', data: { 'rating-system-id' => rating_system.id, 'review-id' => review_id, 'reviewable-id' => reviewable_id, 'reviewable-type' => reviewable_type, :'review-form' => (is_completed ? 'update' : 'create') } do


  = render 'review_title', review_title: feedback.review_title, review_target_title: feedback.review_target_title(rating_system.subject), feedback: feedback, feedback_type: rating_system.subject

  = hidden_field_tag :rating_system_id, rating_system.id
  = hidden_field_tag :reviewable_id, reviewable_id
  = hidden_field_tag :reviewable_type, reviewable_type

  .row
    .col-sm-3

      = render 'review_image', order_image: feedback.order_image, review_target_image: feedback.review_target_image(rating_system.subject), feedback: feedback, feedback_type: rating_system.subject

      - archived_at = is_completed ? feedback.reviewable.archived_at : feedback.archived_at
      - order_id = (is_completed ? feedback.reviewable_id : feedback.id)

      - view_order_link = nil

      - if is_completed
        - link_to_user_profile = feedback.link_to_user_profile
      - else
        - if feedback.reservation?
          - if rating_system.subject == RatingConstants::GUEST
            - link_to_user_profile = link_to t('dashboard.reviews.feedback.view_guest_profile'), user_path(feedback.try(:reviewable) ? feedback.reviewable.owner : feedback.owner)
          - else
            - link_to_user_profile = link_to t('dashboard.reviews.feedback.view_host_profile'), user_path(feedback.try(:reviewable) ? feedback.reviewable.creator : feedback.creator)
        - else
          - if rating_system.subject == RatingConstants::GUEST
            - link_to_user_profile = link_to t('dashboard.reviews.feedback.view_buyer_profile'), user_path(feedback.line_itemable.user)
          - else
            - link_to_user_profile = link_to t('dashboard.reviews.feedback.view_seller_profile'), user_path(feedback.line_itemable.company.creator)

      = render 'dashboard/reviews/order_info', placed_at: I18n.l(archived_at.to_date, format: :long), order_id: order_id, feedback: feedback, link_to_user_profile: link_to_user_profile, view_order_link: view_order_link, feedback_type: rating_system.subject

    .col-sm-9
      - if is_completed
        %h3= t('dashboard.reviews.feedback.your_submitted_feedback')
      - else
        %h3= t('dashboard.reviews.feedback.leave_subject_feedback', subject: t("dashboard.reviews.feedback.subject.#{subject}", default: 'user'))

      - score = is_completed ? feedback.rating : 0
      = render 'overall_rating', score: score, hints: rating_system.rating_hints.map(&:description_or_value).reverse.to_s


      %h4= t('dashboard.reviews.feedback.details')

      - if is_completed
        - answers = feedback.rating_answers.reject { |answer| answer.rating_question.nil? }
        - unless answers.blank?
          %ul.rating-questions
            - answers.each do |answer|
              %li
                = render 'rating_answer', score: answer.rating, question_id: answer.rating_question_id, answer_id: answer.id, text: answer.rating_question.text
      - else
        - unless rating_system.rating_questions.blank?
          %ul.rating-questions
            - rating_system.rating_questions.each do |q|
              %li
                = render 'rating_question', text: q.text, question_id: q.id, hints: rating_system.rating_hints.map(&:description_or_value).reverse.to_s

      .comment
        %blockquote= feedback.try(:comment) if !feedback.reservation? || is_completed

        .form-group
          = label_tag "#{subject}-#{feedback.id}-comments".to_sym, t('dashboard.reviews.feedback.comments'), class: 'form-label'
          = text_area_tag :comment, nil, id: "#{subject}-#{feedback.id}-comments", class: 'form-control'


      %button.btn.btn-primary{ :type => "submit", data: { disable_with: t('general.processing') } }
        = t('dashboard.reviews.feedback.submit_review')


      - if is_completed
        .review-actions
          %button.btn.btn-primary.btn-sm{'data-edit-toggle' => true}= t('dashboard.reviews.feedback.edit')

          = link_to dashboard_review_path(feedback), method: :delete, class: 'btn btn-warning btn-sm',
              data: { confirm: t('dashboard.reviews.feedback.are_you_sure') } do
            %span.fa.fa-trash
            = t('general.delete')

