<div class="order-info">
  <p>
    {{ 'dashboard.reviews.feedback.order_placed_with_date' | translate: date: created_at }}
  </p>

  <p>
    {{ 'dashboard.reviews.feedback.order_id' | translate: id: order_id }}
  </p>

  {% if view_order_link != blank %}
    <p>
      {{ view_order_link }}
    </p>
  {% endif %}

  <p>
    {{ link_to_user_profile }}
  </p>

  {% if platform_context.support_email != blank %}
    <p>
      <a href="mailto:{{ platform_context.support_email }}">{{ 'dashboard.reviews.feedback.contact_name_support' | translate: name: PlatformContext.current.instance.name }}</a>
    </p>
  {% endif %}
</div>

