= form_tag dashboard_reviews_path, class: 'create-form' do
  .review{'data-reservation-id' => feedback.id, 'data-object' => subject}
    = hidden_field_tag :transactable_type_id, feedback.listing.transactable_type.id
    = hidden_field_tag :reservation_id, feedback.id
    .row-fluid.clearfix
      .span8
        .order-image
          -if feedback.listing.has_photos?
            =image_tag feedback.listing.photos.last.image.medium.url
          -else
            =image_tag "ratings/reviews-placeholder.png"
        .review-actions
          %h1.review-title= feedback.listing.name
          %p 
            = t('dashboard.reviews.feedback.leave').upcase 
            = subject.upcase 
            = t('dashboard.reviews.feedback.title').upcase
          .rating.editable{'data-hints' => rating_system.rating_hints.map(&:description_or_value).reverse}
          %p
            %a.show-details{"data-target" => "##{subject}-#{feedback.id}.reviews-additional-content", "data-toggle" => "collapse", "style" => "cursor: pointer;"}
              = t('dashboard.reviews.feedback.show_details')

      .span4
        .order-info
          %p= t('dashboard.reviews.feedback.order_placed').upcase
          %p= I18n.l(feedback.created_at, format: :only_date)
        .order-info
          %p 
            = t('dashboard.reviews.feedback.order').upcase
            = feedback.id
          %a{ :href => "#"}
            = t('dashboard.reviews.feedback.view_order_details')
        .order-info
          %p
            = link_to t('dashboard.reviews.feedback.view_seller_profile'), user_path(feedback.creator)
          - if platform_context.support_email
            %p
              = mail_to platform_context.support_email, t('dashboard.reviews.feedback.contact_name_support', name: @current_instance.name)

    .reviews-additional-content.collapse{id: "#{subject}-#{feedback.id}"}
      - rating_system.rating_questions.each do |q|
        .row-fluid.clearfix
          .span12
            %span=q.text
            .additional-ratings{'data-question-id' => q.id}
              .rating.editable{'data-hints' => rating_system.rating_hints.map(&:description_or_value).reverse}

      .row-fluid
        .span12
          %p= t('dashboard.reviews.feedback.comments').upcase
          .comment-wrapper
            = text_area_tag :comment
          %input.submit-review.btn.btn-green{ :type => "submit", :value => t('dashboard.reviews.feedback.submit_review') }
