= form_tag dashboard_reviews_path, class: 'create-form' do
  .review{'data-rating-system-id' => rating_system.id, 'data-reviewable-id' => feedback.id, 'data-reviewable-type' => feedback.object.class.name}
    = hidden_field_tag :reviewable_id, feedback.id
    = hidden_field_tag :reviewable_type, feedback.object.class.name
    = hidden_field_tag :rating_system_id, rating_system.id
    .row-fluid.clearfix
      .span8
        = render 'review_image', order_image: feedback.order_image, review_target_image: feedback.review_target_image(rating_system.subject), feedback: feedback, feedback_type: rating_system.subject
        .review-actions
          = render 'review_title', review_title: feedback.review_title, review_target_title: feedback.review_target_title(rating_system.subject), feedback: feedback, feedback_type: rating_system.subject
          %p
            = t('dashboard.reviews.feedback.leave_subject_feedback', subject: t("dashboard.reviews.feedback.subject.#{subject}", default: 'user')).upcase
          .rating.editable{'data-hints' => rating_system.rating_hints.map(&:description_or_value).reverse}
          = render 'show_details_link', subject: subject, id: feedback.id

      .span4
        = render 'order_info_created', created_at: feedback.created_at
        .order-info
          = render 'order_info_id', id: feedback.id
          - if feedback.decorate.line_item?
            = link_to t('dashboard.reviews.feedback.view_order_details'), dashboard_order_path(feedback.order)
        .order-info
          %p
            - if feedback.decorate.reservation?
              - if rating_system.subject == RatingConstants::GUEST
                = link_to t('dashboard.reviews.feedback.view_guest_profile'), user_path(feedback.owner)
              - else
                = link_to t('dashboard.reviews.feedback.view_host_profile'), user_path(feedback.creator)
            - else
              - if rating_system.subject == RatingConstants::GUEST
                = link_to t('dashboard.reviews.feedback.view_buyer_profile'), user_path(feedback.order.user)
              - else
                = link_to t('dashboard.reviews.feedback.view_seller_profile'), user_path(feedback.order.company.creator)


          - if platform_context.support_email
            %p
              = mail_to platform_context.support_email, t('dashboard.reviews.feedback.contact_name_support', name: PlatformContext.current.instance.name)

    .reviews-additional-content.collapse{id: "#{subject}-#{feedback.id}"}
      - rating_system.rating_questions.each do |q|
        .row-fluid.clearfix
          .span12
            %span=q.text
            .additional-ratings{'data-question-id' => q.id}
              .rating.editable{'data-hints' => rating_system.rating_hints.map(&:description_or_value).reverse}

      .row-fluid
        .span12
          %p= t('dashboard.reviews.feedback.comments').upcase
          .comment-wrapper
            = text_area_tag :comment
          %input.submit-review.btn.medium.blue{ :type => "submit", :value => t('dashboard.reviews.feedback.submit_review') }
