.row-fluid
  .span12
    %header
      %h2
        Send a message to
        = @user_message.recipient_name

    = simple_form_for @user_message, url: @user_message.create_path do |f|
      - if @user_message.errors.present?
        .errors
          = f.error :body

      = f.text_area :body
      = f.submit "Send", class: "btn btn-large btn-green"

- content_for :domready do
  new ModalForm($('#new_user_message'));
