{% if reviews.size == 0 -%}
  <p class="empty-resultset">There are no ratings to show at the moment.</p>
{% else -%}
  {% for review in reviews -%}
    {% assign user = review.seller -%}
    <article class="user-rating">
      <header>
        <figure>
          <img src="{{ user.avatar_url_big }}" alt="{{ user.first_name }}">
        </figure>
        <h3>{{ user.first_name }}</h3>
        <time datetime="{{ review.created_at | format: 'Y-m-d' }}">{{ review.date_format }}</time>
      </header>

      <div class="rating-body">
        <p class="overall-rating"><span>Overall rating:</span> <span class="rating-a" data-rating="{{ review.rating }}">{{ review.rating }} out of {{ review.max_rating }}</span></p>

        {% if review.comment != blank %}
        <p>{{ review.comment }}</p>
        {% endif %}

        <dl class="compound-ratings">
          {% for question in review.questions -%}
          <dt>{{ question.text }}</dt>
          <dd><span class="rating-b" data-rating="{{ question.rating }}">{{ question.rating }} out of {{ review.max_rating }}</span></dd>
          {% endfor -%}
        </dl>
      </div>
    </article>
  {% endfor -%}

  {{ reviews | pagination_links, class: '', param_name: 'reviews_page' }}
{% endif -%}
