---
partial: true
---
<header class="masthead">
  <div class="wrapper-a">
    <h1 class="brand-a">
      <a href="{{ platform_context.root_path }}">
        <img src="https://d2rw3as29v290b.cloudfront.net/instances/195/uploads/ckeditor/attachment_file/data/2737/logo.svg" alt="Upside of Talent" width="155" height="91">
      </a>
    </h1>

    <div class="navs">

      <div class="social-a">
        <h2 class="struct-label">Follow Us</h2>
        <ul>
          {% if platform_context.facebook_url != blank %}<li><a href="{{ platform_context.facebook_url }}" class="facebook">Facebook</a></li>{% endif %}
          {% if platform_context.twitter_url != blank %}<li><a href="{{ platform_context.twitter_url }}" class="twitter">Twitter</a></li>{% endif %}
          {% if platform_context.linkedin_url != blank %}<li><a href="{{ platform_context.linkedin_url }}" class="linkedin">LinkedIn</a></li>{% endif %}
          {% if platform_context.gplus_url != blank %}<li><a href="{{ platform_context.gplus_url }}" class="googleplus">Google+</a></li>{% endif %}
          {% if platform_context.youtube_url != blank %}<li><a href="{{ platform_context.youtube_url }}" class="youtube" itemprop="sameAs">YouTube</a></li>{% endif %}
          {% if platform_context.blog_url != blank %}<li><a href="{{ platform_context.blog_url }}" class="feed">News feed</a></li>{% endif %}
        </ul>
      </div>

      <nav class="nav-main">
        <ul class="nav main-menu">
          <li><a class="nav-link" href="/">Home</a></li>
          <li class="dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
              <span class="text">About</span>
            </a>
            <ul class="dropdown-menu">
              <li><a class="nav-link" href="/about-overview">About Overview</a></li>
              <li><a class="nav-link" href="/business-benefits">Business Benefits</a></li>
              <li><a class="nav-link" href="/sme-benefits">SME Benefits</a></li>
              <li><a class="nav-link" href="/expertise">Expertise</a></li>
            </ul>
          </li>

          {% if current_user == blank %}
            <li><a class="nav-link" href="/join-our-community">Join our Community</a></li>
            <li><a class="nav-link" href="#" data-href="/users/sign_in" data-modal="true" data-modal-class="sign-up-modal" data-modal-overlay-close="disabled" url_options='{:return_to="/"}'>Log In</a></li>
          {% else %}

            {% assign pending_transactables_count = current_user.pending_transactables_count %}
            <li class="dropdown">
              <a class="nav-link dropdown-toggle user-dropdown" data-toggle="dropdown" href="#">
                <span class="text">{{ current_user.first_name }}</span>
                {% if pending_transactables_count > 0 %}
                <span class="count">{{ pending_transactables_count }}</span>
                {% endif %}
              </a>
              <ul class="dropdown-menu">

                {% if current_user.instance_admins_metadata %}
                  <li>
                    <a href="{{ current_user.user_menu_instance_admin_path}}" class='nav-link dropdown-toggle' target='_blank'>
                      <span>{{ 'top_navbar.marketplace_admin' | t }}</span>
                    </a>
                </li>
                {% endif %}

                <li>
                  <a class="nav-link" href="{{ 'dashboard_company_transactable_type_transactables_path' | generate_url: platform_context.transactable_types.first.id }}">
                    My Projects
                    {% if pending_transactables_count > 0 %}
                    <span class="count">{{ pending_transactables_count }}</span>
                    {% endif %}
                  </a>
                </li>

                {% if platform_context.wish_lists_enabled? and current_user.has_seller_profile? %}
                  {% comment %} Favorites menu {% endcomment %}
                  {% assign show = 'dashboard/wish_list_items' | is_visible %}
                  {% if show %}
                    {% assign path = 'dashboard_wish_list_items_path' | generate_url %}
                    {% assign selected = current_path | matches: path %}
                    <li>
                      <a class="nav-link" href="{{ path }}">{{ 'wish_lists.name' | t }}</a>
                    </li>
                  {% endif %}
                {% endif %}

                {% assign blog_menu_show = 'dashboard/blog' | is_visible %}
                {% if blog_menu_show and current_user.show_blog_menu? %}
                  <li><a class="nav-link" href="{{ 'dashboard_blog_path' | generate_url }}">Manage Blog</a></li>
                {% endif %}

                <li><a class="nav-link" href="{{ 'dashboard_profile_path' | generate_url }}">Edit Profile</a></li>

                {% if current_user.has_buyer_profile? %}
                  <li><a class="nav-link" href="{{ 'user_path' | generate_url: current_user.id }}">View Profile</a></li>
                {% endif %}

              </ul>
            </li>
            <li>
              <a class="nav-link" href="{{ 'dashboard_user_messages_path' | generate_url }}">
              Messages
              {% assign unread_messages_count = current_user.unread_messages_count %}
              {% if unread_messages_count > 0 %}
                <span class="count">{{ unread_messages_count }}</span>
              {% endif %}
              </a>
            </li>
            
            <li>
              <a data-user="{{ current_user.first_name }}" rel="nofollow" data-method="delete" href="{{ 'destroy_user_session_path' | generate_url }}" class="nav-link">Log Out</a>
            </li>
          {% endif %}
        </ul>
      </nav>

    </div>
  </div>
</header>
