.fieldset
  .control-group
    = f.label :name
    .controls
      = f.text_field :name
  .control-group
    = f.label :presentation
    .controls
      = f.text_field :presentation
- if @option_type.option_values.empty?
  %div
    .control-group
      .controls= Spree.t(:none)
- else
  = f.fields_for :option_values, id: "#option_values" do |option_value_form|
    = render :partial => 'option_value_fields', :locals => { :f => option_value_form }

= link_to_add_fields Spree.t(:add_option_value), f, :option_values

- content_for :domready do
  $(function() { new OptionType($('form[id^="edit_option_type"], #new_option_type')) });