.fieldset
  .border-legend Option Value
  = f.hidden_field :id
  .control-group
    = f.label :name
    .controls
      = f.text_field :name
  .control-group
    = f.label :presentation
    .controls
      = f.text_field :presentation
  .control-group
    = f.check_box :_destroy, class: 'hidden'
    = link_to "remove", '#', class: "remove_fields"
