- title "Option Types"

= show_manage_navigation(:products, :option_types)

.row-fluid
  .span8.offset2
    .box
      %header
        %ul.location-and-listings
          %li.location
            .name.left
              Manage Option Types
      %ul.location-and-listings
        %li.listing
          .right
            = link_to 'New Option Type', new_manage_buy_sell_option_type_path, class: 'btn btn-medium btn-green'
        %li.listing.action-buttons
          .span4
            = t('option_type.name')
          .span4
            = t('option_type.prsentation')
          .span3.state.text-right

          .clearfix
        = render partial: 'option_type', collection: @option_types
      = will_paginate @option_types

