= simple_nested_form_for [:instance_admin, :manage, resource], :html => { :multipart => true} do |f|
  %input{ name: :action_name, type: :hidden, value: :edit }
  .content-container
    %h4= t('instance_admin.manage.service_types.basic_configuration')
    .row
      .input-container.col-xs-12
        = f.input :name, input_html: { class: 'form-control' }
    .row
      .input-container.col-xs-6
        = f.input :favourable_pricing_rate, :inline_label => true#, hint: 'In case of multiple pricing schemas, like daily/weekly/monthly, if favourable pricing rate is checked, we will use only one price. If it is unchecked, we will use more favourable pricing only for periods that satisfies condition. For example, if weekly pricing is for 7 days, and someone books 8, with favourable pricing we will calculate it as 8/7 * weekly rate. If favourable pricing is not checked, we will calculate it as 1 * weekly rate + 1 * daily rate'
      .input-container.col-xs-6
        = f.input :show_page_enabled, as: :boolean, :inline_label => true
    .row
      .input-container.col-xs-6
        = f.input :skip_location, inline_label: true
      .input-container.col-xs-6
        = f.input :rental_shipping, as: :boolean, inline_label: true
    .row
      .input-container.col-xs-6
        = f.input :show_company_name, as: :boolean, inline_label: true
    .row
      - if false # commented out until we have decision how to deal with company/location address
        .input-container.col-xs-6
          = f.input :allowed_countries, collection: Country.all, value_method: :name,  input_html: { class: 'selectpicker', "data-live-search" => "true", multiple: true }
        .input-container.col-xs-6
          = f.input :default_country, collection: Country.all, value_method: :name, input_html: { class: 'selectpicker', "data-live-search" => "true"}
    .row
      .input-container.col-xs-6
        = f.input :allowed_currencies, as: :currency, input_html: { class: 'selectpicker', "data-live-search" => "true", multiple: true }
      .input-container.col-xs-6
        = f.input :default_currency, as: :currency,  input_html: { class: 'selectpicker', "data-live-search" => "true"}
    .row
      .input-container.col-xs-6
        = f.input :service_fee_guest_percent do
          = f.input_field :service_fee_guest_percent, type: 'tel', class: 'form-control'
      .input-container.col-xs-6
        = f.input :service_fee_host_percent do
          = f.input_field :service_fee_host_percent, type: 'tel', class: 'form-control'

    .row
      .input-container.col-xs-6
        = f.input :groupable_with_others, as: :boolean, :inline_label => true
      .input-container.col-xs-6
        = f.input :enable_photo_required, as: :boolean, :inline_label => true

    .row
      .input-container.col-xs-6
        = f.input :searchable, as: :boolean

  .content-container.dropshadow
    %h4= t('instance_admin.manage.service_types.cancellation_policy')
    .row
      .input-container.col-xs-12
        = f.input :enable_cancellation_policy, required: false, as: :boolean, input_html: { checked: f.object.enable_cancellation_policy.nil? ? f.object.cancellation_policy_enabled.present? : f.object.enable_cancellation_policy=="1" }, :inline_label => true
    .row
      .input-container.col-xs-6
        = f.input :cancellation_policy_hours_for_cancellation, required: false, input_html: { class: 'form-control' }
      .input-container.col-xs-6
        = f.input :cancellation_policy_penalty_percentage do
          = f.input_field :cancellation_policy_penalty_percentage, type: 'tel', class: 'form-control'

  .content-container
    %h4= t('instance_admin.manage.service_types.booking_settings')
    .row
      .input-container.col-xs-12
        = f.input :hours_to_expiration, required: false, input_html: { class: 'form-control' }
    .row
      .input-container.col-xs-12
        = f.input :minimum_booking_minutes, required: false, input_html: { class: 'form-control' }

  .content-container
    %h4= t('instance_admin.manage.service_types.pricing')
    - %w(hourly daily weekly monthly free).each do |price|
      .row
        .input-container.col-xs-4
          = f.input :"action_#{price}_booking", as: :boolean, label: t("instance_admin.manage.service_types.pricing_types.#{price}"), :inline_label => true
        - unless price == 'free'
          .input-container.col-xs-4
            = f.input :"min_#{price}_price", input_html: { class: 'form-control' }
          .input-container.col-xs-4
            = f.input :"max_#{price}_price", input_html: { class: 'form-control' }

  .content-container
    %h4= t('instance_admin.manage.service_types.pricing_options')
    .row
      .input-container.col-xs-4
        = f.input :action_book_it_out, as: :boolean, :inline_label => true
      .input-container.col-xs-4
        = f.input :action_exclusive_price, as: :boolean, :inline_label => true
      .input-container.col-xs-4
        = f.input :action_price_per_unit, as: :boolean, :inline_label => true
    .row
      .input-container.col-xs-4
        = f.input :action_subscription_booking, as: :boolean, :inline_label => true


  .content-container
    %h4= t('instance_admin.manage.service_types.calendar')
    .row
      .input-container.col-xs-4
        = f.input :action_overnight_booking, as: :boolean, :inline_label => true
      .input-container.col-xs-4
        = f.input :action_regular_booking, as: :boolean, :inline_label => true
      .input-container.col-xs-4
        = f.input :action_continuous_dates_booking, as: :boolean, :inline_label => true
    .row
      .input-container.col-xs-12
        = f.input :action_schedule_booking, as: :boolean, :inline_label => true
        - if f.object.action_schedule_booking?
          = f.simple_fields_for :schedule, f.object.schedule || f.object.build_schedule do |schedule_form|
            = render 'schedules/fields', f: schedule_form

  .content-container
    %h4= t('instance_admin.manage.service_types.terminology')
    .row
      .input-container.col-xs-12
        = f.input :bookable_noun, input_html: { class: 'form-control' }
    .row
      .input-container.col-xs-6
        = f.input :lessor, input_html: { class: 'form-control' }
      .input-container.col-xs-6
        = f.input :lessee, input_html: { class: 'form-control' }

  .content-container
    %h4= t('instance_admin.manage.service_types.allowed_action_types')
    .row
      .input-container.col-xs-12
        = f.input :action_rfq, as: :boolean, :inline_label => true
        = f.input :action_na, as: :boolean, :inline_label => true

  = content_for :header_buttons do
    = f.button :submit, t('instance_admin.save'), class: 'btn btn-blue pull-right', data: { 'submit-form' => 1, 'form-selector' => 'form' }

  - if resource.persisted?
    .content-container
      %h4 Bulk Upload CSV Fields
      .row
        = render partial: "instance_admin/data_uploads/custom_csv_fields", locals: { f: f }
