.content-container
  .row
    .table-container.col-xs-12
      %table.table
        %tbody
          - @service_types.each do |resource|
            %tr
              %td= resource.name.humanize
              %td
                = link_to t('instance_admin.manage.service_types.form_components'), instance_admin_manage_service_type_form_components_path(resource), class: 'pull-left btn btn-blue btn-bottom-margin'
                = link_to t('instance_admin.manage.service_types.data_upload'), instance_admin_manage_service_type_data_uploads_path(resource), class: 'pull-left btn btn-blue btn-bottom-margin'
                = link_to t('instance_admin.manage.service_types.custom_attributes'), instance_admin_manage_service_type_custom_attributes_path(resource), class: 'pull-left btn btn-blue btn-bottom-margin'
                = link_to t('instance_admin.manage.service_types.custom_validators'), instance_admin_manage_service_type_custom_validators_path(resource), class: 'pull-left btn btn-blue btn-bottom-margin'
                = link_to t('instance_admin.manage.service_types.search'), search_settings_instance_admin_manage_service_type_path(resource), class: 'pull-left btn btn-blue btn-bottom-margin'
              %td= link_to t('instance_admin.edit'), edit_instance_admin_manage_service_type_path(resource), class: 'pull-right'
              %td
                = link_to t('instance_admin.delete'), instance_admin_manage_service_type_path(resource), method: :delete,
                    data: { confirm: t('instance_admin.are_you_sure') }, class: "pull-right"

  = content_for :header_buttons do
    = link_to t('instance_admin.manage.service_types.new_service_type'), new_instance_admin_manage_service_type_path, class: 'pull-right btn btn-blue'

