= simple_form_for [@reservation, @rating] do |f|
  - if @rating.errors.present?
    .span8.offset2.errors
      = f.error :value
      = f.error :author_id

  .span6.offset2
    = f.text_area :comment, placeholder: 'Comments (optional)'
  .span3.arrows
    %span.ico-arrow-up.padding{data: {value: '1'}}
    %span.ico-arrow-down.padding{data: {value: '0'}}
    = f.hidden_field :value

:javascript
  $(function() {
    new RatingForm()
  });
