#taxon_form
  = simple_form_for @taxon, url: update_taxon_instance_admin_buy_sell_taxonomy_path(@taxonomy, taxon_id: @taxon.id) do |f|
    .content-container
      .row
        .input-container.col-xs-12
          = f.input :name, placeholder: 'What is the name of the taxon?', required: true, input_html: { class: 'form-control'}

      .row
        .input-container.col-xs-12
          = f.label :in_top_nav, 'Add to top navigation?'
          = f.check_box :in_top_nav

      .row
        .input-container.col-xs-12
          = f.input :top_nav_position, required: false, input_html: { class: 'form-control'}, label: 'Top navigation position'

      .row.dropshadow

    = f.button :submit, class: "btn btn-green pull-right"
