.content-container
  .sub-header-nav
    %ul
      %li
        = support_link_to_filter(@filter, 'open')
      %li
        = support_link_to_filter(@filter, 'resolved')
      %li
        = support_link_to_filter(@filter, 'all')

  %h4= "#{@filter_name} tickets"
  .row
    .table-container.col-xs-12
      %table.table.table-hover
        %thead
          %tr
            %th= t('instance_admin.manage.support.ticket')
            %th= t('instance_admin.manage.support.updated')
            %th= t('instance_admin.manage.support.created')
            %th= t('instance_admin.manage.support.state')

        %tbody
          = render partial: 'ticket', collection: @tickets


.row
  .text-container
    .pull-right
      = will_paginate @tickets

