.content-container
  %h4= t 'instance_admin.locales.labels.title'
  .row
    .table-container.col-xs-12
      %table.table
        %thead
          %tr
            %th= t 'instance_admin.locales.labels.name'
            %th= t 'instance_admin.locales.labels.code'
            %th= t 'instance_admin.locales.labels.custom_name'
            %th= t 'instance_admin.locales.labels.default'
            %th
            %th

        %tbody
          - @locales.each do |locale|
            %tr
              %td
                = locale.name
              %td
                = locale.code
              %td
                = locale.custom_name
              %td
                = locale.primary ? t('instance_admin.locales.labels.primary.yes') : t('instance_admin.locales.labels.primary_no')
              %td
                = link_to t('instance_admin.locales.buttons.edit_keys'), edit_keys_instance_admin_settings_locale_path(locale), class: 'btn btn-blue btn-small'
              %td
                = link_to t('instance_admin.locales.buttons.date_time'), date_time_preferences_instance_admin_settings_locale_path(locale), class: 'btn btn-blue btn-small'
              %td
                - unless locale.primary?
                  = link_to instance_admin_settings_locale_path(locale), method: :delete,
                      data: { confirm: t('instance_admin.locales.confirmations.delete') } do
                    .fa.fa-trash-o.fa-2x.inline-form-icon.pull-right

                = link_to edit_instance_admin_settings_locale_path(locale) do
                  .fa.fa-edit.fa-2x.inline-form-icon.pull-right

= content_for :header_buttons do
  = link_to t('instance_admin.locales.buttons.new_key'), new_key_instance_admin_settings_locales_path,
      class: 'btn btn-blue pull-right'
  = link_to t('instance_admin.locales.buttons.add'), new_instance_admin_settings_locale_path,
      class: 'btn btn-blue pull-right'

