.content-container
  %h4= t 'instance_admin.locales.labels.new_key'
  = simple_form_for @translation, url: create_key_instance_admin_settings_locales_path do |f|
    .row
      .input-container.col-xs-12
        .input-col-clearfix
          = f.input :key, placeholder: t('instance_admin.locales.labels.example_key'), required: true,
              input_html: { class: 'form-control' }
  
    .row
      .input-container.col-xs-12
        .input-col-clearfix
          = f.input :value, as: :string, label: t('instance_admin.locales.labels.default_en_value'), required: true,
              input_html: { class: 'form-control' }
  
    .row
      .input-container.col-xs-12
        = f.button :submit, t('instance_admin.locales.buttons.save'), class: 'btn btn-blue pull-right'

