!!!
%html{:lang => "en"}

  = render 'shared/head'

  %body{class: body_classes}
    = yield(:body_top)
    .root-a
      .wrap
        %header#top.top-a
          .inner
            .contain
              %h1.logo
                = link_to root_url, accesskey: 'h' do
                  = image_tag "intel/logo-white.png", width: 59, height: 39, alt: current_instance.name
                  = t :developer_mesh

              = render 'shared/topnav' unless @omit_topnav

        = render 'shared/render_flash'

        %section#content.content-a
          = yield

        = yield :tutorial

    = render 'shared/footer'

    = render 'shared/components/modal'

    = webpack_manifest_script
    = webpack_bundle_tag 'common'
    = webpack_bundle_tag 'community'

    = yield :page_scripts
    = javascript_include_tag "//maps.googleapis.com/maps/api/js?libraries=places"
    = render 'layouts/analytics'
    = yield(:body_bottom)

    = render 'shared/raygun/init'
