!!!
%html{:lang => "en"}

  = render 'shared/head'

  %body{class: body_classes}
    = yield(:body_top)
    .root-a
      .wrap
        %header#top.top-a
          .inner
            .contain
              %h1.logo
                = link_to root_url, accesskey: 'h' do
                  = image_tag "intel/logo-white.png", width: 59, height: 39, alt: current_instance.name
                  %span.text
                    = t :developer_mesh

              = render 'shared/topnav' unless @omit_topnav

        = render 'shared/render_flash'

        %section#content.content-a
          = yield

        = yield :tutorial

    = render 'shared/footer'

    = yield(:body_bottom)

    = render 'shared/javascripts/footer', entry: 'community', googlemaps: true, analytics: true, include_modal: true
