<h2>{{ 'buy_sell_market.checkout.shipment_mailer.shipped_email.dear_customer' | translate }}</h2>

<p>{{ 'buy_sell_market.checkout.shipment_mailer.shipped_email.instructions' | translate }}</p>

<p>{{ 'buy_sell_market.checkout.shipment_mailer.shipped_email.shipment_summary' | translate }}</p>

<ul>
{% for item in shipment.manifest %}
    <li>{{ item.variant.sku }} {{ item.variant.product.name}} {{item.variant.options_text}}</li>
{% endfor %}
</ul>

{% if @shipment.tracking_url != blank %}
<p>
 {{ 'buy_sell_market.checkout.shipment_mailer.shipped_email.track_information' | translate: tracking: shipment.tracking }}< br />
 {{ 'buy_sell_market.checkout.shipment_mailer.shipped_email.track_link' | translate: url: shipment.tracking_url }}<br />
</p>
{% endif %}

<p>{{ 'buy_sell_market.checkout.shipment_mailer.shipped_email.thanks' | translate }}</p>
