%tr
  %td
    %span.label{:class => "label-#{admin_payment_transfer_state_label_class(resource)}"}
      = resource.transferred? ? 'Paid' : 'Pending'
  %td= resource.company.name
  %td= resource.reservation_charges.count
  %td= resource.created_at
  %td= resource.transferred_at
  %td= resource.service_fee_amount
  %td= resource.amount
  %td= link_to "Show details", [:admin, resource], :class => 'btn'


