%header.dialog__header
  %h2#dialog__title= t('dashboard.payments.change_payment_method')

- if @unpaid_recurring_booking_periods.any?
  %div= t('dashboard.payments.periods_affected')
  %table.table
    %thead
      %tr
        %th= t('dashboard.user_recurring_bookings.periods.start_end')
        %th= t('dashboard.user_recurring_bookings.periods.total_amount')
    %tbody
      - @unpaid_recurring_booking_periods.each do |period|
        %tr
          %td= "#{I18n.l(period.period_start_date, format: :short)} - #{I18n.l(period.period_end_date, format: :short)}"
          %td= render_money(period.total_amount)
#credit-card-select

  = dashboard_simple_form_for @payment_subscription, url: dashboard_user_recurring_booking_payment_subscription_path(@recurring_booking, @payment_subscription), method: :put, data: { modal: true }, html: {id: 'new_payment'} do |f|
    .dialog__body
      = render 'shared/payment_form', f: f

    .dialog__actions
      = f.submit t('general.save')
