.row-fluid
  .span8.offset2
    %h1 Careers 
    %p 
      Desks Near Me is a community marketplace for individuals and teams to list, search, and book office space around the world. We are an early-stage, fast-moving startup, with a passion for great engineering and design.
      %br
      %br
      Our small, highly ambitious team has a successful track record building web applications at scale, one of which was acquired by a NASDAQ-listed multi-national.
      %br
      %br
      We are driven, enthusiastic, and excited about changing the way people work &mdash; and are looking for like-minded team members to join us on this journey. Our office is located in the heart of SOMA at 5th &amp; Harrison. 

%hr
.row-fluid
  .span8.offset2
    %h2 Senior Ruby on Rails Developer
.row-fluid
  .span2.offset2
    = image_tag("illustrations/sf-giants.png")
  .span6
    %p 
      We are looking for a senior developer with extensive Ruby/Rails &amp; JavaScript experience to work as a technical lead. You'll ship production code daily, build out new features end-to-end, and support a growing team.
      %br
      %br
      You should be excited about writing elegant, valuable code; thrive on solving complex engineering problems; and be an awesome collaborator.
      %br
      %br
      This position is full-time in our San Francisco office (you must be located in San Francisco, or willing to relocate immediately).

.row-fluid
  .span2.offset2
    = image_tag("illustrations/ruby.png")
  .span6
    %h3 Skills and Requirements

    %ul
      %li Expert-level Ruby/Rails &amp; JavaScript/front-end skills.
      %li Advocate of comprehensive testing &amp; continuous deployment.
      %li Application of object-oriented design principles &amp; patterns.
      %li Passionate, detail-oriented, &amp; exceptional problem solver.
      %li Ability to collaborate in a fast-moving team of makers.
      %li Contribution to open source projects a plus.
      %li Worked at or founded a startup a plus.

.row-fluid
  .span2.offset2
    = image_tag("illustrations/mail.png")
  .span6
    %h3 How to Apply
    %p Please send an email to #{link_to 'jobs@desksnear.me', 'mailto:jobs@desksnear.me'} including the following:

    %ul
      %li A short paragraph on why you want to work at Desks Near Me
      %li Link to GitHub profile
      %li Link to LinkedIn profile
%hr
.row-fluid
  .span8.offset2
    %h2 User Experience Intern
.row-fluid
  .span2.offset2
    = image_tag("illustrations/bart.png")
  .span6
    %p 
      Help us shape and define the future of collaborative consumption in the office world. You'll work on influential real-world projects that will define our success-and your own. Come accelerate your future with us. 
      %br
      %br
      You’ll be a part of testing our application on all devices (web, tablet, mobile) and in multiple browsers to ensure functionality, design and user-friendliness. The internship entails analysis, testing and reporting on functionality of the product.   
.row-fluid
  .span2.offset2
    = image_tag("illustrations/devices.png")
  .span6
    %h3 Essential Functions
    %ul
      %li Work on projects to solve how users best interact with our application and technology.
      %li Help ensure the usability and appearance of our product is world class
      %li Help us strive for design perfection 
      %li Do user research and observations
      %li Conduct usability testing
      %li Educate people about the benefits
      %li Perform additional job-related duties as required
      %li Work collaboratively on initiatives where individual will be asked to research, solve, and provide a presentation



.row-fluid
  .span2.offset2
    = image_tag("illustrations/mail.png")
  .span6
    %h3 How to Apply
    %p Please send an email to #{link_to 'jobs@desksnear.me', 'mailto:jobs@desksnear.me'} including the following:

    %ul
      %li A short paragraph on why you want to work at Desks Near Me
      %li Link to Portfolio or Resume
%br
%br
%br