.row-fluid.padding-row
  .span12.header-image
    = image_tag "w-hotels/w-header.jpg"

.container-fluid

  .row-fluid
    %h1 Luxury Workspaces in the Heart of New York City

  .row-fluid
    .span4
      %p Now, working remotely can feel like home. DesksNear.Me has partnered with W Hotels to offer chic, collaborative workspace options at Manhattan’s W New York Union Square.  
    .span4
      %p You’ll find amenities to fit every project, whether you’re working with a group or on your own. Host intimate meetings in the luxuriously appointed Living Room, or find focus in private work suites.  
    .span4
      %p Wireless high-speed Internet access, AV equipment, and video conferencing services are all on site, should you require them. Need to coordinate meetings with colleagues and clients? The hotel is conveniently located in one of the city’s most accessible neighborhoods, just minutes from Chelsea, Midtown, and Soho.

  .row-fluid.padding-row
    .span8
      #w-ny.carousel.slide
        %ol.carousel-indicators
          %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
          %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
          %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
        / Carousel items
        .carousel-inner
          .active.item
            = image_tag "w-hotels/w-6.jpg"     
          .item
            = image_tag "w-hotels/w-3.jpg"     
          .item
            = image_tag "w-hotels/w-2.jpg"    
        / Carousel nav
        %a.carousel-control.left{"data-slide" => "prev", :href => "#w-ny"} ‹
        %a.carousel-control.right{"data-slide" => "next", :href => "#w-ny"} ›

    .span4
      %h1 Union Square W Hotel
      %p In the center of the city that is the center of the universe, lies the W New York. W New York has the latest technology, creative catering, and innovative spaces—everything you need to make your meeting memorable and soirée spectacular.

  .row-fluid.padding-row
    .span8.pull-right
      = image_tag "w-hotels/w-10.jpg"       
    .span4.pull-left
      %h1 The Living Room
      %p Sink into comfort in our Living Room, our urban sanctuary by David Rockwell. Read Assouline brand books in natural light pouring through the 2-story windows. Challenge a friend to a game of chess. Sip concoctions from Oasis. Contemplate the cascading waterfall.  Just be.
      %a.btn.btn-large.btn-green
        %span.ico-check.padding Book!     

  .row-fluid.padding-row
    .span8
      = image_tag "w-hotels/w-8.jpg"     
    .span4
      %h1 Perfect for work or play
      %p Find your personal haven from the concrete cacophony of Manhattan in our 693 completely renovated guest rooms, suites and spa suites. Dive into the comfort of our pillow-top beds. Lounge in soft terry robes. Or curl up and take in a flick from our video/DVD library.
      %a.btn.btn-large.btn-green
        %span.ico-check.padding Book!       
