= simple_form_for @instance, :url => lock_instance_admin_settings_configuration_path, method: :post, :html => { :multipart => true } do |f|
  .content-container
    %h4
      = t('instance_admin.settings.configuration.master_lock')
    .row
      .input-container.col-xs-9
        = f.input :mark_as_locked, as: :boolean, input_html: { checked: f.object.locked? }, inline_label: true
      .input-container.col-xs-3
        = f.button :submit, t('instance_admin.settings.configuration.update_lock'), class: 'btn btn-light pull-right'


= simple_nested_form_for @instance, :url => instance_admin_settings_configuration_path, :html => { :multipart => true, :data => { 'edit_instance_form' => 1 } } do |f|
  .content-container
    %h4
      = t('instance_admin.settings.configuration.basic_configuration')
    .row
      .input-container.col-xs-12
        = f.input :name, input_html: { class: 'form-control' }, required: false, placeholder: t('instance_admin.settings.configuration.basic_configuration_section.placeholder_marketplace_name')
    .row
      .input-container.col-xs-6
        = f.input :debugging_mode_for_admins, inline_label: true, hint: 'If user is logged in as Admin, inserts html comments with paths to all liquid views along with available variables'
    .row
      .input-container.col-xs-6
        = f.input :skip_company, inline_label: true
      .input-container.col-xs-6
        = f.input :force_accepting_tos, inline_label: true
    .row
      .input-container.col-xs-6
        = f.input :allowed_countries, collection: Country.all, value_method: :name,  input_html: { "data-live-search" => "true", multiple: true }, hint: t('instance_admin.settings.configuration.leave_blank_to_use_all_countries')
      .input-container.col-xs-6
        = f.input :default_country, collection: Country.all, value_method: :name, input_html: { "data-live-search" => "true"}, include_blank: t('general.none')
    .row
      .input-container.col-xs-6
        = f.input :allowed_currencies, as: :currency,  input_html: { class: 'selectpicker', "data-live-search" => "true", multiple: true }, hint: t('instance_admin.settings.configuration.leave_blank_to_use_all_currencies')
      .input-container.col-xs-6
        = f.input :default_currency, as: :currency,  input_html: { class: 'selectpicker', "data-live-search" => "true"}
    .row
      .input-container.col-xs-6
        = f.input :custom_waiver_agreements, as: :boolean, inline_label: true
      .input-container.col-xs-6
        = f.input :time_zone, input_html: { class: 'selectpicker', "data-live-search" => "true" }, include_blank: t('general.default')
    .row
      .input-container.col-xs-6
        = f.input :skip_meta_tags, inline_label: true
      - if Rails.env.staging?
        .input-container.col-xs-6
          = f.input :enable_sms_and_api_workflow_alerts_on_staging, as: :boolean, inline_label: true
      .input-container.col-xs-6
        = f.input :expand_orders_list, as: :boolean, inline_label: true
    .row
      .input-container.col-xs-6
        = f.input :enable_geo_localization, as: :boolean, inline_label: true

    - if Rails.env.staging? # it's relevant only for staging -> staging_email.rb initializer
      .row
        .input-container.col-xs-12
          = f.input :test_email, input_html: { class: 'form-control' }, required: false

  .content-container
    %h4
      = t('instance_admin.settings.configuration.currency_options')
    .row
      .input-container.col-xs-6
        = f.input :show_currency_symbol, as: :boolean, inline_label: true
      .input-container.col-xs-6
        = f.input :show_currency_name, as: :boolean, inline_label: true
    .row
      .input-container.col-xs-6
        = f.input :no_cents_if_whole, as: :boolean, inline_label: true

  .content-container
    %h4
      = t('instance_admin.settings.configuration.checkout')
    .row
      .input-container.col-xs-6
        .control-group.optional
          %label.optional.control-label
            = t('instance_admin.settings.configuration.checkout_section.label_translation')
          .controls
            %input{name: "instance[custom_translations][buy_sell_market.checkout.manual_payment]", class: 'form-control', value: t('buy_sell_market.checkout.manual_payment') }
      .input-container.col-xs-6
        .control-group.optional
          %label.optional.control-label
            = t('instance_admin.settings.configuration.checkout_section.description_translation')
          .controls
            %input{name: 'instance[custom_translations][buy_sell_market.checkout.manual_payment_description]', class: 'form-control', value: t('buy_sell_market.checkout.manual_payment_description') }
    .row
      .input-container.col-xs-6
        = f.input :use_cart, as: :boolean, inline_label: true

  .content-container
    %h4
      = t('instance_admin.settings.configuration.marketplace_password')
    .row
      .input-container.col-xs-6
        = f.input :marketplace_password, placeholder: t('simple_form.labels.instance.marketplace_password'), as: :string, input_html: { class: 'form-control' }
      .input-container.col-xs-6
        = f.input :password_protected, as: :boolean, inline_label: true

  .content-container
    .row.heading-row
      .col-xs-6
        %h4
          = t('instance_admin.settings.configuration.text_filters')
      .col-xs-6
        = f.link_to_add :text_filters, :data => { :target => "#text-filters" } do
          .btn.btn-blue.pull-right
            = t('instance_admin.settings.configuration.text_filters_section.add_text_filter')
    .row
      .input-container.col-xs-12
        = f.input :apply_text_filters, inline_label: true
      .fields
        .row.table-header
          .input-container.col-xs-2
            = t('instance_admin.settings.configuration.text_filters_section.name')
          .input-container.col-xs-4
            = t('instance_admin.settings.configuration.text_filters_section.regexp')
          .input-container.col-xs-3
            = t('instance_admin.settings.configuration.text_filters_section.replacement_text')
          .input-container.col-xs-2
            = t('instance_admin.settings.configuration.text_filters_section.ignore_case')
          .input-container.col-xs-1
    #text-filters
      = f.fields_for :text_filters, wrapper: false do |f|
        .fields
          .row
            .input-container.col-xs-2
              = f.input :name, label: false, placeholder: t('instance_admin.settings.configuration.text_filters_section.name'), input_html: { class: 'form-control' }
            .input-container.col-xs-4
              = f.input :regexp, label: false, placeholder: t('instance_admin.settings.configuration.text_filters_section.regexp'), input_html: { class: 'form-control' }
            .input-container.col-xs-3
              = f.input :replacement_text, placeholder: t('instance_admin.settings.configuration.text_filters_section.replacement_text'), label: false, input_html: { class: 'form-control' }
            .input-container.col-xs-2.text-center
              = f.input :flags, as: :boolean, label: false, inline_label: true
            .input-container.col-xs-1.text-center
              = f.link_to_remove confirm: (f.object.try(:name).present? ? "Are you sure you want to delete #{f.object.name}?" : false) do
                .fa.fa-trash-o.fa-2x.inline-form-icon.pull-right

  .content-container
    %h4
      = t('instance_admin.settings.configuration.support')
    .row
      .input-container.col-xs-3
        = f.input :support_email, placeholder: 'example@gmail.com', input_html: { class: 'form-control' }
      .input-container.col-xs-3
        = f.input :support_imap_username, input_html: { autocomplete: 'off', class: 'form-control' }
      .input-container.col-xs-3
        = f.input :support_imap_password, input_html: { autocomplete: 'off', value: f.try(:object).try(:support_imap_password), class: 'form-control' }
      .input-container.col-xs-3
        = f.input :support_imap_server, input_html: { autocomplete: 'off', class: 'form-control' }
    .row
      .input-container.col-xs-3
        = f.input :support_imap_port, input_html: { autocomplete: 'off', class: 'form-control' }
      .input-container.col-xs-3
        = f.input :support_imap_ssl, input_html: { autocomplete: 'off' }, inline_label: true
        = f.submit 'Save', class: 'hidden_form_element'
      .input-container.col-xs-3
        = f.submit t('instance_admin.imap_settings.validate_imap_settings'), class: 'btn btn-light', name: 'validate_imap_settings_button'

  = content_for :header_buttons do
    = f.button :submit, t('instance_admin.save'), class: 'btn btn-blue pull-right', data: { 'submit-form' => 1, 'form-selector' => '[data-edit-instance-form]' }

