<h2>{{ enquirer.first_name }}, your purchase has been declined</h2>

<p>Your purchase of '<a href="{{ listing.listing_url }}">{{ listing.name }}</a>' has been declined by the {{ listing.lessor }}.</p>

<p>We're always happy to help! If you have any questions about your purchase, please send an email to <a href="mailto:{{ platform_context.support_email }}">{{ platform_context.support_email }}</a> or contact us at {{ platform_context.phone_number }}.</p>
