- if @transactable.properties.try(:visibility) == 'private' && (current_user.nil? || current_user.accessible_transactable_ids.exclude?(@transactable.id))
  - raise ActiveRecord::RecordNotFound

- g = Graph.execute('transactable_cover_photos', 'transactable_id' => @transactable.id)
- cover_photo = g.dig('transactable', 'cover_photos', 0, 'url')

- title raw(@transactable.name)
- canonical_url @transactable.show_path
- meta_description "#{mask_phone_and_email_if_necessary(@transactable.properties.summary).try(:truncate, 130)}"
- meta_og_image cover_photo if cover_photo
- content_for :script do
  :javascript
    window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);

      t._e = [];
      t.ready = function(f) {
        t._e.push(f);
      };

      return t;
    }(document, "script", "twitter-wjs"));

- content_for :body_top do
  #fb-root
  :javascript
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=207810385953274";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

.wrap-a.white.reduce
  .contain
    .project-a
      %figure
        = image_tag cover_photo, alt: @transactable.name
        - if @transactable.featured?
          %figcaption
            = t :featured
      .wrap
        %h1= @transactable.name
        .user
          %figure
            = link_to user_path(@transactable.creator.slug) do
              = image_tag @transactable.creator.avatar.url(:thumb), width: 40, height: 40, alt: @transactable.creator.to_liquid.name_with_affiliation_plain
          %h3.hx
            = link_to @transactable.creator.to_liquid.name_with_affiliation, user_path(@transactable.creator.slug)
          %p.location= "#{@transactable.creator.current_address.try(:city)}, #{@transactable.creator.current_address.try(:state)}"
        %p.tx-a.multiline= @transactable.properties.summary
        %p.topics
          = @transactable.topics.map { |t| link_to(t.name, topic_path(t)) }.join(', ').html_safe

        .share-a
          %ul
            %li.twitter
              %a.twitter-share-button{ :href => "https://twitter.com/intent/tweet", data: { size: 'default' }}
            %li.facebook
              .fb-share-button{ data: { href: @transactable.show_path, layout: "button",  size: "small", "mobile-iframe": "true" } }
                %a.fb-xfbml-parse-ignore{ href: "https://www.facebook.com/sharer/sharer.php?u=#{URI.encode(@transactable.show_path)}", target: "_blank" }
            %li.linkedin
              %script{ src: "//platform.linkedin.com/in.js" } lang: en_US
              %script{ type: "IN/Share" }
      .bignums-a
        %ul
          %li
            %span
              %strong{:'data-collaborators-count' => true}= @transactable.transactable_collaborators.approved.count
              = t :collaborators
            %p{:'data-collaborators-button' => true}
              = render partial: 'shared/collaborators_button', locals: { transactable: @transactable }
          %li
            %span
              %strong{:'data-followers-count' => true}= @followers.total_entries
              = t :followers
            %p{:'data-follow-button' => true}
              = render partial: 'shared/follow_button', locals: { object: @transactable }

/ content wrapper
.wrap-a.reduce-top
  .contain
    / tabs
    %nav.tabs-a.trio
      %ul.nav.nav-tabs{role: "tablist"}
        %li.active= link_to t(:about), '#about', role: "tab", :'data-toggle' => "tab"
        %li= link_to t(:activity), '#activity', role: "tab", :'data-toggle' => "tab"
        %li= link_to t(:comments), '#comments', role: "tab", :'data-toggle' => "tab"
        %li= link_to t(:collaborators), '#collaborators', role: "tab", :'data-toggle' => "tab"
        %li= link_to t(:followers), '#followers', role: "tab", :'data-toggle' => "tab"

    / white box
    .box-a
      .tab-content
        #about.tab-pane.fade.active{:role => "tabpanel"}
          = render 'show_about'
        #activity.tab-pane.fade{:role => "tabpanel"}
          = render 'shared/activity_feed', object: @transactable, feed: @feed
        #comments.tab-pane.fade{:role => "tabpanel"}
          = render 'comments/comments', comment: @comment
        #collaborators.tab-pane.fade{:role => "tabpanel", 'data-paginable-container': true }
          = render 'shared/show_followers', see_more_route: see_more_collaborators_path(id: @transactable.id, type: 'Transactable', container: '#collaborators'), collection: @collaborators, container: '#collaborators'
        #followers.tab-pane.fade{:role => "tabpanel", 'data-paginable-container': true }
          = render 'shared/show_followers', see_more_route: see_more_followers_path(id: @transactable.id, type: 'Transactable', container: '#followers'), container: '#followers', collection: @followers
