.content-container
  %h4= t('instance_admin.buy_sell.tax_categories.tax_categories')
  .row
    .table-container.col-xs-12
      %table.table.sortable
        %thead
          %tr
            %th= t('instance_admin.buy_sell.tax_categories.name')
            %th= t('instance_admin.buy_sell.tax_categories.description')
            %th= t('instance_admin.buy_sell.tax_categories.default')
            %th
        %tbody
          - @tax_categories.each do |tax_category|
            = render 'index_row', tax_category: tax_category

= content_for :header_buttons do
  = link_to t('instance_admin.buy_sell.tax_categories.new_tax_category'), new_instance_admin_buy_sell_tax_category_path, class: 'pull-right btn btn-blue'

