<div class="search-form__filters-wrapper">
  <div class="search-form__filters-section search-form__filters-section--mode">
    <a href="./#" data-search-filters-mode="basic" class="button-a button-small">BASIC</a>
    <a href="./#" data-search-filters-mode="advanced" class="button-a button-small button-grey">ADVANCED</a>
  </div>

  <div class="search-form__filters-section search-form__filters-section--preferences">
    <h3>
      Use my preferences
      <i class="fa fa-angle-right" aria-hidden="true"></i>
    </h3>

    <label for="use_preferences">
      <!-- Replace data-toggle-on value with dynamic value -->
      <!-- Replace data-toggle-checkbox value with selector (ie. ".u_pref" or "#u_pref" or "[name='u_pref']) of checkbox used by backend -->
      <div class="csn-toggles toggle-light" data-toggle-on="true" data-toggle-checkbox="#use_preferences"></div>
      <input type="checkbox" class="hide" id="use_preferences" name="use_preferences" />
    </label>
  </div>

  <div class="search-form__filters-section search-form__filters-section--provider">
    <h3>Provider Type</h3>
    <label class="csn-select">
      <select class="unstyled-select csn-control csn-select" name="provider_type">
        <option value="">Please select...</option>
        <option value="1">Type 1</option>
        <option value="2">Type 2</option>
        <option value="3">Type 3</option>
      </select>
      <div class="csn-select__arrow"></div>
    </label>
  </div>

  <div class="search-form__filters-section search-form__filters-section--category">
    <h3>NDIS Categories</h3>
    <ul>
      <li>
        <label for="ndis_category_1" class="csn-control csn-control--checkbox">
          Assistance with Daily Life NDIS Categories
          <input type="checkbox" value="1" id="ndis_category_1" />
          <div class="csn-control__indicator"></div>
        </label>
      </li>
      <li>
        <label for="ndis_category_2" class="csn-control csn-control--checkbox">
          Transport
          <input type="checkbox" value="2" id="ndis_category_2" />
          <div class="csn-control__indicator"></div>
        </label>
      </li>
      <li>
        <label for="ndis_category_3" class="csn-control csn-control--checkbox">
          Consumables
          <input type="checkbox" value="3" id="ndis_category_3" />
          <div class="csn-control__indicator"></div>
        </label>
      </li>
      <li>
        <label for="ndis_category_4" class="csn-control csn-control--checkbox">
          Home
          <input type="checkbox" value="4" id="ndis_category_4" />
          <div class="csn-control__indicator"></div>
        </label>
      </li>
      <li>
        <label for="ndis_category_5" class="csn-control csn-control--checkbox">
          Assistance with Social & Community Participation
          <input type="checkbox" value="5" id="ndis_category_5" />
          <div class="csn-control__indicator"></div>

        </label>
      </li>
    </ul>
  </div>

  <div class="search-form__filters-section search-form__filters-section--category">
    <h3>Services Categories</h3>
    <ul>
      <li>
        <label for="services_category_1" class="csn-control csn-control--checkbox">
          Companionship & Social Support
          <input type="checkbox" value="1" id="services_category_1" />
          <div class="csn-control__indicator"></div>
        </label>
      </li>
      <li>
        <label for="services_category_2" class="csn-control csn-control--checkbox">
          Community Participation, Sports & Activities
          <input type="checkbox" value="2" id="services_category_2" />
          <div class="csn-control__indicator"></div>
        </label>
      </li>
      <li>
        <label for="services_category_3" class="csn-control csn-control--checkbox">
          Independent Living skills
          <input type="checkbox" value="3" id="services_category_3" />
          <div class="csn-control__indicator"></div>
        </label>
      </li>
      <li>
        <label for="services_category_4" class="csn-control csn-control--checkbox">
          Meal Preparation & Shopping
          <input type="checkbox" value="4" id="services_category_4" />
          <div class="csn-control__indicator"></div>
        </label>
      </li>
      <li>
        <label for="services_category_5" class="csn-control csn-control--checkbox">
          Showering, Toileting & Dressing
          <input type="checkbox" value="5" id="services_category_5" />
          <div class="csn-control__indicator"></div>
        </label>
      </li>
    </ul>
  </div>

  <div class="search-form__filters-section search-form__filters-section--action">
    <button class="button-a button-block button-lg">UPDATE YOUR RESULTS</button>
  </div>

 </div>




  {% comment %}
  <div class="search-form__filters-filter">
    <label for="filter-service">Service / Product</label>
    <span class="select-a">
      <select id="filter-service" class="unstyled-select" name="category_ids[]" data-category-filter>
        <option value="">Please select --</option>

        {% assign industries = searcher.searchable_categories | detect: name: 'Industry' %}
        {% for category in industries.children %}
          <option value="{{ category.id }}"{% if searcher.category_ids contains category.id %} selected{% endif %}>{{ category.name }}</option>
          {% for subcat in category.children %}
            <option value="{{ subcat.id }}"{% if searcher.category_ids contains subcat.id %} selected{% endif %}>&nbsp;&nbsp;&nbsp;&rsaquo; {{ subcat.name }}</option>
            {% for subcat2 in subcat.children %}
              <option value="{{ subcat2.id }}"{% if searcher.category_ids contains subcat2.id %} selected{% endif %}>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&rsaquo; {{ subcat2.name }}</option>
            {% endfor %}
          {% endfor %}
        {% endfor %}
      </select>
    </span>
  </div>
  {% endcomment %}

  {% comment %}
  <div class="search-form__filters-filter">
    <label for="filter-language">Language</label>

    <span class="select-a">
      <select name="category_ids[]" id="filter-language" class="unstyled-select" data-category-filter>
        <option value="">Please select --</option>
        {% assign languages = searcher.searchable_categories | detect: name: 'Language' %}
        {% for category in languages.children %}
          <option value="{{ category.id }}"{% if searcher.category_ids contains category.id %} selected{% endif %}>{{ category.name }}</option>
        {% endfor %}
      </select>
    </span>
  </div>
  {% endcomment %}
