<article class="search-results-item" id="user-{{ user.id }}" itemscope itemtype="http://schema.org/Organization">
  <div class="item-action-bar">
    <div class="item-action-bar__avatar">
      <img src="{{ user.profiles.seller.custom_images.picture.versions.thumb.url }}" alt="Emory image" />
    </div>

    <ul class="item-action-bar__actions">
      <li>
        <a href="#" class="button-c">
          <i class="fa fa-commenting-o"></i>
          MESSAGE
        </a>
      </li>
      <li>
        <a href="#" class="button-c">
          <i class="fa fa-heart"></i>
          FAVORITE
        </a>
      </li>
    </ul>
  </div>

  <div class="item-properties">
    <div class="item-properties__header">
      <h2>{{ user.name }}</h2>
      {% comment %}
        TODO: Talk about it. Lets find the best place and way to generate it.
        1) Liquid loop
        2) Data attributes and CSS+Magic ]:->
        3) Data attributes and JS
      {% endcomment %}
      <ul class="item-rating">
        <li class="item-rating__active"><i class="fa fa-star"></i></li>
        <li class="item-rating__active"><i class="fa fa-star"></i></li>
        <li class="item-rating__active"><i class="fa fa-star"></i></li>
        <li><i class="fa fa-star"></i></li>
        <li><i class="fa fa-star"></i></li>
      </ul>
    </div>

    <ul class="item-properties__actions">
      <li>
        <a href="" class="button-a">
          <i class="fa fa-chevron-right"></i>
          BOOK ME
        </a>
      </li>
      <li>
        <a href="" class="button-c">
          <i class="fa fa-handshake-o"></i>
          DETAILS
        </a>
      </li>
    </ul>

    <div class="item-properties__basic" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
      <p>Type: Individual</p>
      <p>Location: <span itemprop="streetAddress">{{ user.current_address.formatted_address }}</span> <i class="fa fa-map-marker"></i></p>
    </div>

    <div class="item-properties__categories">
      <h3>I have:</h3>
      <ul class="category-list category-list__circles">
        <li data-toggle="tooltip" title="Assistance with Daily Life"><i class="csn-icon assistance-daily-life"></i></li>
        <li data-toggle="tooltip" title="Transport"><i class="csn-icon transport"></i></li>
        <li data-toggle="tooltip" title="Assistive Technology"><i class="csn-icon assistive-technology"></i></li>
        <li data-toggle="tooltip" title="Home"><i class="csn-icon home"></i></li>
        <li data-toggle="tooltip" title="Coordination of Supports"><i class="csn-icon coordination-supports"></i></li>
        <li data-toggle="tooltip" title="Increased Social and Community Participation"><i class="csn-icon increased-social-community-participation"></i></li>
        <li data-toggle="tooltip" title="Assistance with Social &amp; Community Participation"><i class="csn-icon assistance-social-community-participation"></i></li>
        <li data-toggle="tooltip" title="Working with Children"><i class="csn-icon working-with-children"></i></li>
        <li data-toggle="tooltip" title="Nursing Services"><i class="csn-icon nursing-services"></i></li>
        <li data-toggle="tooltip" title="Showering, toileting &amp; Dressing"><i class="csn-icon showering-toileting-dressing"></i></li>
        <li data-toggle="tooltip" title="Meal Preparation &amp; Shopping"><i class="csn-icon meal-preparation-shopping"></i></li>
      </ul>
    </div>

    <div class="item-properties__description">
      <h3>Description</h3>
      <p>{{ user.profiles.seller.properties.web_summary }}</p>
    </div>
  </div>
</article>
