%h1= @instance_view.class.name.underscore.humanize

.pull-right
  = link_to 'Versions', admin_instance_instance_view_versions_path(@instance_view.instance_id, @instance_view.id), class: 'btn btn-default'
  = link_to 'Edit', edit_admin_instance_instance_view_path(@instance_view.instance_id, @instance_view.id), class: 'btn btn-default'

%table.table
  %tr
    %th= "Path"
    %td= @instance_view.path
  %tr
    %th= "Transactable Type"
    %td= @instance_view.transactable_type.name
  %tr
    %th= "Locale"
    %td= @instance_view.locale
  %tr
    %th= "Format"
    %td= @instance_view.format
  %tr
    %th= "Handler"
    %td= @instance_view.handler
  %tr
    %th= "Partial"
    %td= @instance_view.partial
  %tr
    %th= "Body"
    %td
      %pre= @instance_view.body
