.content-container
  .row
    .table-container.col-xs-12
      %table.table
        %tbody
          %tr
            %th Template
            %th
            %th
            %th

          - @sms_templates.each do |sms_template|
            %tr
              %td= pretty_path sms_template.path
              %td= sms_template.transactable_type.try(:name)
              %td
                .pull-right
                  = link_to 'Edit', edit_instance_admin_manage_sms_template_path(sms_template)
              %td
                .pull-right
                  = link_to 'Destroy', instance_admin_manage_sms_template_path(sms_template), method: :delete,
                      data: { confirm: 'Are you sure?' }

.content-container
  %h4 Customize default
  .row
    .table-container.col-xs-12
      %table.table
        %tbody
          %tr
            %th Template
            %th Customize

          - @not_customized_sms_templates_paths.each do |sms_template_path|
            %tr
              %td= pretty_path sms_template_path
              %td= link_to 'text', new_instance_admin_manage_sms_template_path(path: sms_template_path, sms_format: 'text')


= content_for :header_buttons do
  = link_to 'Add Sms Template', new_instance_admin_manage_sms_template_path, class: 'pull-right btn btn-blue'

