.content-container
  .row
    .table-container.col-xs-12
      %table.table
        %tbody
          %tr
            %th= t('instance_admin.manage.sms_templates.template')
            %th Transactable Types
            %th Locales
            %th
            %th

          - @sms_templates.each do |sms_template|
            %tr
              %td= pretty_path sms_template.path
              %td= sms_template.transactable_types.pluck(:name).join(', ')
              %td= sms_template.locales.map(&:display_name).join(', ')
              %td
                .pull-right
                  = link_to t('instance_admin.edit'), edit_instance_admin_manage_sms_template_path(sms_template)
              %td
                .pull-right
                  = link_to t('instance_admin.destroy'), instance_admin_manage_sms_template_path(sms_template), method: :delete,
                      data: { confirm: t('instance_admin.are_you_sure') }

.content-container
  %h4= t('instance_admin.manage.sms_templates.customize_default')
  .row
    .table-container.col-xs-12
      %table.table
        %tbody
          %tr
            %th= t('instance_admin.manage.sms_templates.template')
            %th= t('instance_admin.manage.sms_templates.customize')

          - @not_customized_sms_templates_paths.each do |sms_template_path|
            %tr
              %td= pretty_path sms_template_path
              %td= link_to 'text', new_instance_admin_manage_sms_template_path(path: sms_template_path, sms_format: 'text')


= content_for :header_buttons do
  = link_to t('instance_admin.manage.sms_templates.add_sms_template'), new_instance_admin_manage_sms_template_path, class: 'pull-right btn btn-blue'

