{% assign collaborator = current_user | find_collaborator: listing %}
{% assign title = platform_context.name | append: ' - ' | append: listing.name %}
{% title title %}
<main id="main">
  <div class="wrapper-a">
    <div class="back-to-search-results back-to-listings">
      <a href="{{ 'dashboard_company_transactable_type_transactables_path' | generate_url: listing.transactable_type.slug }}">Back to My Bookings</a>
    </div>

    <article class="box-a booking-a">
      <h1>{{ listing.name }}</h1>
      <div class="content">
        <div class="booking-properties">
          <div class="overview">
            <div class="state-{{ listing.state }}"><span>{{ listing.state | humanize }}</span></div>
            <div class="meta">
              Posted <b>{{ listing.created_at | time_ago_in_words }}</b> ago
            </div>
          </div>

          <div class="properties">
            <dl>
              <dt>Passenger Name:</dt>
              <dd>{{ listing.creator.name }}</dd>

              {% if collaborator != blank %}
              <dt>Invite Sent:</dt>
              <dd><time datetime="{{ collaborator.approved_by_owner_at }}">{{ collaborator.approved_by_owner_at | l: 'short'}}</time></dd>
              {% endif %}

              <dt>City:</dt>
              <dd>Sydney</dd>

              {% for language in listing.customizations_by_type['Languages'] %}
                {% capture langs %}{{ langs }}{% unless langs == blank %}, {% endunless %}{{ language.language }} ({{ language.fluency }}){% endcapture %}
              {% endfor %}

              {% if langs != blank %}
                <dt>Languages Spoken:</dt>
                <dd>{{ langs }}</dd>
              {% endif %}

              {% if listing.properties.number_of_passengers != blank %}
              <dt>Passengers:</dt>
              <dd>{{ listing.properties.number_of_passengers }}</dd>
              {% endif %}

              {% if listing.categories["Extras"]["children"].size > 0 %}
              <dt>Extras:</dt>
              <dd>{{ listing.categories["Extras"]["children"] | join: ', ' }}</dd>
              {% endif %}

              <dt>Price:</dt>
              {% assign total = listing.creator.properties.hourly_price | times: listing.properties.duration %}
              <dd data-convert-price="{{ total }}">{{ total | pricify }}</dd>
            </dl>

            <dl>
              {% if listing.properties.trip_start_date != blank %}
              <dt>Date:</dt>
              <dd>{{ listing.properties.trip_start_date }}</dd>
              {% endif %}

              {% if listing.properties.trip_start_time != blank %}
              <dt>Start Time:</dt>
              <dd>{{ listing.properties.trip_start_time }}</dd>
              {% endif %}


              {% if transactable.properties.duration != blank %}
                {% assign duration = transactable.properties.duration | plus: 0 %}
                <dt>Length: </dt>
                <dd>{{ duration }} {% if duration == 1 %}hour{% else %}hours{% endif %}</dd>
              {% endif %}

              {% if transactable.properties.pickup_location != blank %}
              <dt>Pickup Location:</dt>
              <dd>{{ transactable.properties.pickup_location }}</dd>
              {% endif %}

            </dl>
          </div>
        </div>

        <div class="booking-description">
          {% if listing.description != blank %}
          <h3>Trip Description:</h3>
          <p>{{ listing.description | nl2br }}</p>
          {% endif %}

          {% if listing.categories["Categories of Interest"]["children"].size > 0 %}
            <h3>Categories of Interest:</h3>
            <ul>
              {% for category in listing.categories["Categories of Interest"]["children"] %}
              <li>{{ category }}</li>
              {% endfor %}
            </ul>
          {% endif %}

          {% if listing.properties.special_requests != blank %}
          <h3>Special Requests:</h3>
          <p>{{ listing.properties.special_requests }}</p>
          {% endif %}
        </div>
      </div>


      <aside class="sidebar">
        <ul class="actions-a">

          {% assign orders = current_user | get_enquirer_orders: listing %}
          {% assign can_make_offer = false %}
          {% if current_status == 'pending' %}
            {% if orders == empty %}
              {% assign can_make_offer = true %}
            {% else %}
              {% assign can_make_offer = true %}
              {% for order in orders %}
                {% if order.state == 'unconfirmed' %}
                  {% assign can_make_offer = false %}
                {% endif %}
              {% endfor %}
            {% endif  %}
          {% endif %}

          {% if can_make_offer == true %}
            <li>
              {% if current_user.has_verified_merchant_account == true %}
                <a class="btn btn-info" href="{{ 'new_dashboard_order_path' | generate_url: transactable_id: transactable.id }}">Accept</a>
              {% else %}
                <a class="btn btn-info" data-modal="true" data-href="{{ 'required_modal_dashboard_company_payouts_path' | generate_url }}">Accept</a>
              {% endif %}
            </li>

            <li><a href="./" class="button-b">Decline</a></li>
          {% endif %}

          {% if collaborator != blank %}
            <li><a class="button-b action-message mini" data-modal="true" data-href="{{ listing.creator.user_message_path }}">Send Message</a></li>
          {% endif %}
        </ul>

        <figure class="avatar">
          <img src="{{ listing.creator.avatar_url_big }}" alt="{{ listing.creator.name }}">
        </figure>

        <h3 class="name">{{ listing.creator.name }}</h3>

        {% if listing.creator.properties.about %}
          {{ listing.creator.properties.about | nl2br }}
        {% endif %}

        <div class="rating-a" data-rating="{{ listing.creator.seller_avarage_rating | default: 0 }}">{{ listing.creator.seller_avarage_rating | default: 0 }} out of 5 stars</div>

        <ul class="user-properties">
          <li><b>{{ listing.creator.transactables_count }}</b> Bookings Requested</li>
          <li><b>{{ listing.creator.completed_transactables_count }}</b> Bookings Completed</li>
          <li><a href=""><b>2</b> Reviews</a></li>
          <li>{{ 'registrations.member_since' | translate }} {{ listing.creator.created_at | to_date | l: 'short' }}</li>
        </ul>

        <p class="payment-verified">
          <strong>Payment Method Verified</strong>
        </p>

        {% if listing.creator.has_active_credit_cards? %}
        <p class="payment-verified">
          <strong>Payment Method Verified</strong>
        </p>
        {% endif %}

        <ul class="actions-a">
          <li><a data-href="{{ listing.inappropriate_report_path }}" data-modal="true" class="button-c action-flag mini">Flag as inappropriate</a></li>
        </ul>
      </aside>
    </article>
  </div>
</main>
