- title t('dashboard.nav.edit')

- content_for :page_header do
  %h1= yield :title

  = render 'registrations/edit_options'


= render 'dashboard/shared/profile_nav', active: :buyer

= dashboard_simple_form_for [:dashboard, current_user], url: dashboard_buyer_path, method: :put, html: { class: "form-expandable" } do |f|
  = f.simple_fields_for :buyer_profile do |buyer_profile_form|
    = buyer_profile_form.simple_fields_for :properties, @buyer_profile.properties do |buyer_properties_form|
      .panel
        .panel-body
          - @form_components.each do |form_component|
            - form_component.form_fields.each do |form_field|
              - model = form_field.keys.first
              - field = form_field[model]
              - if model == 'buyer'
                = render :partial => 'buyers/buyer_form', :locals => { f: buyer_profile_form, only_inputs: [field.to_sym], properties_form: buyer_properties_form }
              - elsif model == 'user'
                = render :partial => 'registrations/new_attributes', :locals => { f: f, only_inputs: [field.to_sym], country: @country }

      .panel.form-actions
        .panel-body
          = f.submit "Save"
