= f.input :title

= f.input :content, as: :ckeditor, input_html: { ckeditor: { toolbar: 'simple' } }
= f.input :excerpt, as: :ckeditor, input_html: { ckeditor: { toolbar: 'simple' } }

= f.input :published_at_str, as: :string, readonly: true
= f.input :slug
= f.input :tag_list, input_html: { data: data_tags_options(f.object) }

= f.input :hero_image
= @blog_post.decorate.image_preview(:hero_image)

= f.input :author_name
= f.input :author_biography
= f.input :author_avatar_img
= @blog_post.decorate.image_preview(:author_avatar_img)
