- form_name ||= 'support_ticket_message'
.attachment.row{id: dom_id(ticket_message_attachment)}
  .col-md-6
    = link_to ticket_message_attachment.read_attribute(:file), ticket_message_attachment.file.url, target: '_blank'
  .col-md-5
    = ticket_message_attachment.tag
  - if ticket_message_attachment.ticket_message.nil?
    .col-md-1
      .destroy.pull-right
        = link_to dashboard_company_support_ticket_ticket_message_attachment_path(ticket_message_attachment.ticket, ticket_message_attachment), :'data-delete' => 'Are you sure?' do
          %span.ico-trash
      .edit.pull-right
        = link_to '#', data: { modal: true, href: edit_dashboard_company_support_ticket_ticket_message_attachment_path(ticket_message_attachment.ticket, ticket_message_attachment), 'ajax-options' => { form_name: form_name } } do
          %span.icon.ico-edit
  %input{name: "#{form_name}[attachment_ids][]", value: ticket_message_attachment.id, type: 'hidden' }

