- if only_inputs.empty? || only_inputs.include?(:payments)
  - if f.object.with_payment?
    #credit-card-select
      = f.simple_fields_for :payment_attributes, f.object.decorate.payment_decorator do |form|
        = form.hidden_field :id
        = render 'shared/payment_form', f: form

  - if f.object.with_payment_subscription?
    #credit-card-select
      = f.simple_fields_for :payment_subscription_attributes, f.object.payment_subscription_decorator do |form|
        = render 'shared/payment_form', f: form
