%div{data: {shipping_address: 'true'}}
  #shipping-address
    = f.simple_fields_for :shipping_address do |s|
      = s.input :firstname, placeholder: t('buy_sell_market.checkout.placeholders.first_name')
      = s.input :lastname, placeholder: t('buy_sell_market.checkout.placeholders.last_name')
      = s.input :phone, as: :string
      = s.input :email, as: :string
      = render 'checkout/attributes/address_details', form: s, field_label: t('.shipping_address')
