%div{data: {shipping_address: 'true', shipping_country_controller: 'true' }}
  #shipping-address
    = f.simple_fields_for :shipping_address do |s|
      = s.input :firstname, placeholder: t('buy_sell_market.checkout.placeholders.first_name')
      = s.input :lastname, placeholder: t('buy_sell_market.checkout.placeholders.last_name')
      = s.input :phone, as: :string
      = s.input :email, as: :string

      = s.simple_fields_for :address, s.object.address || s.object.build_address do |address_form|
        %div{class: "control-group #{"error" if address_form.object.errors.any?}"}

          = address_form.hidden_field :raw_address, value: true
          = address_form.input :address, required: true, label_html: { class: 'control-label'}
          = address_form.input :suburb, required: true, label_html: { class: 'control-label'}
          = address_form.input :postcode, required: true, label_html: { class: 'control-label'}
          = address_form.input :state_id, collection: @country_states, include_blank: false, input_html: { class: 'checkout-select' }
          = address_form.input :country_id, collection: @countries, input_html: { class: 'checkout-select',  data: { get_states_url: get_states_order_checkout_url(@order, format: :js) }}, include_blank: false
