= render_modal "Add New User to #{@company.name}", { id: "modal-add-user" } do
  = simple_form_for([:dashboard, @user], remote: true) do |f|
    .errors
    .email-holder.input-icon-holder
      = f.input :email, :placeholder => "Enter User's Email", :input_html => { :tabindex => '2' }
    %br
    .actions
      = f.submit 'Add User', id: 'submit-link', class: "btn blue pull-right"
