- if f.object.transactable_type.pricing_options.present? && f.object.transactable_type.pricing_options.any? { |k, v| v.to_i == 1 }
  - if f.object.respond_to?(:free?) && f.object.free?
    - enable_inputs_daily, enable_inputs_hourly, enable_inputs_free = false, false, true
  - elsif f.object.respond_to?(:hourly_reservations) && f.object.hourly_reservations
    - enable_inputs_daily, enable_inputs_hourly, enable_inputs_free = false, true, false
  - else
    - enable_inputs_daily, enable_inputs_hourly, enable_inputs_free = true, false, false
  %div{:class => "control-group #{"error" if f.object.errors.include?(:free).present?}"}
    = f.label :daily_price, 'Price', :class => 'control-label flush-top' do
      %abbr{:title => "required"} *
      Price

    .controls
      - if f.object.transactable_type.pricing_options['daily'] || f.object.transactable_type.pricing_options['weekly'] || f.object.transactable_type.pricing_options['monthly']
        %div.price-inputs-daily
          %label.radio
            = f.radio_button :price_type, "daily", :checked => enable_inputs_daily
            = f.object.transactable_type.pricing_options_long_period_names.map(&:capitalize).to_sentence(last_word_connector: " or ", two_words_connector: " or ")

          .price-input-options
            .price-inputs-wrapper.left
              - f.object.transactable_type.pricing_options_long_period_names.each do |price|
                = render 'manage/listings/price_field', :f => f, :price => price, :label => price.sub(/^daily$/, 'day').sub(/ly$/, ''), :include_checkbox => true

      - if f.object.transactable_type.pricing_options['hourly']
        %div.price-inputs-hourly
          %label.radio
            = f.radio_button :price_type, "hourly", :checked => enable_inputs_hourly
            Hourly

          .price-input-options
            .price-inputs-wrapper.left
              = render 'manage/listings/price_field', :f => f, :price => "hourly", :label => "hour"

      - if f.object.errors.include?(:hourly_reservations).present?
        %p.error-block= f.object.errors[:hourly_reservations].first

      - if f.object.transactable_type.pricing_options['free']
        %div.price-inputs-free
          %label.radio
            = f.radio_button :price_type, "free", :checked => enable_inputs_free
            Free

      - if f.object.errors.include?(:price_type).present?
        %p.error-block= f.object.errors[:price_type].first

      - if f.object.errors.include?(:free).present?
        %p.error-block
          = 'must be free if all prices are zero'
