= simple_nested_form_for @instance, :url => instance_admin_settings_path, :html => { :multipart => true } do |f|
  %fieldset
    %legend Listing Types
    %table#listing-types.table.table-borderless.table-condensed
      = f.fields_for :listing_types, wrapper: false  do |f|
        %tr.fields
          %td= f.input :name, label: false
          - if f.object.listings.count == 0
            %td.small= f.link_to_remove "Delete", class: 'btn btn-danger pull-right'
          - else
            %td.pull-right= "(in use by #{f.object.listings.count} listings)"

    %p
      = f.link_to_add "Add listing type", :listing_types, :data => { :target => "#listing-types" }, class: 'btn'
    %p
      = f.button :submit, 'Save', class: 'btn btn-success'
    %br
