.content-container
  %h4 Form Components
  .row
    .table-container.col-xs-12
      %table.table
        %tbody
          - @form_components.each do |resource|
            %tr
              %td= resource.name.humanize
              %td= resource.form_type
              %td= link_to 'Edit', edit_polymorphic_path([:instance_admin, @controller_scope, @form_componentable, resource]), class: 'pull-right'
              %td= link_to "Delete", polymorphic_path([:instance_admin, @controller_scope, @form_componentable, resource]), :method => :delete, data: { confirm: 'Are you sure you want to delete this transactable type?' }, class: "pull-right"

- @form_components.group_by(&:form_type).each do |form_type, form_components|
  .content-container
    %h4= form_type.humanize
    .row
      .table-container.col-xs-12
        %ol.formComponentPanelList
          - form_components.each do |form_component|
            %li.panel.panel-info{'data-id'=>form_component.id}
              %div.panel-heading
                = form_component.name

= content_for :header_buttons do
  = link_to 'New Form Component', new_polymorphic_path([:instance_admin, @controller_scope, @form_componentable, FormComponent.new], :form_type => @form_type || :space_wizard), class: 'pull-right btn btn-blue'

= content_for :script do
  :javascript
    new FormComponents("ol.formComponentPanelList", "#{polymorphic_path([:instance_admin, @controller_scope, @form_componentable, FormComponent.new])}")

