.content-container
  %h4= t('instance_admin.manage.form_components.form_components')
  .row
    .table-container.col-xs-12
      %table.table
        %tbody
          - @form_components.each do |resource|
            %tr
              %td= resource.name.humanize
              %td= resource.form_type
              %td= link_to t('instance_admin.edit'), edit_polymorphic_path([:instance_admin, @controller_scope, @form_componentable, resource]), class: 'pull-right'
              %td= link_to t('instance_admin.delete'), polymorphic_path([:instance_admin, @controller_scope, @form_componentable, resource]), :method => :delete, data: { confirm: t('instance_admin.are_you_sure') }, class: "pull-right"

- @form_components.group_by(&:form_type).each do |form_type, form_components|
  .content-container
    %h4= form_type.humanize
    .row
      .table-container.col-xs-12
        %ol.formComponentPanelList{:"data-initial-path" => polymorphic_path([:instance_admin, @controller_scope, @form_componentable, FormComponent.new]) }
          - form_components.each do |form_component|
            %li.panel.panel-info{'data-id'=>form_component.id}
              %div.panel-heading
                = form_component.name

= content_for :header_buttons do
  = link_to t('instance_admin.manage.form_components.new_form_component'), new_polymorphic_path([:instance_admin, @controller_scope, @form_componentable, FormComponent.new], :form_type => @form_type || :space_wizard), class: 'pull-right btn btn-blue'
