<h2>{{ ticket.rfq | capitalize }} Updated</h2>

<p>{{message.full_name}} has updated {{ ticket.rfq }} #{{ticket.id}}. They said:</p>

<p>{{ message.message_html }}</p>

{% include 'support_mailer/rfq_host_review.html' %}

{% include 'support_mailer/rfq_message_history.html' %}
