<h2>Ticket Updated</h2>

<p>{{message.full_name}} has updated ticket #{{ticket.id}}. They said:</p>

<p>{{ message.message_html }}</p>

<p>To review the status of the request and add additional comments, follow the link below:<br />
<a href="{{ platform_context.host | append:ticket.admin_url }}">{{ platform_context.host | append:ticket.admin_url }}</a></p>

{% if ticket.messages_count > 0 %}
<h2>Ticket History</h2>

{% for message in ticket.messages %}
  [{{message.created_at}}] {{message.full_name}}: {{message.message_html}}
{% endfor %}
{% endif %}
