- only_inputs = [] if only_inputs.nil?
- instance = platform_context.instance

- if only_inputs.empty? || only_inputs.include?(:approval_requests)
  = render 'dashboard/shared/fields/approval_requests', f: f

- if only_inputs.empty? || only_inputs.include?(:name)
  = f.input :name, :as => :limited_string, :hint => t('simple_form.hints.location.name'), required: f.object.validation_for(:name).try(:is_required?)

- if only_inputs.empty? || only_inputs.include?(:address)
  = f.simple_fields_for :location_address, (f.object.location_address.presence || f.object.build_location_address) do |address_form|
    = render 'dashboard/shared/fields/address', :f => address_form, field_label: t('simple_form.labels.locations.location_address.address')

- if only_inputs.empty? || only_inputs.include?(:time_zone)
  = f.input :time_zone

- if only_inputs.empty? || only_inputs.include?(:description)
  = f.input :description, :as => :limited_text, required: f.object.validation_for(:description).try(:is_required?), :input_html => { :rows => 2 }

- if instance.location_types.many?
  - if only_inputs.empty? || only_inputs.include?(:location_type)
    = f.association :location_type, :collection => instance.location_types, required: f.object.validation_for(:location_type_id).try(:is_required?)

- elsif
  = f.hidden_field :location_type_id, value: instance.location_types.first.try(:id)

- if only_inputs.empty? || only_inputs.include?(:email)
  = f.input :email, required: f.object.validation_for(:email).try(:is_required?)

- if only_inputs.empty? || only_inputs.include?(:administrator)
  = f.association :administrator, :collection => f.object.company_users.includes(:user).order('users.name').map(&:user), :label_method => 'name', :value_method => 'id', :input_html => { :class => 'custom-select' }, :include_blank => t('simple_form.prompts.location.administrator')
- if only_inputs.empty? || only_inputs.include?(:special_notes)
  = f.input :special_notes, :label => t('simple_form.labels.location.special_notes', lessee: platform_context.lessee.capitalize), :placeholder => t('simple_form.placeholders.location.special_notes', lessee: platform_context.lessee, lessees: platform_context.lessee.pluralize), required: f.object.validation_for(:special_notes).try(:is_required?)

- if only_inputs.empty? || only_inputs.include?(:availability_rules)
  .control-group
    = render 'dashboard/company/transactables/form_fields/availability', f: f, id_prefix: 'user_companies_locations_availability_template_id'

- unless instance.location_amenity_types.count.zero?
  = f.association :amenities, :collection => instance.location_amenity_types.order(:name), :as => :grouped_select, :group_method => :amenities, :group_label_method => :name, :blank => false, :input_html => { 'data-placeholder' => "Select one or more", :class => 'custom-select', :multiple => true } if only_inputs.empty? || only_inputs.include?(:amenities)

- if (only_inputs.empty? || only_inputs.include?(:assigned_waiver_agreement_templates)) && f.object.company.waiver_agreement_templates.count > 0
  %h2 Waiver Agreement Templates
  = f.association :waiver_agreement_templates, collection: f.object.company.waiver_agreement_templates.order(:name).pluck(:name, :id), as: :check_boxes
