<table class="bookings extended">
  <thead>
    <tr>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wed</th>
      <th>Thu</th>
      <th>Fri</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% booking_schedule_for(workplace) do |date, num, availability| %>
        <td class="day <%= availability %>">
          <time datetime="<%= date %>">
            <%= date.day %><sup><%= date.day.ordinal %></sup>
          </time>
          <details class="availability">
            <%= link_to new_workplace_booking_url(workplace, :date => date) do %>
              <%= num %>
            <% end %>
          </details>
        </td>
      <% end %>
    </tr>
  </tbody>
</table>
