<table class="bookings extended">
  <thead>
    <tr>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wed</th>
      <th>Thu</th>
      <th>Fri</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% booking_schedule_for(workplace, weeks) do |date, num, availability, new_row| %>
        <% if new_row %>
          </tr><tr>
        <% end %>
        <td class="day <%= availability %>">
          <time datetime="<%= date %>">
            <%= date.strftime("%b %d") %><sup><%= date.day.ordinal %></sup>
          </time>
          <div class="details availability">
            <%= link_to_if(num>0, num, new_workplace_booking_url(workplace, :date => date)) %>
          </details>
        </td>
    <% end %>
    </tr>
  </tbody>
</table>
