<%= simple_form_for workplace do |f| %>

  <% textile_hint = "(Parsed using #{link_to("Textile", "http://en.wikipedia.org/wiki/Textile_%28markup_language%29", :target => "_blank")}).".html_safe %>

  <%= f.input :local_geocoding, :as => :hidden %>
  <%= f.input :latitude, :as => :hidden %>
  <%= f.input :longitude, :as => :hidden %>
  <%= f.input :formatted_address, :as => :hidden %>

  <%= f.input :name, :hint => "What's the name of your joint?" %>

  <%= f.input :address, :input_html => {:rows => 4}, :hint => "Don't be shy, we're going to geocode this, so it needs to be accurate." %>

  <%= f.input :maximum_desks, :input_html => { :size => 4, :min => 1 }, :hint => "How many spots do you have?" %>
  <%= f.input :description, :input_html => {:rows => 8}, :hint => ["What resources are available, i.e. internet, speed, public transport, coffee shops near by, coffee included? Why would people love your office? What kinds of drop-ins/coworkers would you prefer? Conditions of entry (e.g. must participate in stand up or something)", textile_hint].join(' ').html_safe %>
  <%= f.input :company_description, :input_html => {:rows => 8}, :hint => ["What does your company do, why are you the best at it, etc?", textile_hint].join(' ').html_safe %>
  <%= f.input :url, :as => :string, :label => "Company URL", :hint => "Got a web page?" %>
  <%= f.input :confirm_bookings, :as => :radio, :hint => "Do you want to be able to approve bookings on a case-by-case basis? We'll notify you by email whenever there's a booking that needs your attention." %>
  <%= f.input :fake, :label => "Test workplace", :hint => "If you are testing this site for Rails Rumble, check this, <strong>OTHERWISE PEOPLE WILL COME TO YOUR OFFICE AND EXPECT YOU TO HAVE A DESK FOR THEM</strong>".html_safe %>
  
  <% if current_user.admin? %>
    <%= f.association :creator, :select => "Select a creator..." %>
  <% end %>
  <%= f.button :submit %>

<% end %>

<script type="text/javascript">

  function showLocationSuggestions(results) {
    if(results.length > 0) {
      var div = $("<div></div>").attr("id", "address-suggestions");
      var ul = $("<ul></ul>")
      var message = $("<p>Please select which location best matches where the workplace is</p>");
      for(var i = 0, l = results.length; i < l; i++) {
        var result = results[i];
        var loc = result['geometry']['location'];
        var link = $("<a href='#'></a>")
            .html(result['formatted_address'])
            .attr("data-lat", loc.lat())
            .attr("data-lng", loc.lng());
        var li = $("<li></li>").append(link);
        ul.append(li);
      }
      var el = div.append(message).append(ul);
    } else {
      var el = $("<div></div>").attr("id", "address-suggestions").html("No matches found. Please try another location.");
    }
    $("#workplace_address").after(el);
  }

  $("#workplace_address").bind('change', function() {
    var geocoder = new google.maps.Geocoder();
    var input = $(this);
    geocoder.geocode({ address: $(this).val() }, function(results, status) {
      $("#address-suggestions").remove();
      showLocationSuggestions(results);
    });
  });

  $("#address-suggestions li a").live("click", function() {
    var selection = $(this);
    $("#workplace_latitude").val(selection.attr("data-lat"));
    $("#workplace_longitude").val(selection.attr("data-lng"));
    $("#workplace_formatted_address").val(selection.html());
    $("#workplace_address").val(selection.html());
    $("#address-suggestions").remove();
    $("#workplace_address").focus();
    return false;
  });

  $(function() {
    $("#workplace_local_geocoding").val(true);
  });

</script>
