<div class="grid_4 alpha">
  <h1 class="tk-adelle">Workplaces</h1>
</div>
<div class="grid_8 omega">
  <%= render :partial => "search/bar", :locals => { :value => "" } %>
</div>
<div class="clearfix"></div>
<br />
<nav class="actions">
  <%= link_to new_workplace_path do %>
    <%= image_tag "building--plus.png" %> Create Workplace
  <% end %>
</nav>
<p>Listing workplaces by most recently created. Hover over a day to see how many desks are available.</p>
<br />
<section class="list">
  <%= render @workplaces %>
</section>
<%= will_paginate @workplaces %>

<% content_for :script do -%>
<script type="text/javascript">
  $(function(){
    $("td.day details.availability a").click(function(e){
      $(".overlay-container").overlay('close');
      e.stopPropagation();
      var overlay = $("body").overlay({ ajax: $(this).attr("href"), position: { my: "top", at: "bottom", of: $(this).parents('td') }, html: 'Working&hellip;', 'class': "context" });
      $(".overlay-container a.cancel").live("click", function(e){
        e.stopPropagation();
        $(".overlay-container").overlay('close');
        return false;
      });
      return false;
    });
  });
</script>
<% end %>
