
<article class="workplace">

  <div class="grid_8 alpha">
    <h1 class="tk-adelle"><%= @workplace.name %></h1>
  </div>
  <div class="grid_4 omega">
    <% if @workplace.created_by?(current_user) %>
        <%= link_to "Edit Workplace", edit_workplace_path(@workplace) %>
        <%= link_to "Manage Workplace Photos", workplace_photos_path(@workplace) %>
    <% end %>
  </div>

  <section class="details grid_8 alpha">

    <p class="em"><%= @workplace.company_description %></p>

    <hr />

    <h2>Bookings</h2>
    <table class="bookings extended">
      <tr>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
      </tr>
      <tr>
        <td class="day available">
          <time datetime="2010-10-16">16<sup>th</sup></time>
          <details class="availability">4</details>
        </td>
        <td class="day booked">
          <time datetime="2010-10-17">17<sup>th</sup></time>
          <details class="availability">0</details>
        </td>
        <td class="day available">
          <time datetime="2010-10-18"><%= link_to '18',new_workplace_booking_url(@workplace,:date => '2010-10-18') %><sup>th</sup></time>
          <details class="availability"><%= link_to '3',new_workplace_booking_url(@workplace,:date => '2010-10-18') %></details>
        </td>
        <td class="day last_bookings">
          <time datetime="2010-10-19">19<sup>th</sup></time>
          <details class="availability">1</details>
        </td>
        <td class="day last_bookings">
          <time datetime="2010-10-20">20<sup>th</sup></time>
          <details class="availability">2</details>
        </td>
      </tr>
    </table>

    <hr />

    <h2>Extra Info</h2>
    <p><%= @workplace.description %></p>

  </section>

  <aside class="grid_4 omega">
    <section id="photos">
      <h2>Photos</h2>
      <ul>
      <% @workplace.photos.each do |photo| %>
        <li>
          <%= link_to photo.large.url, :title => photo.description, :rel => "photos" do %>
            <%= image_tag(photo.thumb.url, :alt => photo.description) %>
          <% end %>
        </li>
      <% end %>
      </ul>
    </section>
    <section>
      <h2>Location</h2>
      <div id="map" style="height: 200px"></div>
      <%= link_to "Open in Google Maps", "http://maps.google.com?q=#{@workplace.address}", :target => "_blank" %>
      <details>
        <%= simple_format @workplace.location.name %>
      </details>
    </section>
  </aside>

</article>

<script type="text/javascript">
  $(document).ready(function() {
      var latlng = new google.maps.LatLng(<%= @workplace.latitude %>, <%= @workplace.longitude %>);
      var myOptions = {
        zoom: 8,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        mapTypeControl: false
      };
      var map = new google.maps.Map(document.getElementById("map"), myOptions);
      var image = "<%= image_path("drawer-open.png") %>";
      var beachMarker = new google.maps.Marker({
        position: latlng,
        map: map,
        icon: image
      });
  });
</script>
