= new_file_upload_input("#{f.object_name}[photos_attributes][0][image]",
                                dashboard_photos_path,
                                { width: 200, height: 175, transform: :resize_to_fill },
                                t('simple_form.labels.listing.add_photo'),
                                :required => true,
                                :error => f.object.errors.include?(:photos).present? ? "Please upload at least one photo." : nil) do
  - # caches img so it is displayed even for the first photo. Without this, loader icon is not displayed for the first photo
  .thumbnail-processing{:hidden => true}
    .loading-icon

  = hidden_field_tag "#{f.object_name}", nil, placeholder: t('ui.photo_uploader.caption'), id: 'photo-item-input-template', disabled: true, 'data-number' => 0, 'data-no-caption' => true
  - unless @photos.nil?
    - @photos.each_with_index do |photo|
      - next unless photo.persisted?

      .photo-item{:id => "photo-" + photo.id.to_s}
        = image_tag photo.image_url(:medium)
        .media-actions
          %button.button-a.small.action--edit{:type => "button", :data => { :"resize-photo" => true, :modal => true, :href => edit_dashboard_photo_path(photo), :'ajax-options' => { id: photo.id }}, :title => t('forms.photos.collection.rotate_and_crop')}
            %span.intelicon-edit

          %button.button-a.small.red.action--remove{:type => "button", :data => { :"delete-photo" => true, :url => destroy_space_wizard_photo_path(:id => photo.id) }, :title => t('forms.photos.collection.delete') }
            %span.intelicon-trash-outlined

        = hidden_field_tag "#{f.object_name}[photo_ids][]", photo.id
        = hidden_field_tag "#{f.object_name}[photos_attributes][#{photo.id}][id]", photo.id
        = hidden_field_tag "#{f.object_name}[photos_attributes][#{photo.id}][position]", photo.position, class: 'photo-position-input'

- if is_i18n_set?('simple_form.hints.group.photos')
  %p.photo-uploader-hint
    = t('simple_form.hints.group.photos')
