<h1>Hi {{ user.first_name }},</h1>

<p><a href="{{ owner.profile_url }}">{{ owner.name }}</a> has declined your membership request on <a href="{{ group.show_url }}">{{ group.name }}</a>, but thanks you for your offer.</p>
<p>You're welcome to follow the group and keep track of new developments.</p>
