<h1>Hi {{ user.first_name }},</h1>
<p><a href="{{ owner.profile_url }}">{{ owner.name }}</a> has approved you as a group member on <a href="{{ group.show_url }}">{{ group.name }}</a>.</p>
<p>Don't forget to follow the group to stay up-to-date with the latest developments.</p>
