- only_inputs = [] if only_inputs.nil?

- if (only_inputs.empty? || only_inputs.include?(:name))
  = f.input :name, :as => :limited_string, :limit => 50, required: !current_instance.skip_company

- if only_inputs.empty? || only_inputs.include?(:approval_requests)
  = render 'dashboard/shared/fields/approval_requests', f: f

- if only_inputs.empty? || only_inputs.include?(:address)
  = f.simple_fields_for :company_address, (f.object.company_address.presence || f.object.build_company_address) do |address_form|
    = render 'dashboard/shared/fields/address', :f => address_form, field_label: t('simple_form.labels.companies.company_address.address')

- if (only_inputs.empty? || only_inputs.include?(:url) || only_inputs.include?(:email))
  - if (only_inputs.empty? || (only_inputs.include?(:url) && only_inputs.include?(:email)))
    .row
      - if (only_inputs.empty? || only_inputs.include?(:url))
        .col-md-8
          = f.input :url
      - if (only_inputs.empty? || only_inputs.include?(:email))
        .col-md-4
          = f.input :email
  - elsif only_inputs.include?(:url)
    = f.input :url
  - elsif only_inputs.include?(:email)
    = f.input :email

- if (only_inputs.empty? || only_inputs.include?(:description))
  = f.input :description, :as => :limited_text, :limit => 250

- if (only_inputs.empty? || only_inputs.include?(:payments_mailing_address))
  = f.simple_fields_for :payments_mailing_address, (f.object.payments_mailing_address.presence || f.object.build_payments_mailing_address) do |address_form|
    = render 'dashboard/shared/fields/address', f: address_form, field_label: t('payouts.mailing_address')

- if (only_inputs.empty? || only_inputs.include?(:paypal))
  %h3 Payouts via Paypal
  = f.input :paypal_email, :label => tooltip(t("simple_form.hints.company.paypal_email"), t('simple_form.labels.company.paypal_email')), hint: false

- if (only_inputs.empty? || only_inputs.include?(:ach))
  - if platform_context.supported_payout_via_ach?
    %h3 Payouts via ACH (US only)
    - if f.object.errors[:bank_account_form].present?
      .bank_account_fields
        .flash.error
          %ul
            - f.object.errors[:bank_account_form].each do |e|
              %li= e
            %li Unfortunately we could not process the credentials you have entered.

    = f.input :bank_owner_name
    = f.input :bank_routing_number
    = f.input :bank_account_number
