- only_inputs = [] if only_inputs.nil?
= f.input :name, :as => :limited_string, :limit => 50  if (only_inputs.empty? || only_inputs.include?(:name))
= f.association :industries, :blank => false, :input_html => { 'data-placeholder' => t('simple_form.prompts.company.industries'), :class => 'custom-select' }, :required => true if (platform_context.is_desksnearme? && (only_inputs.empty? || only_inputs.include?(:industries)))
= f.input :url if (only_inputs.empty? || only_inputs.include?(:url))
= f.input :email if (only_inputs.empty? || only_inputs.include?(:email))
= f.input :description, :as => :limited_text, :limit => 250, :input_html => { :maxlength => 250} if (only_inputs.empty? || only_inputs.include?(:description))
= f.input :mailing_address, :label => tooltip(t("simple_form.hints.company.mailing_address", bookable_noun: platform_context.bookable_noun.pluralize), t('simple_form.labels.company.mailing_address')), hint: false if (only_inputs.empty? || only_inputs.include?(:mailing_address))

- if (only_inputs.empty? || only_inputs.include?(:paypal))
  %h2 Payouts via Paypal
  = f.input :paypal_email, :label => tooltip(t("simple_form.hints.company.paypal_email"), t('simple_form.labels.company.paypal_email')), hint: false

- if (only_inputs.empty? || only_inputs.include?(:ach))
  - if platform_context.supported_payout_via_ach?
    %h2 Payouts via ACH (US only)
    - if f.object.instance_clients.first.try(:encrypted_balanced_user_id)
      %div= t("simple_form.company.current_bank_account", last_four_digits: f.object.instance_clients.first.bank_account_last_four_digits)
      %div Update:
    - if f.object.errors[:bank_account_form].present?
      .bank_account_fields
        .flash.error
          %ul
            - f.object.errors[:bank_account_form].each do |e|
              %li= e
            %li Unfortunately we could not process the credentials you have entered.

    = f.input :bank_owner_name
    = f.input :bank_routing_number
    = f.input :bank_account_number
