.two-thirds.column
  .box
    %h2 Create a company
    %p.intro
      Fill out your company's details and we'll take you back to set up your location.

    = simple_form_for company, :html => { :class => "form-horizontal new_company" } do |f|
      = f.input :name
      = f.input :url
      = f.input :email
      = f.input :description

      .actions
        = f.button :submit
