%h1 Create a company
%p
  Fill out your company's details and we'll take you back to set up your location.

= simple_form_for company do |f|
  = f.input :name
  = f.input :url
  = f.input :email
  = f.input :description
  = f.button :submit
