-# TODO Deprecated
- only_reservations ||= false
- if @reservations.empty? && @recurring_booking.nil? && @recurring_bookings.try(:empty?)
  %p.no-data= t('reservations.no_bookings_html', type: params[:action], bookable_noun: platform_context.bookable_noun)
- else
  - if @reservation
    = render 'reservation_successful'
  - if @recurring_booking && !only_reservations
    = render 'recurring_booking_successful'

  - if !only_reservations
    .reservation-list
      %ul
        - (@recurring_bookings - [@recurring_booking]).each_with_index do |recurring_booking, index|
          %li
            = render recurring_booking.decorate

  .reservation-list
    %ul
      - (@reservations - [@reservation]).each_with_index do |reservation, index|
        %li
          = render reservation.decorate
