.row-fluid
  .span12.reservation-details{id: dom_id(reservation)}
    .span12.reservation-text-information
      .reservation-status
        .icon-container
          = my_booking_status_info(reservation) 
      .span12.reservation-information
        %div{:class => reservation.archived? ? 'span6' : 'span5'}
          = link_to reservation.listing.name, location_listing_path(reservation.listing.location, reservation.listing)
          %br
          %span= reservation.listing.location.address 
        .span2
          = reservation_total_price(reservation)
          %br
          %span= reservation.state.capitalize
        %div{:class => reservation.archived? ? 'span3' : 'span2'}
          - if reservation.listing.hourly_reservations?
            .dates
              = hourly_summary_for_period(reservation.periods.first) 
          - else
            %a.dates{href: '#', data: { :dates => periods_dates(reservation.periods) } }
              = selected_dates_summary(reservation)
          .clearfix
          %span
            = link_to export_reservation_path(reservation, :format => :ics) do
              %span Add to iCal
              %span.ico-download
        .span1
          = reservation.quantity
          %span.ico-user
        - unless reservation.archived?
          .span2
            .actions
              = render :partial => "dashboard/user_actions",  :locals => {:reservation => reservation} if current_user == reservation.owner



:javascript
  new Reservation.UserReservationController($("##{dom_id(reservation)}"))
