.row-fluid
  .span12.reservation-details{id: dom_id(reservation)}
    .span12.reservation-text-information
      .reservation-status
        .icon-container
          = reservation.my_booking_status_info
      .span12.reservation-information
        %div{:class => reservation.archived? ? 'span6' : 'span5'}
          = link_to reservation.listing.name, location_listing_path(reservation.listing.location, reservation.listing)
          %br
          %span.address= link_to reservation.listing.location.address, "http://maps.apple.com/?q=#{reservation.listing.location.address}", target: '_blank'
        .span2
          = reservation.total_price
          %br
          %span= reservation.state.capitalize
        %div{:class => reservation.archived? ? 'span3' : 'span2'}
          - if reservation.listing.hourly_reservations?
            - reservation_period = reservation.periods.first.decorate
            %a.dates{href: '#', 'data-reservation-hours' => reservation_period.hourly_summary(true)}
              = reservation.short_dates
          - else
            %a.dates{href: '#', data: { :dates => reservation.dates } }
              = reservation.short_dates
          .clearfix
          %span
            - unless reservation.unconfirmed?
              = link_to export_reservation_path(reservation, :format => :ics) do
                %span Add to iCal
                %span.ico-download
        .span1
          = reservation.quantity
          %span.ico-user
        - unless reservation.archived?
          .span2
            .actions
              = render :partial => "dashboard/user_actions",  :locals => {:reservation => reservation} if current_user == reservation.owner

:javascript
  new Reservation.UserReservationController($("##{dom_id(reservation)}"))

