- title "Bookings (#{@reservations.count + @recurring_bookings.count})"

%section#reservations
  .row-fluid
    .span8.offset2
      %h1
        %span.ico-bookings.padding My Bookings
      .box
        %header
          .button-links
            %ul
              %li
                = reservation_navigation_link('upcoming')
              %li
                = reservation_navigation_link('archived')

        = render 'index'

= render 'modals'

