{% for custom_attribute in searcher.filterable_custom_attributes %}
  <div data-search-filters-container>
    {% if custom_attribute.name == 'workplace_type' %}
      {% assign cattr_param = params['lg_custom_attributes']['workplace_type'] %}
      <div data-custom-attribute='workplace_type'>
        <h1>{{ custom_attribute.name }}</h1>
        {% for value in custom_attribute.valid_values %}
          <label>
            <input {% if cattr_param == value %}checked{% endif %} name='lg_custom_attributes[workplace_type][]' type='checkbox' value='{{value}}'>
            <span>{{ value }}</span>
          </label>
        {% endfor %}
      </div>
    {% endif %}

    {% if custom_attribute.name == 'travel' %}
      {% assign cattr_param = params['lg_custom_attributes']['travel'] %}
      <div data-custom-attribute='travel'>
        <h1>{{ custom_attribute.name }}</h1>
        {% for value in custom_attribute.valid_values %}
          <label>
            <input {% if cattr_param == value %}checked{% endif %} name='lg_custom_attributes[travel][]' type='radio' value='{{value}}'>
            <span>{{ value }}</span>
          </label>
        {% endfor %}
      </div>
    {% endif %}

  </div>
{% endfor %}

{% for root_category in searcher.searchable_categories %}
  <h1>{{ root_category.name }}</h1>
  <div data-search-filters-container>
    <select name='category_ids[]'>
      <option value=''>Please select</option>
      {% for category in root_category.children %}
        <option {% if searcher.category_ids contains category.id %} selected {% endif %}value='{{category.id}}'>{{ category.name }}</option>
      {% endfor %}
    </select>
  </div>
{% endfor %}

<div data-search-filters-container>
  <select name='sort'>
    <option value=''>Sort by</option>
    <option {% if params['sort'] == 'hourly_rate_decimal_asc'  %}selected{% endif %} value='hourly_rate_decimal_asc'>Hourly rate ascending</option>
    <option {% if params['sort'] == 'hourly_rate_decimal_desc' %}selected{% endif %} value='hourly_rate_decimal_desc'>Houry rate descending</option>
  </select>
</div>
