<div class="search-form" id="listing_search">
  <div class="wrapper-a">
    <form action="/search" method="get" id="search-form" class="no_inheritance">
      <div class="query">
        <label for="field-q" class="struct-label">Search keyword</label>
        <input type="text" name="query" id="field-q" placeholder="Enter keywords&hellip;" value="{{ params['query'] }}">
        <input type="hidden" name="lg_custom_attributes[driver_category]" value="{{ searcher.lg_custom_attributes_hash['driver_category'] }}">
        <input type="hidden" name="lg_custom_attributes[vehicle_capacity]" value="{{ searcher.lg_custom_attributes_hash['vehicle_capacity'] }}">
        <input type="hidden" name="availability_exceptions[from]" value="{{ searcher.availability_exceptions['from'] }}" id="data-availability-from">
        <input type="hidden" name="availability_exceptions[to]" value="{{ searcher.availability_exceptions['to'] }}" id="data-availability-to">
        <input type="hidden" name="category_ids" value="{{ searcher.category_ids }}">
        <input type="hidden" name="per_page" value="{{ searcher.per_page }}">
        <input type="hidden" name="page" value="{{ searcher.current_page }}" id="input-page">
        <input type="hidden" name="query_fields" value="tags">
        <input type="hidden" name="sort">
        <input type="hidden" name="search_type" value="{{ params['search_type'] }}">

        <div class="form-action">
          <button type="submit" class="button-a">Search</button>
        </div>
      </div>
    </form>

    <fieldset class="filters" data-search-filters-container>
      <legend class="struct-label">Filter</legend>

      <div class="filters-wrapper">
        <div class="filter filter-dates">
          <label for="filter-dates">Select Dates</label>
          <input class="daterange_field" name="availability" data-date-range id="filter-dates" type="text">
        </div>
        <div class="filter">
          <label for="filter-passengers">Passengers</label>
          <span class="select-a">
          <select name="lg_custom_attributes[vehicle_capacity]" id="filter-passengers" class="unstyled-select">
            <option value="">Please select</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          </select>
          </span>
        </div>

        <div class="filter">
          <label for="filter-driver-category">Driver Category</label>
          <span class="select-a">
          <select name="lg_custom_attributes[driver_category]" id="filter-driver-category" class="unstyled-select">
            <option value="">Please select</option>
            <option value="Standard">Standard</option>
            <option value="Pro">Pro</option>
            <option value="Plus">Plus</option>
          </select>
          </span>
        </div>

        <div class="filter">
          <label for="filter-second-language">Second Language</label>
          <span class="select-a">
          <select name="lg_custom_attributes[second_language]" id="filter-second-language" class="unstyled-select">
            <option value="">Please select</option>
            <option value="EN">English</option>
          </select>
          </span>
        </div>

        <div class="filter">
          <label for="filter-extras">Extras</label>
          <span class="select-a">
          <select name="category_ids[]" id="filter-extras" class="unstyled-select">
            <option value="">Please select</option>
            <option value="EN">English</option>
          </select>
          </span>
        </div>
      </div>
    </fieldset>
  </div>
</div>

<main id="results">
  <div class="wrapper-a">
    <h1 class="struct-label">Search results</h1>
    <section class="search-results">
      <header class="search-results-header">
        <div class="search-results-query-info">
          <span class="results-count"><b>{{ searcher.result_count }}</b> Result(s) Found</span>

          <button type="button" class="button-c small">Reset Filters</button>
        </div>

        <div class="search-sort-order" data-search-filters-container>
          <label for="search-order">Sort by:</label>
          <span class="select-a">
            <select id="search-order" name="sort" class="unstyled-select">
              <option {% if params['sort'] == blank  %}selected{% endif %} value=''>Relevance</option>
              <option {% if params['sort'] == 'custom_attributes.hourly_rate_decimal_asc'  %}selected{% endif %} value='custom_attributes.hourly_rate_decimal_asc'>Hourly rate ascending</option>
              <option {% if params['sort'] == 'custom_attributes.hourly_rate_decimal_desc' %}selected{% endif %} value='custom_attributes.hourly_rate_decimal_desc'>Houry rate descending</option>
            </select>
          </span>
          </div>
      </header>

      <div class="search-results-items">
        {% for user in searcher.results %}
        <article class="user-a" id="user-{{ user.id }}">
          <figure class="avatar">
            <a href="{{ user.user_profile_url }}">
              <img src="{{user.avatar_url_big}}" alt="{{ user.name }}">
            </a>
          </figure>

          <div class="description">
            <header>
              <h2><a href="/{{ user.user_profile_url }}">{{ user.name }}</a></h2>
              <div class="summary">
                <div class="rating-a" data-rating="4">4 out of 5 stars</div>
                <div class="price"><strong>AUD {{ user.buyer_properties.hourly_rate_decimal | price_with_cents_with_currency }}</strong> / hr</div>
              </div>
            </header>
            <dl class="properties">
              {% if user.buyer_properties.driver_category %}
              <dt>Driver Type:</dt>
              <dd>{{ user.buyer_properties.driver_category }}
                <div class="driver-types-description" tabindex="0">
                  <ul>
                    <li>
                      <b>Standard</b> -
                      = t('driver_categories.descriptions.standard')
                    </li>
                    <li>
                      <b>Pro</b> -
                      = t('driver_categories.descriptions.pro')
                    </li>
                    <li>
                      <b>Plus</b> -
                      = t('driver_categories.descriptions.plus')
                    </li>
                  </ul>
                </div>
              </dd>
              {% endif %}

              <dt>Joined:</dt>
              <dd>{{ user.created_at | timeago }}</dd>

              <dt>Number of Bookings:</dt>
              <dd>{{ user.completed_host_reservations_count }}</dd>

              <dt>Number of Ratings:</dt>
              <dd>{{ user.reviews_counter.about_seller }}</dd>

              <dt>Capacity:</dt>
              <dd>{{ 'passengers_count' | t, count: user.properties.vehicle_capacity }}</dd>
            </dl>

            {% if user.buyer_properties.bio != blank %}
            <h3>About {{ user.first_name }}</h3>
            <p>{{ user.buyer_properties.bio | nl2br }}</p>
            {% endif %}

            <h3>Languages</h3>
            <dl class="languages-proficiency short-list">
              <dt>English</dt>
              <dd>Fluent</dd>

              <dt>Spanish</dt>
              <dd>Fair</dd>

              <dt>French</dt>
              <dd>Basic</dd>
            </dl>
          </div>

          <div class="options">
            <ul>
              <li class="ask-to-book"><a href="/" class="button-a">Ask to Book</a></li>
               >
              <li><button type="button" data-href='{{ user.user_message_path }}' class="button-b" data-modal='true'>Message Me</a></li>
              {% if current_user.has_seller_profile? %}
              <li>
                {% include 'shared/components/wish_list_button_injection.html', object: user %}
              </li>
              {% endif %}
            </ul>
          </div>
          <script>
            $(function(){
              $(document).trigger('userLoaded.localdriva', 'user-{{user.id}}')
            });
          </script>
        </article>
        {% endfor %}
      </div>

      {% if searcher.next_page %}
      <p class="search-results-more-trigger">
        <button type="button" class="button-a" data-page='{{ searcher.next_page }}'>More Results</button>
      </p>
      {% endif %}
    </section>
  </div>
</main>

{% content_for 'domready' %}
$(document).trigger('init:list:searchresults.nearme');
{% endcontent_for %}
