<p>Dear {{ name }},</p>

<p>{{ sharer.name }} has shared a listing with you!</p>

<p><a href="{{ listing.location.url }}">View {{ listing.name }} on Desks Near Me</a></p>

{% if message %}
  <p>They also wanted to say:</p>

  <pre>{{ message }}</pre>
  <p></p>
{% endif %}
