= simple_form_for [:instance_admin, :theme, resource], :html => { :multipart => true } do |f|
  .row
    .input-container.col-xs-6
      = f.input :name, input_html: { class: 'form-control' }
  .row
    .input-container.col-xs-6
      = f.input :inject_pages, collection: inject_pages_collection, input_html: {  multiple: true, class: 'form-control chosen'}
    .input-container.col-xs-6
      = f.input :position, collection: ContentHolder::POSITIONS, input_html: { class: 'form-control' }
  .row
    .input-container.col-xs-12
      = f.input :enabled, inline_label: true
  .row
    .input-container.col-xs-12
      = f.input :content, input_html: { class: 'form-control editor', rows: "20", data: { editor: 'liquid' } }

  = content_for :header_buttons do
    = f.button :submit, t('instance_admin.save'), class: 'btn btn-blue pull-right', data: { 'submit-form' => 1, 'form-selector' => 'form' }
    = link_to t('instance_admin.cancel'), instance_admin_theme_content_holders_path , class: 'btn btn-blue pull-right'
