.content-container
  %h4
    = t('instance_admin.content_holders.content_holder')
  .show-version
    .row
      .input-container.col-xs-12
        .field-name
          = t('instance_admin.content_holders.name')
        = resource.name
    .row
      .input-container.col-xs-12
        .field-name
          = t('instance_admin.content_holders.enabled')
        = resource.enabled
    .row
      .input-container.col-xs-12
        .field-name
          = t('instance_admin.content_holders.content')
        %textarea.form-control{rows: 15}= resource.content

= content_for :header_buttons do
  = link_to t('instance_admin.edit'), edit_instance_admin_theme_content_holder_path(resource), class: 'btn btn-blue pull-right'

