%li.listing.action-buttons
  .span2
    = distance_of_time_in_words_or_date(order.completed_at)
  .span2
    = link_to(order.number, edit_manage_buy_sell_order_path(order))
  .span1
    = t("manage.order.order_state.#{order.state.downcase}")
  .span1
    = t("manage.order.payment_states.#{order.payment_state}")
  .span1
    = t("manage.order.shipment_states.#{order.shipment_state}") if order.shipment_state
  .span2
    = mail_to order.email
  .span1
    = order.display_total.to_html
  .span2
    .links.right
      = link_to manage_buy_sell_order_path(order), :method => :delete, :confirm => 'Are you sure?', :class => "delete", style: 'padding-top: 0px;' do
        %span.ico-trash
        %span.text Delete

      = link_to edit_manage_buy_sell_order_path(order), :class => "delete", style: 'padding: 0 0 0 10px;' do
        %span.icon.ico-edit
        %span.text Edit
  .clearfix
