- title "Orders"

= show_manage_navigation(:orders)

.row-fluid
  .span10.offset1
    .box
      %header
        %ul.location-and-listings
          %li.location
            .name.left
              Manage Orders
      %ul.location-and-listings
        %li.listing.action-buttons
          .span2= t('order.completed')
          .span2= t('order.order_number')
          .span1= t('order.state')
          .span1= t('order.payment_state')
          .span1= t('order.shippment_state')
          .span2= t('order.buyer_email')
          .span1= t('order.total')

          .span2.state.text-right

          .clearfix
        = render partial: 'order', collection: @orders
      = will_paginate @orders

