- if f.object.is_a?(BaseForm)
  .prices-container
    %hr/
    %h3.control-label
      %abbr{:title => t('form.required')} *
      = t('pricing.price')
      - if is_i18n_set?('pricing.hint.price')
        = hint_button t('pricing.hint.price')

    .price-options.nested-fields-set
      = f.simple_fields_for :pricings do |pricing|
        .nested-container
          - if !pricing.object.model.transactable_type_pricing && (pricing.object.model.errors.any? || pricing.object.model.new_record?)
            = render 'dashboard/company/transactables/form_fields/action_types/custom_pricing', f: pricing
          -else
            = render 'dashboard/company/transactables/form_fields/action_types/pricing', f: pricing, tt_pricing: pricing.object.model.transactable_type_pricing, show_free_column: f.object.model.try(:allow_free_booking?)
      - if f.object.model.allow_custom_pricings?
        .add-link
          = link_to_add_association t('pricing.add_new') , f, :pricings, partial: 'dashboard/company/transactables/form_fields/action_types/custom_pricing', render_options: { locals: { tt_pricing: nil } }, class: 'btn btn-primary'


    - if fields.include? 'action_rfq'
      = render "dashboard/company/transactables/form_fields/action_rfq", f: f

    - if fields.include?('availability_rules')
      = render 'dashboard/company/transactables/form_fields/availability', f: f

    - if fields.include?('unavailable_periods')
      = render 'dashboard/company/transactables/form_fields/unavailable_periods', f: f

    - if fields.include? 'minimum_booking_minutes'
      = render 'dashboard/company/transactables/form_fields/minimum_booking_minutes', f: f
- else
  .prices-container
    %hr/
    %h3.control-label
      %abbr{:title => t('form.required')} *
      = t('pricing.price')
      - if is_i18n_set?('pricing.hint.price')
        = hint_button t('pricing.hint.price')

    .price-options.nested-fields-set
      = f.simple_fields_for :pricings, f.object.decorate.pricings_for_form do |pricing|
        .nested-container
          - if !pricing.object.transactable_type_pricing && (pricing.object.errors.any? || pricing.object.new_record?)
            = render 'dashboard/company/transactables/form_fields/action_types/custom_pricing', f: pricing
          -else
            = render 'dashboard/company/transactables/form_fields/action_types/pricing', f: pricing, tt_pricing: pricing.object.transactable_type_pricing, show_free_column: f.object.try(:allow_free_booking?)
      - if f.object.allow_custom_pricings?
        .add-link
          = link_to_add_association t('pricing.add_new') , f, :pricings, partial: 'dashboard/company/transactables/form_fields/action_types/custom_pricing', render_options: { locals: { tt_pricing: nil } }, class: 'btn btn-primary'


    - if fields.include? 'action_rfq'
      = render "dashboard/company/transactables/form_fields/action_rfq", f: f

    - if fields.include?('availability_rules')
      = render 'dashboard/company/transactables/form_fields/availability', f: f

    - if fields.include?('unavailable_periods')
      = render 'dashboard/company/transactables/form_fields/unavailable_periods', f: f

    - if fields.include? 'minimum_booking_minutes'
      = render 'dashboard/company/transactables/form_fields/minimum_booking_minutes', f: f
