%div.dimension-templates-fields{:"data-dimension-templates" => true, id: section_id }

  .dimensions_select_container.form-group
    = label_tag :select_instance_dimensions_template, label, class: 'control-label'
    = content_tag :select, id: 'select_instance_dimensions_template', class: 'form-control dimensions-templates product-form', :data => { 'shipping-dimensions-templates-select': true }, placeholder: t('manage.buy_sell.dimensions_templates.select') do
      = options_for_dimensions_templates_select(templates)


  = dt.input :unit_of_measure, as: :hidden, input_html: { 'data-shipping-unit-of-measure': true }

  .dimensions_element_container.row
    .col-xs-8
      = dt.input :weight, as: :decimal, input_html: { :class => 'shippo_decimal_field', 'data-shipping-dimension': 'weight' }
    .col-xs-4
      = dt.input :weight_unit, collection: DimensionsTemplate::UNITS_OF_MEASURE[dt.object.unit_of_measure]['weight'], label: Spree::Variant.human_attribute_name(:weight_unit), input_html: { 'data-shipping-dimension-unit': 'weight' }

  .dimensions_element_container.row
    .col-xs-8
      = dt.input :depth, as: :decimal, input_html: { :class => 'shippo_decimal_field', 'data-shipping-dimension': 'depth' }
    .col-xs-4
      = dt.input :depth_unit, collection: DimensionsTemplate::UNITS_OF_MEASURE[dt.object.unit_of_measure]['length'], label: Spree::Variant.human_attribute_name(:depth_unit), as: :select, input_html: { 'data-shipping-dimension-unit': 'depth' }

  .dimensions_element_container.row
    .col-xs-8
      = dt.input :width, as: :decimal, input_html: { :class => 'shippo_decimal_field', 'data-shipping-dimension': 'width' }
    .col-xs-4
      = dt.input :width_unit, collection: DimensionsTemplate::UNITS_OF_MEASURE[dt.object.unit_of_measure]['length'], label: Spree::Variant.human_attribute_name(:width_unit), as: :select, input_html: { 'data-shipping-dimension-unit': 'width' }

  .dimensions_element_container.row
    .col-xs-8
      = dt.input :height, as: :decimal, input_html: { :class => 'shippo_decimal_field', 'data-shipping-dimension': 'height' }
    .col-xs-4
      = dt.input :height_unit, collection: DimensionsTemplate::UNITS_OF_MEASURE[dt.object.unit_of_measure]['length'], label: Spree::Variant.human_attribute_name(:height_unit), as: :select, input_html: { 'data-shipping-dimension-unit': 'height' }

  - if defined?create_dimensions_template_url
    %p= link_to t('dimensions_templates.form.add_new_dimensions_template'), create_dimensions_template_url, data: { :'add-template-trigger' => true }, class: 'btn btn-primary'


- content_for :domready do
  $(document).trigger('init:dimensiontemplates.nearme', ['##{section_id}', #{raw DimensionsTemplate::UNITS_OF_MEASURE.to_json}])
