%h3= t('dashboard.document_requirements.upload_files')

%div{:data => {:"document-requirements" => true }}

  = f.simple_fields_for :upload_obligation do |f|
    = f.input :level, as: :radio_buttons, :collection => UploadObligation::LEVELS, label: false, wrapper_html: { "data-document-obligation": true }

  .document-requirements-fields{class: "#{'hidden' if f.object.upload_obligation.not_required?}"}
    %p= t('dashboard.document_requirements.enter_your_documents')

    = f.simple_fields_for :document_requirements do |dr|
      %div.requirement{:data => {:requirement => true}}
        = dr.input :label, input_html: { disabled: true}
        = dr.input :description, input_html: { disabled: true}

        .remove-document-requirement.hidden.clearfix
          = dr.check_box :hidden, class: "hidden document-hidden"
          - if dr.object.new_record?
            = dr.label :hidden, class: 'pull-right' do
              %span.btn.btn-xs.btn-warning{ type: :button }
                = t('dashboard.document_requirements.remove')

          - else
            = dr.check_box :removed, class: "hidden remove-document"
            = dr.label :removed, class: 'pull-right' do
              %span.btn.btn-xs.btn-warning{ type: :button }
                = t('dashboard.document_requirements.remove')

    %p
      %button.form-control-option-add.btn.btn-primary{type: :button, :"data-new-requirement" => true}
        = t('dashboard.document_requirements.add_new_document_requirement')
