- title t('dashboard.nav.notification_preferences')

- content_for :page_header do
  %h1= yield :title

= dashboard_simple_form_for @user, url: dashboard_notification_preferences_path, method: :put, html: { multipart: true, id: 'edit_notification_preferences', data: { :"notification-preferences" => true } } do |f|
  .panel
    .panel-body
      = f.input :accept_emails, as: :switch
      = f.input :sms_notifications_enabled, as: :switch

  .panel.form-actions
    .panel-body
      = f.submit t('general.save')

