<div class="incomplete-profile">
  <figure class="avatar">
    <img src="{{user.avatar_url_big}}" alt="{{ user.name }}">
  </figure>
  <h1>Purchaser profiles are not available</h1>
  <p>If you would like to learn more about <strong>{{ user.name }}</strong> you can <a href="{{ user.user_message_path }}" data-href="{{ user.user_message_path }}" data-modal='true'>message them</a></p>
</div>
