<article class="user-profile-a" id="user-{{ user.id }}" itemscope itemtype="http://schema.org/Organization">
  <header class="user-profile-a-header">
    <div class="branding">
      <img src="{{user.avatar_url_big}}" alt="{{ user.company }}" itemprop="logo">
      <img src="{{user.avatar_url_big}}" alt="{{ user.name }}">
    </div>

    <div class="desc">
      <h2 itemprop="name">Spring Bank</h2>

      <p class="address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <span itemprop="streetAddress">69 E 167th St.</span><br>
        <span itemprop="addressLocality">Bronx</span>, <span itemprop="addressRegion">NY</span> <span itemprop="postalCode">10452</span>
        <span class="neighborhood">Concourse</span>
      </p>

      <ul class="social-a">
        <li class="facebook"><a href="http://www.facebook.com">Facebook</a></li>
        <li class="googleplus"><a href="http://plus.google.com">Google+</a></li>
        <li class="twitter"><a href="http://www.twitter.com">Twitter</a></li>
      </ul>
    </div>
  </header>


  <div class="user-profile-a-options">
    {% comment %}
    {% if current_user.id != user.id %}{% endif %}
    {% endcomment %}
    <ul>
      {% comment %}
      {% if current_user != blank and current_user.has_seller_profile? %}{% endif %}
      {% endcomment %}
      <li class="begin-collaboration">
        {% if current_user.seller_profile.onboarding_at == blank %}
        <a href="{{ 'dashboard_company_transactable_type_transactables_path' | generate_url: platform_context.transactable_types.first.id }}" class="button-a">Request Proposal</a>
        {% else %}
        <a href="#collaboration-{{ user.id }}" class="button-a" data-collaborations-trigger>Request Proposal</a>
        {% endif %}
      </li>
      {% comment %}
      {% if true %}{% endif %}
      {% endcomment %}

      <li>
        <a href="{{ user.user_message_path }}" type="button" data-href="{{ user.user_message_path }}" class="button-b" data-modal='true'>Send Message</a>
      </li>

      {% comment %}
      {% if current_user.has_seller_profile? %}{% endif %}
      {% endcomment %}
      <li>
        {% include 'shared/components/wish_list_button_injection.html', object: user %}
      </li>
      {% comment %}
      {% if true %}{% endif %}
      {% endcomment %}
    </ul>
  {% comment %}
  {% if true %}{% endif %}
  {% endcomment %}


  </div>


  <div class="user-profile-a-full-description">
    <div class="main">
      <div class="company-description" itemprop="description">

        {% include 'registrations/badges', user: user, full: true %}

        <figure class="team-photo">
          <img src="http://localhost:4000/images/team_image.png" alt="Team Image">
        </figure>


        {% include "registrations/products_services", user: user %}

        <h3>Our Story</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>

        <h3>Certifications</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>

        <h3>Awards</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>

        <h3>Media</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>

        <h3>Clients</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>

        <h3>Community Involvement</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>

        {% include "registrations/testimonials", user: user %}
      </div>
    </div>
    <div class="sidebar">
      <div class="availability">
        <h3>Hours / Days of Operation</h3>
        <p>M-F  9:00 AM - 5:30 PM<br>
        S-S   10:00 AM - 12:00 PM</p>

        <h3>Availability</h3>
        <p>We are closed the first Monday in the month</p>
      </div>

      <div class="languages">
        <h3>Languages</h3>
        <ul>
          <li>English</li>
          <li>Italian</li>
        </ul>
      </div>


      {% comment %}
      {% if user.tag_list.size > 0 %}{% endif %}
      {% endcomment %}
      <div class="tags-a tags-short-list">
        <h4>Tags</h4>
        <ul>
          <li><a href="?query_fields=tags&amp;query={{ tag }}">Tag 1</a></li>
          <li><a href="?query_fields=tags&amp;query={{ tag }}">Tag 2</a></li>
          <li><a href="?query_fields=tags&amp;query={{ tag }}">Tag 3</a></li>
          <li><a href="?query_fields=tags&amp;query={{ tag }}">Tag 4</a></li>
          {% for tag in user.tag_list %}
           <li><a href="?query_fields=tags&amp;query={{ tag }}">{{ tag }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% comment %}
      {% if true %}{% endif %}
      {% endcomment %}

      <hr>
      <a class="button-b action-flag" href="#" data-href="{{ user.inappropriate_report_path }}" data-modal="true">{{ 'inappropriate_reports.flag_as_inappropriate' | translate }}</a>
    </div>
  </div>

  <script>
    $(function(){
      $(document).trigger('user:loaded', 'user-{{user.id}}')
    });
  </script>

  <div class="collaborations-a" id="collaboration-{{ user.id }}" data-collaborations-url="{{ 'collaborations_for_current_user_dashboard_company_user_path' | generate_url: user.id }}" data-collaborations-container></div>

</article>
