- title "Reset Password"

.sign-up
  .two-thirds.column
    .box
      %h2== Reset Your Password
      %p.intro
        Enter your new password below and we'll update your account.

      = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => "form-horizontal" }) do |f|
        = f.hidden_field :reset_password_token

        = f.input :password
        = f.input :password_confirmation, label: "Confirm Password"

        .actions
          = f.submit "Change Password"

