- title "Reset Password"

.grid_4.alpha
  %h1.tk-chaparral-pro Lost Password

  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :class => "simple_form password_reset_form" }) do |f|
    = devise_error_messages!

    %p
      Fill in your email below and we'll send you instructions to reset your password.

    %div.input
      = f.label :email
      = f.email_field :email
    %div.actions
      = f.submit "Reset Password"
      or
      = link_to "Cancel", user_session_url


= render "sessions/connect_provider"
