- title t('reset_password_form.title')

.row-fluid
  #signup
    .span8.offset2
      .box
        %header
          %h2= t 'reset_password_form.heading'
          %p= t 'reset_password_form.instructions_email'

        = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name)) do |f|
          .email-holder.input-icon-holder
            = f.input :email, :placeholder => "Email", :tabindex => '1', label_html: { class: 'hidden' }
            %span.ico-mail

          .actions
            = f.submit t('reset_password_form.buttons.reset'), class: 'btn btn-green'

- if request.xhr?
  :javascript
    $(document).trigger('setclass:modal.nearme', ['sign-up-modal']);

- content_for :domready do
  $(function() { $(document).trigger('init:signinform.nearme'); });

