<p style="text-align: center;">
<a href="{{ listing.location.facebook_social_share_url }}" class="padding-right"><img alt="facebook" border="0" src="{{ listing.location.facebook_img_url }}" /></a>

<a href="{{ listing.location.twitter_social_share_url }}" class="padding-right"><img alt="twitter" border="0" src="{{ listing.location.twitter_img_url }}" /></a>

<a href="{{ listing.location.linkedin_social_share_url }}"><img alt="linkedin" border="0" src="{{ listing.location.linkedin_img_url }}" /></a>
</p>
