<p>The booking that you made on <%= @reservation.created_at.strftime("%A, %e %B") %> for '<%= @listing.name %>' at <%= link_to(@listing.location.name, location_url(@listing.location, :listing_id => @listing)) %> was declined by the host for the following reason:</p>

<p> <%= @reservation.rejection_reason %> </p>

<p>Don't worry - <%= link_to 'find other locations near you', search_url %>!</p>
