<h2>Thanks, {{ user.first_name }}!</h2>

<p class="first-paragraph">
Thanks for confirming {{ reservation.owner.first_name }}'s booking for '<a href="{{ listing.listing_url }}">{{ listing.name }}</a>' at {{ listing.street }}. You can <a href="{{ listing.manage_guests_dashboard_url }}">manage guest bookings via the Dashboard</a>.
</p>

<p>If you need help, send an email to <a href="mailto:happydesk@desksnear.me">happydesk@desksnear.me</a> or contact us at {{ platform_context.phone_number }}.</p>
