<h2>What happened, {{ user.first_name }}?</h2>

<p>We noticed that you just cancelled {{ reservation.owner.first_name }}'s booking for '<a href="{{ listing.listing_url }}">{{ listing.name }}</a>' at {{ listing.street }}.</p>

<p>Plans change, we get it. Just let us know the reasons by clicking the big button below. That will help us to provide a better service in the future for you and your guests.</p>

<a class="btn" href="mailto:support@desksnear.me">Send Feedback</a>

<p>If you prefer, you can talk with us directly; just send an email to <a href="mailto:happydesk@desksnear.me">happydesk@desksnear.me</a> or call us on {{ platform_context.phone_number }}.</p>

<p>We'll be glad to help you!</p>
