<h2>You got it, {{ user.first_name }}!</h2>

<p>Your booking for '<a href="{{ listing.listing_url }}">{{ listing.name }}</a>' at {{ listing.street }} has been confirmed! Here it is:</p>

<div class="booking-details">

  <div class="row">
    <strong style='display: inline-block;'>Host</strong>
    <span style="float: right;"><a href="{{ listing.administrator.user_profile_url }}">{{ listing.administrator.first_name }}</a></span>
  </div>

  <div class="row">
    <strong style='display: inline-block;'>What</strong>
    <span style="float: right;"><a href="{{ listing.listing_url }}">{{ listing.name }}</a> x {{ reservation.quantity }}</span>
  </div>

  <div class="row">
    <strong style='display: inline-block;'>When</strong>
    <span style="float: right;">
      {% if listing.hourly_reservations? %}
        {{ reservation.hourly_summary }}
      {% else %}
        {{ reservation.dates_summary }}
      {% endif %}
    </span>
  </div>

  <div class="row">
    <strong style='display: inline-block;'>Total</strong>
    <span style="float: right;">{{ reservation.total_price }}</span>
  </div>

</div>

<p>You can manage your booking here:</p>

<a class="btn" href="{{ user.bookings_dashboard_url_with_token }}">My Bookings</a>

<p>We're always happy to help! If you have any questions about your booking, please send an email to <a href="mailto:happydesk@desksnear.me">happydesk@desksnear.me</a> or contact us at {{ platform_context.phone_number }}.</p>
