<p>Here are the shipping details for "{{ listing.name }}":</p>

<h3>Outbound Delivery</h3>
<p>Shipping Tracking number: {{ outbound_shipping.tracking_number }}</p>
<p><a href="{{ outbound_shipping.tracking_url_provider }}">Track package</p>

<h3>Return Delivery</h3>
<p><a href="{{ inbound_shipping.label_url }}">Return shipping label</p>
<p><a href="{{ inbound_shipping.tracking_url_provider }}">Track return delivery</p>
