<h2>{{ user.first_name }}, your booking has been declined</h2>

<p>Your booking for '<a href="{{ listing.listing_url }}">{{ listing.name }}</a>' at {{ listing.street }} has been declined by the host. But we have you covered! Here are some alternatives, similar to the listing you tried to book:</p>

{% include 'reservation_mailer/listings_in_near.html' %}

<a class="btn" href="{{ listing.search_url }}">Search More Desks</a>

<p>We're always happy to help! If you have any questions about your booking, please send an email to <a href="mailto:happydesk@desksnear.me">happydesk@desksnear.me</a> or contact us at or {{ platform_context.phone_number }}.</p>
