<p><%= @reserver %> has made a booking for '<%= @listing.name %>' at <%= link_to(@listing.location.name, location_url(@listing.location, :listing_id => @listing)) %>.</p>

<%= render :partial => "shared/mailers/booking_details", :locals => { :listing => @listing, :reservation => @reservation } %>

<p>You can manage guest bookings <%= link_to 'via the Dashboard', @url %>.</p>
