<h2>Your booking at '<a href="{{ listing.listing_url }}">{{ listing.name }}</a>' commences tomorrow</h2>

<p>It's almost time to work at '<a href="{{ listing.listing_url }}">{{ listing.name }}</a>', {{ listing.street }}. Before your booking, you might like to:</p>

<ul>
  <li><a href="{{ listing.location.google_map_url }}">Get directions</a></li>
  <li><a href="{{ listing.location.nearby_eateries_url }}">Find nearby eateries</a></li>
  <li><a href="{{ listing.location.weather_url }}">Check tomorrow's weather</a></li>
  <li><a href="{{ listing.bookings_dashboard_url }}">Manage your booking</a></li>
</ul>

<p></p>
<p>We're always happy to help! If you have any questions about your booking, please send an email to <a href="mailto:happydesk@desksnear.me">happydesk@desksnear.me</a> or contact us at or 555-888-DESK (3375).</p>
