.row-fluid
  .controls.controls-row
    = f.input :title, :placeholder => 'Post title', :input_html => { class: 'input-block-level', :data => { :slug_changed => @blog_post.slug_changed?, :slug_source => true }}, wrapper_html: { class: 'span12' }

.row-fluid
  .controls.controls-row
    .span12
      = f.label :content
      .toolbar
        %button{"data-command-name" => "bold"} Bold
        %button{"data-command-name" => "italic"} Italic
        %button{"data-command-name" => "strikeThrough"} Strike Through
        %button{"data-command-name" => "removeFormat"} Remove Formatting
        %button{"data-command-name" => "linkPrompt"} Link
        %button{"data-command-name" => "unlink"} Unlink
        %button{"data-command-name" => "insertOrderedList"} Ordered List
        %button{"data-command-name" => "insertUnorderedList"} Unordered List
        %button{"data-command-name" => "indent"} Indent
        %button{"data-command-name" => "outdent"} Outdent
        %button{"data-command-name" => "blockquote"} Blockquote
        %button{"data-command-name" => "h2"} H2
        %button{"data-command-name" => "undo"} Undo
        %button{"data-command-name" => "redo"} Redo
      .scribe.input-block-level.uneditable-input
      = f.input :content, as: :hidden

.row-fluid
  .controls.controls-row
    .span12
      = f.label :excerpt
      .toolbar
        %button{"data-command-name" => "bold"} Bold
        %button{"data-command-name" => "italic"} Italic
        %button{"data-command-name" => "strikeThrough"} Strike Through
        %button{"data-command-name" => "removeFormat"} Remove Formatting
        %button{"data-command-name" => "linkPrompt"} Link
        %button{"data-command-name" => "unlink"} Unlink
        %button{"data-command-name" => "insertOrderedList"} Ordered List
        %button{"data-command-name" => "insertUnorderedList"} Unordered List
        %button{"data-command-name" => "indent"} Indent
        %button{"data-command-name" => "outdent"} Outdent
        %button{"data-command-name" => "blockquote"} Blockquote
        %button{"data-command-name" => "h2"} H2
        %button{"data-command-name" => "undo"} Undo
        %button{"data-command-name" => "redo"} Redo
      .scribe.input-block-level.uneditable-input.small
      = f.input :excerpt, as: :hidden

.row-fluid
  .controls.controls-row
    = f.input :published_at, as: :date, include_blank: true

.row-fluid
  .controls.controls-row
    = f.input :slug, :data => {:slug => true}, wrapper_html: { class: 'span12' }, input_html: { class: 'input-block-level' }

= f.input :header
= link_to(@blog_post.header.filename, @blog_post.header.url) if @blog_post.header.present?

%legend Author
.row-fluid
  .controls.controls-row
    = f.input :author_name, wrapper_html: { class: 'span12' }, input_html: { class: 'input-block-level' }
.row-fluid
  .controls.controls-row
    = f.input :author_biography, wrapper_html: { class: 'span12' }, input_html: { class: 'input-block-level' }
.row-fluid
  .controls.controls-row
    = f.input :author_avatar, wrapper_html: { class: 'span12' }, input_html: { class: 'input-block-level' }
= link_to(@blog_post.author_avatar.filename, @blog_post.author_avatar.url) if @blog_post.author_avatar.present?

= f.button :submit, class: "btn btn-primary pull-right"
