.row-fluid
  .controls.controls-row
    = f.input :title, :placeholder => 'Post title', :input_html => { class: 'input-block-level', :data => { :slug_changed => @blog_post.slug_changed?, :slug_source => true }}, wrapper_html: { class: 'span12' }

.row-fluid
  .controls.controls-row
    = f.input :content, wrapper_html: { class: 'span12' }, input_html: { class: 'input-block-level' }

.row-fluid
  .controls.controls-row
    = f.input :published_at, as: :date, include_blank: true

.row-fluid
  .controls.controls-row
    = f.input :slug, :data => {:slug => true}, wrapper_html: { class: 'span12' }, input_html: { class: 'input-block-level' }

= f.input :header
= link_to(@blog_post.header.filename, @blog_post.header.url) if @blog_post.header.present?

%legend Author
.row-fluid
  .controls.controls-row
    = f.input :author_name, wrapper_html: { class: 'span12' }, input_html: { class: 'input-block-level' }
.row-fluid
  .controls.controls-row
    = f.input :author_biography, wrapper_html: { class: 'span12' }, input_html: { class: 'input-block-level' }
.row-fluid
  .controls.controls-row
    = f.input :author_avatar, wrapper_html: { class: 'span12' }, input_html: { class: 'input-block-level' }
= link_to(@blog_post.author_avatar.filename, @blog_post.author_avatar.url) if @blog_post.author_avatar.present?

= f.button :submit, class: "btn btn-primary pull-right"
