= simple_form_for @transactable_type, :url => instance_admin_settings_cancellation_policy_path, :html => { :multipart => true } do |f|
  %h4 Cancellation Policy
  .content-container
    .row
      .input-container.col-xs-12
        = f.input :enable_cancellation_policy, required: false, as: :boolean, label: "Should cancellation policy be enabled?", input_html: { class: 'form-control', checked: f.object.enable_cancellation_policy.nil? ? f.object.cancellation_policy_enabled.present? : f.object.enable_cancellation_policy=="1" }
    .row.dropshadow
      .input-container.col-xs-6
        = f.input :cancellation_policy_hours_for_cancellation, label: 'Number of hours before booking to cancel', required: false, input_html: { class: 'form-control' }
      .input-container.col-xs-6
        = f.input :cancellation_policy_penalty_percentage, label: 'Penalty fee (percent of total amount)' do
          = f.input_field :cancellation_policy_penalty_percentage, type: 'tel', class: 'form-control'

  .content-container
    .row
      = f.button :submit, 'Save', class: 'btn btn-green pull-right'
