- title "White-label"
.dash-page
  .dash-head.clearfix
    %p MANAGE USERS
  .dash-body
    = simple_form_for @company, :url => dashboard_white_label_path(@company), wrapper: :bs3, :html => {multipart: true, :id => 'edit_company' } do |f|
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo


      = f.input :white_label_enabled, :inline_label => "Enable", input_html: { data: { toggle: "collapse", target: "#whiteLabelFields", :"white-label-enabler" => true}}

      #whiteLabelFields{'data-white-label-settings-container' => true, class: @company.white_label_enabled ? "collapse in" : "collapse"}
        = f.simple_fields_for :domain, f.object.domain || Domain.new do |domain_form|
          = domain_form.check_box :white_label_enabled, :checked => f.object.white_label_enabled, 'data-white-label-settings' => true, :class => 'hidden'
          = domain_form.input :name, :as => :limited_string, :limit => 50, :label => "Your Domain", :placeholder => 'example.com', :required => true
          = domain_form.input :google_analytics_tracking_code

        = f.simple_fields_for :theme, (f.object.theme || Theme.new) do |theme_form|
          = theme_form.check_box :white_label_enabled, :checked => f.object.white_label_enabled, 'data-white-label-settings' => true, :class => 'hidden'

          = render :partial => 'themes/theme', :locals => { :f => theme_form }

          = f.input :listings_public, :inline_label => "Enable"

        .submit-bar
          = f.submit "Save", class: "btn medium blue"


- content_for :domready do
  $(function() { new CompanyForm($('#edit_company')) });
