<h2>{{ 'saved_searches.mailer.content.daily.new_search_results' | translate }}</h2>

<p>
{% for saved_search in saved_searches %}
  <a href="{{ platform_context.host | append:saved_search.path }}">{{ saved_search.title }}</a>: {{ saved_search.new_results }}
  <br />
{% endfor %}
</p>

<p>{{ 'saved_searches.mailer.content.dashboard_link_html' | translate }} <a href="{{ platform_context.host | append:saved_searches.first.dashboard_saved_searches_url }}">{{ 'saved_searches.mailer.content.here' | translate }}</a></p>
