---
name: Terms of Use
---

<div class="container_main pages-tos">
  <h1>Terms and Conditions</h1>

  <p class="text-right">Last Updated: 20 December 2016</p>

  <p class="text-justify">Welcome to LocalDriva! These Terms and Conditions (i.e. the <strong>“Agreement”</strong>) are between <strong>“LocalDriva Pty Ltd”</strong> (referred to as <strong>“we”</strong>, <strong>“us”</strong>, <strong>“our”</strong> or the <strong>“Company”</strong>) and <strong>“You”</strong>, an individual registering to be a user of our platform and services (referred to as a <strong>“Passenger”</strong>, <strong>“User”</strong>, <strong>“you”</strong> or <strong>“your”</strong>), whereas the Company operates a website facilitating transportation services by independent providers of peer-to-peer passenger transportation and guide services via the platform (the <strong>“Platform”</strong>, meaning the LocalDriva website, including any mobile applications, existing or to be developed by or on behalf of LocalDriva).</p>

  <p class="text-justify">The Platform enables an authorized transportation provider (a <strong>“Registered</strong> Driver” or <strong>“Driver”</strong>) to seek, receive and fulfill requests for <strong>“Transportation Services”</strong> (i.e. the provision of P2P passenger transportation services to Passengers via the Platform) from you, whereby Registered Drivers are required to meet the Company’s registration requirements and either own, lease or otherwise have in their lawful possession a vehicle which meets the relevant safety standards, laws or regulations in the State or Territory in which they operate or intend to operate (<strong>“Registered Private Vehicle”</strong>).</p>

  <p class="text-justify">You seek to enter into this Agreement for the purpose of accessing and using the Platform and you acknowledge and agree that the Company is an online platform and does not provide transportation services itself. In order to use the LocalDriva Platform you must agree to the terms and conditions of this Agreement. Upon your acceptance (electronic or otherwise) of this Agreement (whereby you will have acknowledged that you have read and understood all of the terms of this Agreement), you and Company shall be bound by the terms and conditions set forth herein (collectively, the <strong>“Terms”</strong>).</p>

  <p class="text-justify">The Company makes a platform available for Passengers and Drivers to meet online and arrange Bookings. The Company is not an operator or provider of tours, activities or Transportation Services, nor does not own, sell, resell, furnish, provide, manage and/or control any transportation or tour services. The Company’s responsibilities are limited to: (i) facilitating the availability of the Transport Services; (ii) serving as the limited agent of each Driver for the purpose of accepting payments from Passengers on behalf of the Driver; and (iii) in certain instances, providing requested assistance in order to facilitate communication between the Passenger or Driver.</p>

  <ol>
    <li id="tos-1">
      <h4>YOUR USE OF THE SERVICE</h4>
      <ol>
        <li id="tos-1-1"><p>You warrant that you have full power and authority to enter into this Agreement.</p></li>
        <li id="tos-1-2"><p>In order to use and make a Booking under the Platform, you must register for and maintain an active personal user Services account (<strong>"Account"</strong>). You must be at least 18 years of age, or the age of legal majority in your jurisdiction (if different than 18) to obtain an Account. Account registration requires you to submit to the Company certain personal information, such as your name, address, mobile phone number and age, as well as at least one valid payment method supported by the Company (<strong>“User Information”</strong>). You agree to maintain accurate, complete, and up-to-date information in your Account. Your failure to maintain accurate, complete, and up-to-date Account information, including having an invalid or expired payment method on file, may result in your inability to access or use the Platform. You are responsible for all activity that occurs under your Account, and you agree to maintain the security and secrecy of your Account username and password at all times. Unless expressly permitted by the Company in writing, you may only possess one Account.</p></li>
        <li id="tos-1-3"><p>You warrant that all information that you have provided to us for registration is true, accurate and up-to-date in all respects. If your details or information changes you must notify us in writing immediately at members@localdriva.com.</p></li>
        <li id="tos-1-4"><p>You will be able to view profiles of Registered Drivers on the Platform and make requests for Transportation Services. Once your request is accepted by a Registered Driver, you shall make full payment online. A confirmed and paid for Transportation Request is referred to as a “Booking”. For the avoidance of doubt, your booking will only be considered as a confirmed Booking once your payment has been made and received by the Company.</p></li>
        <li id="tos-1-5"><p>You understand and accept that while the Driver will undertake his/her best efforts to adhere to the confirmed Booking terms, there may be situations beyond the control of the Driver, such as traffic congestion or extended stays at particular locations, which may affect the ability of the Driver to fully adhere to the confirmed Booking terms. In such situation, you agree to accept the Driver’s best judgment on how to organise the remaining time of the Booking and adhere to his/her decision in this regard. Any reasonable change to the Booking terms shall not be a cause of complaint with regard to the provision of the Transportation Services, excluding where you are unsatisfied with the judgment of conduct of the Driver, in which case you should send written notice of any incident(s) to the Company at <a href="mailto:{{ platform_context.support_email }}">{{ platform_context.support_email }}</a> within 24 hours of the completion of the Booking, in order for the Company to review the incident(s) and evaluate whether any further action is required (judgment to be made at the Company’s sole discretion).</p></li>
        <li id="tos-1-6"><p>In the event that you wish to cancel a Booking, you may do so up until 7 days prior to the date of your Booking and receive a full refund (minus LocalDriva’s Booking Fees and Transaction Fees). Cancellations within a 7-day period of your Booking date will not be refunded.</p></li>
        <li id="tos-1-7"><p>If you do not turn up to the Booking at the confirmed location and at the confirmed time, you must notify both the Driver and the Company ASAP in order to inform them that the Booking has not been cancelled. If you do not arrive for the Booking as required and do not notify both the Driver and the Company within 1 hour of your scheduled Booking commencement time, the booking will be treated as cancelled (in accordance with our Cancellation terms above). However, if you notify the Driver and the Company after 1 hour of the scheduled Booking commencement time, the Company will make best efforts to organize the Driver to complete the remained of your allocated Booking time, where possible.</p></li>
        <li id="tos-1-8"><p>In the event of an emergency beyond your control that causes you to miss your Booking, you must notify the Company by writing at <a href="mailto:{{ platform_context.support_email }}">{{ platform_context.support_email }}</a> within 24 hours of the commencement of the Booking and provide a thorough description and written evidence of the incident. It is at the Company’s sole discretion whether to offer you a partial or full refund.</p></li>
        <li id="tos-1-9">
          <p>You undertake to perform your obligations as follows:</p>
          <ol>
            <li id="tos-1-9-1"><p>comply with all applicable laws and regulations and not request a Registered Driver to violate any applicable laws and regulations;</p></li>
            <li id="tos-1-9-2"><p>follow any reasonable instructions given by Registered Drivers;</p></li>
            <li id="tos-1-9-3"><p>treat Registered Drivers with courtesy and respect; and</p></li>
            <li id="tos-1-9-4"><p>respect the property of the Registered Driver and not perform any acts which may cause damage to a Registered Vehicle.</p></li>
          </ol>
        </li>
        <li id="tos-1-10">
          <p>You undertake not to, or allow any other party to:</p>
          <ol>
            <li id="tos-1-10-1"><p>use the Platform to disseminate any content which is defamatory, obscene, or may have the effect of being harassing, threatening or abusive to an individual or group of individuals on the basis of religion, gender, sexual orientation, race, ethnicity, age or disability or otherwise;</p></li>
            <li id="tos-1-10-2"><p>use the Platform to advertise or promote third party or your own products or services; or</p></li>
            <li id="tos-1-10-3"><p>perform any act which we reasonably believe may be capable of damaging our reputation or bringing our business into disrepute.</p></li>
          </ol>
        </li>
        <li id="tos-1-11">
          <p>You undertake not to, or allow any other party to:</p>
          <ol>
            <li id="tos-1-11-1"><p>make a Booking request on the Platform for Transportation Services that you cannot or do not intend to honour if your request is accepted;</p></li>
            <li id="tos-1-11-2"><p>utilise the Platform for any improper or unlawful purpose;</p></li>
            <li id="tos-1-11-3"><p>license, sublicense, sell, resell, transfer, assign, distribute or otherwise provide or make available to any other party access to the use of the Platform in any way;</p></li>
            <li id="tos-1-11-4"><p>allow persons under the age of 18 to use the Transportation Services unless they are accompanied by you.</p></li>
          </ol>
        </li>
      </ol>
    </li>
    <li id="tos-2">
      <h4>PLATFORM USAGE/ INTELLECTUAL PROPERTY</h4>
      <ol>
        <li id="tos-2-1">
          <p>You shall not, and shall not allow any other party to, access or use the Platform to:</p>
          <ol>
            <li id="tos-2-1-1"><p>modify or make derivative works based upon the Platform;</p></li>
            <li id="tos-2-1-2"><p>improperly use the Platform, including creating Internet “links” to any part of the LocalDriva Platform, “framing” or “mirroring” any part of the LocalDriva Platform on any other websites or systems, or “scraping” or otherwise improperly obtaining data from the Platform;</p></li>
            <li id="tos-2-1-3"><p>reverse engineer, decompile, modify, or disassemble the Platform, except as permitted under applicable law;</p></li>
            <li id="tos-2-1-4"><p>send spam or otherwise duplicative or unsolicited messages.</p></li>
          </ol>
        </li>
        <li id="tos-2-2">
          <p>In addition, you shall not, and shall not allow any other party to, access or use the Platform to:</p>
          <ol>
            <li id="tos-2-2-1"><p>design or develop a competitive or substantially similar product or service;</p></li>
            <li id="tos-2-2-2"><p>copy or extract any features, functionality, or content thereof;</p></li>
            <li id="tos-2-2-3"><p>launch or cause to be launched on or in connection with the Platform an automated program or script, including web spiders, crawlers, robots, indexers, bots, viruses or worms, or any program which may make multiple server requests per second, or unduly burden or hinder the operation and/or performance of the Platform; or</p></li>
            <li id="tos-2-2-4"><p>attempt to gain unauthorized access to the Platform or its related systems or networks.</p></li>
          </ol>
        </li>
        <li id="tos-2-3"><p>The Platform, including all intellectual property rights therein, are and shall remain (as between you and the Company) the property of the Company, its Affiliates or their respective licensors. Neither this Agreement nor your use of the Platform or access to Company Data conveys or grants to you any rights in or related to the Platform. Other than as specifically permitted by the Company in connection with the Platform, you are not permitted to use or reference in any manner the Company’s, its Affiliates’, or their respective licensors’ company names, logos, products and service names, trademarks, service marks, trade dress, copyrights or other indicia of ownership, alone and in combination with other letters, punctuation, words, symbols and/or designs (the "LocalDriva Marks and Names") for any commercial purposes.</p></li>
        <li id="tos-2-4"><p>You agree that you will not try to register or otherwise use and/or claim ownership in any of the LocalDriva Marks and Names, alone or in combination with other letters, punctuation, words, symbols and/or designs, or in any confusingly similar mark, name or title, for any goods and services.</p></li>
        <li id="tos-2-5"><p>You understand that any reviews that you make of Drivers may be publically displayed on the Driver’s profile.</p></li>
      </ol>
    </li>
    <li id="tos-3">
      <h4>CHARGES AND PAYMENT</h4>
      <ol>
        <li id="tos-3-1"><p>You may be required to register with LocalDriva in order to access and use certain features of the Platform. There is no cost to register on the Platform, but you will be charged a fee for each Booking of the Transportation Services calculated on an hourly basis (the <strong>“Booking Fee”</strong>). The Booking Fee will be payable in full in order to confirm the Booking. In addition to the Booking Fee, you will be charged a credit card payment surcharge of between 3% to 5% (inclusive of GST) for each Booking (<strong>“Transaction Fee”</strong>) at the time of Booking.</p></li>
        <li id="tos-3-2"><p>Hourly rates are displayed on the Platform and the hourly rate of each Registered Driver is displayed on the Registered Driver’s profile. Only full hour periods are calculated towards the Booking Fee (<strong>“Booking Fee Calculation”</strong>). There are no partial payments for time periods below 1 hour.</p></li>
        <li id="tos-3-3"><p>You are required to pay for any Parking, Tolls or other expenses reasonably incurred by the driver during the provision of the Transportation Services, excluding where the Registered Driver has incurred a fine due to their unlawful actions (i.e. <strong>“Additional Charges”</strong>). You are required to pay the Registered Driver in accordance with the policies of the Company in force at the time. You may notify a Driver that you do not wish to incur any such expense (before the expense is incurred), but must then accept the Driver’s reasonable alternative arrangements.</p></li>
        <li id="tos-3-4"><p>In addition to the Booking Fee, you may be charged a cancellation fee in line with our Cancellation Policy displayed on the Platform or otherwise made known to you.</p></li>
        <li id="tos-3-5"><p>In the event that the Registered Vehicle incurs any damage, which is in excess to normal wear and tear, as a result of providing Transportation Services to you, you may be required to pay an additional fee of up to AU$150 in order to rectify the damage. You will have the right to challenge a Driver’s claim for such expenses and whereby the Company will respond to your challenge before billing for the damage.</p></li>
        <li id="tos-3-6"><p>The Fare and Additional Charges are inclusive of GST.</p></li>
        <li id="tos-3-7"><p>The Booking Fee and Transaction Fees (where applicable) may be amended from time to time at the sole discretion of the Company, in which case we will give you reasonable notice either by email or via the Platform.</p></li>
        <li id="tos-3-8"><p>Payment services are provided by Stripe and are subject to the <a href="https://stripe.com/connect/account-terms" target="_blank">Stripe Connected Account Agreement</a> , which includes the <a href="https://stripe.com/us/legal" target="_blank">Stripe Terms of Service</a> (collectively, the "Stripe Services Agreement"). By agreeing to these terms, you agree to be bound by the Stripe Services Agreement, as the same may be modified by Stripe from time to time. As a condition of the Company enabling payment processing services through Stripe, you agree to provide accurate and complete information about you, and you authorize the Company to share it and transaction information related to your use of the payment processing services provided by Stripe.</p></li>
        <li id="tos-3-9">
          <p>You acknowledge and agree that:</p>
          <ol>
            <li id="tos-3-9-1"><p>payment of the Booking Fee to Registered Drivers must be made through the Platform and in accordance with the Company’s payment policies only;</p></li>
            <li id="tos-3-9-2"><p>payments for the Transportation Services the circumvent the Platform or that are made not in accordance with the Company’s payment policies are in violation of the Company’s terms of usage and will result in your removal and ban from the Platform;</p></li>
            <li id="tos-3-9-3"><p>payment of Additional Charges shall be made in accordance with the Company’s policies in force at that time;</p></li>
            <li id="tos-3-9-4"><p>we act in a limited capacity as a payment collection agent for Registered Drivers and Registered Taxi Drivers (for payments made through the Platform) in relation to Transportation Services.</p></li>
          </ol>
        </li>
        <li id="tos-3-10"><p>If you have any dispute regarding the Booking Fee and/or any Additional Charges, please contact us promptly at <a href="mailto:{{ platform_context.support_email }}">{{ platform_context.support_email }}</a>. You agree to fully co-operate with us in the event of a dispute over any transaction.</p></li>
      </ol>
    </li>
    <li id="tos-4">
      <h4>TERMINATION</h4>
      <ol>
        <li id="tos-4-1"><p>This Agreement commences from the date that this Agreement is executed by you and will continue until terminated by you deleting your Account.</p></li>
        <li id="tos-4-2"><p>However, we may terminate this Agreement and close your Account for any reason by notifying you. However, we may terminate this Agreement and close any account that you have with us, immediately and without notice, if you commit a material breach of these Terms.</p></li>
        <li id="tos-4-3"><p>We reserve the right to suspend, restrict or terminate your access to the Platform at any time without notice if we have reasonable grounds to believe you have breached any of these Terms. This does not limit our right to take any other action against you that we consider appropriate to defend our rights or those of any other person.</p></li>
      </ol>
    </li>
    <li id="tos-5">
      <h4>PRIVACY STATEMENT</h4>
      <ol>
        <li id="tos-5-1"><p>By registering for an Account, you acknowledge and consent to our collection of your personal information including, but not limited to your full name, location, mobile phone number, email address and credit card payment details, which will be collected in accordance with the <em>Privacy Amendment (Enhancing Privacy Protection) Act</em> 2012.</p></li>
        <li id="tos-5-2">
          <p>You consent that your personal information may be used for any of the following purposes</p>
          <ol>
            <li id="tos-5-2-1"><p>registering and managing your Account and offering you the Transportation Services;</p></li>
            <li id="tos-5-2-2"><p>facilitating contact between you and the Registered Drivers;</p></li>
            <li id="tos-5-2-3"><p>processing payments for the Transportation Services;</p></li>
            <li id="tos-5-2-4"><p>contacting you where required;</p></li>
            <li id="tos-5-2-5"><p>the Company’s business management, record keeping and accounting purposes;</p></li>
            <li id="tos-5-2-6"><p>to inform you of product offering or promotions;</p></li>
            <li id="tos-5-2-7"><p>to inform you of changes to our pricing, terms and conditions;</p></li>
            <li id="tos-5-2-8"><p>to comply with our legal or regulatory obligations;</p></li>
            <li id="tos-5-2-9"><p>to enhance your and Registered Driver’s security; or</p></li>
            <li id="tos-5-2-10"><p>for any other purposes that may be reasonably expected.</p></li>
          </ol>
        </li>
        <li id="tos-5-3">
          <p>We reserve the right to disclose your personal information only where reasonably required, to:</p>
          <ol>
            <li id="tos-5-3-1"><p>our staff and Registered Drivers in order to facilitate the Transportation Services;</p></li>
            <li id="tos-5-3-2"><p>to third parties, agents, contractors or suppliers who assist us in the provision of the Transportation Service (e.g., payment gateway service providers, website hosting service providers or information cloud storage service providers);</p></li>
            <li id="tos-5-3-3"><p>law enforcement authorities, agencies or regulators in order to comply with our legal and regulatory obligations; or</p></li>
            <li id="tos-5-3-4"><p>other platforms to which you have requested that we interface.</p></li>
          </ol>
        </li>
        <li id="tos-5-4"><p>Further information about our policies for managing your personal information is set out in our <a href="/privacy-policy">privacy policy</a>.</p></li>
      </ol>
    </li>
    <li id="tos-6">
      <h4>GUARANTEES, LIMITATION OF LIABILITY AND DISCLAIMERS</h4>
      <ol>
        <li id="tos-6-1"><p>YOU UNDERSTAND AND AGREE THAT THE COMPANY IS NOT A PARTY TO ANY AGREEMENTS ENTERED INTO BETWEEN PASSENGERS AND DRIVERS, NOR IS THE COMPANY AN AGENT OR INSURER. THE PLATFORM IS INTENDED TO BE USED IN ORDER TO FACILITATE CONNECTIONS BETWEEN PASSENGERS AND DRIVERS. THE COMPANY CANNOT AND DOES NOT CONTROL THE CONTENT CONTAINED IN ANY PROFILES AND THE CONDITION, LEGALITY OR SUITABILITY OF ANY BOOKINGS. THE COMPANY HAS NO CONTROL OVER THE CONDUCT OF DRIVERS, PASSENGERS AND OTHER USERS OF THE PLATFORM OR THE TRANSPORT SERVICES, AND DISCLAIMS ALL LIABILITY IN THIS REGARD. ACCORDINGLY, THE PLANNING OR PARTAKING OF ANY TRANSPORT SERVICES ARE AT THE DRIVER’S AND PASSENGER’S OWN RISK.</p></li>
        <li id="tos-6-2"><p>The Service comes with consumer guarantees under the <em>Australian Consumer Law in the Consumer and Competition Act</em> 2010 (Cth). Nothing in these Terms affects your statutory rights as a consumer. We make no express warranties beyond the consumer guarantees.</p></li>
        <li id="tos-6-3"><p>To the extent permitted by law, our total liability for any loss or damage that you are proven to have suffered or incurred from using the Transportation Services is limited to us re-supplying the Transportation Services to you or, at our option, refunding to you the amount you have directly paid for the Transportation Services to which your claim relates.</p></li>
        <li id="tos-6-4">
          <p>The Company provides the Platform as a facilitation service only, whereby we connect you with Registered Drivers and facilitate payment for the Transportation Services. You acknowledge and agree that:</p>
          <ol>
            <li id="tos-6-4-1"><p>we do not endorse any Registered Driver or user of the Platform;</p></li>
            <li id="tos-6-4-2"><p>we make no representations that your requested Transportation Services will be accepted by a Registered Driver;</p></li>
            <li id="tos-6-4-3"><p>the provision of the Transportation Services is strictly between you and the Registered Driver and the Company does not make any representations or provide any guarantees with respect to the provision of such Transportation Services; and</p></li>
            <li id="tos-6-4-4"><p>the Company acts in a limited capacity as a booking and payment collection agent for the Registered Driver in relation to Transportation Services and we are not responsible for a Registered Driver’s behaviour, actions or inactions. Further, we disclaim all liability (howsoever arising) for all such behaviour, actions or omissions.</p></li>
          </ol>
        </li>

        <li id="tos-6-5"><p>Subject to this clause, we provide the Transportation Service to you on an “as is” and “as available” basis. We do not represent, warrant or provide any guarantees in relation to the availability or quality of the Transportation Service, nor do we represent, warrant or provide any guarantee that your access to or use of the Transportation Services will be uninterrupted or error free. Consequently, the Company accepts no responsibility for any delays, delivery failures or losses or damages which you may suffer as a result of such problems.</p></li>

        <li id="tos-6-6"><p>We do not guarantee the quality, suitability, safety or ability of third party providers. You agree that the entire risk arising out of your use of the services, and any service or good requested in connection therewith, remains solely with you, to the maximum extent permitted under applicable law.</p></li>

        <li id="tos-6-7"><p>Subject to this clause, you acknowledge that whilst we take reasonable steps to ensure the information provided to you through the Transportation Services is accurate, we accept no responsibility for and make no representations or warranties to you or to any other user as to the reliability, accuracy or completeness of the information provided through the Platform or otherwise by the Registered Driver. We recommend that you maintain your own records and use your discretion when acting on information received through the Platform or from the Registered Driver.</p></li>

        <li id="tos-6-8">
          <p>You acknowledge and agree that we are not liable for:</p>
          <ol>
            <li id="tos-6-8-1"><p>your actions, inaction, acts or omissions, in your capacity as a Passenger of a Registered Vehicle;</p></li>
            <li id="tos-6-8-2"><p>the actions or inactions of any Registered Drivers or other users of the Transportation Services;</p></li>
            <li id="tos-6-8-3"><p>loss caused by our breach of these Terms which does not arise in the natural and ordinary course of events, or which exceeds AU$1,000;</p></li>
            <li id="tos-6-8-4"><p>a failure by a Registered Driver to provide the Transportation Services; or</p></li>
            <li id="tos-6-8-5"><p>a failure to meet any of our obligations under these Terms where such failure is due to events beyond our reasonable control (such as those events caused by a third party).</p></li>
          </ol>
        </li>
        <li id="tos-6-9"><p>We shall not be liable for indirect, incidental, special, exemplary, punitive, or consequential damages, including lost revenue or profits, goodwill, reputation, lost data, personal injury, or property damage related to, in connection with, or otherwise resulting from any use of, or inability to access or use, the Platform and/or Transportation Services, regardless of the negligence (either active, affirmative, sole, or concurrent) of the Company, even if the Company has been advised of the possibility of such damages.</p></li>
        <li id="tos-6-10"><p>You understand and acknowledge that the Company has limited control over the information transmitted or received by you or other users through the Platform or in the provision of the Transportation Services. Although we reserve the right to do so, we do not monitor such content in the usual course of business, and to the extent permitted by law, we will not be liable for such content.</p></li>
      </ol>
    </li>
    <li id="tos-7">
      <h4>INDEMNITY</h4>
      <ol>
        <li id="tos-7-1"><p>You agree to indemnify and hold us and our affiliates and their officers, directors, employees, and agents harmless from any and all claims, demands, losses, liabilities, and expenses (including attorneys' fees), arising out of or in connection with: (i) your use of the Transportation Services or services or goods obtained through your use of the Transportation Services; (ii) your breach or violation of any of these Terms; (iii) Our use of your user content; or (iv) your violation of the rights of any third party, including third party providers.</p></li>
        <li id="tos-7-2">
          <p>You are liable for and agree to indemnify us against all claims, liabilities, penalties, suits and actions, resulting directly or indirectly from:</p>
          <li id="tos-7-2-1"><p>any information that you have provided to us which is false, misleading, or otherwise inaccurate or incomplete;</p></li>
          <li id="tos-7-2-2"><p>your breach of any applicable laws and regulations; or</p></li>
          <li id="tos-7-2-3"><p>your misuse of the Transportation Services.</p></li>
        </li>
        <li id="tos-7-3"><p>This Clause 7 will survive the termination of this Agreement.</p></li>
      </ol>
    </li>
    <li id="tos-8">
      <h4>DISPUTE RESOLUTION</h4>
      <ol>
        <li id="tos-8-1"><p>You and the Company agree that any dispute, claim or controversy arising out of or relating to (a) these Terms or the existence, breach, termination, enforcement, interpretation or validity thereof, or (b) your access to or use of the Services at any time, whether before or after the date you agreed to the Terms, will be settled by binding arbitration between you and the Company, and not in a court of law.</p></li>
        <li id="tos-8-2"><p>Any dispute, controversy or claim arising out of, relating to or in connection with this contract, including any question regarding its existence, validity or termination, shall be resolved by arbitration in accordance with the ACICA Arbitration Rules. The seat of arbitration shall be Sydney, Australia. The language of the arbitration shall be English. The number of arbitrators shall be three.</p></li>
        <li id="tos-8-3"><p>By agreeing to the Terms, you agree that you are required to resolve any claim that you may have against the Company on an individual basis in arbitration. This will preclude you from bringing any class, collective, or representative action against the Company, and also preclude you from participating in or recovering relief under any current or future class, collective, consolidated, or representative action brought against the Company by someone else.</p></li>
        <li id="tos-8-4"><p>Each party agrees to act reasonably and without delay in seeking to resolve any disputes arising under these Terms.</p></li>
        <li id="tos-8-5"><p>YOU ACKNOWLEDGE AND AGREE THAT YOU AND THE COMPANY ARE EACH WAIVING THE RIGHT TO PURSUE AN ACTION IN COURT OR TO PARTICIPATE AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS ACTION OR REPRESENTATIVE PROCEEDING. UNLESS BOTH YOU AND THE COMPANY OTHERWISE AGREE IN WRITING, ANY ARBITRATION WILL BE CONDUCTED ONLY ON AN INDIVIDUAL BASIS AND NOT IN A CLASS, COLLECTIVE, CONSOLIDATED, OR REPRESENTATIVE PROCEEDING. HOWEVER, YOU AND COMPANY EACH RETAIN THE RIGHT TO BRING AN INDIVIDUAL ACTION IN SMALL CLAIMS COURT AND THE RIGHT TO SEEK INJUNCTIVE OR OTHER EQUITABLE RELIEF IN A COURT OF COMPETENT JURISDICTION TO PREVENT THE ACTUAL OR THREATENED INFRINGEMENT, MISAPPROPRIATION OR VIOLATION OF A PARTY'S COPYRIGHTS, TRADEMARKS, TRADE SECRETS, PATENTS OR OTHER INTELLECTUAL PROPERTY RIGHTS.</p></li>
      </ol>
    </li>
    <li id="tos-9">
      <h4>MISCELLANEOUS</h4>
      <ol>
        <li id="tos-9-1"><p>This Agreement and any document expressly referred to in this Agreement form the entire agreement between you and us and supersede any prior agreement, understanding or arrangement between you and us, whether oral or in writing.</p></li>
        <li id="tos-9-2"><p>The relationship between the parties under this Agreement is that of independent contractors. This Agreement is not an employment agreement and does not create an employer-employee relationship between the parties. No joint venture, partnership or agency relationship exists between the parties.</p></li>
        <li id="tos-9-3"><p>These Terms are personal to you. You may not transfer your rights or obligations under these Terms to anyone else. However, you acknowledge and agree that we may assign these Terms without your consent to: (i) a subsidiary or affiliate; (ii) an acquirer of the Company's equity, business or assets; or (iii) a successor by merger.</p></li>
        <li id="tos-9-4"><p>Any delay by us in exercising a right under these Terms do not operate as a waiver of that right. If you breach these Terms and we take no action against you, we will still be entitled to take action in any other situation where you breach these Terms.</p></li>
        <li id="tos-9-5"><p>If any part of these Terms is disallowed or found to be ineffective by any court or regulator, the other provisions shall continue to apply. Our failure to enforce any right or provision in these Terms shall not constitute a waiver of such right or provision unless acknowledged and agreed to by us in writing. This provision shall not affect the Severability and Survivability section of the Arbitration provisions of these Terms.</p></li>
        <li id="tos-9-6"><p>We reserve the right, at our sole discretion, to change or modify portions of these Terms at any time. If we do this, we will post the changes on this page and will indicate at the top of this page the date these terms were last revised. We will also notify you, either through the email notification or through other reasonable means. Your continued use of the Service constitutes your acceptance of the changes and your consent to be bound by the amended Terms.</p></li>
        <li id="tos-9-7"><p>Any notice to be delivered by us to you under this Agreement will be delivered to your registered email address in your Account or telephone or text message to any phone number provided in connection with your account, or by written communication sent by first class mail or pre-paid post to any address connected with your Account. Such notice shall be deemed to have been given upon the expiration of 48 hours after mailing or posting (if sent by first class mail or pre-paid post) or 12 hours after sending (if sent by email or telephone). Any notice delivered by you to us under this Agreement will be delivered by you emailing us at <a href="mailto:{{ platform_context.support_email }}">{{ platform_context.support_email }}</a>.</p></li>
        <li id="tos-9-8"><p>These Terms are governed by the laws of New South Wales, Australia.</p></li>
      </ol>
    </li>
  </ol>

</div>
