<br>
<h1>Booking Details</h1><br>
<strong style='display: inline-block;'>Listing</strong>
<span style="float: right;">'<%= listing.name %>' at <%= link_to(listing.location.name, location_url(listing.location)) %></span>

<hr>

<% unless listing.location.special_notes.strip.empty? %>
  <strong style='display: inline-block;'>Special notes</strong>
  <span style="float: right;"><%= listing.location.special_notes.strip %></span>
  <hr>
<% end if listing.location.special_notes %>

<strong style='display: inline-block;'>Quantity</strong>
<span style="float: right;"><%= reservation.quantity %></span>

<hr>

<strong style='display: inline-block;'>Dates</strong>
<br/>
<span style="float: right;"><%= mail_listing_dates(listing, reservation).html_safe %></span>
<br/>

<hr>

<strong style='display: inline-block;'>Host</strong>
<span style="float: right;"><%= mail_to listing.creator.email, listing.creator.name %></span>

<hr>

<% if listing.location.phone.present? %>
  <strong style='display: inline-block;'>Contact</strong>
  <span style="float: right;"><%= listing.location.phone %></span>
  <hr>
<% end %>


<strong style='display: inline-block;'>Total</strong>
<span style="float: right;"><%= reservation_total_price(reservation) %></span>

<hr>

<% if reservation.credit_card_payment? %>
  <strong style='display: inline-block;'>Paid</strong>
  <span style="float: right;"><%= reservation_paid(reservation) %></span>
  <hr/>

  <strong style='display: inline-block;'>Balance</strong>
  <span style="float: right;"><%= reservation_balance(reservation) %></span>
  <hr/>

  <% if reservation.pending? %>
    <span style="float: right;">This reservation is currently pending confirmation, and will be charged when confirmed.</span>
  <% end %>

<% end %>

<br>
