<h2 style='display: inline-block;'>Listing</h2>
<span>'<%= listing.name %>' at <%= link_to(listing.location.name, location_url(listing.location)) %></span>

<br>

<% unless listing.location.special_notes.strip.empty? %>
  <h2 style='display: inline-block;'>Special notes</h2>
  <span><%= listing.location.special_notes.strip %></span>
<% end if listing.location.special_notes %>

<br>

<h2 style='display: inline-block;'>Quantity</h2>
<span><%= reservation.periods.first.seats.size %></span>

<br>

<h2 style='display: inline-block;'>Dates</h2>
<ul>
<% reservation.periods.each do |period| %>
  <li><%= period.date.strftime("%A %e %B %Y") %>
<% end %>
</ul>

<br>

<h2 style='display: inline-block;'>Host</h2>
<span><%= mail_to listing.creator.email, listing.creator.name %></span>

<br>

<% if listing.location.phone.present? %>
  <h2 style='display: inline-block;'>Contact</h2>
  <span><%= listing.location.phone %></span>
<% end %>

<br>

<h2 style='display: inline-block;'>Total</h2>
<span><%= reservation_total_price(reservation) %></span>

<br>

<% if reservation.credit_card_payment? %>
  <h2 style='display: inline-block;'>Paid</h2>
  <span><%= reservation_paid(reservation) %></span>

  <h2 style='display: inline-block;'>Balance</h2>
  <span><%= reservation_balance(reservation) %></span>

  <% if reservation.pending? %>
    <span>This reservation is currently pending confirmation, and will be charged when confirmed.</span>
  <% end %>

<% end %>
