.blog-post
  .clearfix
    .row-fluid
      .span10
        %h2= link_to blog_post.title, user_blog_post_show_path(user_id: @user, id: blog_post)
      .span2.date
        = blog_post.published_at_frontend

    .row-fluid
      .span12.content
        %p= blog_post.excerpt.to_s.html_safe

  - if blog_post.author_avatar.present? || blog_post.author_name.present?
    .clearfix.avatar
      .row-fluid
        - if blog_post.author_avatar.present? && blog_post.author_name.strip.downcase == blog_post.user.name.strip.downcase
          .span1
            = link_to user_path(blog_post.user) do
              .avatar-container{style: "background-image: url(#{blog_post.author_avatar.url(:thumb)});"}

        .span11{class: blog_post.author_avatar.present? ? 'with-avatar' : ''}
          = link_to blog_post.author_name, user_path(blog_post.user), class: 'author-name'
