.support
  .content-container
    .row
      .input-container.col-xs-12
        .pull-left
          %h4= t('instance_admin.manage.support.request_no', number: @ticket.id)
        .pull-right
          %h4= "#{@ticket.state}".upcase
          %h4
            = select_tag("user[assigned_to_id]", options_for_select(@admins.compact.map{|a| [a.name, a.id]}, @ticket.assigned_to.try(:id)), prompt: 'UNASSIGNED', class: 'form-control')

    .row
      .input-container.col-xs-12
        %h4= @message.subject

        - if @ticket.open?
          .form.message-form
            = simple_form_for(@message, url: [:instance_admin, @ticket, :ticket_messages]) do |f|
              = f.input :message, required: false, as: :text, class: 'textarea', :input_html => { class: 'form-control', rows: 10 }
              .attachments{:'data-attachment-list' => true }
                = render partial: 'support/ticket_message_attachments/attachment', collection: @message.attachments, as: :ticket_message_attachment
                .clearfix
              .pull-right
                = render partial: 'support/ticket_message_attachments/form', locals: { f: f }
                = f.submit t('instance_admin.manage.support.update'), class: 'btn btn-light'
                = f.submit t('instance_admin.manage.support.update_and_resolve'), class: 'btn btn-light'
              .clearfix

            = simple_form_for @ticket.attachments.build, url: [@ticket, :ticket_message_attachments], html: { class: 'hidden', :'data-attachment-form'=> true } do |f|
              = f.input :file, as: :file, input_html: { data: { file: true } }

  .content-container
    = render partial: 'ticket_message', collection: @ticket.messages

  = content_for :script do
    = render 'shared/modal'
