.listings
  .row
    .col-md-3.listing-img
      = link_to product_path(product) do
        = image_tag product.images.first.try(:image_url, :medium)
    .col-md-3.listing-attr
      = link_to product.name, product_path(product)
    .col-md-3.listing-attr
      %p= product.total_on_hand
    .col-md-2.listing-attr
      %p= number_to_currency_symbol product.currency, product.price
    .col-md-1.listing-attr
      = link_to "Edit", edit_dashboard_product_path(product)
      = link_to "Delete", dashboard_product_path(product), :method => :delete, data: { confirm: 'Are you sure?' },
          style: 'margin-top:0px;'
