.dash-page
  .dash-head.clearfix
    = link_to 'MANAGE LISTINGS', dashboard_product_type_products_path(@product_type)
    &gt;
    %p EDIT ITEM
  .dash-body
    = simple_form_for @product_form, wrapper: :bs3, :url => dashboard_product_type_product_path(@product_type, @product_form.product), :html => {id: "product_form", :multipart => true,  method: :put } do |f|
      = render 'forms/product_form', f: f
      = render 'custom_attributes', f: f

      .row.product_shipping_profile_fields_row.enabled{ :data => { :js_element_identifier => 'initial_shipping_profiles_section' } }
        = f.simple_fields_for :shipping_methods do |shipping_method|
          %fieldset
            = render 'forms/shipping_form', f: shipping_method
        .row.text-right
          %a.shipping-profile-top.add_shipping_profile
            =image_tag("themes/buy_sell/icon-cross.png")
            %span Create New Shipping Profile

      .submit-bar
        = link_to dashboard_product_type_products_path(@product_type) do
          .btn.gray Cancel
        = f.submit "Save item", class: "btn medium blue"

- content_for :domready do
  new TaxonAutocomplete($("#product_form"));
  new Dashboard.AddressController($("#product_form"));
  var boarding_form = new BoardingForm($("#product_form"));
  new ShippoFieldsManager(#{raw DimensionsTemplate::UNITS_OF_MEASURE.to_json});
