= simple_form_for [:admin, :design, @custom_theme, @custom_theme_asset.becomes(CustomThemeAsset)], html: { multipart: true } do |f|
  .content-container
    .row
      .input-container.col-xs-12
        = f.input :name, input_html: { class: 'form-control' }, hint: 'If you leave it blank and upload file, we will use file name as name'
    .row
      .input-container.col-xs-12
        = f.input :file, input_html: { class: 'form-control' }
    - if f.object.new_record?
      .row
        .input-container.col-xs-12
          = f.input :type, collection: [['css', CustomThemeAsset::ThemeCssFile], ['font', CustomThemeAsset::ThemeFontFile], ['image', CustomThemeAsset::ThemeImageFile], ['js', CustomThemeAsset::ThemeJsFile]], input_html: { class: 'form-control' }

    .row
      .input-container.col-xs-12
        = f.input :body, as: :text, input_html: { class: 'form-control', rows: '30' }, hint: "It will be used only for CSS and JS files. #{f.object.new_record? ? 'Moreover, if file is also present, this field will be ignored.' : 'Please note that this field has priority over uploaded file.'}"


  = f.button :submit, t('instance_admin.save'), class: 'btn btn-blue pull-right', data: { 'submit-form' => 1, 'form-selector' => 'form' }
  = link_to t('instance_admin.cancel'), instance_admin_custom_templates_custom_theme_custom_theme_assets_url(@custom_theme) , class: 'btn btn-light pull-right'

