.content-container.reports
  %h4
    = t('instance_admin.manage.admin_searchable.workflows.search_types.search')
  .row
    .text-container
      = render partial: 'instance_admin/shared/workflow_alerts_search_form'

  .row
    .table-container.col-xs-12
      %table.table
        %tbody
          - @workflow_alerts.each do |resource|
            %tr
              %td= link_to resource.name.humanize, edit_instance_admin_manage_workflow_step_workflow_alert_path(resource.workflow_step, resource)
              %td= link_to t('instance_admin.edit'), edit_instance_admin_manage_workflow_step_workflow_alert_path(resource.workflow_step, resource), class: 'pull-right'

.row
  .text-container
    .pull-right
      = will_paginate @workflow_alerts
