<p>Congratulations, {{ lister.first_name }}!</p>

<p>You have received an offer from {{ enquirer.name }} for {{ listing.name }}. <a href="{{ offer.payment_documents[0].file_url }}">Click here to view the offer</a>. You can always view offers under the <a href="{{ platform_context.host | append: listing.index_url }}">My Cases > Pending Cases</a> in your user dashboard.</p>

