#zone_form
  = simple_form_for [:instance_admin, :buy_sell, @zone] do |f|
    .row
      .input-container.col-xs-12
        = f.input :name, required: true, input_html: { class: 'form-control'}
    .row
      .input-container.col-xs-12
        = f.input :description, input_html: { class: 'form-control'}
    .row
      .input-container.col-xs-12
        = f.input :default_tax, inline_label: true # TODO: Spree requires at least one zone to be default. We need to add validation
    .row
      .input-container.col-xs-12
        .radio-inline
          = f.radio_button('kind', 'country', { id: 'country_based', class: 'zone_kind' })
          = label_tag :country_based, t('instance_admin.buy_sell.zones.country_based')
          = f.radio_button('kind', 'state', { id: 'state_based', class: 'zone_kind' })
          = label_tag :state_based, t('instance_admin.buy_sell.zones.state_based')

      .row
        #state_based_container.zone-members-container.input-container.col-xs-12{class: @zone.kind == 'state' ? '' : 'hide'}
          = label_tag t('instance_admin.buy_sell.zones.states')
          = f.input :state_ids, collection: Spree::State.order(:name).pluck(:name, :id), as: :select, label: false, input_html: { class: 'selectpicker', "data-live-search" => "true", multiple: true }

      .row
        #country_based_container.zone-members-container.input-container.col-xs-12{class: @zone.kind == 'country' ? '' : 'hide'}
          = label_tag t('instance_admin.buy_sell.zones.countries')
          = f.input :country_ids, collection: Spree::Country.order(:name).pluck(:name, :id), as: :select, label: false, input_html: { class: 'selectpicker', "data-live-search" => "true", multiple: true }

    = content_for :header_buttons do
      = f.button :submit, class: "btn btn-blue pull-right", data: { 'submit-form' => 1, 'form-selector' => 'form' }
