%article.product{:'data-id' => product.id, :'data-name' => product.name}
  = link_to product_path(product) do
    .heading
      %h3.name
        = product.name
      .company.row-fluid
        .span10
          = product.company.name
        - if (connections = connections_for(product, current_user)).count > 0
          .span2.connections{:rel => 'tooltip', :title => connection_tooltip_for(connections)}
            %span.ico-group
            = connections.count
  .photo-container{:class => "#{'without-photos' unless product.has_photos?}"}
    .photo
      = link_to product_path(product) do
        - if photo = product.images.first
          = image_tag photo.image.url(:golden), :title => product.name, :alt => product.name
        - else
          = image_tag space_listing_placeholder_path(:height => 159, :width => 257), :title => product.name, :alt => product.name
    .info
      .price
        %span
          =product.decorate.humanized_price