{% assign g = '
  {
    projects:transactables(take: 3, filters: [ACTIVE, FEATURED]) {
      name
      show_path
      cover_photo_url
      creator {
        profile_path
        avatar_url_thumb
      }
    }
    users(take: 8, filters: [FEATURED]) {
      profile_path
      avatar_url_bigger
      name_with_affiliation
      display_location
      short_bio: custom_attribute(name: "short_bio")
    }
    topics(filters: [FEATURED], arbitrary_order: ["Networking", "Dual Screen", "Big Data", "Open Source", "Android", "Real Sense"], take: 6) {
      name
      show_url
      background_style
      background_style_big
    }
  }' | query
%}

<div class="hero-a" style="background-image: url({{ platform_context.hero_url | image_url }});">
  <div class="contain">
    <h2 class="hx">{{ 'hero_slogan' | translate }}</h2>
    <p>{{ 'hero_description' | translate }}</p>
    <p class="action"><a href="https://software.intel.com/registration/dev-mesh/" class="button-a large orange">{{ 'join_now' | translate }}</a></p>
  </div>
</div>
<div class="wrap-a">
  <div class="contain">
    <div class="header-a">
      <h2 class="hx">{{ 'featured_projects' | translate }}</h2>
      <p class="tx-a">{{ 'explore_the_most_popular_projects' | translate }}</p>
      <p class="action"><a href="/search/projects?sort=featured" class='button-a small white'>{{ 'view_all' | translate }}</a></p>
    </div>
    <div class="grid-a-projects-a">
      <div class="wrap">
        {% for project in g.projects %}
          <div class="cell">
            <article class="card-a" data-equalize>
              <figure><a href="{{ project.show_path }}"><img src="{{ project.cover_photo_url }}" /></a></figure>
              <p class="action">
              <a href="/auth/saml" class='button-a tiny'>{{ 'activity_feed.verbs.follow' | translate }}</a>
              </p>
              <h3 class="hx">
                <a href="{{ project.show_path}}">{{ project.name }}</a>
              </h3>
              <p class="user"><a href="{{ project.creator.profile_path }}"><img src="{{ project.creator.avatar_url_thumb }}" width="30" height="30" />{{ project.creator.name_with_affiliation }}</a></p>
              <p>{% comment %}{{ project.summary }} {% endcomment %}</p>
            </article>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div id="intro-video"{% if hide_intro_video %} class="inactive"{% endif %}>
  <div class="intro-video-overlay"></div>
  <div class="intro-video-wrapper">
    <div id="intro-player"></div>
  </div>
  <button type="button" class="intro-video-close button-a">Close Video</button>
</div>

<div class="wrap-a white">
  <div class="contain">
    <div class="header-a">
      <h2 class="hx">
        {{ 'connect_with_influencers' | translate }}
      </h2>
      <p class="tx-a">
      {{ 'connect_with_influencers_description' | translate }}
      </p>
      <p class="action">
      <a href="/search/people?sort=featured" class='button-a small white'>{{ 'view_all' | translate }}</a>
      </p>
    </div>

    <div class="grid-a-people-a">
      <div class="wrap">
        {% for user in g.users %}
          <div class="cell">
            <article class="card-a" data-equalize>
              <figure><a href="{{ user.profile_path }}"><img src="{{ user.avatar_url_bigger }}"  /></a></figure>
              <p class="action">
              <a href="/auth/saml" class='button-a tiny'>{{ 'activity_feed.verbs.follow' | translate }}</a>
              </p>
              <h3 class="hx">
                <a href="{{ user.profile_path }}">{{ user.name_with_affiliation }}</a>
              </h3>
              <p>{{ user.short_bio }}</p>
              <p class="location">{{ user.display_location }}</p>
            </article>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<!-- content wrapper
-->
<div class="wrap-a">
  <div class="contain">
    <!-- header with button
    -->
    <div class="header-a _mBa">
      <h2 class="hx">
        {{ 'featured_topics' | translate }}
      </h2>
      <p class="tx-a">
      {{ 'featured_topics_description' | translate }}
      </p>
      <p class="action">
      <a href="/search/topics?sort=featured" class='button-a small white'>{{ 'view_all' | translate }}</a>
      </p>
    </div>
    <!-- topics
    -->
    <div class="topics-a">
      <div class="wrap">
        <ul class="a">
          <li class="big"><a href="{{ g.topics[0].show_url }}" style="{{ g.topics[0].background_style_big }}"><span>{{ g.topics[0].name }}</span></a></li>
          <li><a href="{{ g.topics[1].show_url }}" style="{{ g.topics[1].background_style }}"><span>{{ g.topics[1].name }}</span></a></li>
          <li><a href="{{ g.topics[2].show_url }}" style="{{ g.topics[2].background_style }}"><span>{{ g.topics[2].name }}</span></a></li>
        </ul>
        <ul class="b">
          <li><a href="{{ g.topics[3].show_url }}" style="{{ g.topics[3].background_style }}"><span>{{ g.topics[3].name }}</span></a></li>
          <li><a href="{{ g.topics[4].show_url }}" style="{{ g.topics[4].background_style }}"><span>{{ g.topics[4].name }}</span></a></li>
          <li class="big"><a href="{{ g.topics[5].show_url }}" style="{{ g.topics[5].background_style_big }}"><span>{{ g.topics[5].name }}</span></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
