= content_for :manage_navbar do
  .row-fluid
    .span8.offset2.manage-nav
      .navbar
        .navbar-inner.nav-links
          %ul.nav
            %li
              = link_to edit_user_registration_path, :class => (active_tab == :account) ? 'active' : '' do
                %span Edit Profile
            %li
              = link_to social_accounts_path, :class => (active_tab == :trust_and_verification) ? 'active' : '' do
                %span Trust &amp; Verification
            %li
              = link_to edit_notification_preferences_path, :class => (active_tab == :notification_preferences) ? 'active' : '' do
                %span Notification Preferences
            - if platform_context.instance.user_blogs_enabled?
              %li
                -#= link_to user_blog_settings_path, class: (active_tab == :user_blog) ? 'active' : '' do
                -#  %span Blog

= yield
