.panel
  - if @credit_cards.empty?
    %table.table.table-listing
      %thead.hidden-sm.hidden-xs
        %tr
          %td
            %p.empty-resultset= t('dashboard.items.empty_credit_cards')
  - else
    %table.table.table-listing
      %thead.hidden-sm.hidden-xs
        %tr
          -# %td
          %th.last4{:scope => "col"}= t('dashboard.items.columns.last4')
          %th.name{:scope => "col"}= t('dashboard.items.columns.name')
          %th.added{:scope => "col"}= t('dashboard.items.columns.added')
          %th.authorized_payments{:scope => "col"}= t('dashboard.items.columns.authorized_payments')
          %td.actions
            %tbody
              - @credit_cards.each do |credit_card|
                %tr
                  %td.last4
                    %span= I18n.t('credit_cards.masked_number', last4: credit_card.last_4)
                  %td.name
                    %span= credit_card.name
                  %td.added
                    = I18n.l(credit_card.created_at.to_date, format: :short)
                  %td.authorized_payments
                    = credit_card.authorized_payments.count
                  %td.actions.hidden-sm.hidden-xs
                    = link_to t('general.delete'), dashboard_payment_gateway_credit_card_path(@payment_gateway, credit_card), method: :delete, data: { confirm: t('dashboard.credit_cards.delete_warning') }
