.row.nested-fields
  %p
    %i= "and" if index && index != 1
  .col-xs-11
    .form-inline
      = f.input :open_time, label: false, input_html: { value: f.object.try(:open_time_with_default) }, wrapper_html: { class: 'form-control-sm' }

      .form-unit
        = t(:available_to, scope: [:pricing, :availability])

      = f.input :close_time, label: false, input_html: { value: f.object.try(:close_time_with_default) }, wrapper_html: { class: 'form-control-sm' }

      .form-unit
        %b
          = t(:available_on, scope: [:pricing, :availability])

      = f.input :days, as: :week_days, label: false, wrapper: :vertical_radio_and_checkboxes, checked: f.object.try(:days).presence || (0..6).to_a

  .col-xs-1
    .form-action
      %button.action--remove.remove_fields.dynamic{:type => "button"}
        = t(:remove_period, scope: [:pricing, :availability])

