.content-container
  .row
    .table-container.col-xs-12
      %table.table
        %thead
          %tr
            %th= t('instance_admin.manage.custom_attributes.name')
            %th= t('instance_admin.manage.custom_attributes.search')
            %th= t('instance_admin.manage.custom_attributes.public')
            %th= t('instance_admin.manage.custom_attributes.required')
            %th
            %th
        %tbody
          - @custom_attributes.each do |resource|
            %tr
              %td= resource.name.humanize
              %td= resource.searchable || resource.search_in_query
              %td= resource.public
              %td= resource.required?
              %td= link_to t('instance_admin.edit'), edit_polymorphic_url([:instance_admin, @controller_scope, @target, resource]), class: 'pull-right'
              %td= link_to t('instance_admin.delete'), polymorphic_url([:instance_admin, @controller_scope, @target, resource]), :method => :delete, data: { confirm: t('instance_admin.are_you_sure') }, :class => "pull-right"

= content_for :header_buttons do
  = link_to t('instance_admin.manage.custom_attributes.add_attribute'), new_polymorphic_url([:instance_admin, @controller_scope, @target, CustomAttributes::CustomAttribute.new]), class: 'pull-right btn btn-blue'
