.content-container
  .row
    .table-container.col-xs-12
      %table.table
        %thead
          %tr
            %th Name
            %th Search?
            %th Public?
            %th Internal?
            %th
            %th
        %tbody
          - @custom_attributes.each do |resource|
            %tr
              %td= resource.name.humanize
              %td= resource.searchable
              %td= resource.public
              %td= resource.internal
              %td= link_to 'Edit', edit_polymorphic_url([:instance_admin, @controller_scope, @target, resource]), class: 'pull-right'
              - unless resource.required_internally?
                %td= link_to "Delete", polymorphic_url([:instance_admin, @controller_scope, @target, resource]), :method => :delete, data: { confirm: 'Are you sure you want to delete this attribute?' }, :class => "pull-right"

= content_for :header_buttons do
  = link_to 'Add Attribute', new_polymorphic_url([:instance_admin, @controller_scope, @target, CustomAttributes::CustomAttribute.new]), class: 'pull-right btn btn-blue'

