%fieldset
  %legend Basic Configuration
  = f.input :name, required: false
  = f.input :service_fee_guest_percent, label: 'Service Fee (%)'
  = f.input :stripe_api_key, required: false
  = f.input :stripe_public_key, required: false
  = f.input :paypal_username, required: false, :input_html => { :autocomplete => "off" }
  = f.input :paypal_password, required: false, :input_html => { :type => 'text', :value => f.object.paypal_password, :autocomplete => "off" }
  = f.input :paypal_signature, required: false, :input_html => { :autocomplete => "off" }
  = f.input :paypal_app_id, required: false, :input_html => { :autocomplete => "off" }
  = f.input :paypal_client_id, required: false, :input_html => { :autocomplete => "off" }
  = f.input :paypal_client_secret, required: false, :input_html => { :autocomplete => "off" }
  = f.input :balanced_api_key, required: false
  .control-group
    = f.label :skip_company
    .switch-wrapper
      .switch{'data-on-label' => "", 'data-off-label' => ""}
        = f.check_box :skip_company
  %label{for: 'instance_marketplace_password'} Marketplace password
  = f.input :password_protected, required: false, as: :boolean, label: false, inline_label: "Password protect your marketplace"
  = f.input :marketplace_password, placeholder: 'Password', as: :string, label: false

  %p
    = f.button :submit, 'Save', class: 'btn btn-success'
  %br
