%tr
  %td
    %span.label{:class => "label-#{admin_payment_transfer_state_label_class(resource)}"}
      = resource.transferred? ? 'Paid' : 'Pending'
  %td
    - if resource.company.present?
      = resource.company.name
    - else
      = "#{resource.company_including_deleted.name} (Deleted)"
  %td= resource.payments.count
  %td= resource.created_at
  %td= resource.transferred_at
  %td= render_money resource.service_fee_amount_guest
  %td= render_money resource.amount
  %td= link_to "Show details", [:global_admin, resource], :class => 'btn'

