%h1= resource_class.name.underscore.humanize.pluralize

%p
  Transfers are generated automatically at the start of every month for
  outstanding charges we've recieved on behalf of hosts.

%p
  The next month's batch will be generated at about:
  %strong= Time.zone.now.advance(:months => 1).beginning_of_month

%ul.nav.nav-pills
  %li{:class => ('active' if params[:scope] == 'pending' || params[:scope].blank?)}
    = link_to "Pending Transfer", global_admin_payment_transfers_url(:scope => 'pending')
  %li{:class => ('active' if params[:scope] == 'transferred')}
    = link_to "Transferred", global_admin_payment_transfers_url(:scope => 'transferred')

= render 'list_table'

= will_paginate collection

