.row-fluid.support
  .span8.offset2
    %h1= t 'support.ticket.open_ticket_header'
    .box
      #support-ticket-message-controller.form.message-form
        = simple_form_for @ticket do |t|
          - t.simple_fields_for :messages do |f|
            .columns
              .row-fluid
                .span6
                  =f.input :full_name, disabled: current_user.present?
                .span6
                  =f.input :email, disabled: current_user.present?
              .row-fluid
                =f.input :subject
              .row-fluid
                =f.input :message, as: :text
                .attachments{:'data-attachment-list' => true }
                  = render partial: 'support/ticket_message_attachments/attachment', collection: @attachments, as: :ticket_message_attachment, locals: { form_name: f.object_name }
            .row-fluid
              - if current_user
                .span4.offset4
                  = render partial: 'support/ticket_message_attachments/form', locals: { f: f }
              .span4
                =t.submit t('support.ticket.submit_button'), :class => 'btn btn-green'
        = simple_form_for @ticket.attachments.build, url: support_ticket_message_attachments_path, html: { class: 'hidden', :'data-attachment-form'=> true } do |f|
          = f.input :file, as: :file, input_html: { data: { file: true } }
