.content-container.reports
  %h4
    = t('instance_admin.liquid_views.liquid_views')
  .row
    .text-container
      = render partial: 'instance_admin/shared/liquid_views_search_form'
  .row
    .table-container.col-xs-12
      %table.table.table-striped
        %tbody
          %tr
            %th
              = t('instance_admin.liquid_views.template')
            %th Transactable Types
            %th Locales
            %th Publication
            %th
            %th
            %th

          - @liquid_views.each do |liquid_view|
            %tr
              %td= pretty_path liquid_view.path
              %td= liquid_view.transactable_types.pluck(:name).join(', ')
              %td= liquid_view.locales.map(&:display_name).join(', ')
              %td= t(liquid_view.draft? ? 'instance_admin.liquid_views.draft' : 'instance_admin.liquid_views.published')
              %td
                .pull-right{style: 'margin-left: 10px'}
                  = link_to t('instance_admin.destroy'), instance_admin_theme_liquid_view_path(liquid_view), method: :delete,
                      data: { confirm: 'Are you sure?' }
                .pull-right{style: 'margin-left: 10px'}
                  = link_to t('instance_admin.liquid_views.duplicate_default'), new_instance_admin_theme_liquid_view_path(liquid_view_id: liquid_view.id)
                .pull-right{style: 'margin-left: 10px'}
                  = link_to t('instance_admin.versions'), versions_instance_admin_theme_liquid_view_path(liquid_view.id), title: 'Show previous versions'
                .pull-right{style: 'margin-left: 10px'}
                  = link_to t('instance_admin.edit'), edit_instance_admin_theme_liquid_view_path(liquid_view)

.content-container
  %h4
    = t('instance_admin.liquid_views.customize_defaults')
  .row
    .table-container.col-xs-12
      %table.table.table-striped
        %tbody
          %tr
            %th
              = t('instance_admin.liquid_views.template')

          - @not_customized_liquid_views_paths.each do |liquid_view_path, formats|
            %tr
              %td= link_to pretty_path(liquid_view_path), new_instance_admin_theme_liquid_view_path(path: liquid_view_path)


= content_for :header_buttons do
  = link_to t('instance_admin.liquid_views.add_liquid_view'), new_instance_admin_theme_liquid_view_path, class: 'pull-right btn btn-blue'
