%div
  .control-group
    = f.input :name, placeholder: 'What is the name of the shipping method?', required: true, input_html: { class: 'form-control'}
  .control-group
    = f.input :admin_name, placeholder: 'What is the internal name of the shipping method?', input_html: { class: 'form-control'}, label: "Internal name"
  =f.hidden_field :display_on, value: 'Both'
  / / This is hidden until order creation/edition is on place
  / .control-group
  /   = f.label :display_on
  /   .controls
  /     = select(:shipping_method, :display_on, Spree::ShippingMethod::DISPLAY.collect { |display| [Spree.t(display), display == :both ? nil : display.to_s] })
  .control-group
    = f.label :tracking_url
    .controls
      = f.text_field :tracking_url, :placeholder => Spree.t(:tracking_url_placeholder)
  .control-group
    = simple_fields_for f.object.calculator do |fc|
      = fc.input :preferred_amount, label: 'Price', input_html: { class: 'form-control'}, required: true
  .control-group
    = f.association :tax_category, collection: Spree::TaxCategory.order(:name).pluck(:name, :id)
  -unless defined?(first_method)
    .control-group
      = f.association :shipping_categories, collection: @company.shipping_categories.order(:name).pluck(:name, :id), as: :check_boxes
  .control-group
    = f.association :zones, collection: @company.zones.order(:name).pluck(:name, :id), as: :check_boxes