%li.listing.action-buttons
  .span4
    = shipping_method.admin_name + ' / ' if shipping_method.admin_name.present?
    = shipping_method.name
  .span4
    = shipping_method.zones.collect(&:name).join(", ") if shipping_method.zones
  .span3
    .links.right
      = link_to manage_buy_sell_shipping_method_path(shipping_method), :method => :delete,
          data: { confirm: 'Are you sure?' }, :class => "delete", style: 'padding-top: 0px;' do
        %span.ico-trash
        %span.text Delete

      = link_to edit_manage_buy_sell_shipping_method_path(shipping_method), :class => "delete", style: 'padding: 0 0 0 10px;' do
        %span.icon.ico-edit
        %span.text Edit
  .clearfix
