- title "Shipping Methods"

= show_manage_navigation(:configuration, :shipping_methods)

.row-fluid
  .span8.offset2
    .box
      %header
        %ul.location-and-listings
          %li.location
            .name.left
              Manage Shipping Methods

      %ul.location-and-listings
        %li.listing
          .right
            = link_to 'New Shipping Method', new_manage_buy_sell_shipping_method_path, class: 'btn btn-medium btn-green'
        %li.listing.action-buttons
          .span4
            = t('shipping_method.name')
          .span4
            = t('shipping_method.zones')
          .span3.state.text-right

          .clearfix
        = render partial: 'shipping_method', collection: @shipping_methods
      = will_paginate @shipping_methods

