Hi,

{{ listing.transactable_type.bookable_noun }} <a href="{{ listing.listing_url }}">{{ listing.name }}</a> has been reported by {{ reporter.name }}, the reason given being:

<p>
  {{ reason }}
</p>

