= simple_form_for @theme, :url => instance_admin_theme_info_path, :html => { :multipart => true } do |f|
  %h4 Title &amp; Description
  .content-container
    .row
      .input-container.col-xs-6
        = f.input :name, input_html: { class: 'form-control' }
      .input-container.col-xs-6
        = f.input :site_name, input_html: { class: 'form-control' }
    .row
      .input-container.col-xs-6
        = f.input :meta_title, input_html: { class: 'form-control' }
      .input-container.col-xs-6
        = f.input :description, :label => 'Meta description', input_html: { class: 'form-control' }
    .row.dropshadow
      .input-container.col-xs-12
        = f.input :tagline, input_html: { class: 'form-control' }

  %h4 Contact Info
  .content-container
    .row
      .input-container.col-xs-6
        = f.input :phone_number, input_html: { class: 'form-control' }
      .input-container.col-xs-6
        = f.input :address, input_html: { class: 'form-control' }
    .row
      .input-container.col-xs-6
        .tel.optional{class: f.object.errors[:contact_email].empty? ? '' : 'error'}
          %label.tel.optional.control-label{for: "theme_phone_number"} Contact email
          .controls
            = f.input_field :contact_email, pattern: '.*', class: 'form-control'
            = f.error :contact_email
      .input-container.col-xs-6
        = f.input :support_email, input_html: { class: 'form-control' }
    .row.dropshadow
      .input-container.col-xs-12
        = f.input :support_url, input_html: { class: 'form-control' }

  %h4 Social Properties
  .content-container
    .row
      .input-container.col-xs-6
        = f.input :blog_url, label: 'Blog', input_html: { class: 'form-control' }
      .input-container.col-xs-6
        = f.input :facebook_url, label: 'Facebook URL', input_html: { class: 'form-control' }
    .row.dropshadow
      .input-container.col-xs-6
        = f.input :twitter_url, label: 'Twitter URL', input_html: { class: 'form-control' }
      .input-container.col-xs-6
        = f.input :gplus_url, label: 'Gplus URL', input_html: { class: 'form-control' }

  .content-container
    .row
      = f.button :submit, 'Save', class: 'btn btn-green pull-right'
