= simple_form_for @theme, :url => instance_admin_theme_info_path, :html => { :multipart => true } do |f|
  .content-container
    %h4
      = t('instance_admin.theme.info.title_and_description')
    .row
      .input-container.col-xs-6
        = f.input :name, input_html: { class: 'form-control' }
      .input-container.col-xs-6
        = f.input :site_name, input_html: { class: 'form-control' }
    .row
      .input-container.col-xs-6
        = f.input :meta_title, input_html: { class: 'form-control' }
      .input-container.col-xs-6
        = f.input :description, input_html: { class: 'form-control' }
    .row
      .input-container.col-xs-12
        = f.input :tagline, input_html: { class: 'form-control' }

  .content-container
    %h4
      = t('instance_admin.theme.info.contact_info')
    .row
      .input-container.col-xs-6
        = f.input :phone_number, input_html: { class: 'form-control' }
      .input-container.col-xs-6
        = f.input :address, input_html: { class: 'form-control' }
    .row
      .input-container.col-xs-6
        .tel.optional{class: f.object.errors[:contact_email].empty? ? '' : 'error'}
          %label.tel.optional.control-label{for: "theme_phone_number"}
            = t('simple_form.labels.theme.contact_email')
          .controls
            = f.input_field :contact_email, pattern: '.*', class: 'form-control'
            = f.error :contact_email
      .input-container.col-xs-6
        = f.input :support_email, input_html: { class: 'form-control' }
    .row
      .input-container.col-xs-12
        = f.input :support_url, input_html: { class: 'form-control' }

  .content-container
    %h4
      = t('instance_admin.theme.info.social_properties')
    .row
      .input-container.col-xs-4
        = f.input :blog_url, input_html: { class: 'form-control' }
      .input-container.col-xs-4
        = f.input :facebook_url, input_html: { class: 'form-control' }
      .input-container.col-xs-4
        = f.input :youtube_url, input_html: { class: 'form-control' }
    .row
      .input-container.col-xs-4
        = f.input :twitter_url, input_html: { class: 'form-control' }
      .input-container.col-xs-4
        = f.input :gplus_url, input_html: { class: 'form-control' }
      .input-container.col-xs-4
        = f.input :instagram_url, input_html: { class: 'form-control' }
    .row
      .input-container.col-xs-4
        = f.input :rss_url, input_html: { class: 'form-control' }

  = content_for :header_buttons do
    = f.button :submit, 'Save', class: 'btn btn-blue pull-right', data: { 'submit-form' => 1, 'form-selector' => 'form' }
