%fieldset
  %legend Title &amp; Description
  = f.input :name
  = f.input :site_name
  = f.input :tagline
  = f.input :meta_title
  = f.input :description, :label => 'Meta description'
  %p
    = f.button :submit, 'Save', class: 'btn btn-success'
  %br/

  %legend Brand

  - %w(logo_image logo_retina_image favicon_image icon_image icon_retina_image hero_image).each do |image_attr|
    .control-group
      = f.label image_attr
      .controls
        = f.file_field image_attr
        - if f.object.send("remote_#{image_attr}_url")
          <br />Or copy from instance's theme:<br />
          = f.text_field "remote_#{image_attr}_url"
        = f.hidden_field "#{image_attr}_cache"


  %p
    = f.button :submit, 'Save', class: 'btn btn-success'
  %br/

  %legend Contact &amp; Support
  = f.input :phone_number
  .control-group.tel.optional{class: f.object.errors[:contact_email].empty? ? '' : 'error'}
    %label.tel.optional.control-label{for: "theme_phone_number"}
      %abbr{:title => "required"} *
      Contact email
    .controls
      = f.input_field :contact_email, pattern: '.*'
      = f.error :contact_email
  = f.input :support_email
  = f.input :support_url
  = f.input :address
  %p
    = f.button :submit, 'Save', class: 'btn btn-success'
  %br/

  %legend Social Properties
  = f.input :blog_url
  = f.input :facebook_url
  = f.input :twitter_url
  = f.input :gplus_url
  %p
    = f.button :submit, 'Save', class: 'btn btn-success'
  %br/

  %legend Colors
  - Theme::COLORS.each do |color|
    = f.input "color_#{color}", :wrapper => :prepend do
      %span.add-on #
      = f.input_field "color_#{color}"
  %p
    = f.button :submit, 'Save', class: 'btn btn-success'
  %br/

  %legend Fonts
  = f.fields_for :theme_font do |tf_f|
    - ThemeFont::FONT_TYPES.each do |font_type|
      - ThemeFont::FONT_EXTENSIONS.each do |file_extension|
        .control-group
          = f.label "#{font_type}_#{file_extension}", label: "#{font_type.camelize} font (#{file_extension})"
          .controls
            = tf_f.file_field "#{font_type}_#{file_extension}"
            - if tf_f.object.persisted? && tf_f.object.send("#{font_type}_#{file_extension}")
              = File.basename(tf_f.object.send("#{font_type}_#{file_extension}_url"))
              = f.hidden_field "#{font_type}_#{file_extension}_cache"

  %p
    = f.button :submit, 'Save', class: 'btn btn-success'
  %br/

  %legend Homepage
  = f.input :homepage_css, :input_html => { :class => 'wide' }
  = f.input :homepage_content, :input_html => { :class => 'wide' }
  = f.input :call_to_action, :placeholder => 'Find out more'
  %p
    = f.button :submit, 'Save', class: 'btn btn-success'
  %br/

