= render_modal 'Decline reservation', id: "decline-reservation-#{reservation.id}", autoload: true do
  %h2 Are you sure you want to decline?
  = simple_form_for(reservation, :url => reject_manage_listing_reservation_path(reservation.listing, reservation)) do |f|
    = f.input :rejection_reason, :placeholder => "Optionally, provide a reason.", :label => false, :tabindex => '1'
    = f.submit 'Decline', class: 'btn red full'
