%h1 Book space at #{@location.name}

%p Your reservation has been made!

- if reservation_credit_card_payment?
  %p Your credit card will be charged when your reservation is confirmed by the host.

%p.text-center
  = link_to "Continue", "", :class => 'btn btn-medium btn-green close'

:javascript
  Modal.reloadOnClose(#{raw bookings_dashboard_url.to_json})

- if apply_analytics?
  :javascript
    analytics.track("Confirmed a Booking", { 
      name: "#{@location.name}",
      address: "#{(@location.formatted_address || @location.address)}",
      quantity: #{@reservations.first.quantity},
      days: #{@reservations.first.total_days},
      amount: #{@reservations.first.total_amount_dollars},
      currency: "#{@location.currency}",
      transaction: #{reservation_credit_card_payment?}
    });
