%h1 Book space at #{@location.name}

= form_tag location_reservations_url(@location), :method => :post, :remote => true do
  = render 'locations/reservations/fields'

  - location_reservation_summaries.each do |date, reservations|
    .summary
      .date= date.strftime("%e %B")
      .bookings
        - reservations.each do |listing, amount|
          .listing-reservation
            %strong= amount
            = listing.name
    %hr

  .summary
    .total-label Total Cost:
    .total-amount= location_reservation_total_amount

  %hr

  - if @reservations.sum(&:total_amount) > 0 && @reservations.each { |r| r.currency == "usd" || "cad" }

    .payment.form-horizontal

      %p
        = check_box_tag :do_not_create_charge
        = label_tag :do_not_create_charge, 'I will make payment in person.'

      .hr.divider
        %span Or

      - if @errors.present?
        .flash.error
          %ul
            - @errors.each do |e|
              %li= e

      .control-group
        = label_tag :card_number, "Card number", :class => 'control-label'
        .controls.card-number
          = text_field_tag :card_number, nil

      .control-group
        = label_tag :card_expires, "Expires", :class => 'control-label'
        .controls.card-expires
          = text_field_tag :card_expires, nil, size: 4, placeholder: 'MMYY'

      .control-group
        = label_tag :card_code, "Card code", :class => 'control-label'
        .controls.card-code
          = text_field_tag :card_code, nil, size: 3, placeholder: 'CVC'

    %hr

  - else
    = hidden_field_tag :do_not_create_charge, 1

  %p.text-center
    = submit_tag 'Request Booking Now'

  - if location_reservation_needs_confirmation?
    %p.notice.text-center
      This host manually confirms all bookings before payment
