- if address.nil?
  = :missing_address
- else
  %b= address.full_name

  - if address.company.present?
    %br/
    = address.company

  %br/

  = address.street1
  - if address.street2.present?
    %br/
    = address.street2

  %br/

  = [address.city.presence, address.state.try(:abbr).presence].compact.join(',')
  = address.zip

  %br/

  = address.country.try(:name)
