- received_orders = params[:controller].include?('received')

- if received_orders
  - manage = true
  - feedback_caption = t('orders.buttons.buyer_feedback')
  - details_url = dashboard_company_orders_received_path(order)
- else
  - manage = false
  - feedback_caption = t('orders.buttons.seller_feedback')
  - details_url = dashboard_order_path(order)

%article.order
  %header
    .row
      .col-sm-7
        %h2= link_to t('orders.labels.order_no', number: order.number), details_url
        - if order.shipped?
          %p
            #{t 'orders.labels.est_delivery'}
            %b= order.estimated_delivery

      .col-sm-5
        .order-status
          %span{class: order.status.downcase }
            = order.status


  .row
    .col-sm-3
      %h3= t('orders.labels.ship_to')
      %p= order.display_shipping_address

    - if order.payment_documents.length > 0
      .col-sm-3
        = render 'dashboard/orders/payment_documents', payment_documents: order.payment_documents


    - if manage
      .col-sm-3
        %h3= t('orders.tracking.title')
        - if order.approved?
          %p.order-tracking.success= t('orders.tracking.approved')
        - else
          %p.order-tracking.warning= t('orders.tracking.not_approved')

        %p{class: "order-tracking #{order.paid? ? 'success' : 'warning'}"}<
          - if order.payment.manual_payment?
            = t("orders.payment_state.#{order.paid? ? 'paid' : 'pending'}_offline")
          - else
            = t("orders.payment_state.#{order.payment.state}")

        - if order.shipped?
          %p.order-tracking.success= t('orders.tracking.shipped')
        - else
          %p.order-tracking.warning= t('orders.tracking.not_shipped')

    .col-sm-1
      %h3= t('orders.labels.total')
      %p
        %b= humanized_money_with_cents_and_symbol(order.total_amount)

  - order.line_items.each_with_index do |item, index|
    .order-item
      .row
        .col-sm-2
          = item.image

        .col-sm-10
          %h4= item.name_with_link
          %div #{t 'orders.labels.sold_by'} #{item.order.decorate.company_name}

          - if has_active_rating_system? && order.reviewable?(current_user)
            %p
            - if item.has_seller_reviews?
              = link_to t('orders.buttons.update_seller_feedback'), completed_dashboard_reviews_path(anchor: 'seller-reviews'), class: 'btn btn-default btn-xs'

            - if item.has_product_reviews?
              = link_to t('orders.buttons.update_product_review'), completed_dashboard_reviews_path(anchor: 'product-reviews'), class: 'btn btn-default btn-xs'
  - item = order.line_items.first
  .row
    .col-sm-9.col-sm-push-3
      .order-actions
        - if has_active_rating_system? && order.reviewable?(current_user)
          - unless item.has_seller_reviews?
            = link_to t('orders.buttons.seller_feedback'), rate_dashboard_reviews_path(anchor: 'seller-reviews'), class: 'btn btn-default'
          - unless item.has_product_reviews?
            = link_to t('orders.buttons.product_review'), rate_dashboard_reviews_path(anchor: 'product-reviews'), class: 'btn btn-default'

    .col-sm-3.col-sm-pull-9
      %small= t('orders.labels.order_placed_html', date: order.display_completed_at)
