- hidden = [:review, :feedback] # TODO: Remove when implemented

- if params[:action].include?('received')
  - manage = true
  - feedback_caption = t('orders.buttons.buyer_feedback')
  - details_url = dashboard_order_path(order)
- else
  - manage = false
  - feedback_caption = t('orders.buttons.seller_feedback')
  - details_url = order_path(order)

.order
  .order-head
    .row
      .col-md-3
        %p= t('orders.labels.order_placed')
        %p= order.display_completed_at
      .col-md-3
        %p= t('orders.labels.total')
        %p= order.display_total
      .col-md-3
        %p= t('orders.labels.ship_to')
        %p= order.display_shipping_address
      .col-md-3
        %p #{t('orders.labels.order')} ##{order.number}
        = link_to t('orders.buttons.order_details'), details_url
  .order-body
    .order-status
      %h3= order.status # TODO
      %p #{t 'orders.labels.est_delivery'} Tuesday, November 11, 2014 # TODO
    .row
      - item = order.line_items.first

      .row
        .order-item
          = render 'line_item', item: item

          .col-md-4.order-actions
            = link_to '#' do
              %col-md-.btn.blue= t'orders.buttons.track' # TODO
            - unless hidden.include?(:feedback)
              = link_to '#' do
                %col-md-.btn.gray= feedback_caption
            - unless hidden.include?(:review)
              = link_to '#' do
                %col-md-.btn.gray= t 'orders.buttons.product_review'

            - if manage
              .order-tracking
                = image_tag 'themes/orders_theme/x-red.png'
                %p.uncomfirmed Order not accepted
              .order-tracking
                = image_tag 'themes/orders_theme/x-red.png'
                %p.uncomfirmed Payment not accepted
              .order-tracking
                = image_tag 'themes/orders_theme/green-check.png'
                %p.comfirmed Shipped

      - order.line_items.each_with_index do |item, index|
        - next if index == 0
        .row
          .additional-item
            = render 'line_item', item: item
            .col-md-4
              - unless hidden.include?(:review)
                = link_to '#' do
                  %span.btn.gray= t 'orders.buttons.product_review' # TODO


