- hidden = [:review, :feedback] # TODO: Remove when implemented

- if params[:controller].include?('received')
  - manage = true
  - feedback_caption = t('orders.buttons.buyer_feedback')
  - details_url = dashboard_orders_received_path(order)
- else
  - manage = false
  - feedback_caption = t('orders.buttons.seller_feedback')
  - details_url = dashboard_order_path(order)

.order
  .order-head
    .row
      .col-md-3
        %p= t('orders.labels.order_placed')
        %p= order.display_completed_at
      .col-md-3
        %p= t('orders.labels.total')
        %p= order.total_amount_to_charge
      .col-md-3
        %p= t('orders.labels.ship_to')
        %p= order.display_shipping_address
      .col-md-3
        %p #{t('orders.labels.order')} ##{order.number}
        = link_to t('orders.buttons.order_details'), details_url

  .order-body
    .order-status
      %h3= order.status
      - if order.shipped?
        %p
          #{t 'orders.labels.est_delivery'} #{order.estimated_delivery}
    .row
      - item = order.line_items.first

      .row
        .order-item
          = render 'dashboard/orders/line_item', item: item

          .col-md-4.order-actions
            -# Jaromir: Disabled due to the missing UI on product listing
            -#- if order.shipped? && !order.shipments.first.tracking
            -#  = link_to order.shipments.first.tracking, target: '_blank' do
            -#    %col-md-.btn.blue= t'orders.buttons.track'

            - unless hidden.include?(:feedback)
              = link_to '#' do
                %col-md-.btn.gray= feedback_caption
            - unless hidden.include?(:review)
              = link_to '#' do
                %col-md-.btn.gray= t 'orders.buttons.product_review'

            - if manage
              - if order.approved?
                .order-tracking
                  = image_tag 'themes/buy_sell/green-check.png'
                  %p.confirmed Order approved
              - else
                .order-tracking
                  = image_tag 'themes/buy_sell/x-red.png'
                  %p.unconfirmed Order not approved

              - if order.pending_payments.empty?
                .order-tracking
                  = image_tag 'themes/buy_sell/green-check.png'
                  %p.confirmed No payments pending
              - else
                .order-tracking
                  = image_tag 'themes/buy_sell/x-red.png'
                  %p.unconfirmed Payment not captured

              - if order.shipped?
                .order-tracking
                  = image_tag 'themes/buy_sell/green-check.png'
                  %p.confirmed Shipped
              - else
                .order-tracking
                  = image_tag 'themes/buy_sell/x-red.png'
                  %p.unconfirmed Not shipped

      - order.line_items.each_with_index do |item, index|
        - next if index == 0
        .row
          .additional-item
            = render 'dashboard/orders/line_item', item: item
            .col-md-4
              - unless hidden.include?(:review)
                = link_to '#' do
                  %span.btn.gray= t 'orders.buttons.product_review'


