.order-row
  .row
    .col-sm-2.name
      = link_to order.number, url_for(action: :show, id: order.id), data: {'order-details': true}
    .col-sm-2.listing.hidden-xs
      = link_to order.transactable.name, order.transactable.decorate.show_path, class: 'hidden-xs'
    .col-sm-2.price.hidden-xs
      = order.payment_state
    .col-sm-2.added.hidden-xs
      = l order.created_at.to_date, format: :short
    .col-sm-2.price.hidden-xs
      = humanized_money_with_cents_and_symbol order.total_amount
    .col-sm-2.actions.hidden-xs
      = link_to t('dashboard.orders.details'), url_for(action: :show, id: order.id), data: {'order-details': true}
