- hidden = [:review, :feedback] # TODO: Remove when implemented
- received_orders = params[:controller].include?('received')

- if received_orders
  - manage = true
  - feedback_caption = t('orders.buttons.buyer_feedback')
  - details_url = dashboard_company_orders_received_path(order)
- else
  - manage = false
  - feedback_caption = t('orders.buttons.seller_feedback')
  - details_url = dashboard_order_path(order)

.order
  .order-head
    .row
      .col-md-3
        %p= t('orders.labels.order_placed')
        %p= order.display_completed_at
      .col-md-3
        %p= t('orders.labels.total')
        %p= humanized_money_with_cents_and_symbol(order.total_amount)
      .col-md-3
        %p= t('orders.labels.ship_to')
        %p= order.display_shipping_address
      .col-md-3
        %p #{t('orders.labels.order')} ##{order.number}
        = link_to t('orders.buttons.order_details'), details_url

  .order-body
    .order-status
      %h3= order.status
      - if order.shipped?
        %p
          #{t 'orders.labels.est_delivery'} #{order.estimated_delivery}
    .row
      - item = order.line_items.first

      .row
        .order-item
          = render 'dashboard/orders/line_item', item: item

          .col-md-4.order-actions
            - if has_active_rating_system? && order.reviewable?(current_user) && !received_orders

              - if item.has_seller_reviews?
                = link_to dashboard_reviews_path(tab: 'completed') do
                  %span.btn.blue= t 'orders.buttons.update_seller_feedback'
              - else
                = link_to dashboard_reviews_path do
                  %span.btn.gray= t 'orders.buttons.seller_feedback'
              %br
              - if item.has_product_reviews?
                = link_to dashboard_reviews_path(tab: 'completed') do
                  %span.btn.blue= t 'orders.buttons.update_product_review'
              - else
                = link_to dashboard_reviews_path do
                  %span.btn.gray= t 'orders.buttons.product_review'

            - if manage
              - if order.approved?
                .order-tracking
                  = image_tag 'themes/buy_sell/green-check.png'
                  %p.confirmed Order approved
              - else
                .order-tracking
                  = image_tag 'themes/buy_sell/x-red.png'
                  %p.unconfirmed Order not approved

              .order-tracking
                = image_tag "themes/buy_sell/#{order.paid? ? 'green-check' : 'x-red'}.png"
                %p{class: order.paid? ? 'confirmed' : 'unconfirmed'}= t("orders.payment_state.#{order.payment_state}")

              - if order.shipped?
                .order-tracking
                  = image_tag 'themes/buy_sell/green-check.png'
                  %p.confirmed Shipped
              - else
                .order-tracking
                  = image_tag 'themes/buy_sell/x-red.png'
                  %p.unconfirmed Not shipped

      - order.line_items.each_with_index do |item, index|
        - next if index == 0
        .row
          .additional-item
            = render 'dashboard/orders/line_item', item: item
            .col-md-4
            - if order.reviewable?(current_user) && !received_orders
              - if item.has_product_reviews?
                = link_to dashboard_reviews_path(tab: 'completed') do
                  %span.btn.blue= t 'orders.buttons.update_product_review'
              - else
                = link_to dashboard_reviews_path do
                  %span.btn.gray= t 'orders.buttons.product_review'

      - if order.payment_documents.length > 0
        = render 'payment_documents', payment_documents: order.payment_documents
