- render_content_outside_container!

.dash-head.clearfix
  %p #{t('buy_sell_market.checkout.labels.order_details')} - #{@order.number}

.dash-body
  %table.order-header
    %thead
      %th= t 'buy_sell_market.checkout.labels.billing_address'
      %th= t 'buy_sell_market.checkout.labels.shipping_address'
      %th= t 'buy_sell_market.checkout.labels.shipping_method'
      %th= t 'buy_sell_market.checkout.labels.payment'

    %tbody
      %tr
        %td= @order.bill_address.full_name
        %td= @order.ship_address.full_name
        %td{rowspan: 6}
          - @order.shipments.each do |shipment|
            From
            %strong= shipment.stock_location.name
            via
            %br
            %strong=shipment.selected_shipping_rate.name
            %br
            - if shipment.shippo_tracking_number.present?
              Tracking number:
              = shipment.shippo_tracking_number

        %td
          - if @charge_info && @charge_info.response['card']
            #{t('buy_sell_market.checkout.labels.ending_in')} #{@charge_info.response['card']['last4']}
            #{@charge_info.response['card']['name']}
          - else
            = t 'buy_sell_market.checkout.labels.na'

      - if @order.bill_address.company.present? || @order.ship_address.company.present?
        %tr
          %td= @order.bill_address.company
          %td= @order.ship_address.company
          %td
          %td

      %tr
        %td= @order.bill_address.address1
        %td= @order.ship_address.address1
        %td
        %td
      %tr
        %td= @order.bill_address.address2
        %td= @order.ship_address.address2
        %td
        %td
      %tr
        %td= @order.bill_address.city
        %td= @order.ship_address.city
        %td
        %td
      %tr
        %td= @order.bill_address.country.name
        %td= @order.ship_address.country.name
        %td
        %td
      %tr
        %td= @order.bill_address.state.abbr
        %td= @order.ship_address.state.abbr
        %td
        %td
      %tr
        %td= @order.bill_address.zipcode
        %td= @order.ship_address.zipcode
        %td
        %td

  .divider

  %h2= t 'buy_sell_market.checkout.labels.order_summary'
  %table.payment-summary
    %thead
      %th= t 'buy_sell_market.checkout.labels.item'
      %th= t 'buy_sell_market.checkout.labels.price'
      %th= t 'buy_sell_market.checkout.labels.qty'
      %th= t 'buy_sell_market.checkout.labels.total'

    %tbody
      - @order.line_items.decorate.each do |item|
        %tr
          %td= item.name_with_link
          %td= item.price
          %td= item.quantity
          %td= item.display_amount

  .divider

  %table.payment-totals
    %tr
      %td= t 'buy_sell_market.checkout.labels.subtotal'
      %td= humanized_money_with_cents_and_symbol @order.monetize(@order.item_total)
    %tr
      %td= t 'buy_sell_market.checkout.labels.shipping'
      %td= humanized_money_with_cents_and_symbol @order.monetize(@order.shipment_total)
    %tr
      %td= t 'buy_sell_market.checkout.labels.tax'
      %td= humanized_money_with_cents_and_symbol @order.monetize(@order.additional_tax_total)
    %tr
      %td= t 'buy_sell_market.checkout.labels.service_fee'
      %td= humanized_money_with_cents_and_symbol @order.service_fee_amount_guest
    - if @order.additional_charges.any?
      - @order.additional_charges.each do |charge|
        %tr
          %td= charge.name
          %td= humanized_money_with_cents_and_symbol charge.amount
    %tr
      %td.total= t 'buy_sell_market.checkout.labels.total2'
      %td.total= humanized_money_with_cents_and_symbol @order.total_amount

  .clearfix
