- if current_instance.shippo_enabled?
  .products-shippo
    = f.input :shippo_enabled, label: Spree::Product.human_attribute_name(:shippo_enabled), as: :switch, input_html: { 'data-shipping-enabled': true }

    %p
      = t('manage.buy_sell.dimensions_templates.explanation1')

    .shippo-fields
      - if f.object.errors.present?
        = hidden_field_tag 'product_errors_present'

      = render 'dashboard/shared/fields/dimension_templates', dt: f, templates: platform_context.instance.dimensions_templates, label: t('manage.buy_sell.dimensions_templates.explanation2'), section_id: 'shippo-dimension-templates'

      .explanation
        %p= t('manage.buy_sell.insurance_explanation')

      = f.input :insurance_amount, as: :price, input_html: { currency: currency_symbol_from_code(Spree::Config[:currency] ) }, wrapper_html: { class: 'form-control-sm' }
