- @user.companies.first.products.decorate.in_groups_of(2) do |line|
  .row-fluid
    - line.each do |product|
      .span6
        - if product
          = link_to product_url(product) do
            .item-img
              = product.first_image
            .details.clearfix
              %p= product.name
              %p.name= product.company.name
              %p.price= product.display_price
