.sorting-reviews{ :'data-sorting-reviews' => true }
  .row-fluid
    .span7
    .span5
      = t('registrations.choose')
      .dropdown.reviews-dropdown{ 'data-reviews-dropdown' => true, 'data-url' => reviews_collections_path(@user) }
        %a.nav-link.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
          %span.title{'data-title' => true}=t('user_reviews.reviews_about_this_seller')
          %span.ico-chevron-down
        .clearfix
        %ul.dropdown-menu
          - if @reviews_count > 0
            %li{'data-option' => 'reviews_about_seller'}= "#{t('user_reviews.reviews_about_this_seller', first_name: @user.first_name)} (#{@reviews_count})"
          - if @reviews_left_by_seller_count > 0
            %li{'data-option' => 'reviews_left_by_seller'}="#{t('user_reviews.reviews_left_by_this_seller', first_name: @user.first_name)} (#{@reviews_left_by_seller_count})"
          - if @reviews_about_buyer_count > 0
            %li{'data-option' => 'reviews_about_buyer'}="#{t('user_reviews.reviews_about_this_buyer', first_name: @user.first_name)} (#{@reviews_about_buyer_count})"
          - if @reviews_left_by_buyer_count > 0
            %li{'data-option' => 'reviews_left_by_buyer'}="#{t('user_reviews.reviews_left_by_this_buyer', first_name: @user.first_name)} (#{@reviews_left_by_buyer_count})"


.loading.text-center{:'data-loading' => true, style: "display: none"}
  = image_tag "spinner.gif"
.reviews-content{:'data-reviews-content' => true}
