<h2>Can we help, {{ lister.first_name }}?</h2>

<p>We noticed that you declined {{ enquirer.first_name }}'s offer for '<a href="{{ transactable.listing_url }}">{{ listing.properties.order_title }}</a>'.</p>

<p>We'd love to know the reasons so we can provide a better service in the future for you and your potential Experts.</p>

<p>Just reply to this email, or call us on {{ platform_context.phone_number }} - we value your feedback!</p>
