= dashboard_simple_form_for @blog, url: dashboard_blog_path, html: { multipart: true } do |f|
  .panel
    .panel-body
      = f.input :enabled, as: :switch
      = f.input :name, required: true
      .row
        .col-md-4
          = f.input :header_logo, as: :image, delete_url: delete_image_dashboard_blog_path(:image_type => :header_logo)
        .col-md-4
          = f.input :header_icon, as: :image, delete_url: delete_image_dashboard_blog_path(:image_type => :header_icon)
        .col-md-4
          = f.input :header_image, as: :image, delete_url: delete_image_dashboard_blog_path(:image_type => :header_image)

  .panel.form-actions
    .panel-body
      = f.submit t('user_blog.buttons.save'), class: 'btn btn-primary', data: { disable_with: t('user_blog.labels.please_wait')}
