- title t('user_blog.titles.index')

- content_for :page_header do
  %h1= yield :title

  .options
    = link_to t('user_blog.buttons.visit_blog_html'), user_blog_posts_list_path(current_user), rel: 'external', class: 'hidden-xs'

    - unless !@blog.enabled?
      = link_to t('user_blog.buttons.add_post_html'), new_dashboard_blog_post_path

.panel
  .panel-body

    - if !@blog.enabled?
      .alert.alert-warning
        = t 'user_blog.labels.blog_disabled_html'

    - elsif @user_blog_posts.empty?
      %p.empty-resultset= t 'user_blog.labels.no_posts', button_name: t('user_blog.buttons.write_post')

    - else
      %ul.blog-listing
        - @user_blog_posts.each do |blog_post|
          %li
            %h3= link_to blog_post.title, edit_dashboard_blog_post_path(blog_post)
            .meta
              - if blog_post.object.published_at > Date.today
                = t('user_blog.dates.going_to_be_published_at_html', datetime: blog_post.published_at_datetime, date: blog_post.published_at)
              - else
                = t('user_blog.dates.published_at_html', datetime: blog_post.published_at_datetime, date: blog_post.published_at)
            .actions
              = link_to t('user_blog.actions.visit'), blog_post.url_to
              = link_to t('user_blog.actions.edit'), edit_dashboard_blog_post_path(blog_post)
              = link_to t('user_blog.actions.delete'), dashboard_blog_post_path(blog_post.id), method: :delete, data: { confirm: t('user_blog.confirmations.delete') }
