%h4.control-label
  = t(:title, scope: [:pricing, :unavailability])

%p
  = t(:info, scope: [:pricing, :unavailability])

= f.input :unavailable_period_enabled, as: :switch if f.object.respond_to?(:uavailable_period_enabled)

%div.schedule-exception-rules-container
  = f.simple_fields_for :schedule_exception_rules do |schedule_exception_rule_form|
    = render 'schedules/schedule_exception_rule_fields', f: schedule_exception_rule_form

  = link_to_add_association f, :schedule_exception_rules, partial: 'schedules/schedule_exception_rule_fields', class: 'button-a small' do
    %button.btn.btn-primary{:type => "button"}
      = t(:add_another, scope: [:pricing, :unavailability])
