#category_form
  = render 'form'
  .content-container

    - if @category.present?
      .row
        .input-container.col-xs-12
          #ajax_error{style: 'display: none;'}
          %p Right click a child in the tree to access the menu for adding, deleting or sorting a child.
          #category_tree

    .row.dropshadow


- if @category.present?
  - content_for :domready do
    new InstanceAdmin.CategoriesController($('#category_form'), #{@category.id});

= content_for :header_buttons do
  = link_to 'Categories', url_for(['instance_admin', @controller_scope, @categorable, 'categories']), class: 'pull-right btn btn-blue'
  = link_to "Delete", url_for(['instance_admin', @controller_scope, @categorable, @category]),  class: 'pull-right btn btn-neutral', method: :delete, data: { confirm: 'Are you sure you want to delete this category group?' }, title: 'Delete'

