{% if wish_list_item.wishlistable_present? %}
  <article class="wish-list__item" style="background-image: url({{ wish_list_item.image_url }});">
    <a href="{{ wish_list_item.wishlistable_path }}" rel="external" class="link">
      <div class="name">
        {{ wish_list_item.wishlistable_name }}
      </div>
      <div class="company">
        {{ wish_list_item.company_name }}
      </div>

      <div class="address">
        {{ wish_list_item.price }}
      </div>
    </a>

    <div class="actions">
      <a href="{{ wish_list_item.dashboard_wish_list_item_path }}" rel="nofollow" data-method="delete" class="action--delete">{{ 'wish_lists.buttons.delete' | translate }}</a>
    </div>
  </article>
{% endif %}
