= render 'shared/onboarding_heading', active_step: 3


/ content wrapper
.wrap-a.white
  .contain
    = simple_form_for "followed", url: wizard_path, html: { class: 'form-a', method: :put  } do |f|
      %h2
        = t :people_to_follow

      / grid
      .grid-a-follow-a
        .wrap
          - @people.each do |person|
            .cell
              / card
              .card-b.is-active
                %figure{:style => "background-image: url(#{person.avatar.url(:medium)});"}
                  = link_to user_path(person.slug) do
                    = image_tag person.avatar.url(:medium)
                .wrap
                  = f.input "people][", as: :boolean, checked_value: person.id, input_html: { checked: "checked", class: 'tick-a', id: "follow-person-#{person.id}" }, wrapper_html: { class: 'check' }, wrapper: :inline_checkbox, label_html: { id: "follow-person-#{person.id}", class: 'no-label' }

                  %h3.hx
                    = link_to person.decorate.name_with_affiliation, user_path(person.slug)
                  %p= person.properties.about_me rescue ""
                  %p.location= address_for_user_card(person.current_address)
          - if @people.blank?
            .cell
              = t('onboarding.no_suggestions_at_this_time')

      %h2
        = t :projects_to_follow
      / grid
      .grid-a-follow-a
        .wrap
          - @projects.each do |project|
            .cell
              / card
              .card-b.is-active
                %figure{:style => "background-image: url(#{project.photos.first.image.url(:medium)});"}
                  = link_to root_url do
                    = image_tag project.photos.first.image.url(:medium)
                .wrap
                  = f.input 'projects][', as: :boolean, checked_value: project.id, input_html: { checked: "checked", class: 'tick-a', id: "follow-project-#{project.id}" }, wrapper_html: { class: 'check' }, wrapper: :inline_checkbox, label_html: { id: "follow-project-#{project.id}", class: 'no-label' }

                  %h3.hx= project.name
                  %p= project.properties.summary
          - if @projects.blank?
            .cell
              = t('onboarding.no_suggestions_at_this_time')

      %h2
        = t :topics_to_follow
      / grid
      .grid-a-follow-a
        .wrap
          - @topics.each do |topic|
            .cell
              / card
              .card-b.is-active
                %figure{:style => "background-image: url(#{topic.image.url(:small)});"}
                  = link_to "topic_path(topic)" do
                    = image_tag topic.image.url(:small)
                .wrap
                  = f.input 'topics][', as: :boolean, checked_value: topic.id, input_html: { checked: "checked", class: 'tick-a', id: "follow-topic-#{topic.id}" }, wrapper_html: { class: 'check' }, wrapper: :inline_checkbox, label_html: { id: "follow-topic-#{topic.id}", class: 'no-label' }
                  %h3.hx= topic.name
                  %p= topic.description
          - if @topics.blank?
            .cell
              = t('onboarding.no_suggestions_at_this_time')

      %p.action
        %button.button-a{:type => "submit"}
          = t :continue
