- if @listing
  .row-fluid.support
    .span8.offset2
      %h1= (@listing.action_free_booking? ? t('reservations.rfq') : t('reservations.make_offer'))

      %h2= @listing.name
      .box
        %h3
          - if @listing.schedule_booking?
            = @schedule_presenter.selected_date_summary
          -else
            = "#{params[:reservation_request][:quantity]} x #{@hourly_presenter.present? ? "#{@hourly_presenter.hours} #{'hour'.pluralize(@hourly_presenter.hours.to_i)}" : @date_presenter.days_in_words}"

        .form
          = simple_form_for @ticket, url: listing_tickets_path(@listing), html: { id: 'rfq' }, method: :post do |t|
            - params[:reservation_request].each do |k, v|
              = hidden_field_tag "details[#{k}]", v

            = t.simple_fields_for :messages do |f|
              .columns
                .row-fluid
                  =f.input :message, as: :text, label: t('reservations.rfq_message')
              .row-fluid
                =t.submit (@listing.action_free_booking? ? t('reservations.rfq') : t('reservations.make_offer')), :class => 'btn btn-green', style: 'margin-top: 0px'

  - if request.xhr?
    :javascript
      $(function() {
        new ModalForm($('#rfq'));
      });
