- if @listing
  .row-fluid.support
    .span8.offset2
      %h1= (@listing.action_free_booking? ? t('reservations.rfq') : t('reservations.make_offer'))

      %h2= @listing.name
      .box
        %h3
          - if @listing.event_booking?
            = @schedule_presenter.selected_date_summary
          - elsif @listing.subscription_booking?
            = t('support.new.subscription', period: @pricing.units_translation('search.per_unit_price').titleize, from: @date_presenter.get_date)
          -elsif params[:order][:quantity] && @listing.purchase_action?
            = "#{params[:order][:quantity]} #{@pricing.units_translation('search.per_unit_price').titleize}"
          -elsif params[:order][:quantity]
            = "#{params[:order][:quantity]} x #{@hourly_presenter.present? ? "#{@hourly_presenter.hours} #{'hour'.pluralize(@hourly_presenter.hours.to_i)}" : @date_presenter.days_in_words}"

        .form
          = simple_form_for @ticket, url: listing_tickets_path(@listing), html: { id: 'rfq' }, method: :post do |t|
            - params[:order].each do |k, v|
              = hidden_field_tag "details[#{k}]", v

            = t.simple_fields_for :messages do |f|
              .columns
                .row-fluid
                  =f.input :message, as: :text, label: t('reservations.rfq_message')
              .row-fluid
                =t.submit (@listing.action_free_booking? ? t('reservations.rfq') : t('reservations.make_offer')), :class => 'btn btn-green', style: 'margin-top: 0px'

  - if request.xhr?
    :javascript
      $(function() {
        $(document).trigger('init:modalform.nearme', ['#rfq']);
      });
