<header>
  <div class='row'>
    <div class='col-xs-7'>
      {% if reservation.transactable != blank and reservation.transactable.deleted? != true %}
        <h2>
          <a href="{{ reservation.transactable.show_path }}">
            {% if reservation.transactable.name.size > 0 %}
              {{ reservation.transactable.name }}
            {% else %}
              {{ 'dashboard.host_reservations.show_listing_page' | t}}
            {% endif %}
          </a>

          {{ reservation.transactable.click_to_call_button }}
        </h2>
      {% else %}
        <h2>{{ 'dashboard.user_reservations.listing_deleted' | t }}</h2>
      {% endif %}
    </div>
    <div class='col-xs-5'>
      <div class='order-status'>
        {% if reservation.archived_at and reservation.state == 'confirmed' %}
          <span class='confirmed'>
            {{ "reservations.states.completed" | translate }}
          </span>
        {% else %}
          <span class='{{ reservation.state }}'>
            {{ 'reservations.states.' | append: reservation.state | translate }}
          </span>
        {% endif %}
      </div>
    </div>
  </div>
</header>

<div class='row'>
  {% if reservation.guest_notes != blank %}
    <div class='col-sm-3'>
      <h3>{{ 'dashboard.host_reservations.exclusive_price_guests_notes' | t }}</h3>
      <blockquote>{{ reservation.guest_notes }}</blockquote>
    </div>
  {% endif %}
  {% if reservation.payment_documents.size > 0 %}
    <div class='col-sm-10'>
      <h3>Offers</h3>
      <div class="row">
        <div class="col-sm-3">Date</div>
        <div class="col-sm-4">File</div>
      </div>
        {% for pd in reservation.payment_documents %}
          <div class="row">
            <div class="col-sm-3">{{ pd.created_at | l: 'long' }}</div>
            <div class="col-sm-4"><a href='{{ pd.file_url }}' download="{{ pd.file_name }}">{{ pd.file_name }}</a></div>
          </div>
        {% endfor %}
    </div>
  {% endif %}
  {% if reservation.additional_line_items.size > 0 %}
    <div class='col-sm-3 right'>
      <h3>{{ 'dashboard.host_reservations.additional_charges' | t }}</h3>
      <ul class='payment-documents'>
        {% for ac in reservation.additional_line_items %}
          <li>
            {{ ac.name | append: ' - ' | append: ac.formatted_total_price }}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
</div>

<hr/>

{% if reservation.confirmed? and reservation.archived_at == blank %}
  <hr/>
  <div class='row'>
    <a class="btn btn-info" href="{{ 'dashboard_order_path' | generate_url: reservation.id }}">{{ 'dashboard.user_reservations.approved_offer' | t}}</a>
    {% if platform_context.instance.enable_reply_button_on_host_reservations? %}
      {% if reservation.user_messages.size == 0 %}
        <a class="btn btn-info" data-modal="true" href="{{ 'new_reservation_user_message_path' | generate_url: reservation.id, skip: true }}">{{ 'dashboard.user_reservations.send_message' | t}}</a>
      {% else %}
        <a class="btn btn-info" data-modal="true" href="{{ 'dashboard_user_message_path' | generate_url: reservation.user_messages.first.id }}">{{ 'dashboard.user_reservations.send_message' | t}}</a>
      {% endif %}
    {% endif %}
    <a class="btn btn-info" href="{{ reservation.transactable.show_path }}">{{ 'dashboard.user_reservations.view_case' | t}}</a>
    <a class="btn btn-info" href="#" onclick="$('form#archive_reservation').submit()" data-disable-with="{{ 'general.processing' | t }}" >{{ 'dashboard.user_reservations.close_case' | t }}</a>
  </div>
  <form class="edit_reservation" id="archive_reservation" action="{{ 'archive_dashboard_company_orders_received_path' | generate_url: reservation.id }}" accept-charset="UTF-8" method="post">
    <input name="utf8" type="hidden" value="&#x2713;" />
    <input type="hidden" name="authenticity_token" value="{{ form_authenticity_token }}" />
  </form>
{% endif %}
