{% assign collaborator = current_user | find_collaborator: listing %}
<main id="main">
    <div class="wrapper-a">
        <div class="back-to-search-results back-to-listings">
            <a href="{{ 'dashboard_company_transactable_type_transactables_path' | generate_url: listing.transactable_type.slug }}">Back to My Projects</a>
        </div>

        <article class="listing-a">
          <h1>{{ listing.name }}</h1>

            <div class="content">
                <div class="listing-properties">
                    <div class="overview">
                      <h2>Client Name: <span>{{ listing.properties.project_contact }}</span></h2>
                      <div class="meta">Project posted <b>{{ listing.created_at | time_ago_in_words }}</b> ago</div>
                    </div>

                    <div class="properties">
                        <dl>
                            <dt>Company Name:</dt>
                            <dd>{{ listing.company.name }}</dd>

                            {% if collaborator != blank %}
                              <dt>Invite Sent:</dt>
                              <dd><time datetime="{{ collaborator.approved_by_owner_at }}">{{ collaborator.approved_by_owner_at | l: 'short'}}</time></dd>
                            {% endif %}

                            <dt>Workplace:</dt>
                            <dd>{{ listing.properties.workplace_type }}</dd>

                            {% if listing.properties.workplace_type == 'On Site' %}
                              <dt>Office:</dt>
                              <dd>{{ listing.properties.office_location }}</dd>
                            {% endif %}

                            <dt>Languages:</dt>
                            <dd>{{ listing.categories["Languages"]["children"] | join: ', ' }}</dd>
                        </dl>

                        <dl>
                            <dt>Approx. Budget:</dt>
                            <dd>{{ listing.properties.budget | pricify }}</dd>

                            <dt>Deadline:</dt>
                            <dd>{{ listing.properties.deadline | to_date | l: 'short' }}</dd>

                            <dt>Approx. Time to Complete: </dt>
                            <dd>{{ listing.properties.estimation }}</dd>
                        </dl>
                    </div>
                </div>

                <div class="listing-description">
                    <h3>Vignette of a Scope:</h3>
                    <p>{{ listing.description }}</p>

                    <h3>Type of Deliverable:</h3>
                    <p>{{ listing.properties.type_of_deliverable }}</p>

                    <h3>Other Requirements:</h3>
                    <p>{{ listing.properties.other_requirements }}</p>
                </div>
            </div>


            <aside class="sidebar">
                <ul class="actions-a">

                    {% assign orders = current_user | get_enquirer_orders: listing %}
                    {% assign can_make_offer = false %}
                    {% if current_status == 'pending' %}
                      {% if orders == empty %}
                        {% assign can_make_offer = true %}
                      {% else %}
                        {% assign can_make_offer = true %}
                        {% for order in orders %}
                          {% if order.state == 'unconfirmed' %}
                            {% assign can_make_offer = false %}
                          {% endif %}
                        {% endfor %}
                      {% endif  %}
                    {% endif %}
                    {% if can_make_offer == true %}
                      <li>
                        {% if current_user.has_verified_merchant_account == true %}
                          <a class="btn btn-info" href="{{ 'new_dashboard_order_path' | generate_url: transactable_id: transactable.id }}">Make an Offer</a>
                        {% else %}
                          <a class="btn btn-info" data-modal="true" data-href="{{ 'required_modal_dashboard_company_payouts_path' | generate_url }}">Make an Offer</a>
                        {% endif %}

                      </li>
                    {% endif %}
                    <li>{{ listing.creator.click_to_call_button }}</li>
                    {% if collaborator != blank %}
                      <li><a class="button-b action-message" data-modal="true" data-href="{{ listing.creator.user_message_path }}">Send Message</a></li>
                    {% endif %}
                </ul>

                <hr>

                <h4>About Company</h4>
                <p>{{ listing.properties.about_company }}</p>

                <hr>

                <ul class="company-properties">
                  <li><b>{{ listing.creator.transactables_count }}</b> Projects Posted</li>
                  <li><b>{{ listing.creator.completed_transactables_count }}</b> Projects Completed</li>
                    <li>Member Since {{ listing.creator.created_at | to_date | l: 'short' }}</li>
                </ul>

                <hr>

                {% if listing.creator.has_active_credit_cards? %}
                  <p class="payment-verified">
                      <strong>Payment Method Verified</strong>
                  </p>

                  <hr>
                {% endif %}

                <ul class="actions-a">
                    <li><a data-href="{{ listing.inappropriate_report_path }}" data-modal="true" class="button-b action-flag">Flag as inappropriate</a></li>
                </ul>
            </aside>
        </article>
    </div>
</main>
