{% content_for 'hero' %}
    <div class="search-form" id="listing_search">
        <div class="wrapper-a">
            <form action="/search" method="get" id="search-form">
                <div class="query">
                    <label for="field-q" class="struct-label">Search keyword</label>
                    <input type="text" name="query" id="field-q" placeholder="Enter keywords&hellip;" value="{{ params['query'] }}">
                    <input type="hidden" name="lg_custom_attributes[workplace_type]" value="{{ searcher.lg_custom_attributes_hash['workplace_type'] }}">
                    <input type="hidden" name="lg_custom_attributes[travel]" value="{{ searcher.lg_custom_attributes_hash['travel'] }}">
                    <input type="hidden" name="category_ids" value="{{ searcher.category_ids }}">
                    <input type="hidden" name="per_page" value="{{ searcher.per_page }}">
                    <input type="hidden" name="page" value="{{ searcher.current_page }}" id="input-page">
                    <input type="hidden" name="query_fields" value="tags">
                    <input type="hidden" name="sort">

                    <div class="form-action">
                        <button type="submit" class="button-a">Search</button>
                    </div>
                </div>
            </form>

            <fieldset class="filters" data-search-filters-container>
                <legend class="struct-label">Filter</legend>

                <div class="filters-wrapper">
                    <div class="filter-categories">
                      {% for root_category in searcher.searchable_categories %}
                          <div class="filter">
                              <label for="filter-industry" class="filter-title">{{ root_category.name }}</label>
                              <span class="select-a">
                                  <select id="filter-industry" class="unstyled-select" name='category_ids[]'>
                                      <option value="">Please Select --</option>
                                      {% for category in root_category.children %}
                                        <option {% if searcher.category_ids contains subcat.id %}selected{% endif %} value='{{subcat.id}}'>{{ category.name }}</option>
                                        {% if category.children.size > 0 %}
                                          {% for subcat in category.children %}
                                            <option {% if searcher.category_ids contains subcat.id %}selected{% endif %} value='{{subcat.id}}'>{{ subcat.name }}</option>
                                            {% if subcat.children.size > 0 %}
                                              {% for subcat2 in subcat.children %}
                                                <option {% if searcher.category_ids contains subcat2.id %}selected{% endif %} value='{{subcat2.id}}'>{{ subcat2.name }}</option>
                                              {% endfor %}
                                            {% endif %}
                                          {% endfor %}
                                        {% endif %}
                                      {% endfor %}
                                  </select>
                              </span>
                          </div>
                      {% endfor %}
                    </div>

                    <div class="filter-switches">
                        <fieldset class="filter" data-custom-attribute='workplace_type'>
                            <legend class="filter-title">By Workplace</legend>
                            <ul>
                                <li>
                                    <span class="radio-a">
                                        <input type="radio" {% if searcher.lg_custom_attributes_hash['workplace_type'] contains 'Online' %}checked{% endif %} id="filter-workplace-online" name="lg_custom_attributes[workplace_type][]" value="Online">
                                        <label for="filter-workplace-online">Online</label>
                                    </span>
                                </li>

                                <li>
                                    <span class="radio-a">
                                        <input type="radio" {% if searcher.lg_custom_attributes_hash['workplace_type'] contains 'On Site' %}checked{% endif %} id="filter-workplace-onsite" name="lg_custom_attributes[workplace_type][]" value="On Site">
                                        <label for="filter-workplace-onsite">On Site</label>
                                    </span>
                                </li>
                            </ul>
                        </fieldset>

                        <fieldset class="filter" data-custom-attribute='travel'>
                            <legend class="filter-title">By Travel</legend>
                            <ul>
                                <li>
                                    <span class="radio-a">
                                        <input type="radio" {% if searcher.lg_custom_attributes_hash['travel'] contains 'yes' %}checked{% endif %} id="filter-travel-yes" name="lg_custom_attributes[travel][]" value="yes">
                                        <label for="filter-travel-yes">Yes</label>
                                    </span>
                                </li>

                                <li>
                                    <span class="radio-a">
                                        <input type="radio" {% if searcher.lg_custom_attributes_hash['travel'] contains'no' %}checked{% endif %} id="filter-travel-no" name="lg_custom_attributes[travel][]" value="no">
                                        <label for="filter-travel-no">No</label>
                                    </span>
                                </li>
                            </ul>
                        </fieldset>
                    </div>
                </div>
            </fieldset>

            <div class="search-sort-order" data-search-filters-container>
                <label for="search-order">Sort by:</label>
                <span class="select-a">
                    <select id="search-order" name="sort" class="unstyled-select">
                        <option {% if params['sort'] == 'custom_attributes.hourly_rate_asc'  %}selected{% endif %} value='custom_attributes.hourly_rate_asc'>Hourly rate ascending</option>
                        <option {% if params['sort'] == 'custom_attributes.hourly_rate_desc' %}selected{% endif %} value='custom_attributes.hourly_rate_desc'>Houry rate descending</option>
                    </select>
                </span>
            </div>
        </div>
    </div>
{% endcontent_for %}

<main id="results">
    <div class="wrapper-a">
        <h1 class="struct-label">SME Search results</h1>
        <section class="search-results">

            <div class="search-results-query-info">
                <span class="results-count"><b>{{ searcher.result_count }}</b> Result(s) Found</span>
            </div>

            <div class="search-results-items">
              {% for user in searcher.results %}
                  <article class="user-a" id="user-{{ user.id }}">
                      <div class="wrapper">
                          <header class="header">
                              <figure>
                                  <img src="{{user.avatar_url_big}}" alt="{{ user.name }}">
                              </figure>
                              <h2><a href="{{ user.user_profile_url }}">{{ user.name }}</a></h2>

                              <div class="properties">
                                  <p class="price">
                                      <strong>{{ user.buyer_properties.hourly_rate }} USD / hr</strong>
                                  </p>
                                  <dl class="property">
                                      <dt>Discounts:</dt>
                                      <dd>{{ user.buyer_properties.discounts_available | humanize }}</dd>
                                  </dl>
                              </div>

                              <div class="contact">
                                  <a class="button-b action-message" data-href='{{ user.user_message_path }}' data-modal='true'>Send Message</a>
                                  {{ user.click_to_call_button }}
                              </div>
                          </header>

                          {% assign aoe_category = user.formatted_buyer_categories["Area Of Expertise"] %}
                          {% assign industry_category = user.formatted_buyer_categories['Industry'] %}
                          {% assign languages_category = user.buyer_categories['Languages'] %}

                          {% if aoe_category.children.size > 0 || industry_category.children.size > 0 || languages_category.children.size > 0 || user.buyer_properties.bio != blank %}
                              <div class="content">
                                  {% if aoe_category.children.size > 0 %}
                                      <h3>{{ aoe_category.name }}</h3>
                                      <ul class="short-list">
                                          {% for expertise in aoe_category.children %}
                                          <li>{{ expertise[-1] }}</li>
                                          {% endfor %}
                                      </ul>
                                  {% endif %}

                                  {% if industry_category.children.size > 0 %}
                                      <h3>{{ industry_category.name }}</h3>
                                      <ul class="short-list">
                                          {% for industry in industry_category.children %}
                                          <li>{{ industry[-1] }}</li>
                                          {% endfor %}
                                      </ul>
                                  {% endif %}

                                  {% if languages_category.children.size > 0 %}
                                      <h3>{{ languages_category.name }}</h3>
                                      <p>{{ languages_category.children | join: ', ' }}</p>
                                  {% endif %}

                                  {% if user.buyer_properties.bio != blank %}
                                      <h3>Bio</h3>
                                      <p>{{ user.buyer_properties.bio }}</p>
                                  {% endif %}
                              </div>
                          {% endif %}
                      </div>

                      <aside class="sidebar">
                          <ul class="actions-a">
                              {% if current_user != blank and current_user.has_seller_profile? %}
                                  <li><a href="#project-invite-{{ user.id }}" class="button-a" data-project-invite-trigger>Invite to project</a></li>
                              {% endif %}

                              <li>{% include 'shared/components/wish_list_button_injection.html', object: user %}</li>
                              {% if user.has_active_blog? %}
                                  <li><a href="{{ user.user_blog_posts_list_path }}" class="button-b action-blog">View Blog</a></li>
                              {% endif %}
                              {% if user.buyer_properties['linkedin_url'] != blank %}
                                  <li><a href="{{ user.buyer_properties['linkedin_url'] }}" class="button-b action-linkedin" target="_blank">LinkedIn Bio</a></li>
                              {% endif %}
                          </ul>
                      </aside>

                      {% if user.tags.size > 0 %}
                      <div class="tags-a tags-short-list">
                          <h4>Tags</h4>
                          <ul>
                              {% for tag in user.tags %}
                                  <li><a href="?query_fields=tags&amp;query={{ tag.name }}">{{ tag.name }}</a></li>
                              {% endfor %}
                          </ul>
                      </div>
                      {% endif %}

                      <div class="project-invite" id="project-invite-{{ user.id }}" data-collaborations-url="{{ 'collaborations_for_current_user_dashboard_company_user_path' | generate_url: user.id }}"></div>
                  </article>

                  <script>
                    $(function(){
                      $(document).trigger('userLoaded.uot', 'user-{{user.id}}')
                    });
                  </script>
              {% endfor %}
            </div>

            {% if searcher.next_page %}
                <p class="search-results-more-trigger">
                    <button type="button" class="button-a" data-page='{{ searcher.next_page }}'>More Results</button>
                </p>
            {% endif %}
        </section>
    </div>
</main>

{% content_for 'domready' %}
    $(document).trigger('init:searchresults.nearme');
{% endcontent_for %}
