= content_tag(:div, :id => dom_id(asset), :class => "gal-item", :"data-url" => image_path(asset.url)) do
  = link_to image_tag('filebrowser/gal_del.png',
    :title => I18n.t('ckeditor.buttons.delete')),
    instance_admin_theme_file_upload_path(asset),
    :method => :delete,
    :remote => true,
    :data => {:confirm => t('ckeditor.confirm_delete')},
    :class => "fileupload-cancel gal-del"

  .fileupload-file.gal-inner-holder
    .img
      = link_to image_tag(asset.url_thumb, :title => asset.filename), asset.url, target: '_blank'
    .img-data
      .img-name
        = link_to asset.filename, asset.url, target: '_blank'
      .img-name
        Access: #{asset.access_level.presence || 'public <i class="fa fa-globe"></i>'.html_safe}
      .time-size
        .time
          = asset.format_created_at
        .fileupload-size.size
          = number_to_human_size(asset.size) if asset.size
