.locations.row{data: {:location_id => location.id}, class: (defined?(location_counter) && location_counter > 3) ? 'hidden-location collapse' : '' }
  .location-select.col-md-7.col-xs-7
    - if defined?(form)
      = form.radio_button :location_id, location.id
      = form.hidden_field :currency, value: location.currency
    -else
      = radio_button_tag "transactable[location_id]", location.id
      = hidden_field_tag :currency, value: location.currency
    %label{:for => ""}= location.name
  .col-md-5.col-xs-5
    %span.location-options
      =link_to "Edit", edit_dashboard_location_path(location), remote: true
      %span.blue |
      =link_to "Remove", dashboard_location_path(location), remote: true, method: :delete, confirm: "Are you sure?"
