<p>The booking that you made on {{ reservation.created_at }} for '{{ listing.name }}' at <a href="{{ listing.location.url }}">{{ listing.location.name }}</a> was declined by the host.</p>

<p>I'm sure it's not personal - they were probably just busy that day.</p>

<p>Don't worry - <a href="{{ listing.search_url }}">find other locations near you</a>!</p>
