.modal-header
  .modal-title
    Shipping Profile
.modal-body
  = simple_form_for @shipping_category_form, wrapper: :bs3, :url => form_url, :html => { id: "shipping_category_form", class: 'profiles_shipping_category_form', multipart: true, method: form_method, data: { modal: true, 'modal-class' => 'shipping_profiles_modal' } } do |f|

    .row
      = f.input :name
      = f.simple_fields_for :shipping_methods do |shipping_method|
        %fieldset
          = render 'dashboard/shipping_categories/shipping_method_form', f: shipping_method

      %a.shipping-profile-top.add_shipping_profile.add_shipping_rule.pull-right{ :href => '#', :data => { :shipping_category_id => @shipping_category_form.shipping_category.id } }
        =image_tag("themes/buy_sell/icon-cross.png")
        %span
          = t('manage.buy_sell.shipping_profiles.add_new_shipping_rule')

    = f.submit 'Save', class: 'btn blue pull-left'

  .div{:style => 'clear: both;'}

:javascript
  var profile_add_success = null;
  #{defined?(is_success) ? "profile_add_success = 1;" : ''}
  new ShippingProfiles(jQuery('.profiles_shipping_category_form'));

