- if product.administrator
  .vendor-pic.inline
    = link_to user_path(product.administrator) do
      = image_tag product.administrator.avatar.url(:big)
  .vendor-info.inline
    %h2= link_to product.administrator.name, user_path(product.administrator)
    %p= product.administrator_location
  = link_to '#', data: { modal: true, href: new_product_user_message_path(product) } do
    .btn.blue= t 'buy_sell_market.products.buttons.contact_host'
  .divider

  - unless hidden.include?(:user_reviews)
    %h3 #{t('buy_sell_market.products.labels.reviews_of')} #{product.administrator.first_name}
    .rating.vendor-rating
      = render partial: 'stars', locals: { stars: 5, count: 26 }

  %h4= t 'buy_sell_market.products.labels.verifications'
  .verifications
    .row-fluid
      .span12
        - if product.administrator.email.present?
          %p
            = image_tag 'themes/buy_sell/check.png', class: 'check'
            = t 'buy_sell_market.products.labels.email_address'

        - if product.administrator.phone.present?
          %p
            = image_tag 'themes/buy_sell/check.png', class: 'check'
            = t 'buy_sell_market.products.labels.phone_number'

        - if product.administrator.decorate.social_connections_for('facebook')
          %p
            = image_tag 'themes/buy_sell/check.png', class: 'check'
            Facebook

        - if product.administrator.decorate.social_connections_for('linkedin')
          %p
            = image_tag 'themes/buy_sell/check.png', class: 'check'
            LinkedIn

        - if product.administrator.decorate.social_connections_for('twitter')
          %p
            = image_tag 'themes/buy_sell/check.png', class: 'check'
            Twitter

        - unless hidden.include?(:user_reviews)
          %p
            = image_tag 'themes/buy_sell/check.png', class: 'check'
            = t 'buy_sell_market.products.labels.reviews'
