-# TODO: Obsolete
.product-photos{:'data-photo-aspect-w' => SpreePhotoUploader::SPACE_FULL_IMAGE_W, :'data-photo-aspect-h' => SpreePhotoUploader::SPACE_FULL_IMAGE_H}
  .carousel{id: gallery_id, class: fullscreen ? '' : 'slide'}
    - if product.images.count > 0
      .carousel-inner
        - product.images.each_with_index do |photo, index|
          .item{class: ("active" if index == 0), :'data-modalize' => true}
            - if fullscreen
              %img{alt: product.name, :'data-src' => photo.image.url}
            - else
              = image_tag photo.image.url(:golden), alt: product.name
            .info
              .caption
                = "#{photo.alt} ##{product.name}".strip

      - unless fullscreen
        %ol.carousel-indicators
          - product.images.each_with_index do |photo, index|
            %li{class: index.zero? ? "active" : '', :'data-target' => "##{gallery_id}", :'data-slide-to' => index}
              = image_tag photo.image.url(:thumb), alt: product.name
      = yield

    - else
      .carousel-inner
        .item{class: ("active")}
          = image_tag space_listing_placeholder_path(height: 554, width: 895), title: product.name, alt: product.name

    - if product.images.count > 1
      .carousel-nav
        = link_to "", "##{gallery_id}", class: "carousel-control left ico-chevron-left", 'data-slide' => 'prev'
        = link_to "", "##{gallery_id}", class: "carousel-control right ico-chevron-right", 'data-slide' => 'next'
