{{ platform_context.set_render_content_outside_container }}
{{ platform_context.set_blank_theme_name }}

{% assign title = platform_context.name | append: ' - ' | append: user.name %}
{% title title %}

{% for customization in user.buyer_profile.customizations %}
  {% if customization.custom_model_type.name == 'Recommendations' %}
  {% assign recommendations  = recommendations | add_to_array: customization %}
  {% elsif customization.custom_model_type.name == 'Links' %}
  {% assign links = links | add_to_array: customization %}
  {% endif %}
{% endfor%}

<main id="main">
  <div class="container-fluid">
    <div class="listing-a">
      <article class="listing-details">
        <div class="back-to-results">
          <a data-back-to-search-results-link href="/search/people">Back to lawyer search</a>
        </div>
        <div class="summary">
          <div class="listing-user-header">
            <div class="meta">
              <span class="publish-date">joined {{ user.created_at | timeago }}</span>
            </div>
            <img src="{{ user.avatar_url_big }}" alt="{{ user.name }}">

            <h1>{{ user.name }}</h1>
            <h2>{{ user.company_name }}</h2>

            <ul class="social-c">
              {% if user.has_active_blog? %}
                <li class="blog"><a href="{{ user.user_blog_posts_list_path }}">View Blog</a></li>
              {% endif %}

              {% if user.buyer_properties['linkedin_url'] != blank %}
                <li class="linkedin"><a href="{{ user.buyer_properties['linkedin_url'] }}" target="_blank">LinkedIn</a></li>
              {% endif %}

              {% if user.buyer_properties['googleplus_url'] != blank %}
                <li class="googleplus"><a href="{{ user.buyer_properties['googleplus_url'] }}" target="_blank">Google+</a></li>
              {% endif %}

              {% if user.buyer_properties['twitter_url'] != blank %}
                <li class="twitter"><a href="{{ user.buyer_properties['twitter_url'] }}" target="_blank">Twitter</a></li>
              {% endif %}

              <li class="message"><a data-href='{{ user.user_message_path }}' data-modal='true'>Send Message</a>

              {% capture ctc %}{{ user.click_to_call_button }}{% endcapture %}
              {% if ctc != blank %}
                <li class="call">{{ ctc }}</li>
              {% endif %}
            </ul>
          </div>

          <div class="properties">
            <dl>
              <dt>Client Prop 1:</dt>
              <dd>{{ user.properties.prop1 }}</dd>

              <dt>Client Prop 2:</dt>
              <dd>{{ user.properties.prop1 }}</dd>
            </dl>

            <dl>
              <dt>Second column prop:</dt>
              <dd>{{ user.properties.prop3 }}</dd>
            </dl>
          </div>
        </div>
        <div class="description">
          {{ user.buyer_properties['bio'] | nl2br  }}
        </div>
      </article>

      <aside class="sidebar">
        {% if current_user.has_seller_profile?  %}
          <div class="listing-actions">
            <ul>
              {% if current_user != blank and current_user.has_seller_profile? %}
                <li><a href="#case-invite-{{ user.id }}" class="button-a" data-case-invite-trigger>Invite to case</a></li>
              {% endif %}

              {% if current_user.has_seller_profile? %}
                <li>
                  {% include 'shared/components/wish_list_button_injection.html', object: user %}
                </li>
              {% endif %}
            </ul>
          </div>
          <hr>
        {% endif %}

        {% if user.tags.size > 0 %}
          <div class="tags-a">
            <h4>Tags</h4>
            <ul>
              {% for tag in user.tags %}
                <li><a href="/search?query_fields=tags&amp;query={{ tag.name }}">{{ tag.name }}</a></li>
              {% endfor %}
            </ul>
          </div>
          <hr>
        {% endif %}

        {% if user.has_active_credit_cards? %}
          <p class="payment-verified">
            <strong>Payment Method Verified</strong>
          </p>
        {% endif %}

        <p class="flag-inappropriate">
          <a data-href="{{ user.inappropriate_report_path }}" data-modal="true">Report this user</a>
        </p>

      </aside>
    </div>
  </div>

  <div class="case-invite" id="case-invite-{{ user.id }}" data-collaborations-url="{{ 'collaborations_for_current_user_dashboard_company_user_path' | generate_url: user.id }}"></div>
</main>
