.content-container
  .sub-header-nav
    %ul
      %li
        = link_to t('instance_admin.services'), instance_admin_analytics_overview_path
      %li
        = link_to t('instance_admin.products'), products_instance_admin_analytics_overview_path, class: 'active'

  %h4
    = t('instance_admin.revenue')
  .row
    .box
      - if @last_month_revenue.inject(0) { |sum, revenue| sum += revenue.total_amount.to_f; sum }.zero?
        %p.no_data
          = t('instance_admin.analytics.no_revenue_yet')
      - else
        .chart
          %canvas#revenue_chart{ "data-line-chart": true }

  %h4
    = t('instance_admin.sales')
  .row
    .box
      - if @last_month_sales.inject(0) { |sum, order| sum += order.orders_count.to_f; sum }.zero?
        %p.no_data
          = t('instance_admin.analytics.no_sales_yet')
      - else
        .chart
          %canvas#sales_chart{ "data-line-chart": true }

  %h4
    = t('instance_admin.products')
  .row
    .box
      - if @last_month_products.inject(0) { |sum, product| sum += product.products_count.to_f; sum }.zero?
        %p.no_data
          = t('instance_admin.analytics.no_products_yet')
      - else
        .chart
          %canvas#products_chart{ "data-line-chart": true }

- content_for :domready do
  $(document).trigger('linechart.dnm', ['#revenue_chart', #{@revenue_chart.values.to_json.html_safe}, #{@revenue_chart.labels.to_json.html_safe}]);

  $(document).trigger('linechart.dnm', ['#sales_chart', #{@sales_chart.values.to_json.html_safe}, #{@sales_chart.labels.to_json.html_safe}]);

  $(document).trigger('linechart.dnm', ['#products_chart', #{@products_chart.values.to_json.html_safe}, #{@products_chart.labels.to_json.html_safe}]);
