.box
  = simple_form_for [:admin, @product, Spree::StockMovement.new], url: manage_buy_sell_product_stock_items_path, html: {class: "form-horizontal form-expandable"} do |f|
    .control-group
      = f.label :quantity
      .controls
        = f.number_field :quantity, value: 1
    .control-group
      = label_tag :stock_location_id, nil, class: "control-label"
      .controls
        = select_tag 'stock_location_id', options_from_collection_for_select(@stock_locations, :id, :name)
    .control-group
      = label_tag 'variant_id', nil, class: "control-label"
      .controls
        = select_tag 'variant_id', options_from_collection_for_select(@variants, :id, :name)
    .actions
      =f.submit "Add"