%tr{class: resource.css_row_class }
  %td
    - if resource.company.present?
      = resource.company.name
    - else
      = "#{resource.company_including_deleted.name} (#{t('instance_admin.deleted')})"
  %td= resource.payments.count
  %td= l(resource.created_at, format: :long)
  %td
    - if resource.transferred_at.present?
      = l(resource.transferred_at, format: :long)
    - else
      - if resource.pending? || resource.failed?
      - elsif resource.payout_processor.present? && !resource.payout_processor.supports_immediate_payout?
        = t('instance_admin.manage.transfers.retry_possible')
      - else
        = t('instance_admin.not_available_na')
  %td
    = resource.transfer_status
  %td= resource.total_service_fee.format with_currency: true
  %td= resource.service_fee_amount_guest.format with_currency: true
  %td= resource.service_fee_amount_host.format with_currency: true
  %td= resource.amount.format with_currency: true
  %td= link_to t('instance_admin.details'), instance_admin_manage_transfer_path(resource)
