%tr{class: resource.css_row_class }
  %td
    - if resource.company.present?
      = resource.company.name
    - else
      = "#{resource.company_including_deleted.name} (Deleted)"
  %td= resource.payments.count
  %td= l(resource.created_at, format: :long)
  %td
    - if resource.transferred_at.present?
      = l(resource.transferred_at, format: :long)
    - else
      - if resource.pending? || resource.failed?
      - elsif resource.payout_processor.present?
        Retry possible
      - else
        N/A
  %td
    = resource.transfer_status
  %td= resource.service_fee_amount_guest.format with_currency: true
  %td= resource.service_fee_amount_host.format with_currency: true
  %td= resource.amount.format with_currency: true
  %td= link_to "Details", instance_admin_manage_transfer_path(resource)
