.content-container
  %h4
    = t("instance_admin.manage.transfers.resource.plural.#{resource_class.name.underscore}")

  .row
    .text-container
      = t('instance_admin.manage.transfers.transfers_are_generated_automatically')
      %strong
        = next_payment_transfers_date
  
  = render 'list_table'


.row
  .text-container
    .pull-right
      = will_paginate @payment_transfers

