.content-container
  %h4
    = t("instance_admin.manage.transfers.resource.plural.#{resource_class.name.underscore}")

  .row
    .text-container
      = t('instance_admin.manage.transfers.transfers_are_generated_automatically')
      %strong
        = next_payment_transfers_date
    .input-container.col-xs-12

      = link_to t('instance_admin.generate_transfers'), generate_instance_admin_manage_transfers_path, class: 'btn btn-blue pull-right', method: :post, data: { confirm: "Are you sure you want to generate  transfers manually?" }

  = render 'list_table'


.row
  .text-container
    .pull-right
      = will_paginate @payment_transfers

