%legend Payment Transfer - #{resource.company_including_deleted.name}

- if resource.transferred?
  %p
    This payout has been marked as transferred to the Company.

- else
  = link_to "Mark Transferred", transferred_instance_admin_manage_transfer_path(resource),
      :method => :post,
      :class => 'btn btn-default'

  - if resource.payout_processor.present?
    = link_to "Payout via #{resource.payout_processor}", payout_instance_admin_manage_transfer_path(resource),
      :method => :post,
      :class => 'btn btn-default',
      :confirm => 'Payment will go live. Do you want to continue?'
  - else 
    %button.btn.btn_default{disabled: true}
      Payout

%hr

.payout-attemps
  %legend Payout attemps

  - resource.payout_attempts.each do |payout_attempt|
    .payout_attempt
      = "#{Money.new(payout_attempt.amount, payout_attempt.currency).format with_currency: true} at #{payout_attempt.created_at.in_time_zone(current_user.time_zone).strftime('%Y-%m-%d %H:%M (%Z)')} - "
      = 'succeeded' if payout_attempt.success
      = payout_attempt.failure_message if payout_attempt.failed?
      = "pending " if payout_attempt.pending?
      = (link_to('Confirm', payout_attempt.confirmation_url)).html_safe if payout_attempt.confirmation_url && !resource.transferred?


%hr

.payment-advice
  %legend Payment Advice

  %div
    %strong Amount due:
    = resource.amount.format with_currency: true

  %div
    %strong Paypal Email:
    = resource.company_including_deleted.paypal_email

  %div
    %strong Bank account:
    = "xxxxxx#{resource.company_including_deleted.instance_clients.first.bank_account_last_four_digits}" if resource.company_including_deleted.instance_clients.first.try(:bank_account_last_four_digits ).present?

  %div
    %strong Mailing Address:
    %p
      = resource.company_including_deleted.mailing_address

%hr

= render 'attributes_table'
