- hide_comment_options = local_assigns[:hide_comment_options].presence || false
- target = local_assigns[:target].presence || "_self"
- own_comment = commented_own_thread?(comment)

.comment-a{ class: ('commented-own-thread' if own_comment), data: { comment_id: comment.id, creator_id: comment.creator_id, commentable_creator_id: comment.commentable.try(:creator_id), actionable_entry: '' } }
  - unless own_comment
    %figure
      = image_tag comment.creator.avatar.url(:thumb)

  %p.author
    = link_to comment.creator.decorate.secret_name, profile_path(comment.creator.slug), target: target

  = render 'comments/comment_actions', comment: comment

  = render 'comments/comment_content', comment: comment

  %footer
    %time{datetime: comment.created_at.strftime('%Y-%m-%d %H:%M')}= I18n.l(comment.created_at, format: :long)
    - if comment.can_be_commented?
      - if user_signed_in?
        = link_to t('general.respond'), '#', data: { comment: '' }
      - else
        = link_to t('general.respond'), new_user_session_path(return_to: request.path)
    - if comment.can_be_commented?
      = render 'comments/activity_feed_comments', comment: comment.comments.build
