%article.status-a{ data: { comment_id: comment.id, creator_id: comment.creator_id, user_entry: '' } }
  %header
    %figure
      = image_tag comment.creator.avatar.url(:thumb)
    %p.desc
      = link_to comment.creator.decorate.secret_name, profile_path(comment.creator.slug)

    = render 'comments/comment_actions', comment: comment

  %section
    = render 'comments/comment_content', comment: comment

  %footer
    %p.actions
      %time{datetime: comment.created_at.strftime('%Y-%m-%d %H:%M')}= I18n.l(comment.created_at, format: :long)
