%h4= "Page '#{resource.reify.try(:path)}' version ##{resource.id}"

.content-container.show-version
  .row
    .input-container.col-xs-12
      .field-name Path
      = resource.reify.path
  .row
    .input-container.col-xs-12
      .field-name Content
      %textarea.form-control{rows: 20}= resource.reify.content
  .row
    .input-container.col-xs-12
      .field-name CSS Content
      %textarea.form-control{rows: 20}= resource.reify.css_content

.content-container
  .row
    = link_to 'Rollback', {action: 'rollback', parent_resource: @parent_resource}, class: 'btn btn-green pull-right', data: { confirm: 'Are you sure you want to rollback page to this version?'}
    = link_to 'All Versions', instance_admin_theme_page_paper_trail_versions_path(@parent.id, parent_resource: @parent_resource), class: 'btn btn-green pull-right'

