%tr
  %td= version.id
  %td= User.exists?(version.whodunnit.to_i) ? User.find(version.whodunnit.to_i).try(:name) : version.whodunnit
  %td= l(version.created_at, format: :long)
  %td
    .pull-right
      -if version.reify
        = link_to polymorphic_url([:instance_admin, :theme, parent, version], parent_resource: @parent_resource), title: "Show version" do
          .fa.fa-eye.fa-2x.inline-form-icon
        = link_to polymorphic_url([:instance_admin, :theme, parent, version], action: :rollback, parent_resource: @parent_resource), title: "Rollback to this version", data: { confirm: 'Are you sure you want to rollback page to this version?'} do
          .fa.fa-undo.fa-2x.inline-form-icon
