%h4 Theme
- if theme
  %table.table
    %tbody
      %tr
        %th Name
        %td= theme.name
      %tr
        %th Site Name
        %td= theme.site_name
      %tr
        %th Meta Title
        %td= theme.meta_title
      %tr
        %th Description
        %td= theme.description
      %tr
        %th Tagline
        %td= theme.tagline
      %tr
        %th Support email
        %td= theme.support_email
      %tr
        %th Contact email
        %td= theme.contact_email
      %tr
        %th Phone number
        %td= theme.phone_number
      %tr
        %th Support url
        %td= theme.support_url
      %tr
        %th Blog url
        %td= theme.blog_url
      %tr
        %th G+ url
        %td= theme.gplus_url
      %tr
        %th Twitter url
        %td= theme.twitter_url
      %tr
        %th Facebook url
        %td= theme.facebook_url
