%fieldset
  %legend Title &amp; Description
  = f.input :name
  = f.input :site_name
  = f.input :tagline
  = f.input :meta_title
  = f.input :description, :label => 'Meta description'
  %p
    = f.button :submit, 'Save', class: 'btn btn-success'
  %br/

  %legend Brand

  - %w(logo_image logo_retina_image favicon_image icon_image icon_retina_image hero_image).each do |image_attr|
    .control-group
      = f.label image_attr
      .controls
        = f.file_field image_attr
        - if f.object.send("remote_#{image_attr}_url")
          <br />Or copy from instance's theme:<br />
          = f.text_field "remote_#{image_attr}_url"
        = f.hidden_field "#{image_attr}_cache"


  %p
    = f.button :submit, 'Save', class: 'btn btn-success'
  %br/

  %legend Contact &amp; Support
  = f.input :phone_number
  .control-group.tel.optional{class: f.object.errors[:contact_email].empty? ? '' : 'error'}
    %label.tel.optional.control-label{for: "theme_phone_number"}
      %abbr{:title => "required"} *
      Contact email
    .controls
      = f.input_field :contact_email, pattern: '.*'
      = f.error :contact_email
  = f.input :support_email
  = f.input :support_url
  = f.input :address
  %p
    = f.button :submit, 'Save', class: 'btn btn-success'
  %br/

  %legend Social Properties
  = f.input :blog_url
  = f.input :facebook_url
  = f.input :twitter_url
  = f.input :gplus_url
  %p
    = f.button :submit, 'Save', class: 'btn btn-success'
  %br/

  %legend Colors
  - Theme::COLORS.each do |color|
    = f.input "color_#{color}", :wrapper => :prepend do
      %span.add-on #
      = f.input_field "color_#{color}"
  %p
    = f.button :submit, 'Save', class: 'btn btn-success'
  %br/

  = render "themes/font_fields", f: f

  %p
    = f.button :submit, 'Save', class: 'btn btn-success'
  %br/

