%tr
  %td= tax_rate.zone.try(:name)
  %td= link_to tax_rate.name, edit_instance_admin_buy_sell_tax_rate_path(tax_rate)
  %td= tax_rate.tax_category.try(:name)
  %td= tax_rate.amount
  %td= tax_rate.included_in_price? ? 'Yes' : 'No'
  %td
    .pull-right
      = link_to instance_admin_buy_sell_tax_rate_path(tax_rate), method: :delete,
          data: { confirm: 'Are you sure you want to delete this?' }, title: 'Delete' do
        .fa.fa-trash-o.fa-2x.inline-form-icon

    = link_to edit_instance_admin_buy_sell_tax_rate_path(tax_rate), title: 'Edit' do
      .fa.fa-pencil.fa-2x.inline-form-icon.pull-right
