.content-container
  %h4= t('instance_admin.buy_sell.tax_rates.tax_rates')
  .row
    .table-container.col-xs-12
      %table.table.sortable
        %thead
          %tr
            %th= t('instance_admin.buy_sell.tax_rates.zone')
            %th= t('instance_admin.buy_sell.tax_rates.name')
            %th= t('instance_admin.buy_sell.tax_rates.category')
            %th= t('instance_admin.buy_sell.tax_rates.amount')
            %th= t('instance_admin.buy_sell.tax_rates.included_in_price')
            %th
        %tbody
          - @tax_rates.each do |tax_rate|
            = render 'index_row', tax_rate: tax_rate

= content_for :header_buttons do
  = link_to t('instance_admin.buy_sell.tax_rates.new_tax_rate'), new_instance_admin_buy_sell_tax_rate_path, class: 'pull-right btn btn-blue'

