.modal-header
  .modal-title
    - if @location.new_record?
      = t('locations.add_new_location')
    - else
      = t('locations.edit_location')
.modal-body
  = simple_form_for [:dashboard, :company, @location], html: {id: 'location-form'}, wrapper: :bs3_simple, data: { modal: true }  do |f|
    .errors
    = render :partial => 'location_form', :locals => { :f => f, :location => @location }

    .btn-toolbar
      = f.submit t('locations.save_location'), id: 'submit-link', class: "btn blue pull-right"

:javascript
  $(document).trigger('init.selectpicker');
  $(document).trigger('init.bootstrapswitch');
  $(document).trigger('init.locationform');
