= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/graphiql/0.9.3/graphiql.min.css'

= simple_form_for [:admin, :advanced, @graph_query] do |f|
  .content-container
    %h4
      = link_to 'Manage graph query', admin_advanced_graph_queries_url
      =  "> #{pretty_path(@graph_query.name)}" if @graph_query.name

    .row
      .input-container.col
        = f.input :name, input_html: { class: 'form-control' }, placeholder: 'new_query'

    .row
      .input-container.col
        = f.input :query_string, as: :hidden, input_html: { class: 'query_string' }
        #graphql_editor{ :style => "height: 700px" }

  .listing-actions
    = f.button :submit, t('instance_admin.save'), class: 'action--create', data: { 'submit-form' => 1, 'form-selector' => 'form' }
    = link_to t('instance_admin.cancel'), admin_advanced_graph_queries_url , class: 'action--cancel'
