%article.order{id: dom_id(reservation)}
  %header
    .row
      .col-sm-7
        - if reservation.listing.present? && !reservation.listing.deleted?
          %h2
            - listing_name = reservation.listing.try(:name)
            - listing_name = t('dashboard.host_reservations.show_listing_page') if listing_name.blank?
            = link_to listing_name, location_path(reservation.listing.location, reservation.listing)

        - else
          %h2= "#{reservation.listing.try(:name)} [#{t('dashboard.user_reservations.listing_deleted')}]"

      .col-sm-5
        .order-status
          %span{class: reservation.state }
            = reservation.state.humanize.capitalize


  - if reservation.state == 'unconfirmed'
    .alert.alert-warning
      #{t('dashboard.user_reservations.pending_confirmation')} <strong>#{reservation.time_to_expiry(reservation.expire_at)}</strong>.

    - if reservation.payment.active_merchant_payment?
      - if reservation.payment.billing_authorizations.present?
        .alert.alert-warning= I18n.t('dashboard.user_reservations.money_info')


  .row
    .col-sm-3
      - if reservation.listing.present?
        %h3= t('dashboard.user_reservations.address')

        %p
          = reservation.listing.location.address.gsub(', ', '<br>').html_safe
          %br/
          [
          = link_to t('dashboard.user_reservations.show_on_map'), "http://maps.apple.com/?q=#{reservation.listing.location.address}", target: '_blank'
          ]
      - else
        %h3= t('dashboard.user_reservations.listing_deleted')

    .col-sm-2
      %h3= t('dashboard.user_reservations.quantity')
      %p= reservation.quantity

    .col-sm-3
      - requested_dates = reservation.long_dates.split(' ; ')
      %h3= t('dashboard.user_reservations.requested_dates', count: requested_dates.count)
      %ul.dates
        - requested_dates.each do |s|
          %li= s

    .col-sm-3
      %h3= t('dashboard.user_reservations.requested_time')
      %p.times
        - if reservation.periods.first.read_attribute(:start_minute).present?
          - reservation_period = reservation.periods.first.decorate
          = reservation_period.hourly_summary(false).html_safe
        - else
          = t('dashboard.user_reservations.not_available_na')

    .col-sm-1
      %h3= t('dashboard.user_reservations.total')
      %p
        %b= reservation.total_price


  .row
    - if reservation.guest_notes.present?
      .col-sm-3
        %h3= t('dashboard.user_reservations.exclusive_price_guests_notes')
        %blockquote= reservation.guest_notes

    - if reservation.payment_documents.present?
      .col-sm-3
        %h3=  t('dashboard.user_reservations.payment_documents')
        %ul.payment-documents
        - reservation.payment_documents.each do |pd|
          %li
            %a{:href => pd.file.url, download: true}= pd.file.file_name
    - if reservation.additional_charges.present?
      .col-sm-3.right
        %h3=  t('dashboard.user_reservations.additional_charges')
        %ul.payment-documents
        - reservation.additional_charges.each do |ac|
          %li
            =ac.name + ' - ' + humanized_money_with_cents_and_symbol(ac.amount)

  .row
    .col-sm-9.col-sm-push-3
      .order-actions
        - if reservation.confirmed?
          = link_to t('dashboard.user_reservations.add_to_ical'), export_dashboard_user_reservation_path(reservation, format: :ics), class: 'btn btn-default'

          - if reservation.shipments.inbound.first
            = link_to t('dashboard.user_reservations.return_label'), reservation.shipments.inbound.first.try(:label_url), class: 'btn btn-default'
          - if reservation.shipments.outbound.first
            = link_to t('dashboard.user_reservations.track_package'), reservation.shipments.outbound.first.try(:tracking_url_provider), class: 'btn btn-default'

        - unless reservation.archived?
          = form_for reservation, method: :post, url: user_cancel_dashboard_user_reservation_path(reservation) do |f|
            = f.submit I18n.t('general.cancel'), data: { confirm: t('dashboard.user_reservations.cancel_confirmation') }, class: 'btn btn-warning'

          - if reservation.remote_payment? && !reservation.paid? && !reservation.archived?
            = link_to t('dashboard.user_reservations.pay_now'), remote_payment_dashboard_user_reservation_path(reservation), class: 'btn btn-default'

    .col-sm-3.col-sm-pull-9
      %small= t('dashboard.user_reservations.reservation_placed_html', date: l(reservation.created_at.to_date, format: :long))
