<h1 class="tk-adelle">Managing photos for <%= link_to @workplace, @workplace %></h1>

<ul class="photos">
  <% @photos.each do |photo| %>
    <% unless photo.new_record? %>
      <li class="grid_2">
        <%= image_tag photo.medium.url, :alt => photo.description, :width => "100%" %>
        <p><%= photo.description %></p>
        <%= form_for([@workplace, photo], :html => {:method => :delete}) do |f| %>
          <%= f.submit "Delete", :class => "rm" %>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
<br clear="both" />

<%= render :partial => "new" %>