%h1= t '.subscribe'
= simple_form_for search_notification, html: { class: 'search-notification-form' } do |f|
  = f.input :email, :label => false, :placeholder => "Email" unless current_user
  = f.input :query, as: :hidden
  = f.input :latitude, as: :hidden
  = f.input :longitude, as: :hidden
  = f.submit 'Subscribe', class: 'btn-blue'

:javascript
  new Search.SearchNotificationController($('#search-notification'))
