- title "#{platform_context.lessee.capitalize.pluralize} (#{@guest_list.reservations.size + @guest_list.recurring_bookings.size})"

.dash-head.clearfix
  %ul
    %li{class: (params[:action] == 'index' && (params[:state].blank? || params[:state] == 'unconfirmed')) ? 'active' : ''}
      = link_to t('dashboard.host_reservations.unconfirmed'), dashboard_company_host_recurring_bookings_path(state: 'unconfirmed')
    %li{class: (params[:action] == 'index' && params[:state] == 'active') ? 'active' : ''}
      = link_to t('dashboard.host_reservations.active'), dashboard_company_host_recurring_bookings_path(state: 'confirmed')
    %li{class: (params[:action] == 'index' && params[:state] == 'overdue') ? 'active' : ''}
      = link_to t('dashboard.host_reservations.overdue'), dashboard_company_host_recurring_bookings_path(state: 'overdue')
    %li{class: (params[:action] == 'index' && params[:state] == 'archived') ? 'active' : ''}
      = link_to t('dashboard.host_reservations.archived'), dashboard_company_host_recurring_bookings_path(state: 'archived')


.dash-body
  #guests
    #reservations
      .row-fluid
        .span8.offset2
          - if @guest_list.reservations_scope.empty? && @guest_list.recurring_bookings_scope.empty?
            = render 'dashboard/company/host_reservations/promote_locations', locations: @company.locations
          - else
            - only_reservations ||= false
            - if @guest_list.recurring_bookings.empty?
              .text-center
                = no_reservations_info_for_state(@guest_list.state)
            - else
              - @guest_list.recurring_bookings.each do |recurring_booking|
                = render 'recurring_booking', recurring_booking: recurring_booking

- content_for :domready do
  $('a[data-toggle-periods]').on('click', function(e){ $(e.target).parent().parent().parent().find('div[data-toggleable-periods]').toggle(); return false });

