.row-fluid
  .span12.reservation-details
    .span12.reservation-text-information
      .reservation-status
        .icon-container
          = recurring_booking.manage_booking_status_info
      .span12.reservation-information
        %div{:class => recurring_booking.archived? ? 'span6' : 'span5'}
          - if recurring_booking.owner.present?
            = link_to recurring_booking.owner, profile_path(recurring_booking.owner.slug)
          - else
            = "#{recurring_booking.owner_including_deleted} (Deleted)"
          %br
          - if recurring_booking.listing.present?
            %span.address= link_to recurring_booking.listing.name, location_path(recurring_booking.listing.location, recurring_booking.listing)
          - else
            %span.address [listing deleted]

        .span2
          = recurring_booking.reservations.first.decorate.total_price
          %br
          %span= recurring_booking.state.capitalize.humanize
        %div{:class => recurring_booking.archived? ? 'span3' : 'span2'}
          %a.dates{href: '#', data: { :dates => recurring_booking.dates_to_array } }
            = recurring_booking.hourly_reservations? ? recurring_booking.hourly_summary(true) : recurring_booking.short_dates
          .clearfix
          %span
            = link_to 'See details', manage_recurring_booking_path(recurring_booking)
        .span1
          = recurring_booking.quantity
          %span.ico-user
        - unless recurring_booking.archived?
          .span2{:class => recurring_booking.manage_guests_action_column_class}
            .actions
              = render :partial => 'old_dashboard/recurring_booking_owner_actions', :locals => {:recurring_booking => recurring_booking}
