<p>
  Hi {{ user.first_name }},
</p>

<p>
  Welcome to Desks Near Me!
</p>

<p>
  I saw that you signed up but haven't added a {{ instance.bookable_noun }} for rent.
</p>

<p>
  Do you have an unused {{ instance.bookable_noun_plural }} you’d like to offer others to rent?
</p>

<p>
  Or, are you searching for a great {{ instance.bookable_noun }} to work from with flexible access and great networking opportunities?<br />
  <a href="{{ user.search_url }}">You can search and book here</a> to find a {{ instance.bookable_noun }} for the day, week or month.
</p>

<p>
  And it's FREE (seriously) to add your {{ instance.bookable_noun }} and start making money.
</p>

<p>
  Simply <a href="{{ user.manage_locations_url }}">log in here</a> to add all the details.
</p>

<p>
  If you have any questions, feedback, or just want to drop me a note, just hit reply to this email and I'll be sure to get back to you. 
</p>

<p>
You can also find answers to frequently asked questions on our <a href="http://support.desksnear.me">support page</a>; and if you can’t find an answer to your question there, you can contact Customer Support (who are real people) on 1.888.998.DESK.
</p>

<p>
  Cheers, 
</p>

<p>
  Michelle Regner<br />
  CEO<br />
  Desks Near Me
</p>
