%section#new-item
  .container-fluid
    %h2.section-heading List New Item

    = f.input :name, label: "Item Title", :placeholder => "Attractive title name here", hint: "Descriptive titles are best. Try to describe your item th eway a buyer would."
    = f.input :description, label: "Item description", as: :text, :placeholder => "This item is great and here is a story about it...", hint: "Try to answer the questions buyers will have about your product. Tell the item's story and explain why it's special."
    = f.input :taxon_ids, label: "Category", :placeholder => "Enter a category"
    .row-fluid
      .span3
        %label Photos
      .span9
        .row-fluid
          =f.simple_fields_for :images do |p|
            .span4
              - if p.object.new_record?
                - if p.object.remote_image_url.present?
                  = image_tag(p.object.remote_image_url)
                  = p.hidden_field :remote_image_url, value: p.object.remote_image_url
                  = p.check_box '_destroy'
                -else
                  = p.filepicker_field :remote_image_url, class: 'hidden', onchange: 'boarding_form.processImage(event, $(this).parent())'
                  = p.label :remote_image_url, class: "photo-box active", onclick: "$(this).prev().trigger('click')" do
                    .photo-select
                      =image_tag("themes/product_theme/icon-cross.png")
                      Add Photo
              - else
                .photo-box
                  = filepicker_image_tag(p.object.image.url(:medium))
                  = p.label '_destroy', "Delete", class: "delete_image"
                  = p.check_box '_destroy', class: "hidden"

    = f.input :price, :placeholder => "$0.00"
    = f.input :quantity, as: :integer, :placeholder => "1"

%section#shipping-info
  .container-fluid
    %h2.section-heading Shipping Info
    =f.fields_for :shipping_methods do |s|
      %fieldset
        .row-fluid.shipping_method_block
          .span3
            %label{:for => ""} Shipping Profile
          .span9.input-container
            .remove_shipping_profile
              -if s.object.new_record?
                = s.check_box :hidden, class: "hidden shipping_hidden"
                = s.label :hidden, "Remove shipping profile"
              -else
                = s.check_box :removed, class: "hidden remove_shipping red"
                = s.label :removed, "Remove shipping profile"
            .shipping-form
              .row-fluid
                = s.input :name, placeholder: "Enter a name for your profile", label: "New Profile Name"
              .row-fluid
                .span5
                  = s.input :processing_time, placeholder: "Ready to ship in..."
                .span1
                .span6
                  =s.fields_for :calculator do |fc|
                    =fc.input :preferred_amount, label: 'Cost', input_html: { class: 'form-control'}

              .row-fluid
                =s.fields_for :zones do |z|
                  =z.hidden_field :name
                  .row-fluid
                    Ships To
                  .row-fluid
                    .span5
                      = z.input :kind, as: :select, include_blank: false, label: false,  collection: [["State based", "state_based"], ["Country based", "country"]], input_html: {class: 'zone_kind_select'}
                    .span1
                    .span5
                      = z.text_field :country_ids, value: z.object.country_ids.join(","),  class: 'country_based_select select2 ', data: {api: 'countries'}
                      = z.text_field :state_ids, value: z.object.state_ids.join(","), class: 'state_based_select select2 ', data: {api: 'states'}
    %a.shipping-profile-top.add_shipping_profile
      =image_tag("themes/product_theme/icon-cross.png")
      %p Create New Shipping Profile

- content_for :domready do
  new TaxonAutocomplete($("#edit_product_form, #new_product_form, #edit_boarding_form, #new_boarding_form"));
  new Dashboard.AddressController($("#edit_product_form, #new_product_form, #edit_boarding_form, #new_boarding_form"));
  var boarding_form = new BoardingForm($("#edit_product_form, #new_product_form, #edit_boarding_form, #new_boarding_form"));
