.row.shipping_method_block
  .col-md-3
    .row
      %label{:for => ""} Shipping Profile
  .col-md-9.input-container
    .remove_shipping_profile
      -if f.object.new_record?
        = f.check_box :hidden, class: "hidden shipping_hidden"
        = f.label :hidden, "Remove shipping profile"
      -else
        = f.check_box :removed, class: "hidden remove_shipping red"
        = f.label :removed, "Remove shipping profile"
    .shipping-form
      .row.no-padding-top
        = f.input :name, wrapper: :bs3_simple,  placeholder: "Enter a name for your profile", label: "New Profile Name", wrapper_html: {class: 'col-md-12 '}
      .row
        .col-md-6
          = f.input :processing_time, wrapper: :bs3_simple, placeholder: "Ready to ship in...", label: 'Processing time (in days)'
        .col-md-1
        .col-md-6
          =f.fields_for :calculator do |fc|
            =fc.input :preferred_amount, label: 'Cost', input_html: { class: 'form-control'}

      =f.fields_for :zones do |z|
        =z.hidden_field :name
        .row
          .col-md-12
            Ships To
          .col-md-6
            = z.input :kind, as: :select, include_blank: false, label: false,  collection: [["State based", "state_based"], ["Country based", "country"]], input_html: {class: 'zone_kind_select selectpicker'}
          .col-md-1
          .col-md-6
            = z.text_field :country_ids, value: z.object.country_ids.join(","),  class: 'country_based_select select2 ', data: {api: 'countries'}
            = z.text_field :state_ids, value: z.object.state_ids.join(","), class: 'state_based_select select2 ', data: {api: 'states'}
