= javascript_include_tag 'vendor/modernizr'

= render "shared/javascripts/javascript_assets"

= render 'shared/javascripts/raygun/libs'

= render 'shared/javascripts/ckeditor_basepath'

- unless defined? no_jquery
  = javascript_include_tag 'vendor/jquery.min'


