= render "shared/javascripts/javascript_assets"

= render 'shared/javascripts/raygun/libs'
= render 'shared/javascripts/marketplace_logger'

= render 'shared/javascripts/ckeditor_basepath'

= javascript_include_tag 'vendor/jquery.min'

/[if lt IE 10]
  = javascript_include_tag 'vendor/placeholders.min'

= javascript_include_tag 'vendor/modernizr'
