%h4 Manage Waiver Agreement Template

= simple_form_for [:instance_admin, :manage, @waiver_agreement_template], :html => { :multipart => true } do |f|
  .content-container
    .row
      .input-container.col-xs-12
        = f.input :name, input_html: { class: 'form-control' }
    .row.dropshadow
      .input-container.col-xs-12
        = f.input :content, input_html: { class: 'form-control', rows: "30" }

  .content-contiainer
    = f.button :submit, 'Save', class: 'btn btn-green pull-right'
    - if @waiver_agreement_template.persisted?
      = link_to 'Delete', instance_admin_manage_waiver_agreement_template_path(@waiver_agreement_template), method: :delete, confirm: 'Are you sure?'
