%li.location
  .name
    - if location.persisted? 
      - if in_new_listing?
        New #{current_instance.bookable_noun}
        = "at #{location.street}" if location.street.present?
      - else
        = location.street 
    - else 
      New location
  - if in_new_or_edit?
    .links 
      = link_to location_path(location), :class => 'ico-eye btn btn-gray-darker' do
        %span.padding-left
          View Location
      = link_to edit_manage_location_path(location), :class => 'ico-edit btn btn-gray-darker' do
        %span.padding-left
          Edit Location
