%li.location
  .name
    - if location.persisted? 
      - if in_new_listing?
        New #{current_instance.bookable_noun}
        = "at #{location.street}" if location.street.present?
      - else
        = location.street 
        = link_to '', location_path(location), :class => 'ico-open-link'
    - else 
      New location
  - if in_new_or_edit?
    .links
      = link_to new_manage_location_listing_path(location), :class => 'ico-add-desk' do
        %span
          Add #{current_instance.bookable_noun}
      = link_to edit_manage_location_path(location), :class => 'ico-edit' do
        %span
          Edit Location
