%li.location
  .name
    - if location.persisted? 
      - if in_new_listing?
        New #{request_context.bookable_noun}
        = "at #{location.street}" if location.street.present?
      - else
        = location.street 
    - else 
      New location
  - if !in_new_listing? && !in_new_or_edit?
    .links 
      = link_to location_path(location), :class => 'btn btn-gray-darker' do
        %span.icon.ico-eye
        %span.text
          View Location
      = link_to edit_manage_location_path(location), :class => 'edit btn btn-gray-darker' do
        %span.icon.ico-edit
        %span.text
          Edit Location
