= render :layout => 'manage/layout/dashboard' do

  - if @locations.empty?
    %li.location.empty
      You haven't created any locations!
  - else
    - @locations.each do |location|
      %li
        .box
          %header
            %ul.location-and-listings
              = render :partial => 'location_name_with_links', :locals => { :location => location }
          %ul.location-and-listings
            - location.listings.each do |listing|
              = render :partial => 'manage/listings/listing_name_with_link', :locals => { :location => location, :listing => listing }
            %li.listing
              = link_to new_manage_location_listing_path(location), :class => 'text-right' do
                .links
                  %span.icon.ico-plus
                  %span.text
                    Add #{platform_context.bookable_noun}

