- readonly ||= false
%div{'data-order-items' => true }
  = render 'project_info', transactable: @order.transactable.to_liquid
  .form-group.has-error
    %span.help-block= f.full_error :line_items
  .transactable-line-items.nested-fields-set
    = f.simple_fields_for :transactable_line_items do |transactable_line_item_form|
      = render 'transactable_line_item', f: transactable_line_item_form, readonly: readonly, free_hint: true
    - if readonly == false
      .add-link
        = link_to_add_association t('dashboard.order_items.add_time_expenses') , f, :transactable_line_items, partial: 'transactable_line_item', id: "add_new_time_transactable_line_item", class: 'btn btn-primary', render_options: { locals: { free_hint: true } }

  .transactable-line-items.nested-fields-set
    = f.simple_fields_for :additional_line_items do |additional_line_item_form|
      = render 'additional_line_item', f: additional_line_item_form, readonly: readonly
    - if readonly == false
      .add-link
        = link_to_add_association t('dashboard.order_items.add_item_expenses') , f, :additional_line_items, partial: 'transactable_line_item', id: "add_new_expense_transactable_line_item", class: 'btn btn-primary'

  .total
    - if @order_item.errors[:total_cost].present?
      .has-error
        %span.total-cost-label= t('dashboard.host_reservations.complete_reservation.total_cost')
        %span.amount{ data: { currency: @order_item.unit_price.symbol } }
          = @order_item.total_cost
        %small.help-block= @order_item.errors[:total_cost].join(', ')
    - else
      %span.total-cost-label= t('dashboard.host_reservations.complete_reservation.total_cost')
      %span.amount{ data: { currency: @order_item.unit_price.symbol } }
        = render_money(@order_item.unit_price)

  = f.input :comment, as: :text, label: t('dashboard.host_reservations.complete_reservation.comment'), input_html: { readonly: readonly }


