- free_hint ||= false
.row
  .col-md-4
    = f.input :name, required: true, input_html: { readonly: readonly }
  .col-md-8
    = f.input :description, input_html: { readonly: readonly }
.row
  .col-sm-4
    = f.input :quantity, required: true, input_html: { 'data-quantity-input': true, readonly: readonly, min: 0 }
  .col-sm-4
    - if @order.transactable.action_free_booking? && free_hint
      - readonly = true
    = f.input :unit_price, required: true, input_html: { 'data-price-input': true, readonly: readonly, min: 0, type: 'number' }
    - if @order.transactable.action_free_booking? && free_hint
      =f.hint t('dashboard.order_items.free_unit_price')
  .col-sm-4.text-right
    %label.control-label= t('dashboard.order_items.total')
    .sub-total{ data: { subtotal: true, currency: @order_item.unit_price.symbol, amount: f.object.total_price } }
      = render_money(f.object.total_price)
