<h2>To: <span>{{ transactable.name }}</span></h2>
<dl class="transactable-properties">
  {% if transactable.properties.project_contact != blank %}
    <dt>Contact</dt>
    <dd>{{ transactable.properties.project_contact }}</dd>
  {% endif %}

  {% if transactable.properties.company_name != blank %}
    <dt>Company</dt>
    <dd>{{ transactable.properties.company_name }}</dd>
  {% endif %}

  {% if transactable.properties.workplace_type != blank %}
    <dt>Workplace</dt>
    <dd>{{ transactable.properties.workplace_type }}</dd>
  {% endif %}

  {% if transactable.properties.workplace_type == 'On Site' and transactable.properties.office_location != blank %}
    <dt>Office</dt>
    <dd>{{ transactable.properties.office_location }}</dd>
  {% endif %}

  <dt>Approx. Budget</dt>
  <dd>{{ transactable.properties.budget | pricify }}</dd>

  <dt>Deadline</dt>
  <dd>{{ transactable.properties.deadline | to_date | l: 'short' }}</dd>

  {% if transactable.properties.estimation != blank %}
    <dt>Approx. Time to Complete</dt>
    <dd>{{ transactable.properties.estimation }}</dd>
  {% endif %}
</dl>
