.row.nested-fields
  .col-xs-12.col-md-3
    = f.input :name, required: true
  .col-xs-12.col-md-4
    = f.input :description
  .col-xs-3.col-md-2
    = f.input :quantity, required: true, input_html: { 'data-quantity-input': true}
  .col-xs-3.col-md-1
    = f.input :unit_price, required: true, input_html: { 'data-price-input': true}
  .col-xs-6.col-md-2
    .row
      .col-xs-8
        %label.control-label= t('dashboard.order_items.total')
        .sub-total{ data: { subtotal: true, currency: @order_item.unit_price.symbol, amount: f.object.total_price } }
          = humanized_money_with_cents_and_symbol(f.object.total_price)
      .col-xs-4
        = link_to_remove_association f, class: 'remove_fields' do
          %button.action--remove
