- title t('dashboard.orders.track_time_and_expenses')

.panel
  .panel-body
    %h3=  t('dashboard.orders.track_time_and_expenses')
    = link_to t('dashboard.order_items.back_to_projects'), dashboard_company_transactable_type_transactables_path(@order.transactable.transactable_type, status: 'in progress')
    .orders-a
      = dashboard_simple_form_for @order_item, url: dashboard_order_order_item_path(@order, @order_item) do |f|
        = render 'form', f: f
        .panel.form-actions
          .panel-body
            = f.submit t('dashboard.host_reservations.complete_reservation.submit'), class: 'btn-lg btn-primary'
