.content-container
  - if @webhook_configurations.blank?
    %h4 Please add your first webhook configuration.
    .row
  - else
    %h4= t 'instance_admin.webhook_conifgurations.labels.title'
    .row
      .table-container.col-xs-12
        %table.table
          %thead
            %tr
              %th= t 'instance_admin.webhook_conifgurations.labels.url'
              %th

          %tbody
            - @webhook_configurations.each do |webhook_configuration|
              %tr
                %td
                  = 'https://' + request.host_with_port + webhook_configuration.path
                %td
                  = link_to instance_admin_settings_payment_gateway_webhook_configuration_path(webhook_configuration.payment_gateway, webhook_configuration), method: :delete, data: { confirm: t('instance_admin.settings.webhook_conifgurations.confirmations.delete') } do
                    .fa.fa-trash-o.fa-2x.inline-form-icon.pull-right

                  = link_to edit_instance_admin_settings_payment_gateway_webhook_configuration_path(webhook_configuration.payment_gateway, webhook_configuration) do
                    .fa.fa-edit.fa-2x.inline-form-icon.pull-right

= content_for :header_buttons do
  = link_to t('instance_admin.settings.webhook_conifgurations.buttons.new'), new_instance_admin_settings_payment_gateway_webhook_configuration_path(@payment_gateway), class: 'btn btn-blue pull-right'
