= simple_form_for [:admin, resource], :html => { :multipart => true, :class => "form-horizontal" } do |f|
  = f.input :name
  = f.input :bookable_noun

  %h4 Domains
  - resource.domains.build unless resource.domains.any?
  = f.fields_for :domains do |f_d|
    = render :partial => 'admin/domains/form', :locals => { :f => f_d }

  %h4 Custom Theme
  = f.fields_for :theme, (resource.theme.presence || resource.build_theme) do |ff|
    = render :partial => 'admin/themes/form', :locals => { :f => ff }

  .form-actions
    = f.button :submit
