= simple_form_for [:admin, resource], :html => { :multipart => true, :class => "form-horizontal" } do |f|
  = f.input :name
  = f.input :site_name
  = f.input :description
  = f.input :tagline
  = f.input :support_email
  = f.input :contact_email
  = f.input :phone_number
  = f.input :support_url
  = f.input :blog_url
  = f.input :twitter_url
  = f.input :facebook_url
  %h4 Domains
  = f.fields_for :domains do |f_d|
    = f_d.input :name

  .form-actions
    = f.button :submit
