= simple_form_for [:admin, resource], :html => { :multipart => true, :class => "form-horizontal" } do |f|
  = f.input :name
  = f.input :site_name
  = f.input :meta_title
  = f.input :description
  = f.input :tagline
  = f.input :support_email
  = f.input :contact_email
  = f.input :phone_number
  = f.input :support_url
  = f.input :blog_url
  = f.input :twitter_url
  = f.input :facebook_url

  %h4 Domains
  - resource.domains.build
  = f.fields_for :domains do |f_d|
    = f_d.input :name

  %h4 Custom Theme
  = f.fields_for :theme, (resource.theme || InstanceTheme.new) do |ff|
    = ff.input :name
    = ff.input :logo_image
    = ff.input :logo_retina_image
    = ff.input :icon_image
    = ff.input :icon_retina_image
    = ff.input :hero_image

    - InstanceTheme::COLORS.each do |color|
      = ff.input "color_#{color}"

  .form-actions
    = f.button :submit
