= simple_form_for [:admin, resource], :html => { :multipart => true } do |f|
  = f.input :name
  = f.input :bookable_noun
  = f.input :lessor
  = f.input :lessee
  = f.input :user_info_in_onboarding_flow
  = f.input :default_search_view
  = f.input :user_based_marketplace_views

  %h4 Domains
  - resource.domains.build unless resource.domains.any?
  = f.fields_for :domains do |f_d|
    = render :partial => 'admin/domains/form', :locals => { :f => f_d }

  %p
    = f.button :submit, 'Save'
  %br

  %h4 Custom Theme
  = f.fields_for :theme, (resource.theme.presence || resource.build_theme) do |ff|
    = render :partial => 'admin/themes/form', :locals => { :f => ff }

  - if defined?(@user)
    %h4 Instance Admin
    = simple_fields_for @user do |f_user|
      = f_user.input :name
      = f_user.input :email, required: true

  .form-actions
    = f.button :submit
