%h4 Theme
- if resource.theme
  %table.table
    %tbody
      %tr
        %th Name
        %td= resource.theme.name
      %tr
        %th Site Name
        %td= resource.theme.site_name
      %tr
        %th Meta Title
        %td= resource.theme.meta_title
      %tr
        %th Description
        %td= resource.theme.description
      %tr
        %th Tagline
        %td= resource.theme.tagline
      %tr
        %th Support email
        %td= resource.theme.support_email
      %tr
        %th Contact email
        %td= resource.theme.contact_email
      %tr
        %th Phone number
        %td= resource.theme.phone_number
      %tr
        %th Support url
        %td= resource.theme.support_url
      %tr
        %th Blog url
        %td= resource.theme.blog_url
      %tr
        %th Twitter url
        %td= resource.theme.twitter_url
      %tr
        %th Facebook url
        %td= resource.theme.facebook_url
