%h1= resource_class.name.underscore.humanize.pluralize

.row-fluid
  %h4
    = t('admin.general.search')
  .pull-left
    = render 'search_form'

%table.table.table-striped
  %thead
    %tr
      %th Name
  %tbody
    - collection.each do |resource|
      = render 'index_row', :resource => resource

= will_paginate collection
