.form-options.hidden-md.hidden-lg
  .options
    = render "dashboard/company/transactables/form_fields/enabled", f: f, label: t('dashboard.items.listing_published')

%nav.panel-nav{ "data-internal-nav": true }
  %ul.tabs.pull-left
    - @form_components.each_with_index do |form_component, index|
      %li{class: index == 0 ? 'active' : ''}
        = link_to "#form-component-#{form_component.id}" do
          = form_component.name

  .pull-right.options

    = render "dashboard/company/transactables/form_fields/enabled", f: f, input_class: 'switch-sm', label: t('dashboard.items.listing_published')
