- if overnight_or_regular_booking?(f.object.transactable_type)
  - content_for :booking_type_regular_tab_content do
    .prices-container

      %hr/

      - if f.object.transactable_type.action_free_booking
        = f.input :regular_action_free_booking, as: :switch, label: t("simple_form.labels.transactable.price_free"), input_html: { 'data-action-free-booking' => true }

      -# Price

      %h3.control-label
        %abbr{:title => t('form.required')} *
        = t('pricing.price')

      .price-options
        - if f.object.transactable_type.action_hourly_booking
          .row
            .col-md-2
              = f.input :action_hourly_booking, as: :boolean, label: t("simple_form.labels.transactable.price.hourly"), input_html: { 'data-action-hourly-booking' => true }
            .col-md-4.col-xs-7
              = f.input :hourly_price, as: :numeric, label: false, wrapper: :dashboard_addon, prefix: currency_symbol_from_code(@transactable.try(:currency)), input_html: { 'data-price-field' => true }
            .col-md-6.col-xs-5
              .form-unit
                = t :person_hour, scope: [:pricing, :price_unit]
        .hidden
          = f.input :action_daily_booking, as: :hidden, label: false, input_html: { 'data-action-daily-booking' => true }
        - if f.object.transactable_type.action_daily_booking
          .row
            .col-md-2
              = f.input :enable_daily, as: :boolean, label: t("simple_form.labels.transactable.price.daily"), input_html: { 'data-action-daily-booking-trigger' => 'daily', checked: f.object.daily_price.to_f > 0 }
            .col-md-4.col-xs-7
              = f.input :daily_price, as: :numeric, label: false, wrapper: :dashboard_addon, prefix: currency_symbol_from_code(@transactable.try(:currency)), input_html: { 'data-action-daily-booking-input' => 'daily', 'data-price-field' => true }
            .col-md-6.col-xs-5
              .form-unit
                = t :person_day, scope: [:pricing, :price_unit]
        - if f.object.transactable_type.action_weekly_booking
          .row
            .col-md-2
              = f.input :enable_weekly, as: :boolean, label: t("simple_form.labels.transactable.price.weekly"), input_html: { 'data-action-daily-booking-trigger' => 'weekly', checked: f.object.weekly_price.to_f > 0 }
            .col-md-4.col-xs-7
              = f.input :weekly_price, as: :numeric, label: false, wrapper: :dashboard_addon, prefix: currency_symbol_from_code(@transactable.try(:currency)), input_html: { 'data-action-daily-booking-input' => 'weekly', 'data-price-field' => true }
            .col-md-6.col-xs-5
              .form-unit
                = t :person_week, scope: [:pricing, :price_unit]

        - if f.object.transactable_type.action_monthly_booking
          .row
            .col-md-2
              = f.input :enable_monthly, as: :boolean, label: t("simple_form.labels.transactable.price.monthly"), input_html: { 'data-action-daily-booking-trigger' => 'monthly', checked: f.object.monthly_price.to_f > 0 }
            .col-md-4.col-xs-7
              = f.input :monthly_price, as: :numeric, label: false, wrapper: :dashboard_addon, prefix: currency_symbol_from_code(@transactable.try(:currency)), input_html: { 'data-action-daily-booking-input' => 'monthly', 'data-price-field' => true }
            .col-md-6.col-xs-5
              .form-unit
                = t :person_month, scope: [:pricing, :price_unit]

      - if f.object.transactable_type.booking_choices.include?('regular') && f.object.transactable_type.booking_choices.include?('overnight')
        = render 'dashboard/company/transactables/form_fields/define_a_day', f: f

- if f.object.transactable_type.schedule_booking_enabled?
  - content_for :booking_type_schedule_tab_content do
    %hr/
    %div{:class => 'fixed-price-container'}
      %div{:class => "#{"error" if f.object.errors.include?(:fixed_price).present? || f.object.errors.include?(:price_type)}"}
        - if f.object.transactable_type.action_free_booking
          = f.input :scheduled_action_free_booking, as: :switch, label: t("simple_form.labels.transactable.price_free"), input_html: { 'data-scheduled-action-free-booking' => true }
        .form-inline
          = f.input :fixed_price, as: :numeric, wrapper: :dashboard_addon, required: true, prefix: currency_symbol_from_code(@transactable.try(:currency) || PlatformContext.current.instance.default_currency), label_html: { class: "block-label" }, input_html: { 'data-scheduled-fixed-price' => true }
          .form-unit.label-offset
            \/
            = f.object.transactable_type.action_price_per_unit? ? t("simple_form.labels.transactable.price.per_unit") : t("simple_form.labels.transactable.price.fixed")

        - if form_fields.find{ |h| h['transactable'] == 'exclusive_price' }
          = render 'dashboard/company/transactables/form_fields/exclusive_price', f: f

        - if form_fields.find{ |h| h['transactable'] == 'book_it_out' }
          = render 'dashboard/company/transactables/form_fields/book_it_out', f: f

- if f.object.transactable_type.subscription_booking_enabled?
  - content_for :booking_type_subscription_tab_content do
    %hr/
    = f.input :action_subscription_booking, as: :hidden, label: false, input_html: { 'data-action-subscription-booking' => true }
    .prices-container
      .price-options
        - if f.object.transactable_type.action_weekly_subscription_booking
          .row
            .col-md-2
              = f.input :enable_weekly_subscription, as: :boolean, label: t("simple_form.labels.transactable.price.weekly_subscription"), input_html: { 'data-action-subscription-booking-trigger' => 'subscription_weekly', checked: f.object.weekly_subscription_price.to_f > 0 }
            .col-md-4.col-xs-7
              = f.input :weekly_subscription_price, as: :numeric, label: false, wrapper: :dashboard_addon, prefix: currency_symbol_from_code(@transactable.try(:currency)), input_html: { 'data-price-field' => true }
            .col-md-6.col-xs-5
              .form-unit
                = t :person_weekly, scope: [:pricing, :price_unit]
        - if f.object.transactable_type.action_monthly_subscription_booking
          .row
            .col-md-2
              = f.input :enable_monthly_subscription, as: :boolean, label: t("simple_form.labels.transactable.price.monthly_subscription"), input_html: { 'data-action-subscription-booking-trigger' => 'subscription_monthly', checked: f.object.monthly_subscription_price.to_f > 0 }
            .col-md-4.col-xs-7
              = f.input :monthly_subscription_price, as: :numeric, label: false, wrapper: :dashboard_addon, prefix: currency_symbol_from_code(@transactable.try(:currency)), input_html: { 'data-price-field' => true }
            .col-md-6.col-xs-5
              .form-unit
                = t :person_monthly, scope: [:pricing, :price_unit]
