- period ||= f.object
- period = CompleteReservationPeriodForm.new(period) if period.is_a?(ReservationPeriod)
- period.prepopulate!(@reservation)

.row.nested-fields
  = f.hidden_field :date, value: period.date || @reservation.date + 1.day
  .col-xs-12.col-md-7
    = f.input :description, required: true
  .col-xs-3.col-md-2
    = f.input :hours, required: true, input_html: { 'data-hours-input': true}
  .col-xs-3.col-md-1
    %label.control-label Rate
    .rate{ data: { amount: @reservation.unit_price_cents } }
      = @reservation.unit_price_with_currency
  .col-xs-6.col-md-2
    .row
      .col-xs-8
        %label.control-label= t('dashboard.host_reservations.complete_reservation.subtotal')
        .sub-total{ data: { subtotal: true, currency: @reservation.unit_price.symbol, amount: period.sub_total } }
          = period.sub_total_formatted
      .col-xs-4
        - if period.reservation.periods.last.id != period.id
          = link_to_remove_association f, class: 'remove_fields' do
            %button.action--remove
