- title "#{platform_context.lessee.capitalize.pluralize} (#{@guest_list.reservations.size + @guest_list.recurring_bookings.size})"

- content_for :page_header do
  %h1= yield :title

%nav.panel-nav
  %ul.tabs.pull-left
    %li{class: (params[:action] == 'index' && (params[:state].blank? || params[:state] == 'unconfirmed')) ? 'active' : ''}
      = link_to t('dashboard.host_reservations.unconfirmed'), dashboard_company_host_reservations_path(state: 'unconfirmed')
    %li{class: (params[:action] == 'index' && params[:state] == 'confirmed') ? 'active' : ''}
      = link_to t('dashboard.host_reservations.confirmed'), dashboard_company_host_reservations_path(state: 'confirmed')
    %li{class: (params[:action] == 'index' && params[:state] == 'archived') ? 'active' : ''}
      = link_to t('dashboard.host_reservations.archived'), dashboard_company_host_reservations_path(state: 'archived')

.panel
  .panel-body
    .orders-a
      - if @guest_list.reservations_scope.empty?
        = render 'promote_locations', locations: @company.locations
      - else
        - if @guest_list.reservations.empty?
          %p.empty-resultset
            = no_reservations_info_for_state(@guest_list.state)
        - else
          - @guest_list.reservations.each do |reservation|
            = render 'reservation', reservation: reservation
