.content-container
  %h4
    = t("instance_admin.manage.payments.resource.plural.#{resource_class.name.underscore}")

  .row
    = link_to "Export instance to ZIP file", instance_admin_manage_marketplace_builder_download_export_path, class: 'btn btn-blue'

  = simple_form_for :marketplace_builder, url: instance_admin_manage_marketplace_builder_import_path, method: :put, html: {multipart: true} do |f|
    .content-container
      .row
        .input-container.col-xs-12
          = f.input :zip_file, as: :file, required: true
          = f.button :submit, 'Import', class: 'btn btn-blue'
