- if (selected_listing_siblings(location, listing)).count > 0 
  .padding-row
  .other-listings
    %header
      %h3 Other listings at this location
      %p{:'data-sibling-listing-name' => selected_listing_siblings(location, listing).first.name}
        = selected_listing_siblings(location, listing).first.name
    .listing-photos
      #listing-siblings-container.carousel.slide
        %ol.carousel-indicators
          - selected_listing_siblings(location, listing).each_with_index do |listing, index|
            %li{:class => index.zero? ? "active" : '', :'data-target' => '#listing-siblings-container', :'data-slide-to' => index}= index+1
        .carousel-inner
          - selected_listing_siblings(location, listing).each_with_index do |listing, index|
            - if photo = listing.photos.first
              .item{:class => ("active" if index == 0), :data => {:'listing-name' => listing.name}}
                = image_tag photo.image_url(:golden), :alt => photo.content.name
                .info
                  .caption
                    = render :partial => 'search/shared/price_information', :locals => { :listing => listing }
            - else
              .item{:class => ("active")}
                = image_tag space_listing_placeholder_path(:height => 554, :width => 895), :title => listing.name, :alt => listing.name
        - if selected_listing_siblings(location, listing).size > 1
          .carousel-nav
            = link_to "", "#listing-siblings-container", :class => "carousel-control left ico-chevron-left", 'data-slide' => 'prev'
            = link_to "", "#listing-siblings-container", :class => "carousel-control right ico-chevron-right", 'data-slide' => 'next'
