- location_pretty_availability ||= pretty_availability_sentence(listing.location.availability)
- collapsed ||= false
%article.booking
  = form_for :reservation_request, :url => review_listing_recurring_bookings_path(listing) do |f|
    .listing{listing_data_attributes(listing)}
      .booking-module-container{:class => "#{(listing.action_hourly_booking? ? 'booking-daily booking-hourly' : 'booking-daily')} #{collapsed ? " collapsed" : ""}", :'data-toggleable-booking-module' => true}
        .booking-module
          .booking-header
            %a.toggleable-booking-trigger{:href => location_path(listing.location, listing), :'data-booking-trigger' => true}
              %span.booking-listing-name= mask_phone_and_email_if_necessary(listing.name)
              %span.pull-right
                %i.ico-chevron-down
                %i.ico-chevron-right
          .booking-price-info
            %span= price_information(listing)
            %span.pull-right
              = listing.listing_type
          .booking-body
            .booking-price
              - if listing.action_free_booking?
                %span.label
                  Free
              - elsif listing.action_hourly_booking?
                %span.label
                  - unless listing.hourly_price.to_f.zero?
                    = "#{listing.decorate.price_with_currency(:hourly_price)}"
                  - else
                    = '-'
                  %span.period   PER HOUR
              - else
                - if listing.transactable_type.action_daily_booking
                  %span.label
                    - unless listing.daily_price.to_f.zero?
                      = "#{listing.decorate.price_with_currency(:daily_price)}"
                    - else
                      = '-'
                    %span.period   PER DAY

                - if listing.transactable_type.action_weekly_booking
                  %span.label
                    - unless listing.weekly_price.to_f.zero?
                      = "#{listing.decorate.price_with_currency(:weekly_price)}"
                    - else
                      = '-'
                    %span.period   PER WEEK

                - if listing.transactable_type.action_monthly_booking
                  %span.label
                    - unless listing.monthly_price.to_f.zero?
                      = "#{listing.decorate.price_with_currency(:monthly_price)}"
                    - else
                      = '-'
                    %span.period   PER MONTH

            .clearfix
            - if params[:controller] != 'locations/listings'
              .booking-description
                %h3 Description
                %span= custom_sanitze mask_phone_and_email_if_necessary(listing.description)
              - listing_availability = pretty_availability_sentence(listing.availability)
              - if listing_availability != location_pretty_availability
                .booking-opening-hours
                  %h3 Hours
                  %span= pretty_availability_sentence(listing.availability)

            .calendar-wrapper.date-start
              .calendar
                %span.ico-calender-end
                %span.calendar-text Start

            .calendar-wrapper.date-end
              .calendar
                %span.ico-calender-start
                %span.calendar-text End

            - if listing.action_hourly_booking?

              .calendar-wrapper.time-picker
                .time
                  %span.ico-clock
                  %span.time-text 9:00am

            - else

            .clearfix
            .recurring-rules
              - if @initial_bookings && @initial_bookings[listing.id]

                = f.select_recurring :schedule_params, [ @initial_bookings[listing.id][:schedule_params] ], allow_blank: false
              - else
                = f.select_recurring :schedule_params, [ IceCube::Rule.weekly.day(Time.zone.now.wday) ], allow_blank: false

            .clearfix
            .quantity
              %span.resource{:'data-singular' => listing.listing_type, :'data-plural' => listing.listing_type.try(:pluralize)}= listing.listing_type
              = select_tag :quantity, options_for_select(1..listing.quantity), :class => 'quantity'
            .price{class: "#{'hidden' if listing.action_free_booking?}"}
              Total
              %span #{currency_content_tag(listing.currency, 0.00, :span, { :rel => false })}

            .book
              - registration_url = new_user_registration_path(return_to: location_url(@listing.location, @listing, restore_reservations: true))
              - store_recurring_booking_request_url = store_recurring_booking_request_listing_recurring_bookings_path(@listing)
              = hidden_field_tag :listing_id, @listing.id
              = f.hidden_field :quantity
              = f.hidden_field :dates
              = f.hidden_field :start_on
              = f.hidden_field :end_on
              = f.hidden_field :start_minute
              = f.hidden_field :end_minute

              = f.submit 'Book', :id =>"book-#{listing.id}", :class => "btn btn-green btn-large", :rel => "tooltip", :'data-original-title' => "Please select days first", :'data-behavior' => 'reviewBooking', :'data-listing-id' => listing.id, :'data-registration-url' => registration_url, :'data-store-reservation-request-url' => store_recurring_booking_request_url, :'data-user-signed-in' => user_signed_in?, :'data-secured' => (not secure_links?)

          .clearfix
