- title @listing.name_with_address

- content_for :hero do
  %article#space
    .container-fluid
      .row-fluid.padding-row
        .span9.nested
          %h1 #{@listing.name_with_address}
        .span3
          = link_to "mailto:support+#{@location.id}-#{@listing.id}@desksnear.me", :class => "btn btn-blue btn-medium pull-right ask-a-question" do
            %span Ask a question
            %span.ico-mail

      .container-row
        .two-thirds.column.left
          = render 'locations/listings/listing_photos', listing: @listing 

          .padding-row
          %article.listing
            %h2 The #{@listing.listing_type.name}
            %p= @listing.description

          = render 'locations/listings/location', location: @location 

          = render 'locations/listings/company', location: @location

        .one-third.column.left
          = render 'locations/listings/booking', listing: @listing

          .padding-row
          = render 'locations/google_map', location: @location 

          = render 'locations/listings/availabilities', listing: @listing

          = render 'locations/listings/other_listings', location: @location, listing: @listing
                
           
.clearfix.padding-row 


- content_for :script do
  :javascript
    // Initialize the ui controller
    $(function() {
      new Space.Controller(
        $('article#space'),
        {
          bookings: {
            listings: #{raw location_listings_json},

            // Have we returned from setting up a session. If there are bookings, the JS controller
            // will trigger showing the booking confirmation modal.
            returnedFromSession: #{@initial_bookings.present? ? 'true' : 'false'}
          }
        });
      });

