- title "#{@listing.name} | #{@location.name}"
- canonical_url location_path(@location)
- meta_description "#{mask_phone_and_email_if_necessary(@location.description).try(:truncate, 130)}"

= transactable_structured_data

- content_for :hero do
  // Have we returned from setting up a session. If there are bookings, the JS controller
  // will trigger showing the booking confirmation modal.
  %article#space{ data: { listings: listing_json(@listing), "returned-from-session": (@initial_bookings.present? ? ("'#{@form_trigger}'") : 'false') }}
    .container-fluid
      .row-fluid.padding-row
        .span12.nested
          %h1= mask_phone_and_email_if_necessary(@listing.name)

      .container-row
        .two-thirds.column.left
          = render 'locations/location_photos', location: @listing

          .padding-row

          %article.location.listing
            = render partial: 'shared/tabs_for_listing', locals: { description_partial: 'locations/listings/listing_description' }

        .one-third.column.left
          .toggleable-booking-modules
            - cache([@listing, user_signed_in?, @listing.instance.context_cache_key.to_s]) do
              = render 'locations/listings/booking', listing: @listing, collapsed: false
            .padding-row

          - if platform_context.instance.wish_lists_enabled?
            = render 'shared/components/wish_list_button', object: @listing, link_to_class: 'btn btn-white btn-large ask'

          .padding-row

          -if @location.administrator
            = render 'locations/administrator', administrator: @location.administrator, listing: @listing

          = render 'locations/google_map', location: @location

          .padding-row
          = render 'locations/social_buttons', location: @location, url: location_listing_url(@location, @listing)
  }
  }

.clearfix.padding-row

- content_for :domready do
  :javascript
    - if @listing && params[:action] == 'ask_a_question'
      $(document).trigger('load.modal', ['#{new_listing_user_message_path(@listing)}']);

    $(".booking-module-container .pricing-tabs a").click(function (e) {
      e.preventDefault();
      $(this).tab('show');
    });

    $(".booking-module-container .pricing-tabs a.possible:first").tab('show');
