.content-container
  %h4= t('instance_admin.manage.data_uploads.manage_data_uploads_for', name: @importable.name)
  .row
    .table-container.col-xs-12
      %table.table
        %thead
          %tr
            %th= t('instance_admin.manage.data_uploads.file_name')
            %th= t('instance_admin.manage.data_uploads.state')
            - if params[:service_type_id].present?
              %th= t('instance_admin.manage.data_uploads.data_preview')
            %th= t('instance_admin.manage.data_uploads.imported_at')
            %th= t('instance_admin.manage.data_uploads.created_by')
            %th= t('instance_admin.manage.data_uploads.created_at')
        %tbody
          - @data_uploads.each do |resource|
            %tr
              %td= link_to resource.csv_file_identifier, {action: :show, id: resource}
              %td= resource.state
              - if params[:service_type_id].present?
                %td= link_to resource.xml_file_identifier, resource.xml_file.try(:url), target: :blank if resource.xml_file.present?
              %td= resource.imported_at.present? ? l(resource.imported_at, format: :long) : ''
              %td= resource.uploader.present? ? resource.uploader.email : ''
              %td= l(resource.created_at, format: :long)
  .row
    .text-container
      .pull-right
        = will_paginate @data_uploads

= content_for :header_buttons do
  = link_to t('instance_admin.manage.data_uploads.download_csv_template'), {action: :download_csv_template}, class: 'pull-right btn btn-blue'
  = link_to t('instance_admin.manage.data_uploads.download_current_data'), {action: :download_current_data}, class: 'pull-right btn btn-blue' if @importable.is_a?(ServiceType)
  = link_to t('instance_admin.manage.data_uploads.new_data_upload'), {action: :new}, class: 'pull-right btn btn-blue'

