.content-container
  %h4 Manage Data Uploads for #{@importable.name}
  .row
    .table-container.col-xs-12
      %table.table
        %thead
          %tr
            %th File Name
            %th State
            - if params[:service_type_id].present?
              %th Data preview
            %th Imported at
            %th Created by
            %th Created at
        %tbody
          - @data_uploads.each do |resource|
            %tr
              %td= link_to resource.csv_file_identifier, {action: :show, id: resource}
              %td= resource.state
              - if params[:service_type_id].present?
                %td= link_to resource.xml_file_identifier, resource.xml_file.try(:url), target: :blank if resource.xml_file.present?
              %td= resource.imported_at
              %td= resource.uploader.email
              %td= l(resource.created_at, format: :long)
  .row
    .text-container
      .pull-right
        = will_paginate @data_uploads

= content_for :header_buttons do
  = link_to 'Download CSV Template', {action: :download_csv_template}, class: 'pull-right btn btn-blue'
  = link_to 'New Data Upload', {action: :new}, class: 'pull-right btn btn-blue'

