= simple_form_for @data_upload, url: {action: :create}, html: {multipart: true} do |f|
  %h4 Data Upload
  .content-container
    .row.dropshadow
      .input-container.col-xs-12
        = f.input :csv_file, as: :file, label: 'CSV File', required: false, input_html: { class: 'form-control' }

  = f.simple_fields_for :options, OpenStruct.new(@data_upload.options) do |option|
    .content-container
      .row.dropshadow
        .input-container.col-xs-12
          = option.input :send_invitational_email, required: false, as: :boolean, label: "Send invitational email"
      .row.dropshadow
        .input-container.col-xs-12
          = option.input :enable_rfq, required: false, as: :boolean, label: "Enable request for quote"

    - if @importable.is_a?(Spree::ProductType)
      .content-container
        .row.dropshadow
          .input-container.col-xs-12
            = option.input :default_shipping_category_id, required: true, include_blank: false, as: :select, collection: Spree::ShippingCategory.system_profiles.map { |c| [c.name, c.id] }, label: "Choose default shipping category/profile"

  = link_to 'Download CSV Template', {action: :download_csv_template}, class: 'pull-left btn btn-green'
  = f.button :submit, 'Upload', class: 'btn btn-green pull-right'
