= simple_form_for @data_upload, url: {action: :create}, html: {multipart: true} do |f|
  .content-container
    %h4= t('instance_admin.manage.data_uploads.data_upload')
    .row
      .input-container.col-xs-12
        = f.input :csv_file, as: :file, required: false, input_html: { class: 'form-control' }

  = f.simple_fields_for :options, OpenStruct.new(@data_upload.options) do |option|
    .content-container
      .row
        .input-container.col-xs-12
          = option.input :send_invitational_email, required: false, as: :boolean, inline_label: true
      .row
        .input-container.col-xs-12
          = option.input :enable_rfq, required: false, as: :boolean, inline_label: true

      - if ShippingProfile.global.any?
        .row
          .input-container.col-xs-12
            = option.input :default_shipping_category_id, required: true, include_blank: false, as: :select, collection:  ShippingProfile.global.map { |c| [c.name, c.id] }

  = content_for :header_buttons do
    = link_to t('instance_admin.manage.data_uploads.download_csv_template'), {action: :download_csv_template}, class: 'pull-left btn btn-blue'
    = f.button :submit, t('instance_admin.manage.data_uploads.upload'), class: 'btn btn-blue pull-right', data: { 'submit-form' => 1, 'form-selector' => 'form' }

