.content-container
  %h4 Data import for #{@data_upload.csv_file_identifier}
  .row
    .text-container
      %p
        - if @data_upload.imported_at.nil?
          Your data has been processed, however nothing has been imported yet! You can #{link_to "preview xml", @data_upload.xml_file.url, target: :blank} that will be imported.
        - elsif @data_upload.parsing_result_log.blank?
          Parsing has been scheduled, job is waiting in the queue.
        - elsif @data_upload.encountered_error.blank?
          %h2 Data has been imported.
          %p New entities: #{@data_upload.parse_summary[:new].map { |k, v| "#{k.to_s.humanize}: #{v}"}.sort.join(', ')}
          %p Updated entities: #{@data_upload.parse_summary[:updated].map { |k, v| "#{k.to_s.humanize}: #{v}"}.sort.join(', ')}
          - if @data_upload.parsing_result_log
            %p Errors and warnings encountered:
            %textarea{disabled: 'disabled', style: "width: 98%", rows: 10}= @data_upload.parsing_result_log
          - else
            No validation errors encountered.
        - else
          Data has not been imported due to error during processing. Please verify that #{link_to "preview xml", @data_upload.xml_file.url, target: :blank} is correct.

