<div class="row-fluid listing" data-id="{{listing.id}}" data-name="{{listing.name}}" data-latitude="{{listing.latitude}}" data-longitude="{{listing.longitude}}" data-location="{{listing.location_id}}">
  <div class="span3 listing-main-photo">
    <div class="photo">
      <img src="{{ listing.photo_url }}" title="{{ listing.name }}" alt="{{ listing.name }}" />
    </div>
  </div>
  <div class="span5 listing-name-description without-capacity">
    <span><strong>{{ listing.name | filter_text | custom_sanitize }}</strong></span>
    <p>{{ listing.description | filter_text | custom_sanitize | truncate: 150}}</p>
  </div>
  {% comment %}
  <div class="span2 listing-price padding-top">
    {% assign price_info = listing | lowest_price_without_cents_with_currency: lgpricing_filters %}
    {% if price_info.price %}
      {{ price_info.price}}
      {% if price_info.period != blank %}
        / <span>{{ price_info.period }}</span>
      {% endif %}
    {% elsif price_info.free %}
      <span>{{ 'search.free_listing' | translate }}</span>
    {% endif %}
  </div>
  {% endcomment %}
  <div class="span2 reserve-listing padding-top">
    <a href="{{ listing.url }}" class="btn btn-green btn-small">{{ 'search.reserve' | translate }}</a>
  </div>
</div>
