<article class="location" data-id="{{location.id}}" data-name="{{location.name}}" data-latitude="{{location.latitude}}" data-longitude="{{location.longitude}}">
  <div class="location-counter"></div>
  <div class="row-fluid header">
    <div class="span5 location-photos-container">
      <div class="location-photos">
        <div class="carousel" id="location-gallery-{{location.id}}" data-interval="false">
          <div class="carousel-inner">
            {% if location.photos.size > 0 %}
              {% capture item_active %}active{% endcapture %}
              {% for photo in location.photos %}
                <div class="item {{item_active}}">
                  <a href="{{ location.path }}"><img src="{{ photo.space_listing }}" alt="{{ location.name }}" /></a>
                </div>
                {% capture item_active %}{% endcapture %}
              {% endfor %}
            {% else %}
              <div class="item active">
                <a href="{{ location.path }}"><img src="{{ 254 | space_listing_placeholder_path: 410}}" title="{{location.name}}" alt="{{ location.name }}" /></a>
              </div>
            {% endif %}
          </div>
          {% if location.photos.size > 1 %}
            <div class="carousel-nav">
              <a href="#location-gallery-{{location.id}}" class="carousel-control left ico-chevron-left" data-slide='prev'></a>
              <a href="#location-gallery-{{location.id}}" class="carousel-control right ico-chevron-right" data-slide='next'></a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="span7 location-data">
      <h2><a href="{{ location.path }}">{{location.name}}</a></h2>
      {% capture company_name_and_street %}{{location.company.name}} @ {{location.street}}{% endcapture %}
      {% if location.name != company_name_and_street %}
        <div class="subheader">with {{location.company.name}} @ {{ location.street }}</div>
      {% endif %}

      <div class="price-and-types">
        <div class="location-price">
          {{ lgpricing_filters }}
          {% comment %}
          {% assign price_info = location | lowest_price_without_cents_with_currency: lgpricing_filters %}
          {% if price_info.price %}
            {{ 'search.price_from' | translate }} <span>{{ price_info.price }}</span>
            {% if price_info.period != blank %}
              / {{ price_info.period }}
            {% endif %}
          {% elsif price_info.free %}
            <span>{{ 'search.free_listing' | translate }}</span>
          {% endif %}
          {% endcomment %}
        </div>
      </div>
    </div>
  </div>
  <div class="tabbable">
    <div class="tab-content">
      <div class="tab-pane active">
        <div class="title">
          {% for listing in location.listings %}
            {% include 'search/mixed/listing.html', location: location, lgpricing_filters: lgpricing_filters %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</article>
