.search-pagination{data: {offset: searcher.offset + 1}}
  - if searcher.total_pages > 1
    .page-entries-info
      = searcher.offset + 1
      = '-'
      = [searcher.total_entries, searcher.per_page * searcher.current_page].min
      of
      = searcher.result_count
      results
    = will_paginate searcher, previous_label: '&lt;', next_label: '&gt;'
