%h4= "#{@filter_name} tickets"
.sub-header-nav
  %ul
    %li
      = support_link_to_filter(@filter, 'open')
    %li
      = support_link_to_filter(@filter, 'resolved')
    %li
      = support_link_to_filter(@filter, 'all')

.content-container
  .row
    .table-container.col-xs-12.dropshadow
      %table.table.table-hover
        %thead
          %tr
            %th Ticket
            %th Updated
            %th Created
            %th State

        %tbody
          = render partial: 'ticket', collection: @tickets

= will_paginate @tickets

- content_for :domready do
  $('abbr.timeago').timeago();
