- if [:user_commented_on_project, :user_commented].include?(event.event.to_sym)
  - followed = event.event_source.commentable
  - body = event.event_source.body
  - image = "intel/status-a-chat-a.png"
- else
  - followed = event.followed
  - body = event.description
  - image = (followed.try(:image).presence || followed.try(:avatar)).try(:url, :medium).presence
  - title = link_to event.name, followed

%section
  %article.status-a
    %header
      %figure
        = link_to followed do
          = image.present? ? image_tag(image) : image_tag(space_listing_placeholder_path(width: 80, height: 80))
    %section
      %h3.hx= title if title.present?
      %p= body

    = render 'shared/activity_status_footer', event: event
