- if event.event.to_sym == :user_commented
  - commented_event = event.event_source.commentable

  %section
    %article.status-a
      %header
        %figure
          = link_to commented_event.followed do
            = image_tag(event.followed.try(:image).presence || event.followed.try(:avatar).presence || space_listing_placeholder_path(width: 80, height: 80))
      %section
        %h3.hx= link_to commented_event.name, commented_event.followed
        %p= commented_event.description

      = render 'shared/activity_status_footer', event: commented_event, is_active: true

- else
  %section
    %article.status-a
      %header
        %figure
          = link_to event.followed do
            = image_tag(event.followed.try(:image).presence || event.followed.try(:avatar).presence || space_listing_placeholder_path(width: 80, height: 80))
      %section
        %h3.hx= link_to event.name, event.followed
        %p= event.description

      = render 'shared/activity_status_footer', event: event
