%footer#footer.footer-a
  .contain
    .wrap
      %h2.hx
        = link_to root_url do
          = image_tag "intel/logo-blue.png", width: 59, height: 39, alt: 'Intel'
          = t :developer_zone
      %ul.nav
        - platform_context.pages.each do |page|
          %li
            = link_to page.path, pages_path(page)
    .socials-a
      %p
        = t :join_us_on
      %ul
        %li.facebook
          = link_to root_url do
            %span Facebook
        %li.twitter
          = link_to root_url do
            %span Twitter
        %li.google
          = link_to root_url do
            %span Google+
        %li.youtube
          = link_to root_url do
            %span Youtube
