- if projects.empty?
  %p.empty-resultset= t('user_profile.empty_resultset.projects')
- else
  / grid
  .grid-a-search-a
    .wrap.content-container
      - projects.each do |project|
        = render 'shared/project', project: project

  / more
  - if user_signed_in?
    %p.more-a{:'data-see-more' => true, class: "#{projects.next_page ? '' : 'hide-initially'}"}
      %button{ data: { url: see_more_route, next_page: projects.next_page } }
        = t(:see_more)
  - elsif projects.next_page
    %p.more-a
      = link_to t(:see_more), new_user_session_path
