= simple_form_for @dimensions_template, :url => [:instance_admin, :shipping_options, @dimensions_template], :html => { :autocomplete => 'off', :method => form_method, data: { 'dimensions-template-form': true, units: units } } do |f|

  .content-container
    = render partial: 'shared/dimensions_templates_admin_fields', locals: { f: f }

    .row
      .input-container.col-xs-12
        = f.input :use_as_default, required: true, inline_label: true

      = content_for :header_buttons do
        = link_to t('instance_admin.cancel'), instance_admin_shipping_options_dimensions_templates_path, class: 'btn btn-blue'
        = f.submit form_title, class: 'btn btn-blue', data: { 'submit-form' => 1, 'form-selector' => 'form' }

