.row
  .table-container.col-xs-12
    %table.table.sortable
      %thead
        %tr
          %th= t('instance_admin.shipping_options.dimensions_templates.name')
          %th= t('instance_admin.shipping_options.dimensions_templates.default')
          %th
            %span.header-link
              = link_to t('instance_admin.shipping_options.dimensions_templates.add_new_dimensions_template'), new_instance_admin_shipping_options_dimensions_template_path

      - collection.each do |resource|
        %tr
          %td
            = resource.name
          %td
            = resource.use_as_default
          %td
            = link_to t('instance_admin.edit'), edit_instance_admin_shipping_options_dimensions_template_path(resource), :class => 'btn btn-blue'
            = link_to t('instance_admin.delete'), instance_admin_shipping_options_dimensions_template_path(resource),
                :class => 'btn btn-blue', :method => :delete, data: { confirm: t('confirmations.are_you_sure') }

