---
partial: true
---
<ul class="actions-a">

  {% if current_status != 'archived' %}
    <li><a href="{{ transactable.show_path }}" class="btn btn-default">Project Details</a></li>
  {% endif %}

  {% if current_status == 'pending' %}
    <li><a href='/dashboard/favorites' class="btn btn-default">See Favorites</a></li>
    <li><a href='{{ transactable.edit_path }}' class="btn btn-primary">Edit Project</a></li>
  {% endif %}

  {% if transactable.pending? == false and accepted_order != blank %}
    <li><a href="{{ 'dashboard_company_order_order_items_path' | generate_url: order_id: accepted_order.id, transactable_id: transactable.id }}" class="btn btn-default">View Time &amp; Expenses</a></li>
  {% endif %}

  {% if current_status == 'in progress' %}
    <li><a href="{{ accepted_order.complete_path }}" data-method="post" class="btn btn-success" data-confirm="Are you sure you want to mark this project as completed?">Mark Project as Completed</a></li>
  {% endif %}

  {% if current_status != 'archived' %}
    <li><a href='{{ transactable.cancel_path | append: "?status=" | append: current_status }}' data-confirm="Are you sure you want to cancel this project?" class="btn btn-danger">Cancel Project</a></li>
  {% endif %}

  {% if current_status == 'in progress' %}

    {% if accepted_order.transactable_user_messages.size == 0 %}
      <li><a class="btn btn-info" data-modal="true" href="{{ 'new_listing_user_message_path' | generate_url: transactable.id, user_id: accepted_order.user.id, skip: true }}">{{ 'dashboard.user_reservations.send_message' | t}}</a></li>
    {% else %}
      <li><a class="btn btn-info" data-modal="true" href="{{ 'dashboard_user_message_path' | generate_url: accepted_order.transactable_user_messages.first.id }}">{{ 'dashboard.user_reservations.send_message' | t}}</a></li>
    {% endif %}

    <li>
    {{ accepted_order.user.click_to_call_button }}
    </li>

  {% endif %}
</ul>
