.content-container
  = render 'instance_admin/manage/ratings_reviews_shared/header'

  .blank-state-container
    - unless @transactable_types.any? {|transactable_type| transactable_type.any_rating_system_active? }
      .row
        .table-container.col-xs-12
          .rating-blank-state
            .question-icon !
            = t('instance_admin.rating_systems.index.any_rating_system')

  .define-title
    .row
      .text-container
        = t('instance_admin.rating_systems.index.define_rating_systems').upcase

  .services
    - @transactable_types.each do |transactable_type|
      .service
        .header
          .service-name
            %input{type: 'checkbox', checked: transactable_type.enable_reviews?, 'data-url' => change_state_instance_admin_manage_transactable_type_path(transactable_type)}
            %label= transactable_type.translated_bookable_noun
          - if transactable_type.rating_systems.where(subject: [RatingConstants::GUEST, RatingConstants::HOST]).count == 2
            .only-if-both-completed
              %input{type: 'checkbox', checked: transactable_type.show_reviews_if_both_completed?, 'data-url' => change_state_instance_admin_manage_transactable_type_path(transactable_type), 'data-service-name' => transactable_type.translated_bookable_noun}
              %label= t("instance_admin.rating_systems.index.only_if_both_completed_services")

        .ratings-content-container{class: "#{'hidden' unless transactable_type.enable_reviews?}"}
          = simple_form_for transactable_type, url: update_systems_instance_admin_manage_rating_systems_path(transactable_type_id: transactable_type.id), method: :put do |f|
            = f.simple_fields_for :rating_systems do |rating_form|
              = rating_form.hidden_field :id
              = rating_form.hidden_field :transactable_type_id
              .rating-system
                = rating_form.hidden_field :subject
                .header
                  = rating_form.check_box :active, id: "active", 'data-subject' => rating_form.object.subject
                  %label.title{for: "seller"}= t("instance_admin.rating_systems.rate_subject.#{rating_form.object.subject}")
                .table-container.col-xs-12{class: "#{'hidden' unless rating_form.object.active?}"}
                  .stars-description
                    .title
                      = t('instance_admin.rating_systems.index.stars_description')
                    = rating_form.simple_fields_for :rating_hints, rating_form.object.rating_hints do |hints_form|
                      .line
                        .img=image_tag "instance_admin/rating/#{hints_form.object.value}_stars.png"
                        .input
                          = hints_form.input :description, label: false, placeholder: t('instance_admin.rating_systems.index.enter_description')
                  .questions.nested-fields-set
                    .title
                      = t('instance_admin.rating_systems.index.define_question')
                    = rating_form.simple_fields_for :rating_questions  do |questions_form|
                      .nested-container
                        = render 'rating_question', f: questions_form
                    .add-link.clearfix
                      = link_to_add_association t('instance_admin.rating_systems.index.add_new_question') , rating_form, :rating_questions, partial: 'rating_question', class: 'btn btn-primary'

              .row
                .input-container.col-xs-12
                  = f.submit t('instance_admin.rating_systems.index.save'), class: 'save-btn btn btn-blue pull-right'
