.content-container
  = render 'instance_admin/manage/ratings_reviews_shared/header'

  .blank-state-container
    - unless @transactable_types.any? {|transactable_type| transactable_type.any_rating_system_active? }
      .row
        .table-container.col-xs-12
          .rating-blank-state
            .question-icon !
            = t('instance_admin.rating_systems.index.any_rating_system')

  .define-title
    .row
      .text-container
        = t('instance_admin.rating_systems.index.define_rating_systems').upcase

  .services
    - @transactable_types.each do |transactable_type|
      .service
        .header
          .service-name
            %input{type: 'checkbox', checked: transactable_type.enable_reviews?, 'data-url' => change_state_instance_admin_manage_service_type_path(transactable_type)}
            %label= transactable_type.translated_bookable_noun
          - if transactable_type.rating_systems.where(subject: [RatingConstants::GUEST, RatingConstants::HOST]).count == 2
            .only-if-both-completed
              %input{type: 'checkbox', checked: transactable_type.show_reviews_if_both_completed?, 'data-url' => change_state_instance_admin_manage_service_type_path(transactable_type), 'data-service-name' => transactable_type.translated_bookable_noun}
              %label= t("instance_admin.rating_systems.index.only_if_both_completed_#{transactable_type.buyable? ? 'products' : 'services'}")

        .ratings-content-container{class: "#{'hidden' unless transactable_type.enable_reviews?}"}
          = form_tag update_systems_instance_admin_manage_rating_systems_path, method: :put do
            - transactable_type.rating_systems.each_with_index do |rating_system, index|
              = hidden_field_tag "rating_systems[#{rating_system.id}][transactable_type_id]", transactable_type.id
              .rating-system
                = hidden_field_tag "rating_systems[#{rating_system.id}][subject]", rating_system.subject
                .header
                  = hidden_field_tag "rating_systems[#{rating_system.id}][active]", false
                  = check_box_tag "rating_systems[#{rating_system.id}][active]", true, rating_system.active?, id: "active", 'data-subject' => rating_system.subject
                  %label.title{for: "seller"}= t("instance_admin.rating_systems.rate_subject.#{rating_system.subject}")
                .table-container.col-xs-12{class: "#{'hidden' unless rating_system.active?}"}
                  .stars-description
                    .title
                      = t('instance_admin.rating_systems.index.stars_description')
                    - rating_system.rating_hints.each_with_index do |rating_hint, hint_index|
                      .line
                        = hidden_field_tag "rating_systems[#{rating_system.id}][rating_hints_attributes][#{hint_index}][id]", rating_hint.id
                        .img=image_tag "instance_admin/rating/#{rating_hint.value}_stars.png"
                        .input
                          = text_field_tag "rating_systems[#{rating_system.id}][rating_hints_attributes][#{hint_index}][description]", rating_hint.description, placeholder: t('instance_admin.rating_systems.index.enter_description')
                  .questions
                    .title
                      = t('instance_admin.rating_systems.index.define_question')
                    .subtitle
                      = t('instance_admin.rating_systems.index.add_up_to_questions', number: RatingConstants::MAX_QUESTIONS_QUANTITY)
                    - rating_system.rating_questions.each_with_index do |rating_question, question_index|
                      .line.question
                        %span.number= "#{question_index + 1}."
                        = hidden_field_tag "rating_systems[#{rating_system.id}][rating_questions_attributes][#{question_index}][id]", rating_question.id, class: 'question-id'
                        = text_field_tag "rating_systems[#{rating_system.id}][rating_questions_attributes][#{question_index}][text]", rating_question.text, class: 'question-input'
                        = check_box_tag "rating_systems[#{rating_system.id}][rating_questions_attributes][#{question_index}][_destroy]"
                        - if rating_question.text.present?
                          %span.remove-question.enabled=fa_icon 'times'
                        - else
                          %span.remove-question=fa_icon 'times'
              .row
                .input-container.col-xs-12
                  %input.save-btn.btn.btn-blue.pull-right{type: 'submit', value: t('instance_admin.rating_systems.index.save')}
