%h4= t('instance_admin.manage.transactable_types.booking_settings')
.row
  .input-container.col-xs-12
    = yield "booking_settings_#{f.object.name}"
    = f.input :allow_action_rfq, as: :boolean, :inline_label => true
    = f.input :allow_no_action, as: :boolean, :inline_label => true
    = f.input :confirm_reservations, as: :boolean, :inline_label => true
.row
  .input-container.col-xs-6
    = f.input :hours_to_expiration, required: false, input_html: { class: 'form-control' }
.row
  .input-container.col-xs-6
    = f.input :service_fee_host_percent do
      = f.input_field :service_fee_host_percent, type: 'tel', class: 'form-control'
  .input-container.col-xs-6
    = f.input :minimum_lister_service_fee, label: "Minimum fee (Amount)" do
      = f.input_field :minimum_lister_service_fee, type: 'tel', class: 'form-control'

.row
  .input-container.col-xs-6
    = f.input :service_fee_guest_percent do
      = f.input_field :service_fee_guest_percent, type: 'tel', class: 'form-control'

= render 'cancellation_policies', f: f
