= simple_form_for [:instance_admin, :manage, resource], :html => { :multipart => true} do |f|
  %br
  %br
  %h4 Basic Configuration
  .content-container.dropshadow
    .row
      .input-container.col-xs-12
        = f.input :name, input_html: { class: 'form-control' }
    .row
      .input-container.col-xs-4
        = f.input :favourable_pricing_rate#, hint: 'In case of multiple pricing schemas, like daily/weekly/monthly, if favourable pricing rate is checked, we will use only one price. If it is unchecked, we will use more favourable pricing only for periods that satisfies condition. For example, if weekly pricing is for 7 days, and someone books 8, with favourable pricing we will calculate it as 8/7 * weekly rate. If favourable pricing is not checked, we will calculate it as 1 * weekly rate + 1 * daily rate'
      .input-container.col-xs-4
        = f.input :show_page_enabled, as: :boolean
      .input-container.col-xs-4
        = f.input :action_overnight_booking, as: :boolean
    .row
      .input-container.col-xs-6
        = f.input :service_fee_guest_percent, label: 'Guest Service Fee Percent' do
          = f.input_field :service_fee_guest_percent, type: 'tel', class: 'form-control'
      .input-container.col-xs-6
        = f.input :service_fee_host_percent, label: 'Host Service Fee Percent' do
          = f.input_field :service_fee_host_percent, type: 'tel', class: 'form-control'

    .row
      .input-container.col-xs-6
        = f.input :groupable_with_others, as: :boolean
      .input-container.col-xs-6
        = f.input :enable_photo_required, as: :boolean

  %h4 Cancellation Policy
  .content-container.dropshadow
    .row
      .input-container.col-xs-12
        = f.input :enable_cancellation_policy, required: false, as: :boolean, label: "Should cancellation policy be enabled?", input_html: { class: 'form-control', checked: f.object.enable_cancellation_policy.nil? ? f.object.cancellation_policy_enabled.present? : f.object.enable_cancellation_policy=="1" }
    .row
      .input-container.col-xs-6
        = f.input :cancellation_policy_hours_for_cancellation, label: 'Number of hours before booking to cancel', required: false, input_html: { class: 'form-control' }
      .input-container.col-xs-6
        = f.input :cancellation_policy_penalty_percentage, label: 'Penalty fee (percent of total amount)' do
          = f.input_field :cancellation_policy_penalty_percentage, type: 'tel', class: 'form-control'

  %h4 Booking settings
  .content-container.dropshadow
    .row
      .input-container.col-xs-12
        = f.input :hours_to_expiration, required: false, label: "Number of hours before unconfirmed reservation expires", input_html: { class: 'form-control' }
    .row
      .input-container.col-xs-12
        = f.input :minimum_booking_minutes, required: false, label: "Minimum booking minutes (for hourly pricing)", input_html: { class: 'form-control' }
  %h4 Categories
  .content-container.dropshadow
    .row
      .input-container.col-xs-12
        = f.input :multiple_root_categries, required: false, label: "Allow multiple root categories", input_html: { class: 'form-control' }

  %h4 Pricing
  .content-container.dropshadow
    - %w(hourly daily weekly monthly free).each do |price|
      .row
        .input-container.col-xs-4
          = f.input :"action_#{price}_booking", as: :boolean, label: price
        - unless price == 'free'
          .input-container.col-xs-4
            = f.input :"min_#{price}_price", input_html: { class: 'form-control' }
          .input-container.col-xs-4
            = f.input :"max_#{price}_price", input_html: { class: 'form-control' }


  %h4 Calendar
  .content-container.dropshadow
    .row
      .input-container.col-xs-12
        = f.input :action_schedule_booking, as: :boolean, label: 'Schedule Booking', hint: 'Use recurring rules to define recurring services instead of simple availability rules'
        - if f.object.action_schedule_booking?
          = f.simple_fields_for :schedule, f.object.schedule || f.object.build_schedule do |schedule_form|
            = schedule_form.hidden_field :schedule, class: 'icui'

  %h4 Terminology
  .content-container
    .row
      .input-container.col-xs-12
        = f.input :bookable_noun, label: 'Bookable Noun (e.g. Desk)', input_html: { class: 'form-control' }
    .row.dropshadow
      .input-container.col-xs-6
        = f.input :lessor, label: 'Lessor (e.g. host)', input_html: { class: 'form-control' }
      .input-container.col-xs-6
        = f.input :lessee, label: 'Lessee (e.g. guest)', input_html: { class: 'form-control' }

  - if resource.persisted?
    %h4 Bulk Upload CSV Fields
    = render partial: "instance_admin/data_uploads/custom_csv_fields", locals: { f: f }

  %h4 Allowed Action Types
  .content-container.dropshadow
    .row
      .input-container.col-xs-12
        = f.association :action_types, collection: ActionType.pluck(:name, :id), as: :check_boxes, label: "Actions"

  .content-container
    = f.button :submit, 'Save', class: 'btn btn-green pull-right'

