.content-container
  .row
    .table-container.col-xs-12
      %table.table
        %tbody
          - collection.each do |resource|
            %tr
              %td= resource.name.humanize
              %td
                - next unless resource.class == TransactableType
                = link_to t('instance_admin.manage.transactable_types.form_components'), [:instance_admin, @controller_scope, resource, :form_components], class: 'pull-left btn btn-blue btn-bottom-margin'
                = link_to t('instance_admin.manage.transactable_types.data_upload'), [:instance_admin, @controller_scope, resource, :data_uploads], class: 'pull-left btn btn-blue btn-bottom-margin'
                = link_to t('instance_admin.manage.transactable_types.custom_attributes'), [:instance_admin, @controller_scope, resource, :custom_attributes], class: 'pull-left btn btn-blue btn-bottom-margin'
                = link_to t('instance_admin.manage.transactable_types.custom_validators'), [:instance_admin, @controller_scope, resource, :custom_validators], class: 'pull-left btn btn-blue btn-bottom-margin'
                = link_to t('instance_admin.manage.transactable_types.search'), [:search_settings, :instance_admin, @controller_scope, resource], class: 'pull-left btn btn-blue btn-bottom-margin'
              %td= link_to t('instance_admin.edit'), [:edit, :instance_admin, @controller_scope, resource], class: 'pull-right'
              %td
                = link_to t('instance_admin.delete'), [:instance_admin, @controller_scope, resource], method: :delete,
                    data: { confirm: t('instance_admin.are_you_sure') }, class: "pull-right"

  = content_for :header_buttons do
    = link_to t("instance_admin.#{@controller_scope}.#{@translation_key}.new"), new_polymorphic_path([:instance_admin, @controller_scope, resource_class]), class: 'pull-right btn btn-blue'
