<section class="box box-inverse">
  <header data-toggle="collapse" class="location" data-target="#location-{{id}}-details-holder">
    <span class="location-header" data-location-id="{{id}}">{{{name}}}</span>
    <div class="actions right" style="display:none;">
      <a href="" class="btn btn-red btn-small delete" data-id="{{id}}"><span class="ico-close padding">Delete</span></a>
    </div>
  </header>
  <div class="accordion location-content collapse in" id="location-{{id}}-details-holder">
    {{> templates_locations_overview}} 
    {{> templates_locations_photos}} 
    {{> templates_locations_availability}} 
    {{> templates_locations_amenities}} 
    <div class="action"> 
      <a href="" class="btn btn-green btn-large save" data-disable-with="Saving..."><span class="ico-check padding">Save</span></a>
    </div>
  </div>
  <section id="listing-for-{{id}}" class="">{{> templates_listings_list}}</section>
</section>

