- is_template = defined?(template) && template

= f.input :name, :placeholder => 'e.g. Conference Room A', :disabled => is_template
= f.input :quantity, :label => 'Quantity available', :placeholder => 2, :input_html => { :class => "mini" }, :disabled => is_template
= f.input :description, :placeholder => 'Tell us a bit about the listing. Be exciting!', :disabled => is_template

.control-group
  = f.label :daily_price, 'Price per day', :class => 'control-label'

  .controls
    = f.number_field :daily_price, :as => :decimal, :label => 'Price per day', :class => 'mini', :disabled => is_template
    %span.currency-type= (@location || @space).currency
    .inline-rule
      %span or
    = f.check_box :free, :disabled => is_template
    = f.label :free, "Free?"

.control-group{:class => ('error' if f.object.errors[:confirm_reservations].any?)}
  = f.label :confirm_reservations, raw("<abbr title='required'>*</abbr> Confirm bookings"), :class => "control-label required"
  .controls
    .preamble
      Do you want to be able to approve reservations on a case-by-case basis? We'll notify you by email whenever there's a reservation that needs your attention.

    .two-up
      = f.input :confirm_reservations, :as => :radio_buttons, :wrapper => :simple, :input_wrapper => false, :label => false, :disabled => is_template

      - if f.object.errors[:confirm_reservations].any?
        %p.error-block= f.object.errors[:confirm_reservations].to_sentence

.control-group
  = label_tag "Photo", nil, :class => 'control-label'

  .controls
    .preamble
      We recommend that you upload at least one photo for your listing. You can add more photos later from the Dashboard.
    = f.fields_for :photos, Photo.new do |pf|
      = pf.file_field :image, :disabled => is_template
