= simple_form_for [:manage, location, listing], as: 'listing', url: (listing.persisted? ? manage_location_listing_path(location, listing) : manage_location_transactable_type_listings_path(location, @transactable_type)), :html => { :class => "form-horizontal", :multipart => true, :id => 'listing-form' } do |f|

  = render partial: 'listings/listing_form', locals: { f: f, listing: listing, photos: photos}

  .hidden
    - Money::Currency.table.values.each do |c|
      %span{:id => "currency_#{c[:iso_code]}"}
        = c[:symbol]

  - if listing.persisted?
    = link_to manage_location_listing_path(location, listing), :method => :delete, data: { confirm: 'Are you sure?' }, :class => "delete delete-listing" do
      %span.ico-trash.padding
        Delete this #{listing.transactable_type.name}

  = f.submit "Save", :id => 'submit-input', data: { disable_with: 'Submitting...' }
