= simple_form_for [:manage, location, listing], :html => { :class => "form-horizontal", :multipart => true, :id => 'listing-form' } do |f|

  = f.input :name, :label => 'Listing name', :placeholder => 'Examples, "Shared Desks", "Meeting Room", "Private Office"'
  = f.input :description, :label => 'Listing description', :input_html => { :maxlength => 250}, :placeholder => 'Describe the individual listing that will be rented'
  = f.association :listing_type, :label => "Listing type"
  = f.input :quantity, :label => 'Quantity available', :placeholder => 2, :input_html => { :class => "mini" }

  .control-group
    = f.label :daily_price, 'Price', :class => 'control-label'

    .controls
      %span.currency-holder
      = f.number_field :daily_price, :as => :decimal, :label => false, :class => 'mini', :value => ''
      %span.periodicity /day
    .controls 
      %span.currency-holder
      = f.number_field :weekly_price, :as => :decimal, :label => false, :class => 'mini', :value => ''
      %span.periodicity /week
    .controls 
      %span.currency-holder
      = f.number_field :monthly_price, :as => :decimal, :label => false, :class => 'mini', :value => ''
      %span.periodicity /month
    .controls
      .inline-rule
        %span Or
      = f.check_box :free
      = f.label :free, "Free?"

  .control-group
    = render :partial => 'availability_rules/form', :locals => { :f => f }
  = f.input :confirm_reservations, :label => 'Bookings require my confirmation'

  = file_upload_input_with_label('Photos', space_wizard_photo_path, "listing[photos_attributes][0][image]", "Upload Photos") do
    - listing.photos.each do |photo|
      = fileupload_photo_with_input(photo.image_url(:thumb), destroy_space_wizard_photo_path(:id => photo.id), photo.id)

  = f.submit "Save", :id => 'submit-input'
