= render :layout => 'manage/layout' do
  .box
    %h2
      Manage
      %strong="#{@location.name} - #{@listing.name}"

    = render 'manage/listings/navigation', :active => :details

    = render 'shared/context_flash'

    = simple_form_for([:manage, @listing], :html => { :class => 'form-horizontal edit_listing' }) do |f|

      = f.input :name, :hint => "What's the name of this listing?"
      = f.input :quantity, :input_html => { :size => 4, :min => 1 }, :hint => "How many spots do you have?"
      = f.input :daily_price, :as => :decimal, :hint => "How much per seat per day are you charging?"
      = f.input :weekly_price, :as => :decimal, :hint => "How much per seat per week are you charging?"
      = f.input :monthly_price, :as => :decimal, :hint => "How much per seat per month are you charging?"
      = f.input :description, :input_html => {:rows => 8}, :hint => ["What resources are available, i.e. internet, speed, public transport, coffee shops near by, coffee included? Why would people love your office? What kinds of drop-ins/coworkers would you prefer? Conditions of entry (e.g. must participate in stand up or something)"].join(' ').html_safe

      .control-group.indent
        = f.label :confirm_reservations, "Confirm Reservations?", :class => "control-label"
        .hint
          Do you want to be able to approve reservations on a case-by-case basis? We'll notify you by email whenever there's a reservation that needs your attention.
        = f.input :confirm_reservations, :as => :radio_buttons, :wrapper => false, :label => false
      .control-group.indent
        = render 'availability_rules/form', :f => f
      - if current_user.admin?
        = f.association :creator, :select => "Select a creator..."

      .actions
        = f.button :submit

:javascript
  $(function() {
    new LocationFormController($('form.new_listing, form.edit_listing'))
  }
