.control-group
  = f.label :enabled
  .switch-wrapper
    .switch{'data-on-label' => "", 'data-off-label' => ""}
      = f.check_box :enabled

.row-fluid
  .controls.controls-row
    = f.input :name, wrapper_html: { class: 'span6' }, input_html: { class: 'input-block-level' }

.row-fluid
  .controls.controls-row
    = f.input :header, wrapper_html: { class: 'span6' }, input_html: { class: 'input-block-level' }

.row-fluid
  .controls.controls-row
    = link_to(@blog_instance.header.filename, @blog_instance.header.url) if @blog_instance.header.present?

.row-fluid
  .controls.controls-row
    = f.input :facebook_app_id, wrapper_html: { class: 'span6' }, input_html: { class: 'input-block-level' }

.row-fluid
  .controls.controls-row
    = f.input :header_text, placeholder: 'Blog', wrapper_html: { class: 'span6' }, input_html: { class: 'input-block-level' }

.row-fluid
  .controls.controls-row
    = f.input :header_motto, wrapper_html: { class: 'span6' }, input_html: { class: 'input-block-level' }

.row-fluid
  .controls.controls-row
    = f.input :header_logo, wrapper_html: { class: 'span6' }, input_html: { class: 'input-block-level' }

.row-fluid
  .controls.controls-row
    = link_to(@blog_instance.header_logo.filename, @blog_instance.header_logo.url) if @blog_instance.header_logo.present?

.row-fluid
  .controls.controls-row
    = f.input :header_icon, wrapper_html: { class: 'span6' }, input_html: { class: 'input-block-level' }

.row-fluid
  .controls.controls-row
    = link_to(@blog_instance.header_icon.filename, @blog_instance.header_icon.url) if @blog_instance.header_icon.present?

= f.button :submit, "Save", class: 'btn btn-primary pull-right'
