- render_content_outside_container!
- hidden = [:favorite, :rating, :reviews, :user_reviews, :shipping, :refunds] # TODO: Remove when implemented

%section.product-head
  .container-fluid
    .row-fluid
      .span8
        = render partial: 'photos', locals: { product: @product }
      .span4
        %h1= @product.name
        %h1= @product.humanized_price
        - if hidden.include?(:rating)
          %br
        - else
          .rating.product-rating
            %p= t 'buy_sell_market.products.labels.rating'
            = render partial: 'stars', locals: { stars: 5, count: 8 }


        - if @product.total_on_hand > 0
          = form_tag cart_add_product_path, method: :get, class: 'inline' do
            = hidden_field_tag 'product_id', @product.id
            = label_tag 'quantity', t('buy_sell_market.products.labels.qty')
            = select_tag 'quantity', options_for_select((1..10)), class: ''
            - if @product.total_on_hand > 0
              %button.cta.btn.blue.padding11
                = t('buy_sell_market.products.buttons.add_to_cart')
        - else
          .btn.disabled= t('buy_sell_market.products.buttons.out_of_stock')

        .product-social-wrapper
          - unless hidden.include?(:favorite)
            %a{href: '#'}
              .btn.gray
                = image_tag 'themes/buy_sell/heart-gray.png', class: 'social-icon'
                = t 'buy_sell_market.products.buttons.favorite'
          = render partial: 'social_buttons', locals: { product: @product }

%section.product-details
  .container-fluid
    .tab-content-container
      %ul.nav.nav-tabs.page-tabs{role: 'tablist'}
        %li.active
          %a{'data-toggle' => 'tab', href: '#product-details', role: 'tab'}
            = t 'buy_sell_market.products.labels.item_details'
        - unless hidden.include?(:reviews)
          %li
            %a{'data-toggle' => 'tab', href: '#product-reviews', role: 'tab'}
              #{t('buy_sell_market.products.labels.reviews')} (8)
        - unless hidden.include?(:shipping)
          %li
            %a{'data-toggle' => 'tab', href: '#product-shipping', role: 'tab'}
              = t 'buy_sell_market.products.labels.shippigng_policies'
      .tab-content
        %article#product-details.tab-pane.active
          %p= @product.description

        - unless hidden.include?(:reviews)
          %article#product-reviews.tab-pane
            .rating-averages
              .row-fluid.reviews-summary
                .span3
                  %p= t 'buy_sell_market.products.labels.summary'
                .span9
                  .rating
                    = render partial: 'stars', locals: { stars: 5 }
              .row-fluid
                .span3
                  %p= t 'buy_sell_market.products.labels.communication'
                .span3
                  .rating
                    = render partial: 'stars', locals: { stars: 5 }
                .span3
                  %p= t 'buy_sell_market.products.labels.quality'
                .span3
                  .rating
                    = render partial: 'stars', locals: { stars: 5 }
              .row-fluid
                .span3
                  %p= t 'buy_sell_market.products.labels.shipping_speed'
                .span3
                  .rating
                    = render partial: 'stars', locals: { stars: 5 }
                .span3
                  %p= t 'buy_sell_market.products.labels.customer_attention'
                .span3
                  .rating
                    = render partial: 'stars', locals: { stars: 5 }
            .review
              .row-fluid
                .span2
                  = image_tag 'themes/buy_sell/profile-pic.png'
                  %p Angela
                .span10
                  .rating
                    = render partial: 'stars', locals: { stars: 5 }
                    %p.review-date November 2014
                  %p
                    Plants came in great shape and have transferred well so far. There was a nice assortment.
                    I'll be ordering again for more special succulents!
            .see-more
              %a{href: '#'}
                = t 'buy_sell_market.products.labels.more_reviews'

        - unless hidden.include?(:shipping)
          %article#product-shipping.tab-pane
            .row-fluid
              .span3
                %h5= t 'buy_sell_market.products.labels.shipping'
              .span9
                %p Ready to Ship in 3-5 business days
            .row-fluid
              .span3
                %h5= t 'buy_sell_market.products.labels.shipping_costs'
              .span9
                %table
                  %tr
                    %td USA
                    %td.country-price $5.00
                  %tr
                    %td Canada
                    %td.country-price $10.00
                  %tr
                    %td Everywhere else
                    %td.country-price $12.00
            .row-fluid
              .span3
                %h5= t 'buy_sell_market.products.labels.shipping_details'
              .span9
                %p
                  Shipping occurs twice a weeks via USPS 2-3 day priority mail.
                  The reason for twice a week shipping is, due to the plants watering schedule.
                  Once the plant is ordered, we want to make sure that the roots are bare when shipped and
                  dry dirt falls off much easier than wet dirt. Please open your package and unwrap as soon as they arrive.
                  Succulent plants can lose their color and as with all living plants, they really prefer to get out of
                  their boxes and into a good soil mixture. Any of the listings that state plants are shipped bare root
                  means that they are out of the pot and have very little soil. While they can travel that way its best
                  to get them replanted as soonz as they get to their new home.

            - unless hidden.include?(:shipping)
              .row-fluid
                .span3
                  %h5= t 'buy_sell_market.products.labels.refunds_and_exchanges'
                .span9
                  %p
                    All plants are of the highest quality. If you are dissatisfied in any way with your plants,
                    please contact Succulentbabies within 24 hours of delivery. All plants are carefully wrapped prior
                    to shipping to make sure they arrive in great shape. We have no control over your shipment once it
                    has been shipped and are not responsible for lost or damaged items. When shipped in pots, which on
                    occasion we will do, soil can get loose from the pot. Brush off the plant or gently blow to remove
                    the loose soil from the plant and replace the soil around the plants root.

    .vendor-profile
      = render partial: 'administrator', locals: { product: @product, hidden: hidden}
