<main id="main">
  <div class="wrapper-a">
    <header>
      <h2>SIGN UP</h2>
    </header>

    {% if platform_context.available_providers.size > 0 %}
      <span id="service_buttons">
        {% for provider in platform_context.available_providers %}
          <a href="/auth/{{ provider }}?role={{ params.role }}" class="btn btn-large {{ provider }} submit" id="{{ provider }}">
            <i class='icon ico-{{ provider }}'/>
          </a>
        {% endfor %}
      </span>

      <span>{{ 'sign_up_form.or' | translate }}</span>
    {% endif %}

    {% form_for user_signup, url: '/api/users.html', as: user, method: post, html-class: 'no_inheritance' %}
      <input name='return_to' value='/choose-role' type='hidden'/>

      {% input first_name %}
      {% input last_name %}
      {% input email %}

      {% fields_for default_profile %}
        {% fields_for properties, form: default_profile %}
          {% input landline, form: properties, placeholder: '0x xxxx xxxx' %}
        {% endfields_for %}
      {% endfields_for %}

      {% input mobile_number, placeholder: '04xx xxx xxx'  %}
      {% input password %}
      {% input password_confirmation, required: true, placeholder: 'Confirm Password' %}

      {% fields_for default_profile %}
        {% fields_for properties, form: default_profile %}
          {% include 'forms/how_did_you_hear', form: properties %}
        {% endfields_for %}
      {% endfields_for %}

      {% assign label = 'registrations.accept_terms_of_service' | translate %}
      {% include 'forms/checkbox', field_name: 'accept_terms_of_service', object_name: form_object.object_name, label: label %}

      {% fields_for default_profile %}
        {% fields_for properties, form: default_profile %}
          {% assign label = 'I would like to subscribe to the newsletter' %}
          {% include 'forms/checkbox', form_name: 'properties', field_name: 'accept_newsletter', object_name: form_object_properties.object_name, label: label %}
        {% endfields_for %}
      {% endfields_for %}

      {% assign submit_text = 'sign_up_form.buttons.sign_up' | t %}
      {% submit @submit_text, class: 'button-a button-lg', data-disable_with: 'Signing up...' %}
    {% endform_for %}
  </div>
</main>
