= simple_form_for [:instance_admin, :manage, @email_template] do |f|
  %legend
    = link_to 'Manage email templates', instance_admin_manage_email_templates_url
    =  "> #{pretty_path(@email_template.path)}"

  %fieldset
    .row-fluid
      .controls.controls-row
        = f.input :subject, :placeholder => 'Subject', wrapper_html: { class: 'span6' }, input_html: { class: 'input-block-level' }

    %br

    %ul.nav.nav-pills
      %li.active
        %a{href: "#plain-text-email", "data-toggle" => "tab"}  Plain Text Email
      %li
        %a{href: "#html-email", "data-toggle" => "tab"}  HTML Email

    .tab-content
      #plain-text-email.tab-pane.active
        .row-fluid
          .controls.controls-row
            = f.input :text_body, label: false, wrapper_html: { class: 'span12' }, input_html: { class: 'input-block-level' }

      #html-email.tab-pane
        .row-fluid
          .controls.controls-row
            = f.input :html_body, label: false, wrapper_html: { class: 'span12' }, input_html: { class: 'input-block-level' }

    = f.input :path, as: :hidden
    = f.button :submit, 'Save', class: 'btn btn-primary pull-right'
    = link_to 'Cancel', instance_admin_manage_email_templates_url , class: 'btn pull-right'
