.content-container.reports
  %h4
    = t('instance_admin.manage.email_templates.email_templates')
  .row
    .text-container
      = render partial: 'instance_admin/shared/email_templates_search_form'

  .row
    .table-container.col-xs-12
      %table.table
        %tbody
          %tr
            %th= t('instance_admin.manage.email_templates.template')
            %th= t('instance_admin.manage.email_templates.format')
            %th Transactable Types
            %th Locales
            %th
            %th

          - @email_templates.each do |email_template|
            %tr
              %td= pretty_path email_template.path
              %td= email_template.format
              %td= email_template.transactable_types.pluck(:name).join(', ')
              %td= email_template.locales.map(&:display_name).join(', ')
              %td
                .pull-right
                  = link_to t('instance_admin.edit'), edit_instance_admin_manage_email_template_path(email_template)
              %td
                .pull-right
                  = link_to t('instance_admin.destroy'), instance_admin_manage_email_template_path(email_template), method: :delete,
                      data: { confirm: t('instance_admin.are_you_sure') }

.content-container
  %h4= t('instance_admin.manage.email_templates.customize_default')

  .row
    .table-container.col-xs-12
      %table.table
        %tbody
          %tr
            %th= t('instance_admin.manage.email_templates.template')
            %th{colspan: 2}= t('instance_admin.manage.email_templates.customize')

          - @not_customized_email_templates_paths.each do |email_template_path, formats|
            - next if formats.count == 2
            %tr
              %td= pretty_path email_template_path
              - (%w(html text) - formats).each do |format|
                %td= link_to format, new_instance_admin_manage_email_template_path(path: email_template_path, email_format: format)


= content_for :header_buttons do
  = link_to t('instance_admin.manage.email_templates.add_email_template'), new_instance_admin_manage_email_template_path, class: 'pull-right btn btn-blue'

