%h4 Manage Email Templates

.content-container
  .row
    = link_to 'Add Email Template', new_instance_admin_manage_email_template_path, class: 'pull-right btn btn-green'

.content-container
  .row
    .table-container.col-xs-12.dropshadow
      %table.table
        %tbody
          %tr
            %th Template
            %th Format
            %th
            %th

          - @email_templates.each do |email_template|
            %tr
              %td= pretty_path email_template.path
              %td= email_template.format
              %td
                .pull-right
                  = link_to 'Edit', edit_instance_admin_manage_email_template_path(email_template)
              %td
                .pull-right
                  = link_to 'Destroy', instance_admin_manage_email_template_path(email_template), method: :delete, confirm: 'Are you sure?'


