- if current_user && @transactable_type.display_saved_search? && HiddenUiControls.find('dashboard/saved_searches').visible?

  = link_to t('saved_searches.buttons.save_search'), '#', :'data-save-search' => true, class: 'saved-search-btn btn btn-medium btn-gray'

  - content_for :modals do
    #save-search-modal.modal.fade{:'data-save-search-modal' => true}
      .modal-dialog
        .modal-body
          %button.close{type: 'button', :'data-dismiss' => 'modal', :'aria-label' => 'close'}
            %span{:'aria-hidden' => 'true'} &times;
          .content
            %h4.modal-title= t('saved_searches.dialog.title')
            %p= t('saved_searches.dialog.description')
          .controls
            = text_field_tag :title, nil, :'data-save-search-title' => true, placeholder: t('saved_searches.dialog.title_placeholder')
            %br
            %button.btn.btn-medium.btn-green.btn-saved-search-title{type: 'button', :'data-dismiss' => 'modal', :'data-save-search-submit' => true}= t('general.save')

    #save-search-status-modal.modal.fade{:'data-save-search-status-modal' => true}
      .modal-dialog
        .modal-body
          %button.close{type: 'button', :'data-dismiss' => 'modal', :'aria-label' => 'close'}
            %span{:'aria-hidden' => 'true'} &times;
          .content
            %h4.modal-title{:'data-save-search-status-success' => true}
              = t('saved_searches.dialog.search_saved', title: ':title')
            %h4.modal-title{:'data-save-search-status-error' => true, style: 'display: none;'}
              = t('saved_searches.dialog.search_failed_to_save', title: ':title')
            = t('saved_searches.dialog.dashboard_link', link: link_to(t('saved_searches.dialog.dashboard'), dashboard_saved_searches_path, target: '_blank')).html_safe
