%h1
  = resource.name
  .pull-right
    = link_to 'Edit', edit_global_admin_instance_transactable_type_path(resource.instance, resource), class: 'btn'

%h4 Pricing
%table.table
  %tr
    %td= resource.pricing_validation

%h4 Attributes
%table.table
  %tbody
    %tr
      %th Name
      %th Label
      %th Type
      %th Html tag
      %th Placeholder
      %th Prompt
      %th Default value
      %th Public?
      %th Validation rules
      %th Valid values
      %th Input html options
      %th Wrapper html options
      %th Hint
      %th
    - resource.custom_attributes.each do |attr|
      %tr
        %td= attr.name
        %td= attr.label
        %td= attr.attribute_type
        %td= attr.html_tag
        %td= attr.placeholder
        %td= attr.prompt
        %td= attr.default_value
        %td= attr.public
        %td= attr.validation_rules
        %td= attr.valid_values
        %td= attr.input_html_options
        %td= attr.wrapper_html_options
        %td= attr.hint
        %td= link_to 'Edit', edit_global_admin_transactable_type_custom_attribute_path(resource, attr), class: 'btn'

= render :partial => 'admin/custom_attributes/index', :locals => { :transactable_type => resource }
