<div class="span4 result-item" data-product-id="{{offer.id}}">
  <a class="item" href="{{offer.path}}">
    <div class="item-img"><img src="{{product.photo_url}}" alt="{{ offer.name }}" title="{{ offer.name }}" /></div>
    <div class="details clearfix">
      <p>{{ offer.name }}</p>
      <p class="name">{{ offer.company.name }}</p>
      <p class="price">{{ offer.display_price }}</p>
    </div>
  </a>
</div>
