%tr
  %td= resource.name
  %td= resource.email
  %td= resource.created_at.strftime("%b %-d, %Y")
  %td
    = link_to "Login As", login_as_instance_admin_manage_user_path(resource), :method => :post, :confirm => "This will log you out and re-log you in as this user"
  %td
    = link_to "Delete", instance_admin_manage_user_user_bans_path(resource), :method => :post, :confirm => "You will prohibit this user from logging in to your marketplace, do you want to continue?"
