- if !f.object.is_trusted? && f.object.approval_requests.first

  - unless @approval_request_attachments_js
    - content_for :script do
      :javascript
        $(function() {
          new ApprovalRequestAttachmentsController($('.fileupload'));
        });
    - @approval_request_attachments_js = true

  = f.simple_fields_for :approval_requests, f.object.approval_requests.first do |approval_request_form|
    - if approval_request_form.object.required_written_verification
      = approval_request_form.input :message, required: true
    = approval_request_form.input :approval_request_template_id, as: :hidden

    - approval_request_form.object.approval_request_template.approval_request_attachment_templates.each do |attachment_template|
      - attachment = current_user.approval_request_attachments.for_request_or_free(approval_request_form.object.id).for_attachment_template(attachment_template.id).first
      = file_upload_input_with_label(attachment_template.label, 'file', approval_request_attachments_path(approval_request_attachment_template_id: attachment_template.id), nil, t('general.browse'), 'no-multiple' => true, upload_type: 'attachment', file_types: '(\.|\/)(' + PrivateFileUploader.new.extension_white_list.join('|') + ')$', wrong_file_message: t('approval_request_attachments.wrong_file_message'), required: attachment_template.required?, error: f.object.errors.present? && attachment.nil? && attachment_template.required? ? t('approval_request_attachments.please_upload_document') : nil, hint: attachment_template.hint, uploaded_content_placement: :right) do
        - if attachment && attachment['file']
          = render 'approval_requests/uploaded_attachment', attachment: attachment
