- content_for :user_blog_js do
  = javascript_include_tag 'user_blog/pagination'

.row-fluid.registrations-show
  .span8.offset2
    = render partial: 'header'

    .box.clearfix
      .row-fluid
        .span8.info
          #user-blog-posts
            - if @user.has_published_blogs?
              = render partial: '/user_blog/blog_posts/excerpt', collection: @blog_posts, as: :blog_post

        = render partial: 'sidebar'

      .row-fluid
        .span5.offset4
          #infinite-scrolling
            = will_paginate @blog_posts

