.row-fluid.registrations-show
  .span8.offset2
    = render partial: 'header'

    .box.clearfix
      .span8.info
        %h2= @blog_post.title
        %span
          = @blog_post.author_and_date

        %div= @blog_post.content.html_safe

      = render partial: 'sidebar'
