---
name: Lend
---

<div class="wrapper-a">
  <main>
    <header class="section-header">
      <h2>Lend</h2>
    </header>

    <div class="boxes boxes-vertical">
      <div class="box">
        <div class="box-left">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M0 6.6v18.9c0 2.8 2.3 5.1 5.1 5.1h21.7c2.8 0 5.1-2.3 5.1-5.1V6.6c0-2.8-2.3-5.1-5.1-5.1H5.1C2.3 1.4 0 3.7 0 6.6zm5.1-4.2h21.7c2.3 0 4.1 1.8 4.1 4.1v18.9c0 2.3-1.8 4.1-4.1 4.1H5.1c-2.3 0-4.1-1.8-4.1-4.1V6.6c0-2.3 1.9-4.2 4.1-4.2z"/><path d="M27.1 8.1c.9 0 1.6-.6 1.7-1.5v-.3c-.1-.9-.8-1.6-1.7-1.6-.9 0-1.7.7-1.7 1.6v.3c0 .9.8 1.5 1.7 1.5zm-.8-1.8c0-.4.3-.7.7-.7.4 0 .7.3.7.7v.1c-.1.3-.3.6-.7.6-.4 0-.7-.3-.7-.6v-.1c0 .1 0 0 0 0zm-3.6 1.8c.9 0 1.6-.7 1.7-1.6v-.3c-.1-.9-.8-1.6-1.7-1.6-.9 0-1.6.7-1.7 1.6v.4c0 .9.8 1.5 1.7 1.5zM22 6.3c0-.4.3-.7.7-.7.4 0 .7.3.7.7v.2c0 .4-.3.6-.7.6-.4 0-.7-.3-.7-.6v-.2c0 .1 0 0 0 0zm-3.7 1.8c.9 0 1.6-.7 1.7-1.6v-.3c-.1-.9-.8-1.6-1.7-1.6-.9 0-1.7.7-1.7 1.6v.3c.1 1 .8 1.6 1.7 1.6zm-.7-1.8c0-.4.3-.7.7-.7.4.1.7.4.7.7v.2c0 .4-.3.6-.7.6-.4 0-.7-.3-.7-.6v-.2c0 .1 0 0 0 0zM14 11.6H4.4v7.1H14v-7.1zm-1.1 6.1H5.4v-5.1h7.5v5.1zm-8.2 6h23.1v1H4.7zm0-3h23.1v1H4.7zm11.5-3h11.6v1H16.2zm0-3.1h11.6v1H16.2zm0-3h11.6v1H16.2z"/></svg>
          <h3>LIST IT</h3>
        </div>
        <div class="box-right">
          <p>
            Photograph your item and add description details. You can choose to have your photograph edited by our professional graphic designers for a small fee.
          </p>
        </div>
      </div>
      <div class="box">
        <div class="box-left">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M20 4.9h-8L9.2 3 0 16l2.1 1.4-1 .7L3.8 22l.7-.5 2.1 3.1 1.5-1 2.1 3.1 1.5-1 2.1 3.1 2.1-1.5 2.1 1.5 2.1-3.1 1.5 1 2.2-3.1 1.5 1 2.1-3 .7.5 2.8-3.9-1-.7L32 16 22.8 3 20 4.9zM4.1 20.6l-1.5-2.2L5 16.7l1.5 2.2-2.4 1.7zm3.4 2.2l-.6.4L5.4 21 9 18.5l1.5 2.2-3 2.1zm3 2.5L9 23.1l3.3-2.3 1.5 2.2-3.3 2.3zm3.6 2l-1.5-2.2 2.4-1.7 1.5 2.2-2.4 1.7zm15.3-8.9l-1.5 2.2-2.8-2-5.4-3.8-.6.9.9.6 6.6 4.6-1.5 2.2-1-.7-.9-.7-4.5-3.2-.6.9 5 3.5-1.5 2.2-.6-.4-2-1.2-1.8-1.2-.3.4-.3.4 2.3 1.6.6.4-1.5 2.2-1-.7 1.1-.8-2.1-3-.6-.9-.6.4-.1-.2-2-2.9-1.2.8-2.1-3.1-1.8 1.3-2.1-3.1L3 16.8l-1.5-1.1 8-11.4L11.7 6h6.9l-.3.2L10 9.4l-.7 6.4 4 .6 1.2-3.5.4-.1H21.3l.8.5 6.9 4.8.4.3zm-.4-1.6l-7.3-5.1h-6.9l-1.2.2-1.1 3.3-2.2-.3.5-4.7 7.7-3 3.9-2.7 8 11.4-1.4.9z"/></svg>
          <h3>ACCEPT IT</h3>
        </div>
        <div class="box-right">
          <p>
            Wait for a borrower to request the item using our secure online system. You can view borrowers’ previous rental history, review score and choose to place a bond over the borrower’s credit card.
          </p>
        </div>
      </div>
      <div class="box">
        <div class="box-left">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="-50 -55.749 100 111.498"><path d="M47.993 6.548H31.345a2.007 2.007 0 0 1 0-4.013h14.643v-20.497c0-2.367-2.176-4.293-4.85-4.293H24.119a2.006 2.006 0 1 1 0-4.012h17.019c4.887 0 8.862 3.726 8.862 8.306V4.543a2.008 2.008 0 0 1-2.007 2.005m-78.354 0h-17.633A2.007 2.007 0 0 1-50 4.541v-22.503c0-4.581 3.976-8.306 8.864-8.306h17.26a2.006 2.006 0 1 1 0 4.012h-17.26c-2.674 0-4.851 1.926-4.851 4.293V2.534h15.626a2.006 2.006 0 0 1 0 4.014"/><path d="M33.603 55.749h-67.204c-4.195 0-7.609-3.208-7.609-7.148V8.44a2.007 2.007 0 0 1 4.013 0v40.158c0 1.729 1.613 3.138 3.596 3.138h67.204c1.979 0 3.592-1.407 3.592-3.138V8.44a2.007 2.007 0 0 1 4.013 0v40.158c-.001 3.943-3.412 7.151-7.605 7.151"/><path d="M.629 39.361c-.336 0-.674-.089-.989-.267a1.816 1.816 0 0 1-.666-.64c-3.83-3.207-17.503-18.086-20.369-23.576-3.578-6.854-1.849-16 3.854-20.386 2.065-1.59 4.46-2.432 6.925-2.432 4.439 0 8.476 2.653 10.795 7.1.229.438.418.705.556.861.135-.156.327-.422.557-.862 2.319-4.444 6.354-7.1 10.795-7.1 2.465 0 4.857.842 6.924 2.434 5.701 4.384 7.43 13.529 3.854 20.384C19.993 20.381 6.261 35.32 2.468 38.479c-.17.258-.4.47-.672.617a2.044 2.044 0 0 1-.947.252 2 2 0 0 1-.22.013M-10.616-3.925c-1.572 0-3.119.553-4.478 1.599-4.232 3.255-5.463 10.14-2.745 15.349C-15.371 17.752-3.083 31.132.734 34.702c3.813-3.565 16.104-16.95 18.571-21.679C22.024 7.814 20.792.929 16.563-2.326c-1.359-1.047-2.906-1.6-4.478-1.6-2.916 0-5.622 1.848-7.237 4.942C3.474 3.649 1.853 4.202.734 4.202c-1.12 0-2.743-.555-4.114-3.186-1.615-3.093-4.318-4.941-7.236-4.941m9.778-12.263c-.142 0-.283-.015-.422-.046-3.003-.646-29.511-6.486-35.749-12.035-3.344-2.975-5.225-6.983-5.293-11.285-.069-4.287 1.67-8.334 4.897-11.396 3.259-3.095 7.624-4.799 12.29-4.799 4.454 0 8.676 1.575 11.89 4.434C-7.105-45.87-.072-22.678 1.016-18.998a2.008 2.008 0 0 1-1.838 2.811l-.016-.001m-24.277-35.548c-3.633 0-7.017 1.313-9.528 3.697-2.402 2.281-3.698 5.271-3.647 8.422.051 3.166 1.454 6.131 3.948 8.351 4.064 3.615 21.174 8.162 30.577 10.356-2.708-8.585-8.124-23.845-12.127-27.407-2.479-2.205-5.754-3.419-9.223-3.419"/><path d="M.837-16.188a2.007 2.007 0 0 1-1.924-2.571c.805-2.744 8.038-26.974 14.311-32.556 3.215-2.859 7.438-4.434 11.892-4.434 4.666 0 9.03 1.705 12.29 4.799 3.227 3.062 4.966 7.109 4.898 11.396-.069 4.302-1.949 8.31-5.293 11.285-6.239 5.549-32.748 11.388-35.75 12.035a1.953 1.953 0 0 1-.424.046m24.278-35.548c-3.47 0-6.744 1.215-9.224 3.42C11.89-44.755 6.474-29.495 3.767-20.91c9.402-2.194 26.512-6.741 30.576-10.356 2.496-2.22 3.897-5.186 3.948-8.351.052-3.15-1.245-6.141-3.647-8.421-2.514-2.385-5.896-3.698-9.529-3.698"/><path d="M.121-1.185a2.005 2.005 0 0 1-2.006-2.006v-15.681a2.005 2.005 0 1 1 4.012 0V-3.19A2.004 2.004 0 0 1 .121-1.185"/></svg>
          <h3>PACK IT</h3>
        </div>
        <div class="box-right">
          <p>
            Carefully pack the item (see here) ready for collection by the courier. Make sure you add the shipping details to the front of the box and ideally print the return shipping label and include in the box.
          </p>
        </div>
      </div>
      <div class="box">
        <div class="box-left">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="-50 -37.35 100 74.699"><path d="M46.479 15.033h-5.263a13.653 13.653 0 0 0-10.71-5.222 13.653 13.653 0 0 0-10.717 5.222h-2.53v-35.291h20.438L46.49-.53l-.011 15.563zm0 10.311h-2.364c.072-.583.161-1.151.161-1.765a13.807 13.807 0 0 0-.97-5.017h3.172l.001 6.782zM30.507 33.84c-5.67 0-10.269-4.589-10.269-10.261 0-5.67 4.599-10.258 10.269-10.258 5.662 0 10.263 4.587 10.263 10.258 0 5.672-4.602 10.261-10.263 10.261m-45.217-8.496c.071-.583.178-1.151.178-1.765 0-1.721-.332-3.416-.974-5.017h33.194a13.88 13.88 0 0 0-.97 5.017c0 .613.093 1.182.172 1.765h-31.6zM-28.317 9.811a13.652 13.652 0 0 0-10.71 5.222h-7.45v-48.854H13.73v48.854h-31.323a13.682 13.682 0 0 0-10.724-5.222m0 24.03c-5.669-.012-10.255-4.612-10.249-10.269.01-5.673 4.61-10.261 10.275-10.25 5.671 0 10.261 4.607 10.251 10.269-.007 5.672-4.611 10.261-10.277 10.25m-18.16-8.497v-6.793h5.361a13.88 13.88 0 0 0-.974 5.029c0 .613.097 1.182.167 1.764h-4.554zm63.736-49.109V-37.35H-50v66.225h8.969c2.932 7.025 11.012 10.342 18.034 7.403a13.783 13.783 0 0 0 7.411-7.403H17.78c2.927 7.025 11.004 10.342 18.032 7.403a13.789 13.789 0 0 0 7.414-7.403H50V-.897L39.982-23.765H17.259z"/><path d="M18.646-6.058v3.526h14.575L34.762.723l2.324 4.989h8.016V2.193h-5.781l-.011-.042-3.855-8.208-16.809-.001z"/></svg>
          <h3>SEND IT</h3>
        </div>
        <div class="box-right">
          <p>
            Simply schedule a pick up and your dress will be collected from your home, office or hotel at a scheduled time.
          </p>
        </div>
      </div>
    </div>
    <h3>
      How much does it cost to list? 
    </h3>
    <p>
      List your designer items for free! You will only be charged a service fee once you accept a request from a Borrower. The Volte service fee is 15% of the rental fee. Please see our Terms of Service for more information on fees.
    </p>
    <h3>
      Where do I list my designer items?
    </h3>
    <p>
      Listing your designer items is free and can be done in a few simple steps. Initially login and register as a user on The Volte. Before listing a designer item ensure you are signed in and then click 'List Your Dress' at the top of the page. Once you confirm the listing, you will be able to view and edit the listing in ’Your Listings’ in your Dashboard. 
    </p>
    <h3>
      How much should I advertise my dress for? 
    </h3>
    <p>
      The Rental Price of your designer item is completely up to you. We suggest you take into account the condition of the item and the age of the item when determining the rental fee. Sometimes Lenders may also browse other comparable listings, to get an idea of market rental price for specific items. Generally if an item is in ‘as new’ condition the usual rate is approximately 25% of the recommended retail price.
    </p>
    <h3>
      What photos should I upload? 
    </h3>
    <p>
      Borrowers prefer impeccably presented photos of your designer items. Try to upload a full length photo of the front and back of the dress as well as any photos that show specific detail on the dress. 
    </p>
    <ul>
      <li>
        The following photos are acceptable: 
      </li>
      <li>
        Photos of you wearing the dress at an event 
      </li>
      <li>
        Clean, well lit photos  
      </li>
      <li>
        Professional photos  
      </li>
    </ul>
    <h3>
      The following photos are unacceptable: 
    </h3>
    <ul>
      <li>
        Photos with multiple people in it. This is confusing for Borrowers to know which dress is actually available 
      </li>
      <li>
        Photos of your dress on a coat hanger, floor, rack etc. 
      </li>
      <li>
        Photos of the same dress but in a different colour 
      </li>
      <li>
        Photos of a similar dress
      </li>
    </ul>
    <h3>
      How do I list multiple sizes? 
    </h3>
    <p>
      If you own the same garment in multiple sizes, you are able to list multiple sizes for the same photograph. This item will come up in searches for all the sizes listed. 
    </p>
    <h3>
      Are there any restrictions on what can be listed? 
    </h3>
    <p>
      The Volte platform exists to provide value to users by allowing users to tap into their under-utilized high-end designer clothes. Most designer dresses, outerwear, handbags, accessories and millinery are accepted so long as it meets the following criteria: 
    </p>
    <ul class="full-paragraph">
      <li>
        Minimum RRP (Recommended Retail Price) is above $150 
      </li>
      <li>
        The item is in excellent condition 
      </li>
    </ul>
    <p>
      The below does not meet The Volte listing criteria: 
    </p>
    <ul class="full-paragraph">
      <li>
        Casual wear is not currently accepted 
      </li>
      <li>
        Item has a RRP or sale price under $150 
      </li>
      <li>
        Items in poor condition 
      </li>
      <li>
        Items with noticeable stains, pulls or tears  
      </li>
      <li>
        Item infringes on the copyright of any person including fake designer items
      </li>
    </ul>
    <p>
      There is no limit to how many items you can list, so long as the above is adhered to. 
    </p>
    <p>
      Please ensure that the description and sizing of the dress is accurate. 
    </p>
    <p>
      The Volte reserves the right to remove listings and/or deactivate or cancel a user’s account.  Please refer to our Terms of Use for more details. 
    </p>
    <h3>
      I have many items I want professional photographed. Do you offer this service?
    </h3>
    <p>
      We can organize professional photoshoots for sophisticated Lenders with many items. Please contact us at <a href="mailto:{{ platform_context.support_email }}">{{ platform_context.support_email }}</a>
    </p>
    <h3>
      How does the Availability Calendar work? 
    </h3>
    <p>
      Your Availability Calendar for each of your designer listings allows Borrowers to view when your dress is available and gives them the ability to send you an accurate Booking Request. Dates are automatically blocked out ensuring you never get double booked. 
    </p>
    <p>
      Each of your designer listings has its own unique Availability Calendar and allows you to block out specific dates of when your dress is not available for Bookings (i.e. you are wearing it!). 
    </p>
    <p>
      Your Calendar must be up to date at all times to ensure all Booking Requests are accurate.   
    </p>
    <h3>
      Should I hold a security bond over my item?
    </h3>
    <p>
      We recommend that all Lenders hold a security bond over their items. This ensures you can claim compensation from the Borrower if the item is damaged or in rare circumstances not returned. The amount of the security bond is up to the Lender.
    </p>
    <p>
      Please note that The Volte does not take the amount of the bond or place a charge on the credit card for the bond amount. The Volte stores the Borrower's credit card details on its secure, encrypted payment system in the event the Lender needs to call on the bond. If the Lender wishes to claim the bond, the Lender must make a claim within 5 days of return of the item or before the item is re-rented, whichever is earlier If a claim is made, The Volte will mediate and collect payment from the Borrower, as necessary.
    </p>
    <h3>
      What if I receive a try-on request from a Borrower?
    </h3>
    <p>
      Currently Lenders are unable to offer a try on service through The Volte platform. You can provide the Borrower with further information such as exact measurements.
    </p>
    <p>
      If this is a service you would like to provide your customers please email us at <a href="mailto:{{ platform_context.support_email }}">{{ platform_context.support_email }} </a>and we’ll look into it for the future.
    </p>
    <h3>
      How do I know when and where to courier the dress? 
    </h3>
    <p>
      After you have accepted a Booking Request, you can view all the details for the booking in Reservations - Lender on your Dashboard.  
    </p>
    <h3>
      How do I pack my item for the courier?
    </h3>
    <p>
      Please pack your designer item carefully and securely. We recommend using reusable plastic containers. Please see our courier page for more information on packing your items.
    </p>
    <h3>
      How many items can I upload on The Volte? 
    </h3>
    <p>
      You can upload as many listings as you like. 
    </p>
    <h3>
      Can you sell your designer items on The Volte? 
    </h3>
    <p>
      Coming soon!
    </p>
    <h3>
      Is it possible to rent designer items all over Australia? 
    </h3>
    <p>
      Yes – we are a national marketplace and you can borrow and lend designer items from all over Australia.  As a user you must take into consideration the interstate timing factor in relation to the courier delivery times.  
    </p>
    <h3>
      What happens if someone doesn’t return my dress? 
    </h3>
    <p>
      We send Borrowers a reminder email when your item is due back for return, so it is likely already on its way back to you. 
    </p>
    <p>
      If you would like to request confirmation that your dress is on its way back to you, we encourage you to contact your Borrower through The Volte marketplace by sending them a message. 
    </p>
    <p>
      If you have attempted to contact the Borrower on multiple occasions with no success, contact <a href="mailto:{{ platform_context.support_email }}">{{ platform_context.support_email }}</a>.
    </p>
    <p>
      Remember the option to hold a security bond is there to protect you and your items in this sort of rare situation.
    </p>
    <h3>
      Dry-cleaning 
    </h3>
    <p>
      We recommend the Lender takes care of the cleaning of the designer item, that way you get the dress back quickly and can have quality control over the cleaning. We recommend the Lender includes the price of the dry-cleaning in the Rental Fee.
    </p>
    <p>
      We are currently looking into an affiliated dry cleaner business for our website so watch this space. 
    </p>
    <h3>
      What happens if my dress gets damaged? 
    </h3>
    <p>
      We recommend Lenders have a security bond to cover any damage that might occur. The security bond will vary from item to item according to the condition and value of the dress. 
    </p>
    <p>
      Important – Please note: The Volte does not take responsibility for loss or damage to items rented out via the website.  The Volte simply provides the online marketplace for Users to rent their designer items to each other.  See our Terms of Service for more details. 
    </p>
    <h3>
      What if there is a dispute between a Borrower and a Lender? 
    </h3>
    <p>
      In the event of a dispute, Borrowers and Lenders must always first contact each other in good faith and with every intention of satisfactorily resolving the dispute with each other. 
    </p>
    <p>
      If a dispute cannot be resolved, either the Lender or Borrower must contact The Volte within 48 hours of the dispute arising and provide details including when it first arose, evidence of the attempts to resolve the dispute and a description of the damage, photos of the damage including original receipts, receipts for replacement, and/or an estimate for repair on letterhead by the appropriate repair company.  
    </p>
  </main>
</div>

