%header#listing_search.container-fluid.mixed
  .header-inner
    %form.search_results{:action => search_path(v: 'mixed'), :method => "get"}
      = hidden_field_tag :lntype, @searcher.search.lntype
      = hidden_field_tag :lgtype, @searcher.search.lgtype
      = hidden_field_tag :lgpricing, @searcher.search.lgpricing
      .row-fluid
        .span12
          .search-container
            %input#search{:name => "loc", :placeholder => "enter location", :type => "text", :value => @searcher.query, :class => "query", :autocomplete => "off"}
            .search-loop-icon
              %span.ico-search
            .geolocation
              %span.ico-crosshairs
          .search-icon.btn.btn-green
            %span.ico-search

      - search_geofields.each do |geofield|
        = hidden_field_tag geofield, params.fetch(geofield, '')
      = hidden_field_tag :sort, @searcher.search.sort
      = hidden_field_tag :v, 'mixed'
      = hidden_field_tag :ignore_search_event, 0
      = hidden_field_tag :page, 1
      = hidden_field_tag :per_page, per_page
