%header#listing_search.container-fluid.mixed
  .header-inner
    %form.search_results{:action => search_path(v: result_view), :method => "get"}
      - search_geofields.each do |geofield|
        = hidden_field_tag geofield, ''
      = hidden_field_tag :v, result_view
      = hidden_field_tag :ignore_search_event, 0
      = hidden_field_tag :page, 1
      .row-fluid
        .span12
          .search-container 
            %input#search{:name => "q", :placeholder => "enter location", :type => "text", :value => query, :class => "query", :autocomplete => "off"}
            .search-loop-icon
              %span.ico-search
            .geolocation
              %span.ico-crosshairs
          .search-icon.btn.btn-green
            %span.ico-search
          - if listings.any?
            #search_results_count.locations-count
              %span= result_count
              locations
