- location_counter = listing_counter
%article.location{:'data-id' => listing.id, :'data-name' => listing.name, :'data-latitude' => listing.latitude, :'data-longitude' => listing.longitude, :'data-offset' => current_page_offset}
  .location-counter= current_page_offset + listing_counter + 1
  - cache "search-listings-#{listing.id}-#{search.lgpricing_filters.join('-')}-#{listing.updated_at.utc.try(:to_s, :number)}" do
    .row-fluid.header
      .span5.location-photos-container
        .location-photos
          - if platform_context.instance.user_based_marketplace_views?
            = link_to transactable_type_location_listing_path(listing.transactable_type, listing.location, listing) do
              - if listing.administrator.avatar?
                = image_tag listing.administrator.avatar.url(:big)
              - else
                = image_tag space_listing_placeholder_path(:height => 254, :width => 410)
          - else
            .carousel{id: "location-gallery-#{listing.id}", :'data-interva' => "false"}
              .carousel-inner
                - if listing.photos_metadata.try(:any?)
                  - listing.photos_metadata.each_with_index do |photo_metadata, index|
                    .item{:class => ("active" if index == 0)}
                      = link_to transactable_type_location_listing_path(listing.transactable_type, listing.location, listing) do
                        = image_tag photo_metadata[:space_listing], :alt => listing.name
                - else
                  .item{:class => "active"}
                    = link_to transactable_type_location_listing_path(listing.transactable_type, listing.location, listing) do
                      = image_tag space_listing_placeholder_path(:height => 254, :width => 410), :title => listing.name, :alt => listing.name
              - if listing.photos_metadata.try(:count).to_i > 1
                .carousel-nav
                  = link_to "", "#location-gallery-#{listing.id}", :class => "carousel-control left ico-chevron-left", 'data-slide' => 'prev'
                  = link_to "", "#location-gallery-#{listing.id}", :class => "carousel-control right ico-chevron-right", 'data-slide' => 'next'
      .span5.location-data
        %h2= link_to listing.name, transactable_type_location_listing_path(listing.transactable_type, listing.location, listing)
        .subheader
          with
          = platform_context.instance.user_based_marketplace_views? ? listing.administrator.name : listing.company.name
          @
          = listing.location.street

        .price-and-types
          .location-price
            = individual_listing_price_information(listing, search.lgpricing_filters)
      .span2.reserve-listing.padding-top.pull-right
        = link_to 'reserve', transactable_type_location_listing_path(listing.transactable_type, listing.location, listing), class: "btn btn-green btn-small"
