.row-fluid.listing{ data: { id: listing.id, name: listing.name, latitude: listing.latitude, longitude: listing.longitude, location: listing.location_id } }
  .span3.listing-main-photo
    .photo
      - if listing.photos_metadata.try(:count).to_i > 0 && photo_metadata = listing.photos_metadata.first
        = image_tag photo_metadata[:space_listing], :title => listing.name, :alt => listing.name
      - else
        = image_tag space_listing_placeholder_path( :width => 410, :height => 254 ), :title => listing.name, :alt => listing.name
  .listing-name-description{class: listing.capacity.blank? ? 'span5 without-capacity' : 'span3'}
    %span.bold= "#{listing.name}" + ( (listing.quantity && listing.quantity > 1) ? " (#{listing.quantity})" : "" )
    %p= truncate_with_ellipsis listing.description, 150
  - if not listing.capacity.blank?
    .span2.padding-top.listing-capacity
      %span.bold= listing.capacity
      seats
  .span2.listing-price.padding-top
    = listing_price_information(listing, search.lgpricing_filters)
  .span2.reserve-listing.padding-top
    = link_to 'reserve', location_listing_path(location, listing), class: "btn btn-green btn-small"

