- listings_by_type = location.searched_locations ? location.searched_locations.group_by(&:listing_type) : {}

%article.location{:'data-id' => location.id, :'data-name' => location.name, :'data-latitude' => location.latitude, :'data-longitude' => location.longitude, :'data-offset' => current_page_offset}
  .location-counter= current_page_offset + location_counter + 1
  .row-fluid.header
    .span5.location-photos-container
      .location-photos
        .carousel{id: "location-gallery-#{location.id}", :'data-interva' => "false"}
          .carousel-inner
            - if location.photos.count.zero?
              .item{:class => "active"}
                = link_to location_path(location) do
                  = image_tag space_listing_placeholder_path(:height => 254, :width => 410), :title => location.name, :alt => location.name
            - else
              - location.photos.each_with_index do |photo, index|
                - if photo
                  .item{:class => ("active" if index == 0)}
                    = link_to location_path(location) do
                      = image_tag photo.image_url(:space_listing), :alt => location.name
          - if location.photos.count > 1
            .carousel-nav
              = link_to "", "#location-gallery-#{location.id}", :class => "carousel-control left ico-chevron-left", 'data-slide' => 'prev'
              = link_to "", "#location-gallery-#{location.id}", :class => "carousel-control right ico-chevron-right", 'data-slide' => 'next'
    .span7.location-data
      %h2= link_to location.name, location_path(location)
      - if display_search_result_subheader_for?(location)
        .subheader
          with
          = location.company.name
          @
          = location.street

      .price-and-types
        .location-price
          = location_price_information(location, search.lgpricing_filters)
        %ul.nav.nav-tabs
          - listings_by_type.each_with_index do |(listing_type, listings), i|
            %li{class: i.zero? ? 'active' : ''}
              %a{"data-toggle" => "tab", href: "#listing-types-#{location.id}-#{listing_type.id}"}
                = listing_type.name.pluralize
                (#{listings.count})

  .tabbable 
    .tab-content
      - listings_by_type.each_with_index do |(listing_type, listings), i|
        .tab-pane{id: "listing-types-#{location.id}-#{listing_type.id}", class: i.zero? ? 'active' : '' }
          .title
          = render partial: 'search/mixed/listing', collection: listings, locals: { location: location, search: search }
