%article.location{:'data-id' => location.id, :'data-name' => location.name, :'data-latitude' => location.latitude, :'data-longitude' => location.longitude, :'data-offset' => current_page_offset}
  .location-counter= current_page_offset + location_counter + 1
  - cache "search-#{searcher.transactable_type.try(:id)}-locations-#{location.listings.map(&:id).join('-')}-#{search.lgpricing_filters.join('-')}-#{([location] + location.listings).max_by(&:updated_at).try(:updated_at).try(:utc).try(:to_s, :number)}-#{location.try(:creator).try(:updated_at).try(:utc).try(:to_s, :number)}" do
    - listing_types_data = location.listings.inject({}) do |listing_types_data, listing|
      - listing_types_data["#{listing.listing_type}"] ||= { :name => listing.listing_type.try(:pluralize), :count => 0, :listings => [] }
      - listing_types_data["#{listing.listing_type}"][:count] += 1
      - listing_types_data["#{listing.listing_type}"][:listings] << listing
      - listing_types_data
    .row-fluid.header
      .span5.location-photos-container
        .location-photos
          - if platform_context.instance.user_based_marketplace_views?
            = link_to transactable_type_location_path(searcher.transactable_type, location) do
              - if location.administrator.avatar?
                = image_tag location.administrator.avatar.url(:big)
              - else
                = image_tag space_listing_placeholder_path(:height => 254, :width => 410)
          - else
            .carousel{id: "location-gallery-#{location.id}", :'data-interva' => "false"}
              .carousel-inner
                - if location.photos_metadata.try(:any?)
                  - location.photos_metadata.each_with_index do |photo_metadata, index|
                    .item{:class => ("active" if index == 0)}
                      = link_to transactable_type_location_path(searcher.transactable_type, location) do
                        = image_tag photo_metadata[:space_listing], :alt => location.name
                - else
                  .item{:class => "active"}
                    = link_to transactable_type_location_path(searcher.transactable_type, location) do
                      = image_tag space_listing_placeholder_path(:height => 254, :width => 410), :title => location.name, :alt => location.name
              - if location.photos_metadata.try(:count).to_i > 1
                .carousel-nav
                  = link_to "", "#location-gallery-#{location.id}", :class => "carousel-control left ico-chevron-left", 'data-slide' => 'prev'
                  = link_to "", "#location-gallery-#{location.id}", :class => "carousel-control right ico-chevron-right", 'data-slide' => 'next'
      .span7.location-data
        %h2= link_to location.name, transactable_type_location_path(searcher.transactable_type, location)
        - if display_search_result_subheader_for?(location)
          .subheader
            with
            = platform_context.instance.user_based_marketplace_views? ? location.administrator.name : location.company.name
            @
            = location.street

        .price-and-types
          .location-price
            = location.decorate.lowest_price_with_currency(search.lgpricing_filters)
          %ul.nav.nav-tabs
            - listing_types_data.each_with_index do |(listing_type, listing_type_data), i|
              %li{class: i.zero? ? 'active' : ''}
                %a{"data-toggle" => "tab", href: "#listing-types-#{location.id}-#{listing_type.try(:underscore).try(:tr, ' ', '-')}"}
                  = listing_type_data[:name]
                  (#{listing_type_data[:count]})

    .tabbable
      .tab-content
        - listing_types_data.each_with_index do |(listing_type, listing_type_data), i|
          .tab-pane{id: "listing-types-#{location.id}-#{listing_type.try(:underscore).try(:tr, ' ', '-')}", class: i.zero? ? 'active' : '' }
            .title
              = render partial: 'search/mixed/listing', collection: listing_type_data[:listings], locals: { location: location, search: search  }
