%article.location{:'data-id' => location.id, :'data-name' => location.name, :'data-latitude' => location.latitude, :'data-longitude' => location.longitude, :'data-offset' => current_page_offset}
  .location-counter= current_page_offset + location_counter + 1
  - cache "search-locations-#{location.searched_locations.map(&:id).join('-')}-#{search.lgpricing_filters.join('-')}-#{([location] + location.searched_locations).max_by(&:updated_at).try(:updated_at).try(:utc).try(:to_s, :number)}" do
    - listing_types_data = location.searched_locations.inject({}) do |listing_types_data, listing|
      - listing_types_data["#{listing.listing_type_id}"] ||= { :name => listing.listing_type_name.try(:pluralize), :count => 0, :listings => [] }
      - listing_types_data["#{listing.listing_type_id}"][:count] += 1
      - listing_types_data["#{listing.listing_type_id}"][:listings] << listing
      - listing_types_data
    .row-fluid.header
      .span5.location-photos-container
        .location-photos
          .carousel{id: "location-gallery-#{location.id}", :'data-interva' => "false"}
            .carousel-inner
              - if location.photos_metadata.try(:any?)
                - location.photos_metadata.each_with_index do |photo_metadata, index|
                  .item{:class => ("active" if index == 0)}
                    = link_to location_path(location) do
                      = image_tag photo_metadata[:space_listing], :alt => location.name
              - else
                .item{:class => "active"}
                  = link_to location_path(location) do
                    = image_tag space_listing_placeholder_path(:height => 254, :width => 410), :title => location.name, :alt => location.name
            - if location.photos_metadata.try(:count).to_i > 1
              .carousel-nav
                = link_to "", "#location-gallery-#{location.id}", :class => "carousel-control left ico-chevron-left", 'data-slide' => 'prev'
                = link_to "", "#location-gallery-#{location.id}", :class => "carousel-control right ico-chevron-right", 'data-slide' => 'next'
      .span7.location-data
        %h2= link_to location.name, location_path(location)
        - if display_search_result_subheader_for?(location)
          .subheader
            with
            = location.company.name
            @
            = location.street

        .price-and-types
          .location-price
            = location_price_information(location, search.lgpricing_filters)
          %ul.nav.nav-tabs
            - listing_types_data.each_with_index do |(listing_type_id, listing_type_data), i|
              %li{class: i.zero? ? 'active' : ''}
                %a{"data-toggle" => "tab", href: "#listing-types-#{location.id}-#{listing_type_id}"}
                  = listing_type_data[:name]
                  (#{listing_type_data[:count]})

    .tabbable
      .tab-content
        - listing_types_data.each_with_index do |(listing_type_id, listing_type_data), i|
          .tab-pane{id: "listing-types-#{location.id}-#{listing_type_id}", class: i.zero? ? 'active' : '' }
            .title
              = render partial: 'search/mixed/listing', collection: listing_type_data[:listings], locals: { location: location, search: search  }
