.search-pagination{data: {offset: @searcher.offset + 1}}
  - if locations.total_pages > 1
    .page-entries-info
      = @searcher.offset + 1
      = '-'
      = [locations.total_entries, locations.per_page * locations.current_page].min
      of
      = result_count
      results
    = will_paginate locations, previous_label: '&lt;', next_label: '&gt;'
