<h2>{{ 'simple_form.labels.company.payout.via_paypal' | translate }}</h2>

<input id="company_paypal_express_chain_merchant_account_attributes_id" name="company[paypal_express_chain_merchant_account_attributes][id]" placeholder="" type="hidden" value="{{ merchant_account.id}}">

{% if merchant_account.chain_payments? %}
  <input id="company_paypal_express_chain_merchant_account_attributes_merchant_token" name="company[paypal_express_chain_merchant_account_attributes][merchant_token]" type="hidden" value="{{ merchant_account.data['merchant_token']}}">

  {% if merchant_account.permissions_granted %}
    {% if merchant_account.chain_payment_set? %}
      <p><a class="btn btn-warning" href="/dashboard/company/paypal_agreements/{{ merchant_account.id }}" data-method="delete" data-confirm="{{ 'payouts.revoke_permission_confirmation' | translate }}">{{ 'payouts.revoke_permission' | translate }}</a></p>
    {% else %}
      <div class="well">{{ 'payouts.grant_permission_info' | translate }}</div>
      <p>
        <a class="btn btn-primary" href="/dashboard/company/paypal_agreements/new">{{ 'payouts.grant_permission' | translate }}</a>
      </p>
    {% endif %}
  {% else %}
    <p>
      <button type="submit" class="btn btn-primary">{{ 'payouts.paypal.connect' | translate }}</button>
    </p>
  {% endif %}
{% else %}

  <div class="form-group string optional company_paypal_express_chain_merchant_account_attributes_email">
    <label class="control-label" for="company_paypal_express_chain_merchant_account_attributes_email">{{ 'payouts.paypal.email' | translate }}</label>

    <input class="form-control string" id="company_paypal_express_chain_merchant_account_attributes_email" name="company[paypal_express_chain_merchant_account_attributes][email]" type="text" value="{{ merchant_account.data['email']}}">
  </div>
{% endif %}
