!!!
%html{:lang => "en"}
  %head
    = render 'layouts/content_holder_injector'
    = inject_content_holder('HEAD')
    = yield(:meta)
    %meta{:charset => "utf-8"}/
    %title= title_tag
    %meta{:content => meta_description_content, :name => "description"}/

    %meta{property: "og:title", content: meta_attr(title_tag)}/
    %meta{property: "og:site_name", content: meta_attr(current_instance.name)}/
    %meta{property: "og:url", content: request.original_url}/
    %meta{property: "og:description", content: meta_attr(meta_description_content)}/
    %meta{property: "og:image", content: meta_og_image_content}/

    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    = stylesheet_link_tag    'hallmark', media: 'all'

    %link{:href => "#{platform_context.favicon_image.url}", :rel => "shortcut icon"}/

    = csrf_meta_tags
    = yield(:head_bottom)

  %body{class: body_classes}
    = yield(:body_top)
    .root-a
      .wrap
        %header#top.top-a
          .inner
            .contain
              %h1.logo
                = link_to root_url(home: 1), accesskey: 'h' do
                  = image_tag "hallmark/logo-white.svg", width: 109, height: 60, alt: current_instance.name

              = render 'shared/topnav' unless @omit_topnav

        = render 'shared/render_flash'

        %section#content.content-a
          = yield

        = yield :tutorial

    = render 'shared/footer'

    = yield(:body_bottom)

    = render 'shared/modal'
    = yield :modals

    = render "shared/javascripts/typekit"

    = render "shared/javascripts/javascript_assets"
    = render 'shared/javascripts/raygun/libs'
    = render 'shared/javascripts/ckeditor_basepath'

    = javascript_include_tag 'vendor/jquery.min'
    = javascript_include_tag 'vendor/modernizr'

    = javascript_tag do
      = javascript_i18n_include_tag

    = javascript_include_tag google_maps_api_url(:js, libraries: :places)

    = webpack_manifest_script
    = webpack_bundle_tag 'common'
    = webpack_bundle_tag 'hallmark'

    = render 'shared/javascripts/olark/olark' if platform_context.instance.olark_enabled?
    = render 'shared/javascripts/google_analytics'

    = yield :page_scripts
    = yield :script

    - if content_for?(:domready)
      = javascript_tag do
        $(function(){
        = yield :domready
        });

    = render 'shared/javascripts/raygun/init'
