%tr
  %td= link_to shipping_method.name, edit_instance_admin_buy_sell_shipping_method_path(shipping_method)
  %td= shipping_method.shipping_categories.pluck(:name).join(', ')
  %td= shipping_method.zones.pluck(:name).join(', ')
  %td= shipping_method.tax_category.try(:name)
  %td= shipping_method.calculator.try(:preferred_amount)
  %td
    .pull-right
      = link_to instance_admin_buy_sell_shipping_method_path(shipping_method), method: :delete,
          data: { confirm: 'Are you sure you want to delete this?' }, title: 'Delete' do
        .fa.fa-trash-o.fa-2x.inline-form-icon

    = link_to edit_instance_admin_buy_sell_shipping_method_path(shipping_method), title: 'Edit' do
      .fa.fa-pencil.fa-2x.inline-form-icon.pull-right
