- title t('dashboard.nav.white_labels')

.dash-page
  .dash-head.clearfix
    %p= t('dashboard.nav.white_labels')
  .dash-body
    = simple_form_for @company, :url => dashboard_company_white_label_path(@company), wrapper: :bs3, :html => {multipart: true, :id => 'edit_company' } do |f|

      = f.input :white_label_enabled, :inline_label => "Enable", input_html: { data: { toggle: "collapse", target: "#whiteLabelFields", :"white-label-enabler" => true}}

      #whiteLabelFields{'data-white-label-settings-container' => true, class: @company.white_label_enabled ? "collapse in" : "collapse"}
        = f.simple_fields_for :domain, f.object.domain || Domain.new do |domain_form|
          = domain_form.check_box :white_label_enabled, :checked => f.object.white_label_enabled, 'data-white-label-settings' => true, :class => 'hidden'
          = domain_form.input :name, :as => :limited_string, :limit => 50, :label => "Your Domain", :placeholder => 'example.com', :required => true
          = domain_form.input :google_analytics_tracking_code

        = f.simple_fields_for :theme, (f.object.theme || f.object.build_theme) do |theme_form|
          = theme_form.check_box :white_label_enabled, :checked => f.object.white_label_enabled, 'data-white-label-settings' => true, :class => 'hidden'

          = render :partial => 'themes/theme', :locals => { :f => theme_form }

          = f.input :listings_public, :inline_label => "Enable"

        .submit-bar
          = f.submit "Save", class: "btn medium blue"
