<h2>You got it, {{ user.first_name }}!</h2>

<p>Your booking for '<a href="{{ platform_context.host | append:listing.listing_url }}">{{ listing.name }}</a>' has been confirmed! Here it is:</p>

<div class="booking-details">

  <div class="row">
    <strong style='display: inline-block;'>{{listing.lessor | capitalize}}</strong>
    <span style="float: right;"><a href="{{ platform_context.host | append:listing.administrator.user_profile_url }}">{{ host.first_name }}</a></span>
  </div>

  <div class="row">
    <strong style='display: inline-block;'>What</strong>
    <span style="float: right;"><a href="{{ platform_context.host | append:listing.listing_url }}">{{ listing.name }}</a> x {{ recurring_booking.quantity }}</span>
  </div>

  <div class="row">
    <table width="100%">
      <tr>
        <td valign="top"><strong style='display: inline-block;'>Starting at</strong></td>
        <td style="text-align: right;">
          {{ recurring_booking.start_date }}
        </td>
      </tr>
    </table>
  </div>

  <div class="row">
    <strong style='display: inline-block;'>Total per {{ recurring_booking.interval }}</strong>
    <span style="float: right; clear: right;">{{ recurring_booking.subtotal_price_for_guest }}</span>
  </div>

</div>

<p>You can manage your booking here:</p>

<a class="btn" href="{{ platform_context.host | append:recurring_booking.bookings_dashboard_url_with_tracking | append:signature_for_tracking  }}">My Bookings</a>

<p>We're always happy to help! If you have any questions about your booking, please send an email to <a href="{{ platform_context.support_email }}">{{ platform_context.support_email }}</a> or contact us at {{ platform_context.phone_number }}.</p>
