<h2>Good news, {{ user.first_name }}!</h2>

<p>
Your listing, '<a href="{{ platform_context.host | append:listing.listing_url }}">{{ listing.name }}</a>', was just subscribed!
</p>

<div class="booking-details">

  <div class="row">
    <strong style='display: inline-block;'>Who</strong>
    <span style="float: right;"><a href="{{ platform_context.host | append:reservation.owner.user_profile_url }}">{{ recurring_booking.owner.first_name }}</a></span>
  </div>

  <div class="row">
    <strong style='display: inline-block;'>What</strong>
    <span style="float: right;"><a href="{{ platform_context.host | append:listing.listing_url }}">{{ listing.name }}</a> x {{ recurring_booking.quantity }}</span>
  </div>

  <div class="row">
    <table width="100%">
      <tr>
        <td valign="top"><strong style='display: inline-block;'>When</strong></td>
        <td style="text-align: right;">
          {{ recurring_booking.start_date }}
        </td>
      </tr>
    </table>
  </div>

  <div class="row">
    <strong style='display: inline-block;'>Total</strong>
    <span style="float: right;">{{ recurring_booking.total_price }}</span>
  </div>

</div>

<p>Exciting, right? You can manage this booking from the Dashboard.</p>

<a class="btn" href="{{ platform_context.host | append:recurring_booking.manage_guests_dashboard_url | append:signature_for_tracking }}">Manage {{ listing.lessees | capitalize }}</a>

<p>If you need help, send an email to <a href="mailto:{{ platform_context.support_email }}">{{ platform_context.support_email }}</a> or contact us at {{ platform_context.phone_number }}.</p>

