<h2>{{ user.first_name }},</h2>

<p>We were unable to charge your credit card for subscription of '<a href="{{ listing.listing_url }}">{{ listing.name }}</a>'</p>

<p>Please update your payment information.</p>

<a class="btn" href="{{ recurring_booking.guest_show_url }}">Update payment information</a>

<p>Amount: {{ recurring_booking.last_unpaid_amount }}</p>

<p>We're always happy to help! If you have any questions about your booking, please send an email to <a href="mailto:{{ platform_context.support_email }}">{{ platform_context.support_email }}</a> or contact us at {{ platform_context.phone_number }}.</p>
