<h2>Good news, {{ user.first_name }}!</h2>

<p>
Your listing, '<a href="{{ listing.listing_url }}">{{ listing.name }}</a>', was just subscribed!
</p>

<div class="booking-details">

  <div class="row">
    <strong style='display: inline-block;'>Who</strong>
    <span style="float: right;"><a href="{{ platform_context.host | append:recurring_booking.owner.user_profile_url }}">{{ recurring_booking.owner.first_name }}</a></span>
  </div>

  <div class="row">
    <strong style='display: inline-block;'>What</strong>
    <span style="float: right;"><a href="{{ listing.listing_url }}">{{ listing.name }}</a> x {{ recurring_booking.quantity }}</span>
  </div>

  <div class="row">
    <table width="100%">
      <tr>
        <td valign="top"><strong style='display: inline-block;'>Starting at</strong></td>
        <td style="text-align: right;">
          {{ recurring_booking.start_date | to_date | localize: 'day_and_month' }}
        </td>
      </tr>
    </table>
  </div>

  <div class="row">
    <strong style='display: inline-block;'>Total</strong>
    <span style="float: right;">{{ recurring_booking.total_payable_to_host_formatted }}</span>
  </div>

</div>

<p>Exciting, right? Please, confirm the booking and let's get the {{ listing.lessee }} set up!</p>

<a class="btn" href="{{ platform_context.host | append:recurring_booking.reservation_confirm_url_with_tracking | append:signature_for_tracking }}">Confirm Booking</a>

<p>Not ready for {{ listing.lessees }}? You can manage your bookings <a href="{{ platform_context.host | append:recurring_booking.manage_guests_dashboard_url }}">here</a>.</p>

<p>If you need help, send an email to <a href="mailto:{{ platform_context.support_email }}">{{ platform_context.support_email }}</a> or contact us at {{ platform_context.phone_number }}.</p>
