- if @visits.total_entries.zero?
  %p.empty-resultset
    = t('dashboard.analytics.no_location_visits_yet')
- else
  %figure.chart-a
    %figcaption
      = t('dashboard.analytics.total.visits', total: @chart.total)
      |
      = t('dashboard.analytics.30_days_total')

    %canvas#chart

  %table.table.table-simple
    %thead
      %tr
        %th= t('dashboard.analytics.columns.date')
        %th= t('dashboard.analytics.columns.count')
    %tbody
      - @visits.each do |visit|
        %tr
          %td= visit.impression_date
          %td= visit.impressions_count

- content_for :analytics_pagination do
  = will_paginate_dashboard @visits, :params => { :analytics_mode => 'location_views' }
