- title t('dashboard.analytics.title')

- content_for :page_header do
  %h1= yield :title

%nav.panel-nav-mobile.visible-sm.visible-xs
  = dropdown_menu analytics_active_nav_tab, { wrapper_class: 'links' } do
    = analytics_nav_tabs

%nav.panel-nav.hidden-xs.hidden-sm
  %ul.tabs.pull-left
    = analytics_nav_tabs

.panel
  .panel-body
    = render :partial => "analytics_#{@analytics_mode}"

= yield :analytics_pagination

- content_for :domready do
  $(document).trigger('linechart.dnm', ['#chart', #{@chart.values.to_json.html_safe}, #{@chart.labels.to_json.html_safe}]);
