%tr
  %td= "#{t('reservations.rfq_short')} ##{ticket.id}"
  %td= link_to support_ticket_title(ticket), dashboard_company_support_ticket_path(ticket)
  %td= ticket.target.present? ? link_to(ticket.target.name, ticket.show_target_path) : 'Deleted'
  %td= support_author(ticket.first_message)
  %td
    %abbr.timeago= timeago(ticket.updated_at)
  %td= ticket.state.titleize
