.message
  .row
    .col-md-1
      - if ticket_message.user
        .circular-image= image_tag ticket_message.user.avatar_url(:medium)
    .col-md-11.content
      %p.message-title
        = ticket_message.user.try(:name)
        %span
          %abbr.timeago{:title => "#{ticket_message.created_at.to_time.iso8601}"}
            = ticket_message.created_at
      %p
        =simple_format(ticket_message.message)
        .attachments.clearfix
          = render partial: 'dashboard/company/support/tickets/attachment', collection: ticket_message.attachments, as: :ticket_message_attachment
