- title t('reservations.rfq_long')

.dash-page
  .dash-head.clearfix
    %ul
      %li
        = support_link_to_filter(@filter, 'open')
      %li
        = support_link_to_filter(@filter, 'resolved')
      %li
        = support_link_to_filter(@filter, 'all')
  .dash-body
    .table-responsive
      %table.table
        %thead
          %tr
            %th Ticket #
            %th Details
            %th Target
            %th User
            %th Last updated
            %th Status
        %tbody

          = render partial: 'dashboard/company/support/tickets/ticket', collection: @tickets
    = will_paginate_styled @tickets

- content_for :script do
  :javascript
    jQuery.timeago.settings.strings.minutes = "%d min"
    jQuery.timeago.settings.strings.minute = jQuery.timeago.settings.strings.minutes
    jQuery.timeago.settings.strings.seconds = jQuery.timeago.settings.strings.seconds;
    jQuery.timeago.settings.strings.hours = "about %d h"
    jQuery.timeago.settings.strings.hours = jQuery.timeago.settings.strings.hours
