%h2= t('data_upload.manage.edit.imported_header')

%p
%p
  = t('data_upload.manage.edit.new_entities')
  = @data_upload.parse_summary[:new].map { |k, v| "#{k.to_s.humanize}: #{v}"}.join(', ')
%p
  = t('data_upload.manage.edit.updated_entities')
  = @data_upload.parse_summary[:updated].map { |k, v| "#{k.to_s.humanize}: #{v}"}.join(', ')

