= render_modal "Add New User to #{@company.name}", { id: "modal-add-upload" } do
  = simple_form_for [:manage, @transactable_type, @data_upload], wrapper: :bs3, html: { multipart: true } do |f|
    .dash-body
      .row
        = t('data_upload.manage.new.external_id_hint')
      .row
        = f.input :csv_file, as: :file, label: 'CSV File'
      .row
        = f.simple_fields_for :options, OpenStruct.new(@data_upload.options) do |option|
          .row
            = option.input :sync_mode, required: false, as: :boolean, label: t('data_upload.manage.new.sync_mode'), hint: t('data_upload.manage.new.sync_mode_hint')

      = f.button :submit, 'Upload', class: 'btn btn-primary'

