<p>What a shame! We see that you've cancelled your booking with {{ transactable.name }}. Is there anything we could have done better? If so, please let us know at <a class="btn" href="mailto:{{ platform_context.support_email }}">{{ platform_context.support_email }}</a>. Your driver will be notified of the cancellation. We really hope that you will give us another chance and book with us again soon!</p>

<p>We're always happy to help! Just send an email to <a href="mailto:{{ platform_context.support_email }}">{{ platform_context.support_email }}</a>.</p>
