<h2>Congratulations, {{ user.first_name }}</h2>

<p>You have successfully paid for the booking. This means the your travel arrangements are all set and you're good to go!</p>

{% assign duration = transactable.properties.duration -%}
<p>{{ enquirer.name }} will be your driver for "{{ transactable.name }}" for {{ duration }} {% if duration == 1 -%}hour{% else -%}hours{% endif -%} starting at {{ transactable.properties.trip_start_time | l: 'short' }} on {{ transactable.properties.trip_start_date | l: 'short' }}.</p>

<p>They will be waiting for you at the above booking starting time at {% if transactable.properties.pickup_location != blank %}<a href="https://www.google.pl/maps/place/{{ transactable.properties.pickup_location }}">{{ transactable.properties.pickup_location }}</a>{% else %}TBD{% endif %}, and will take you to the location of your choice at the above booking finsihing time.

<p>Please remember (IMPORTANT):</p>

<ul>
<li>Cost of food/drink, parking/tolls, entry fees or cost of 3rd party services (if relevant) are not included in the booking fee, so please bring some AUD cash to cover any expenses (in case credit card not accepted).</li>
<li>If you are running late, please let your driver know ASAP.</li>
<li>Please make sure your driver knows about any special needs you have, so he/she can plan accordingly.</li>
<li>Drop-off location should be within approximately 30 minutes of Sydney CBD or another location agreed upon by driver.</li>
</ul>

<p>Have a great trip!</p>
