<h2>Change of plans, {{ lister.first_name }}!</h2>

<p>Booking {{ transactable.name }} has been cancelled by driver {{ enquirer.name }}. This booking will be archived. </p>

<p>We're always happy to help! Just send an email to <a href="mailto:{{ platform_context.support_email }}">{{ platform_context.support_email }}</a>.</p>
