%div
  .text-label Name:
  .text= address.full_name
- unless address.company.blank?
  %div
    .text-label Company address:
    .text= address.company
%div
  .text-label Address:
  .text= address.address1
- unless address.address2.blank?
  %div
    .text-label Second Address:
    .text= address.address2
%div
  .text-label City:
  .text= address.city
%div
  .text-label State:
  .text= address.state_text
%div
  .text-label Zip:
  .text= address.zipcode
%div
  .text-label Country:
  .text= address.country.try(:name)
- unless address.phone.blank?
  %div
    .text-label Phone:
    .text= address.phone
- unless address.alternative_phone.blank?
  %div
    .text-label Alternative Phone:
    .text= address.alternative_phone
