- title t('orders.index.title')

%section#orders
  .row-fluid
    .span8.offset2
      %h1
        %span.ico-bookings.padding
        = t 'orders.index.title'

  - if @orders.empty?
    .row-fluid
      .span8.offset2
        .box.clearfix.centered
          %p= t('orders.labels.no_orders')
          %p= render partial: 'buy_sell_market/shared/browse_products_button'

  = render partial: 'order', collection: @orders

  .row-fluid
    .span8.offset2
      .box.centered
        = will_paginate @orders

