= render :layout => 'wizard_layout', :locals => { :step => 3 } do
  %p.intro
    Add listings that are available for booking in your space.
    You can allow anything to be booked - conference rooms, premium desks, kitchens, entertainment areas! It’s entirely up to you.

  = simple_form_for @space, :url => space_wizard_desks_url, :html => { :class => "form-horizontal new_desks" } do |f|
    = hidden_field_tag :company_id, @company.id
    = hidden_field_tag :space_id, @space.id

    .listings
      = f.simple_fields_for :listings, (Listing.new unless @space.listings.any?) do |lf|
        = render 'desk_fields', :f => lf

      - # Render the template, which will be disabled by the form controller
      = f.simple_fields_for :listings, Listing.new do |lf|
        = render 'desk_fields', :f => lf, :template => true


    .text-center
      = link_to "", :class => 'btn btn-large btn-blue full-width margin-bottom', :'data-behavior' => 'addDesk' do
        %span.ico-plus.padding Add a Listing
      = f.submit "Save and Continue"


:javascript
  $(function() {
    new SpaceWizardDesksForm($('form.new_desks'));
  });
