= render :layout => 'wizard_layout', :locals => { :step => 3 } do
  %p.intro
    Add the desks and rooms (”listings”) that are available for booking in your space.
    You can allow anything to be booked - conference rooms, premium desks, kitchens, entertainment areas! It’s entirely up to you.

  = simple_form_for @space, :url => space_wizard_desks_url, :html => { :class => "form-horizontal new_desks" } do |f|
    .listings
      = f.simple_fields_for :listings, (Listing.new unless @space.listings.any?) do |lf|
        = render 'desk_fields', :f => lf

      - # Render the template, which will be disabled by the form controller
      = f.simple_fields_for :listings, Listing.new do |lf|
        = render 'desk_fields', :f => lf, :template => true


    .text-center
      = link_to "Add Another Listing", "", :class => 'btn btn-medium btn-blue', :'data-behavior' => 'addDesk'
      = f.submit "I'm Done, Save and Continue"


:javascript
  $(function() {
    new SpaceWizardDesksForm($('form.new_desks'));
  });
