- render_content_outside_container!

.page-banner
  %h1 List a New Item
= simple_form_for @boarding_form, wrapper: :product, :url => space_wizard_submit_item_url, :html => { :multipart => true, class: 'no_inheritance' }, method: :post do |f|
  %section#seller-info
    .container-fluid
      %h2.section-heading Seller Info
      = f.input :store_name, :placeholder => "Jenny's Fruit Baskets", hint: "Pick a name that has significance or helps identify what's in your shop."
      = f.fields_for :company_address_attributes, f.object.company_address do |a|
        =render 'address', f: a
      =# f.select :currency, :hint => "What currency will your marketplace be mainly transacting in?"
      =# f.select :language

  = f.simple_fields_for f.object.product_form do |product_form|
    = render 'forms/product_form', f: product_form

  .submit-bar
    = f.submit "Continue and Preview Listing", class: "btn medium blue"
    = f.submit "Save for Later", class: "btn medium green", name: "boarding_form[draft]"