- no_footer!
- no_listing_buttons!
- title "List your #{platform_context.bookable_noun}"

.row-fluid
  .span8.offset2
    %h1
      %span List Your First #{platform_context.bookable_noun}

#space_wizard.row-fluid
  .span8.offset2
    = simple_form_for @user, :url => space_wizard_list_url, :validate => false, :html => { :class => "form-horizontal new_company", :multipart => true, :id => 'list-space-flow-form' } do |f|

      - if platform_context.instance.user_info_in_onboarding_flow?
        %h2 Tell us a little about yourself
        %br
        .box
          = f.input :name
          = f.input :biography
          .single-photo
            = file_upload_input_with_label('Profile Photo', "avatar", avatar_path, current_user.avatar.thumbnail_dimensions[:medium], "Upload Photo", {"no-multiple" => true}) do
              - if current_user.avatar.any_url_exists?
                = fileupload_photo(current_user.avatar_url(:medium),
                  destroy_avatar_path,
                  edit_avatar_path,
                  :div)

      = f.simple_fields_for :companies, @company do |companies_form|
        - if platform_context.instance.skip_company?
          = companies_form.hidden_field :name
        - else
          %h2 Tell us a little about your company
          %br
          .box
            = render :partial => 'companies/company_form', :locals => { :f => companies_form, :company => @company, :only_inputs => [ :name, :industries ] }

        = companies_form.simple_fields_for :locations, @location do |locations_form|
          %h2
            Where is your
            #{platform_context.bookable_noun}
            located?
          %br
          .box
            = render :partial => 'locations/location_form', :locals => { :f => locations_form, :location => @location, :only_inputs => [ :name, :description, :address, :location_type, :phone ] }

          = locations_form.simple_fields_for :listings, @listing do |listings_form|

            - content_for :currency do
              = render :partial => 'locations/location_form', :locals => { :f => locations_form, :location => @location, :only_inputs => [ :currency ] }
            %h2
              Please tell us about the
              #{platform_context.bookable_noun}
              you're listing
            %br
            .box
              = render 'listings/listing_form',
                       :f => listings_form,
                       :listing => @listing,
                       :photo_input_name_prefix => "[user][companies_attributes][0][locations_attributes][0][listings_attributes][0]",
                       :only_inputs => [ :name, :description, :listing_type, :custom_type, :quantity, :price, :photos ],
                       photos: @photos

      .user-fields
        %h2 And finally, your contact information
        %br
        .box
          = render 'registrations/phone_fields', :f => f, :locals => { :country => @country }
        .actions
          .centerbuttons
            = f.submit "Submit", :name => "commit", :disable_with => 'Creating...', :class => "listmydesk btn-medium"
            = f.submit "Save as draft", :name => "save_as_draft", :disable_with => 'Saving...', :class => "saveasdraft btn-gray btn-medium"

- content_for :script do
  :javascript
    $(function() {
      new SpaceWizardSpaceForm($('form.new_company'))
      new Dashboard.LocationController($('#list-space-flow-form'))
      new Dashboard.ListingController($('#list-space-flow-form'))
      new PhoneNumbers.FieldsForm($('.user-fields'))
    });
