- no_footer!
- no_listing_buttons!
= render :layout => 'wizard_layout', :locals => { :step => 1 } do
  - title "List your #{current_instance.bookable_noun}"

  = simple_form_for @user, :url => space_wizard_list_url, :validate => false, :html => { :class => "form-horizontal new_company", :multipart => true, :id => 'list-space-flow-form' } do |f|

    = f.simple_fields_for :companies, @company do |companies_form|
      %h2 1. Tell us a little about your company
      %br
      .box
        = render :partial => 'companies/company_form', :locals => { :f => companies_form, :company => @company, :only_inputs => [ :name, :industries ] }

      = companies_form.simple_fields_for :locations, @location do |locations_form|
        %h2 2. Where is your desk located?
        %br
        .box
          = render :partial => 'locations/location_form', :locals => { :f => locations_form, :location => @location, :only_inputs => [ :description, :address, :location_type, :phone ] }

        = locations_form.simple_fields_for :listings, @listing do |listings_form|

          - content_for :currency do
            = render :partial => 'locations/location_form', :locals => { :f => locations_form, :location => @location, :only_inputs => [ :currency ] }
          %h2 3. Please tell us about the desk you're listing
          %br
          .box
            = render 'listings/listing_form',
                     :f => listings_form,
                     :listing => @listing,
                     :photo_input_name_prefix => "[user][companies_attributes][0][locations_attributes][0][listings_attributes][0]",
                     :only_inputs => [ :name, :description, :listing_type, :quantity, :price, :photos ],
                     photos: @photos

    .user-fields
      %h2 4. And finally, your contact information
      %br
      .box
        = render 'registrations/phone_fields', :f => f, :locals => { :country => @country }
      .actions
        .centerbuttons
          = f.submit "List my #{current_instance.bookable_noun}", :name => "commit", :disable_with => 'Creating...', :class => "listmydesk btn-medium"
          = f.submit "Save as draft", :name => "save_as_draft", :disable_with => 'Saving...', :class => "saveasdraft btn-gray btn-medium"

- content_for :script do
  :javascript
    $(function() {
      new SpaceWizardSpaceForm($('form.new_company'))
      new Dashboard.LocationController($('#list-space-flow-form'))
      new Dashboard.ListingController($('#list-space-flow-form'))
      new PhoneNumbers.FieldsForm($('.user-fields'))
    });

