= render :layout => 'wizard_layout', :locals => { :step => 0 } do
  %p.intro
    Sign up using your favorite service:

  %span#service_buttons.btn-group
    = link_to "", :class => "btn btn-green btn-large twitter" do
      %i.icon.icon-twitter
      Twitter
    = link_to "", :class => "btn btn-green btn-large facebook" do
      %i.icon.icon-facebook
      Facebook
    = link_to "", :class => "btn btn-green btn-large linkedin" do
      %i.icon.icon-linkedin
      LinkedIn


  .hr.divider
    %span alternatively

  = simple_form_for @user, :as => :user, :url => space_wizard_signup_url, :html => { :class => "form-horizontal new_user" } do |f|
    = f.input :name, :label => "Your name", :placeholder => "Enter your full name"
    = f.input :email, :label => "Your email address", :placeholder => "Valid email address"
    .control-group
      = f.label :password, "Your password", class: "control-label"
      .controls.two-up
        = f.password_field :password,              placeholder: "Your password"
        = f.password_field :password_confirmation, placeholder: "Confirm password"

    .actions
      = f.submit 'Sign up and get started'

