= render :layout => 'wizard_layout', :locals => { :step => 0 } do
  .signup
    .signup-no-provider{:style => ('display: none' if user_auth_provider)}
      %p.intro
        Sign up using your favorite service:

      %span#service_buttons.btn-group
        = link_to "/auth/twitter", :class => "btn btn-green btn-large twitter" do
          %i.icon.icon-twitter
          Twitter
        /= link_to "/auth/facebook", :class => "btn btn-green btn-large facebook" do
        /  %i.icon.icon-facebook
        /  Facebook
        /= link_to "/auth/linkedin", :class => "btn btn-green btn-large linkedin" do
        /  %i.icon.icon-linkedin
        /  LinkedIn

      %p.intro
        (Facebook and LinkedIn support coming soon!)


      .hr.divider
        %span alternatively

      = simple_form_for @user, :as => :user, :url => space_wizard_signup_url, :html => { :class => "form-horizontal new_user" } do |f|
        = f.input :name, :label => "Your name", :placeholder => "Enter your full name"
        = f.input :email, :label => "Your email address", :placeholder => "Valid email address"
        .control-group
          = f.label :password, "Your password", class: "control-label"
          .controls.two-up
            = f.password_field :password,              placeholder: "Your password"
            = f.password_field :password_confirmation, placeholder: "Confirm password"

        .actions
          = f.submit 'Sign up and get started'

    - if user_auth_provider
      .signup-provider
        .inner-box.connected-provider
          = link_to '', '', :class => "close-button ico-close"
          .avatar
            = image_tag user_auth_provider.avatar_url
          %h3= user_auth_provider.name
          %p= user_auth_provider.connection_description

        %p.intro
          We just need a couple more details:

        = simple_form_for @user, :as => :user, :url => space_wizard_signup_url, :html => { :class => "form-horizontal new_user" } do |f|
          = f.input :email, :label => "Your email address", :placeholder => "So we can contact you"

          .actions
            = f.submit 'Sign up and get started'

:javascript
  new SpaceWizardSignupForm($('.signup'))
