= simple_form_for @user_blog_post, html: { multipart: true } do |f|
  = f.input :title

  .row-fluid
    .span6
      = f.input :published_at, as: :string, include_blank: true
    .span6
      = f.input :slug

  = f.input :hero_image

  = f.input :content, as: :ckeditor, input_html: { ckeditor: { toolbar: 'simple' } }
  = f.input :excerpt, as: :ckeditor, input_html: { ckeditor: { toolbar: 'simple' } }
  = f.input :author_name
  = f.input :author_biography

  = f.input :logo

  = f.submit 'SAVE'
