%article.listing{:'data-id' => listing.id, :'data-name' => listing.name, :'data-latitude' => listing.latitude, :'data-longitude' => listing.longitude}
  .row-fluid
    .span4.nested
      = link_to listing do
        - if listing.photos.first
          = image_tag listing.photos.first.url(:space_listing), :title => listing.name, :alt => listing.name
        - else
          = image_tag google_maps_streetview_url(:height => 254, :width => 410, :latitude => listing.latitude, :longitude => listing.longitude), :title => listing.name, :alt => listing.name
    .span8.nested
      %h2
        = link_to "#{listing.name}", listing
      %h4.hidden-iphone.location-hours 
        %span.ico-marker
          %strong
            = listing.location.name
          = pretty_availability_sentence(listing.availability)
      %h5.hidden-phone.listing-description
        = listing.description 
      %aside.prices
        - if listing.daily_price
          %span.label.label-success
            = "#{money_without_cents_and_with_symbol(listing.daily_price)}/day"
        - if listing.weekly_price
          %span.label.label-warning
            = "#{money_without_cents_and_with_symbol(listing.weekly_price)}/wk"
        - if listing.monthly_price
          %span.label.label-important
            = "#{money_without_cents_and_with_symbol(listing.monthly_price)}/mo"
