%article.listing{:'data-id' => listing.id, :'data-name' => listing.name, :'data-latitude' => listing.latitude, :'data-longitude' => listing.longitude}
  = link_to location_listing_path(listing.location, listing) do
    .heading
      %h3.name
        = listing.name
      .company
        = listing.location.company.name
  .photo-container{:class => "#{'without-photos' unless listing.photos.any?}"}
    .photo
      - if photo = listing.photos.first
        = image_tag photo.image_url(:space_listing), :title => listing.name, :alt => listing.name
      - else
        = image_tag space_listing_placeholder_path(:height => 254, :width => 410), :title => listing.name, :alt => listing.name
    .info
      .miles
        = "#{listing.distance_from_search_query.to_f.round(1)} miles"
      .price
        = render :partial => 'search/shared/price_information', :locals => { :listing => listing }
    .listing-google-map-wrapper
      = link_to "View listing", location_listing_path(listing.location, listing), :class => 'btn btn-green btn-medium'
      .listing-google-map{:'data-marker' => image_path("components/map-pin.png")}

  %script
    Search.SearchResultController.handleResult($('article.listing[data-id="#{listing.id}"]'));
