- if @product
  .row-fluid.support
    .span8.offset2
      %h1= (@product.action_free? ? t('reservations.rfq') : t('reservations.make_offer'))
      %h2= @product.name
      .form
        = simple_form_for @ticket, url: product_tickets_path(@product), html: { id: 'rfq', :"data-modal-form" => request.xhr? }, method: :post do |t|
          = t.simple_fields_for :messages do |f|
            .columns
              .row-fluid
                =f.input :message, as: :text, label: t('reservations.rfq_message')
            .row-fluid
              = t.submit (@product.action_free? ? t('reservations.rfq') : t('reservations.make_offer')), :class => 'btn btn-green', style: 'margin-top: 0px'

  - if request.xhr?
    :javascript
      $(function() {
        $(document).trigger('init:modalform.nearme', ['#rfq']);
      });
