{% if wish_list_item.wishlistable_present? %}
  <article class="wish-list__item wish-list__item-{{ wish_list_item.wishlistable_type }}" style="background-image: url({{ wish_list_item.image_url }});">

    <a href="{{ wish_list_item.wishlistable_path }}" rel="external" class="link">
      <div class="wish-list__item__content">
        <div class="name">
          {{ wish_list_item.wishlistable_name }}
        </div>

        <div class="address">
          {{ wish_list_item.price }}
        </div>
      </div>
    </a>

    <div class="actions">


      {% if current_user != blank and current_user.has_seller_profile? %}
        {% if current_user.transactables_count == 0 %}
        <a href="{{ 'dashboard_company_transactable_type_transactables_path' | generate_url: platform_context.transactable_types.first.id }}" class="action--invite" >Ask to Book</a>
        {% else %}
        <a href="#project-invite-{{ wish_list_item.wishlistable_id }}" class="action--invite" data-project-invite-trigger>Invite</a>
        {% endif %}

        {% content_for 'body_bottom' %}
        <div class="project-invite" id="project-invite-{{ wish_list_item.wishlistable_id }}" data-collaborations-url="{{ 'collaborations_for_current_user_dashboard_company_user_path' | generate_url: wish_list_item.wishlistable_id }}"></div>
        {% endcontent_for %}
      {% endif %}

      <a href="{{ wish_list_item.dashboard_wish_list_item_path }}" rel="nofollow" data-method="delete" class="action--delete">{{ 'wish_lists.buttons.delete' | translate }}</a>
    </div>


  </article>
{% endif %}
