%h3= "Instance View '#{@instance_view.path}' versions"

.pull-right
  = link_to "All Instance Views", global_admin_instance_instance_views_path(@instance_view.instance_id),  :class => "btn btn-default"

%table.table.table-striped
  %thead
    %tr
      %th Version ID
      %th Whodunnit
      %th Event
      %th Created_at
  %tbody
    - @versions.each do |v|
      %tr
        %td= v.id
        %td= User.exists?(v.whodunnit.to_i) ? User.find(v.whodunnit.to_i).try(:name) + "(##{v.whodunnit})" : v.whodunnit
        %td= v.created_at
        %td= v.event
        -if v.reify
          %td= link_to 'View', global_admin_instance_instance_view_version_path(v.reify.instance_id, v.reify, v), class: 'btn'
          %td= link_to 'Rollback', rollback_global_admin_instance_instance_view_version_path(v.reify.instance_id, v.reify, v), class: 'btn', data: { confirm: 'Are you sure you want to rollback to this version?'}
