.rating-averages
  .row-fluid.reviews-summary.first-rating
    .span3
      %p= t 'buy_sell_market.products.labels.summary'
    .span9
      .rating
        = render partial: 'shared/stars', locals: { stars: @average_rating.try(:round), max_rating: RatingConstants::MAX_RATING }
  - if @rating_questions.present?
    .row-fluid.row-rating-questions
      - @rating_questions.each do |rating_question|
        .span3
          %p= rating_question.text
        .span3
          .rating
            = render partial: 'shared/stars', locals: { stars:  (@question_average_rating[rating_question.id] || 0).round, max_rating: RatingConstants::MAX_RATING }
        .clear-row

  = render partial: 'reviews/review', collection: @reviews
= will_paginate_styled @reviews, param_name: 'page'
