.review{id: dom_id(review)}
  .row-fluid
    .span2
      =review.decorate.show_reviewable_info
    .span10
      .rating
        = render 'shared/stars', stars: review.rating, max_rating: RatingConstants::MAX_RATING
        %p.review-date= I18n.l(review.created_at.to_date, format: :short)
      %p.comment
        = review.comment
      .review-details-questions
        - review.rating_system.rating_questions.each do |rating_question|
          .row-fluid.compact
            .span8
              %span.question= rating_question.text
            .span3
              .rating
                = render 'shared/stars', stars: review.rating_answers.find { |ra| ra.rating_question_id == rating_question.id }.try(:rating).to_i, max_rating: RatingConstants::MAX_RATING
