<section class='home home-index' id='content'>
  <div class="container-fluid">
    <section class="hero-a" data-hero-slideshow-container>
      <div class="slideshow-a">
        <div class="item item-1 active" data-hero-slideshow-item>
          <h2>Discover a diverse range of aged care at home supports and services near you</h2>
          <h3>Engage a personal carer, browse home care services and supports, find resources and explore events near you</h3>
        </div>
        <div class="item item-2" data-hero-slideshow-item>
          <h2>Discover a diverse range of disability supports and services near you</h2>
          <h3>Engage a support worker, browse disability services, find resources and explore events near you</h3>
        </div>
        <div class="item item-3" data-hero-slideshow-item>
          <h2>Discover the knowledge and information you need to support your decision making</h2>
          <h3>A wealth of relevant information is available about aged care at home and disability support</h3>
        </div>
        <div class="item item-4" data-hero-slideshow-item>
          <h2>Discover a whole community of like-minded people in a safe online environment</h2>
          <h3>Share stories, give and receive information on topics of interest, connect, attend events and even play games online with others</h3>
        </div>
      </div>

      <form class="home-search no_inheritance" action="/search/people">
        <div class="wrapper-a">
          <fieldset class="home-search-fields">
            <input type="text" placeholder="" class="home-search-input" name="query">
            <button type="submit" class="home-search-submit button-a">
              <i class="fa fa-search" aria-hidden="true"></i>
              Search
            </button>
          </fieldset>
        </div>
      </form>
    </section>
  </div>
</section>

<main id="main">
  <section class="home-section section-how-it-works">
    <div class="wrapper-a">
      <h2>HOW IT WORKS</h2>
      <p>In three simple steps, you can find a trusted CareSupport Provider who most closely matches your needs and is located nearby!</p>
      <div class="boxes">
        <div class="box">
          <div class="icon">
            <img src="{{ asset_url['assets/how-it-works/register-icon.svg'] }}" alt="Register" />
          </div>
          <h3>1. Register</h3>
          <p>Simply register your details here. This is a secure online platform where you can specify the type of CareSupport Provider/s who will best meet your needs. There’s also access to up-to- date information, tips and additional services.</p>
        </div>

        <div class="box">
          <div class="icon">
            <img src="{{ asset_url['assets/how-it-works/search-icon.svg'] }}" alt="Search" />
          </div>
          <h3>2. Search</h3>
          <p>Find trusted CareSupport Providers near to you. Simply key in your location through suburb or postcode and myCSN will quickly provide you with a list of available CareSupport Providers who meet your requirements.</p>
        </div>

        <div class="box">
          <div class="icon">
            <img src="{{ asset_url['assets/how-it-works/book-icon.svg'] }}" alt="Book" />
          </div>
          <h3>3. Book</h3>
          <p>Simply agree the rates, hours and services you require directly with your preferred CareSupport Provider. All transactions are completed online within a perfectly secure environment.</p>
        </div>
      </div>
    </div>
  </section>


  <section class="home-section section-about">
    <div class="wrapper-a">
      <h2>ABOUT US</h2>
      <p>Care Support Network (myCSN) is an online marketplace where older Australians and people with disability can connect directly with trusted CareSupport Providers. It’s a simple, flexible and transparent way that brings choice, freedom and quality of life for both recipients and CareSupport Providers.</p>

      <a href="/about" class="button-a button-lg button-secondary">LEARN MORE</a>
    </div>
  </section>


  <section class="home-section section-advantages">
    <div class="wrapper-a">
      <h2>ADVANTAGES FOR CLIENTS</h2>
      <div class="boxes">
        <div class="box">
          <div class="icon">
            <img src="{{ asset_url['assets/advantages/advantages-1-icon.svg'] }}" alt="" />
          </div>
          <p>Access CareSupport Providers who best meet your needs. Ranging from nursing care right through to personal care, home care and support or community involvement.</p>
        </div>
        <div class="box">
          <div class="icon">
            <img src="{{ asset_url['assets/advantages/advantages-2-icon.svg'] }}" alt="" />
          </div>
          <p> Choose from a variety of services across a range of service providers. Compare their offering and stretch your budget further. </p>
        </div>
        <div class="box">
          <div class="icon">
            <img src="{{ asset_url['assets/advantages/advantages-3-icon.svg'] }}" alt="" />
          </div>
          <p>Share your story, help others and build your community. Find knowledge and relevant information and connect with like-minded people in a safe and secure environment. </p>
        </div>
      </div>
    </div>
  </section>

  <section class="home-section section-advantages">
    <div class="wrapper-a">
      <h2>ADVANTAGES FOR PROVIDERS</h2>
      <div class="boxes">
        <div class="box">
          <div class="icon">
            <img src="{{ asset_url['assets/advantages/advantages-4-icon.svg'] }}" alt="" />
          </div>
          <p>Control your own work-life balance, you choose when you want to work, where and for whom. We enable true flexibility.</p>
        </div>
        <div class="box">
          <div class="icon">
            <img src="{{ asset_url['assets/advantages/advantages-5-icon.svg'] }}" alt="" />
          </div>
          <p>Build your personal brand and your local community.</p>
        </div>
        <div class="box">
          <div class="icon"><img src="{{ asset_url['assets/advantages/advantages-6-icon.svg'] }}" alt="" /></div>
          <p>You set the terms and reap the rewards of your efforts.</p>
        </div>
      </div>
    </div>
  </section>

  {% comment %}<section class="home-section section-testimonials">
    <div class="wrapper-a">
      <h2>TESTIMONIALS</h2>
      <p>Here's what our customers have to say...</p>
      <div class="testimonials-carousel" data-home-testimonials-carousel>
        <div class="testimonials-carousel__item">
          <img src="{{ asset_url['assets/testimonials/person-1.jpg'] }}" alt="" />
          <h3>Finding my care heroes</h3>
          <p>Up until now, I haven’t felt in control of the support that I have needed for my son. Finally, with myCSN I feel like I’ve got choice, and a real ability to choose between different support options for him. I’m grateful to myCSN.</p>
          <p class="testimonial-author">
            <p class="testimonial-author__name">RON</p>
            <p class="testimonial-author__description">Customer</p>
          </p>
        </div>
        <div class="testimonials-carousel__item">
          <img src="{{ asset_url['assets/testimonials/person-2.jpg'] }}" alt="" />
          <h3>Designing life my way</h3>
          <p>My mum is very special to me as she cares for me very well. I like that I can choose people who can help me with my mum. Thank you myCSN</p>
          <p class="testimonial-author">
            <p class="testimonial-author__name">MATTHEW</p>
            <p class="testimonial-author__description">Cafe Express</p>
          </p>
        </div>
        <div class="testimonials-carousel__item">
          <img src="{{ asset_url['assets/testimonials/person-3.jpg'] }}" alt="" />
          <h3>A new lease on life at 91</h3>
          <p>Up until now, I haven’t had a great choice when it comes to the support that I need. I occasionally need short term care to help me live independently. With myCSN I have been able to find and choose the care I need across a range of options. I love the flexibility and ease of use of myCSN</p>
          <p class="testimonial-author">
            <p class="testimonial-author__name">ILYA</p>
            <p class="testimonial-author__description">Customer</p>
          </p>
        </div>
      </div>
    </div>
  </section>{% endcomment %}

{% comment %}
  <section class="home-section section-partners">
    <div class="wrapper-a">
      <h2>OUR PARTNERS</h2>
      <ul class="partners-carousel" data-home-partners-carousel>
        <li class="partners-carousel__item">
          <img src="{{ asset_url['assets/partners/partner-1.png'] }}" width="211" alt="" />
        </li>
        <li class="partners-carousel__item">
          <img src="{{ asset_url['assets/partners/partner-2.png'] }}" width="101" alt="" />
        </li>
        <li class="partners-carousel__item">
          <img src="{{ asset_url['assets/partners/partner-3.png'] }}" width="282" alt="" />
        </li>
        <li class="partners-carousel__item">
          <img src="{{ asset_url['assets/partners/partner-4.png'] }}" width="101" alt="" />
        </li>
        <li class="partners-carousel__item">
          <img src="{{ asset_url['assets/partners/partner-1.png'] }}" width="211" alt="" />
        </li>
        <li class="partners-carousel__item">
          <img src="{{ asset_url['assets/partners/partner-2.png'] }}" width="101" alt="" />
        </li>
        <li class="partners-carousel__item">
          <img src="{{ asset_url['assets/partners/partner-3.png'] }}" width="282" alt="" />
        </li>
        <li class="partners-carousel__item">
          <img src="{{ asset_url['assets/partners/partner-4.png'] }}" width="101" alt="" />
        </li>
      </ul>
    </div>
  </section>
  {% endcomment %}

</main>
