#category_form
  = simple_form_for [:instance_admin, @controller_scope, @categorable, @category] do |f|
    .content-container
      %h4 Edit Category
      .row
        .input-container.col-xs-12
          = f.input :name, placeholder: 'What is the name of the category?', required: true, input_html: { class: 'form-control'}, label: 'New category group'
      .row
        .input-container.col-xs-12
          = f.input :multiple_root_categries, inline_label: true

          = content_for :header_buttons do
            = link_to 'Back to Categories', instance_admin_manage_transactable_type_categories_path(@categorable), class: 'pull-right btn btn-blue'
            = link_to "Delete", instance_admin_manage_transactable_type_category_path(@categorable, @category),  class: 'pull-right btn btn-danger', method: :delete, data: { confirm: 'Are you sure you want to delete this category group?' }, title: 'Delete'
            = f.button :submit, class: "btn btn-blue pull-right", data: { 'submit-form' => 1, 'form-selector' => 'form' }

      - if @category.present?
        .row
          .input-container.col-xs-12
            #ajax_error{style: 'display: none;'}
            %p Right click a child in the tree to access the menu for adding, deleting or sorting a child.
            #category_tree

      .row


- if @category.present?
  - content_for :domready do
    var categories_path = "#{instance_admin_manage_transactable_type_categories_path(@categorable)}";
    var category_path = "#{instance_admin_manage_transactable_type_category_path(@categorable, @category)}";

    var jstree_theme_path = "#{stylesheet_path("instance_admin/jstree_themes/apple/style.css")}";
    new InstanceAdmin.CategoriesController($('#category_form'), #{@category.id});
