#category_form
  = simple_form_for [:instance_admin, @controller_scope, @categorable, @new_category] do |f|
    .content-container
      .row
        .input-container.col-xs-12
          = f.input :name, placeholder: 'What is the name of the category group?', required: true, input_html: { class: 'form-control'}, label: 'New category group'
          = f.input :multiple_root_categries
          = f.button :submit, class: "btn btn-green pull-right"

      - @categories.each do |category|
        .row
          .input-container.col-xs-12
            = category.name
            .pull-right
              = link_to "Edit", edit_instance_admin_manage_transactable_type_category_path(@categorable, category)
              = link_to "Delete", instance_admin_manage_transactable_type_category_path(@categorable, category),  method: :delete, data: { confirm: 'Are you sure you want to delete this?' }, title: 'Delete'
