.fileupload
  - if uploaded_content_placement == :top
    .uploaded{ data: {uploaded: true, row: "#{options[:row]}"}, style: "#{"height: #{options[:height]}px" if options[:height].to_f > 0}" }
      = uploaded_content

  %div{:'data-fileupload-wrapper' => true, :'data-url' => url, :'data-name' => name}
    %label.action
      %span.btn.btn-blue.btn-medium.upload-photos.fileinput-button
        %span
          = text
        %input.browse-file.hidden{name: name, type: 'file', multiple: !options['no-multiple'], data: { 'file-types' => options[:file_types], 'upload-type' => options[:upload_type], 'files-container' => options[:files_container], 'append-result' => options[:append_result], 'wrong-file-message' => options[:wrong_file_message]}}
      - if uploaded_content_placement == :right
        %span.uploaded{ data: {uploaded: true, row: "#{options[:row]}"},  style: "float: right; #{"height: #{options[:height]}px;" if options[:height].to_f > 0}"}
          = uploaded_content
      - if hint.present?
        %p.hint-block= hint
      - if error_message
        %p.error-block= error_message

    = render 'shared/components/progress_bar'
  .clearfix
