.fileupload{class: "#{options['no-multiple'] ? 'single-photo' : 'multi-photo'}"}
  - if options[:'top-label'].present?
    .photo-top-label
      = options[:'top-label']
  %label.action
    .uploaded
      = uploaded_content
    .active.photo-box
      %span.btn.btn-blue.btn-medium.upload-photos.fileinput-button
        %span.ico-upload-photos.padding
          %span
            = image_tag("themes/buy_sell/icon-cross.png")
            = text
      %input.browse-file{"data-url" => url, "data-thumbnail-width" => thumbnail_sizes[:width], "data-thumbnail-height" => thumbnail_sizes[:height], name: name, type: "file"}/
      - if error_message
        %p.error-block= error_message
