.user-badge
  .vendor-profile#vendor-profile
    - if current_user && @user.id == current_user.id
      = link_to 'Edit', dashboard_profile_path, class: 'edit-link'
    .vendor-pic
      = image_tag @user.avatar.url(:big)

    .vendor-info
      %h3= @user.name
      %p= @user.display_location

    = link_to new_user_user_message_path(user_id: @user.slug), rel: "modal" do
      .btn.blue= t 'buy_sell_market.products.buttons.contact_host'

  - if @company.present?
    .vendor-profile.shop-info#shop-info
      %p
        = t 'user_profile.labels.shop_info'
        - if current_user && @user.id == current_user.id
          = link_to 'Edit', edit_dashboard_company_path(@company), class: 'edit-link'

      %h3= @company.name
      %p
        = @company.country unless @company.country.blank?
        - unless @company.url.blank?
          %br
          = link_to @company.url, @company.url, targe: '_blank'

  .vendor-profile.shop-info
    %p= t 'user_profile.labels.verifications'
    .verifications.clearfix
      %ul.pull-left
        %li
          - if @user.email.present?
            = image_tag 'themes/buy_sell/check.png', class: 'check'
            = t 'buy_sell_market.products.labels.email_address'
        %li
          - if @user.phone.present?
            = image_tag 'themes/buy_sell/check.png', class: 'check'
            = t 'buy_sell_market.products.labels.phone_number'
        %li
          - if @user.decorate.social_connections_for('facebook')
            = image_tag 'themes/buy_sell/check.png', class: 'check'
            Facebook

      %ul.pull-right
        %li
          - if @user.decorate.social_connections_for('linkedin')
            = image_tag 'themes/buy_sell/check.png', class: 'check'
            LinkedIn

        %li
          - if @user.decorate.social_connections_for('twitter')
            = image_tag 'themes/buy_sell/check.png', class: 'check'
            Twitter

            - # TODO For later use
            -#%p
            -#  = image_tag 'themes/buy_sell/check.png', class: 'check'
            -#  = t 'buy_sell_market.products.labels.reviews'
