.listings
  .row
    .col-md-3.listing-img
      = link_to listing_path(transactable) do
        = image_tag(transactable.photos.first.try(:image_url, :medium))
    .col-md-3.listing-attr
      = link_to transactable.name, transactable_type_location_listing_path(@transactable_type, transactable.location, transactable)
    .col-md-3.listing-attr
      %p= transactable.location.try(&:name)
    .col-md-2.listing-attr
      %p= transactable.decorate.lowest_price_with_currency
    .col-md-1.listing-attr
      = link_to "Edit", edit_dashboard_transactable_type_transactable_path(@transactable_type, transactable)
      = link_to "Delete", dashboard_transactable_type_transactable_path(@transactable_type, transactable), :method => :delete, :confirm => 'Are you sure?', style: 'margin-top:0px;'
