.listings
  .row
    .col-md-3.listing-img
      =image_tag(transactable.photos.first.try{ |i| i.image.url(:medium) })
    .col-md-3.listing-attr
      = link_to transactable.name, edit_dashboard_transactable_type_transactable_path(@transactable_type, transactable)
    .col-md-3.listing-attr
      %p= transactable.location.try(&:name)
    .col-md-2.listing-attr
      %p= listing_price_information(transactable)
    .col-md-1.listing-attr
      = link_to "Edit", edit_dashboard_transactable_type_transactable_path(@transactable_type, transactable)
      = link_to "Delete", dashboard_transactable_type_transactable_path(@transactable_type, transactable), :method => :delete, :confirm => 'Are you sure?', style: 'margin-top:0px;'