.dash-page
  .dash-head.clearfix
    %p MANAGE LISTINGS > EDIT ITEM
    %a.dash-head-btn{:href => ""}
      .btn.blue Bulk Upload
  .dash-body
    = simple_form_for @transactable, wrapper: :bs3, :url => dashboard_transactable_type_transactable_path(@transactable_type, @transactable), :html => { :multipart => true,  method: :put, id: 'listing-form' } do |f|
      .row.edit-locations
        .col-md-3.add-new
          = link_to new_dashboard_location_path, remote: true do
            = image_tag "dashboard/cross.png"
            %span.blue Add New Location
        .col-md-3
          %label{:for => ""} Location
        #location-list.col-md-6
          = render @locations, form: f

          .show-more
            %a{"data-target" => ".hidden-location", "data-toggle" => "collapse", :href => "#"} Show more locations
        - if f.object.errors.messages[:location]
          .error
            .error-block
              location can't be blank
      = render 'form', f: f

      .submit-bar
        = link_to dashboard_transactable_type_transactables_path(@transactable_type) do
          .btn.gray Cancel
        = f.submit "Save item", class: "btn medium blue"
