- title "Listings"

.dash-head.clearfix
  %p MANAGE #{@transactable}
  = link_to new_dashboard_transactable_type_data_upload_path(@transactable_type), class: "dash-head-btn", remote: true do
    .btn.blue Bulk Upload
.dash-body
  .new-profile
    =image_tag("themes/product_theme/icon-cross.png")
    = link_to "New List Item", new_dashboard_transactable_type_transactable_path(@transactable_type)
  .dash-sub-nav
    %ul
      - TransactableType.all.each do |transactable_type|
        %li{class: transactable_type == @transactable_type ? "active" : ""}
          = link_to transactable_type.name, dashboard_transactable_type_transactables_path(transactable_type)
  .listings-header
    .row
      .col-md-3
        %p Picture
      .col-md-3
        %p Name
      .col-md-3
        %p SKU
      .col-md-2
        %p Price
  = render @transactables
  = will_paginate @transactables
