.content-container
  %h4
    = t('instance_admin.manage.admins.add_admin_to_user_instance')
  = simple_form_for [:instance_admin, :manage, :admins, InstanceAdmin.new] do |f|
    .row
      .input-container.col-xs-12
        %label
          = t('instance_admin.email')
        = text_field_tag :email, nil, class: 'form-control', placeholder: 'example@gmail.com'

    .row
      .input-container.col-xs-12
        = f.submit t('instance_admin.add'), :class => 'btn btn-blue pull-right'

