<h2>How was {{ line_item.owner_first_name }}, your recent {{ platform_context.lessee }}?</h2>

<p>
We would love to hear about your experience with <a href="{{ platform_context.host | append:line_item.order.user.user_profile_url }}">{{ line_item.owner_first_name }}</a>.
</p>

<p>Your opinion is very important and it will help us ensure that our {{ platform_context.lessees }} are a good fit for you. 

<p>Please take a moment to give us your feedback!</p>

<a class="btn" href="{{ platform_context.host | append:line_item.reviews_line_item_url }}" >Write a Review</a>

<p>If you'd prefer to talk to us directly, please send an email to <a href="mailto:{{ platform_context.support_email }}">{{ platform_context.support_email }}</a> or call us on {{ platform_context.phone_number }} - we love to talk with our {{platform_context.lessors}}.</p>
