- wishlistable = wish_list_item.wishlistable

.listings
  .row
    .col-md-3.listing-img
      = link_to polymorphic_path(wishlistable), target: '_blank' do
        = image_tag wish_list_item.decorate.image_url
    .col-md-6
      = link_to wishlistable.name, polymorphic_path(wishlistable), target: '_blank'
      %br
      %span{style: 'color: gray'}
        = wish_list_item.decorate.company
      %br
      = wish_list_item.decorate.price
    .col-md-3.listing-attr
      = link_to t('wish_lists.buttons.delete'), dashboard_wish_list_item_path(wish_list_item), method: :delete, class: 'btn gray'

