- wishlistable = wish_list_item.wishlistable

- if wishlistable

  %article.wish-list__item{style: "background-image: url(#{wish_list_item.decorate.image_url});" }
    = link_to wish_list_item.polymorphic_wishlistable_path, rel: 'external', class: 'link' do
      .name= wishlistable.name
      .company= wish_list_item.company_name

      .address
        = wish_list_item.price

    .actions
      = link_to t('wish_lists.buttons.delete'), dashboard_wish_list_item_path(wish_list_item), method: :delete, class: 'action--delete'
