.dash-head.clearfix
  %p
    = image_tag "wish_lists/#{platform_context.instance.wish_lists_icon_set}/selected.png", class: 'wish-list-image'
    = t 'wish_lists.name'

  = link_to clear_dashboard_wish_list_items_path, method: :delete, class: 'dash-head-btn',
      data: { confirm: t('wish_lists.confirmations.clear') } do

    .btn.red{class: @items.any? ? '' : 'disabled'}
      = t 'wish_lists.buttons.clear'

.dash-body
  - if @items.any?
    = render @items
  - else
    .dash-body-container
      = image_tag 'dashboard/exclamation.png'
      %p.inline= t 'wish_lists.empty_list'

