- legacy false

- content_for :hero do
  .caption
    %a
    = link_to location_path(511) do
      La Cantine, Nantes, France
  .container-fluid    
    .row-fluid
      #search_row.span10.offset1    
        .wood-box.row-fluid
          %h1 Find a space to work

        = render :partial => "shared/search_box"

%section.how-it-works
  .row-fluid.padding-row
    %h1
      List Your Space

  .row-fluid
    .span4
      %h2 Expand Your Network
      = image_tag("illustrations/handshake.png")  
      %p Match the right people to your space based on complementary skills, communities & interest
    .span4
      %h2 Reduce Overhead
      = image_tag("illustrations/dollar.png")
      %p Generate extra revenue by renting out your empty office space
    .span4
      %h2 Trust & Convenience
      = image_tag("illustrations/heart.png")
      %p Do business with trusted professionals through your secure dashboard.
  .row-fluid    
    = link_to_once new_space_wizard_url, :class => "btn btn-blue btn-large" do
      %span.ico-add-location.padding List Your Space

  .row-fluid
    %h1
      Find a Space

  .row-fluid
    .span4
      %h2 Where you need it
      = image_tag("illustrations/world.png")
      %p Choose from thousands of spaces around the world. 
    .span4
      %h2 When you need it
      = image_tag("illustrations/devices.png")
      %p Daily, weekly or monthly to stay as long as you need
    .span4
      %h2 How you need it
      = image_tag("illustrations/floorplan.png")
      %p Co-working, private desks and meeting rooms, search by type and amenities.



  .row-fluid.padding-bottom  
    = link_to_once search_path, :class => "btn btn-green btn-large" do
      %span.ico-search.padding Find a Desk

- content_for :domready do
  new Search.HomeController($('#listing_search'))

