- legacy false

- content_for :hero do
  .container
    #search_row.twelve.columns.offset-by-two.alpha.omega
      .wood-box
        %h1 Find a workspace
        %h2 Search from #{number_with_delimiter Listing.count} spaces nearby

        %form#listing_search.home_search{:action => search_path, :method => "get"}
          %input#search{:name => "q", :placeholder => "Search by city or address", :type => "text", :value => "", :class => "query"}
          %input.geolocation{:name => "geolocate", :type => "button", :value => ""}
          %a.btn.btn-green.btn-outline.btn-medium{ :rel => "submit", :href => "" }
            %i.icon
            Search
          %hr
          #search_filters
            .row
              .availability-quantity.five.columns.alpha
                %label Number of Desks
                = hidden_field_tag "availability[quantity]", search_availability_quantity
                .slider
                .value.number-value 1

              .price-range.six.columns.omega
                %label Price Range
                = hidden_field_tag "price[min]", search_price_min
                = hidden_field_tag "price[max]", search_price_max
                .slider
                .value
                  $0 - $300+/day
          .clearfix
          #suggest_location{:style => "display: none"}


.one-third.column.alpha
  .box
    %h2 Introducing Desks Near Me
    %p
      Desks Near Me is a simple and beautiful way for freelancers, contractors, and other nomadic workers to see
      great places where they can work. So, where do you want to work today?

/.one-third.column
/  .box
/    %h2 Our commitment to trust & safety
/    %p
/      Desks Near Me is safe. From our patent pending in-space technology to our 24/7 support line, we make sure
/      that you can share your space, or visit one, without worry.

.one-third.column
  = link_to "We're at GMIC SV", "http://www.gmic-sv.com/", :id => "gmic_link"

.one-third.column.omega
  = link_to "Get the iPhone app", "http://itunes.apple.com/app/desks-near-me/id529634519", :id => "app_store_link"

- content_for :domready do
  new DNM.HomeSearch($('#listing_search'))
