- legacy false

- content_for :hero do
  .caption
    %a
    = link_to location_path(511) do
      La Cantine, Nantes, France
  .container-fluid    
    .row-fluid
      #search_row.span10.offset1    
        .wood-box.row-fluid
          %h1 Find a space to work

        = render :partial => "shared/search_box"

%section.how-it-works
  .row-fluid.padding-row
    %h1
      List Your Space

  .row-fluid
    .span4
      %h2 Expand Your Network
      = image_tag("illustrations/handshake.png")  
      %p Build your network & client base by leasing to professionals in your field
    .span4
      %h2 Reduce Overhead
      = image_tag("illustrations/dollar.png")
      %p Generate extra revenue by renting out your empty office space
    .span4
      %h2 Trust & Convenience
      = image_tag("illustrations/heart.png")
      %p Do business securely with trusted professionals
  .row-fluid    
    = link_to_once new_space_wizard_url, :class => "btn btn-blue btn-large" do
      %span.ico-add-location.padding List Your Space

  .row-fluid
    %h1
      Find a Space

  .row-fluid
    .span4
      %h2 Easy Access
      = image_tag("illustrations/devices.png")
    .span4
      %h2 Desks Near You
      = image_tag("illustrations/world.png")
    .span4
      %h2 Flexible Spaces
      = image_tag("illustrations/floorplan.png")


  .row-fluid.padding-bottom  
    = link_to_once search_path, :class => "btn btn-green btn-large" do
      %span.ico-search.padding Find a Desk

- content_for :domready do
  new Search.HomeController($('#listing_search'))

