- legacy false

- content_for :hero do
  .caption
    %a
    = link_to location_path(511) do
      La Cantine, Nantes, France
  .container-fluid    
    .row-fluid
      #search_row.span10.offset1    
        .wood-box.row-fluid
          %h1 Find a space to work

        .black-box.row-fluid
          %form#listing_search.home_search{:action => search_path, :method => "get"}
            .span9
              %input#search{:name => "q", :placeholder => "Search by city or address", :type => "text", :value => "", :class => "query"}
              .geolocation
                %span.ico-crosshairs
            .span3      
              %a.btn.btn-green.btn-large{ "data-disable-with" => "Searching...", :rel => "submit", :href => "" }
                %span.ico-search
                Search
              #suggest_location{:style => "display: none"}

            - search_geofields.each do |geofield|
              = hidden_field_tag geofield, ''

%section.how-it-works
  .row-fluid.padding-row
    %h1
      List Your Space

  .row-fluid
    .span4
      %h2 Reduce Overhead
      = image_tag("illustrations/dollar.png")
    .span4
      %h2 Meaningful Connections
      = image_tag("illustrations/dollar.png")
    .span4
      %h2 Trust & Convenience
      = image_tag("illustrations/heart.png")

  .row-fluid    
    = link_to_once new_space_wizard_url, :class => "btn btn-blue btn-large" do
      %span.ico-add-location.padding List Your Space

  .row-fluid
    %h1
      Find a Space

  .row-fluid
    .span4
      %h2 Easy Access
      %img{:src => "http://desksnearme.assets.s3.amazonaws.com/img/gif/crosshair-animation.gif", :alt => "Cross Hair"}
    .span4
      %h2 Desks Near You
      %img{:src => "http://desksnearme.assets.s3.amazonaws.com/img/gif/dollar-animation.gif", :alt => "Dollar Sign"}
    .span4
      %h2 Flexible Spaces
      %img{:src => "http://desksnearme.assets.s3.amazonaws.com/img/gif/dollar-animation.gif", :alt => "Dollar Sign"}  

  .row-fluid.padding-bottom  
    = link_to_once search_path, :class => "btn btn-green btn-large" do
      %span.ico-search.padding Find a Desk

- content_for :domready do
  new Search.HomeController($('#listing_search'))

