- render_without_left_menu!
- title "#{t('onboarding_wizard.list_your', name: @transactable_type.translated_bookable_noun)}"

- content_for :page_header do
  %h1= yield :title

#space-wizad
  = dashboard_simple_form_for @user, url: transactable_type_space_wizard_list_url(@transactable_type), html: { class: "new_company", multipart: true, id: 'list-space-flow-form', :"data-includes-address-field" => true }, method: :post do |f|
    = hidden_field_tag :return_to, params[:return_to]

    = render "errors", f: f
    = render "draft_button" if @transactable_type.require_transactable_during_onboarding?


    = f.simple_fields_for :seller_profile, @user.get_seller_profile do |seller_profile_form|
      = seller_profile_form.simple_fields_for :properties, seller_profile_form.object.properties do |seller_properties_form|
        = f.simple_fields_for :companies, @user.companies.first do |companies_form|
          = companies_form.simple_fields_for :locations, @user.companies.first.locations.first do |locations_form|
            = locations_form.simple_fields_for :listings, @transactable || Transactable.new do |listings_form|
              = listings_form.simple_fields_for :properties, @user.companies.first.locations.first.listings.first.try(:properties) do |properties_form|
                - if @transactable_type.require_transactable_during_onboarding?
                  - unless @form_components.map(&:form_fields).map{|ff| ff.map(&:values).flatten }.flatten.include? 'price'
                    = render "dashboard/company/transactables/form_fields/price", f: listings_form, form_fields: {}, model: 'transactable'
                - @form_components.each do |form_component|
                  .panel
                    .panel-body

                      %h2= form_component.name

                      - form_component.form_fields.each do |form_field|
                        - model = form_field.keys.first
                        - field = form_field[model]
                        - if model == 'user'
                          = render :partial => 'registrations/new_attributes', :locals => { f: f, only_inputs: [field.to_sym], country: @country }
                        - if model == 'seller'
                          = render 'user_profiles/form', f: seller_profile_form, user_form: f, only_inputs: [field.to_sym]
                        - elsif model == 'company'
                          = render :partial => 'companies/company_form', :locals => { :f => companies_form, :company => companies_form.object, :only_inputs => [ field.to_sym ] }
                        - elsif model == 'location'
                          = render :partial => 'locations/location_form', :locals => { :f => locations_form, :location => locations_form.object, :only_inputs => [ field.to_sym ] }
                        - elsif model == 'transactable'
                          = render 'listings/listing_form', f: listings_form, properties_form: properties_form, listing: listings_form.object, only_inputs: [ field.to_sym ], photos: @photos, form_fields: form_component.form_fields, model: model

                - if @transactable_type.require_transactable_during_onboarding?
                  = render 'listings/listing_form', f: listings_form, properties_form: properties_form, listing: listings_form.object, only_inputs: [ :transactable_type_id, :booking_type, :id ]

                .hidden
                  - Money::Currency.table.values.each do |c|
                    %span{:id => "currency_#{c[:iso_code]}"}
                      = c[:symbol]
                  %span{:id => "default_currency"}= @transactable_type.default_currency

    .panel.form-actions
      .panel-body
        = f.submit t('general.submit'), :name => "commit", data: { disable_with: 'Creating...' }, :class => "listmydesk"
