<main id="main">
  <div class="wrapper-a">

    <div class="detail-view__content two-columns-content">
      <div class="detail-view__back">
        {% if request_referer != blank %}
          <a href="{{ request_referer }}">
        {% else %}
          <a href="/search">
        {% endif %}
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
          Back to search results
        </a>
      </div>

      <div class="detail-view__user-info">
        <div class="detail-view__avatar">
          <div class="detail-view__avatar-inner">
            <img src="{{ asset_url['assets/tmp.jpg'] }}" alt="Emory image" />
          </div>
        </div>

        <div class="detail-view__user-name">
          <h2>Jake</h2>
          <ul class="item-rating">
            <li class="item-rating__active"><i class="fa fa-star"></i></li>
            <li class="item-rating__active"><i class="fa fa-star"></i></li>
            <li class="item-rating__active"><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
          </ul>
        </div>

        <div class="detail-view__user-location">
          <p>Type: Individual</p>
          <p>Location: <span itemprop="streetAddress">St. Helens Park</span>, <span itemprop="addressRegion">New South Wales</span>, <span itemprop="postalCode">2560</span> <i class="fa fa-map-marker"></i></p>
        </div>
      </div>

      <div class="detail-view__i-have">
        <h3>I have:</h3>
        <ul class="category-list category-list__circles">
          <li data-toggle="tooltip" title="Assistance with Daily Life"><i class="csn-icon assistance-daily-life"></i></li>
          <li data-toggle="tooltip" title="Transport"><i class="csn-icon transport"></i></li>
          <li data-toggle="tooltip" title="Assistive Technology"><i class="csn-icon assistive-technology"></i></li>
          <li data-toggle="tooltip" title="Home"><i class="csn-icon home"></i></li>
          <li data-toggle="tooltip" title="Coordination of Supports"><i class="csn-icon coordination-supports"></i></li>
          <li data-toggle="tooltip" title="Increased Social and Community Participation"><i class="csn-icon increased-social-community-participation"></i></li>
          <li data-toggle="tooltip" title="Assistance with Social &amp; Community Participation"><i class="csn-icon assistance-social-community-participation"></i></li>
          <li data-toggle="tooltip" title="Working with Children"><i class="csn-icon working-with-children"></i></li>
          <li data-toggle="tooltip" title="Nursing Services"><i class="csn-icon nursing-services"></i></li>
          <li data-toggle="tooltip" title="Showering, toileting &amp; Dressing"><i class="csn-icon showering-toileting-dressing"></i></li>
          <li data-toggle="tooltip" title="Meal Preparation &amp; Shopping"><i class="csn-icon meal-preparation-shopping"></i></li>
        </ul>
        <div class="two-columns">
          <div class="two-columns-half">
            <h4>NDIS</h4>
            <ol>
              <li>Assistance with Daily Life</li>
              <li>Transport</li>
              <li>Assistance with Social &amp; Community Participation</li>
              <li>Assistive Technology</li>
              <li>Home</li>
              <li>Coordination of Supports</li>
            </ol>
          </div>
          <div class="two-columns-half">
            <h4>Other</h4>
            <ul class="list-bulleted">
              <li>Meal Preparation &amp; Shopping</li>
              <li>Showering, Toileting &amp; Dressing</li>
              <li>Nursing Services</li>
              <li>Working with Children</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="detail-view__description">
        <h3>DESCRIPTION</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, a explicabo reiciendis vitae nisi quae doloremque soluta architecto rerum? Hic a at tempore quis. Magnam laudantium voluptates expedita alias molestiae!</p>
      </div>

      <div class="detail-view__other-experiences">
        <h3>OTHER EXPERIENCES</h3>

        <ul>
          <li>
            <h4>Lorem ipsum</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam voluptas eum optio eos alias velit, mollitia nulla, esse facere et, adipisci. Enim, ratione, culpa ullam quo vero perferendis nisi tempora.</p>
            <a href="#">
              <i class="fa fa-file" aria-hidden="true"></i>
              Certificate1.pdf
            </a>
          </li>
          <li>
            <h4>Lorem ipsum</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam voluptas eum optio eos alias velit, mollitia nulla, esse facere et, adipisci. Enim, ratione, culpa ullam quo vero perferendis nisi tempora.</p>
            <a href="#">
              <i class="fa fa-file" aria-hidden="true"></i>
              Certificate2.pdf
            </a>
          </li>
        </ul>
      </div>

      <div class="detail-view__formal-training">
        <h3>FORMAL TRAINING</h3>

        <ul>
          <li>
            <h4>Formal Training Title 1</h4>
            <p class="detail-view__meta-data">
              <span>Jan 2017</span>
              <a href="#">
                <i class="fa fa-file" aria-hidden="true"></i>
                Training Certificate1.pdf
              </a>
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam voluptas eum optio eos alias velit, mollitia nulla, esse facere et, adipisci. Enim, ratione, culpa ullam quo vero perferendis nisi tempora.</p>
          </li>
          <li>
            <h4>Formal Training Title 2</h4>
            <p class="detail-view__meta-data">
              <span>Jan 2017</span>
              <a href="#">
                <i class="fa fa-file" aria-hidden="true"></i>
                Training Certificate2.pdf
              </a>
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam voluptas eum optio eos alias velit, mollitia nulla, esse facere et, adipisci. Enim, ratione, culpa ullam quo vero perferendis nisi tempora.</p>
          </li>
        </ul>
      </div>

      <div class="detail-view__vehicle-available">
        <h3>VEHICLE AVAILABLE FOR TRANSPORT</h3>
        <div class="detail-view__gallery detail-view__gallery-preview" data-detail-view-gallery-preview>
          <div><img src="{{ asset_url['assets/vehicle/1.jpg'] }}" alt="Vehicle available for transport" /></div>
          <div><img src="{{ asset_url['assets/vehicle/2.jpg'] }}" alt="Vehicle available for transport" /></div>
          <div><img src="{{ asset_url['assets/vehicle/3.jpg'] }}" alt="Vehicle available for transport" /></div>
          <div><img src="{{ asset_url['assets/vehicle/4.jpg'] }}" alt="Vehicle available for transport" /></div>
          <div><img src="{{ asset_url['assets/vehicle/5.jpg'] }}" alt="Vehicle available for transport" /></div>
          <div><img src="{{ asset_url['assets/vehicle/6.jpg'] }}" alt="Vehicle available for transport" /></div>
          <div><img src="{{ asset_url['assets/vehicle/7.jpg'] }}" alt="Vehicle available for transport" /></div>
          <div><img src="{{ asset_url['assets/vehicle/8.jpg'] }}" alt="Vehicle available for transport" /></div>
        </div>

        <div class="detail-view__gallery detail-view__gallery-thumbnails" data-detail-view-gallery-thumbnails>
          <div><img src="{{ asset_url['assets/vehicle/1.jpg'] }}" alt="Vehicle available for transport" /></div>
          <div><img src="{{ asset_url['assets/vehicle/2.jpg'] }}" alt="Vehicle available for transport" /></div>
          <div><img src="{{ asset_url['assets/vehicle/3.jpg'] }}" alt="Vehicle available for transport" /></div>
          <div><img src="{{ asset_url['assets/vehicle/4.jpg'] }}" alt="Vehicle available for transport" /></div>
          <div><img src="{{ asset_url['assets/vehicle/5.jpg'] }}" alt="Vehicle available for transport" /></div>
          <div><img src="{{ asset_url['assets/vehicle/6.jpg'] }}" alt="Vehicle available for transport" /></div>
          <div><img src="{{ asset_url['assets/vehicle/7.jpg'] }}" alt="Vehicle available for transport" /></div>
          <div><img src="{{ asset_url['assets/vehicle/8.jpg'] }}" alt="Vehicle available for transport" /></div>
        </div>
      </div>

      <div class="detail-view__web-profile">
        <h3>WEB PROFILE</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit perspiciatis, minima dignissimos quae numquam dolorum voluptate reprehenderit. Molestiae accusamus tenetur, sequi fugit similique, iure voluptatem voluptatum consequatur? Quasi, ipsa, vel.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit perspiciatis, minima dignissimos quae numquam dolorum voluptate reprehenderit. Molestiae accusamus tenetur, sequi fugit similique, iure voluptatem voluptatum consequatur? Quasi, ipsa, vel.</p>
      </div>

      <div class="detail-view__testimonials">
        <h3>TESTIMONIALS</h3>
        <div data-detail-view-testimonials-carousel>
          <div>
            <blockquote>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo qui tempora quaerat similique tempore ipsa. tenetur cumque, quae, repudiandae natus hic! Officia voluptate, numquam, autem adipisci sed facere illo modi. tenetur cumque, quae, repudiandae natus hic! Officia voluptate, numquam, autem adipisci sed facere illo modi.</p>
              <span class="detail-view__testimonials-author">By Dario Gorzeba</span>
            </blockquote>
          </div>
          <div>
            <blockquote>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. ducimus, sequi. libero ratione earum, similique quo maxime dignissimos nisi, suscipit cupiditate in natus ea optio quos ipsa expedita dolorum fugiat nobis!</p>
              <span class="detail-view__testimonials-author">By Paweł Kowalski</span>
            </blockquote>
          </div>
          <div>
            <blockquote>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo qui tempora quaerat similique tempore ipsa tenetur cumque, quae, repudiandae natus hic! Officia voluptate, numquam, autem adipisci sed facere illo modi. tenetur cumque, quae, repudiandae natus hic! Officia voluptate, numquam, autem adipisci sed facere illo modi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo qui tempora quaerat similique tempore ipsa tenetur cumque, quae, repudiandae natus hic! Officia voluptate, numquam, autem adipisci sed facere illo modi.</p>
              <span class="detail-view__testimonials-author">By Adam Broadway</span>
            </blockquote>
          </div>
        </div>
      </div>
    </div>



    <div class="detail-view__aside two-columns-aside">
      <div class="two-columns-aside-inner">
        <div class="detail-view__aside-actions">
          <a href="#" class="button-a button-lg button-block">BOOK ME</a>
          <ul>
            <li>
              <a href="#" class="button-c">
                <i class="fa fa-commenting-o"></i>
                MESSAGE
              </a>
            </li>
            <li>
              <a href="#" class="button-c">
                <i class="fa fa-heart"></i>
                FAVORITE
              </a>
            </li>
          </ul>
        </div>

        <div class="detail-view__aside-availability">
          <h3>AVAILABILITY</h3>
          <h4>Calendar:</h4>
          <input type="hidden" value="" data-detail-view-availability />
        </div>

        <div class="detail-view__aside-general-availability">
          <h4>General Availability</h4>
          <dl>
            <dt>Monday:</dt>
            <dd>8am &mdash; 5pm</dd>

            <dt>Tuesday:</dt>
            <dd>8am &mdash; 5pm</dd>

            <dt>Wednesday:</dt>
            <dd>8am &mdash; 5pm</dd>

            <dt>Thursday:</dt>
            <dd>8am &mdash; 5pm</dd>

            <dt>Sunday:</dt>
            <dd>8am &mdash; 5pm</dd>

            <dt>Holidays:</dt>
            <dd>Yes</dd>
          </dl>
        </div>

        <div class="detail-view__aside-more-information">
          <h3>MORE INFORMATION</h3>
          <h4>Gender:</h4>
          <div class="user-gender">
            <i class="fa fa-female" aria-hidden="true"></i>
          </div>

          <h4>Languages Spoken:</h4>
          <ul class="list-bulleted">
            <li>English</li>
            <li>Spanish</li>
          </ul>
        </div>

        <div class="detail-view__aside-flag-listing">
          <a href="#">
            <i class="fa fa-flag" aria-hidden="true"></i>
            Flag listing as inappropriate
          </a>
        </div>

      </div>
    </div>
  </div>
</main>





