.panel
  .panel-body
    %article.order{id: dom_id(@bid)}
      %header
        .row
          .col-sm-7
            - if @offer.present? && !@offer.deleted?
              %h2
                = link_to @offer.name, offer_path(@bid.offer)

            - else
              %h2= "#{@offer.try(:name)} [#{t('dashboard.user_reservations.listing_deleted')}]"

          .col-sm-5
            .order-status
              %span{class: @bid.state }
                = @bid.state.humanize.capitalize

      - @bid.reservation_type.custom_attributes.each do |ca|
        .row
          .col-sm-3
            %h3= t(ca.label_key)
            %p= @bid.properties[ca.name]
      - if @bid.payment_documents.any?
        %h3=  t('dashboard.user_auctions.bid_documents')
        %ul
        - @bid.payment_documents.each do |document|
          .row
            .col-sm-7
              %h3= document.payment_document_info.document_requirement.label
              %li= link_to document.file.file_name, document.file.url, download: document.file.file_name

      .row
        .col-sm-9.col-sm-push-3
          .order-actions
            jfksdjksd
        .col-sm-3.col-sm-pull-9
          %small= t('dashboard.user_reservations.reservation_placed_html', date: l(@bid.created_at, format: :only_date_short))

      .row
        .col-sm-9.col-sm-push-3
          .order-actions
          /
            - if false
              = link_to t('dashboard.user_auctions.actions.approve'),approve_dashboard_company_user_auction_path(@bid), data: { confirm: t('dashboard.user_auctions.actions.confirmations.approve') }, class: 'btn btn-primary'
              = link_to t('dashboard.user_auctions.actions.reject'), reject_dashboard_company_user_auction_path(@bid), data: { confirm: t('dashboard.user_auctions.actions.confirmations.reject') }, class: 'btn btn-warning'
