%h4 Hide Dashboard Menu Items
.content-container
  .row
    = simple_form_for @instance, :url => instance_admin_settings_dashboard_path, method: :put do |f|
      .table-container.col-xs-12.dropshadow
        %table.table
          %thead
            %tr
              %th Name
              %th Hide
          %tbody
            - Dashboard::BaseController::DASHBOARD_CONTROLLERS.each do |controller|
              %tr
                %td
                  = t("dashboard.nav.#{controller.split('/').last}")
                %td
                  = check_box_tag "hidden_dashboard_menu_items[#{controller}]", '1', @instance.hidden_dashboard_menu_items.key?(controller)
      = f.button :submit, 'Update Settings', class: 'btn btn-green pull-right'
