%h4 Hide Dashboard Menu Items
.content-container
  = simple_form_for @instance, :url => instance_admin_settings_dashboard_path, method: :put do |f|
    .content-container
      .row
        .table-container.col-xs-12.dropshadow
          %table.table
            %thead
              %tr
                %th Name
                %th Type
                %th Hide
            %tbody
              - buysell_controllers = ['dashboard/orders', 'dashboard/company/products', 'dashboard/company/orders_received']
              - services_controllers = ['dashboard/user_reservations', 'dashboard/company/transactables', 'dashboard/company/host_reservations']
              - hidden_controllers = buyable? ? services_controllers : buysell_controllers
              - (Dashboard::BaseController::DASHBOARD_CONTROLLERS - hidden_controllers).each do |controller|
                %tr
                  %td= hidden_item_name controller
                  %td= controller.include?('#') ? 'Tab' : 'Page'
                  %td
                    = check_box_tag "hidden_dashboard_menu_items[#{controller}]", '1', @instance.hidden_dashboard_menu_items.key?(controller)

    .content-container
      .row
        = f.button :submit, 'Update Settings', class: 'btn btn-green pull-right'
