.administrator
  = image_tag administrator.avatar.url(:big)
  .info
    %span.name= administrator.name
    %span.title= administrator.job_title
  .buttons
    = link_to profile_path(administrator), :class => 'btn btn-medium view' do
      %span.text View profile
    = link_to '#', :class => "btn btn-blue btn-medium ask", :data => { modal: true, href: new_listing_user_message_path(@listing) } do
      %span.text Contact
  .clearfix
.padding-row
