%section.bookings.quick-book
  .listings
    - @location.listings.each do |listing|

      .listing.box.divider.small{listing_data_attributes(listing)}
        .images
          - if listing.photos.any?
            .image{:style => "margin-right: 15px;"}
              = image_tag listing.photos.first.url(:space_listing)

        %h3= listing.name
        -# TODO: Add 'Read More for truncated text'
        %p= listing.description.truncate(200)


        .make-reservation
          .quantity
            = number_field_tag :quantity, 1, :in => 1..listing.quantity, :style => "width: 40px; text-align: center;"
          Desk
          on
          .calendar
            = text_field_tag "dates", nil, :autocomplete => "off"

          for
          %span $0.00

          .book
            = link_to "Book", "", :class => "btn btn-green btn-medium", :'data-behavior' => 'showReviewBooking'
      
        .clearfix
