{% if listing.book_it_out_available? %}
  <div class="book-it-out">
    {{ 'reservations.booking_module.book_it_out' | translate }}
    <input class="pull-right" name="book_it_out" type="checkbox" value="1">
    <div class="price"><span>{{ listing.currency | currency_content_tag: 0.00,'span',rel: false }}</span></div>
  </div>
{% endif %}
{% if listing.exclusive_price_available? %}
  <div class="exclusive-price {% if listing.only_exclusive_price_available? %}hidden{%endif %}">
    {{ 'reservations.booking_module.exclusive_price' | translate }}
    <input class="pull-right" name="exclusive_price" type="checkbox" value="1" data-force-check="{% if listing.only_exclusive_price_available? %}1{% else %}0{% endif %}">
    <div class="price"><span>{{ listing.currency | currency_content_tag: listing.exclusive_price, 'span',rel: false }}</span></div>
  </div>
  <div data-exclusive-price-content="true" style="display: none;">
    {{ 'reservations.booking_module.exclusive_price_content' | translate }}
    <input type="text" data-guest-notes="true">
  </div>
{% endif %}
{% if listing.schedule_booking? and listing.price_per_unit? %}
  <div class="number-of-units">
    <span>
      {{ 'reservations.booking_module.number_of_units' | translate }}
    </span>
    <input type="text" name="quantity" id="quantity" class="quantity" value="1"/>
  </div>
{% else %}
  <div class="quantity">
    <span class='resource' data-singular='{{listing.properties.listing_type}}' data-plural='{{ listing.properties.listing_type | pluralize }}'>{{listing.listing_type}}</span>
    <select name='quantity' class="quantity">
      {% for i in (1..listing.quantity) %}
        <option value="{{i}}">{{i}}</option>
      {% endfor %}
    </select>
  </div>
{% endif %}


{% if listing.action_free_booking? %}
  {% assign klass = ' hidden' %}
{% endif %}
<div class="price{{ klass }}">
  {{ 'booking_module.total' | translate }}
  {{ listing.currency | currency_content_tag: 0.00,'span',rel: false }}
</div>
