.booking-module-container{:class => (listing.hourly_reservations? ? 'booking-hourly' : 'booking-daily')}
  .booking-module
    - if listing.free?
      %span.label
        Free
    - elsif listing.hourly_reservations?
      %span.label
        - unless listing.hourly_price.to_f.zero?
          = "#{money_without_cents_and_with_symbol(listing.hourly_price)}"
        - else
          = '-'
        %span.period   PER HOUR
    - else
      %span.label
        - unless listing.daily_price.to_f.zero?
          = "#{money_without_cents_and_with_symbol(listing.daily_price)}"
        - else
          = '-'
        %span.period   PER DAY

      %span.label
        - unless listing.weekly_price.to_f.zero?
          = "#{money_without_cents_and_with_symbol(listing.weekly_price)}"
        - else
          = '-'
        %span.period   PER WEEK

      %span.label
        - unless listing.monthly_price.to_f.zero?
          = "#{money_without_cents_and_with_symbol(listing.monthly_price)}"
        - else
          = '-'
        %span.period   PER MONTH

    .clearfix
    .calendar-wrapper.date-start
      .calendar
        %span.ico-calender-end
        %span.calendar-text Start

    - if listing.hourly_reservations?

      .calendar-wrapper.time-picker
        .time
          %span.ico-clock
          %span.time-text 9:00am

    - else
      .calendar-wrapper.date-end
        .calendar
          %span.ico-calender-start
          %span.calendar-text End

    .quantity
      %span.resource{:'data-singular' => listing.listing_type.name, :'data-plural' => listing.listing_type.name.pluralize}= listing.listing_type.name
      = select_tag :quantity, options_for_select(1..listing.quantity), :class => 'quantity'
    .price
      Total
      %span #{currency_content_tag(@location.currency, 0.00, :span, { :rel => false })}

    .book
      = link_to_once "", :id =>"book-#{listing.id}", :disable_with => false, :rel => "tooltip", :class => "btn btn-green btn-large", :'data-original-title' => "Please select days first", :'data-behavior' => 'showReviewBookingListing', :'data-listing-id' => listing.id do
        %span.text Book

  .clearfix

  - content_for :domready do
    $('.quantity select').customSelect();
