%section.bookings
  .listings
    - @location.listings.each do |listing|
      .listing.box.divider.small{listing_data_attributes(listing)}
        .images
          - if listing.photos.any?
            .image
              = image_tag listing.photos.first.url(:space_listing)
          - else
            .no-photo No Photos


        %h3= listing.name
        %p= listing.description
        %p.price
          = listing_price(listing, 1)
          - if listing_price_show_bulk_tooltip?(listing)
            %a{:href => "#"} See bulk pricing

        .calendar.box{:'data-today' => Time.zone.now.strftime('%Y-%m-%d')}
          .prev
          .next
          .slider-window
            %ul.days
              / li
              /   %span.date 31<sup>st</sup>
              /   %span.month Oct
              
        .summary.inset-box
          %p
            %span 2 listings selected over a total of 2 days for $198.00
            = link_to "Review and book now", "", :class => "btn btn-green btn-medium", :'data-behavior' => 'showReviewBooking'

        .clearfix    

