%section.bookings.quick-book{:'data-view' => "simple"}
  .listings
    - @location.listings.each do |listing|

      .listing.box.divider.small{listing_data_attributes(listing)}
        .images
          - if listing.photos.any?
            .image{:style => "margin-right: 15px;"}
              = image_tag listing.photos.first.url(:space_listing)

        %h3.listing-name
          = listing.name
        
        = truncate_with_ellipsis listing.description, 250, :class => "listing-description"

        .make-reservation
          .quantity
            = select_tag :quantity, options_for_select(1..listing.quantity), :class => 'quantity'
          %span.resource desk
          on

          .calendar-wrapper
            .calendar
              %span.ico-calender
              %span.total-days 1 day

          for
          %span $#{content_tag(:span, "0.00", :class => 'total')}

          .book
            = link_to "", :class => "btn btn-green btn-large", :'data-behavior' => 'showReviewBookingListing', :'data-listing-id' => listing.id do
              %span.ico-check.padding Book

        .clearfix

- content_for :domready do
  $('.quantity select').customSelect();