%section.bookings.quick-book{:'data-view' => "simple"}
  .listings
    - @location.listings.each do |listing|

      .listing.box.divider.small{listing_data_attributes(listing)}
        .images
          - if listing.photos.any?
            .image{:style => "margin-right: 15px;"}
              = image_tag listing.photos.first.url(:space_listing)

        %h3.listing-name
          = listing.name
        -# TODO: Add 'Read More for truncated text'
        %p.listing-description
          = listing.description.truncate(200)

        .make-reservation
          .quantity
            = select_tag :quantity, options_for_select(1..listing.quantity), :style => "width: 40px; text-align: center;", :class => 'quantity'
          %span.resource desk
          on
          .calendar
            = text_field_tag "dates", nil, :autocomplete => "off"
            %span.total-days 1 day

          for
          %span $#{content_tag(:span, "0.00", :class => 'total')}

          .book
            = link_to "Book", "", :class => "btn btn-green btn-medium", :'data-behavior' => 'showReviewBookingListing', :'data-listing-id' => listing.id

        .clearfix
