.booking-module-container{:class => (listing.hourly_reservations? ? 'booking-hourly' : 'booking-daily')}
  .booking-module
    - if listing.free?
      %span.label
        Free
    - elsif listing.hourly_reservations?
      - unless listing.hourly_price.to_f.zero?
        %span.label
          = "#{money_without_cents_and_with_symbol(listing.hourly_price)}"
          %span.period   Hour
      - else
        %span.label.unavailable
          Price
          %span.period   N/A
    - else
      - unless listing.daily_price.to_f.zero?
        %span.label
          = "#{money_without_cents_and_with_symbol(listing.daily_price)}"
          %span.period   Day
      - else
        %span.label.unavailable
          Price
          %span.period   N/A
      - unless listing.weekly_price.to_f.zero?
        %span.label
          = "#{money_without_cents_and_with_symbol(listing.weekly_price)}"
          %span.period   Week
      - else
        %span.label.unavailable
          Price
          %span.period   N/A
      - unless listing.monthly_price.to_f.zero?
        %span.label
          = "#{money_without_cents_and_with_symbol(listing.monthly_price)}"
          %span.period   Month
      - else
        %span.label.unavailable
          Price
          %span.period   N/A
    %hr
    .calendar-wrapper.date-start
      .calendar
        %span.ico-calendar-start
        %span.calendar-text Start

    - if listing.hourly_reservations?

      .calendar-wrapper.time-picker
        .time
          %span.ico-clock
          %span.time-text 9:00am

    - else
      .calendar-wrapper.date-end
        .calendar
          %span.ico-calendar-end
          %span.calendar-text End

    .quantity
      %span.resource{:'data-singular' => listing.listing_type.name, :'data-plural' => listing.listing_type.name.pluralize}= listing.listing_type.name
      = select_tag :quantity, options_for_select(1..listing.quantity), :class => 'quantity'
    .price
      Total
      %span #{currency_content_tag(@location.currency, 0.00, :span, { :rel => false })}

    .book
      = link_to_once "", :id =>"book-#{listing.id}", :disable_with => false, :rel => "tooltip", :class => "btn btn-green btn-large", :'data-original-title' => "Please select days first", :'data-behavior' => 'showReviewBookingListing', :'data-listing-id' => listing.id do
        %span.ico-check.padding 
        %span.text Book

  .clearfix

  - content_for :domready do
    $('.quantity select').customSelect();
