%article.company
  %h2
    = location.company.name
    - if location.company.url.present?
      = link_to location.company.url, rel: 'nofollow', target: '_blank' do
        %span.ico-open-link

  %p= location.company.description
  - if location.company.industries_metadata.try(:any?) && platform_context.instance.has_industries?
    .amenities-block
      .amenities-header
        %h3= t 'location.company.industries'
        %a{href: '#industries'}
          %h3= t 'location.company.industries'
          %span.ico-chevron-right
      .amenities-container
        - location.company.industries_metadata.in_groups_of(4).each do |industry_group|
          .row-fluid.amenities-row
            - industry_group.compact.each do |industry_name|
              .span3{title: industry_name}
                = industry_name
    .clearfix
