.map
  .map-wrapper.google-map
    .map-container
  .bottom-heading
    = link_to "http://maps.apple.com/?daddr=#{location.address}&saddr=#{request.location.try(:address)}", target: '_blank' do
      = location.address
    %span.ico-chevron-right.pull-right

  %address{"data-lat" => location.latitude, "data-lng" => location.longitude, :class => 'hidden'}
    #address-popover
      = location_format_address(location.address)
      = link_to "https://maps.google.com/maps?q=#{location.address}", target: '_blank' do
        %span.ico-open-link.padding
