.listing.box{listing_data_attributes(listing)}
  %header
    %h2
      = listing.name
  .listing-photo-container
    .images
      .image
        - if listing.photos.any?
          = image_tag listing.photos.first.image_url(:space_listing), :alt => listing.name
        - else
          = image_tag space_listing_placeholder_path(:height => 254, :width => 410), :title => listing.name, :alt => listing.name

  %h2.listing-name
    = listing.name
  .listing-description
    = truncate_with_ellipsis listing.description, 250

  .bottom-fade

  = render 'locations/booking_module', listing: listing
  .clearfix

