.listing.box{listing_data_attributes(listing)}
  %header
    %h2
      = listing.name
  .listing-photo-container
    .images
      - if listing.photos.any?
        .image
          = image_tag listing.photos.first.url(:space_listing)

  %h2.listing-name
    = listing.name
  .listing-description
    = truncate_with_ellipsis listing.description, 250

  .bottom-fade

  = render 'booking_module', listing: listing
  .clearfix

