.listing.box{listing_data_attributes(listing)}
  %header
    %h2
      = mask_phone_and_email_if_necessary(listing.name)
  .listing-photo-container
    .images
      .image
        - if listing.has_photos?
          = image_tag listing.photos.first.image_url(:space_listing), :alt => mask_phone_and_email_if_necessary(listing.name), :title => mask_phone_and_email_if_necessary(listing.name)
        - else
          = image_tag space_listing_placeholder_path(:height => 254, :width => 410), :title => mask_phone_and_email_if_necessary(listing.name), :alt => mask_phone_and_email_if_necessary(listing.name)

  %h2.listing-name
    = mask_phone_and_email_if_necessary(listing.name)
  .listing-description
    = truncate_with_ellipsis mask_phone_and_email_if_necessary(sanitize(listing.description)), 250

  .bottom-fade

  = render 'locations/booking_module', listing: listing
  .clearfix

