- legacy false

- content_for :hero do
  .hero-wood-texture
    .container.space-hero-search-return
      = link_to "Back to search", search_url

  - if @location.photos.any?
    = render 'photos'

%article#space
  %ul.subnav.right.green
    %li.current= link_to "Book", "", :'data-behavior' => 'scrollToBook'

  %ul.subnav.right.blue
    %li{:class => ('current' if tab == :overview)}= link_to "Overview", location_url(@location)
    %li{:class => ('current' if tab == :host)}= link_to "Host", host_location_url(@location)
    /%li{:class => ('current' if tab == :networking)}= link_to "Networking", networking_location_url(@location)

  %h1 #{@location.name}

  .clearfix
    = yield

  %hr.divider

  = render 'bookings'

- content_for :script do
  / ShareThis script
  / FIXME: Get DNM login/api key
  = javascript_tag do
    var switchTo5x=true;
  = javascript_include_tag "http://w.sharethis.com/button/buttons.js"
  = javascript_tag do
    stLight.options({publisher: "ed2de743-77e7-437b-a5a3-f1fa39f72cfc"});

  :javascript
    // Initialize the ui controller
    new Space.Controller(
      $('article.space, article#space'),
      {
        bookings: {
          listings: #{raw location_listings_json},
          availability_summary_url: #{raw availability_summary_location_url(@location).to_json},
          review_url: #{raw review_location_reservations_url(@location).to_json}
        }
      }
    )
