- legacy false

- content_for :hero do
  .hero-wood-texture
    .container.space-hero-search-return
      = link_to "Back to search", search_url

  - if @location.photos.any?
    = render 'photos'

%article#space

  .clearfix
    = yield


- content_for :script do
  / ShareThis script
  / FIXME: Get DNM login/api key
  = javascript_tag do
    var switchTo5x=true;
  = javascript_include_tag "http://w.sharethis.com/button/buttons.js"
  = javascript_tag do
    stLight.options({publisher: "6a574b36-b1b7-4eff-bbc2-5cda0add4a98"});

  :javascript
    // Initialize the ui controller
    new Space.Controller(
      $('article.space, article#space'),
      {
        bookings: {
          listings: #{raw location_listings_json},
          availability_summary_url: #{raw availability_summary_location_url(@location).to_json},
          review_url: #{raw review_location_reservations_url(@location).to_json}
        }
      }
    )
