- legacy false

- title @location.name

- content_for :hero do
  .container-fluid
    %h1
      #{@location.name}

      - if @location.url.present?
        = link_to @location.url, :target => :_blank do
          %div.ico-open-link


%ul.nav.nav-tabs#location-tabs
  %li.active
    %a{:href=>"#photos",  'data-toggle' => "tab"}
      Photos & Map
  %li
    %a{:href=>"#details",  'data-toggle' => "tab"}
      Details

.tab-content
  .tab-pane.active#photos
    = render 'photos'
  .tab-pane#details
    = render 'info'

%article#space

  .clearfix
    .row-fluid.padding-row
      .span12
        = render 'listings'

- content_for :script do
  :javascript
    // Initialize the ui controller
    $(function() {
      new Space.Controller(
        $('article.space, article#space'),
        {
          bookings: {
            listings: #{raw location_listings_json},
            availability_summary_url: #{raw availability_summary_location_url(@location).to_json},
            review_url: #{raw review_location_reservations_url(@location).to_json},

            // Have we returned from setting up a session. If there are bookings, the JS controller
            // will trigger showing the booking confirmation modal.
            returnedFromSession: #{@initial_bookings.present? ? 'true' : 'false'},

            // FIXME: We should move the 'Today' default booking behaviour to this seed data.
            initial_bookings: #{@initial_bookings.to_json}
          }
        });
      });
    analytics.track("Viewed a Location", {
      suburb: "#{@location.suburb}",
      city: "#{@location.city}",
      state: "#{@location.state}",
      country: "#{@location.country}",
    });
