= render :layout => 'show_layout', :locals => { :tab => :overview, :location => @location} do
  .row-fluid
    .span4
      .box
        %h2 About
        %p= truncate_with_ellipsis @location.description, 250

        - if @location.phone.present?
          %strong.ico-phone.padding= @location.phone

        - if @location.creator
          %p
          - if @location.creator.phone
            %p.ico-phone.padding= @location.creator.phone
          %p= truncate_with_ellipsis @location.company.description, 250

        - if @amenities            
          %ul
            - @location.amenities.each do |amenity|
              %li= amenity

    .span8
      = render 'bookings'
