- @listing = @location.listings.first
- @listing.description = @location.listings.first.description   

= render :layout => 'show_layout', :locals => { :tab => :overview } do   

  .one-third.column.alpha

    .accordion
      .accordion-group
        .accordion-heading
          %a.accordion-toggle{'data-toggle' => 'collapse', 'data-parent' => '.accordion', 'href' => '#overview_tab'}
            Overview
        #overview_tab.accordion-body.collapse.in
          .accordion-inner
            %p= truncate_with_ellipsis @location.description, 250

            - if @location.phone.present?
              %strong= @location.phone


      - if @location.creator
        .accordion-group
          .accordion-heading
            %a.accordion-toggle{'data-toggle' => 'collapse', 'data-parent' => '.accordion', 'href' => '#host_tab'}
              Company
          #host_tab.accordion-body.collapse
            .accordion-inner
              %p
              - if @location.creator.phone
                %p= @location.creator.phone 
              %p= truncate_with_ellipsis @location.company.description, 250
 
      - if @amenities
        .accordion-group
          .accordion-heading
            %a.accordion-toggle{'data-toggle' => 'collapse', 'data-parent' => '.accordion', 'href' => '#amenities_tab'}
              Amenities
          #amenities_tab.accordion-body.collapse
            .accordion-inner
              %ul
                - @location.amenities.each do |amenity|
                  %li= amenity

  .two-thirds.column.omega
    = render 'bookings'