- if params[:listing_id].present?
  - title "#{@listing.name} | #{@location.name}"
- else
  - title render('locations/title', location: @location)
- canonical_url location_path(@location)
- meta_description "#{mask_phone_and_email_if_necessary(@location.description).try(:truncate, 130)}"
= transactable_structured_data

- content_for :hero do
  // Have we returned from setting up a session. If there are bookings, the JS controller
  // will trigger showing the booking confirmation modal.
  %article#space{ data: { listings: location_listings_json, "returned-from-session": (@initial_bookings.present? ? @form_trigger.to_s : 'false') }}
    .container-fluid
      .row-fluid.padding-row
        .span12.nested
          %h1= mask_phone_and_email_if_necessary(@location.name)

      .container-row
        .two-thirds.column.left
          - cache i18n_cache_key(@location), expires_in: cache_expires_in_for(:location) do
            = render 'locations/location_photos', location: @location

          .padding-row

          %section.listing-details
            = render partial: 'shared/tabs_for_location', locals: { description_partial: 'locations/location_description' }

        .one-third.column.left
          .toggleable-booking-modules
            - @listings.each_with_index do |listing, index|
              - cache i18n_cache_key(listing, user_signed_in?, listing.instance.context_cache_key.to_s, index) do
                = render 'locations/listings/booking', listing: listing, collapsed: index > 0
              .padding-row

          - if platform_context.instance.wish_lists_enabled?
            = render 'shared/components/wish_list_button', object: @location, link_to_class: 'btn btn-white btn-large ask'

          .padding-row

          -if @location.administrator
            = render 'locations/administrator', administrator: @location.administrator, listing: @listing

          = render 'locations/google_map', location: @location

          .padding-row

          = render 'locations/social_buttons', location: @location

.clearfix.padding-row

- content_for :domready do
  - if @listing && params[:action] == 'ask_a_question'
    $(document).trigger('load.modal', ['#{new_listing_user_message_path(@listing)}']);
