- render_content_outside_container!
- meta_title "W Hotels and Desks Near Me"

%section#w-hotels
  .row-fluid.padding-row
    .span12.header-image
      #w-ny.carousel.slide
        .carousel-inner
          .active.item
            = image_tag "w-hotels/w-hotels+desks-near-me.jpg"  
          .item
            = image_tag "w-hotels/w-downtown-living-room.jpg"             
          .item
            = image_tag "w-hotels/w-downtown-balcony.jpg"     
          .item
            = image_tag "w-hotels/w-downtown-chairs.jpg"
          .item
            = image_tag "w-hotels/w-downtown-bar.jpg"
          .item
            = image_tag "w-hotels/w-downtown-exterior.jpg"                        
        / Carousel nav
        %a.carousel-control.left{"data-slide" => "prev", :href => "#w-ny"} ‹
        %a.carousel-control.right{"data-slide" => "next", :href => "#w-ny"} ›

  .container-fluid

    .row-fluid
      %h1 W Hotels has Luxury Workspaces in the Heart of New York City

    .row-fluid
      .span4
        %p Now, working remotely can feel like home. Desks Near Me has partnered with W Hotels to offer chic, collaborative workspace options at Manhattan’s W New York Downtown.  
      .span4
        %p You’ll find amenities to fit every project, whether you’re working with a group or on your own. Host intimate meetings in the luxuriously appointed Living Room, or find focus in private work suites.  
      .span4
        %p Wireless high-speed Internet access, AV equipment, and video conferencing services are all on site, should you require them. Need to coordinate meetings with colleagues and clients? The hotel is conveniently located in Downtown Manhattan.
    .row-fluid.padding-row.w-hotels-listing.quick-book.location-photos
      .span8.listing
        .carousel.slide
          .carousel-inner
            - if @location.photos.any?
              - @location.photos.each_with_index do |photo, index|
                .item{:class => ("active" if index == 0)}
                  = image_tag photo.image_url(:golden)
                  - if photo.caption.present?
                    .carousel-caption.ico-info
                      = photo.caption
            - else
              = image_tag space_listing_placeholder_path(:height => 554, :width => 895), :title => @location.name, :alt => @location.name

          - if @location.photos.size > 1
            = link_to "", ".carousel", :class => "carousel-control left ico-chevron-left", 'data-slide' => 'prev'
            = link_to "", ".carousel", :class => "carousel-control right ico-chevron-right", 'data-slide' => 'next'


      .span4.listing
        %h1 Private Office
        %p Close enough to rub shoulders with Financial District movers and shakers and surrounded by such inimitable icons as the Statue of Liberty and 1 World Trade Center, enjoy your own work space at W New York – Downtown. Power wheel and deal with a private office featuring an L shaped desk, seating, high speed internet access, plus hotel amenities at your fingertips.
        
        = render 'locations/booking_module', listing: @listing
      
:javascript
  $(function() {
    new Bookings.Controller($('#w-hotels .w-hotels-listing'),
      #{raw listing_booking_data(@listing).to_json},
      {
        showReviewBookingImmediately: #{params[:restore_reservations].present?.to_json}
      }
    );

  });


