%header.dialog__header
  %h2#dialog__title= t('dashboard.users.new_admin_dialog.title_html', name: @company.name)

= dashboard_simple_form_for([:dashboard, :company, @user], html: { :"data-modal" => true } ) do |f|
  .dialog__body

    = render 'dashboard/shared/flash'

    = f.input :email

  .dialog__actions
    = f.submit t('dashboard.users.new_admin_dialog.submit')
