- no_topic_select = false if local_assigns[:no_topic_select].nil?

- if current_user.try(:can_update_feed_status?, object) == true
  .publish-a
    = render 'user_status_updates/form', user_status_update: UserStatusUpdate.new, no_topic_select: no_topic_select, feed: feed

- if feed.events.count > 0
  .content-container{ 'data-activity-feed': true, data: feed_data }
    = render partial: "shared/activity_status", collection: feed.events, as: :event, locals: { object: object }

  - if feed.has_next_page?
    - if user_signed_in?
      %p.more-a{ :'data-see-more' => true }
        %button{ data: { url: see_more_activity_feed_path(id: feed.owner_id, type: feed.owner_type), next_page: feed.events.next_page } }
          = t(:see_more)
    - elsif
      %p.more-a
        = link_to t(:see_more), new_user_session_path

- else
  %p= t("activity_feed.no_interactions_yet")
