%header
  %figure= formatted_event.image.present? ? image_tag(formatted_event.image) : space_listing_placeholder_path(width: 80, height: 80)
  %p.desc
    = formatted_event.text

  - if status_update_event?(event.event)
    = render "shared/activity_status_actions", event: event

  - if comment_event?(event.event)
    = render "comments/comment_actions", comment: event.event_source

  %p.meta
    %time
      = l(event.created_at, format: :long)
