%article.card-a
  %figure
    = link_to user_path(user.slug) do
      = image_tag user.avatar.url(:bigger)
  .action
    = render "shared/follow_button", object: user, object_type: 'User', css_class: "tiny"
  %h3.hx
    = link_to user.to_liquid.name_with_affiliation, user_path(user.slug)
  %p= user.properties.try(:short_bio)
  %p.location= "#{user.current_address.try(:city)}, #{user.current_address.try(:state)}"
