%article.card-a
  %figure
    = link_to listing_path(project) do
      = image_tag project.cover_photo.image_url(:golden)
  %p.action{:'data-follow-button' => true}
    = render partial: 'shared/follow_button', locals: { object: project, css_class: 'tiny' }
  %h3.hx
    = link_to project.name, listing_path(project)
  %p.user
    = link_to user_path(project.creator.slug) do
      = image_tag project.creator.avatar.url(:thumb), width: 30, height: 30
      = project.creator.decorate.name_with_affiliation
  %p= custom_sanitze project.description.truncate(100)
