.cell
  / teaser box
  %article.card-a{"data-equalize" => true}
    %figure
      = link_to user_path(user.slug) do
        = image_tag user.avatar.url(:bigger)
        - if (user.properties.respond_to?(:role) && user.properties.role.present?) || user.featured?
          %figcaption
            - if user.properties.respond_to?(:role) && user.properties.role.present?
              = user.properties.role
            - else
              = t :featured
    %ul.numbers
      %li
        = t :projects
        %span= user.all_transactables_count
      %li
        = t :followers
        %span{ data: { followers_count: "User:#{user.id}" }}= user.followers_count
    .action
      = render "shared/follow_button", object: user, object_type: 'User', css_class: "tiny"

    .message-action
      %a.button-a.tiny.light.action--message{ href: new_user_user_message_path(user),
        data: { modal: '',
                href: new_user_user_message_path(user),
                message_trigger: '' }}
        = t('messages.trigger_button')

    %h3.hx
      = link_to user.to_liquid.name_with_affiliation, user_path(user.slug)
    - if user.properties.try(:short_bio)
      %p= user.properties.short_bio
    = user.decorate.display_address
