.cell
  / teaser box
  %article.card-a{"data-equalize" => true}
    %figure
      = link_to user_path(user.slug) do
        = image_tag user.avatar.url(:bigger)
        - if (user.properties.respond_to?(:role) && user.properties.role.present?) || user.featured?
          %figcaption
            - if user.properties.respond_to?(:role) && user.properties.role.present?
              = user.properties.role
            - else
              = t :featured
    %ul.numbers
      %li
        = t :projects
        %span= user.all_transactables_count
      %li
        = t :followers
        %span= user.followers_count
    %p.action{:'data-follow-button' => true}
      = render partial: "shared/follow_button", locals: { object: user, css_class: "tiny" }
    %h3.hx
      = link_to user.decorate.name_with_affiliation, user_path(user.slug)
    - if user.properties.try(:short_bio)
      %p= user.properties.short_bio
    = user.decorate.display_address
