%ul.nav.navbar-nav.navbar-right
  - if (!no_listing_buttons? || platform_context.white_label_company_user?(current_user)) && HiddenUiControls.find('main_menu/cta').visible?
    - if current_user && current_user.registration_in_progress?
      - tt = current_user.first_transactable.try(:transactable_type)
      %li= link_to t('ui.header.complete_your_thing', thing: tt.translated_bookable_noun), tt.wizard_path
    - elsif !current_user.try(:registration_completed?)
      - if platform_context.single_type?
        = render partial: 'layouts/list_your_bookable', locals: { transactable_type: platform_context.transactable_types.first }
      - else
        = dropdown_menu t('ui.header.list_your'), { wrapper_tag: :li } do
          - platform_context.transactable_types.each do |tt|
            = render partial: 'layouts/list_your_bookable', locals: { transactable_type: tt }
  - if user_signed_in?
    - if current_instance.use_cart? && current_user.cart_orders.any? && HiddenUiControls.find('main_menu/cart').visible?
      %li
        - cart = CartDecorator.new(current_user)
        = link_to cart_index_path do
          %span.fa.fa-shopping-cart.visible-xs-inline
          %span.hidden-xs= t('top_navbar.cart_dashboard')
          = "(#{cart.line_items_count})"
          %span.hidden-xs= cart.total_display.html_safe

    = dropdown_menu "#{current_user.first_name} #{current_user_open_all_reservations_count_formatted}", { wrapper_tag: :li } do

      - if current_user.instance_admins_metadata
        %li= link_to t('top_navbar.marketplace_admin'), user_menu_instance_admin_path(current_user.instance_admins_metadata), target: '_blank'

      - if platform_context.white_label_company_user?(current_user) && current_user.registration_completed? && HiddenUiControls.find('main_menu/manage_items').visible?
        - platform_context.transactable_types.each do |transactable_type|
          - if is_i18n_set?("top_navbar.manage_bookable.#{transactable_type.name}")
            - title = t("top_navbar.manage_bookable.#{transactable_type.name}")
          - else
            - title = t('top_navbar.manage_bookable', bookable_noun: transactable_type.translated_bookable_noun(10))
          %li= link_to title, main_app.dashboard_company_transactable_type_transactables_path(transactable_type)

        - platform_context.project_types.each do |project_type|
          %li= link_to "My #{project_type.translated_bookable_noun(10)}", main_app.dashboard_project_type_projects_path(project_type)

      - if platform_context.bookable? && HiddenUiControls.find('main_menu/my_bookings').visible? && (!current_instance.split_registration || current_user.buyer_profile.present?)
        %li
          = link_to main_app.dashboard_orders_path do
            = t('top_navbar.my_orders')
            = current_user_orders_count_formatted

      - if platform_context.bookable? && current_instance.split_registration && current_user.seller_profile.present? && HiddenUiControls.find('dashboard/host_reservations').visible?
        %li
          = link_to main_app.dashboard_company_host_reservations_path do
            = t('top_navbar.bookings_received')
            = current_user_open_host_reservations_count_formatted

      - if platform_context.instance.wish_lists_enabled? && HiddenUiControls.find('main_menu/wish_list').visible?
        %li= link_to t('wish_lists.name'), main_app.dashboard_wish_list_items_path

      - if !current_user.requests_for_quotes.empty? && HiddenUiControls.find('main_menu/rfq').visible?
        %li= link_to t('reservations.rfq_menu_text'), main_app.dashboard_user_requests_for_quotes_path

      - if platform_context.instance.blogging_enabled?(current_user) && HiddenUiControls.find('main_menu/manage_blog').visible?
        %li= link_to t('top_navbar.manage_blog'), main_app.dashboard_blog_path

      - if HiddenUiControls.find('main_menu/account').visible?
        %li= link_to t('top_navbar.account'), main_app.dashboard_profile_path

      - if HiddenUiControls.find('main_menu/view_profile').visible?
        %li.view_profile= link_to t('top_navbar.view_profile'), main_app.user_path(current_user), rel: 'external'

      %li= link_to t('top_navbar.log_out'), main_app.destroy_user_session_path, :method => :delete, class: 'nav-link dropdown-toggle', :data => {:user => current_user.first_name }

    - if HiddenUiControls.find('main_menu/messages').visible?
      %li.visible-lg-block
        = link_to main_app.dashboard_user_messages_path, class: 'nav-link' do
          = t('top_navbar.messages')
          - if current_user.unread_user_message_threads_count_for(platform_context.instance) > 0
            %span.count= "#{current_user.unread_user_message_threads_count_for(platform_context.instance)}"

  - else
    %li
      = link_to_registration get_return_to_url, platform_context.secured_constraint, secure_links?, data: { modal: true, 'modal-class' => 'sign-up-modal', 'modal-overlay-close' => 'disabled' } do
        = t('top_navbar.sign_up')
    %li
      = link_to_login url_options: get_return_to_url, data: { modal: true, 'modal-class' => 'sign-up-modal' } do
        = t('top_navbar.log_in')
