.footer-wrapper
  .container-fluid
    %footer
      .row-fluid
        .span12
          %ul
            %li= link_to "Contact", "mailto:contact@desksnear.me"
            %li.last= link_to "Support", "http://support.desksnear.me"
            %li= link_to "Privacy", privacy_url
            %li= link_to "iPhone App", "https://itunes.apple.com/us/app/desks-near-me/id529634519?mt=8"
            %li= link_to "Jobs", "http://careers.stackoverflow.com/jobs/25136/ruby-on-rails-developer-desks-near-me"
            %li= link_to "Blog", "http://blog.desksnear.me/", :class => "clear-footer"
            %li= link_to "Twitter", "https://twitter.com/desksnearme"
            %li= link_to "Facebook", "https://www.facebook.com/DesksNearMe"

      .copyright
        %p  &copy; 2012 Desks Near Me Corp &bull; 1.888.998.DESK
