.footer-wrapper
  .container-fluid
    %footer
      .row-fluid
        .span12
          %ul
            %li= link_to "Contact", "mailto:contact@desksnear.me"
            %li.last= link_to "Support", "http://support.desksnear.me", :target => '_blank'
            %li= link_to "Legal", legal_url, :target => '_blank'
            %li= link_to "iPhone App", "https://itunes.apple.com/us/app/desks-near-me/id529634519?mt=8", :target => '_blank'
            %li= link_to "Blog", "http://blog.desksnear.me/", :class => "clear-footer", :target => '_blank'
            %li= link_to "Twitter", "https://twitter.com/desksnearme", :target => '_blank'
            %li= link_to "Facebook", "https://www.facebook.com/DesksNearMe", :target => '_blank'
            %li= link_to "Instagram", "https://instagram.com/DesksNearMe", :target => '_blank'

      .copyright
        %p  &copy; 2013 Desks Near Me 
