.footer-wrapper
  .container
    %footer
      .inner.row
        .sixteen.columns
          %ul
            %li= link_to "Contact", "mailto:contact@desksnear.me"
            %li.last= link_to "Support", "http://support.desksnear.me"
            %li= link_to "Privacy", privacy_url
            %li= link_to "Blog", "http://blog.desksnear.me/", :class => "clear-footer"
            %li= link_to "Twitter", "https://twitter.com/desksnearme"
            %li= link_to "Facebook", "https://www.facebook.com/DesksNearMe"

        .sixteen.columns.copyright
          %p  &copy; 2012 Desks Near Me Corp &bull; 1.888.998.DESK
