.container
  %footer
    .inner.row
      %ul.ten.columns
        = footer_link "Home", root_url
        = footer_link "Browse Spaces", locations_url
        = footer_link "Sign Up", new_user_registration_url
        = footer_link "Log In", new_user_session_url
        = footer_link "List Your Space", new_location_url
        = footer_link "About Us", "", nil, class: "last"

      .copyright.six.columns
        %p Copyright &copy; 2012 Desks Near Me Corp