- if user_signed_in?
  %ul.nav
    %li.dropdown
      %a.ico-dashboard.dropdown-toggle.nav-link{"data-toggle" => "dropdown", :href => "#"}
        %span Manage
        %b.caret
      %ul.dropdown-menu
        %li
          = link_to manage_locations_path do
            %span.ico-location.padding Locations
        %li
          = link_to manage_guests_dashboard_path do
            %span.ico-manage-guests.padding Guests
        %li
          = link_to payments_dashboard_path do
            %span.ico-credit-card.padding Payments
        - if current_user.companies.any? && current_user.companies.first.id.present?
          %li
            = link_to edit_manage_company_path(current_user.companies.first) do
              %span.ico-settings.padding Settings
    %li
      = link_to bookings_dashboard_path, class: 'nav-link ico-bookings dropdown-toggle' do
        %span My Bookings
    %li.dropdown
      %a.ico-user.dropdown-toggle.nav-link{"data-toggle" => "dropdown", :href => "#"}
        %span
          = current_user.first_name
        %b.caret
      %ul.dropdown-menu
        %li
          = link_to edit_user_registration_path do
            %span.ico-edit.padding Edit profile
        %li
          = link_to destroy_user_session_path, :method => :delete do
            %span.ico-logout.padding Log Out

- else
  = link_to new_user_session_url(get_return_to_url), :rel => 'modal.sign-up-modal', :class => "nav-link header-second margin-right ico-login padding-right" do
    %span.padding-left Log In
  = link_to new_user_registration_url(get_return_to_url), :rel => 'modal.sign-up-modal', :class => "nav-link header-first margin-right ico-sign-up padding-right" do
    %span.padding-left Sign Up

- if !user_signed_in?
  = link_to new_user_registration_url(:return_to => new_space_wizard_url), :rel => 'modal.sign-up-modal', :class => "btn btn-blue btn-medium ico-add-location" do
    %span.padding-left List Your Space
- elsif current_user.companies.empty?
  = link_to new_space_wizard_url, :class => "btn btn-blue btn-medium ico-add-location" do
    %span.padding-left List Your Space
