%ul.nav.main-menu
  - if (!no_listing_buttons? || platform_context.white_label_company_user?(current_user)) && HiddenUiControls.find('main_menu/cta').visible?
    - if current_user && current_user.registration_in_progress?
      - tt = current_user.first_transactable.try(:transactable_type)
      %li
        = link_to tt.wizard_path, :class => "nav-link" do
          %span.text= t('ui.header.complete_your_thing', thing: tt.translated_bookable_noun)
          %span.icon.ico-plus
    - elsif !current_user.try(:registration_completed?)
      - if platform_context.single_type?
        = render partial: 'layouts/list_your_bookable', locals: { transactable_type: platform_context.transactable_types.first }
      - else
        %li.dropdown
          %a.nav-link.dropdown-toggle.btn.btn-blue.btn-medium{"data-toggle" => "dropdown", href: "#"}
            %span.text= t('ui.header.list_your')
            %span.ico-chevron-down
          .clearfix
          %ul.dropdown-menu
            - platform_context.transactable_types.each do |tt|
              = render partial: 'layouts/list_your_bookable', locals: { transactable_type: tt }
  - if user_signed_in?
    - if current_user.cart_orders.any? && HiddenUiControls.find('main_menu/cart').visible? && current_instance.use_cart?
      %li.divider-vertical
      %li
        = link_to cart_index_path, class: 'nav-link' do
          %span.text= t('top_navbar.cart', cart: CartDecorator.new(current_user, current_order, checkout_step).navigation).html_safe
          %span.icon.ico-cart

    %li.divider-vertical
    %li.dropdown
      %a.nav-link.dropdown-toggle.user-dropdown{"data-toggle" => "dropdown", href: "#"}
        %span.text= current_user.first_name
        %span.icon.ico-user
        = current_user_open_all_reservations_count_formatted
        %span.ico-chevron-down
      .clearfix
      %ul.dropdown-menu
        - if current_user.instance_admins_metadata
          %li
            = link_to user_menu_instance_admin_path(current_user.instance_admins_metadata), class: 'nav-link dropdown-toggle', target: '_blank' do
              %span= t 'top_navbar.marketplace_admin'

        - if HiddenUiControls.find('main_menu/manage_items').visible? && platform_context.white_label_company_user?(current_user) && current_user.registration_completed?
          - platform_context.transactable_types.decorate.each do |transactable_type|
            %li
              - if is_i18n_set?("top_navbar.manage_bookable.#{transactable_type.name}")
                - title = t("top_navbar.manage_bookable.#{transactable_type.name}")
              - else
                - title = t('top_navbar.manage_bookable', bookable_noun: transactable_type.translated_bookable_noun(10))
              = link_to main_app.dashboard_company_transactable_type_transactables_path(transactable_type_id: transactable_type.becomes(TransactableType)), class: 'nav-link dropdown-toggle' do
                %div.truncate= title

        - if platform_context.bookable? && current_instance.split_registration && current_user.seller_profile.present? && HiddenUiControls.find('dashboard/host_reservations').visible?
          %li
            = link_to main_app.dashboard_company_orders_received_index_path, class: 'nav-link dropdown-toggle' do
              %span= t 'top_navbar.bookings_received'
              = current_user_open_host_reservations_count_formatted

        - if (platform_context.bookable? && HiddenUiControls.find('main_menu/my_bookings').visible?) && (!current_instance.split_registration || current_user.buyer_profile.present?)
          %li
            = link_to main_app.dashboard_orders_path, class: 'nav-link dropdown-toggle' do
              %span= t 'top_navbar.my_orders'
              = current_user_orders_count_formatted

        - if platform_context.instance.wish_lists_enabled? && HiddenUiControls.find('main_menu/wish_list').visible?
          %li
            = link_to main_app.dashboard_wish_list_items_path, class: 'nav-link dropdown-toggle' do
              %span= t 'wish_lists.name'

        - if !current_user.requests_for_quotes.empty? && HiddenUiControls.find('main_menu/rfq').visible?
          %li
            = link_to main_app.dashboard_user_requests_for_quotes_path, class: 'nav-link dropdown-toggle' do
              %span= "#{t('reservations.rfq_menu_text')}"

        - if platform_context.instance.blogging_enabled?(current_user) && HiddenUiControls.find('main_menu/manage_blog').visible?
          %li
            = link_to main_app.dashboard_blog_path, class: 'nav-link dropdown-toggle' do
              %span= t 'top_navbar.manage_blog'

        - if HiddenUiControls.find('main_menu/account').visible?
          %li
            = link_to main_app.dashboard_profile_path, class: 'nav-link dropdown-toggle' do
              %span= t 'top_navbar.account'

        - if HiddenUiControls.find('main_menu/view_profile').visible?
          %li.view_profile
            = link_to main_app.user_path(current_user), class: 'nav-link dropdown-toggle', target: '_blank' do
              %span= t 'top_navbar.view_profile'

        %li
          = link_to main_app.destroy_user_session_path, :method => :delete, class: 'nav-link dropdown-toggle', :data => {:user => current_user.first_name } do
            %span= t 'top_navbar.log_out'

    - if HiddenUiControls.find('main_menu/messages').visible?
      %li.divider-vertical
      %li
        = link_to main_app.dashboard_user_messages_path, class: 'nav-link' do
          %span.text= t 'top_navbar.messages'
          %span.icon.ico-mail
          - if current_user.unread_user_message_threads_count_for(platform_context.instance) > 0
            %span.count= current_user.unread_user_message_threads_count_for(platform_context.instance)

  - else
    %li.divider-vertical
    %li.nav-main-register-link
      - options = {}
      - options[:role] = :buyer if current_instance.split_registration?
      = link_to_registration get_return_to_url(dashboard_orders_path, options), platform_context.secured_constraint, secure_links?, :class => "nav-link header-first", data: { modal: true, 'modal-class' => 'sign-up-modal', 'modal-overlay-close' => 'disabled' } do
        %span= t 'top_navbar.sign_up'
    %li.divider-vertical
    %li
      = link_to_login url_options: get_return_to_url, class: "nav-link header-second", data: { modal: true, 'modal-class' => 'sign-up-modal', 'modal-overlay-close' => 'disabled' } do
        %span= t 'top_navbar.log_in'
