%ul.nav
  %li.menu-trigger
    %a.ico-menu.nav-link{:href => "#"}

%ul.nav.main-menu
  - unless no_listing_buttons? || !platform_context.white_label_company_user?(current_user)
    - if !user_signed_in?
      %li
        = link_to new_user_registration_url(:return_to => new_space_wizard_url), :rel => 'modal.sign-up-modal', :class => "nav-link btn btn-blue btn-medium" do
          %span List Your #{platform_context.bookable_noun}
    - elsif current_user && current_user.listings.draft.any?
      %li
        = link_to new_space_wizard_url, :class => "nav-link btn btn-blue btn-medium" do
          %span Complete Your Listing
    - elsif current_user && current_user.listings.active.empty?
      %li
        = link_to new_space_wizard_url, :class => "nav-link" do
          %span List Your #{platform_context.bookable_noun}

  - if user_signed_in?

    %li.dropdown
      %a.nav-link.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
        %span= current_user.first_name
        %span.ico-chevron-down
      %br  
      %ul.dropdown-menu
        - if platform_context.white_label_company_user?(current_user) && current_user.listings.active.any?
          %li
            = link_to manage_locations_path, class: 'nav-link dropdown-toggle' do
              %span Manage #{platform_context.bookable_noun.pluralize}
        %li
          = link_to bookings_dashboard_path, class: 'nav-link dropdown-toggle' do
            %span My Bookings
        %li
          = link_to edit_user_registration_path, class: 'nav-link dropdown-toggle' do
            %span Edit Profile
        %li
          = link_to destroy_user_session_path, :method => :delete, class: 'nav-link dropdown-toggle', :data => {:user => current_user.first_name } do
            %span Log Out

    %li
      = link_to listing_messages_path, class: 'nav-link' do
        %span Messages
        %span.count #{current_user.unread_messages_count}

  - else
    %li
      = link_to new_user_registration_url(get_return_to_url), :rel => 'modal.sign-up-modal', :class => "nav-link header-first" do
        %span Sign Up
    %li
      = link_to new_user_session_url(get_return_to_url), :rel => 'modal.sign-up-modal', :class => "nav-link header-second" do
        %span Log In 

.menu-divider.hidden
  .line-1
  .line-2
  .line-3
