- if user_signed_in?
  = link_to new_space_wizard_url, :class => "btn btn-blue btn-small" do
    %span.ico-plus.padding List Your Space
  = link_to destroy_user_session_path, :method => :delete, :class => "header-link" do
    %span.ico-logout.padding Logout
  = link_to dashboard_path, :class => "header-link" do
    %span.ico-dashboard.padding Dashboard
- else
  = link_to new_space_wizard_url, :class => "btn btn-blue btn-small" do
    %span.ico-plus.padding List Your Space
  = link_to new_user_registration_url, :class => "header-link header-first" do
    %span.ico-sign-up.padding Sign Up
  = link_to new_user_session_url, :class => "header-link header-second" do
    %span.ico-login.padding Login    