%ul.nav.main-menu
  - unless no_listing_buttons? || !platform_context.white_label_company_user?(current_user)
    - if platform_context.single_transactable_type?
      - if current_user && current_user.registration_in_progress?
        %li
          = link_to main_app.transactable_type_new_space_wizard_path(platform_context.transactable_types.first), :class => "nav-link btn btn-blue btn-medium" do
            %span.text= t('ui.header.complete_your_thing', thing: platform_context.transactable_types.first.name)
            %span.icon.ico-plus
      - elsif !current_user.try(:registration_completed?)
        = render partial: 'layouts/list_your_bookable', locals: { transactable_type: platform_context.transactable_types.first }
    - else
      - if current_user && current_user.registration_in_progress?
        %li
          - tt = current_user.first_listing.try(:transactable_type) || TransactableType.all.find(&:buy_sell?)
          = link_to main_app.transactable_type_new_space_wizard_path(tt), :class => "nav-link btn btn-blue btn-medium" do
            %span.text= t('ui.header.complete_your_thing', thing: tt.buy_sell? ? platform_context.bookable_noun : tt.name)
            %span.icon.ico-plus
      - elsif !current_user.try(:registration_completed?)
        %li.dropdown
          %a.nav-link.dropdown-toggle.btn.btn-blue.btn-medium{"data-toggle" => "dropdown", href: "#"}
            %span.text= t('ui.header.list_your')
            %span.ico-chevron-down
          .clearfix
          %ul.dropdown-menu
            - platform_context.transactable_types.each do |tt|
              = render partial: 'layouts/list_your_bookable', locals: { transactable_type: tt }

  - if user_signed_in?

    - if buyable? && current_user.cart_orders.any?
      %li.divider-vertical
      %li
        = link_to cart_index_path, class: 'nav-link' do
          %span.text CART: #{CartDecorator.new(current_user).navigation}
          %span.icon.ico-cart

    %li.divider-vertical
    %li.dropdown
      %a.nav-link.dropdown-toggle.user-dropdown{"data-toggle" => "dropdown", href: "#"}
        %span.text= current_user.first_name
        %span.icon.ico-user
        %span.ico-chevron-down
      .clearfix
      %ul.dropdown-menu
        - if current_user.instance_admins_metadata
          %li
            = link_to main_app.send("instance_admin_#{current_user.instance_admins_metadata}_path"), class: 'nav-link dropdown-toggle' do
              %span Marketplace Admin

        - if platform_context.white_label_company_user?(current_user) && current_user.has_any_active_listings
          %li
            = link_to main_app.dashboard_transactable_type_transactables_path(TransactableType.first), class: 'nav-link dropdown-toggle' do
              %span Manage #{platform_context.bookable_noun.pluralize}
        - if buyable?
          - if current_user.registration_completed?
            %li
              = link_to main_app.dashboard_products_path, class: 'nav-link dropdown-toggle' do
                %span Manage #{platform_context.bookable_noun.pluralize}
            %li
              = link_to main_app.dashboard_orders_path, class: 'nav-link dropdown-toggle' do
                %span My Orders
        - else
          %li
            = link_to main_app.dashboard_user_reservations_path, class: 'nav-link dropdown-toggle' do
              %span My Bookings
        - if !current_user.requests_for_quotes.empty?
          %li
            = link_to main_app.dashboard_support_tickets_path, class: 'nav-link dropdown-toggle' do
              %span= "#{t('reservations.rfq_menu_text')}"
        - if platform_context.instance.user_blogs_enabled?
          %li
            = link_to main_app.dashboard_blog_path, class: 'nav-link dropdown-toggle' do
              %span Manage Blog
        %li
          = link_to '/dashboard/edit_profile', class: 'nav-link dropdown-toggle' do
            %span Account
        %li
          = link_to main_app.destroy_user_session_path, :method => :delete, class: 'nav-link dropdown-toggle', :data => {:user => current_user.first_name } do
            %span Log Out

    %li.divider-vertical
    %li
      = link_to main_app.dashboard_user_messages_path, class: 'nav-link' do
        %span.text Messages
        %span.icon.ico-mail
        - if current_user.unread_user_message_threads_count_for(platform_context.instance) > 0
          %span.count= current_user.unread_user_message_threads_count_for(platform_context.instance)

  - else
    %li.divider-vertical
    %li
      = link_to_registration get_return_to_url, platform_context.secured_constraint, secure_links?, :class => "nav-link header-first", data: { modal: true, 'modal-class' => 'sign-up-modal' } do
        %span Sign Up
    %li.divider-vertical
    %li
      = link_to_login get_return_to_url, platform_context.secured_constraint, secure_links?, :class => "nav-link header-second", data: { modal: true, 'modal-class' => 'sign-up-modal' } do
        %span Log In
