- if user_signed_in?

  %ul.nav
    %li.dropdown
      %a.ico-dashboard.dropdown-toggle.nav-link{"data-toggle" => "dropdown", :href => "#"}
        %span Dashboard
        %b.caret
      %ul.dropdown-menu
        %li
          = link_to_once manage_companies_path do
            %span.ico-location.padding Manage Locations
        %li
          = link_to_once reservations_dashboard_path do
            %span.ico-manage-guests.padding Manage Guests
        %li.divider
        %li
          = link_to_once bookings_dashboard_path do
            %span.ico-bookings.padding Your Bookings
    %li.dropdown
      %a.ico-user.dropdown-toggle.nav-link{"data-toggle" => "dropdown", :href => "#"}
        %span
          = current_user.first_name
        %b.caret
      %ul.dropdown-menu
        %li
          = link_to_once edit_user_registration_path do
            %span.ico-settings.padding Settings
        %li
          = link_to_once destroy_user_session_path, :method => :delete do
            %span.ico-logout.padding Log Out


- else
  = link_to_once new_user_session_url(get_return_to_url), :class => "nav-link header-second margin-right ico-login padding-right" do
    %span.padding-left Log In
  = link_to_once new_user_registration_url(get_return_to_url), :class => "nav-link header-first margin-right ico-sign-up padding-right" do
    %span.padding-left Sign Up

- if !user_signed_in? || current_user.companies.empty?
  = link_to_once new_space_wizard_url, :class => "btn btn-blue btn-medium ico-add-location" do
    %span.padding-left List Your Space
