%ul.nav.main-menu
  - if (!no_listing_buttons? || platform_context.white_label_company_user?(current_user)) && HiddenUiControls.find('main_menu/cta').visible?
    - if platform_context.single_transactable_type?
      - if current_user && current_user.registration_in_progress?
        %li
          = link_to main_app.transactable_type_new_space_wizard_path(platform_context.transactable_types.first), :class => "nav-link btn btn-blue btn-medium" do
            %span.text= t('ui.header.complete_your_thing', thing: platform_context.transactable_types.first.name)
            %span.icon.ico-plus
      - elsif !current_user.try(:registration_completed?)
        = render partial: 'layouts/list_your_bookable', locals: { transactable_type: platform_context.transactable_types.first }
    - else
      - if current_user && current_user.registration_in_progress?
        %li
          - tt = current_user.first_listing.try(:transactable_type) || TransactableType.all.find(&:buy_sell?)
          = link_to main_app.transactable_type_new_space_wizard_path(tt), :class => "nav-link btn btn-blue btn-medium" do
            %span.text= t('ui.header.complete_your_thing', thing: tt.buy_sell? ? platform_context.bookable_noun : tt.name)
            %span.icon.ico-plus
      - elsif !current_user.try(:registration_completed?)
        %li.dropdown
          %a.nav-link.dropdown-toggle.btn.btn-blue.btn-medium{"data-toggle" => "dropdown", href: "#"}
            %span.text= t('ui.header.list_your')
            %span.ico-chevron-down
          .clearfix
          %ul.dropdown-menu
            - platform_context.transactable_types.each do |tt|
              = render partial: 'layouts/list_your_bookable', locals: { transactable_type: tt }

  - if user_signed_in?
    - if buyable? && current_user.cart_orders.any? && HiddenUiControls.find('main_menu/cart').visible?
      %li.divider-vertical
      %li
        = link_to cart_index_path, class: 'nav-link' do
          %span.text= t 'top_navbar.cart', cart: CartDecorator.new(current_user).navigation
          %span.icon.ico-cart

    %li.divider-vertical
    %li.dropdown
      %a.nav-link.dropdown-toggle.user-dropdown{"data-toggle" => "dropdown", href: "#"}
        %span.text= current_user.first_name
        %span.icon.ico-user
        %span.ico-chevron-down
      .clearfix
      %ul.dropdown-menu
        - if current_user.instance_admins_metadata
          %li
            = link_to main_app.send("instance_admin_#{current_user.instance_admins_metadata}_path"), class: 'nav-link dropdown-toggle' do
              %span= t 'top_navbar.marketplace_admin'

        - if platform_context.white_label_company_user?(current_user) && current_user.has_any_active_listings && HiddenUiControls.find('main_menu/manage_items').visible?
          %li
            = link_to main_app.dashboard_company_transactable_type_transactables_path(TransactableType.first), class: 'nav-link dropdown-toggle' do
              %span= t 'top_navbar.manage_bookable', bookable_noun: platform_context.bookable_noun.pluralize

        - if buyable?
          - if current_user.registration_completed? && HiddenUiControls.find('main_menu/manage_items').visible?
            %li
              = link_to main_app.dashboard_company_products_path, class: 'nav-link dropdown-toggle' do
                %span= t 'top_navbar.manage_bookable', bookable_noun: platform_context.bookable_noun.pluralize

            - if HiddenUiControls.find('main_menu/my_orders').visible?
              %li
                = link_to main_app.dashboard_orders_path, class: 'nav-link dropdown-toggle' do
                  %span= t 'top_navbar.my_orders'
        - else
          - if HiddenUiControls.find('main_menu/my_bookings').visible?
            %li
              = link_to main_app.dashboard_user_reservations_path, class: 'nav-link dropdown-toggle' do
                %span= t 'top_navbar.my_bookings'

        - if platform_context.instance.wish_lists_enabled? && HiddenUiControls.find('main_menu/wish_list').visible?
          %li
            = link_to main_app.dashboard_wish_list_items_path, class: 'nav-link dropdown-toggle' do
              %span= t 'wish_lists.name'

        - if !current_user.requests_for_quotes.empty? && HiddenUiControls.find('main_menu/rfq').visible?
          %li
            = link_to main_app.dashboard_support_tickets_path, class: 'nav-link dropdown-toggle' do
              %span= "#{t('reservations.rfq_menu_text')}"

        - if platform_context.instance.user_blogs_enabled? && HiddenUiControls.find('main_menu/manage_blog').visible?
          %li
            = link_to main_app.dashboard_blog_path, class: 'nav-link dropdown-toggle' do
              %span= t 'top_navbar.manage_blog'

        - if HiddenUiControls.find('main_menu/account').visible?
          %li
            = link_to '/dashboard/edit_profile', class: 'nav-link dropdown-toggle' do
              %span= t 'top_navbar.account'

        %li
          = link_to main_app.destroy_user_session_path, :method => :delete, class: 'nav-link dropdown-toggle', :data => {:user => current_user.first_name } do
            %span= t 'top_navbar.log_out'

    - if HiddenUiControls.find('main_menu/messages').visible?
      %li.divider-vertical
      %li
        = link_to main_app.dashboard_user_messages_path, class: 'nav-link' do
          %span.text= t 'top_navbar.messages'
          %span.icon.ico-mail
          - if current_user.unread_user_message_threads_count_for(platform_context.instance) > 0
            %span.count= current_user.unread_user_message_threads_count_for(platform_context.instance)

  - else
    %li.divider-vertical
    %li
      = link_to_registration get_return_to_url, platform_context.secured_constraint, secure_links?, :class => "nav-link header-first", data: { modal: true, 'modal-class' => 'sign-up-modal' } do
        %span= t 'top_navbar.sign_up'
    %li.divider-vertical
    %li
      = link_to_login get_return_to_url, platform_context.secured_constraint, secure_links?, :class => "nav-link header-second", data: { modal: true, 'modal-class' => 'sign-up-modal' } do
        %span= t 'top_navbar.log_in'
