%ul.nav.main-menu
  - unless no_listing_buttons? || !platform_context.white_label_company_user?(current_user)
    - if !user_signed_in?
      %li
        = link_to_registration({return_to: main_app.new_space_wizard_path}, platform_context.secured_constraint, secure_links?, rel: 'modal.sign-up-modal', class: 'nav-link btn btn-blue btn-medium') do
          %span.text= t('ui.header.list_your_thing', thing: platform_context.bookable_noun)
          %span.icon.ico-plus
    - elsif current_user && current_user.has_draft_listings
      %li
        = link_to main_app.new_space_wizard_path, :class => "nav-link btn btn-blue btn-medium" do
          %span.text Complete Your Listing
          %span.icon.ico-plus
    - elsif current_user && !current_user.has_any_active_listings
      %li
        = link_to main_app.new_space_wizard_path, :class => "nav-link btn btn-blue btn-medium" do
          %span.text= t('ui.header.list_your_thing', thing: platform_context.bookable_noun)
          %span.icon.ico-plus

  - if user_signed_in?

    %li.divider-vertical
    %li.dropdown
      %a.nav-link.dropdown-toggle.user-dropdown{"data-toggle" => "dropdown", href: "#"}
        %span.text= current_user.first_name.truncate(User::MAX_NAME_LENGTH)
        %span.icon.ico-user
        %span.ico-chevron-down
      .clearfix
      %ul.dropdown-menu
        - if current_user.instance_admins_metadata
          %li
            = link_to main_app.send("instance_admin_#{current_user.instance_admins_metadata}_path"), class: 'nav-link dropdown-toggle' do
              %span Marketplace Admin

        - if platform_context.white_label_company_user?(current_user) && current_user.has_any_active_listings
          %li
            = link_to main_app.manage_locations_path, class: 'nav-link dropdown-toggle' do
              %span Manage #{platform_context.bookable_noun.pluralize}
        %li
          = link_to main_app.bookings_dashboard_path, class: 'nav-link dropdown-toggle' do
            %span My Bookings
        - if !current_user.requests_for_quotes.empty?
          %li
            = link_to main_app.support_requests_for_quotes_path, class: 'nav-link dropdown-toggle' do
              %span My RFQs
        %li
          = link_to main_app.edit_user_registration_path, class: 'nav-link dropdown-toggle' do
            %span Account
        %li
          = link_to main_app.destroy_user_session_path, :method => :delete, class: 'nav-link dropdown-toggle', :data => {:user => current_user.first_name } do
            %span Log Out

    %li.divider-vertical
    %li
      = link_to main_app.user_messages_path, class: 'nav-link' do
        %span.text Messages
        %span.icon.ico-mail
        - if current_user.unread_user_message_threads_count_for(platform_context.instance) > 0
          %span.count= current_user.unread_user_message_threads_count_for(platform_context.instance)

  - else
    %li.divider-vertical
    %li
      = link_to_registration get_return_to_url, platform_context.secured_constraint, secure_links?, :rel => 'modal.sign-up-modal', :class => "nav-link header-first" do
        %span Sign Up
    %li.divider-vertical
    %li
      = link_to_login get_return_to_url, platform_context.secured_constraint, secure_links?, :rel => 'modal.sign-up-modal', :class => "nav-link header-second" do
        %span Log In
