%nav
  %ul
    %li.grid_2= link_to "Workplaces", workplaces_path
    - if user_signed_in?
      %li.grid_2= link_to "Dashboard", dashboard_path
      %li.grid_2= link_to "Account", edit_user_registration_path
      %li.grid_2= link_to "Logout", destroy_user_session_path
    - else
      %li.grid_2.joined= link_to "Sign In", authentications_path
