<!DOCTYPE html>
<html>
<head>
  <title>DesksNear.Me :: <%= show_title? ? yield(:title) : "Where do you want to work today?" %></title>
  <meta name="description" content="Desks Near Me is a public bookign syetem for companies to offer desks to freelancers and sole-operators.">
  <meta name="author" content="The Rad Warlike Annex">
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
  <meta name="TellThemWhen" content="tellthemwhen_verif_1af11d7040aa81a9ab2e07d4efee180d2e93d030" />
  <link rel="shortcut icon" href="/favicon.ico?9002">
  <!-- <link rel="apple-touch-icon" href="/apple-touch-icon.png"> -->
  <%= stylesheet_link_tag :all %>
  <link rel="stylesheet" href="/fancybox/jquery.fancybox-1.3.1.css" type="text/css" media="screen" />
  <%= javascript_include_tag :defaults, "modernizr-1.5.min", "jquery.cookie.js", "/fancybox/jquery.fancybox-1.3.1.pack.js", "jquery.overlay.js", "jqueryui" %>
  <%= csrf_meta_tag %>
  
  <script type="text/javascript" src="http://use.typekit.com/vlg4dft.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
</head>
<body>
  <div id="TTWNotify" style="display:hidden"></div>
  <header>
    <div class="container_12">
      <%= link_to root_url do %>
        <h1 class="grid_3">DesksNear.Me</h1>
      <% end %>
      <%= render :partial => "layouts/navigation" %>
    </div>
  </header>
  <section id="content" class="<%= controller_name %>">
    <div class="container_12">
      <%= flashes %>
      <%= yield %>
    </div>
  </section>
  <footer class="container_12">
    <div class="copyright">
      <%= image_tag "team_logo_small.png" %>
      <p><strong>Copyright &copy; 2010, The Rad Warlike Annex</strong> &mdash; <%= our_twitter_accounts %></p>
      <small>Icons by <a href="http://p.yusukekamiyamane.com/">Yusuke Kamiyamane</a>, Fugue icon set.</small>
    </div>
  </footer>
  <%= yield :script %>
  <script type="text/javascript">
    var rumbleUrl = 'http://railsrumble.com/teams/the-rad-warlike-annex';
  </script>
  <script type="text/javascript" src="http://blog.railsrumble.com/javascripts/rumble-r10-sash.js"></script>
  <%= render :partial => "layouts/analytics" if Rails.env.production? %>
  <script type="text/javascript" charset="utf-8">
    (function(){
      t = document.createElement('script');t.async=true;t.type ='text/javascript';
      t.src = ('https:' == document.location.protocol ? 'https://secure.' : 'http://api.') + 'tellthemwhen.com/api/v2/notices/620b94a22ed.js';
      var s=document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(t,s);
    })();
  </script>
  <%= render :partial => "layouts/feedback" %>
</body>
</html>
