!!!
%html
  %head
    = render 'layouts/content_holder_injector'
    - if content_for(:canonical_url)
      %link{rel:"canonical", href: yield(:canonical_url)}

    - if content_for(:prev_canonical)
      %link{rel: "prev", href: yield(:prev_canonical)}

    - if content_for(:next_canonical)
      %link{rel: "next", href: yield(:next_canonical)}

    - if ActionController::Base.asset_host
      %link{rel:"dns-prefetch", href: ActionController::Base.asset_host }
    %title= title_tag
    %meta{:'http-equiv' => "x-dns-prefetch-control", content: "off"}
    %link{rel:"dns-prefetch", href:"//s3.amazonaws.com"}
    %link{rel:"dns-prefetch", href:"//maps.googleapis.com"}
    %link{rel:"dns-prefetch", href:"//static.olark.com"}
    %link{rel:"dns-prefetch", href:"//cdn.mxpnl.com"}
    %link{rel:"dns-prefetch", href:"//google-analytics.com"}

    %meta{:'http-equiv' => "Content-type", :content=> "text/html;charset=UTF-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %meta{:content => meta_description_content, :name => "description"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "black", :name => "apple-mobile-web-app-status-bar-style"}/
    %meta{:content => "chrome=IE7", "http-equiv" => "X-UA-Compatible"}/
    -if platform_context.domain.near_me_domain?
      %meta{:name => "robots", "content" => "noindex, nofollow"}/
    = inject_content_holder('HEAD')

    = render 'social/social_meta_tags' rescue ''

    = yield(:meta)
    = csrf_meta_tag
    - if !platform_context.stripe_public_key.blank?
      = tag :meta, :name => "stripe-key", :content => platform_context.stripe_public_key
    = render 'layouts/favicon'

    = stylesheet_link_tag 'application_vendor'
    = stylesheet_link_tag 'application'
    = render "dynamic_theme/application"

    = javascript_include_tag 'vendor/modernizr'
    = render "shared/javascript_assets"

    /[if lt IE 10]
      = javascript_include_tag 'vendor/placeholder'
    = yield(:head_bottom)

  %body{class: theme_class(@theme_name)}
    = yield(:body_top)
    .dnm-page-body{:class => "#{'main-page' if home_page?}" }
      = render 'shared/render_flash'
      .content-wrapper
        .dnm-page{class: dnm_page_class}
          = yield(:top_sub_navigation)
          .container-fluid
            = render 'layouts/navbar' unless no_navbar?

          %section#content{class: section_class(@section_name)}
            = render 'layouts/hero'
            = render 'shared/admin_logged_in_as_user' if admin_as_user?
            = render 'shared/instance_admin_logged_in_as_user' if instance_admin_as_user?
            .container-fluid
              = (yield(:content).empty? ? yield : yield(:content)) unless render_content_outside_container?
            - unless no_footer?
              = render 'layouts/footer'

            = (yield(:content).empty? ? yield : yield(:content)) if render_content_outside_container?
        - unless no_footer?
          .footer-push{class: "footer_#{section_class(@section_name)}"}

    = javascript_include_tag "//maps.googleapis.com/maps/api/js?libraries=places&sensor=false"

    = webpack_manifest_script
    = webpack_bundle_tag 'common'
    = webpack_bundle_tag 'application'

    = render 'layouts/initializers'
    = render 'layouts/scripts'
    = yield(:body_bottom)

