!!!
%html
  %head
    %title
      = title_tag
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %meta{:content => "Desks Near Me connects individuals and teams with office space across the globe, and provides a platform for businesses to list spare space.", :name => "description"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "black", :name => "apple-mobile-web-app-status-bar-style"}/
    %meta{:content => "chrome=IE7", "http-equiv" => "X-UA-Compatible"}/
    = yield(:meta)
    = csrf_meta_tag
    = tag :meta, :name => "stripe-key", :content => stripe_public_key
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}/

    = stylesheet_link_tag "fonts"
    = stylesheet_link_tag instance_theme_stylesheet_url(current_instance)

    = javascript_include_tag "https://js.stripe.com/v1/"
    = javascript_include_tag "//maps.googleapis.com/maps/api/js?libraries=places&sensor=false"
    = javascript_include_tag :application
    /[if IE 9]
      = stylesheet_link_tag 'vendor/ie9'
    /[if lt IE 9]
      = javascript_include_tag '//html5shim.googlecode.com/svn/trunk/html5.js'
      = javascript_include_tag "//explorercanvas.googlecode.com/svn/trunk/excanvas.js"
      = javascript_include_tag 'vendor/jquery.backgroundSize.min.js'
      = stylesheet_link_tag 'browser_specific/ie8'
    /[if lt IE 8]
      = javascript_include_tag "//ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"
      = javascript_include_tag :chrome_frame

    = render 'layouts/initializers'

  %body

    = render 'shared/render_flash'
    .content-wrapper
      .dnm-page
        .container-fluid
          .navbar.navbar-inverse.navbar-fixed-top
            .navbar-inner.nav-links
              = link_to "Desks Near Me", root_url, :id => "logo"
              #header_links.links-container.pull-right
                = render "layouts/header_navigation" unless no_header_links?

        %section#content{:class => "#{@section_name || controller_name}"}
          = render 'layouts/hero'
          = render 'shared/admin_logged_in_as_user' if admin_as_user?
          .container-fluid
            = yield unless render_content_outside_container?

          = yield if render_content_outside_container?
      - unless no_footer?
        .footer-push
    = render 'layouts/footer' unless no_footer?
    = render 'layouts/scripts'
