!!!
%html{ class: html_element_classes, lang: I18n.locale, xmlns: 'http://www.w3.org/1999/xhtml', :'xmlns:og' => 'http://ogp.me/ns#', :'xmlns:fb' => 'https://www.facebook.com/2008/fbml' }
  %head
    %meta{name: 'app-server', content: ENV['HOSTNAME']}

    = render 'layouts/content_holder_injector'
    - if content_for(:canonical_url)
      %link{rel:"canonical", href: yield(:canonical_url)}

    - if content_for(:prev_canonical)
      %link{rel: "prev", href: yield(:prev_canonical)}

    - if content_for(:next_canonical)
      %link{rel: "next", href: yield(:next_canonical)}

    - if ActionController::Base.asset_host
      %link{rel:"dns-prefetch", href: ActionController::Base.asset_host }
    %meta{:'http-equiv' => "x-dns-prefetch-control", content: "off"}
    %link{rel:"dns-prefetch", href:"//s3.amazonaws.com"}
    %link{rel:"dns-prefetch", href:"//maps.googleapis.com"}
    %link{rel:"dns-prefetch", href:"//static.olark.com"}
    %link{rel:"dns-prefetch", href:"//cdn.mxpnl.com"}
    %link{rel:"dns-prefetch", href:"//google-analytics.com"}

    %meta{:'http-equiv' => "Content-type", :content=> "text/html;charset=UTF-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %meta{:name => "authenticity_token", :content => form_authenticity_token}
    - unless current_instance.skip_meta_tags?
      %meta{:content => meta_description_content, :name => "description"}/
      %title= title_tag
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "black", :name => "apple-mobile-web-app-status-bar-style"}/

    -if platform_context.domain.near_me_domain?
      %meta{:name => "robots", "content" => "noindex, nofollow"}/
    = inject_content_holder('HEAD')

    - if content_for?(:social_meta_tags)
      = yield :social_meta_tags
    - else
      = render 'social/social_meta_tags' rescue ''

    = yield(:meta)
    = csrf_meta_tag

    = render 'layouts/favicon'

    = stylesheet_link_tag 'application_vendor'
    = stylesheet_link_tag 'application'
    = render 'shared/head/fonts'

    = stylesheet_link_tag dynamic_theme_path_for_current_theme(:application)

    = render 'shared/javascripts/header'

    = yield(:head_bottom)

  %body{class: theme_class(@theme_name), itemscope: true, itemtype: "http://schema.org/WebPage"}
    = yield(:body_top)
    .dnm-page-body{:class => "#{'main-page' if home_page?}" }
      = render 'shared/render_flash'
      .content-wrapper
        .dnm-page{class: dnm_page_class}
          = yield(:top_sub_navigation)

          = render 'layouts/navbar' unless no_navbar?

          %section#content{class: section_class(@section_name)}
            = render 'layouts/hero'
            = render 'shared/admin_logged_in_as_user' if admin_as_user?
            = render 'shared/instance_admin_logged_in_as_user' if instance_admin_as_user?

            - if render_content_outside_container?
              = (yield(:content).empty? ? yield : yield(:content))
            - else
              .container-fluid
                = (yield(:content).empty? ? yield : yield(:content))

            - unless no_footer?
              = render 'layouts/footer'
        - unless no_footer?
          .footer-push{class: "footer_#{section_class(@section_name)}"}

    = yield(:body_bottom)

    = render 'shared/javascripts/footer', entry: 'application', googlemaps: true, include_modal: true, analytics: true
    = render 'shared/javascripts/debug_info'
