!!!
%html
  %head
    = render 'layouts/content_holder_injector'
    - if content_for(:canonical_url)
      %link{rel:"canonical", href: yield(:canonical_url)}
    - if ActionController::Base.asset_host
      %link{rel:"dns-prefetch", href: ActionController::Base.asset_host }
    %title= title_tag
    %meta{:'http-equiv' => "x-dns-prefetch-control", content: "off"}
    %link{rel:"dns-prefetch", href:"//s3.amazonaws.com"}
    %link{rel:"dns-prefetch", href:"//maps.googleapis.com"}
    %link{rel:"dns-prefetch", href:"//static.olark.com"}
    %link{rel:"dns-prefetch", href:"//cdn.mxpnl.com"}
    %link{rel:"dns-prefetch", href:"//google-analytics.com"}

    %meta{:'http-equiv' => "Content-type", :content=> "text/html;charset=UTF-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %meta{:content => meta_description_content, :name => "description"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "black", :name => "apple-mobile-web-app-status-bar-style"}/
    %meta{:content => "chrome=IE7", "http-equiv" => "X-UA-Compatible"}/
    -if platform_context.domain.near_me_domain?
      %meta{:name => "robots", "content" => "noindex, nofollow"}/
    = inject_content_holder('HEAD')

    = render 'social/social_meta_tags' rescue ''

    = yield(:meta)
    = csrf_meta_tag
    - if !platform_context.stripe_public_key.blank?
      = tag :meta, :name => "stripe-key", :content => platform_context.stripe_public_key
    = render 'layouts/favicon'

    = stylesheet_link_tag 'application'
    - if platform_context.compiled_stylesheet_url.present?
      = stylesheet_link_tag platform_context.compiled_stylesheet_url

    = render 'layouts/homepage_css' if home_page?

    /[if lt IE 9]
      = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'
      = stylesheet_link_tag 'browser_specific/ie8'
      = javascript_include_tag '//html5shim.googlecode.com/svn/trunk/html5.js'
      = javascript_include_tag "//explorercanvas.googlecode.com/svn/trunk/excanvas.js"
      = javascript_include_tag 'vendor/jquery.backgroundSize.min.js'
      = javascript_include_tag 'vendor/respond.min.js'
      - unless CarrierWave::Uploader::Base.asset_host.nil?
        = tag('link', {href: "#{CarrierWave::Uploader::Base.asset_host}/respond-proxy/respond-proxy.html", id: 'respond-proxy', rel: 'respond-proxy'})
        = tag('link', {href: image_path('respond.proxy.gif'), id: 'respond-redirect', rel: 'respond-redirect'})
        = javascript_include_tag(javascript_path('vendor/respond.proxy.js'))
    /[if lt IE 8]
      = javascript_include_tag "//ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"
      = javascript_include_tag :chrome_frame

  %body{class: theme_class(@theme_name)}
    = yield(:body_top)
    .dnm-page-body{:class => "#{'main-page' if home_page?}" }
      = render 'shared/render_flash'
      .content-wrapper
        .dnm-page{class: dnm_page_class}
          = yield(:top_sub_navigation)
          .container-fluid
            = render 'layouts/navbar' unless no_navbar?

          %section#content{class: section_class(@section_name)}
            = render 'layouts/hero'
            = render 'shared/admin_logged_in_as_user' if admin_as_user?
            = render 'shared/instance_admin_logged_in_as_user' if instance_admin_as_user?
            .container-fluid
              = (yield(:content).empty? ? yield : yield(:content)) unless render_content_outside_container?
            - unless no_footer?
              = render 'layouts/footer'

            = (yield(:content).empty? ? yield : yield(:content)) if render_content_outside_container?
        - unless no_footer?
          .footer-push{class: "footer_#{section_class(@section_name)}"}

    = javascript_include_tag "//maps.googleapis.com/maps/api/js?libraries=places&sensor=false"
    = javascript_include_tag :application
    = render 'layouts/initializers'
    = render 'layouts/scripts'
    = yield(:body_bottom)

