!!!
%html
  %head
    %title= blog_title_tag
    %meta{:'http-equiv' => "Content-type", :content=> "text/html;charset=UTF-8"}
    %meta{content: "width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1", name: "viewport"}/
    %meta{content: @blog_instance.meta_description, name: "description"}/
    = yield(:meta)
    = csrf_meta_tag
    = render 'layouts/favicon'
    = auto_discovery_link_tag(:rss, current_url)
    /[if lt IE 9]
      = stylesheet_link_tag 'browser_specific/ie8'
    = stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css'
    = stylesheet_link_tag 'blog'
    = stylesheet_link_tag 'application_vendor'
    = stylesheet_link_tag 'application'
    = render "dynamic_theme/application"

    = render 'shared/javascripts/header'

  %body.blog
    = render 'blog/blog_posts/header'
    .blog-container
      = yield

    = render 'shared/javascripts/footer', entry: 'blog', analytics: true
