!!!
%html
  %head
    %title= blog_title_tag
    %meta{:'http-equiv' => "Content-type", :content=> "text/html;charset=UTF-8"}
    %meta{content: "width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1", name: "viewport"}/
    %meta{content: @blog_instance.meta_description, name: "description"}/
    = yield(:meta)
    = csrf_meta_tag
    = render 'layouts/favicon'
    = auto_discovery_link_tag(:rss, current_url)
    /[if lt IE 9]
      = stylesheet_link_tag 'browser_specific/ie8'
    = stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css'
    = stylesheet_link_tag 'blog'
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag platform_context.compiled_stylesheet_url || 'application_dynamic'
    = javascript_include_tag :blog

  %body.blog
    = render 'blog/blog_posts/header'
    .blog-container
      = yield

    = yield :script

    = render 'layouts/google_analytics'
    = render 'platform_home/shared/adroll' if @blog_instance.is_near_me? && Rails.env.production?
