!!!
%html{ class: html_element_classes }
  %head
    %meta{name: 'app-server', content: ENV['HOSTNAME']}

    %title
      #{platform_context.name} - Admin
    %meta{:'http-equiv' => "Content-type", :content=> "text/html;charset=UTF-8"}
    %meta{content: "width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1", name: "viewport"}/
    = csrf_meta_tag
    = render 'layouts/favicon'

    = stylesheet_link_tag 'blog_admin_vendor'
    = stylesheet_link_tag 'blog_admin'

    = render 'shared/head/fonts'

    = render 'shared/javascripts/header'

  %body{class: !user_signed_in? ? 'login' : ''}
    .container
      - if user_signed_in?
        .navbar.navbar-fixed-top
          .navbar-inner
            .container
              = link_to "#{@blog_instance.name} - Admin", admin_blog_url, :class => "brand"
              .nav-collapse.collapse.navbar-inverse-collapse
                %ul.nav.pull-right
                  = blog_admin_nav_item "Posts", admin_blog_blog_posts_path, "blog_posts"
                  = blog_admin_nav_item "Settings", edit_admin_blog_blog_instance_path, "blog_instances"

                  %li= link_to "Log Out", destroy_user_session_url, :method => :delete, :data => {:user => current_user.first_name }


      = render 'instance_admin/shared/render_flash'
      %ul.nav.nav-tabs
      .tab-container
        .container-fluid
          .tab-content
            .tab-pane.fade.active.in
              = yield

      %hr

      %footer
        %p
          &copy; #{platform_context.name} #{Date.current.year}


    = render 'shared/javascripts/footer', entry: 'blogadmin'
