!!!
%html
  %head
    %title
      Desks Near Me - #{show_title? ? yield(:title) : "Where do you want to work today?"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %meta{:content => "Desks Near Me connects individuals and teams with office space across the globe, and provides a platform for businesses to list spare space.", :name => "description"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "black", :name => "apple-mobile-web-app-status-bar-style"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    = yield(:meta)
    = csrf_meta_tag
    = tag :meta, :name => "stripe-key", :content => stripe_public_key
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}/
    = stylesheet_link_tag 'application'
    = javascript_include_tag "//use.typekit.net/nyj7syq.js"
    = javascript_include_tag "https://js.stripe.com/v1/"
    = javascript_include_tag "//maps.googleapis.com/maps/api/js?libraries=places&sensor=false"
    = javascript_include_tag :application

    :javascript
      try{Typekit.load();}catch(e){}

    = render :partial => "layouts/analytics"

    /[if lt IE 9]
      = javascript_include_tag '//html5shim.googlecode.com/svn/trunk/html5.js'

  %body.careers

    .dnm-page
      .container-fluid
        .navbar.navbar-inverse.navbar-fixed-top
          .navbar-inner.nav-links
            = link_to "Desks Near Me", root_url, :id => "logo"
            #header_links.links-container.pull-right
              = render "layouts/header_navigation"

      %section#content{:class => "#{controller_name}"}
        = render "layouts/hero"
        %div{:class => "container-fluid #{'legacy' if legacy?}"}
          = flashes
          = yield

      = render :partial => "layouts/footer"

    = render :partial => "shared/modal"

    = render :partial => "layouts/identify_or_alias_user"

    = yield :script

    = javascript_tag do
      = yield :domready
