!!!
%html{ class: html_element_classes, lang: I18n.locale }
  %head
    %meta{name: 'app-server', content: ENV['HOSTNAME']}
    %meta{charset: "utf-8"}/
    %title= platform_context.name
    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", name: "viewport"}/

    = csrf_meta_tag
    = render 'layouts/favicon'

    %meta{content: "yes", name: "apple-mobile-web-app-capable"}
    %meta{content: "yes", name: "apple-touch-fullscreen"}
    %meta{content: "default", name: "apple-mobile-web-app-status-bar-style"}

    = stylesheet_link_tag 'errors'
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Montserrat:400'

  %body
    = yield
