!!!
%html
  %head
    %title
      #{platform_context.name} - Marketplace Admin
    %meta{:'http-equiv' => "Content-type", :content=> "text/html;charset=UTF-8"}

    = csrf_meta_tag
    = render 'layouts/favicon'
    = stylesheet_link_tag 'instance_admin_vendor'
    = stylesheet_link_tag 'instance_admin'
    = yield :styles

    %link{:href => "//fonts.googleapis.com/css?family=Lato:100,300,400,700,900", :rel => "stylesheet"}

    = render 'shared/javascripts/header'
    /[if IE 9] <style>#help-bar {display: none;}</style>

  %body{ class: !user_signed_in? ? 'login' : ''}
    - if user_signed_in?

      %header
        = render 'instance_admin/layout/header'

      %nav
        = render 'instance_admin/layout/nav'

      %main
        .header-filler

        .flash-container
          = render 'instance_admin/shared/render_flash'

        #main-container.container-fluid{class: section_class(@section_name) }
          = yield

    - else
      = render 'instance_admin/shared/render_flash'
      = yield

    = render 'shared/javascripts/footer', entry: 'instanceadmin'
