!!!
%html
  %head
    %title
      #{platform_context.name} - Marketplace Admin
    %meta{:'http-equiv' => "Content-type", :content=> "text/html;charset=UTF-8"}

    = csrf_meta_tag
    = render 'layouts/favicon'
    = stylesheet_link_tag 'instance_admin'
    = yield :styles
    %script{:src => "//d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js"}
    /[if lt IE 9]
      = javascript_include_tag '//html5shim.googlecode.com/svn/trunk/html5.js'
    %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    /[if IE 8] <style>#help-bar {display: none;}</style>
    /[if IE 9] <style>#help-bar {display: none;}</style>

  %body{ class: !user_signed_in? ? 'login' : ''}
    - if user_signed_in?
      %header
        = render 'instance_admin/layout/header'

      %nav
        = render 'instance_admin/layout/nav'

      %main
        #main-container.container-fluid{class: section_class(@section_name)}
          = render 'instance_admin/shared/render_flash'
          = yield

    - else
      = render 'instance_admin/shared/render_flash'
      = yield

    = javascript_include_tag :instance_admin
    = yield :script
    = javascript_tag do
      = yield :domready
