!!!
%html{ class: html_element_classes, lang: I18n.locale }
  %head
    %meta{name: 'app-server', content: ENV['HOSTNAME']}

    %title
      #{platform_context.name} - Marketplace Admin
    %meta{:'http-equiv' => "Content-type", :content=> "text/html;charset=UTF-8"}
    %meta{:name => "viewport", :content => "width=980"}
    = csrf_meta_tag
    = render 'layouts/favicon'
    = stylesheet_link_tag 'instance_admin_vendor', media: 'all'
    = stylesheet_link_tag 'instance_admin', media: 'all'
    = yield :styles

    = render 'shared/head/fonts'

    = render 'shared/javascripts/header'
    /[if IE 9] <style>#help-bar {display: none;}</style>

  %body{ class: !user_signed_in? ? 'login' : ''}
    - if user_signed_in?

      %header
        = render 'instance_admin/layout/header'

      %nav
        = render 'instance_admin/layout/nav'

      %main
        .header-filler

        .flash-container
          = render 'instance_admin/shared/render_flash'

        #main-container.container-fluid{class: section_class(@section_name) }
          = yield

    - else
      = render 'instance_admin/shared/render_flash'
      = yield

    = render 'shared/javascripts/footer', entry: 'instanceadmin'
    = render 'shared/javascripts/debug_info'
