!!!
%html{ class: html_element_classes }
  %head
    %meta{name: 'app-server', content: ENV['HOSTNAME']}

    %title= content_for?(:title) ? yield(:title) : 'Near Me'

    %meta{content: "text/html; charset=US-ASCII", "http-equiv" => "Content-type"}
    %meta{content: "width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1", name: "viewport"}

    = csrf_meta_tag
    = stylesheet_link_tag 'instance_wizard'
    = render 'shared/head/fonts'

    = render 'shared/javascripts/header'

  %body
    .wrapper
      - flash.each do |type, message|
        .alert.static{:class => "#{type}"}
          %p= message
      = yield

    = render 'shared/javascripts/footer', entry: 'instancewizard'
