!!!
%html
  %head
    %title
      #{platform_context.name} - Marketplace Admin
    %meta{:'http-equiv' => "Content-type", :content=> "text/html;charset=UTF-8"}
    = csrf_meta_tag
    = render 'layouts/favicon'
    = stylesheet_link_tag 'instance_admin'
    %link{ rel: "stylesheet", type: "text/css", href: "//cloud.typography.com/6219072/637722/css/fonts.css" }/
    %link{ href: "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel: "stylesheet" }/
    %script{:src => "//d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js"}
    /[if lt IE 9]
      = javascript_include_tag '//html5shim.googlecode.com/svn/trunk/html5.js'

  %body{class: !user_signed_in? ? 'login' : ''}
    .container{class: section_class(@section_name)}
      - if user_signed_in?
        = render 'instance_admin/layout/header'
        = render 'instance_admin/shared/render_flash'
        = render 'instance_admin/layout/tab_navigation'

        .tab-container
          .container-fluid
            .tab-content
              .tab-pane.fade.active.in
                = yield

      - else
        = render 'instance_admin/shared/render_flash'
        = yield

    = javascript_include_tag :instance_admin
    = yield :script
    = javascript_tag do
      = yield :domready
