!!!
%html{dir: "ltr", lang: "en-US", xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %title Near Me
    %meta{content: "width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1", name: "viewport"}/
    %meta{content: "text/html; charset=US-ASCII", "http-equiv" => "Content-type"}/
    %meta{:property => "og:site_name", :content => 'Near Me' }/
    %meta{:property => "og:url", :content => 'http://near-me.com' }/
    %meta{:property => "og:description", :content => 'Near Me is a complete solution for setting up and managing your own marketplace. No coding required.' }/
    %meta{:property => "og:image", :content => 'http://near-me.com/assets/platform_home/og-image.png' }/
    %link{href: "/assets/platform_home/favicon.ico", rel: "shortcut icon"}/
    = csrf_meta_tag
    = stylesheet_link_tag 'platform_home'
    = javascript_include_tag 'platform_home.js'
    = javascript_include_tag 'platform_home/analytics.js' if Rails.env.production?

  %body
    .container
      .header
        .shell
          %h1.logo
            %a{href: "/"} Near Me powering marketplaces

          .nav-utilities
            %ul
              %li
                %a{href: "/features"} features
              %li
                %a{href: "/contact"} contact
              %li
                %a.btn.btn-blue.btn-blue-small{href: "/request-a-demo"} Request a demo

      .main
        = render 'platform_home/shared/render_flash'
        = yield

      = render 'platform_home/footer'
