!!!
%html{dir: "ltr", lang: "en-US", xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %title= content_for?(:title) ? yield(:title) : 'Near Me'

    %meta{content: "text/html; charset=US-ASCII", "http-equiv" => "Content-type"}/
    %meta{content: "width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1", name: "viewport"}/

    = render partial: 'social/social_meta_tags', locals: {site_title: 'Create Your Own Marketplace | Near Me',
      site_name: 'Near Me', current_url: 'http://near-me.com',
      description: 'Near Me is a complete solution for setting up and managing your own marketplace. No coding required.',
      site_image_url: 'http://near-me.com/assets/platform_home/homepage-hero-background-1.jpg'}

    %link{href: "/assets/platform_home/favicon.ico", rel: "shortcut icon"}/

    = csrf_meta_tag
    = stylesheet_link_tag 'platform_home'
    = javascript_include_tag 'platform_home.js'
    = render 'platform_home/shared/analytics'

  %body
    .wrapper
      = render 'platform_home/layout/header'
      = render 'platform_home/shared/render_flash'

      = yield

      = render 'platform_home/layout/footer'
    = render 'platform_home/shared/initializers'
