- if @transactable.description.present?
  %h4
    = t :description
  = videoify_and_parse_with_markdown(@transactable.description)

= render 'shared/about_gallery', photos: @transactable.photos

- video_embed_code = project_video_embed_html(@transactable)
- if video_embed_code.present?
  %h4= t :video
  = video_embed_code

= render 'shared/about_links', links: @transactable.links
