<span class="favorite favorite-toggler" id="favorite-{{object.wishlistable_type | downcase }}_{{ object.object_id }}" data-favorite-id="{{ object.object_id }}">
  {% if is_favorite %}
    {% assign path = 'wish_list_path' | generate_url: id: object.object_id, wishlistable_type: object.wishlistable_type %}
    {% assign method = 'delete' %}
  {% else %}
    {% assign path = 'wish_lists_path' | generate_url: id: object.object_id, wishlistable_type: object.wishlistable_type %}
    {% assign method = 'post' %}
  {% endif %}
    <a href="{{ path }}" class="action-favorite{% if is_favorite %} selected{% endif %}" data-method="{{ method }}" data-action-link data-current-user="{% if current_user != blank %}true{% else%}false{% endif %}" data-text data-favorite-icon>
    {% if is_favorite %}{{ 'wish_lists.buttons.selected_state' | t}}{% else %}{{ 'wish_lists.buttons.unselected_state' | t }}{% endif %}
    </a>
</span>
