<div class="custom-availability-rules" {{#compare availability_template_id "!==" "custom"}} style="display: none;" {{/compare}}>
  {{#each availability_rules_attributes}}
  <div class="day day-{{day}}">
    <input id="availability_rules_attributes_{{@index}}_id" name="availability_rules_attributes[{{@index}}][id]" type="hidden" value="{{id}}">
    <input id="availability_rules_attributes_{{@index}}_day" name="availability_rules_attributes[{{@index}}][day]" type="hidden" value="{{day}}">
    <div class="day-name">{{day_name}}</div>
    <div class="open-time">
      <select {{#unless open_time}} style="display:none;" {{/unless}} id="availability_rules_attributes_{{@index}}_open_time" name="availability_rules_attributes[{{@index}}][open_time]">{{#select open_time}} {{> templates_shared_availabilityOptions}} {{/select}}</select>
    </div>
    <div class="close-time">
      <select {{#unless open_time}} style="display:none;" {{/unless}} id="availability_rules_attributes_{{@index}}_close_time" name="availability_rules_attributes[{{@index}}][close_time]">{{#select close_time}} {{> templates_shared_availabilityOptions}} {{/select}}</select>
    </div>
    <div class="closed-flag">
      <input name="availability_rules_attributes[{{@index}}][_destroy]" type="hidden" value="0">
      <input class="closed" id="availability_rules_attributes_{{@index}}__destroy" name="availability_rules_attributes[{{@index}}][_destroy]" type="checkbox"
      {{#unless open_time}} checked="checked" {{/unless}} value="1">
      <label class="inline" for="availability_rules_attributes_{{@index}}__destroy">Closed?</label>
    </div>
  </div>
  {{/each}}
</div>
