  <div>
    {{#if id}}
    <div class="loading">
        <img src="{{space_listing_url}}">
        <a href="" class="delete delete-photo" data-id="{{id}}"><span class="ico-trash"></span></a>
        <input id="photos_attributes{{id}}_id" name="photos_attributes[{{id}}][id]" type="hidden" value="{{id}}">
        <div>
          <input class="string required caption-photo" id="photos_attributes{{id}}_caption" name="photos_attributes[{{id}}][caption]"
          placeholder="Enter Photo Caption..." size="50" type="text" value="{{caption}}">
        </div>
     </div>
    {{else}}
      <div id="{{cid}}" class="progress progress-striped active">
        <div class="bar" style="width: 0%;"></div>
       </div>
      <div id="{{cid}}loading" class="loading" style="display:none">&nbsp;</div>
    {{/if}}
  </div>
