<li style="margin-bottom:20px;border-bottom:1px solid gray;">
  <div>
    <img src="{{thumb_url}}">
    <input id="photos_attributes{{id}}_id" name="photos_attributes[{{id}}][id]"
    type="hidden" value="{{id}}">
    <div>
      <input class="string required" id="photos_attributes{{id}}_caption" name="photos_attributes[{{id}}][caption]"
      placeholder="Enter Photo Caption..." size="50" type="text" value="{{caption}}">
    </div>
      <a href="" class="delete delete-photo" data-id="{{id}}"><span class="ico-trash"></span></a>
  </div>
</li>
