.nav-wrapper{:role => "navigation"}
  .brand
    = link_to image_tag("instance_admin/brand-logo2.png", :class => "brand-logo"), instance_admin_path

    %a.open-marketplace-icon{ rel: 'tooltip', title: t('instance_admin.nav.brand.open_marketplace'), 'data-placement' => 'right', href: '/', target: '_blank' }

  %ul.sidebar.nav.nav-stacked

    - if @authorizer.authorized?('Analytics')
      %li#analytics
        %a{"data-parent" => "#analytics", "data-toggle" => "collapse", :href => "#analytics-sub"}
          %i.fa.fa-bar-chart-o
          %span Analytics
        %ul#analytics-sub.sub-nav.collapse{:class => ("in" if controller.class.to_s.split("::").first(2).join("::") == "InstanceAdmin::Analytics")}
          - InstanceAdmin::BaseController::ANALYTICS_CONTROLLERS.each do |controller_name, settings|
            - next if %(overview).include?(controller_name)
            %li
              %a{href: "#{url_for controller: settings.fetch(:controller, "/instance_admin/analytics/" + controller_name), action: settings[:default_action]}", :class => is_active_instance_admin_nav_link(controller_name, settings)}
                %span= "#{controller_name.titleize}"

    - if @authorizer.authorized?('Reports')
      %li#reports
        %a{"data-parent" => "#reports", "data-toggle" => "collapse", :href => "#reports-sub"}
          %i.fa.fa-file-text-o
          %span
            = t('instance_admin.general.reports')
        %ul#reports-sub.sub-nav.collapse{:class => ("in" if controller.class.to_s.split("::").first(2).join("::") == "InstanceAdmin::Reports")}
          - InstanceAdmin::BaseController::COMMUNITY_REPORTS_CONTROLLERS.each do |controller_name, settings|
            %li
              %a{href: "#{url_for controller: settings.fetch(:controller, "/instance_admin/reports/" + controller_name), action: settings[:default_action]}", :class => is_active_instance_admin_nav_link(controller_name, settings)}
                %span= "#{controller_name.titleize}"


    - if @authorizer.authorized?('Settings')
      %li#settings
        %a{"data-parent" => "#settings", "data-toggle" => "collapse", :href => "#settings-sub"}
          %i.fa.fa-gears
          %span Settings
        %ul#settings-sub.sub-nav.collapse{:class => ("in" if controller.class.to_s.split("::").first(2).join("::") == "InstanceAdmin::Settings")}
          - InstanceAdmin::BaseController::SETTINGS_CONTROLLERS.each do |controller_name, settings|
            - next if %(hidden_controls locations listings documents_upload seller_attachments).include?(controller_name)
            %li
              %a{href: "#{url_for controller: settings.fetch(:controller, "/instance_admin/settings/" + controller_name), action: settings[:default_action]}", :class => is_active_instance_admin_nav_link(controller_name, settings)}
                %span= "#{controller_name.titleize}"


    - if @authorizer.authorized?('Theme')
      %li#theme
        %a{"data-parent" => "#theme", "data-toggle" => "collapse", :href => "#theme-sub"}
          %i.fa.fa-picture-o
          %span Theme
        %ul#theme-sub.sub-nav.collapse{:class => ("in" if controller.class.to_s.split("::").first(2).join("::") == "InstanceAdmin::Theme")}
          - InstanceAdmin::BaseController::THEME_CONTROLLERS.each do |controller_name, settings|
            - next if ['info', 'liquid views', 'homepage', 'homepage content', 'header', 'footer'].include?(controller_name)
            %li
              %a{href: "#{url_for controller: settings.fetch(:controller, "/instance_admin/theme/" + controller_name), action: settings[:default_action]}", :class => is_active_instance_admin_nav_link(controller_name, settings)}
                %span= "#{controller_name.titleize}"


    - if @authorizer.authorized?('Manage')
      %li#manage
        %a{"data-parent" => "#manage", "data-toggle" => "collapse", :href => "#manage-sub"}
          %i.fa.fa-briefcase
          %span Manage
        %ul#manage-sub.sub-nav.collapse{:class => ("in" if controller.class.to_s.split("::").first(2).join("::") == "InstanceAdmin::Manage")}
          - InstanceAdmin::BaseController::MANAGE_CONTROLLERS.each do |controller_name, settings|
            - next unless ['users', 'admins', 'support', 'email layouts', 'emails', 'smses', 'workflows', 'user_profiles', 'categories'].include?(controller_name)
            %li
              %a{href: "#{url_for controller: settings.fetch(:controller, "/instance_admin/manage/" + controller_name), action: settings[:default_action]}", :class => is_active_instance_admin_nav_link(controller_name, settings)}
                %span= settings[:title] || controller_name.titleize


    - if @authorizer.authorized?('Blog') && false
      %li#blog
        %a{"data-parent" => "#blog", "data-toggle" => "collapse", :href => "#blog-sub"}
          %i.fa.fa-pencil
          %span Blog
        %ul#blog-sub.sub-nav.collapse{:class => ("in" if controller.class.to_s.split("::").first(2).join("::") == "InstanceAdmin::ManageBlog")}
          - InstanceAdmin::BaseController::MANAGE_BLOG_CONTROLLERS.each do |controller_name, settings|
            %li
              %a{href: "#{url_for controller: settings.fetch(:controller, "/instance_admin/manage_blog/" + controller_name), action: settings[:default_action]}", :class => is_active_instance_admin_nav_link(controller_name, settings)}
                %span= "#{controller_name.titleize}"

    - if @authorizer.authorized?('Projects') && current_instance.is_community?
      %li#projects
        %a{"data-parent" => "#projects", "data-toggle" => "collapse", :href => "#projects-sub"}
          %i.fa.fa-pencil
          %span Projects
        %ul#projects-sub.sub-nav.collapse{:class => ("in" if controller.class.to_s.split("::").first(2).join("::") == "InstanceAdmin::Projects")}
          - InstanceAdmin::BaseController::PROJECTS_CONTROLLERS.each do |controller_name, settings|
            %li
              %a{href: "#{url_for controller: settings.fetch(:controller, "/instance_admin/projects/" + controller_name), action: settings[:default_action]}", :class => is_active_instance_admin_nav_link(controller_name, settings)}
                %span= "#{settings[:title] || controller_name.titleize}"

    - if @authorizer.authorized?('Groups') && current_instance.is_community?
      %li#groups
        %a{"data-parent" => "#groups", "data-toggle" => "collapse", :href => "#groups-sub"}
          %i.fa.fa-pencil
          %span Groups
        %ul#groups-sub.sub-nav.collapse{:class => ("in" if controller.class.to_s.split("::").first(2).join("::") == "InstanceAdmin::Groups")}
          - InstanceAdmin::BaseController::GROUPS_CONTROLLERS.each do |controller_name, settings|
            %li
              %a{href: "#{url_for controller: settings.fetch(:controller, "/instance_admin/groups/" + controller_name), action: settings[:default_action]}", :class => is_active_instance_admin_nav_link(controller_name, settings)}
                %span= "#{controller_name.titleize}"
